Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

hooks: add HSA profiling timestamp support
  emulation/rocjitsu/lib/rocjitsu/external_headers/hsa_headers/hsa/hsa_api_trace_minimal.h
  emulation/rocjitsu/lib/rocjitsu/external_headers/hsa_headers/hsa/hsa_ext_amd_minimal.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbt_hooks.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/completion_tracker.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/dispatch_entry.h
Due: none

dbt: add cursor text relocation foundation
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/indirect_branch_discovery.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_cdna3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_text_layout.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_text_layout.h
  emulation/rocjitsu/tests/dbt/device_kernels_translate_tests.cpp
  emulation/rocjitsu/tests/dbt/multikernel_indirect_branch_test.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
Due: none

docs: document DBT branch work
  emulation/rocjitsu/DBT_WORK_SUMMARY.md
  emulation/rocjitsu/TEXT_RELOCATION_DESIGN.md
  emulation/rocjitsu/repro_qwen_resnet.md
Due: none

dbt: harden virtual LDS fallback coverage
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_cdna3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbt_hooks.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/dbt/cdna4_to_cdna3_dispatch_test.cpp
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
  emulation/rocjitsu/tests/hip_hipkittens_bf16_matmul_test.cpp
  emulation/rocjitsu/tests/kernels/CMakeLists.txt
  emulation/rocjitsu/tests/kernels/hipkittens_bf16fp32_256_256_64_32_with16x32.s
  emulation/rocjitsu/tests/kernels/hipkittens_bf16fp32_256_256_64_32_with32x16.s
  emulation/rocjitsu/tests/kernels/virtual_lds_smoke.hip
Due: none

hooks: add DBT usability enhancements
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbt_hooks.cpp
  emulation/rocjitsu/tools/repros/qwen_activation_probe.py
  emulation/rocjitsu/tools/repros/qwen_generation_probe.py
  emulation/rocjitsu/tools/repros/qwen_sdpa_operator_repro.py
Due: none

dbt: implement virtual LDS sidecar dispatch
  emulation/rocjitsu/lib/rocjitsu/external_headers/hsa_headers/hsa/hsa_api_trace_minimal.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_cdna3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/translation_diagnostic.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/translation_rule.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/virtual_lds_metadata.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/virtual_lds_metadata.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_text_layout.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_text_layout.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbt_hooks.cpp
  emulation/rocjitsu/repro.md
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
  emulation/rocjitsu/tests/hip_lds_copy_test.cpp
  emulation/rocjitsu/tools/dbt_translate.cpp
  emulation/rocjitsu/tools/dbt_translate.h
  emulation/rocjitsu/tools/dbt_translate_main.cpp
  emulation/rocjitsu/tools/repros/gfx950_gluon_lds_matmul.py
Due: none

dbt: add cdna4 to cdna3 semantic hardening
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/liveness.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/liveness.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_cdna3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_rdna3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_rdna4.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_rdna_common.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_rdna_common.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/translation_rule.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/mubuf.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/sop1.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/vop1.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/vop2.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/vop3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/vop3p.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/analysis/liveness_test.cpp
  emulation/rocjitsu/tests/dbt/cdna4_to_cdna3_dispatch_test.cpp
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
  emulation/rocjitsu/tests/hip_lds_copy_test.cpp
  emulation/rocjitsu/tests/kernels/CMakeLists.txt
  emulation/rocjitsu/tests/kernels/cvt_pk_bf16_f32.hip
Due: none

rem more join()
  projects/rocprofiler-systems/source/lib/common/environment.hpp
  projects/rocprofiler-systems/source/lib/common/invoke.hpp
  projects/rocprofiler-systems/source/lib/common/path.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

rem join and references
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/rocprof-sys-instrument.hpp
  projects/rocprofiler-systems/source/lib/common/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/common/join.hpp
  projects/rocprofiler-systems/source/lib/common/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/common/tests/test_join.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

add back cstdint to utility.cpp
  projects/rocprofiler-systems/source/lib/core/utility.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix tests
  projects/rocprofiler-systems/source/lib/common/tests/test_delimit.cpp
  projects/rocprofiler-systems/source/lib/common/tests/test_to_bool.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

rem join() from rocprof-sys-instrument log.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/log.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/rocprof-sys-instrument.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

rem join() (mostly)
  projects/rocprofiler-systems/source/bin/common/preset_registry.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-avail/avail.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-avail/component_categories.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-avail/generate_config.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-avail/get_availability.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-causal/impl.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/info.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/internal_libs.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/log.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/module_function.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/rocprof-sys-instrument.cpp
  projects/rocprofiler-systems/source/lib/common/path.hpp
  projects/rocprofiler-systems/source/lib/common/setup.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys-dl/dl.cpp
  projects/rocprofiler-systems/source/python/libpyrocprofsys.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix formatting
  projects/rocprofiler-systems/source/lib/common/environment.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix formatting
  projects/rocprofiler-systems/source/bin/common/preset_registry.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-avail/avail.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-avail/generate_config.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-causal/impl.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/internal_libs.cpp
  projects/rocprofiler-systems/source/lib/common/setup.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys-dl/dl.cpp
  projects/rocprofiler-systems/source/python/libpyrocprofsys.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

refactor args formatting in invoke.hpp
  projects/rocprofiler-systems/source/lib/common/invoke.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Rem Timemory string manipulation
  projects/rocprofiler-systems/source/bin/common/tool_runner.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-avail/avail.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-avail/component_categories.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-avail/generate_config.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-avail/get_availability.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-causal/impl.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/details.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/fwd.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/info.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/internal_libs.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/log.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/log.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/module_function.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/rocprof-sys-instrument.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/rocprof-sys-instrument.hpp
  projects/rocprofiler-systems/source/lib/common/delimit.hpp
  projects/rocprofiler-systems/source/lib/common/environment.hpp
  projects/rocprofiler-systems/source/lib/common/join.hpp
  projects/rocprofiler-systems/source/lib/common/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/common/tests/test_delimit.cpp
  projects/rocprofiler-systems/source/lib/common/tests/test_join.cpp
  projects/rocprofiler-systems/source/lib/common/tests/test_to_bool.cpp
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/core/constraint.cpp
  projects/rocprofiler-systems/source/lib/core/dynamic_library.cpp
  projects/rocprofiler-systems/source/lib/core/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/core/utility.cpp
  projects/rocprofiler-systems/source/lib/core/utility.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/mpip.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/shmem_gotcha.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/sampler.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/trace_control.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/sampling.cpp
  projects/rocprofiler-systems/source/python/libpyrocprofsys.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

cleanup
  projects/rocprofiler-systems/source/bin/common/tool_runner.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-causal/impl.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/details.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/info.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/internal_libs.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/log.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/log.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/rocprof-sys-instrument.cpp
  projects/rocprofiler-systems/source/lib/common/environment.hpp
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/core/utility.cpp
  projects/rocprofiler-systems/source/lib/core/utility.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/mpip.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/sampler.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

rem join() from details.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/details.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

perf(rocjitsu): share CPU dispatch pool budget
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/cpu_dispatch_pool.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/spi.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/xcd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/rj_vm.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/soc.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/soc.h
  emulation/rocjitsu/tests/scaling_test.cpp
  emulation/rocjitsu/tests/vector_add_test.cpp
Due: none

Cleanup: Remove redundant nullptr checks before delete (Closes #3147)
  projects/rocdecode/utils/md5.h
  projects/rocprofiler/src/xml/expr.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler.yml

disable uncached mem
  projects/rccl/src/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Add bounds check for elf size
  projects/clr/hipamd/src/hip_fatbin.cpp
Due: .azuredevops/rocm_ci_caller.yml

Potential fix for pull request finding
  projects/clr/rocclr/os/os_posix.cpp
Due: .azuredevops/rocm_ci_caller.yml

perf(rocjitsu): avoid dispatch task copy
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/cpu_dispatch_pool.h
Due: none

ROCM-8537 - Fix partition_metric_unit_test path and runner
  projects/amdsmi/tests/python_unittest/partition_metric_unit_test.py
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Polish profiler-hub rocpd design doc
  projects/rocprofiler-compute/docs/design/profiler-hub-integration.md
  projects/rocprofiler-compute/docs/design/write-rocpd-from-native-tool.md
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Simplify rocpd merge via base-name views
  projects/rocprofiler-compute/docs/design/profiler-hub-integration.md
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Add native-tool rocpd design doc
  projects/rocprofiler-compute/docs/design/write-rocpd-from-native-tool.md
Due: .azuredevops/rocm_ci_caller.yml

profiling diagram
  projects/rocprofiler-compute/docs/design/assets/profiler-hub-integration/profiler-hub-integration-current-profiling-flow.png
  projects/rocprofiler-compute/docs/design/hld-profiler-hub-integration.md
Due: .azuredevops/rocm_ci_caller.yml

design section.
  projects/rocprofiler-compute/docs/design/assets/hld-profiler-hub-integration/profiler-hub-integration-current-analysis-flow.png
  projects/rocprofiler-compute/docs/design/assets/hld-profiler-hub-integration/profiler-hub-integration-current-profiling-flow.png
  projects/rocprofiler-compute/docs/design/assets/hld-profiler-hub-integration/profiler-hub-integration-suggested-analysis-flow.png
  projects/rocprofiler-compute/docs/design/assets/hld-profiler-hub-integration/profiler-hub-integration-suggested-profiling-flow.png
  projects/rocprofiler-compute/docs/design/assets/profiler-hub-integration/profiler-hub-integration-current-profiling-flow.png
  projects/rocprofiler-compute/docs/design/hld-profiler-hub-integration.md
  projects/rocprofiler-compute/docs/design/hld-template.md
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Link profiler-hub source in design doc
  projects/rocprofiler-compute/docs/design/profiler-hub-integration.md
Due: .azuredevops/rocm_ci_caller.yml

Adding high-level design template
  projects/rocprofiler-compute/docs/design/high-level-design-template.md
Due: .azuredevops/rocm_ci_caller.yml

Context desc refactor
  projects/rocprofiler-compute/docs/design/profiler-hub-integration.md
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Move native-tool rocpd merge to analyze mode
  projects/rocprofiler-compute/docs/design/profiler-hub-integration.md
Due: .azuredevops/rocm_ci_caller.yml

filter top stats for selected torch operators
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/utils/file_io.py
  projects/rocprofiler-compute/tests/test_analyze_commands.py
  projects/rocprofiler-compute/tests/test_analyze_workloads.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

replace PEP 604 union syntax with Optional for Python 3.8 compatibility
  projects/rocprofiler-compute/src/utils/rocpd_data.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

stream counter CSVs instead of loading into memory
  projects/rocprofiler-compute/src/utils/rocpd_data.py
  projects/rocprofiler-compute/src/utils/utils_profile.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
