Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

correct .readthedocs path for monorepo migration
  projects/rocr-debug-agent/.readthedocs.yaml
Due: .azuredevops/rocm_ci_caller.yml

Apply suggestions from code review
  .github/workflows/rocprofiler-systems-containers.yml
  projects/rocprofiler-systems/docker/build-docker-ci-all.sh
  projects/rocprofiler-systems/docker/containers-ci.yml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Review edits
  projects/cuid/docs/conceptual/what_is_cuid.rst
  projects/cuid/docs/how-to/cuid-cli-tool.rst
  projects/cuid/docs/install/install.rst
Due: .azuredevops/rocm_ci_caller.yml

rocprofv3: add PC sampling attach/detach integration tests
  projects/rocprofiler-sdk/tests/bin/pc-sampling/exec-mask-manipulation/exec_mask_manipulation.cpp
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-pc-sampling/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-pc-sampling/host-trap/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-pc-sampling/host-trap/conftest.py
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-pc-sampling/host-trap/pytest.ini
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-pc-sampling/host-trap/validate.py
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-pc-sampling/run_attach_pc_sampling_test.sh
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-pc-sampling/stochastic/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-pc-sampling/stochastic/conftest.py
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-pc-sampling/stochastic/pytest.ini
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-pc-sampling/stochastic/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Update projects/rocprofiler-sdk/source/docs/how-to/gfx9-pc-sampling.rst
  projects/rocprofiler-sdk/source/docs/how-to/gfx9-pc-sampling.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add detach() to close resHandle.
  projects/clr/rocclr/device/rocm/rocglinterop.hpp
  projects/clr/rocclr/device/rocm/rocglinterop_windows.cpp
  projects/clr/rocclr/device/rocm/rocmemory.cpp
Due: .azuredevops/rocm_ci_caller.yml

AIRUNTIME-186 - Support gl/vulkan image interOp in rocr in windows.
  projects/clr/rocclr/device/rocm/rocglinterop.hpp
  projects/clr/rocclr/device/rocm/rocglinterop_windows.cpp
  projects/clr/rocclr/device/rocm/rocmemory.cpp
Due: .azuredevops/rocm_ci_caller.yml

refactor into common.py
  projects/rocprofiler-compute/tests/common.py
  projects/rocprofiler-compute/tests/conftest.py
  projects/rocprofiler-compute/tests/test_TCP_counters.py
  projects/rocprofiler-compute/tests/test_analyze_commands.py
  projects/rocprofiler-compute/tests/test_analyze_workloads.py
  projects/rocprofiler-compute/tests/test_metric_validation.py
  projects/rocprofiler-compute/tests/test_pc_sampling.py
  projects/rocprofiler-compute/tests/test_pc_sampling_analysis.py
  projects/rocprofiler-compute/tests/test_profile_general.py
  projects/rocprofiler-compute/tests/test_torch_trace.py
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Restore json trace
  projects/clr/hipamd/src/profiler/hip_clr_profiler.cpp
Due: .azuredevops/rocm_ci_caller.yml

test(AICOMRCCL-96): add MPI tests for destroy/abort with pending collective
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/DestroyPendingCommMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Testing
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

Some change to trigger CI
  projects/rocprofiler-systems/tests/rocprof-sys-fork-tests.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Migrate rocdbgapi and rocr-debug-agent .github settings to root directory
  .github/dependabot.yml
  projects/rocdbgapi/.github/palamida.yml
  projects/rocdbgapi/.github/workflows/kws_caller.yml
  projects/rocdbgapi/.github/workflows/rocm_ci_caller.yml
  projects/rocr-debug-agent/.github/dependabot.yml
  projects/rocr-debug-agent/.github/workflows/kws_caller.yml
  projects/rocr-debug-agent/.github/workflows/rocm_ci_caller.yml
Due: .azuredevops/rocm_ci_caller.yml

fix root path
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

search of src folder has changed to relative to profiler_base file
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/utils/native_tool.py
  projects/rocprofiler-compute/tests/test_native_tool.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix: use GTest-compatible error macros in DestroyPendingComm tests
  projects/rccl/test/DestroyPendingCommMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(nic): drop extra blank line in source/tests/CMakeLists.txt for gersemi
  projects/rocprofiler-systems/source/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocprofiler-compute] Cover eval_metric debug and writeback tests
  projects/rocprofiler-compute/tests/test_metrics.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] [bugfix] Fix NOISE_CLAMP arg list in L2 cache YAMLs (#5331)
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx90a/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx940/1700_l2_cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/1700_l2_cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/1700_l2_cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx950/1700_l2_cache.yaml
  projects/rocprofiler-compute/src/utils/.config_hashes.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Remocve Test changes
  projects/rccl/.github/workflows/therock-ci-linux.yml
Due: .azuredevops/rocm_ci_caller.yml

Fix unit test memory leaks
  projects/rocshmem/src/backend_bc.cpp
  projects/rocshmem/tests/unit_tests/ipc_impl_simple_coarse_gtest.hpp
  projects/rocshmem/tests/unit_tests/ipc_impl_simple_fine_gtest.hpp
  projects/rocshmem/tests/unit_tests/symmetric_heap_gtest.hpp
Due: .azuredevops/rocm_ci_caller.yml

feat(hsa): compute K-factor from active profiling contexts
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

feat(hsa): bridge process_doorbell_impl to WriteInterceptor callback chain
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/queue_intercept.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Temporarily force k_factor=0 to isolate trace-only hang
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

feat(hsa): add metadata queue sync in doorbell handler
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/queue_intercept.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

refactor(hsa): rename is_active to is_intercepting_inline
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

refactor(hsa): remove saved fn pointers, add pkt_size to ring_buffer_writer
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/queue_intercept.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fill k_factor extra ring buffer slots with INVALID packets
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Restore compute_queue_k_factor to original logic
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Sync QueueState with real write_dispatch_id at creation time
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

feat(hsa): add write-index interposition functions for virtual wptr management
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/queue_intercept.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(hsa): suppress unused parameter warning in process_doorbell_impl
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add ROCP_TRACE to Queue constructors and signal_store passthrough
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

test(hsa): add K-factor doorbell handler tests
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/queue_intercept.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

feat(hsa): wire queue interposition into HSA API table via QueueController
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

feat(hsa): add QueueState struct and registry for SDK-level queue interception
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/queue_intercept.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix doorbell value: ring at last packet index, not next slot
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml
