Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

lttng: add HSA curated typed-arg capture + CI workflow
  .github/workflows/lttng-curated-gates.yml
  projects/rocr-runtime/runtime/hsa-runtime/core/common/hsa_table_interface.cpp
  projects/rocr-runtime/runtime/hsa-runtime/lttng/rocm_hsa_curated_tp.h
  projects/rocr-runtime/runtime/hsa-runtime/lttng/rocm_hsa_tp.h
  projects/rocr-runtime/runtime/hsa-runtime/lttng/rocm_trace_emit.h
  projects/rocr-runtime/runtime/hsa-runtime/lttng/rocm_trace_emit_curated.h
  projects/rocr-runtime/runtime/hsa-runtime/scripts/curated_apis.yaml
  projects/rocr-runtime/runtime/hsa-runtime/test/lttng/test_hsa_curated_args_coverage.sh
  projects/rocr-runtime/runtime/hsa-runtime/test/lttng/test_hsa_curated_args_payload.sh
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

test(rocr-runtime): harden lazy_ptr test build (gtest fetch, cross-compile, gcc<13)
  projects/rocr-runtime/runtime/hsa-runtime/core/util/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/core/util/lazy_ptr.h
  projects/rocr-runtime/runtime/hsa-runtime/core/util/lazy_ptr_test.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Automate MOI scalar special state
  emulation/rocjitsu/docs/consan/DESIGN.md
  emulation/rocjitsu/docs/consan/LOCAL_TESTING.md
  emulation/rocjitsu/docs/consan/PLAN.md
  emulation/rocjitsu/docs/consan/TUTORIAL.md
  emulation/rocjitsu/docs/consan/USAGE.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan_moi.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbi_hooks.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/patch/consan_test.cpp
  emulation/rocjitsu/tests/patch/instruction_builder_test.cpp
Due: none

add phase B sequence diagram
  projects/rocprofiler-compute/docs/design/profile_interface_architecture.md
Due: .azuredevops/rocm_ci_caller.yml

Fix GcEaSeCounterBlockMaxEvent
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx12/gfx12_block_info.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

refactor: Move GL interop begin/end to GLFunctions
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/pal/paldevice.hpp
  projects/clr/rocclr/device/pal/paldevicegl.cpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
  projects/clr/rocclr/device/rocm/rocglinterop.cpp
  projects/clr/rocclr/device/rocm/rocglinterop.hpp
  projects/clr/rocclr/device/rocm/rocglinterop_windows.cpp
  projects/clr/rocclr/platform/context.cpp
  projects/clr/rocclr/platform/interop_gl.cpp
  projects/clr/rocclr/platform/interop_gl.hpp
Due: .azuredevops/rocm_ci_caller.yml

refactor: Move GL function pointers to shared GLFunctions
  projects/clr/rocclr/device/pal/paldevice.hpp
  projects/clr/rocclr/device/pal/paldevicegl.cpp
  projects/clr/rocclr/device/rocm/rocglinterop_windows.cpp
  projects/clr/rocclr/platform/context.cpp
  projects/clr/rocclr/platform/interop_gl.cpp
  projects/clr/rocclr/platform/interop_gl.hpp
Due: .azuredevops/rocm_ci_caller.yml

remove semicolon breaking mermaid preview in github
  projects/rocprofiler-compute/docs/design/profile_interface_architecture.md
Due: .azuredevops/rocm_ci_caller.yml

refactor: Reuse GLFunctions for AMD interop init
  projects/clr/rocclr/device/pal/paldevicegl.cpp
  projects/clr/rocclr/device/rocm/rocglinterop_windows.cpp
  projects/clr/rocclr/platform/context.cpp
  projects/clr/rocclr/platform/interop_gl.cpp
  projects/clr/rocclr/platform/interop_gl.hpp
Due: .azuredevops/rocm_ci_caller.yml

Update projects/rocshmem/CMakeLists.txt
  projects/rocshmem/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

fix: handle short reads in rpc_recv_msg to prevent acting on partial headers
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
  emulation/rocjitsu/tools/rocjitsu/main.cpp
Due: none

fix: https://github.com/ROCm/rocm-systems/pull/8393/changes/BASE..9aede935ba4c06cca8e04fc7267025053266f613#r3561514783
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
Due: none

Plan MOI resources across shared functions
  emulation/rocjitsu/docs/consan/DESIGN.md
  emulation/rocjitsu/docs/consan/PLAN.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan_moi.cpp
  emulation/rocjitsu/tests/patch/consan_test.cpp
Due: none

fix: Lower glAssociate failure log level in CLR
  projects/clr/rocclr/device/pal/paldevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add a test list
  projects/rccl/test/EnqueueTests2.cpp
Due: .azuredevops/rocm_ci_caller.yml

add a new logger group for the driver
  emulation/rocjitsu/cmake/rj_log.cmake
  emulation/rocjitsu/lib/util/include/util/log.h
Due: none

Document ConSan register spilling
  emulation/rocjitsu/docs/consan/DESIGN.md
  emulation/rocjitsu/docs/consan/LOCAL_TESTING.md
  emulation/rocjitsu/docs/consan/PLAN.md
  emulation/rocjitsu/docs/consan/README.md
  emulation/rocjitsu/docs/consan/SPILLING.md
  emulation/rocjitsu/docs/consan/TUTORIAL.md
  emulation/rocjitsu/docs/consan/USAGE.md
Due: none

use the driver logger
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/guest_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
Due: none

Add a test
  projects/rccl/test/EnqueueTests2.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add another test
  projects/rccl/test/EnqueueTests2.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rocjitsu): include <sys/types.h> for pid_t in kfd_process.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/kfd_process.h
Due: none

docs(rocjitsu): clarify DBG_TRAP by-pid gate closes cross-process attach
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
Due: none

Roll MOI operation probes onto resource planner
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan_moi.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbi_hooks.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/patch/consan_test.cpp
Due: none

Update EnqueueTests2.cpp
  projects/rccl/test/EnqueueTests2.cpp
Due: .azuredevops/rocm_ci_caller.yml

test: Use linux-mi455-gpu-rocm-test runner for MI455 tests
  .github/workflows/therock-ci-linux.yml
Due: none

Complete ConSan R1 resource documentation
  emulation/rocjitsu/docs/consan/DESIGN.md
  emulation/rocjitsu/docs/consan/LOCAL_TESTING.md
  emulation/rocjitsu/docs/consan/PLAN.md
  emulation/rocjitsu/docs/consan/README.md
  emulation/rocjitsu/docs/consan/SPILLING.md
  emulation/rocjitsu/docs/consan/TUTORIAL.md
  emulation/rocjitsu/docs/consan/USAGE.md
Due: none

fix(rocjitsu): snapshot runtime state under one lock in DBG_TRAP ENABLE
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
Due: none

refactor(rocr): unify GFX9.4+ PC sampling trap handler code
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/trap_handler/trap_handler.s
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

feat(rocr): implement lock-free MPSC queue for PC sampling
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_gpu_agent.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

docs(rocjitsu): note DBG_TRAP requires a post-fork re-open
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
Due: none

test(rocjitsu): cover bare DBG_TRAP DISABLE and concurrent enable/disable
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
Due: none

Clean up
  projects/rccl/test/EnqueueTests2.cpp
Due: .azuredevops/rocm_ci_caller.yml

Default MOI report buffers by engine
  emulation/rocjitsu/docs/consan/DESIGN.md
  emulation/rocjitsu/docs/consan/LOCAL_TESTING.md
  emulation/rocjitsu/docs/consan/PLAN.md
  emulation/rocjitsu/docs/consan/README.md
  emulation/rocjitsu/docs/consan/SPILLING.md
  emulation/rocjitsu/docs/consan/TUTORIAL.md
  emulation/rocjitsu/docs/consan/USAGE.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan_moi.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbi_hooks.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/patch/consan_test.cpp
Due: none

Capture bounded inline MOI diagnostics
  emulation/rocjitsu/docs/consan/DESIGN.md
  emulation/rocjitsu/docs/consan/PLAN.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan_moi.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbi_hooks.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/patch/consan_test.cpp
Due: none

fix(rocjitsu): return -ENOSYS for recognized-but-unimplemented DBG_TRAP ops
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
Due: none

Refactor tests to eliminate duplication
  projects/rccl/test/EnqueueTests2.cpp
Due: .azuredevops/rocm_ci_caller.yml

Harden MOI epoch packing semantics
  emulation/rocjitsu/docs/consan/DESIGN.md
  emulation/rocjitsu/docs/consan/PLAN.md
  emulation/rocjitsu/docs/consan/USAGE.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan_moi.cpp
  emulation/rocjitsu/tests/patch/consan_test.cpp
Due: none

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
