Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

compare_correctness: canary_ds_swizzle_quad_perm — P6 QUAD_PERM envelope guard
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/Makefile
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/compare_correctness.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/canary_ds_swizzle_quad_perm.hip
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

test(nic): add missing device tests and decouple test target
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/nic/nic_traits.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/nic/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/nic/tests/test_nic_device.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

transpiler: SPE-gate load memory ops symmetrically with their store siblings
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_ds.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_flat.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Initial prototype
  projects/rocr-runtime/runtime/hsa-runtime/libamdhsacode/lnx/amd_core_dump.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: fall back to MODREP when max_flat_workgroup_size < targetWaveSize
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raiser.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: refuse WMMA → MFMA cross-widening when projection lacks full-wave EXEC
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_valu_vop3p.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wave_projection.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Disabled deferred loading for systems without hmm
  projects/clr/hipamd/src/hip_platform.cpp
Due: .azuredevops/rocm_ci_caller.yml

Fix hsakmt_fmm_deregister_memory failure in systems without SVM API.
  projects/rocr-runtime/libhsakmt/src/fmm.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[rocprofiler-compute] [bugfix] memchart: fix MFMA value lookup in gfx9 memory chart (#5140)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/src/utils/gui_components/memchart.py
  projects/rocprofiler-compute/src/utils/mem_chart_gfx9.py
  projects/rocprofiler-compute/tests/test_mem_chart_gfx9.py
  projects/rocprofiler-compute/tests/test_memchart_gui_components.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

transpiler: cross-target lift v_cvt_scale_pk8_bf16_fp4 via bit-algebra expansion
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/docs/matrix-translation.md
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_valu.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/v_cvt_scale_pk8_bf16_fp4/v_cvt_scale_pk8_bf16_fp4.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/v_cvt_scale_pk8_bf16_fp4/v_cvt_scale_pk8_bf16_fp4.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/mxfp4_dequant.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/mxfp4_dequant.hpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tests/mxfp4_dequant_test.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/Makefile
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/compare_correctness.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/canary_cvt_scale_pk8_bf16_fp4.hip
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix NIC Fusion topo test
  projects/rccl/test/NicFusionTopoMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Updated to policy based schema selection
  projects/rocpdsna/include/writer.hpp
  projects/rocpdsna/source/data_storage/backends/sqlite_backend.cpp
  projects/rocpdsna/source/data_storage/backends/sqlite_backend.hpp
  projects/rocpdsna/source/writer.cpp
  projects/rocpdsna/source/writer_impl.cpp
  projects/rocpdsna/source/writer_impl.hpp
  projects/rocpdsna/tests/benchmarks/writer_bench.cpp
  projects/rocpdsna/tests/benchmarks/writer_parallel_bench.cpp
  projects/rocpdsna/tests/unit/database_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

transpiler: polish commit for matmul_fp16 triage — regression fences + secondary gates
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_ds.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_valu_vop3p.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/isa_profile.hpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/lit.site.cfg.py.in
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/phantom_lane_modrep_fallback/phantom_lane_modrep_fallback.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/phantom_lane_modrep_fallback/phantom_lane_modrep_fallback.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/wmma_phantom_lane_refuse/wmma_phantom_lane_refuse.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/wmma_phantom_lane_refuse/wmma_phantom_lane_refuse.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tests/wave_projection_test.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wmma_lowering.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

typo
  projects/rocshmem/tests/functional_tests/tester_arguments.cpp
Due: .azuredevops/rocm_ci_caller.yml

compare_correctness: direct-invocation recipe for _sum_bitmatrix_rows exposes salmon regression
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/Makefile
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/compare_correctness.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/aot_compile.py
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/sum_bitmatrix_rows_u32.py
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/sum_bitmatrix_rows_u32_nw4.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Additional cleanup
  projects/rocprofiler-systems/source/bin/common/env_vars.hpp
  projects/rocprofiler-systems/source/bin/common/json_config.cpp
  projects/rocprofiler-systems/tests/pytest/test_binaries.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

transpiler: principled audit — close three flags surfaced by /principled review of da9309441a
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_ds.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_valu_vop3p.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/isa_profile.hpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tests/wave_projection_test.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wmma_lowering.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

compare_correctness: topk_forward direct recipe surfaces salmon silent miscompile
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/Makefile
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/compare_correctness.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/aot_compile.py
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/downcast_to_mxfp_bf16.py
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/downcast_to_mxfp_fp32.py
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/topk_forward_bf16.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: lift gfx1250 v_mad_nc_{i,u}64_{i,u}32 (no-carry widening MAD)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_valu.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/lit.site.cfg.py.in
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/v_mad_nc_i64_i32/v_mad_nc_i64_i32.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/v_mad_nc_i64_i32/v_mad_nc_i64_i32.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/v_mad_nc_u64_u32/v_mad_nc_u64_u32.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/v_mad_nc_u64_u32/v_mad_nc_u64_u32.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/opcode_map.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/semop.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/semop.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: gate V_MAD_NC_* clamp bit (review follow-up to 714720e354)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_valu.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/v_mad_nc_i64_i32/v_mad_nc_i64_i32.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/v_mad_nc_u64_u32/v_mad_nc_u64_u32.ll
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Add printing to test 10 for easier debugging
  projects/rocr-debug-agent/test/run-test.py
Due: .azuredevops/rocm_ci_caller.yml

Rename openmptarget to openmp-target
  projects/rocprofiler-systems/tests/pytest/test_openmp.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

transpiler: preserve s_setreg MODE + bisect recipes narrow topk_forward silent miscompile
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_sopk.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/Makefile
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/topk_forward_bisect.py
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/topk_forward_bisect_m0.py
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/topk_forward_bisect_m1.py
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/topk_forward_bisect_m1_max.py
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/topk_forward_bisect_m1_nored.py
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/topk_forward_bisect_m1_nw1.py
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/topk_forward_bisect_m2.py
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/topk_forward_bisect_m3.py
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/topk_forward_bisect_m4.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

More clean-ups
  projects/clr/hipamd/include/hip/amd_detail/hip_profiler_ext.h
  projects/clr/hipamd/src/amdhip.def.in
  projects/clr/hipamd/src/profiler/hip_clr_dispatch_wrappers.cpp
  projects/clr/hipamd/src/profiler/hip_clr_profiler.cpp
  projects/clr/hipamd/src/profiler/hip_clr_profiler.hpp
  projects/clr/hipamd/src/profiler/profiler.md
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
Due: .azuredevops/rocm_ci_caller.yml

[ROCM-186] support amd-ttm module name and document UMA carveout prerequisites
  projects/amdsmi/amdsmi_cli/amdsmi_commands.py
  projects/amdsmi/amdsmi_cli/amdsmi_parser.py
  projects/amdsmi/docs/how-to/amdsmi-cli-tool.md
  projects/amdsmi/docs/reference/amdsmi-py-api.md
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/src/amd_smi/amd_smi.cc
Due: .azuredevops/rocm_ci_caller.yml

salmon_intercept: refuse partial-wave launches to close the runtime phantom-lane gap
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tests/salmon_intercept.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

salmon_intercept: MODREP-detection shortcut so MODREP-raised partial-wave launches pass through
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tests/salmon_intercept.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: bring update.dpp under cross-widen rewrite invariant + laneprobe triage
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_dpp_quad_perm/c2_dpp_quad_perm.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raiser.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/rewrite_cross_lane_divergent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/rewrite_cross_lane_divergent.hpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/Makefile
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/topk_forward_bisect_m_laneprobe.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Fix carevout command in readme
  projects/amdsmi/tests/MEMORY_TESTS_README.md
Due: .azuredevops/rocm_ci_caller.yml

transpiler: remove dead S_ADD_U64 SemOp (duplicate opcode_map row caught by external review)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_sop2.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/opcode_map.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/semop.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/semop.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: opcode_map.cpp — loud-abort on duplicate keys in kCanonTable
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/opcode_map.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: principled-review fixes for 7e66f1fcea (DPP cross-widen rewrite)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_dpp_row_ror_refuse/c2_dpp_row_ror_refuse.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_dpp_row_ror_refuse/c2_dpp_row_ror_refuse.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/lit.site.cfg.py.in
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/rewrite_cross_lane_divergent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Make gfx94X runs exclusive
  .github/workflows/therock-rccl-test-packages-multi-node.yml
Due: none

Prototype v2
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmttypes.h
  projects/rocr-runtime/libhsakmt/src/debug.c
  projects/rocr-runtime/runtime/hsa-runtime/libamdhsacode/lnx/amd_core_dump.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Adding hash bump
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-rccl-ci-linux.yml
  .github/workflows/therock-rccl-test-packages-multi-node.yml
  .github/workflows/therock-rccl-test-packages-single-node.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

Add AQLMON runtime activation POC
  experimental/aql-shm-monitor/.gitignore
  experimental/aql-shm-monitor/CMakeLists.txt
  experimental/aql-shm-monitor/README.md
  experimental/aql-shm-monitor/VERSION
  experimental/aql-shm-monitor/docs/design/2026-04-22-aql-shm-monitor-design-decisions.md
  experimental/aql-shm-monitor/samples/aqlmon_launch.cpp
  experimental/aql-shm-monitor/samples/aqlmon_read.cpp
  experimental/aql-shm-monitor/samples/aqlmon_trace_json.cpp
  experimental/aql-shm-monitor/source/include/aqlmon/aqlmon.h
  experimental/aql-shm-monitor/source/include/aqlmon/runtime_contract.h
  experimental/aql-shm-monitor/source/lib/aqlmon/aqlmon.cpp
  experimental/aql-shm-monitor/source/lib/runtime_contract/runtime_contract.cpp
  experimental/aql-shm-monitor/source/lib/runtime_contract/runtime_contract.hpp
  projects/clr/hipamd/src/CMakeLists.txt
  projects/clr/hipamd/src/hip_context.cpp
  projects/clr/hipamd/src/hip_internal.hpp
  projects/clr/hipamd/src/hip_module.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/platform/command.hpp
  projects/rocprofiler-register/README.md
  projects/rocprofiler-register/source/include/rocprofiler-register/rocprofiler-register.h
  projects/rocprofiler-register/source/lib/rocprofiler-register/rocprofiler_register.cpp
  projects/rocprofiler-register/tests/CMakeLists.txt
  projects/rocprofiler-register/tests/rocprofiler/rocprofiler.cpp
  projects/rocprofiler-register/tests/test-tool-activation-callback.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-register.yml

Clarify AQLMON shm consumer
  experimental/aql-shm-monitor/README.md
  experimental/aql-shm-monitor/docs/design/2026-04-22-aql-shm-monitor-design-decisions.md
Due: none

improve logging when incorrect arch is passed
  projects/clr/hipamd/src/hip_fatbin.cpp
Due: .azuredevops/rocm_ci_caller.yml

Apply suggestions from code review
  projects/clr/hipamd/src/hip_fatbin.cpp
Due: .azuredevops/rocm_ci_caller.yml

try dvc pull explicit
  .github/workflows/therock-ci-linux.yml
Due: none

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
