Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Upgrade pip in Dockerfile.ubuntu.ci
  projects/rocprofiler-systems/docker/Dockerfile.ubuntu.ci
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

SWDEV-546146 - Added support for hipMemLocationTypeHost in hipMemSetAccess
  projects/clr/hipamd/src/hip_vm.cpp
  projects/clr/rocclr/device/device.cpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/pal/paldevice.cpp
  projects/clr/rocclr/device/pal/paldevice.hpp
  projects/clr/rocclr/device/pal/palvirtual.cpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/platform/memory.hpp
  projects/hip-tests/catch/unit/virtualMemoryManagement/hipMemSetGetAccess.cc
Due: .azuredevops/rocm_ci_caller.yml

run ruff
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Removed the code that patches lulesh Makefile.
  projects/rocprofiler-compute/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix PageSize() initialization in Linux
  projects/rocr-runtime/runtime/hsa-runtime/core/util/lnx/os_linux.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/util/os.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

revert pipefail set -e change
  projects/rocprofiler-systems/docker/Dockerfile.opensuse.ci
  projects/rocprofiler-systems/docker/Dockerfile.rhel.ci
  projects/rocprofiler-systems/docker/Dockerfile.ubuntu.ci
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fix syntax error in azure_resolve_subtree_deps.py
  .github/scripts/azure_resolve_subtree_deps.py
Due: none

Fixed typo
  .github/scripts/azure_resolve_subtree_deps.py
Due: none

Run ruff
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

update changelog
  projects/rocprofiler/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

[Ex CI] Enable rocr-runtime
  .github/scripts/azure_resolve_subtree_deps.py
Due: none

SWDEV-552580 - Update instructions to build HIP from source in monorepo
  projects/hip/docs/install/build.rst
Due: .azuredevops/rocm_ci_caller.yml

Fixed build failure
  projects/rocprofiler-systems/CMakeLists.txt
  projects/rocprofiler-systems/CONTRIBUTING.md
  projects/rocprofiler-systems/docs/license.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

ROCProfiler-Register: Fixing License file name in the cmake modules
  projects/rocprofiler-register/cmake/rocprofiler_register_config_install.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-register.yml

Fix ANN
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof-compute
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprof_v3.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprofiler_sdk.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx908.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx942.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/tui_app.py
  projects/rocprofiler-compute/src/roofline.py
  projects/rocprofiler-compute/src/utils/gui_components/header.py
  projects/rocprofiler-compute/src/utils/gui_components/memchart.py
  projects/rocprofiler-compute/src/utils/logger.py
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/src/utils/roofline_calc.py
  projects/rocprofiler-compute/src/utils/specs.py
  projects/rocprofiler-compute/src/utils/utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix formatting of __CLK_LOCAL_MEM_FENCE definition
  projects/clr/hipamd/include/hip/amd_detail/device_library_decls.h
Due: .azuredevops/rocm_ci_caller.yml

ROCProfiler-Systems: Fixing LICENSE File name usage
  projects/rocprofiler-systems/.azuredevops/rocm-ci.yml
  projects/rocprofiler-systems/CMakeLists.txt
  projects/rocprofiler-systems/docs/license.rst
  projects/rocprofiler-systems/scripts/check-copyright.sh
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

ROCProfiler-Systems: Fixing Formatting
  projects/rocprofiler-systems/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Update the check-copyright.sh script
  projects/rocprofiler-systems/scripts/check-copyright.sh
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Apply suggestion from @dgaliffiAMD
  projects/rocprofiler-systems/.azuredevops/rocm-ci.yml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fixed link in CONTRIBUTING.md
  projects/rocprofiler-systems/CONTRIBUTING.md
Due: .azuredevops/rocm_ci_caller.yml

Run ruff
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprofiler_sdk.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx908.py
  projects/rocprofiler-compute/src/utils/gui_components/memchart.py
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/src/utils/specs.py
  projects/rocprofiler-compute/src/utils/utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Remove debug prints.
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/utils/file_io.py
  projects/rocprofiler-compute/src/utils/mem_chart.py
  projects/rocprofiler-compute/src/utils/parser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Rename venv in aqlprofile-ci workflow
  .github/workflows/aqlprofile-continuous_integration.yml
Due: none

SWDEV-546330-546331: Add hip register/unregister asycn notification APIs
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
  projects/clr/hipamd/include/hip/amd_detail/hip_prof_str.h
  projects/clr/hipamd/src/amdhip.def
  projects/clr/hipamd/src/hip_api_trace.cpp
  projects/clr/hipamd/src/hip_hcc.map.in
  projects/clr/hipamd/src/hip_internal.hpp
  projects/clr/hipamd/src/hip_mempool.cpp
  projects/clr/hipamd/src/hip_mempool_impl.cpp
  projects/clr/hipamd/src/hip_mempool_impl.hpp
  projects/clr/hipamd/src/hip_table_interface.cpp
  projects/hip/include/hip/hip_runtime_api.h
Due: .azuredevops/rocm_ci_caller.yml

ROCProfiler-Systems: Fixing License file name
  projects/rocprofiler-compute/.azuredevops/rocm-ci-mainline.yml
  projects/rocprofiler-compute/.azuredevops/rocm-ci.yml
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/README.md
  projects/rocprofiler-compute/docs/license.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

ROCProfiler-Systems: Fixing ROCProfiler Compute Tarball Workflow
  .github/workflows/rocprofiler-compute-tarball.yml
Due: none

ruff
  projects/rocprofiler-compute/src/utils/parser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

SWDEV-552620 Graph node scaling perf
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/platform/command.hpp
  projects/hip-tests/catch/perftests/graph/CMakeLists.txt
  projects/hip-tests/catch/perftests/graph/hipGraphTopology.cc
Due: .azuredevops/rocm_ci_caller.yml

ROCProfiler-Register/SDK: Changing Runners for Register CI & SDK Docs
  .github/workflows/rocprofiler-register-continuous-integration.yml
  .github/workflows/rocprofiler-sdk-docs.yml
Due: none

ROCProfiler-Register: Fixing CI workflow to include itself if changed
  .github/workflows/rocprofiler-register-continuous-integration.yml
Due: none

add gfx950 support, clean up tarball logic
  .github/workflows/rocprofiler-sdk-build-ci-docker-images.yml
  projects/rocprofiler-sdk/docker/Dockerfile.ci
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add roofline update to changelog
  projects/rocprofiler-compute/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

[Ex CI] Enable rocminfo
  .github/scripts/azure_resolve_subtree_deps.py
Due: none

Initial port
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_vector_types.h
  projects/clr/hipamd/include/hip/amd_detail/math_fwd.h
  projects/hip-tests/catch/unit/vector_types/vector_types.cc
Due: .azuredevops/rocm_ci_caller.yml

Update rocprofiler-register-continuous-integration.yml
  .github/workflows/rocprofiler-register-continuous-integration.yml
Due: none

Change runner for build-docs-from-source job
  .github/workflows/rocprofiler-sdk-docs.yml
Due: none

Fix formatting of runs-on line in workflow file
  .github/workflows/rocprofiler-sdk-docs.yml
Due: none

Fix indentation for runs-on in CI workflow
  .github/workflows/rocprofiler-register-continuous-integration.yml
Due: none
