Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

accl-profiler: add PoolExhaustionIsCounted test
  projects/rccl/test/AcclProfilerTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Applying changes to bring in line with NCCL 2.30.4. (Built. not tested)
  projects/rccl/CMakeLists.txt
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/include/nccl_device/gin/gin_device_host_common.h
  projects/rccl/src/misc/CMakeLists.txt
  projects/rccl/test/transport/GinDeviceMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Cleaned up some comment blocks
  projects/rccl/cmake/DeviceLinker.cmake
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/devcomm/CMakeLists.txt
  projects/rccl/src/graph/CMakeLists.txt
  projects/rccl/src/include/CMakeLists.txt
  projects/rccl/src/misc/CMakeLists.txt
  projects/rccl/src/plugin/tuner/CMakeLists.txt
  projects/rccl/src/ras/CMakeLists.txt
  projects/rccl/src/transport/CMakeLists.txt
  projects/rccl/src/transport/net_ib/CMakeLists.txt
  projects/rccl/src/transport/net_ib_cast/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Removed unnecessary docs from device/CMakeLists.txt
  projects/rccl/src/device/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

rccl/gin: fix inverted system-scope fence guard on HIP backends
  projects/rccl/src/include/nccl_device/gin/anvil_sdma/gin_anvil_sdma.h
  projects/rccl/src/include/nccl_device/gin/gdaki/gin_gdaki.h
  projects/rccl/src/include/nccl_device/gin/gin_device_common.h
  projects/rccl/src/include/nccl_device/gin/rocshmem_gda/gin_rocshmem_gda.h
Due: .azuredevops/rocm_ci_caller.yml

test(rccl/gin): assert SDMA fence seam in Put_ThreadScopeFence
  projects/rccl/test/device/GinAnvilSdmaTemplate_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

rccl/gin: add fence-counting tests for HIP scope guard fix
  projects/rccl/test/device/GinRocshmemGdaTemplate_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

refactor: make automatic ConSan binding transactional
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_pipeline.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_pipeline.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_hooks.cpp
  emulation/rocjitsu/tests/patch/consan/pipeline_test.cpp
Due: none

[rccl] Add fp8-bench V1 GPU FP8 intrinsic probe tool
  projects/rccl/tools/fp8-bench/Makefile
  projects/rccl/tools/fp8-bench/README.md
  projects/rccl/tools/fp8-bench/fp8_bench.cpp
  projects/rccl/tools/fp8-bench/fp8_probe.h
Due: .azuredevops/rocm_ci_caller.yml

Fix formatting
  projects/rocprofiler-systems/.pre-commit-config.yaml
Due: .azuredevops/rocm_ci_caller.yml

refactor: hide ConSan retry mechanics behind binding token
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_pipeline.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_pipeline.h
  emulation/rocjitsu/tests/patch/consan/pipeline_test.cpp
Due: none

chore(rocprofiler-systems): consolidate formatting CI and pre-commit config
  .github/workflows/rocprofiler-systems-formatting.yml
  projects/rocprofiler-systems/.pre-commit-config.yaml
  projects/rocprofiler-systems/CONTRIBUTING.md
Due: .azuredevops/rocm_ci_caller.yml

refactor: establish authoritative ConSan transaction owner
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_pipeline.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_pipeline.h
  emulation/rocjitsu/tests/patch/consan/transform_result_test_access.h
Due: none

refactor: record complete ConSan transaction stages
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_pipeline.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_pipeline.h
  emulation/rocjitsu/tests/patch/consan/pipeline_test.cpp
Due: none

Fixed formatting
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_processor.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fixed formatting
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/causal/components/blocking_gotcha.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(causal): fix ROCPD crash and refine OMP environment settings
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_processor.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/tests/pytest/rocprofsys/environment.py
  projects/rocprofiler-systems/tests/pytest/test_causal.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fixed formatting
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/causal/components/blocking_gotcha.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(rocshmem): [gda] use team-relative PE ranks in alltoallv (#10095)
  projects/rocshmem/src/gda/context_gda_tmpl_device.hpp
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Close ISA additions validation gaps
  emulation/rocjitsu/docs/codegen.md
  emulation/rocjitsu/lib/python/amdisa/isa_additions.py
  emulation/rocjitsu/lib/python/amdisa/parser.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_isa_additions.py
Due: none

Update projects/rccl/src/init.cc
  projects/rccl/src/init.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(rocr): GPU coredump no longer dies from SIGPIPE on pipe core_pattern
  projects/rocr-runtime/runtime/hsa-runtime/libamdhsacode/lnx/amd_core_dump.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

refactor: record native ConSan stage execution
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_composition.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_lowering.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_shadow_models.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_pipeline.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_pipeline.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_validation.inc
  emulation/rocjitsu/tests/patch/consan/pipeline_test.cpp
Due: none

chore(rocprofiler-systems): remove redundant clang-format hook for templates
  projects/rocprofiler-systems/.pre-commit-config.yaml
Due: .azuredevops/rocm_ci_caller.yml

chore(rocprofiler-systems): apply pre-commit formatting
  projects/rocprofiler-systems/cmake/Templates/rocprof-sys-install.py.in
  projects/rocprofiler-systems/docs/how-to/openmp-profiling.rst
  projects/rocprofiler-systems/examples/lulesh/external/CMakeLists.txt
  projects/rocprofiler-systems/examples/openmp/common/c_randdp.cpp
  projects/rocprofiler-systems/examples/rccl/rccl-tests/src/rccl_compat.h
  projects/rocprofiler-systems/source/bin/common/presets/profile-mpi.json
  projects/rocprofiler-systems/source/bin/common/presets/profile-only.json
  projects/rocprofiler-systems/source/lib/rocprof-sys-rt/src/RTtlsgetaddr-x86_64.S
  projects/rocprofiler-systems/source/python/gui/source/VERSION
  projects/rocprofiler-systems/tests/rocpd-validation-rules/ainic/ainic-rdma-rules.json
  projects/rocprofiler-systems/tests/rocpd-validation-rules/gpu-connect/amd-smi-rules.json
  projects/rocprofiler-systems/tests/rocpd-validation-rules/gpu-connect/validation-rules.json
  projects/rocprofiler-systems/tests/rocpd-validation-rules/kfd/kfd-rules.json
  projects/rocprofiler-systems/tests/rocpd-validation-rules/sdma/validation-rules.json
  projects/rocprofiler-systems/tests/run_rocprofiler_systems.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

refactor: expose ConSan stage execution counts
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_pipeline.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_pipeline.h
  emulation/rocjitsu/tests/patch/consan/pipeline_test.cpp
Due: none

refactor: stop automatic ConSan before runtime binding
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_composition.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_lowering.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_lowering_types.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_shadow_models.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_pipeline.cpp
  emulation/rocjitsu/tests/patch/consan/pipeline_test.cpp
Due: none

refactor: centralize ConSan observation request assembly
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_candidates.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_observation_plan.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_observation_policy.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_supercollider_common.inc
  emulation/rocjitsu/tests/patch/consan/observation_plan_test.cpp
Due: none

refactor: move ConSan observation assembly into transaction
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_composition.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_lowering.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_lowering_types.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_candidates.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_report_layout.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_report_plan.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_shadow_models.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_options.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_pipeline.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_request_contract.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_supercollider_common.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_hook_config.cpp
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
  emulation/rocjitsu/tests/patch/consan/evidence_requirements_test.cpp
  emulation/rocjitsu/tests/patch/consan/pipeline_test.cpp
  emulation/rocjitsu/tests/patch/consan/request_contract_test.cpp
Due: none

Fix clang-tidy violations
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/causal/components/blocking_gotcha.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/timeout.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fix formatting
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/causal/components/blocking_gotcha.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

refactor: remove engine-owned observation assembly
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_composition.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_candidates.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_shadow_models.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_supercollider_common.inc
Due: none

refactor: execute ConSan prebinding in one transaction
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_pipeline.cpp
  emulation/rocjitsu/tests/patch/consan/pipeline_test.cpp
Due: none

refactor: resume ConSan only after validated binding
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_pipeline.cpp
  emulation/rocjitsu/tests/patch/consan/pipeline_test.cpp
Due: none

refactor: normalize ConSan access lowering forms
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_access_classifier.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_access_classifier.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_access_policy.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_access_shape.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_analysis.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_fault_injection.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_program_inventory.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_sync_analysis.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_hooks.cpp
  emulation/rocjitsu/tests/consan/CMakeLists.txt
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
  emulation/rocjitsu/tests/patch/consan/access_classifier_test.cpp
  emulation/rocjitsu/tests/patch/consan/analysis_test.cpp
  emulation/rocjitsu/tests/patch/consan/evidence_requirements_test.cpp
  emulation/rocjitsu/tests/patch/consan/observation_plan_test.cpp
  emulation/rocjitsu/tests/patch/consan/pipeline_test.cpp
  emulation/rocjitsu/tests/patch/consan/program_inventory_test.cpp
  emulation/rocjitsu/tests/patch/consan/supercollider_test.cpp
Due: none

refactor: consume normalized ConSan access forms
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_access_classifier.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_fault_injection.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_candidates.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_common_emission.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_placement.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_shadow_models.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_placement.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_result.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_supercollider_common.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_supercollider_lds.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_sync_analysis.inc
  emulation/rocjitsu/tests/patch/consan/access_classifier_test.cpp
  emulation/rocjitsu/tests/patch/consan/analysis_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_common_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_record_replay_test.cpp
Due: none

Fix clang-tidy violations
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/causal/components/blocking_gotcha.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

refactor: confine ConSan access admission to classifier
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_access_classifier.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_access_shape.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_analysis.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_program_inventory.h.inc
  emulation/rocjitsu/tests/patch/consan/access_classifier_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_common_test.cpp
Due: none

refactor: centralize ConSan exact atomic classification
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_atomic_classifier.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_atomic_classifier.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_atomic_fence_policy.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_core_types.h.inc
  emulation/rocjitsu/tests/consan/CMakeLists.txt
  emulation/rocjitsu/tests/patch/consan/atomic_classifier_test.cpp
Due: none
