Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Refactor tests
  projects/rocprofiler-sdk/tests/bin/openmp/init-deadlock/blas_stub.cpp
  projects/rocprofiler-sdk/tests/rocprofv3/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/ompt-deadlock/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/ompt/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Revert test removals
  projects/rocprofiler-sdk/tests/openmp-tools/CMakeLists.txt
  projects/rocprofiler-sdk/tests/openmp-tools/conftest.py
  projects/rocprofiler-sdk/tests/openmp-tools/pytest.ini
  projects/rocprofiler-sdk/tests/openmp-tools/validate.py
  projects/rocprofiler-systems/tests/pytest/test_openmp.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml

Revert test Cmake file and add early return and warning to avoid deadlock for rocprofv3
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/ompt.cpp
  projects/rocprofiler-sdk/tests/bin/openmp/init-deadlock/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

test(rccl): cover GIN proxy Flush, FlushAsync and Wait device paths (#12639)
  projects/rccl/test/device/GinDeviceTests.cpp
  projects/rccl/tools/scripts/test_runner/configs/ci-precheckin.json
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): apply per-call algSelection to general algorithm selection
  projects/rccl/src/enqueue/enqueue.cc
  projects/rccl/test/host/enqueue-test.cc
Due: .azuredevops/rocm_ci_caller.yml

Update TheRock ref to ec001a9
  .github/workflows/therock-build-linux.yml
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-rccl-ci-linux.yml
  .github/workflows/therock-rccl-test-jax-collective.yml
  .github/workflows/therock-rccl-test-madengine.yml
  .github/workflows/therock-rccl-test-packages-multi-node.yml
  .github/workflows/therock-rccl-test-packages-single-node.yml
  .github/workflows/therock-rccl-test-pytorch-distributed.yml
  .github/workflows/therock-rccl-test-rocprof.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

Load sdk to allow openmp tests to run/modify systems offload test
  projects/rocprofiler-sdk/tests/openmp-tools/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/tests/pytest/test_openmp.py
  projects/rocprofiler-systems/tests/rocpd-validation-rules/openmp-cg/sdk-metrics-rules.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml

Formatting
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fixed rebase conflict with coexist tests and functionality
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
  projects/rocprofiler-sdk/tests/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/openmp/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/openmp/init-deadlock/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/openmp/openmp-tools-coexist/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/openmp/openmp-tools-coexist/coexist_ompt_tool.cpp
  projects/rocprofiler-sdk/tests/openmp-tools-coexist/CMakeLists.txt
  projects/rocprofiler-sdk/tests/openmp-tools-coexist/coexist_client.cpp
  projects/rocprofiler-sdk/tests/openmp-tools-coexist/validate_defer.py
  projects/rocprofiler-sdk/tests/openmp-tools-coexist/validate_deferback.py
  projects/rocprofiler-sdk/tests/openmp-tools-coexist/validate_keep.py
  projects/rocprofiler-sdk/tests/rocprofv3/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/ompt-coexist/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/ompt-coexist/conftest.py
  projects/rocprofiler-sdk/tests/rocprofv3/ompt-coexist/pytest.ini
  projects/rocprofiler-sdk/tests/rocprofv3/ompt-coexist/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix clang tidy import error
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fix coexist test and update documentation
  projects/rocprofiler-sdk/CHANGELOG.md
  projects/rocprofiler-sdk/source/docs/how-to/using-rocprofv3-with-openmp.rst
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/ompt.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/ompt.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/ompt/ompt.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/ompt/ompt.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
  projects/rocprofiler-sdk/tests/bin/openmp/openmp-tools-coexist/coexist_ompt_tool.cpp
  projects/rocprofiler-sdk/tests/rocprofv3/ompt-coexist/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/ompt-coexist/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

UPdated comments for PR review
  projects/rocprofiler-sdk/samples/openmp_target/CMakeLists.txt
  projects/rocprofiler-sdk/samples/openmp_target/client.cpp
  projects/rocprofiler-sdk/samples/openmp_target/main.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/ompt.cpp
  projects/rocprofiler-sdk/tests/rocprofv3/ompt-coexist/validate.py
  projects/rocprofiler-systems/source/lib/rocprof-sys-dl/dl.cpp
  projects/rocprofiler-systems/tests/pytest/test_openmp.py
  projects/rocprofiler-systems/tests/rocpd-validation-rules/openmp-cg/sdk-metrics-rules.json
  projects/rocprofiler-systems/tests/rocpd-validation-rules/openmp-target/sdk-metrics-rules.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml

Remove unused rdynamic flag
  projects/rocprofiler-sdk/tests/bin/openmp/init-deadlock/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix rebase conflict systems tests
  projects/rocprofiler-systems/tests/pytest/test_openmp.py
  projects/rocprofiler-systems/tests/rocpd-validation-rules/openmp-target/sdk-metrics-rules.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Revert "Revert "clr: Replace use of amdgcn atomic builtins for scalar types"" (#12069)
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_atomic.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_unsafe_atomics.h
Due: .azuredevops/rocm_ci_caller.yml

fix(hip-tests): remove __hip_atomic_ tests (#12066)
  projects/hip-tests/catch/config/configs/unit/atomics.yaml
  projects/hip-tests/catch/unit/atomics/CMakeLists.txt
  projects/hip-tests/catch/unit/atomics/__hip_atomic_compare_exchange_strong.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_exchange.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_add.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_and.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_max.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_min.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_or.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_xor.cc
  projects/hip-tests/catch/unit/atomics/acquire_release.cc
  projects/hip-tests/catch/unit/atomics/arithmetic_common.hh
  projects/hip-tests/catch/unit/atomics/atomicExch_common.hh
  projects/hip-tests/catch/unit/atomics/atomic_builtin_kernels.cc
  projects/hip-tests/catch/unit/atomics/atomic_builtins.cc
  projects/hip-tests/catch/unit/atomics/atomic_builtins_kernels_rtc.hh
  projects/hip-tests/catch/unit/atomics/bitwise_common.hh
  projects/hip-tests/catch/unit/atomics/memory_order_common.hh
  projects/hip-tests/catch/unit/atomics/min_max_common.hh
  projects/hip-tests/catch/unit/atomics/sequential_consistency.cc
  projects/hip-tests/catch/unit/cooperativeGrps/grid_group.cc
  projects/hip-tests/catch/unit/cooperativeGrps/hipCGMultiGridGroupType_old.cc
  projects/hip-tests/catch/unit/event/hipEventCreateWithFlags.cc
  projects/hip-tests/catch/unit/module/anyOrderLaunch.cc
  projects/hip-tests/catch/unit/synchronization/cache_coherency_cpu_gpu.cc
  projects/hip-tests/catch/unit/synchronization/cache_coherency_gpu_gpu.cc
  projects/hip-tests/utils/coverage/device_api_list.txt
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): Add per-rank size floors and opt-in lazy setup for hierarchical collectives (#11796)
  projects/rccl/docs/api-reference/env-variables.rst
  projects/rccl/src/include/comm.h
  projects/rccl/src/include/rccl_common.h
  projects/rccl/src/init.cc
  projects/rccl/src/rccl_wrap.cc
  projects/rccl/test/RcclWrapTests.cpp
  projects/rccl/test/host/fakes/nccl_stubs.cc
  projects/rccl/test/host/fakes/nccl_stubs.h
  projects/rccl/test/host/fakes/rccl_wrap_fakes.cc
  projects/rccl/test/host/fakes/rccl_wrap_fakes.h
  projects/rccl/test/host/fakes/wrap_fakes.cc
  projects/rccl/test/host/fakes/wrap_fakes.h
  projects/rccl/test/host/init-test.cc
  projects/rccl/test/host/wrap-test.cc
Due: .azuredevops/rocm_ci_caller.yml

chore(amdsmi): open ROCm 10.2.0 changelog and bump lib minor to 27.2.0
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/rust-interface/src/amdsmi_wrapper.rs
Due: .azuredevops/rocm_ci_caller.yml

docs(amdsmi): update CLI tool example versions for 27.2.0
  projects/amdsmi/docs/how-to/amdsmi-cli-tool.md
Due: .azuredevops/rocm_ci_caller.yml

Add missing files
  projects/rccl/src/algorithms/dda/dda_kernels_disabled.cc
  projects/rccl/test/host/dda-kernels-disabled-test.cc
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu][DBI] Extract CDNA tail bound and use in trampoline
  emulation/rocjitsu/docs/dbi-design.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/kernel_descriptor_scan.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/kernel_descriptor_scan.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/entry_prologue.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instrumentor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/trampoline_builder.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/trampoline_builder.h
  emulation/rocjitsu/tests/patch/entry_prologue_test.cpp
  emulation/rocjitsu/tests/patch/trampoline_builder_test.cpp
Due: none

ce: account for receive window offset in AllReduce
  projects/rccl/src/ce_coll.cc
Due: .azuredevops/rocm_ci_caller.yml

test: cover CE AllReduce receive-window offset
  projects/rccl/src/ce_coll.cc
  projects/rccl/src/include/ce_fault_inject.h
  projects/rccl/test/RegistrationMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

test: make CE recv-offset regressions skip-safe
  projects/rccl/src/ce_coll.cc
  projects/rccl/src/include/ce_fault_inject.h
  projects/rccl/test/RegistrationMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

test: drop incorrect all-zero check on legacy CE recv offset
  projects/rccl/test/RegistrationMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

ce: validate registered receive range
  projects/rccl/src/ce_coll.cc
  projects/rccl/test/RegistrationMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

test: add MPI allRanksTrue helper used by UBR_MultiSegment
  projects/rccl/test/common/MPIHelpers.hpp
Due: .azuredevops/rocm_ci_caller.yml

ce: pass LSA rank into GetLsaRankPtr for AllReduce
  projects/rccl/src/ce_coll.cc
Due: .azuredevops/rocm_ci_caller.yml

ce: move LEGACY_RECV_OFFSET fault to 0x10
  projects/rccl/src/include/ce_fault_inject.h
Due: .azuredevops/rocm_ci_caller.yml

ce: cap forced unregistered AllReduce to the staging buffer
  projects/rccl/src/rccl_wrap.cc
  projects/rccl/test/CeAllReduceEligibilityTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

ce: agree AllReduce fastPath and refuse oversized staging
  projects/rccl/src/ce_coll.cc
  projects/rccl/src/include/ce_coll.h
  projects/rccl/test/CeAllReduceEligibilityTests.cpp
  projects/rccl/test/RegistrationMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

ce: require an implemented driver for forced unregistered AllReduce
  projects/rccl/src/include/rccl_common.h
  projects/rccl/src/rccl_wrap.cc
  projects/rccl/test/CeAllReduceEligibilityTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

ce: pipeline unregistered AllReduce and let ZERO beat SYM
  projects/rccl/src/ce_coll.cc
  projects/rccl/src/enqueue/enqueue.cc
  projects/rccl/src/include/ce_fault_inject.h
  projects/rccl/src/rccl_wrap.cc
  projects/rccl/test/CeAllReduceEligibilityTests.cpp
  projects/rccl/test/host/wrap-test.cc
Due: .azuredevops/rocm_ci_caller.yml

ce: keep AllReduce selector comments to two or three lines
  projects/rccl/src/ce_coll.cc
  projects/rccl/src/enqueue/enqueue.cc
  projects/rccl/src/rccl_wrap.cc
  projects/rccl/test/CeAllReduceEligibilityTests.cpp
  projects/rccl/test/host/wrap-test.cc
Due: .azuredevops/rocm_ci_caller.yml

ce: map AlltoAllv world ranks through ncclCePeerLsaPtr
  projects/rccl/src/ce_coll.cc
  projects/rccl/test/RegistrationMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

test: set CE CTA env on comprehensive Symmetric_Lsa
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
Due: .azuredevops/rocm_ci_caller.yml

test: address CE review helper findings
  projects/rccl/src/ce_coll.cc
  projects/rccl/src/include/ce_coll.h
  projects/rccl/src/include/ce_fault_inject.h
  projects/rccl/test/CeAllReduceEligibilityTests.cpp
  projects/rccl/test/RegistrationMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

ce: agree receive-window fast path before launch
  projects/rccl/src/ce_coll.cc
  projects/rccl/src/dev_runtime.cc
  projects/rccl/src/enqueue/enqueue.cc
  projects/rccl/src/include/ce_coll.h
  projects/rccl/src/include/comm.h
  projects/rccl/src/include/dev_runtime.h
  projects/rccl/src/scheduler/symmetric_sched.cc
  projects/rccl/test/CeAllReduceEligibilityTests.cpp
  projects/rccl/test/host/dev-runtime-test.cc
  projects/rccl/test/host/fakes/ce_fakes.cc
  projects/rccl/test/host/scheduler-test.cc
Due: .azuredevops/rocm_ci_caller.yml

ce: restore AllReduce selector gates
  projects/rccl/src/include/rccl_common.h
  projects/rccl/src/rccl_wrap.cc
  projects/rccl/test/CeAllReduceEligibilityTests.cpp
  projects/rccl/test/host/wrap-test.cc
Due: .azuredevops/rocm_ci_caller.yml

ce: bound receive windows to the peer allocation tail
  projects/rccl/src/ce_coll.cc
  projects/rccl/src/dev_runtime.cc
  projects/rccl/src/include/dev_runtime.h
  projects/rccl/test/CeAllReduceEligibilityTests.cpp
Due: .azuredevops/rocm_ci_caller.yml
