Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

[rocprofiler-compute] Auto-detect membw analysis from profiling config in analyze mode
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/tests/unit/rocprof_compute_analyze/test_analysis_base.py
  projects/rocprofiler-compute/tests/unit/utils/test_parser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Add membw analysis user documentation and workload fixture
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/docs/design/hld-membw-guided-analysis-in-memchart.md
  projects/rocprofiler-compute/docs/how-to/membw_analysis.rst
  projects/rocprofiler-compute/docs/index.rst
  projects/rocprofiler-compute/docs/sphinx/_toc.yml.in
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/tests/workloads/vcopy_membw/MI350/pmc_perf.csv.gz
  projects/rocprofiler-compute/tests/workloads/vcopy_membw/MI350/profiling_config.yaml
  projects/rocprofiler-compute/tests/workloads/vcopy_membw/MI350/sysinfo.csv
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(rccl/gin): keep RMA proxy support enabled under NIC fusion
  projects/rccl/src/init.cc
Due: .azuredevops/rocm_ci_caller.yml

feat(rccl/gin): log the derived GIN and RMA capability set
  projects/rccl/src/init.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl/gin): add HostRmaSurvivesNicFusion test
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/transport/GinNicFusionMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

test(rccl/gin): add GinTypeSurvivesNicFusion test
  projects/rccl/test/transport/GinNicFusionMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

test(rccl/gin): add net_ib_gin_nic_fusion runner config
  projects/rccl/tools/scripts/test_runner/configs/net_ib_transport.json
Due: .azuredevops/rocm_ci_caller.yml

test(rccl/rma): let the RMA fixture connect over a chosen device
  projects/rccl/test/transport/RmaMPI/RmaMPITestBase.hpp
Due: .azuredevops/rocm_ci_caller.yml

test(rccl/rma): add IPutOverFusedVNic test
  projects/rccl/test/transport/RmaMPI/RmaMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

test(rccl/rma): add IGetOverFusedVNic test
  projects/rccl/test/transport/RmaMPI/RmaMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

test(rccl/gin): run the fused-vNIC RMA tests from the fusion config
  projects/rccl/tools/scripts/test_runner/configs/net_ib_transport.json
Due: .azuredevops/rocm_ci_caller.yml

test(rccl/rma): add IPutSignalOverFusedVNic test
  projects/rccl/test/transport/RmaMPI/RmaMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

test(rccl/rma): coordinate fused-vNIC failures across ranks
  projects/rccl/test/transport/RmaMPI/RmaMPITestBase.hpp
  projects/rccl/test/transport/RmaMPI/RmaMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(consan): instrument gfx950 global loads directly to LDS
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/isa_profile.py
  emulation/rocjitsu/lib/python/amdisa/parser.py
  emulation/rocjitsu/lib/python/amdisa/semantics.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_access_classifier.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_access_shape.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_analysis.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_code_object_types.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_access_target.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_access_target.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_placement.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_program_analysis_encoding.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/modes/inline_shadow/consan_moi_inline_shadow_emission.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/modes/record_replay/consan_moi_record_replay_access_emission.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/modes/sampled/consan_moi_sampled_access_emission.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/modes/supercollider/consan_supercollider_common.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/targets/shared/cdna3_cdna4/consan_program_analysis_cdna3_cdna4_target_ops.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/targets/shared/cdna3_cdna4/consan_supercollider_cdna3_cdna4_target_ops.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/decoder.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/execution_backend.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/execution_backend_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/flat.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/flat.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/flat_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/opcodes.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/test_encodings.h
  emulation/rocjitsu/tests/patch/consan/analysis_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_mode_planning_test.cpp
  emulation/rocjitsu/tests/patch/consan/supercollider_test.cpp
Due: none

feat(consan): scaffold the thirteen-workload gfx950 benchmark matrix
  emulation/rocjitsu/docs/consan/benchmark/STATUS_GFX950.md
  emulation/rocjitsu/tests/dbi/consan/consan_benchmark.py
  emulation/rocjitsu/tests/dbi/consan/consan_tokenspeed_benchmark_workload.py
  emulation/rocjitsu/tests/dbi/consan/test_consan_benchmark.py
Due: none

fix(rocr): fix out-of-bounds access in hsa_amd_signal_wait_any (#8564)
  projects/rocr-runtime/rocrtst/suites/functional/signal_wait_multi.cc
  projects/rocr-runtime/rocrtst/suites/functional/signal_wait_multi.h
  projects/rocr-runtime/rocrtst/suites/test_common/main.cc
  projects/rocr-runtime/rocrtst/suites/test_common/test_categories.yaml
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/signal.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[rocjitsu] Reject unavailable gfx1251 private aperture sources.
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/operand.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/operand.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/operand.h
  emulation/rocjitsu/lib/util/include/util/big_int.h
  emulation/rocjitsu/tests/big_int_test.cpp
  emulation/rocjitsu/tests/cdna5_execution_test.cpp
Due: none

[rocjitsu] Harden packed U64 execution validation
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/packed.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_packed_codegen.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/operand.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/operand.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/scalar_operand_selectors.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/operand.h
  emulation/rocjitsu/lib/util/include/util/big_int.h
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/big_int_test.cpp
  emulation/rocjitsu/tests/cdna5_execution_test.cpp
Due: none

[rocjitsu] Execute packed U64 add and subtract.
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/__init__.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/packed.py
  emulation/rocjitsu/lib/python/amdisa/semantics.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_packed_codegen.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_sema_derive.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/execution_backend.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/execution_backend_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/scalar_operand_resolve.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/scalar_operand_selectors.h
  emulation/rocjitsu/tests/cdna5_execution_test.cpp
  emulation/rocjitsu/tests/register_access_test.cpp
  shared/machine-readable-isa/isa/amdgpu_isa_cdna5_variants.json
Due: .azuredevops/rocm_ci_caller.yml

fix(consan): advance sampled epochs in barrier-only kernels
  emulation/rocjitsu/docs/consan/DESIGN.md
  emulation/rocjitsu/docs/consan/benchmark/STATUS_GFX950.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/modes/sampled/consan_moi_sampled_sync.inc
  emulation/rocjitsu/tests/patch/consan/moi_sampled_test.cpp
Due: none

Fixes
  projects/rocprof-trace-decoder/source/rocprof_trace_decoder.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/threadtrace.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/sqtt_builder.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/kfd_resource.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Review comments
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/hsa_util.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/hsa_util.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/kfd_resource.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/producer_consumer.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.cpp
  projects/rocprofiler-sdk/tests/thread-trace/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Remove CP_DMA
  projects/rocprofiler-sdk/source/docs/how-to/using-thread-trace.rst
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/kfd_resource.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/kfd_resource.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/kfd_resource_test.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix flushes
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/sqtt_builder.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/kfd_resource.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

feat(rocprofiler-sdk): Use KFD for memory allocations and copy in thread trace
  projects/rocprofiler-sdk/cmake/FindNUMA.cmake
  projects/rocprofiler-sdk/source/docs/how-to/using-thread-trace.rst
  projects/rocprofiler-sdk/source/lib/aqlprofile/aql_profile_v2.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/memorymanager.hpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/aql_profile_v2_tests.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/memorymanager_tests.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/threadtrace.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/agent.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/agent.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/aql/packet_construct.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/aql/packet_construct.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/hsa.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/platform/agent.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/platform/gnulinux/agent.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/platform/wsl/agent.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/agent.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/hsa_util.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/hsa_util.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/kfd_resource.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/kfd_resource.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/att_packet_test.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/kfd_resource_test.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/local_context.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/producer_consumer.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.hpp
  projects/rocprofiler-sdk/tests/rocprofv3/advanced-thread-trace/CMakeLists.txt
  projects/rocprofiler-sdk/tests/thread-trace/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fixes
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/kfd_resource.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Remove findnuma
  projects/rocprofiler-sdk/cmake/FindNUMA.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rocr: Fix out-of-bounds access in hsa_amd_signal_wait_any
  projects/rocr-runtime/rocrtst/common/utils_test/CMakeLists.txt
  projects/rocr-runtime/rocrtst/common/utils_test/signal_wait_multi_test.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocr: Fix condition/value misalignment and wait-any value-slot contract violation in signal wait-multiple
  projects/rocr-runtime/rocrtst/common/utils_test/signal_wait_multi_test.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocr: Move signal wait-multiple regression tests into rocrtst64
  projects/rocr-runtime/rocrtst/common/utils_test/CMakeLists.txt
  projects/rocr-runtime/rocrtst/common/utils_test/signal_wait_multi_test.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Initial implementation of monitor thread
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Remove dead environment variables and dependent tests, address comments, add test
  projects/rocprofiler-sdk/samples/external_correlation_id_request/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/queue_interposition.cpp
  projects/rocprofiler-sdk/tests/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/hip-graph-forkjoin/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/hip-graph-forkjoin/hip-graph-forkjoin.cpp
  projects/rocprofiler-sdk/tests/hip-graph-forkjoin-deadlock/CMakeLists.txt
  projects/rocprofiler-sdk/tests/hip-graph-forkjoin-deadlock/conftest.py
  projects/rocprofiler-sdk/tests/hip-graph-forkjoin-deadlock/pytest.ini
  projects/rocprofiler-sdk/tests/hip-graph-forkjoin-deadlock/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix introduced race conditions, refactoring
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.hpp
  projects/rocprofiler-sdk/tests/bin/hip-graph-forkjoin/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/hip-graph-forkjoin/hip-graph-forkjoin.cpp
  projects/rocprofiler-sdk/tests/hip-graph-forkjoin-deadlock/CMakeLists.txt
  projects/rocprofiler-sdk/tests/hip-graph-forkjoin-deadlock/conftest.py
  projects/rocprofiler-sdk/tests/hip-graph-forkjoin-deadlock/pytest.ini
  projects/rocprofiler-sdk/tests/hip-graph-forkjoin-deadlock/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Made monitor a static object instead of allocating with new
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix shutdown ordering issue
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
  projects/rocprofiler-sdk/tests/hip-graph-forkjoin-deadlock/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix copilot comment
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix finalization possible hang bug
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix TOCTOU bug with shutdown
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Small refactoring/renaming
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Minor fix of signal issue
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml
