Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Add unit tests for amd_dbgapi_set_memory_precision
  projects/rocdbgapi/test/unit/memory_io_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add unit tests for workgroup, aql_dispatch and displaced-stepping objects
  projects/rocdbgapi/test/unit/aql_dispatch_test.cpp
  projects/rocdbgapi/test/unit/breakpoint_test.cpp
  projects/rocdbgapi/test/unit/displaced_stepping_api_test.cpp
  projects/rocdbgapi/test/unit/displaced_stepping_test.cpp
  projects/rocdbgapi/test/unit/versioning_test.cpp
  projects/rocdbgapi/test/unit/workgroup_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add unit tests for memory, register and watchpoint APIs
  projects/rocdbgapi/test/unit/memory_test.cpp
  projects/rocdbgapi/test/unit/register_test.cpp
  projects/rocdbgapi/test/unit/watchpoint_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

Fix uint64 overflow in workgroup_t::xfer_local_memory bounds check
  projects/rocdbgapi/src/workgroup.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rocprofiler-sdk): log tool lifecycle traces at info, not warning (#11370) (#11735)
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(rocprofiler-sdk): Fix time-window bounds and out-of-range handling for rocpd
  projects/rocprofiler-sdk/CHANGELOG.md
  projects/rocprofiler-sdk/source/lib/python/rocpd/__main__.py
  projects/rocprofiler-sdk/source/lib/python/rocpd/csv.py
  projects/rocprofiler-sdk/source/lib/python/rocpd/otf2.py
  projects/rocprofiler-sdk/source/lib/python/rocpd/pftrace.py
  projects/rocprofiler-sdk/source/lib/python/rocpd/query.py
  projects/rocprofiler-sdk/source/lib/python/rocpd/summary.py
  projects/rocprofiler-sdk/source/lib/python/rocpd/time_window.py
  projects/rocprofiler-sdk/tests/common/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocpd/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocpd/pytest.ini
  projects/rocprofiler-sdk/tests/rocpd/test_time_window.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fill hip domains
  projects/rocprofiler-systems/source/lib/backends/rocprofiler_sdk/backend.hpp
  projects/rocprofiler-systems/source/lib/backends/rocprofiler_sdk/tests/mock_sdk.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hip/compiler_api.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hip/runtime_api.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/domain_registry.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/mock_domain_service.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add more unit tests
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/common_tracing_callbacks.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hip/tests/test_compiler_api.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hip/tests/test_runtime_api.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hsa/tests/test_amd_ext_api.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hsa/tests/test_core_api.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hsa/tests/test_finalize_ext_api.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hsa/tests/test_image_ext_api.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/tests/test_common_tracing_callbacks.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/mock_domain_service.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add common tracing callbacks
  projects/rocprofiler-systems/source/lib/policies/rocprofiler-sdk/domain_service/backend.hpp
  projects/rocprofiler-systems/source/lib/policies/rocprofiler-sdk/domain_service/externals.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/common_tracing_callbacks.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hip/compiler_api.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hip/runtime_api.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hsa/amd_ext_api.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hsa/core_api.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hsa/finalize_ext_api.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hsa/image_ext_api.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/tests/test_common_tracing_callbacks.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/mock_domain_service.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fill HSA domains
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hip/tests/test_compiler_api.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hip/tests/test_runtime_api.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hsa/amd_ext_api.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hsa/core_api.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hsa/finalize_ext_api.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hsa/image_ext_api.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hsa/tests/test_amd_ext_api.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hsa/tests/test_core_api.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hsa/tests/test_finalize_ext_api.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/hsa/tests/test_image_ext_api.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/domain_registry.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/mock_domain_service.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add const qualifiers and fix missing/unused includes
  projects/rocprofiler-systems/source/lib/core/output/process_tree.cpp
  projects/rocprofiler-systems/source/lib/core/output/registry.cpp
  projects/rocprofiler-systems/source/lib/core/output/summary_writer.cpp
  projects/rocprofiler-systems/source/lib/core/output/tests/process_tree_tests.cpp
  projects/rocprofiler-systems/source/lib/core/output/tests/registry_tests.cpp
  projects/rocprofiler-systems/source/lib/core/output/tests/summary_writer_tests.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/cached_perfetto_session.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/cached_perfetto_session.hpp
  projects/rocprofiler-systems/source/lib/core/perfetto/log_filter.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/sinks/single_file_sink.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/tests/test_perfetto_sinks.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/cache_manager.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/post_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_unified_memory_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/unified_memory_processor.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix rebase
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Decompose over-complex functions in the output-summary module
  projects/rocprofiler-systems/source/lib/core/output/summary_writer.cpp
  projects/rocprofiler-systems/source/lib/core/output/tests/registry_tests.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Admit PC sampling into kernel replay as an extra pass
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Clarify kernel replay collection contracts
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Define native collector boundaries for kernel replay
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Restructure kernel replay design into tables and diagrams
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Clarify kernel replay design narrative and requirements
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Track cache validity in kernel replay open questions
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Simplify kernel replay dispatch filtering
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Clarify kernel replay admission flow
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Clarify remaining kernel replay design questions
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Rewrite kernel replay design in plain language
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Refine kernel replay design presentation
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Simplify kernel replay architecture and requirements
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Clarify kernel replay design and result ownership
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

failure fix
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Define kernel replay architecture and contracts
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Limit kernel replay to native collection
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Streamline kernel replay design scope and validation
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

update
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

open questions
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Updated mermaid
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

design update 1
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

Update requirements
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

validation
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

remove excessive data
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

design update
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

caveat removal
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml

kernel dispatch
  projects/rocprofiler-compute/docs/design/hld-kernel-replay.md
Due: .azuredevops/rocm_ci_caller.yml
