Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

net-ib: add FifoPressureSenderFast test
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add MixedSizeBarrage test
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add test infrastructure (StressTests harness)
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/transport/NetIbMPI/NetIbMPITestBase.hpp
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add LongRunningEndurance test
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add ConcurrentMultiConnectionStress test
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add GpuMemoryTransferStress test
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add NullCommClose test
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add feature-unit-testing skill
  projects/rccl/.claude/skills/feature-unit-testing/SKILL.md
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add RapidRecvPostDrain test
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add MemoryRegistrationStorm test
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add stress test runner configs
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
  projects/rccl/tools/scripts/test_runner/configs/net_ib_transport.json
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add BidirectionalMultiRank test
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add MrCacheRefCount test
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add BidirectionalSaturation test
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add MultiQpSplitDataStress test
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add AllToAllStress test
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add FanOutStress test
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add ConnectionBatchCreateDestroy test
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Fix stale gfx1151 panel hash in .config_hashes.json
  projects/rocprofiler-compute/src/utils/.config_hashes.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

ubuntu 22
  .github/workflows/rocprofiler-systems-code-coverage.yml
Due: none

[clr][hipGraph] Pre-allocate signal pool at instantiate; live-dispatch reset kernel
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/clr/rocclr/device/rocm/rocblit.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
Due: .azuredevops/rocm_ci_caller.yml

Revert "Revert \"[hipGraph] Add graph signal pool and remove pre/post markers for non-AQL-captured nodes\" (#5333)" (#5951)
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.hpp
  projects/clr/rocclr/platform/command.cpp
  projects/clr/rocclr/platform/command.hpp
Due: .azuredevops/rocm_ci_caller.yml

[clr] Add persistent contiguous signal buffer for GPU-side graph signal reset
  projects/clr/rocclr/device/blitcl.cpp
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/clr/rocclr/device/rocm/rocblit.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/utils/flags.hpp
Due: .azuredevops/rocm_ci_caller.yml

[clr] Add GPU reset kernel for graph signal pool reuse
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/rocclr/device/blitcl.cpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/clr/rocclr/device/rocm/rocblit.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
  projects/clr/rocclr/device/rocm/rocrctx.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.hpp
  projects/clr/rocclr/platform/command.cpp
  projects/clr/rocclr/platform/command.hpp
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Fix stale gfx1151 panel hash in .config_hashes.json (#6105)
  projects/rocprofiler-compute/src/utils/.config_hashes.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rccl: add port recovery unit tests and fix failover test compatibility
  projects/rccl/test/transport/NetIbMPI/FaultInjectTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

rccl: add missing sentData flag initialization in net_ib_cast
  projects/rccl/src/transport/net_ib_cast/p2p.cc
Due: .azuredevops/rocm_ci_caller.yml

rccl: force disable QP scheduling if resiliency is enabled in net_ib_cast
  projects/rccl/src/transport/net_ib_cast/init.cc
Due: .azuredevops/rocm_ci_caller.yml

rccl: add extra checks for prepost bookkeeping in net_ib_cast
  projects/rccl/src/transport/net_ib_cast/p2p.cc
Due: .azuredevops/rocm_ci_caller.yml

rccl: fix net_ib_cast request matching when resiliency is enabled
  projects/rccl/src/transport/net_ib_cast/p2p.cc
Due: .azuredevops/rocm_ci_caller.yml

rccl: add port failover unit tests
  projects/rccl/src/transport/net_ib_cast/net_ib_cast_inspect.h
  projects/rccl/src/transport/net_ib_cast/net_ib_fault_inject.h
  projects/rccl/src/transport/net_ib_cast/p2p.cc
  projects/rccl/src/transport/net_ib_cast/p2p_resiliency.cc
  projects/rccl/src/transport/net_ib_cast/p2p_resiliency_cast.h
  projects/rccl/src/transport/net_ib_cast/scheduler.cc
  projects/rccl/test/transport/NetIbMPI/FaultInjectTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

rccl: add missing htobe32 to net_ib_cast
  projects/rccl/src/transport/net_ib_cast/p2p.cc
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Updated default formatting targets
  emulation/rocjitsu/scripts/clang_format.sh
Due: none

introduce control::subscriber and atomic-cached is_active() in session
  projects/rocprofiler-systems/source/lib/core/control/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/control/session.cpp
  projects/rocprofiler-systems/source/lib/core/control/session.hpp
  projects/rocprofiler-systems/source/lib/core/control/subscriber.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/roctx_client.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/test_roctx_client.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

introduce core/control/session and drop tim::* from constraint.cpp
  projects/rocprofiler-systems/source/lib/core/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/constraint.cpp
  projects/rocprofiler-systems/source/lib/core/control/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/control/session.cpp
  projects/rocprofiler-systems/source/lib/core/control/session.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/roctx_client.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/roctx_client.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/test_roctx_client.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

add time_window trigger template and session::is_active_excluding query
  projects/rocprofiler-systems/source/lib/core/control/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/control/session.cpp
  projects/rocprofiler-systems/source/lib/core/control/session.hpp
  projects/rocprofiler-systems/source/lib/core/control/triggers/time_window.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

switch session vote map to value-based vote_entry snapshots
  projects/rocprofiler-systems/source/lib/core/control/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/control/session.cpp
  projects/rocprofiler-systems/source/lib/core/control/session.hpp
  projects/rocprofiler-systems/source/lib/core/control/vote_entry.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

extract roctx state into a single trigger participating in control::session
  projects/rocprofiler-systems/source/lib/core/control/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/control/session.cpp
  projects/rocprofiler-systems/source/lib/core/control/session.hpp
  projects/rocprofiler-systems/source/lib/core/control/trigger.hpp
  projects/rocprofiler-systems/source/lib/core/control/triggers/roctx.cpp
  projects/rocprofiler-systems/source/lib/core/control/triggers/roctx.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/roctx_client.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/roctx_client.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/test_roctx_client.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml
