Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

reorder public API elements
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/experimental/kernel_replay.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

add unit-test for replay lifecycle callback phases
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/replay_callbacks.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/replay_phases.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

refactor(consan): make inline table oracles test-owned
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_report_helpers.h.inc
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
  emulation/rocjitsu/tests/patch/consan/consan_inline_model_test_support.h
Due: none

feat(rocjitsu): the ingress a timing model is driven through
  emulation/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/timing/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/timing/trace_event.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/timing/trace_plugin.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/timing/trace_plugin.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/timing/trace_source.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/timing/trace_source.h
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/timing/trace_source_test.cpp
  emulation/rocjitsu/tools/CMakeLists.txt
  emulation/rocjitsu/tools/rocjitsu/CMakeLists.txt
Due: none

fix(rocprofiler-sdk): realign the replay ABI order tests with the reordered payload
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/replay_abi.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

docs(rocprofiler-sdk): pin the per-pass scoping of replay user_data
  projects/rocprofiler-sdk/samples/kernel_replay/basic_client_with_user_data.cpp
  projects/rocprofiler-sdk/source/docs/how-to/using-kernel-replay.rst
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/experimental/kernel_replay.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

feat(ci): bump TheRock ref to `648a501` (2026-09-02, includes TheRock#7820)
  .github/workflows/media-libs-ci.yml
  .github/workflows/rccl-ci.yml
  .github/workflows/rccl-suite.yml
  .github/workflows/therock-build-linux.yml
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-rccl-ci-linux.yml
  .github/workflows/therock-rccl-test-jax-collective.yml
  .github/workflows/therock-rccl-test-packages-multi-node.yml
  .github/workflows/therock-rccl-test-packages-single-node.yml
  .github/workflows/therock-rccl-test-pytorch-distributed.yml
  .github/workflows/therock-rccl-test-rocprof.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

refactor(consan): localize mode report contracts
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow_report_contract.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_record_replay_report_contract.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_report_contract.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_report_helpers.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_report_layout.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_report_contract.h.inc
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
  emulation/rocjitsu/tests/patch/consan/consan_record_replay_model_test_support.cpp
  emulation/rocjitsu/tests/patch/consan/consan_report_test_support.h
  emulation/rocjitsu/tests/patch/consan/moi_inline_atomic_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_inline_shadow_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_record_replay_model_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_record_replay_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_sampled_test.cpp
Due: none

[rocjitsu] Add support for packed V_PK_LSHL_ADD_U64 execution. (#10665)
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/__init__.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/packed.py
  emulation/rocjitsu/lib/python/amdisa/semantics.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_packed_codegen.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_sema_derive.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/execution_backend.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/execution_backend_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/wavefront.h
  emulation/rocjitsu/tests/cdna5_execution_test.cpp
  shared/machine-readable-isa/isa/amdgpu_isa_cdna5_variants.json
Due: .azuredevops/rocm_ci_caller.yml

docs(rocprofiler-sdk): correct two replay contract claims the code does not honor
  projects/rocprofiler-sdk/source/docs/conceptual/kernel_replay/kernel_replay_callback_api.md
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/experimental/kernel_replay.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rocjitsu] Execute packed U64 add and subtract.
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/__init__.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/packed.py
  emulation/rocjitsu/lib/python/amdisa/semantics.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_packed_codegen.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_sema_derive.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/execution_backend.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/execution_backend_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/scalar_operand_resolve.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/scalar_operand_selectors.h
  emulation/rocjitsu/tests/cdna5_execution_test.cpp
  emulation/rocjitsu/tests/register_access_test.cpp
  shared/machine-readable-isa/isa/amdgpu_isa_cdna5_variants.json
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Harden packed U64 execution validation
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/packed.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_packed_codegen.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/operand.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/operand.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/scalar_operand_selectors.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/operand.h
  emulation/rocjitsu/lib/util/include/util/big_int.h
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/big_int_test.cpp
  emulation/rocjitsu/tests/cdna5_execution_test.cpp
Due: none

refactor(consan): select one runtime mode analysis
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_inline_shadow_report_analyzer.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_record_replay_report_analyzer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_record_replay_report_analyzer.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_analyzer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_analyzer.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_pipeline.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_renderer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_renderer.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_sampled_report_analyzer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_sampled_report_analyzer.h
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
Due: none

refactor(consan): harvest dormant report evidence
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_decoder.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_decoder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_renderer.cpp
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
Due: none

refactor(consan): discriminate decoded mode evidence
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_inline_shadow_report_decoder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_record_replay_report_analyzer.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_record_replay_report_decoder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_analyzer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_analyzer.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_decoder.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_decoder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_renderer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_sampled_report_analyzer.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_sampled_report_decoder.h
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
Due: none

refactor(consan): localize replay report compaction
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_record_replay_report_decoder.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_decoder.cpp
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
Due: none

docs(amdsmi): report chip_rev_id without decoding the stepping
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/docs/reference/amdsmi-py-api.md
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/tests/python/unit/gpu/test_asic_info_layout.py
Due: .azuredevops/rocm_ci_caller.yml

fix(hip-tests): Fix test failure from Unit_hipExtModuleLaunchKernel_C… (#10899)
  projects/hip-tests/catch/unit/module/CMakeLists.txt
  projects/hip-tests/catch/unit/module/hipExtModuleLaunchKernel.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(clr): Fix a hip-test failure from hipMemSetAccessHostDevice_hosta… (#10020)
  projects/clr/hipamd/src/hip_vm.cpp
Due: .azuredevops/rocm_ci_caller.yml

refactor(consan): localize inline report decoding
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_inline_shadow_report_decoder.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_inline_shadow_report_decoder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_decoder.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_decoder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_renderer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_sampled_report_decoder.h
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
Due: none

refactor(consan): localize sampled report decoding
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_decoder.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_sampled_report_decoder.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_sampled_report_decoder.h
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
Due: none

[rocjitsu] Reject unavailable gfx1251 private aperture sources.
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/operand.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/operand.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/operand.h
  emulation/rocjitsu/lib/util/include/util/big_int.h
  emulation/rocjitsu/tests/big_int_test.cpp
  emulation/rocjitsu/tests/cdna5_execution_test.cpp
Due: none

refactor(consan): finish replay decoder ownership
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_record_replay_report_decoder.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_record_replay_report_decoder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_decoder.cpp
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
Due: none

docs(consan): record mode-owned report decoding
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
Due: none

fix(rocjitsu): round FMA mix BF16 results to nearest even
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/packed.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_packed_codegen.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p_exec.cpp
  emulation/rocjitsu/tests/cdna5_execution_test.cpp
Due: none

fix(rocjpeg samples): link with pthreads in jpegDecodeAsync and jpegDecodeBatchedAsync (#11065)
  projects/rocjpeg/samples/jpegDecodeAsync/CMakeLists.txt
  projects/rocjpeg/samples/jpegDecodeBatchedAsync/CMakeLists.txt
  projects/rocjpeg/samples/jpegDecodePerf/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

refactor(consan): localize runtime report rendering
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_inline_shadow_report_renderer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_inline_shadow_report_renderer.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_record_replay_report_renderer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_record_replay_report_renderer.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_renderer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_renderer.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_report_rendering.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_sampled_report_renderer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_moi_sampled_report_renderer.h
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
Due: none

docs(consan): record active-mode report rendering
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
Due: none

refactor(consan): publish selected prologue policy
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_atomic.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_mode_planning.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_mode_planning.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_prologue.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_prologue.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_sync.inc
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
  emulation/rocjitsu/tests/patch/consan/moi_mode_planning_test.cpp
Due: none

docs(consan): record selected prologue policy
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
Due: none

fix(rccl): add missing GIN GDA replacement header to SRC_FILES
  projects/rccl/src/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

refactor(consan): size prologues from emission plans
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_prologue.cpp
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
Due: none

docs(consan): record emission-owned prologue sizing
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
Due: none

fix(rccl): [gin/gda] copy rocshmem_config.h into tree during build
  projects/rccl/cmake/ROCSHMEM.cmake
  projects/rccl/src/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Addressing the comments
  projects/rccl/CMakeLists.txt
  projects/rccl/install.sh
  projects/rccl/src/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): add_dependencies(device_linker_build copy_rocshmem_headers)
  projects/rccl/cmake/DeviceLinker.cmake
Due: .azuredevops/rocm_ci_caller.yml

refactor(consan): retain record runtime gate plans
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_record_replay.inc
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
Due: none

docs(consan): record retained record gate plans
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
Due: none

docs(rccl): [gin/gda] add log.hpp to documented replacement headers
  projects/rccl/src/include/nccl_device/gin/rocshmem_gda/README.headers.md
Due: .azuredevops/rocm_ci_caller.yml

fix(rocjitsu): honor FP round mode for BF16 FMA mix
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/packed.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_packed_codegen.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p_exec.cpp
  emulation/rocjitsu/lib/util/include/util/data_types.h
  emulation/rocjitsu/tests/cdna5_execution_test.cpp
  emulation/rocjitsu/tests/data_types_test.cpp
Due: none
