Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Fix segment overflow when p_filesz exceeds p_memsz during load.
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[rocprofiler-compute] Fix PC sampling panel dropped in mixed analyze runs
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_webui.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/analysis_tui.py
  projects/rocprofiler-compute/src/utils/file_io.py
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/src/utils/utils_common.py
  projects/rocprofiler-compute/tests/test_pc_sampling.py
  projects/rocprofiler-compute/tests/test_pc_sampling_analysis.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

touch cpp file
  projects/hipfile/src/amd_detail/batch/batch.cpp
Due: .azuredevops/rocm_ci_caller.yml

Revert single-node Test step changes to match develop
  .github/workflows/therock-rccl-test-packages-single-node.yml
Due: none

changes to force sync mode od generation of output files of live attach detach
  projects/rocprofiler-compute/src/pc_sampling/pc_sampling_profile.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprof_v3.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprofiler_sdk.py
  projects/rocprofiler-compute/tests/test_pc_sampling_profile.py
  projects/rocprofiler-compute/tests/test_profiler_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

extend test to ensure excluded kernels are not recorded
  projects/rocprofiler-sdk/tests/rocprofv3/counter-collection/pmc-selected-regions/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

resolve legacy support comments
  projects/rocprofiler-compute/src/utils/gui.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

improvements
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/src/utils/gui.py
  projects/rocprofiler-compute/src/utils/tty.py
  projects/rocprofiler-compute/src/utils/utils_analysis.py
  projects/rocprofiler-compute/tests/test_metric_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

init
  projects/rocprofiler-compute/docs/how-to/analyze/cli.rst
  projects/rocprofiler-compute/docs/tutorial/includes/occupancy-limiters-example.rst
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx115x/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx115x/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/1100_compute_units_compute_pipeline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx90a/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx90a/1100_compute_units_compute_pipeline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx940/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx940/1100_compute_units_compute_pipeline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/1100_compute_units_compute_pipeline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/1100_compute_units_compute_pipeline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx950/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx950/1100_compute_units_compute_pipeline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/panel_config_template.yaml
  projects/rocprofiler-compute/src/rocprof_compute_tui/utils/gfx942/3200_gpu_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_tui/utils/gfx942/3300_compute_throughput.yaml
  projects/rocprofiler-compute/src/rocprof_compute_tui/utils/gfx942/3400_memory_throughput.yaml
  projects/rocprofiler-compute/src/rocprof_compute_tui/utils/gfx950/3200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_tui/utils/gfx950/3300_compute_throughput.yaml
  projects/rocprofiler-compute/src/rocprof_compute_tui/utils/gfx950/3400_memory_throughput.yaml
  projects/rocprofiler-compute/src/utils/.config_hashes.json
  projects/rocprofiler-compute/src/utils/gui.py
  projects/rocprofiler-compute/src/utils/metrics/evaluation_pipeline.py
  projects/rocprofiler-compute/src/utils/tty.py
  projects/rocprofiler-compute/src/utils/utils_common.py
  projects/rocprofiler-compute/tests/test_analysis_db.py
  projects/rocprofiler-compute/tests/test_metric_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

amdsmi(wheel): move the wheel fallback-flip into tools/disable_system_fallback.py so CMake invokes it as clean args instead of a space-mangled inline python -c that broke the manylinux build.
  projects/amdsmi/py-interface/CMakeLists.txt
  projects/amdsmi/tools/disable_system_fallback.py
Due: .azuredevops/rocm_ci_caller.yml

Revert "[rocprofiler-compute] Disable gfx1151 dual-issue VALU counter collection (#6176)"
  projects/rocprofiler-compute/docs/conceptual/rdna/system-speed-of-light.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/wgp.rst
  projects/rocprofiler-compute/docs/data/metrics/gfx115x_metrics.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx115x/0700_workgroup_processor.yaml
  projects/rocprofiler-compute/src/utils/.config_hashes.json
  projects/rocprofiler-compute/tools/per_arch_metric_definitions/gfx115x_metrics_description.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Adding rocshmem_ prefix to ensure the symbols won't conflict with other libraries
  projects/rocshmem/src/api_trace.cc
Due: .azuredevops/rocm_ci_caller.yml

fix rebase conflict
  projects/clr/hipamd/include/hip/amd_detail/hip_prof_str.h
Due: .azuredevops/rocm_ci_caller.yml

Apply suggestions from code review
  projects/clr/hipamd/src/hip_code_object.hpp
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Address review: keep counter-path default, tidy tests
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_webui.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/analysis_tui.py
  projects/rocprofiler-compute/src/utils/utils_common.py
  projects/rocprofiler-compute/tests/test_pc_sampling.py
  projects/rocprofiler-compute/tests/test_pc_sampling_analysis.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocjitsu: address rdna kmd review follow-ups
  emulation/rocjitsu/configs/amdgpu_rdna3_gfx1100_w7900_kmd.json
  emulation/rocjitsu/configs/amdgpu_rdna4_gfx1201_r9700_kmd.json
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/amdgpu_properties.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/interposer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_driver.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/sysfs.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/sysfs.h
  emulation/rocjitsu/lib/util/include/util/bit.h
  emulation/rocjitsu/tests/config_test.cpp
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
  emulation/rocjitsu/tests/shared_infra_test.cpp
Due: none

update rst
  projects/rocprofiler-compute/docs/conceptual/rdna/wgp.rst
Due: .azuredevops/rocm_ci_caller.yml

docs(amdsmi): add GPU reset page
  projects/amdsmi/docs/conceptual/gpu-reset-behavior.md
  projects/amdsmi/docs/how-to/amdsmi-cli-tool.md
  projects/amdsmi/docs/index.md
  projects/amdsmi/docs/sphinx/_toc.yml.in
Due: .azuredevops/rocm_ci_caller.yml

docs(amdsmi_docs.css): fix code font in headings
  projects/amdsmi/docs/static/amdsmi_docs.css
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Assert PC sampling warnings via mocked console_warning
  projects/rocprofiler-compute/tests/test_pc_sampling_analysis.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Document load_pc_sampling_results parse-failure None
  projects/rocprofiler-compute/src/utils/file_io.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

bisect V1: extsem plumbing + ABI/table wiring (no profiler, no rocclr)
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmt.h
  projects/rocr-runtime/libhsakmt/src/dxg/extsem.cpp
  projects/rocr-runtime/libhsakmt/src/dxg/librocdxg.ver
  projects/rocr-runtime/libhsakmt/src/extsem.c
  projects/rocr-runtime/libhsakmt/src/libhsakmt.ver
  projects/rocr-runtime/runtime/hsa-runtime/core/common/hsa_table_interface.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/kfd/amd_kfd_driver.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_kfd_driver.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/driver.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/hsa_ext_amd_impl.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/thunk_loader.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_api_trace.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/thunk_loader.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hsacore.dll.def
  projects/rocr-runtime/runtime/hsa-runtime/hsacore.so.def
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_api_trace.h
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_api_trace_version.h
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_ext_amd.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

bisect V3: V2 + rocclr VirtualGPU::submitExternalSemaphoreCmd (gated)
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.hpp
Due: .azuredevops/rocm_ci_caller.yml

bisect V4: V3 + CI libdir pin (= full #6632 content on 7f7642c2)
  .github/actions/rocprofiler-sdk-util/action.yml
Due: none

bisect V2: V1 + rocprofiler-sdk wiring (step 0x0F/0x10)
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hsa/amd_ext_api_id.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hsa/api_args.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/abi.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/hsa.def.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

add brief note describing ROCR_VISIBLE_DEVICES
  projects/amdsmi/docs/conceptual/gpu-reset-behavior.md
Due: .azuredevops/rocm_ci_caller.yml

Add back gpu label for nightly
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

[RCCL] Add proxytrace profiler plugin and core proxy-diag hooks (#7137)
  projects/rccl/CMakeLists.txt
  projects/rccl/plugins/profiler/README.md
  projects/rccl/plugins/profiler/proxytrace/.gitignore
  projects/rccl/plugins/profiler/proxytrace/CMakeLists.txt
  projects/rccl/plugins/profiler/proxytrace/Makefile
  projects/rccl/plugins/profiler/proxytrace/README.md
  projects/rccl/plugins/profiler/proxytrace/proxytrace_plugin.cc
  projects/rccl/plugins/profiler/proxytrace/proxytrace_plugin_log.h
  projects/rccl/plugins/profiler/proxytrace/proxytrace_plugin_shim.h
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/commDump.cc
  projects/rccl/src/enqueue.cc
  projects/rccl/src/include/plugin/nccl_profiler.h
  projects/rccl/src/include/plugin/profiler/profiler_v6.h
  projects/rccl/src/include/profiler.h
  projects/rccl/src/include/proxy.h
  projects/rccl/src/include/proxy_diag_counters.h
  projects/rccl/src/include/proxy_trace/proxy_trace.h
  projects/rccl/src/init.cc
  projects/rccl/src/misc/proxy_trace/proxy_trace.cc
  projects/rccl/src/plugin/profiler.cc
  projects/rccl/src/plugin/profiler/profiler_v5.cc
  projects/rccl/src/plugin/profiler/profiler_v6.cc
  projects/rccl/src/proxy.cc
  projects/rccl/src/transport/net.cc
  projects/rccl/test/proxy_trace/ProxyTraceUnitTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

ci: bump TheRock ref to c90e6caf (#7261)
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-nightly.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

use HIP_TEST_CASE instead of TEST_CASE
  projects/hip-tests/catch/unit/module/hipModuleGetLoadingMode.cc
Due: .azuredevops/rocm_ci_caller.yml

feat(rocprof-sys): add unified memory output path (#7267)
  projects/rocprofiler-systems/CHANGELOG.md
  projects/rocprofiler-systems/docs/how-to/configuring-runtime-options.rst
  projects/rocprofiler-systems/docs/how-to/unified-memory-profiling.rst
  projects/rocprofiler-systems/source/bin/common/json_config.cpp
  projects/rocprofiler-systems/source/bin/common/presets/schema.json
  projects/rocprofiler-systems/source/bin/common/tests/test_json_config.cpp
  projects/rocprofiler-systems/source/lib/common/env_vars.hpp
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_unified_memory_processor.cpp
  projects/rocprofiler-systems/tests/pytest/test_binaries.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

ci: bump TheRock ref to 300c0928
  .github/workflows/therock-ci-linux.yml
Due: none

ci: bump TheRock ref to 300c0928
  .github/workflows/therock-ci.yml
Due: none

ci: bump TheRock ref to 300c0928
  .github/workflows/therock-ci-windows.yml
Due: none

ci: bump TheRock ref to 300c0928
  .github/workflows/therock-ci-nightly.yml
Due: none

ci: bump TheRock ref to 300c0928
  .github/workflows/therock-test-component.yml
Due: none

ci: bump TheRock ref to 300c0928
  .github/workflows/therock-test-packages.yml
Due: none

HIP_RUNTIME_API_TABLE_STEP_VERSION change to 31
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
Due: .azuredevops/rocm_ci_caller.yml

Use min(underlying_type,promoted_type) for invalid enums.
  projects/hipfile/test/amd_detail/batch/batch.cpp
  projects/hipfile/test/common/invalid-enum.h
Due: .azuredevops/rocm_ci_caller.yml

bisect V0: extsem plumbing only, no ABI/profiler/rocclr (#7239 content on #6632 base)
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmt.h
  projects/rocr-runtime/libhsakmt/src/dxg/extsem.cpp
  projects/rocr-runtime/libhsakmt/src/dxg/librocdxg.ver
  projects/rocr-runtime/libhsakmt/src/extsem.c
  projects/rocr-runtime/libhsakmt/src/libhsakmt.ver
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/kfd/amd_kfd_driver.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_kfd_driver.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/driver.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/hsa_ext_amd_impl.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/thunk_loader.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/thunk_loader.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
