Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Add rocpd-api test
  projects/rocprofiler-sdk/tests/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/rocpd-api-test/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/rocpd-api-test/rocpd-api-test.cpp
  projects/rocprofiler-sdk/tests/rocpd-api/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocpd-api/conftest.py
  projects/rocprofiler-sdk/tests/rocpd-api/pytest.ini
  projects/rocprofiler-sdk/tests/rocpd-api/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Update therock_matrix.py
  .github/scripts/therock_matrix.py
Due: none

Update therock-ci-windows.yml
  .github/workflows/therock-ci-windows.yml
Due: none

Apply suggestion from @Copilot
  .github/labeler.yml
Due: none

[RCCL-tests] [UT] Rerun failed tests with delay to handle intermittent test failures
  projects/rccl-tests/test/test_AllGather.py
  projects/rccl-tests/test/test_AllReduce.py
  projects/rccl-tests/test/test_Broadcast.py
  projects/rccl-tests/test/test_Reduce.py
  projects/rccl-tests/test/test_ReduceScatter.py
  projects/rccl-tests/test/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml

Test
  projects/hip/cmake/FindHIP/run_hipcc.cmake
Due: .azuredevops/rocm_ci_caller.yml

skip multiproc tests
  projects/hip-tests/catch/hipTestMain/config/config_amd_linux
Due: .azuredevops/rocm_ci_caller.yml

Update BNXT paths after rebase on develop branch
  projects/rocshmem/src/gda/bnxt/queue_pair_bnxt.cpp
  projects/rocshmem/src/gda/context_gda_tmpl_device.hpp
  projects/rocshmem/src/gda/queue_pair.cpp
  projects/rocshmem/src/gda/queue_pair.hpp
Due: .azuredevops/rocm_ci_caller.yml

Clean up IONIC WQE paths after rebase on develop branch
  projects/rocshmem/src/gda/ionic/queue_pair_ionic.cpp
  projects/rocshmem/src/gda/queue_pair.cpp
  projects/rocshmem/src/gda/queue_pair.hpp
Due: .azuredevops/rocm_ci_caller.yml

Add space
  .github/labeler.yml
Due: none

gda/topology: recognize virtual P2P links
  projects/rocshmem/src/gda/topology.cpp
Due: .azuredevops/rocm_ci_caller.yml

Code formatting suggestions by copilot
  projects/rocshmem/src/gda/topology.cpp
Due: .azuredevops/rocm_ci_caller.yml

change var names from snake case to camel case
  projects/rocshmem/src/gda/topology.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add subcasing for gda providers
  projects/rocshmem/scripts/functional_tests/driver.sh
Due: .azuredevops/rocm_ci_caller.yml

Fix memory leak due on external memory
  projects/clr/hipamd/src/hip_memory.cpp
Due: .azuredevops/rocm_ci_caller.yml

[AIRUNTIME-89][CLR] Fix a typo for hipInfo
  projects/clr/rocclr/device/pal/paldevice.cpp
Due: .azuredevops/rocm_ci_caller.yml

Fix NIC device path query by skipping realpath resolution for net paths
  projects/cuid/lib/src/cuid.cc
Due: .azuredevops/rocm_ci_caller.yml

GPU device path fix
  projects/cuid/lib/src/cuid.cc
Due: .azuredevops/rocm_ci_caller.yml

Fix CUID file lookup by loading files before searching entries
  projects/cuid/lib/src/cuid_device_manager.cc
Due: .azuredevops/rocm_ci_caller.yml

Update therock-ci-linux.yml
  .github/workflows/therock-ci-linux.yml
Due: none

Remove deprecated gfxIpLevel from PAL
  projects/clr/rocclr/device/pal/palcounters.cpp
  projects/clr/rocclr/device/pal/paldevice.cpp
  projects/clr/rocclr/device/pal/paldevice.hpp
  projects/clr/rocclr/device/pal/palsettings.cpp
Due: .azuredevops/rocm_ci_caller.yml

Adding fix for CI trigger
  .github/scripts/tests/therock_configure_ci_test.py
  .github/scripts/therock_configure_ci.py
Due: none

PLAT-194496 - Improve Stress_hipMalloc_HighSizeAlloc reliability
  projects/hip-tests/catch/stress/memory/CMakeLists.txt
  projects/hip-tests/catch/stress/memory/hipMalloc.cc
Due: .azuredevops/rocm_ci_caller.yml

add back bit-reversal for multi-node
  projects/rccl/src/include/device.h
Due: .azuredevops/rocm_ci_caller.yml

protect canonical path using error code
  projects/rocshmem/src/gda/topology.cpp
Due: .azuredevops/rocm_ci_caller.yml

add test
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
Due: none

Re-added back external correaltion change from unordered_map to vector after finding signficiant evidence that it improved performance in vllm workloads
  projects/rocprofiler-sdk/source/lib/common/utility.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/dispatch_handlers.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/sample_processing.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/async_copy.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/memory_allocation.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/pc_sampling/hsa_adapter.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tracing/fwd.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tracing/tracing.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix initialization & finalize for examples
  projects/rocshmem/examples/rocshmem_allreduce_test.cc
  projects/rocshmem/examples/rocshmem_alltoall_test.cc
  projects/rocshmem/examples/rocshmem_broadcast_test.cc
  projects/rocshmem/examples/rocshmem_getmem_test.cc
  projects/rocshmem/examples/rocshmem_put_signal_test.cc
  projects/rocshmem/examples/util.h
Due: .azuredevops/rocm_ci_caller.yml

add missed rocprofiler sdk table offsets
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
  projects/clr/hipamd/src/hip_api_trace.cpp
Due: .azuredevops/rocm_ci_caller.yml

revert whitespace change
  projects/rocshmem/examples/util.h
Due: .azuredevops/rocm_ci_caller.yml

Update config_amd_linux
  projects/hip-tests/catch/hipTestMain/config/config_amd_linux
Due: .azuredevops/rocm_ci_caller.yml

minor text fixes
  projects/rocprofiler-sdk/source/docs/how-to/using-rocpd-output-format.rst
  projects/rocprofiler-sdk/source/lib/python/rocpd/README.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Adding logging
  .github/scripts/therock_configure_ci.py
Due: none

fix merge conflicts
  projects/clr/hipamd/src/hip_platform.hpp
Due: .azuredevops/rocm_ci_caller.yml

set mutable argument
  projects/rocshmem/src/gda/topology.cpp
Due: .azuredevops/rocm_ci_caller.yml

Update therock_configure_ci.py
  .github/scripts/therock_configure_ci.py
Due: none

Update CMakeLists.txt
  projects/rocdbgapi/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

fix Instance func name change
  projects/clr/hipamd/src/hip_module.cpp
Due: .azuredevops/rocm_ci_caller.yml

Fix ring buffer logic
  projects/clr/rocclr/utils/debug.cpp
Due: .azuredevops/rocm_ci_caller.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
