Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

incorporate review comment
  projects/rocprofiler-systems/source/lib/common/tests/test_remove_env.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add ghc/filesystem submodule v1.5.14 for portable C++17 filesystem support
  .gitmodules
  projects/rocprofiler-systems/source/lib/common/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

use filesystem API instead of std::system for safer cleanup
  projects/rocprofiler-systems/source/lib/common/tests/filesystem.hpp
  projects/rocprofiler-systems/source/lib/common/tests/test_discover_llvm_libdir.cpp
  projects/rocprofiler-systems/source/lib/common/tests/test_path.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix: add cmake/GhcFilesystem.cmake for CI submodule auto-checkout
  projects/rocprofiler-systems/cmake/GhcFilesystem.cmake
  projects/rocprofiler-systems/cmake/Packages.cmake
  projects/rocprofiler-systems/source/lib/common/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

incorporate review comments specific to tests formatting
  projects/rocprofiler-systems/source/lib/common/tests/test_discover_llvm_libdir.cpp
  projects/rocprofiler-systems/source/lib/common/tests/test_path.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

SWDEV-570501 - Roll back Linux Memory::createInteropBuffer
  projects/clr/rocclr/device/rocm/rocglinterop_windows.cpp
  projects/clr/rocclr/device/rocm/rocmemory.cpp
Due: .azuredevops/rocm_ci_caller.yml

Removed Python Symlink Logic
  projects/amdsmi/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

update readme.md
  projects/rocprofiler-compute/tools/config_management/README.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocr: Fix asyncHandler segfault
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Fix shutdown order: clear signal/event pools before destroying agents
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Fix HSA runtime shutdown ordering and add rocprofiler-sdk attach/detach state reset
  projects/rocprofiler-sdk/source/lib/common/string_entry.cpp
  projects/rocprofiler-sdk/source/lib/common/string_entry.hpp
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocr-runtime.yml

Add fini_status to correlation ID ref count warning message
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/context/correlation_id.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Remove unused g_hiprtcInitlock variable
  projects/clr/hipamd/src/hiprtc/hiprtcInternal.hpp
Due: .azuredevops/rocm_ci_caller.yml

Fix correlation ID reference count race condition with CAS loop
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/context/correlation_id.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix sanitizer issues and improve suppression configuration
  projects/rocprofiler-sdk/source/lib/output/generatePerfetto.cpp
  projects/rocprofiler-sdk/source/lib/python/rocpd/source/perfetto.cpp
  projects/rocprofiler-sdk/source/scripts/address-sanitizer-suppr.txt
  projects/rocprofiler-sdk/source/scripts/run-ci.py
  projects/rocprofiler-sdk/source/scripts/thread-sanitizer-suppr.txt
  projects/rocprofiler-sdk/source/scripts/undef-behavior-sanitizer-suppr.txt
  projects/rocprofiler-sdk/tests/thread-trace/agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix clang-format-11 formatting in rocprofiler-sdk sources
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/context/correlation_id.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix AsyncEventsLoop constructor race: initialize events before control
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Fix attachment tests PRELOAD configuration for sanitizers
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-once/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-twice/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Temporarily disable navi3/navi4 and code coverage CI jobs
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Fix CSV/JSON test matching by adding correlation_id to sort key
  projects/rocprofiler-sdk/tests/pytest-packages/tests/rocprofv3.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix double-free race in thread-trace agent test
  projects/rocprofiler-sdk/tests/thread-trace/agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix stale hsa_signals pointer in AsyncEventsLoop causing SEGV
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Disable cpp CodeQL analysis in rocprofiler-sdk workflow
  .github/workflows/rocprofiler-sdk-codeql.yml
Due: none

Move CloseTools() after SharedSignalPool and EventPool cleanup
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Remove get_block_counters_compare_v1 test and v1_get_block_counters helper
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/aql/tests/helpers.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Apply clang-format-11 to registration.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix queue signal slot race, multithread test, HIPRTC lock, and HSA blit kernel
  projects/clr/hipamd/src/hiprtc/hiprtcInternal.hpp
  projects/rocprofiler-sdk/external/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/tests/bin/module-loading-test/main.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_blit_kernel.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocr-runtime.yml

Fix ROCPROFILER_METRICS_PATH to use build directory instead of install prefix
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/aql/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/parser/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Move correlation_id_finalize after set_fini_status(1)
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Disable attachment tests for LeakSanitizer
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-once/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-twice/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Revert ROCPROFILER_METRICS_PATH to use CMAKE_INSTALL_PREFIX
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/aql/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/parser/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add bash leak suppression for LSAN
  projects/rocprofiler-sdk/source/scripts/leak-sanitizer-suppr.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Apply clang-format-11 to perfetto.cpp files
  projects/rocprofiler-sdk/source/lib/output/generatePerfetto.cpp
  projects/rocprofiler-sdk/source/lib/python/rocpd/source/perfetto.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Disable Python tests for all sanitizers and add LSAN suppressions
  projects/rocprofiler-sdk/source/scripts/leak-sanitizer-suppr.txt
  projects/rocprofiler-sdk/tests/rocprofv3-avail/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix library stripping and further clean up
  projects/rocprofiler-systems/cmake/DyninstTBB.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Change iter method for finding supported codes
  projects/amdsmi/tests/amd_smi_test/test_common.h
Due: .azuredevops/rocm_ci_caller.yml

Revert name change for compute rhel workflow
  .github/workflows/rocprofiler-compute-rhel-8.yml
Due: none

update path naming
  .github/workflows/rocprofiler-compute-rhel-8.yml
Due: none

Remove binutils-gold from Dockerfile.opensuse.ci
  projects/rocprofiler-compute/docker/Dockerfile.opensuse.ci
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml
