Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Adding TempRead to test blacklist (#3051)
  projects/amdsmi/tests/amd_smi_test/amdsmitst.exclude
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-systems] Fix for Perfetto flow events (#3111)
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_processor.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fix FindTBB version lookup logic (#3113)
  projects/rocprofiler-systems/cmake/Modules/FindTBB.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Disable Direct Reduce Scatter if PXN is disabled (#3077)
  projects/rccl/src/rccl_wrap.cc
Due: .azuredevops/rocm_ci_caller.yml

rocr-runtime: fix segfault when queue allocation fails (#2850)
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocrtst: Enable rocrtstPerf.Memory_Async_Copy emu (#3080)
  projects/rocr-runtime/rocrtst/suites/performance/memory_async_copy.cc
  projects/rocr-runtime/rocrtst/suites/performance/memory_async_copy.h
  projects/rocr-runtime/rocrtst/suites/performance/memory_async_copy_numa.cc
  projects/rocr-runtime/rocrtst/suites/performance/memory_async_copy_on_engine.cc
  projects/rocr-runtime/rocrtst/suites/test_common/main.cc
  projects/rocr-runtime/rocrtst/suites/test_common/test_case_template.cc
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix shutdown ordering race condition, prevent use-after-free crash (#3004)
  projects/rccl/src/include/alloc.h
  projects/rccl/src/init.cc
Due: .azuredevops/rocm_ci_caller.yml

Add workload specific presets for easier and faster profiling (#2592)
  projects/rocprofiler-systems/CHANGELOG.md
  projects/rocprofiler-systems/README.md
  projects/rocprofiler-systems/docs/how-to/using-preset-profiles.rst
  projects/rocprofiler-systems/source/bin/common/common_utils.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-run/CMakeLists.txt
  projects/rocprofiler-systems/source/bin/rocprof-sys-run/impl.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-sample/CMakeLists.txt
  projects/rocprofiler-systems/source/bin/rocprof-sys-sample/impl.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/tests/CMakeLists.txt
  projects/rocprofiler-systems/tests/rocprof-sys-preset-tests.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fix merging perfetto files from cached data when multiple mpi rangs are available (#3115)
  projects/rocprofiler-systems/CHANGELOG.md
  projects/rocprofiler-systems/source/lib/core/trace_cache/cache_manager.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Implement details reading
  projects/rocstorage/include/reader.hpp
  projects/rocstorage/include/reader_types.hpp
  projects/rocstorage/source/data_storage/read_statements.hpp
  projects/rocstorage/source/json_serializers.cpp
  projects/rocstorage/source/json_serializers.hpp
  projects/rocstorage/source/reader.cpp
  projects/rocstorage/source/reader_impl.cpp
  projects/rocstorage/source/reader_impl.hpp
  projects/rocstorage/tests/unit/json_serializer_test.cpp
  projects/rocstorage/tests/unit/reader_test.cpp
  projects/rocstorage/tests/unit/rocpd.db
Due: .azuredevops/rocm_ci_caller.yml

[SWDEV-531904] SMI API Code Coverage python
  projects/amdsmi/tests/python_unittest/unit_tests.py
Due: .azuredevops/rocm_ci_caller.yml

Remove some lint errors
  projects/amdsmi/tests/python_unittest/unit_tests.py
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-546322 Implement hipMipmappedArrayGetMemoryRequirements
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
  projects/clr/hipamd/include/hip/amd_detail/hip_prof_str.h
  projects/clr/hipamd/src/amdhip.def
  projects/clr/hipamd/src/hip_api_trace.cpp
  projects/clr/hipamd/src/hip_conversions.hpp
  projects/clr/hipamd/src/hip_hcc.map.in
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/hipamd/src/hip_table_interface.cpp
  projects/hip-tests/catch/unit/texture/hipMipmappedArrayGetMemoryRequirements.cc
  projects/hip/include/hip/hip_runtime_api.h
  projects/hipother/hipnv/include/hip/nvidia_detail/nvidia_hip_runtime_api.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/api_args.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/runtime_api_id.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/abi.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/details/format.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/hip.def.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Update projects/rocprofiler-systems/docs/how-to/communication-runtime-profiling.rst
  projects/rocprofiler-systems/docs/how-to/communication-runtime-profiling.rst
Due: .azuredevops/rocm_ci_caller.yml

Update install.rst
  projects/rocprofiler-systems/docs/install/install.rst
Due: .azuredevops/rocm_ci_caller.yml

BLOB schema implementation
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/data_views.sql
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/rocpd_tables.sql
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/rocpd_views.sql
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Restore explicit type.
  projects/clr/hipamd/src/hip_event.cpp
Due: .azuredevops/rocm_ci_caller.yml

updated the changelog to have the right versions
  projects/rocdecode/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

updated the github link
  projects/rocdecode/docs/index.rst
Due: .azuredevops/rocm_ci_caller.yml

Fix for App not found
  .github/workflows/rocm_ci_caller.yml
Due: none

review comment incorporated
  projects/rocprofiler-systems/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-sdk] Set stop packet signal to callback_data.completion (#3109)
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/device_counting.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Enable SPIRV for hip-tests
  projects/hip-tests/catch/CMakeLists.txt
  projects/hip-tests/catch/README.md
  projects/hip-tests/catch/hipTestMain/CMakeLists.txt
  projects/hip-tests/catch/hipTestMain/config/config_amd_linux
  projects/hip-tests/catch/hipTestMain/hip_test_context.cc
  projects/hip-tests/catch/unit/atomics/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Disable "BigSysBufferStressTest" on gfx12
  projects/rocr-runtime/libhsakmt/tests/kfdtest/scripts/kfdtest.exclude
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

update contributing.md
  projects/rocprofiler-compute/CONTRIBUTING.md
  projects/rocprofiler-compute/src/argparser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Rework output
  projects/amdsmi/tests/python_unittest/common.py
  projects/amdsmi/tests/python_unittest/integration_test.py
  projects/amdsmi/tests/python_unittest/unit_tests.py
Due: .azuredevops/rocm_ci_caller.yml

Cherry pick de8012aa7a (PR #3044), rocrtst: Disabled NUMA async copy build
  projects/rocr-runtime/rocrtst/suites/performance/memory_async_copy_numa.cc
  projects/rocr-runtime/rocrtst/suites/performance/memory_async_copy_numa.h
  projects/rocr-runtime/rocrtst/suites/test_common/CMakeLists.txt
  projects/rocr-runtime/rocrtst/suites/test_common/main.cc
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

updated 7.2.1 changelog and link to repo
  projects/rocjpeg/CHANGELOG.md
  projects/rocjpeg/docs/index.rst
Due: .azuredevops/rocm_ci_caller.yml

pytest fixed
  projects/rocprofiler-compute/src/utils/inject_roctx.py
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Removing differing columns (between rocpd and csv runs)
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Ruff fixes
  projects/rocprofiler-compute/src/utils/inject_roctx.py
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Further removal of differing columns.
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Revert "hsakmt: bump vgpr count for gfx1151 (#1807) (#1986)" (#2811)
  projects/rocr-runtime/libhsakmt/src/queues.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Further column correction
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix lint issue
  projects/amdsmi/tests/python_unittest/common.py
Due: .azuredevops/rocm_ci_caller.yml

Fix static --csv failing to print
  projects/amdsmi/amdsmi_cli/amdsmi_commands.py
Due: .azuredevops/rocm_ci_caller.yml

update changelog and add tests
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/tests/test_misc.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Profile data is cached and accessed by analyze pytest.
  projects/rocprofiler-compute/tests/test_analyze_commands.py
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Ruff fix.
  projects/rocprofiler-compute/tests/test_analyze_commands.py
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add specialization for int8 envvar reading
  projects/rocshmem/src/envvar.hpp
Due: .azuredevops/rocm_ci_caller.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
