Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

[aqlprofile][rocprofiler-sdk] Fix clang-format-11 formatting
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/agent.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/aql/aql_profile_v2.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/tests/dimension.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/tests/evaluate_ast_test.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add xref to hipInfo
  projects/rocminfo/docs/index.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml

Fix BF16 MFMA test on gfx90a
  projects/rocprofiler-compute/src/utils/benchmark.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-sdk] Add GPU-free unit tests for aqlprofile agent registration and coordinate decomposition
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/aql/aql_profile_v2.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/tests/dimension.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[SWDEV-556456] Align HIP_UUID with rocminfo
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/rocm_smi/include/rocm_smi/rocm_smi.h
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
  projects/amdsmi/src/amd_smi/amd_smi.cc
Due: .azuredevops/rocm_ci_caller.yml

Fix cuMem multi-process runs
  projects/rccl/src/transport/p2p.cc
Due: .azuredevops/rocm_ci_caller.yml

Updated rocSHMEM submodule to include alltoallv support
  projects/rccl/cmake/ROCSHMEM.cmake
Due: .azuredevops/rocm_ci_caller.yml

add GDA alltoallv kernel
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/device/alltoallv_gda.h
  projects/rccl/src/device/generate.py
  projects/rccl/src/enqueue.cc
  projects/rccl/src/include/device.h
  projects/rccl/src/include/nccl_common.h
  projects/rccl/src/init.cc
Due: .azuredevops/rocm_ci_caller.yml

Remove redundant comments
  projects/rocprofiler-compute/src/utils/benchmark.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

invoke rocshmem_alltoallv from rccl
  projects/rccl/src/collectives.cc
  projects/rccl/src/device/alltoallv_gda.h
  projects/rccl/src/enqueue.cc
  projects/rccl/src/include/comm.h
  projects/rccl/src/init.cc
  projects/rccl/src/rccl_wrap.cc
Due: .azuredevops/rocm_ci_caller.yml

Limit nChannels to 1 for GDA kernels
  projects/rccl/src/enqueue.cc
Due: .azuredevops/rocm_ci_caller.yml

extend GDA alltoallv support till 512MB
  projects/rccl/src/collectives.cc
  projects/rccl/src/enqueue.cc
  projects/rccl/src/include/comm.h
  projects/rccl/src/init.cc
Due: .azuredevops/rocm_ci_caller.yml

add comments and fix white spaces
  projects/rccl/src/collectives.cc
  projects/rccl/src/device/generate.py
  projects/rccl/src/init.cc
Due: .azuredevops/rocm_ci_caller.yml

fix sizeassignment
  projects/rccl/src/enqueue.cc
  projects/rccl/src/include/comm.h
  projects/rccl/src/init.cc
Due: .azuredevops/rocm_ci_caller.yml

address reviews
  projects/rccl/src/collectives.cc
  projects/rccl/src/device/alltoall_gda.h
  projects/rccl/src/device/alltoallv_gda.h
  projects/rccl/src/device/generate.py
  projects/rccl/src/enqueue.cc
  projects/rccl/src/include/device.h
  projects/rccl/src/include/nccl_common.h
  projects/rccl/src/include/rccl_common.h
  projects/rccl/src/init.cc
  projects/rccl/src/rccl_wrap.cc
Due: .azuredevops/rocm_ci_caller.yml

allocate per task sizes
  projects/rccl/src/collectives.cc
  projects/rccl/src/enqueue.cc
  projects/rccl/src/include/comm.h
Due: .azuredevops/rocm_ci_caller.yml

Fix AlltoAllv GDA metadata lifetime by making sizes per-task
  projects/rccl/src/collectives.cc
  projects/rccl/src/enqueue.cc
  projects/rccl/src/include/comm.h
  projects/rccl/src/include/info.h
  projects/rccl/src/init.cc
Due: .azuredevops/rocm_ci_caller.yml

Add missing AlltoAllvGda entry to ncclFuncStr table
  projects/rccl/tools/topo_expl/utils.cpp
Due: .azuredevops/rocm_ci_caller.yml

[ROCM-SMI] Fix DRM include dirs leaking absolute build paths to consumers
  projects/rocm-smi-lib/CMakeLists.txt
  projects/rocm-smi-lib/oam/CMakeLists.txt
  projects/rocm-smi-lib/rocm_smi-config.cmake.in
  projects/rocm-smi-lib/rocm_smi/CMakeLists.txt
Due: .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml

Add SPM Enable flag in build infrastructure
  projects/rocprofiler-sdk/cmake/Modules/rocprofiler-sdk-utilities.cmake
  projects/rocprofiler-sdk/cmake/Templates/rocprofiler-sdk-tests/config.cmake.in
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Changes: - Improved the naming of tests in verbose mode - Reordered the parametrized order of the rccl tests to improve naming
  projects/rocprofiler-systems/tests/pytest/conftest.py
  projects/rocprofiler-systems/tests/pytest/test_rccl.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[aqlprofile] Address PR review feedback: std::array, strnlen, logical-to-physical WGP mapping
  projects/aqlprofile/src/core/counter_dimensions.hpp
  projects/aqlprofile/src/core/pm4_factory.cpp
  projects/aqlprofile/src/pm4/pmc_builder.h
Due: .azuredevops/rocm_ci_caller.yml

rocshmem: add `ROCSHMEM_TEAM_WORLD` to hipmodule_init_tester
  projects/rocshmem/tests/functional_tests/hipmodule_init_tester.cpp
Due: .azuredevops/rocm_ci_caller.yml

Include copilot suggestions
  projects/rocshmem/CHANGELOG.md
  projects/rocshmem/docs/api/coll.rst
  projects/rocshmem/include/rocshmem/rocshmem_common.hpp
  projects/rocshmem/src/rocshmem_gpu.cpp
Due: .azuredevops/rocm_ci_caller.yml

rocshmem: Improve ROCSHMEM_TEAM_WORLD initialization consistency and API naming
  projects/rocshmem/include/rocshmem/rocshmem_common.hpp
  projects/rocshmem/src/gda/backend_gda.cpp
  projects/rocshmem/src/ipc/backend_ipc.cpp
  projects/rocshmem/src/reverse_offload/backend_ro.cpp
  projects/rocshmem/src/rocshmem_gpu.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add documentation for `rocshmem_barrier*` APIs
  projects/rocshmem/docs/api/coll.rst
Due: .azuredevops/rocm_ci_caller.yml

rocshmem: Add barrier APIs and expose `ROCSHMEM_TEAM_WORLD` on device
  projects/rocshmem/include/rocshmem/rocshmem_COLL.hpp
  projects/rocshmem/include/rocshmem/rocshmem_common.hpp
  projects/rocshmem/src/gda/backend_gda.cpp
  projects/rocshmem/src/ipc/backend_ipc.cpp
  projects/rocshmem/src/reverse_offload/backend_ro.cpp
  projects/rocshmem/src/rocshmem_gpu.cpp
  projects/rocshmem/src/team.cpp
Due: .azuredevops/rocm_ci_caller.yml

rocshmem: extend hipmodule_init to copy `ROCSHMEM_TEAM_WORLD` and refactor symbol copy
  projects/rocshmem/include/rocshmem/rocshmem_common.hpp
  projects/rocshmem/src/rocshmem_gpu.cpp
Due: .azuredevops/rocm_ci_caller.yml

Update `CHANGELOG` to include newly added APIs
  projects/rocshmem/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

Add GFX11 unit tests for asymmetric WGP coordinate decoding
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/tests/dimension.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

refactor: Make YAML tag macros optional via preprocessor flag
  projects/hip-tests/catch/include/hip_test_common.hh
Due: .azuredevops/rocm_ci_caller.yml

refactor: Use Catch2 tag macros in interop tests
  projects/hip-tests/catch/unit/gl_interop/hipGLContextSwitch.cc
  projects/hip-tests/catch/unit/gl_interop/hipGLGetDevices.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsGLRegisterBuffer.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsGLRegisterImage.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsMapResources.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsResourceGetMappedPointer.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsSubResourceGetMappedArray.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsUnmapResources.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsUnregisterResource.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipDestroyExternalMemory.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipDestroyExternalSemaphore.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipExternalMemoryGetMappedBuffer.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipExternalMemoryGetMappedMipmappedArray.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipGraphAddExternalSemaphoresSignalNode.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipGraphAddExternalSemaphoresWaitNode.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipGraphExecExternalSemaphoresSignalNodeSetParams.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipGraphExecExternalSemaphoresWaitNodeSetParams.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipGraphExternalSemaphoresSignalNodeGetParams.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipGraphExternalSemaphoresSignalNodeSetParams.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipGraphExternalSemaphoresWaitNodeGetParams.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipGraphExternalSemaphoresWaitNodeSetParams.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipImportExternalMemory.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipImportExternalSemaphore.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipSignalExternalSemaphoresAsync.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipWaitExternalSemaphoresAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

Revert "refactor: Use Catch2 tag macros in interop tests"
  projects/hip-tests/catch/unit/gl_interop/hipGLContextSwitch.cc
  projects/hip-tests/catch/unit/gl_interop/hipGLGetDevices.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsGLRegisterBuffer.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsGLRegisterImage.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsMapResources.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsResourceGetMappedPointer.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsSubResourceGetMappedArray.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsUnmapResources.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsUnregisterResource.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipDestroyExternalMemory.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipDestroyExternalSemaphore.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipExternalMemoryGetMappedBuffer.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipExternalMemoryGetMappedMipmappedArray.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipGraphAddExternalSemaphoresSignalNode.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipGraphAddExternalSemaphoresWaitNode.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipGraphExecExternalSemaphoresSignalNodeSetParams.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipGraphExecExternalSemaphoresWaitNodeSetParams.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipGraphExternalSemaphoresSignalNodeGetParams.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipGraphExternalSemaphoresSignalNodeSetParams.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipGraphExternalSemaphoresWaitNodeGetParams.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipGraphExternalSemaphoresWaitNodeSetParams.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipImportExternalMemory.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipImportExternalSemaphore.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipSignalExternalSemaphoresAsync.cc
  projects/hip-tests/catch/unit/vulkan_interop/hipWaitExternalSemaphoresAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

Internal timer
  projects/clr/hipamd/include/hip/amd_detail/hip_internal_timer.hpp
  projects/clr/hipamd/src/CMakeLists.txt
  projects/clr/hipamd/src/hip_hcc.map.in
  projects/clr/hipamd/src/hip_internal_timer.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add enqueue timing
  projects/clr/rocclr/cmake/ROCclr.cmake
  projects/clr/rocclr/platform/command.cpp
Due: .azuredevops/rocm_ci_caller.yml

Corrected the AI NIC documentation, now that AI NIC support is enabled by default
  projects/rocprofiler-systems/docs/how-to/nic-profiling.rst
Due: .azuredevops/rocm_ci_caller.yml

Fully enable cache bypass access for Simple/LL/LL128
  projects/rccl/src/device/op128.h
  projects/rccl/src/device/prims_ll.h
  projects/rccl/src/device/rccl_ptr.h
  projects/rccl/src/include/device.h
Due: .azuredevops/rocm_ci_caller.yml

Update windows ci subtree in include amdgpu-windows-interop
  .github/scripts/therock_matrix.py
Due: none
