Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

rocjitsu: link DBT guest config into translator tools
  emulation/rocjitsu/tools/CMakeLists.txt
  emulation/rocjitsu/tools/gfx1250_semantics/CMakeLists.txt
Due: none

rocjitsu: stabilize simulator DBT e2e validation
  emulation/rocjitsu/configs/gfx1201_functional.json
  emulation/rocjitsu/configs/guest_gfx1250_on_simulated_gfx1201.json
  emulation/rocjitsu/docs/rocjitsu_dbt_guest.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.h
  emulation/rocjitsu/tests/config_test.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
Due: none

Address more comments
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/interposer.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
Due: none

Address comments
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/config/dbt_guest_config.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/interposer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/completion_tracker.cpp
Due: none

rocjitsu: normalize DBT guest AQL for hardware
  emulation/rocjitsu/lib/rocjitsu/external_headers/hsa_headers/hsa/hsa_api_trace_minimal.h
  emulation/rocjitsu/lib/rocjitsu/external_headers/hsa_headers/hsa/hsa_ext_amd_minimal.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/gfx1250_to_rdna4.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbt_hooks.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/aql_packet_normalizer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/aql_packet_normalizer.h
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/aql_packet_normalizer_test.cpp
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
  emulation/rocjitsu/tools/gfx1250_semantics/run_dbt_corpus.py
Due: none

refactor
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna3_emitter.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna3_emitter.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna3_lds.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna3_scratch.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_cdna3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_cdna3_virtual_lds.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic_scratch.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic_scratch.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/translation_rule.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/virtual_lds_abi.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_text_layout.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_text_layout.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/spill_manager.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/spill_manager.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/private_segment_allocator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbt_hooks.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
Due: none

rocjitsu: enforce per-workgroup LDS address limit
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/dispatch_entry.h
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
Due: none

rocjitsu: reconcile DBT simulator with virtual LDS import
  emulation/rocjitsu/lib/rocjitsu/external_headers/hsa_headers/hsa/hsa_api_trace_minimal.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/liveness.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/basic_block.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbt_hooks.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/interposer.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/analysis/liveness_test.cpp
  emulation/rocjitsu/tests/dbt/cdna4_to_cdna3_dispatch_test.cpp
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
  emulation/rocjitsu/tests/kernels/CMakeLists.txt
Due: none

rocjitsu: propagate simulator queue errors
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/aql_queue.h
Due: none

Revert "refactor"
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/lds_virtualization.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna3_emitter.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna3_emitter.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna3_lds.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna3_scratch.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_cdna3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic_scratch.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic_scratch.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/translation_rule.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/virtual_lds_abi.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_text_layout.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_text_layout.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/spill_manager.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/spill_manager.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/private_segment_allocator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbt_hooks.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
Due: none

[rocjitsu][nfc] replace hardcoded constants with generated constants (#7953)
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_cdna3.cpp
Due: none

Revert "rocjitsu: reconcile DBT simulator with virtual LDS import"
  emulation/rocjitsu/lib/rocjitsu/external_headers/hsa_headers/hsa/hsa_api_trace_minimal.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/liveness.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/basic_block.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/config/config_loader.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbt_hooks.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/interposer.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/analysis/liveness_test.cpp
  emulation/rocjitsu/tests/dbt/cdna4_to_cdna3_dispatch_test.cpp
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
  emulation/rocjitsu/tests/kernels/CMakeLists.txt
Due: none

rocjitsu: preserve ELF alignment during metadata growth
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
Due: none

rocjitsu: reconcile DBT branch with develop APIs
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_cdna3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_cdna3_virtual_lds.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/config/dbt_guest_config.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/interposer.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
Due: none

refactor
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna3_emitter.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna3_emitter.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna3_lds.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna3_scratch.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_cdna3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_cdna3_virtual_lds.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic_scratch.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic_scratch.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/translation_rule.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/virtual_lds_abi.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_text_layout.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_text_layout.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/spill_manager.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/spill_manager.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/private_segment_allocator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbt_hooks.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
Due: none

rocjitsu: virtualize oversized LDS allocations
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/liveness.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/lds_virtualization.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_cdna3_virtual_lds.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/gfx1250_to_rdna4.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/gfx1250_to_rdna4_virtual_lds.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/gfx1250_to_rdna4_virtual_lds.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_text_layout.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_text_layout.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbt_hooks.cpp
  emulation/rocjitsu/tests/dbt/cdna4_to_cdna3_dispatch_test.cpp
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
  emulation/rocjitsu/tests/dbt/multikernel_indirect_branch_test.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
  emulation/rocjitsu/tools/rocjitsu_translate_code_object.cpp
Due: none

Apply suggestion from @kuhar
  .github/workflows/rocjitsu-corpus-tests.yml
Due: none

ROCM26107-fix mipmap memory leak
  projects/clr/hipamd/src/hip_memory.cpp
  projects/hip-tests/catch/config/configs/unit/memory.yaml
  projects/hip-tests/catch/unit/memory/CMakeLists.txt
  projects/hip-tests/catch/unit/memory/hipMipmappedArrayMemoryLeak.cc
Due: .azuredevops/rocm_ci_caller.yml

chore(rocprofiler-systems): Rename examples to kebab-case (#7897)
  projects/rocprofiler-systems/examples/hpc/README.md
  projects/rocprofiler-systems/examples/hpc/matrix-exponential-streams-sync-hip/CMakeLists.txt
  projects/rocprofiler-systems/examples/hpc/matrix-exponential-streams-sync-hip/mat-exp.cpp
  projects/rocprofiler-systems/examples/hpc/split-copy-compute-hw-queues/CMakeLists.txt
  projects/rocprofiler-systems/examples/hpc/split-copy-compute-hw-queues/compute-comm-overlap.hip
  projects/rocprofiler-systems/examples/openmp/CMakeLists.txt
  projects/rocprofiler-systems/examples/openmp/README.md
  projects/rocprofiler-systems/examples/openmp/cg/CMakeLists.txt
  projects/rocprofiler-systems/examples/openmp/cg/cg.cpp
  projects/rocprofiler-systems/examples/openmp/cg/npbparams.hpp
  projects/rocprofiler-systems/examples/openmp/lu/CMakeLists.txt
  projects/rocprofiler-systems/examples/openmp/lu/lu.cpp
  projects/rocprofiler-systems/examples/openmp/lu/npbparams.hpp
  projects/rocprofiler-systems/examples/roctx/CMakeLists.txt
  projects/rocprofiler-systems/examples/roctx/README.md
  projects/rocprofiler-systems/examples/roctx/pause-resume.cpp
  projects/rocprofiler-systems/examples/roctx/roctx-example-kernels.hpp
  projects/rocprofiler-systems/examples/roctx/selective-region-pause-1.cpp
  projects/rocprofiler-systems/examples/roctx/selective-region-pause-2.cpp
  projects/rocprofiler-systems/examples/roctx/selective-region-pause-3.cpp
  projects/rocprofiler-systems/examples/roctx/selective-region.cpp
  projects/rocprofiler-systems/examples/shmem/CMakeLists.txt
  projects/rocprofiler-systems/examples/shmem/README.md
  projects/rocprofiler-systems/examples/shmem/shmem-hello.c
  projects/rocprofiler-systems/examples/shmem/shmem-pingpong.c
  projects/rocprofiler-systems/tests/pytest/test_selective_regions.py
  projects/rocprofiler-systems/tests/pytest/test_shmem.py
  projects/rocprofiler-systems/tests/shmem_validation_check.sh
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Update ref
  .github/workflows/rocjitsu-corpus-tests.yml
Due: none

clr: preserve invalidated capture status after detach
  projects/clr/hipamd/src/hip_internal.hpp
  projects/clr/hipamd/src/hip_stream.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(libhsakmt): Drop redundant __USE_GNU from hsakmtmodel.c
  projects/rocr-runtime/libhsakmt/src/hsakmtmodel.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Chang 60 to 30
  .github/workflows/rocjitsu-corpus-tests.yml
Due: none

update scanner.l to include fmt/format.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/parser/scanner.l
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

hipfile/cmake: use GIT_TAG or URL_HASH in FetchContent_Declare to verify dependencies
  projects/hipfile/cmake/AISUseGTest.cmake
  projects/hipfile/cmake/AISUseROCmCMake.cmake
Due: .azuredevops/rocm_ci_caller.yml

rocjitsu: make SDMA queue wakeups level-triggered
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/tests/gfx1250_sim_test.cpp
Due: none

Remove dead write-only modules set in instrument main
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/rocprof-sys-instrument.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(rocjpeg): bind VA-API/VCN decode to the requested GPU by PCI BDF (#8404)
  projects/rocjpeg/src/rocjpeg_decoder.cpp
  projects/rocjpeg/src/rocjpeg_vaapi_decoder.cpp
  projects/rocjpeg/src/rocjpeg_vaapi_decoder.h
Due: .azuredevops/rocm_ci_caller.yml

rocr: Fix condition/value misalignment and wait-any value-slot contract violation in signal wait-multiple
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/signal.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocr: Fix out-of-bounds access in hsa_amd_signal_wait_any
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocr: Fix typo and document timeout behavior in signal_wait_all
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix(rocjitsu): authorize DBG_TRAP DISABLE like every other non-self op
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
Due: none

fix(rocjitsu): never trust the client dbg_fd integer in daemon mode
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/rj_vm.cpp
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
Due: none

fix(rocjitsu): require the DBG_TRAP notifier fd to be writable
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
Due: none

rocshmem: add _av targeted-ordering variants
  projects/rocshmem/include/rocshmem/rocshmem.hpp
  projects/rocshmem/include/rocshmem/rocshmem_P2P_SYNC.hpp
  projects/rocshmem/include/rocshmem/rocshmem_RMA.hpp
  projects/rocshmem/src/assembly.hpp
  projects/rocshmem/src/context.hpp
  projects/rocshmem/src/context_device.cpp
  projects/rocshmem/src/context_tmpl_device.hpp
  projects/rocshmem/src/device/rocshmem_wrapper.cc
  projects/rocshmem/src/envvar.cpp
  projects/rocshmem/src/envvar.hpp
  projects/rocshmem/src/gda/context_gda_device.cpp
  projects/rocshmem/src/gda/context_gda_device.hpp
  projects/rocshmem/src/gda/context_gda_tmpl_device.hpp
  projects/rocshmem/src/gda/mlx5/queue_pair_mlx5.cpp
  projects/rocshmem/src/gda/queue_pair.cpp
  projects/rocshmem/src/gda/queue_pair.hpp
  projects/rocshmem/src/ipc/backend_ipc.cpp
  projects/rocshmem/src/ipc/context_ipc_device.cpp
  projects/rocshmem/src/ipc/context_ipc_device.hpp
  projects/rocshmem/src/ipc/context_ipc_tmpl_device.hpp
  projects/rocshmem/src/ipc_policy.hpp
  projects/rocshmem/src/rocshmem_gpu.cpp
  projects/rocshmem/src/util.hpp
Due: .azuredevops/rocm_ci_caller.yml
