Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Refactor time calculation for microseconds
  projects/rocdecode/utils/rocvideodecode/roc_video_dec.h
Due: .azuredevops/rocm_ci_caller.yml

Fix calculation of microseconds from performance counter
  projects/rocdecode/utils/video_demuxer.h
Due: .azuredevops/rocm_ci_caller.yml

chore(rocshmem): drop redundant no-size tile RMA test variants
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/tests/functional_tests/CTestFunctionalTests.cmake
Due: .azuredevops/rocm_ci_caller.yml

feat(rocshmem): wire up max_msg_size in tile RMA tests for size-configurable sweeps
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/tests/functional_tests/CTestFunctionalTests.cmake
  projects/rocshmem/tests/functional_tests/tile_rma_tester.cpp
  projects/rocshmem/tests/functional_tests/tile_rma_tester.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rocshmem): use memcpy_wg for contiguous WG-scope tile transfers
  projects/rocshmem/src/tile_memcpy_device.hpp
Due: .azuredevops/rocm_ci_caller.yml

feat(rocshmem): add row-major and col-major WG variants for tile_put_wg and tile_get_wg
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/tests/functional_tests/CTestFunctionalTests.cmake
  projects/rocshmem/tests/functional_tests/tester.cpp
  projects/rocshmem/tests/functional_tests/tester.hpp
  projects/rocshmem/tests/functional_tests/tile_rma_tester.cpp
Due: .azuredevops/rocm_ci_caller.yml

feat(rocshmem): add row-major and col-major wave variants for tile_put and tile_get
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/tests/functional_tests/CTestFunctionalTests.cmake
  projects/rocshmem/tests/functional_tests/tester.cpp
  projects/rocshmem/tests/functional_tests/tester.hpp
  projects/rocshmem/tests/functional_tests/tile_rma_tester.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rocshmem): rework tile_broadcast wave/wg tests to use per-wave teams and contexts
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/tests/functional_tests/CTestFunctionalTests.cmake
  projects/rocshmem/tests/functional_tests/tile_broadcast_tester.cpp
  projects/rocshmem/tests/functional_tests/tile_broadcast_tester.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rocshmem): rework tile_reduce wave/wg tests to use per-wave teams and contexts
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/tests/functional_tests/CTestFunctionalTests.cmake
  projects/rocshmem/tests/functional_tests/tile_reduce_tester.cpp
  projects/rocshmem/tests/functional_tests/tile_reduce_tester.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rocshmem): rework tile_allgather wave/wg tests to use per-wave teams and contexts
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/tests/functional_tests/CTestFunctionalTests.cmake
  projects/rocshmem/tests/functional_tests/tile_allgather_tester.cpp
  projects/rocshmem/tests/functional_tests/tile_allgather_tester.hpp
Due: .azuredevops/rocm_ci_caller.yml

refactor(rccl): move sym_kernels.cc seams to their canonical fakes file (architecture)
  projects/rccl/test/host/fakes/scheduler_fakes.cc
  projects/rccl/test/host/fakes/scheduler_fakes.h
  projects/rccl/test/host/fakes/sym_kernels_fakes.cc
  projects/rccl/test/host/fakes/sym_kernels_fakes.h
  projects/rccl/test/host/scheduler-test.cc
Due: .azuredevops/rocm_ci_caller.yml

Initial implementation of CE ReduceScatter
  projects/rccl/src/ce_coll.cc
  projects/rccl/src/collectives.cc
  projects/rccl/src/enqueue/enqueue.cc
  projects/rccl/src/include/ce_coll.h
  projects/rccl/src/include/rccl_common.h
  projects/rccl/src/rccl_wrap.cc
  projects/rccl/test/RcclWrapTests.cpp
  projects/rccl/test/host/wrap-test.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(rocDecode): Windows: avoid overflow scaling the perf counter to microseconds
  projects/rocdecode/utils/rocvideodecode/roc_video_dec.h
  projects/rocdecode/utils/video_demuxer.h
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): match GIN-SDMA sources to NCCL 2.31 APIs
  projects/rccl/src/algorithms/gin/sdma/gin_all_reduce_sdma.cu
  projects/rccl/src/algorithms/gin/sdma/gin_alltoall_sdma.cu
  projects/rccl/test/GinAlltoAllEligibilityTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rocDecode): Windows: restore the line continuation in the critical-log macros
  projects/rocdecode/utils/rocvideodecode/roc_video_dec.h
  projects/rocdecode/utils/video_demuxer.h
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): suppress core dumps in expected-crash tests (#11744)
  projects/rccl/test/host/init-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): cover ncclRmaPut in src/rma/rma.cc
  projects/rccl/test/host/fakes/rma_fakes.cc
  projects/rccl/test/host/fakes/rma_fakes.h
  projects/rccl/test/host/rma-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): cover ncclLaunchRma in src/rma/rma.cc
  projects/rccl/test/host/rma-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): cover ncclRmaWaitSignal in src/rma/rma.cc
  projects/rccl/test/host/CMakeLists.txt
  projects/rccl/test/host/fakes/collective_stubs.cc
  projects/rccl/test/host/fakes/dev_runtime_micro_fakes.cc
  projects/rccl/test/host/fakes/hip_fakes.cc
  projects/rccl/test/host/fakes/hip_fakes.h
  projects/rccl/test/host/fakes/rma_fakes.cc
  projects/rccl/test/host/fakes/rma_fakes.h
  projects/rccl/test/host/fakes/utils_fakes.cc
  projects/rccl/test/host/rma-test.cc
  projects/rccl/test/test_categories_micro.yaml
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): cover scheduleRmaTasksToPlan in src/rma/rma.cc
  projects/rccl/test/host/fakes/utils_fakes.cc
  projects/rccl/test/host/rma-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): cover src/rma/rma.cc under non-default debug settings
  projects/rccl/test/host/rma-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): address review feedback on the rma.cc tests
  projects/rccl/test/host/fakes/utils_fakes.cc
  projects/rccl/test/host/rma-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): address the second review pass on the rma.cc tests
  projects/rccl/test/host/rma-test.cc
  projects/rccl/test/test_categories_micro.yaml
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): fix the rma suite pattern so CTest actually labels the tests
  projects/rccl/test/test_categories_micro.yaml
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): address the third review pass on the rma.cc tests
  projects/rccl/test/host/rma-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): address the fourth review pass on the rma.cc tests
  projects/rccl/test/host/rma-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): adapt the rma.cc tests to the NCCL 2.31.2 sync
  projects/rccl/test/host/CMakeLists.txt
  projects/rccl/test/host/dev-runtime-test.cc
  projects/rccl/test/host/fakes/dev_runtime_micro_fakes.cc
  projects/rccl/test/host/fakes/dev_runtime_micro_fakes.h
  projects/rccl/test/host/rma-test.cc
  projects/rccl/test/test_categories_micro.yaml
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): size the RMA proxy test helpers to their rank lists
  projects/rccl/test/host/dev-runtime-test.cc
  projects/rccl/test/host/rma-test.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor(rccl): consolidate repeated scheduler UT helpers and dedupe (consolidation)
  projects/rccl/test/host/CMakeLists.txt
  projects/rccl/test/host/scheduler-test.cc
Due: .azuredevops/rocm_ci_caller.yml

hip-tests: move IPC socket paths to the temp dir and simplify artifact naming
  projects/hip-tests/catch/contract/graph_debug/test_hip_graph_debug_contract.cc
  projects/hip-tests/catch/contract/library_file/test_hip_library_file_contract.cc
  projects/hip-tests/catch/unit/memory/mempool_common.hh
  projects/hip-tests/catch/unit/virtualMemoryManagement/hip_vmm_common.hh
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Harden trap exception routing for ROCr and debuggers
  emulation/rocjitsu/docs/vm-design.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/kfd_process.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/remote_driver.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/remote_driver.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/completion_tracker.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/instruction_compute_unit_view.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/wavefront.h
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
Due: none

[rocjitsu] Fix GCC build of conditional timeout assertion
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
Due: none

[rocjitsu] Clarify trap reset and apply test timeout across XCDs
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/wavefront.h
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
Due: none

[rocjitsu] Clarify exception ownership and shorten timeout tests
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
Due: none

test(rccl): drop the comments flagged in review
  projects/rccl/test/host/fakes/rma_fakes.h
  projects/rccl/test/test_categories_micro.yaml
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Cherry-pick CP-SAT perfmon onto 865 branch.
  projects/rocprofiler-compute/pyproject.toml
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/utils/perfmon_cp_sat.py
  projects/rocprofiler-compute/tests/test_perfmon_cp_sat.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add intermediate ConSan high preset and rename previous level higher
  emulation/rocjitsu/docs/consan/USAGE.md
  emulation/rocjitsu/docs/sphinx/reference/consan.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_hook_config.cpp
  emulation/rocjitsu/tests/consan/CMakeLists.txt
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
Due: none

Share gfx1250 package ownership across bootstrap and kpack
  python/rocm-bootstrap/README.md
  python/rocm-bootstrap/pyproject.toml
  python/rocm-bootstrap/python/rocm_bootstrap/package_metadata.py
  python/rocm-bootstrap/python/rocm_bootstrap/targets.py
  python/rocm-bootstrap/python/rocm_bootstrap/tests/test_detect.py
  python/rocm-bootstrap/python/rocm_bootstrap/tests/test_targets.py
  python/rocm-bootstrap/python/rocm_bootstrap/tests/test_variant_provider.py
  python/rocm-bootstrap/python/rocm_bootstrap/variant_provider.py
  shared/kpack/pyproject.toml
  shared/kpack/python/rocm_kpack/wheel_splitter.py
  shared/kpack/tests/test_wheel_splitter.py
Due: .azuredevops/rocm_ci_caller.yml

Expose tensor DMA geometry to execution observers.
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/tensor_dma.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/tensor_dma_memory_access_observation.h
  emulation/rocjitsu/tests/cdna5_tensor_dma_test.cpp
Due: none

Upgrade the Perfsim adapter to observer ABI v13.
  emulation/rocjitsu/docs/plugins.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/perfsim/README.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/perfsim/observer_abi_v13.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/perfsim/plugin.cpp
  emulation/rocjitsu/tests/perfsim_fake_backend.cpp
  emulation/rocjitsu/tests/perfsim_plugin_test.cpp
Due: none

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
