Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Python Linting fix
  .github/workflows/rocprofiler-systems-python.yml
Due: none

Update rocprofiler-systems workflows
  .github/workflows/rocprofiler-systems-opensuse.yml
  .github/workflows/rocprofiler-systems-redhat.yml
  .github/workflows/rocprofiler-systems-ubuntu-focal.yml
  .github/workflows/rocprofiler-systems-ubuntu-jammy.yml
Due: none

Re-add ubuntu-noble workflow
  .github/workflows/rocprofiler-systems-ubuntu-noble.yml
Due: none

Include .github directory in cpack workflow sparse-checkout step
  .github/workflows/rocprofiler-systems-cpack.yml
Due: none

Retire ubuntu-focal workflow
  .github/workflows/rocprofiler-systems-containers.yml
  .github/workflows/rocprofiler-systems-cpack.yml
  projects/rocprofiler-systems/README.md
  projects/rocprofiler-systems/docker/build-docker-release.sh
  projects/rocprofiler-systems/docker/build-docker.sh
  projects/rocprofiler-systems/docker/test-docker-release.sh
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Revert git from ubuntu ci image
  projects/rocprofiler-systems/docker/Dockerfile.ubuntu.ci
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Update .github/workflows/rocprofiler-systems-python.yml
  .github/workflows/rocprofiler-systems-python.yml
Due: none

Fix python linting
  projects/rocprofiler-systems/source/python/gui/source/gui.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Revert dockerfile
  projects/rocprofiler-systems/docker/Dockerfile.ubuntu.ci
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

SWDEV-543981 Added debug prints
  catch/perftests/memory/hipPerfBufferCopySpeed.cc
Due: none

SWDEV-546345-Added tests for MemsetD2D8, MemsetD2D8Async, MemsetD2D32, MemsetD2D32Async
  catch/unit/memory/CMakeLists.txt
  catch/unit/memory/hipMemsetD2D32.cc
  catch/unit/memory/hipMemsetD2D32Async.cc
  catch/unit/memory/hipMemsetD2D8.cc
  catch/unit/memory/hipMemsetD2D8Async.cc
Due: none

fix an error casued by wrong checking to decide whether to raise error
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

change way of writing condion of checking if mode is in attach
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/utils/utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocminfo: Fix comparison to None
  projects/rocminfo/rocm_agent_enumerator
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml

rocminfo: unset executable flag
  projects/rocminfo/CMakeLists.txt
  projects/rocminfo/cmake_modules/utils.cmake
  projects/rocminfo/rocminfo.cc
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml

fix the issue of not generating output of sdk mode
  projects/rocprofiler-compute/src/utils/utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

add -S argument to cmake --preset command
  .github/workflows/rocprofiler-systems-opensuse-packaging.yml
  .github/workflows/rocprofiler-systems-redhat-packaging.yml
  .github/workflows/rocprofiler-systems-ubuntu-packaging.yml
Due: none

Fix fstring formatting.
  projects/rocprofiler-compute/src/rocprof_compute_tui/views/main_view.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

debug build falures
  .github/workflows/rocprofiler-systems-ubuntu-packaging.yml
Due: none

more build debugging
  .github/workflows/rocprofiler-systems-ubuntu-packaging.yml
Due: none

remove && before running build
  .github/workflows/rocprofiler-systems-ubuntu-packaging.yml
Due: none

addressing review comments
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/agent.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/agent.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/pc_sampling.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/pc_sampling/ioctl/ioctl_adapter.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/pc_sampling/ioctl/ioctl_adapter.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

add back GITHUB_WORKSPACE git command
  .github/workflows/rocprofiler-systems-ubuntu-packaging.yml
Due: none

add -v option to build
  .github/workflows/rocprofiler-systems-ubuntu-packaging.yml
Due: none

Full build test
  projects/hip/README.md
Due: .azuredevops/rocm_ci_caller.yml

Switching from RHEL 8 to RHEL 9
  .github/workflows/aqlprofile-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Switching from RHEL 8 to RHEL 9
  .github/workflows/aqlprofile-continuous_integration.yml
Due: none

Switching from RHEL 8 to RHEL 9
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

fixed ctest failures and updated equations
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx90a/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx940/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx950/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx941.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx942.py
  projects/rocprofiler-compute/src/roofline.py
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/src/utils/tty.py
  projects/rocprofiler-compute/utils/autogen_hash.yaml
  projects/rocprofiler-compute/utils/unified_config.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

formatting
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/roofline.py
  projects/rocprofiler-compute/src/utils/parser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Remove ROCPROFSYS_CI flags, add python3-devel to rhel/opensuse Dockerfiles
  .github/workflows/rocprofiler-systems-opensuse-packaging.yml
  .github/workflows/rocprofiler-systems-redhat-packaging.yml
  .github/workflows/rocprofiler-systems-ubuntu-packaging.yml
  projects/rocprofiler-systems/docker/Dockerfile.opensuse.ci
  projects/rocprofiler-systems/docker/Dockerfile.rhel.ci
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fixing ROCPD for older Python Versions
  projects/rocprofiler-sdk/source/lib/python/rocpd/summary.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Formatting and checking if SQRT is available or not
  projects/rocprofiler-sdk/source/lib/python/rocpd/summary.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

remove python3-devel from opensuse and redhat workflows, add test-install.sh
  .github/workflows/rocprofiler-systems-opensuse-packaging.yml
  .github/workflows/rocprofiler-systems-redhat-packaging.yml
  .github/workflows/rocprofiler-systems-ubuntu-packaging.yml
Due: none

Add agent info to ATT records
  projects/aqlprofile/src/core/threadtrace.cpp
  projects/aqlprofile/src/pm4/sqtt_builder.h
  projects/aqlprofile/src/pm4/trace_config.h
  projects/aqlprofile/src/util/hsa_rsrc_factory.cpp
  projects/aqlprofile/src/util/hsa_rsrc_factory.h
Due: .azuredevops/rocm_ci_caller.yml

Fix names
  projects/aqlprofile/src/pm4/sqtt_builder.h
Due: .azuredevops/rocm_ci_caller.yml
