Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Make lock init and destroy cb events instant (#1074)
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Remove OMPT category and fix certain preprocessor checks (#1165)
  projects/rocprofiler-systems/source/bin/rocprof-sys-sample/impl.cpp
  projects/rocprofiler-systems/source/lib/core/argparse.cpp
  projects/rocprofiler-systems/source/lib/core/categories.hpp
  projects/rocprofiler-systems/source/lib/core/components/fwd.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys-user/rocprofiler-systems/categories.h
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/category_region.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

qRevert "SWDEV-461087 - Add tests for fp4/fp6/fp8 (#617)"
  projects/hip-tests/catch/unit/deviceLib/CMakeLists.txt
  projects/hip-tests/catch/unit/deviceLib/ext_cxx.cc
  projects/hip-tests/catch/unit/deviceLib/ext_extract.cc
  projects/hip-tests/catch/unit/deviceLib/ext_ocp.cc
Due: .azuredevops/rocm_ci_caller.yml

[SWDEV-553168] Add support for decoding out of band boot time CPER files.
  projects/amdsmi/include/aca-decode/aca_constants.h
  projects/amdsmi/include/ras-decode/aca_decode.h
  projects/amdsmi/include/ras-decode/aca_fields.h
  projects/amdsmi/include/ras-decode/aca_tables.h
  projects/amdsmi/include/ras-decode/aca_version.h
  projects/amdsmi/include/ras-decode/boot_decode.h
  projects/amdsmi/include/ras-decode/error_map.h
  projects/amdsmi/include/ras-decode/json_printer.h
  projects/amdsmi/include/ras-decode/json_util.h
  projects/amdsmi/include/ras-decode/ras_decode_api.h
  projects/amdsmi/include/ras-decode/ras_decode_constants.h
  projects/amdsmi/src/CMakeLists.txt
  projects/amdsmi/src/aca-decode/aca_api.c
  projects/amdsmi/src/aca-decode/error_map.c
  projects/amdsmi/src/aca-decode/main.c
  projects/amdsmi/src/amd_smi/amd_smi_cper.cc
  projects/amdsmi/src/ras-decode/aca_decode.c
  projects/amdsmi/src/ras-decode/aca_fields.c
  projects/amdsmi/src/ras-decode/aca_tables.c
  projects/amdsmi/src/ras-decode/aca_version.c
  projects/amdsmi/src/ras-decode/boot_decode.c
  projects/amdsmi/src/ras-decode/error_map.c
  projects/amdsmi/src/ras-decode/json_printer.c
  projects/amdsmi/src/ras-decode/json_util.c
  projects/amdsmi/src/ras-decode/main.c
  projects/amdsmi/src/ras-decode/ras_decode_api.c
  projects/amdsmi/tools/run-clang-tidy.sh
Due: .azuredevops/rocm_ci_caller.yml

[SWDEV-556149] Fix group checking (#746)
  projects/amdsmi/amdsmi_cli/amdsmi_commands.py
  projects/amdsmi/amdsmi_cli/amdsmi_helpers.py
Due: .azuredevops/rocm_ci_caller.yml

Add libomptarget discovery to prevent OpenMP/HIP segfaults (#1043)
  projects/rocprofiler-systems/examples/openmp/target/CMakeLists.txt
  projects/rocprofiler-systems/source/bin/rocprof-sys-causal/impl.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-run/impl.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-sample/impl.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-sample/rocprof-sys-sample.hpp
  projects/rocprofiler-systems/source/lib/common/environment.hpp
  projects/rocprofiler-systems/source/lib/core/argparse.cpp
  projects/rocprofiler-systems/tests/rocprof-sys-openmp-tests.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fixed openmp-vv tests (#1203)
  projects/rocprofiler-systems/tests/rocprof-sys-openmp-tests.cmake
  projects/rocprofiler-systems/tests/rocprof-sys-testing.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

SWDEV-546345-[catch2][dtest]- Tests for new Memory management API's
  projects/hip-tests/catch/unit/memory/CMakeLists.txt
  projects/hip-tests/catch/unit/memory/hipMemcpy3DBatchAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpy3DPeer.cc
  projects/hip-tests/catch/unit/memory/hipMemcpy3DPeerAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyBatchAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D16.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D16Async.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D32.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D32Async.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D8.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D8Async.cc
Due: .azuredevops/rocm_ci_caller.yml

Add ROCPROFSYS_PATH variable to environment (#1103)
  projects/rocprofiler-systems/source/bin/rocprof-sys-causal/impl.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-causal/rocprof-sys-causal.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-sample/impl.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-sample/rocprof-sys-sample.hpp
  projects/rocprofiler-systems/source/lib/core/argparse.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Increase timeout for openmp-vv ctests (#1083)
  projects/rocprofiler-systems/tests/rocprof-sys-openmp-tests.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Changelog Update
  projects/amdsmi/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

Add new test for workflow. Fix codecov failure.
  projects/rocprofiler-systems/examples/mpi/CMakeLists.txt
  projects/rocprofiler-systems/examples/mpi/mpi_array.f
  projects/rocprofiler-systems/tests/rocprof-sys-mpi-tests.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Updated docs, changelog and message from rocprofiler-sdk
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/docs/how-to/profile/mode.rst
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprofiler_sdk.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

remove has_mem_cnt
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/data_views.sql
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add rocpd PC sampling support
  projects/rocprofiler-sdk/source/docs/data/pc_sampling_data_view.png
  projects/rocprofiler-sdk/source/docs/how-to/using-pc-sampling.rst
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/data_views.sql
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

error handling for stall reason
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rename stall reason
  projects/rocprofiler-sdk/source/lib/python/rocpd/csv.py
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/data_views.sql
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

docs update
  projects/rocprofiler-sdk/source/docs/how-to/using-pc-sampling.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

csv extraction changes
  projects/rocprofiler-sdk/source/lib/python/rocpd/csv.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add missing counter events handling for ROCPD
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/counters.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/counters.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

optimize data insertion
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/data_views.sql
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Remove serialization functions and definitions
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rocrtst: Add Memory_Async_Copy_On_Engine Test
  projects/rocr-runtime/rocrtst/suites/performance/memory_async_copy_on_engine.cc
  projects/rocr-runtime/rocrtst/suites/performance/memory_async_copy_on_engine.h
  projects/rocr-runtime/rocrtst/suites/test_common/main.cc
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt: Fix memory leak for events_page metadata
  projects/rocr-runtime/libhsakmt/src/fmm.c
  projects/rocr-runtime/libhsakmt/src/libhsakmt.h
  projects/rocr-runtime/libhsakmt/src/openclose.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocr: Add support for VMM and RDMA
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Update projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocr: Honor uncache flag in memory_lock_to_pool()
  projects/rocr-runtime/libhsakmt/src/fmm.c
  projects/rocr-runtime/libhsakmt/src/fmm.h
  projects/rocr-runtime/libhsakmt/src/memory.c
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_memory_region.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_memory_region.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

SWDEV-556212 - Update changelog for HIP 7.1
  projects/clr/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-554608 - Add hipHostRegisterIoMemory for hipHostRegister (#962)
  projects/clr/CHANGELOG.md
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocmemory.hpp
  projects/clr/rocclr/platform/memory.hpp
  projects/hip-tests/catch/unit/memory/hipHostRegister.cc
  projects/hip/include/hip/hip_runtime_api.h
Due: .azuredevops/rocm_ci_caller.yml

Workaround for IB Packets Completion signals
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/device_counting.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

add base template check
  projects/rocprofiler-compute/utils/metric_generator/apply_config_deltas.py
  projects/rocprofiler-compute/utils/metric_generator/generate_config_deltas.py
  projects/rocprofiler-compute/utils/metric_generator/verify_against_config_template.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
