Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

tests/rocprofv3-avail: keep RDNA hw-counter tests runnable
  projects/rocprofiler-sdk/tests/rocprofv3-avail/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

wsl/agent: optional libhsakmt-windows topology path
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/platform/wsl/agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

kfd: gracefully disable KFD event tracing when /dev/kfd is unavailable
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/kfd.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

test: assert fabric telemetry APIs return NOT_SUPPORTED not NOT_INIT
  projects/amdsmi/tests/amd_smi_test/functional/fabric_read.cc
Due: .azuredevops/rocm_ci_caller.yml

Revert "[clr][graph] Reduce the no. of barrier packets during the graph dispatch (#6346)"
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/hip-tests/catch/config/configs/unit/graph.yaml
  projects/hip-tests/catch/unit/graph/hipLaunchHostFuncWithGraph.cc
Due: .azuredevops/rocm_ci_caller.yml

Free memory for negative cases.
  projects/hip-tests/catch/unit/memory/hipFreeHost.cc
  projects/hip-tests/catch/unit/memory/hipHostFree.cc
Due: .azuredevops/rocm_ci_caller.yml

TileMover logic
  projects/rccl/src/device/tdm/asyncCopy.h
Due: .azuredevops/rocm_ci_caller.yml

Add tests
  projects/rccl/test/device/TestTDM.cpp
Due: .azuredevops/rocm_ci_caller.yml

Address Copilot reviews
  projects/rocjpeg/src/rocjpeg_parser.cpp
Due: .azuredevops/rocm_ci_caller.yml

Correct the changelog- remove the unreleased section and move the entry about gpu metrics into 7.14 section. The remaining benchmarking entry is not needed, it is already covered in the 7.14 section.
  projects/rocprofiler-compute/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

amdsmi: load WSL ROCm native library from wrapper
  amdsmi/CMakeLists.txt
  amdsmi/py-interface/CMakeLists.txt
  amdsmi/py-interface/amdsmi_wrapper.py
Due: none

Add tests for TDM
  projects/rccl/test/device/TestTDM.cpp
Due: .azuredevops/rocm_ci_caller.yml

Revert "clr: fix deadlock in GraphMemAllocNode::ReleaseCachedMapping (#6797)"
  projects/clr/hipamd/src/hip_graph.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/hipamd/src/hip_mempool_impl.cpp
Due: .azuredevops/rocm_ci_caller.yml

Revert "clr: Serialize IPC event re-recording to avoid signal re-arm race (#6786)"
  projects/clr/hipamd/src/hip_event.cpp
  projects/clr/hipamd/src/hip_event_ipc.cpp
Due: .azuredevops/rocm_ci_caller.yml

Revert "clr: Fix GPU agent scratch and queue lifetime bugs (#6631)"
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_gpu_agent.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_aql_queue.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Revert "clr: Pool and recycle HW signals across graph launches (#6670)"
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
  projects/clr/rocclr/platform/command.cpp
  projects/clr/rocclr/platform/command.hpp
Due: .azuredevops/rocm_ci_caller.yml

Fix a compilation error.
  docker_build_test.bash
  projects/rccl-tests/src/alltoall.cu
Due: .azuredevops/rocm_ci_caller.yml

amd-smi: simplify per-device NIC skip comment
  projects/amdsmi/src/amd_smi/amd_smi_system.cc
Due: .azuredevops/rocm_ci_caller.yml

[AMD-SMI] Harden ualoe_lib: bounds checks, MAC overread guards, pre-5.1 polyfill
  projects/amdsmi/include/ualoe_lib/cbl_cfg/uapi.h
  projects/amdsmi/src/ualoe_lib/ualoe_cdev.c
  projects/amdsmi/src/ualoe_lib/ualoe_nl.c
Due: .azuredevops/rocm_ci_caller.yml

docs(rocprof-sys): add unified memory profiling how-to
  projects/rocprofiler-systems/docs/how-to/configuring-runtime-options.rst
  projects/rocprofiler-systems/docs/how-to/unified-memory-profiling.rst
  projects/rocprofiler-systems/docs/index.rst
  projects/rocprofiler-systems/docs/sphinx/_toc.yml.in
Due: .azuredevops/rocm_ci_caller.yml

Fixing compilation error for tdm test.
  projects/hip-tests/catch/unit/TDM/tdm_basic_load_store.cc
Due: .azuredevops/rocm_ci_caller.yml

Potential fix for pull request finding
  projects/hip-tests/catch/unit/TDM/tdm_basic_load_store.cc
Due: .azuredevops/rocm_ci_caller.yml

Use generic tensor load/store intrinsic.
  projects/hip-tests/catch/unit/TDM/tdm_basic_load_store.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(rocprof-sys): use environment helper for SPM beta env
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/spm.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocprofiler-compute] Extract PC sampling into standalone profiler
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/src/pc_sampling/pc_sampling_profile.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/utils/utils_common.py
  projects/rocprofiler-compute/src/utils/utils_profile.py
  projects/rocprofiler-compute/tests/common.py
  projects/rocprofiler-compute/tests/test_categories.yaml
  projects/rocprofiler-compute/tests/test_pc_sampling.py
  projects/rocprofiler-compute/tests/test_pc_sampling_profile.py
  projects/rocprofiler-compute/tests/test_profiler_base.py
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

amdsmi: fix nullptr handling for unsupported fan/volt metrics
  amdsmi/src/amd_smi/amd_smi.cc
Due: none

Revert "Do not ring the doorbell multiple times with same write ptr (#6762)"
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
Due: .azuredevops/rocm_ci_caller.yml

Revert "clr: Revoke GPU access on host pointer unlock (#6724)"
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
  projects/clr/rocclr/device/rocm/rocmemory.cpp
Due: .azuredevops/rocm_ci_caller.yml

Compile restrict __cluster_dims__.
  projects/hip-tests/catch/include/hip_test_common.hh
  projects/hip-tests/catch/unit/occupancy/hipOccupancyMaxActiveClusters.cc
Due: .azuredevops/rocm_ci_caller.yml

Add Verbs acceptance test suite (transport/VerbsMPI)
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/transport/VerbsMPI/ConnectionTests.cpp
  projects/rccl/test/transport/VerbsMPI/RdmaTransferTests.cpp
  projects/rccl/test/transport/VerbsMPI/VerbsMPITestBase.hpp
Due: .azuredevops/rocm_ci_caller.yml

[rccl] Cover ncclTimeout result code with LSA/GIN barrier timeout tests (AICOMNET-193) (#6843)
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/GinNcclTimeoutMPITests.cpp
  projects/rccl/test/TimeoutTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Fix formatting. Fix flaky tests that depends on log messages
  projects/rocprofiler-systems/source/lib/core/control/triggers/roctx.cpp
  projects/rocprofiler-systems/source/lib/core/control/triggers/roctx.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/ucx_gotcha.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/test_roctx_client.cpp
  projects/rocprofiler-systems/tests/pytest/test_openmp.py
  projects/rocprofiler-systems/tests/pytest/test_time_window.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Revert "[clr] Fix leaks related to child graphs (#6860)"
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

Revert "Fix hip_graph_internal.hpp (#6905)"
  projects/clr/hipamd/src/hip_graph_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

refactor: unify trace-args serialization onto get_args_string
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/CMakeLists.txt
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/arg_serializer.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/module_function.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/rocprof-sys-instrument.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/tests/test_arg_serializer.cpp
  projects/rocprofiler-systems/source/lib/core/common_types.hpp
  projects/rocprofiler-systems/source/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

perf: attach trace args in a single push instead of start-then-patch
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/category_region.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/regions.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Remove extra thread local storage
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/category_region.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

test: cover trace-args serialization and parser robustness
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_args_serialization.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocprofiler-compute] Allow pc_sampling package in profile-mode import guard
  projects/rocprofiler-compute/tests/conftest.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

CHANGELOG notice
  projects/rocprofiler-systems/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml
