Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Remove duplicate EA HBM subtree, rename membw to membw_analysis, add design comments
  projects/rocprofiler-compute/.pre-commit-config.yaml
  projects/rocprofiler-compute/src/membw_analysis/__init__.py
  projects/rocprofiler-compute/src/membw_analysis/debug.py
  projects/rocprofiler-compute/src/membw_analysis/demo.py
  projects/rocprofiler-compute/src/membw_analysis/engine.py
  projects/rocprofiler-compute/src/membw_analysis/guidance.py
  projects/rocprofiler-compute/src/membw_analysis/metric_extract.py
  projects/rocprofiler-compute/src/membw_analysis/models.py
  projects/rocprofiler-compute/src/membw_analysis/tree_spec.py
  projects/rocprofiler-compute/src/membw_analysis/tree_spec/gfx950_membw_guidance.yaml
  projects/rocprofiler-compute/src/membw_analysis/tree_spec/gfx950_membw_tree_spec.yaml
  projects/rocprofiler-compute/src/membw_analysis/workload.py
  projects/rocprofiler-compute/tests/unit/membw_analysis/__init__.py
  projects/rocprofiler-compute/tests/unit/membw_analysis/test_engine.py
  projects/rocprofiler-compute/tests/unit/membw_analysis/test_guidance.py
  projects/rocprofiler-compute/tests/unit/membw_analysis/test_membw_pipeline.py
  projects/rocprofiler-compute/tests/unit/membw_analysis/test_metric_extract.py
  projects/rocprofiler-compute/tests/unit/membw_analysis/test_tree_spec.py
  projects/rocprofiler-compute/tools/validate_membw_tree_spec.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add membw data models and build integration
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/pyproject.toml
  projects/rocprofiler-compute/src/membw/__init__.py
  projects/rocprofiler-compute/src/membw/models.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Move membw-analysis gate into build_dfs, remove redundant rendering gates
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/utils/tui_utils.py
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/src/utils/tty.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Update tty and tui tests to match membw gate consolidation into build_dfs
  projects/rocprofiler-compute/tests/unit/rocprof_compute_tui/utils/test_tui_utils.py
  projects/rocprofiler-compute/tests/unit/utils/test_tty.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add membw evaluation engine, guidance renderer, and debug tracing
  projects/rocprofiler-compute/src/membw/debug.py
  projects/rocprofiler-compute/src/membw/engine.py
  projects/rocprofiler-compute/src/membw/guidance.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add build_dfs unit tests for membw_analysis gate on panel 3000
  projects/rocprofiler-compute/tests/unit/utils/test_parser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add membw tree spec loader with guidance split
  projects/rocprofiler-compute/src/membw/tree_spec.py
  projects/rocprofiler-compute/src/membw/tree_spec/gfx950_membw_guidance.yaml
  projects/rocprofiler-compute/src/membw/tree_spec/gfx950_membw_tree_spec.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Update IPC DDA to use runtime rank counts
  projects/rccl/src/algorithms/dda/all_gather/all_gather_dda.h
  projects/rccl/src/algorithms/dda/all_gather/dda_all_gather_ipc.cu
  projects/rccl/src/algorithms/dda/all_reduce/all_reduce_dda.h
  projects/rccl/src/algorithms/dda/all_reduce/dda_all_reduce.h
  projects/rccl/src/algorithms/dda/all_reduce/dda_all_reduce_ipc.cu
  projects/rccl/src/algorithms/dda/alltoall/alltoall_dda.h
  projects/rccl/src/algorithms/dda/alltoall/dda_alltoall_ipc.cu
  projects/rccl/src/algorithms/dda/fabric/fabric_gpu_barrier.h
  projects/rccl/src/algorithms/dda/ipc/ipc_gpu_barrier.cu
  projects/rccl/src/algorithms/dda/ipc/ipc_gpu_barrier.h
  projects/rccl/src/algorithms/dda/ipc/ipc_init.cu
  projects/rccl/src/algorithms/dda/reduce_scatter/dda_reduce_scatter_ipc.cu
  projects/rccl/src/algorithms/dda/reduce_scatter/reduce_scatter_dda.h
  projects/rccl/src/include/comm.h
  projects/rccl/src/include/rccl_common.h
  projects/rccl/src/init.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): harden AMPP local IO and tests
  projects/amdsmi/rocm_smi/src/rocm_smi_ampp.cc
  projects/amdsmi/tests/python/functional/gpu/test_ampp.py
Due: .azuredevops/rocm_ci_caller.yml

fix: ensure SDMA queue count is set for agents with nonzero engines
  .github/workflows/rocjitsu-corpus-tests.yml
  emulation/mirage/builtin/build.rs
  emulation/mirage/builtin/src/agents.rs
  emulation/mirage/builtin/src/lib.rs
  emulation/mirage/core/src/agent.rs
  emulation/mirage/core/src/emulator.rs
  emulation/mirage/core/src/profile.rs
  emulation/mirage/docs/building.md
  emulation/mirage/rocjitsu/src/lib.rs
Due: none

fix(amdsmi): prefer KFD VRAM total on APUs and partitioned GPUs
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
  projects/amdsmi/tests/amd_smi_test/functional/memory_partition_total_test.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor(amdsmi): tidy VRAM-total KFD selection and cover it on real hardware
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
  projects/amdsmi/tests/amd_smi_test/functional/memory_partition_total_test.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor(amdsmi): clarify discrete VRAM-total rationale and rename test
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
  projects/amdsmi/tests/amd_smi_test/functional/vram_total_prefer_kfd_test.cc
Due: .azuredevops/rocm_ci_caller.yml

docs(amdsmi): shorten VRAM total helper comments
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
  projects/amdsmi/tests/amd_smi_test/functional/vram_total_prefer_kfd_test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(amdsmi): place VRAM total unit test under unit/gpu
  projects/amdsmi/tests/amd_smi_test/unit/gpu/vram_total_prefer_kfd_test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(amdsmi): pin VRAM total edge cases and unify namespace form
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
  projects/amdsmi/tests/amd_smi_test/unit/gpu/vram_total_prefer_kfd_test.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor(amdsmi): share vram_total_prefer_kfd via internal header
  projects/amdsmi/CMakeLists.txt
  projects/amdsmi/rocm_smi/include/rocm_smi/rocm_smi_vram.h
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
  projects/amdsmi/tests/amd_smi_test/unit/gpu/vram_total_prefer_kfd_test.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): address VRAM total review comments
  projects/amdsmi/rocm_smi/include/rocm_smi/rocm_smi_kfd.h
  projects/amdsmi/rocm_smi/include/rocm_smi/rocm_smi_vram.h
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
  projects/amdsmi/rocm_smi/src/rocm_smi_kfd.cc
  projects/amdsmi/tests/amd_smi_test/unit/gpu/vram_total_prefer_kfd_test.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): log compute-partition read failure in vram total
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): sum only FB_PUBLIC banks for KFD VRAM total
  projects/amdsmi/rocm_smi/include/rocm_smi/rocm_smi_vram.h
  projects/amdsmi/rocm_smi/src/rocm_smi_kfd.cc
  projects/amdsmi/tests/amd_smi_test/unit/gpu/vram_total_prefer_kfd_test.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): keep current_compute_partition off the VRAM-total hot path
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): make the cached KFD mem_banks total atomic
  projects/amdsmi/rocm_smi/include/rocm_smi/rocm_smi_kfd.h
  projects/amdsmi/rocm_smi/src/rocm_smi_kfd.cc
Due: .azuredevops/rocm_ci_caller.yml

chore(amdsmi): deslop the KFD VRAM-total change
  projects/amdsmi/rocm_smi/include/rocm_smi/rocm_smi_vram.h
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
  projects/amdsmi/rocm_smi/src/rocm_smi_kfd.cc
  projects/amdsmi/tests/amd_smi_test/unit/gpu/vram_total_prefer_kfd_test.cc
Due: .azuredevops/rocm_ci_caller.yml

Fix queue interposition 1→0 stop path for ROCM-29631
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

update list of banned headers
  projects/rocprofiler-systems/scripts/banned-includes.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

chore(rccl): remove unused workflow files from projects/rccl
  projects/rccl/.github/workflows/therock-ci-linux.yml
  projects/rccl/.github/workflows/therock-ci.yml
  projects/rccl/.github/workflows/therock-test-packages-multi-node.yml
  projects/rccl/.github/workflows/therock-test-packages-single-node.yml
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): address review on arch-aware unroll validation
  projects/rccl/CHANGELOG.md
  projects/rccl/src/device/generate.py
  projects/rccl/src/device/test_generate_device_table.py
  projects/rccl/src/include/device.h
  projects/rccl/src/rccl_wrap.cc
Due: .azuredevops/rocm_ci_caller.yml

Add scoped atomics to replace deprecated hip atomics
  projects/rccl/src/algorithms/dda/device/CollCommon_ll128.h
  projects/rccl/src/algorithms/gin/sdma/all_reduce_gin_sdma.h
  projects/rccl/src/device/all_gather.h
  projects/rccl/src/device/ce_reduce/ce_reduce_impl.h.in
  projects/rccl/src/device/common.h
  projects/rccl/src/device/op128.h
  projects/rccl/src/device/primitives.h
  projects/rccl/src/device/prims_ll.h
  projects/rccl/src/device/reduce_scatter.h
  projects/rccl/src/include/nccl_device/gin/anvil_sdma/gin_anvil_ipc_copy.h
  projects/rccl/src/include/nccl_device/gin/anvil_sdma/gin_anvil_sdma.h
  projects/rccl/src/include/nccl_device/hip_compat.h
  projects/rccl/src/include/nccl_device/impl/gin__funcs.h
  projects/rccl/test/device/GinAnvilIpcDevice_test.cpp
  projects/rccl/test/device/GinAnvilSdmaTemplate_test.cpp
  projects/rccl/tools/llx_latency_bench/llx_latency_bench.c
Due: .azuredevops/rocm_ci_caller.yml

chore(ci): remove unused workflow files from projects/rccl (#11315)
  projects/rccl/.github/workflows/therock-ci-linux.yml
  projects/rccl/.github/workflows/therock-ci.yml
  projects/rccl/.github/workflows/therock-test-packages-multi-node.yml
  projects/rccl/.github/workflows/therock-test-packages-single-node.yml
Due: .azuredevops/rocm_ci_caller.yml

chore(ci): bump TheRock ref to f86222e7032f1f2a45720fa396a8cf69eac3291f
  .github/workflows/therock-build-linux.yml
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-multi-arch-ci-asan-nightly.yml
  .github/workflows/therock-multi-arch-ci-asan.yml
  .github/workflows/therock-multi-arch-ci-nightly.yml
  .github/workflows/therock-multi-arch-ci.yml
  .github/workflows/therock-rccl-ci-linux.yml
  .github/workflows/therock-rccl-test-jax-collective.yml
  .github/workflows/therock-rccl-test-madengine.yml
  .github/workflows/therock-rccl-test-packages-multi-node.yml
  .github/workflows/therock-rccl-test-packages-single-node.yml
  .github/workflows/therock-rccl-test-pytorch-distributed.yml
  .github/workflows/therock-rccl-test-rocprof.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

chore(ci): revert multi-arch workflow changes
  .github/workflows/therock-multi-arch-ci-asan-nightly.yml
  .github/workflows/therock-multi-arch-ci-asan.yml
  .github/workflows/therock-multi-arch-ci-nightly.yml
  .github/workflows/therock-multi-arch-ci.yml
Due: none

fix(mirage): make the new CI leg's tests hold as root and without an init
  .github/workflows/rocjitsu-corpus-tests.yml
  emulation/mirage/core/src/state.rs
  emulation/mirage/ctl/src/lib.rs
Due: none

fix(ci): handle rocm-systems multi-arch path gaps
  .github/multi-arch-ci-paths.json
  .github/scripts/configure_multi_arch_ci_paths.py
  .github/scripts/tests/configure_multi_arch_ci_paths_test.py
  .github/workflows/therock-multi-arch-ci.yml
Due: none

test(rocprofiler-compute): Assert SPX lookup in NPS channel test
  projects/rocprofiler-compute/tests/unit/utils/test_specs.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Rename GL2 node IDs for clarity and remove duplicate ea_gmi_bw_bound
  projects/rocprofiler-compute/src/membw_analysis/tree_spec/gfx950_membw_guidance.yaml
  projects/rocprofiler-compute/src/membw_analysis/tree_spec/gfx950_membw_tree_spec.yaml
  projects/rocprofiler-compute/tests/unit/membw_analysis/test_membw_pipeline.py
  projects/rocprofiler-compute/tests/unit/membw_analysis/test_tree_spec.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix install and pytest paths after membw -> membw_analysis rename
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/pyproject.toml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix indeterminate parent propagation, all-None availability, and invalid create_df_pmc param
  projects/rocprofiler-compute/src/membw_analysis/engine.py
  projects/rocprofiler-compute/src/membw_analysis/metric_extract.py
  projects/rocprofiler-compute/src/membw_analysis/workload.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add numeric threshold validation, guidance placeholder validation, and fix schema hash comment
  projects/rocprofiler-compute/src/membw_analysis/tree_spec.py
  projects/rocprofiler-compute/tools/validate_membw_tree_spec.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Extract nested _replace_match to module-level _replace_placeholder
  projects/rocprofiler-compute/src/membw_analysis/guidance.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(rccl): accept the extended amdsmi fabric union (#11269)
  projects/rccl/CHANGELOG.md
  projects/rccl/src/include/amdsmi_wrap.h
  projects/rccl/src/misc/amdsmi_wrap.cc
  projects/rccl/test/AmdSmiFabricTests.cpp
Due: .azuredevops/rocm_ci_caller.yml
