Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

SWDEV-567852 - Clean-up hip::init() (#1948)
  projects/clr/hipamd/src/hip_context.cpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-548892 - Stop using ocml isinf wrapper (#1854)
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_fp16.h
Due: .azuredevops/rocm_ci_caller.yml

Updated rocprofv3.py to ignore old attach duration msec value (#1980)
  projects/rocprofiler-sdk/source/bin/rocprofv3.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

SWDEV-557412 - Incorporate proper chunk offset when remapping virtual memory (#1848)
  projects/clr/rocclr/device/pal/palvirtual.cpp
  projects/clr/rocclr/platform/vmheap.cpp
Due: .azuredevops/rocm_ci_caller.yml

Update rocpd docs (#1276)
  projects/rocprofiler-sdk/source/docs/how-to/using-rocpd-output-format.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rocprof-sys] Fix test build failure on RHEL 10 (#1955)
  projects/rocprofiler-systems/examples/videodecode/video_demuxer.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

SWDEV-567829 - populateFormatStringHashMap: relax printf hash collisi… (#1944)
  projects/clr/rocclr/device/devhcprintf.cpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-465041 - Enable direct dispatch under Linux by default. (#1934)
  projects/clr/rocclr/utils/flags.hpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-559267 - Use CLPrint to DevLogPrintf with Log Level - detail debug. (#1160)
  projects/clr/hipamd/CMakeLists.txt
  projects/clr/hipamd/src/hip_code_object.cpp
  projects/clr/hipamd/src/hip_context.cpp
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/hipamd/src/hip_stream.cpp
  projects/clr/rocclr/device/device.cpp
  projects/clr/rocclr/device/devkernel.cpp
  projects/clr/rocclr/device/devprogram.cpp
  projects/clr/rocclr/device/pal/paldevice.cpp
  projects/clr/rocclr/device/rocm/rocappprofile.cpp
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/clr/rocclr/device/rocm/roccounters.cpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rockernel.cpp
  projects/clr/rocclr/device/rocm/rocmemory.cpp
  projects/clr/rocclr/platform/command.cpp
  projects/clr/rocclr/platform/kernel.cpp
  projects/clr/rocclr/platform/memory.cpp
  projects/clr/rocclr/platform/sampler.hpp
  projects/clr/rocclr/utils/debug.hpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-562708 - change default maximum SVM size to 256GB (#1731)
  projects/clr/rocclr/utils/flags.hpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-503089 - Fix and enable disabled HIP tests from math group (#1319)
  projects/hip-tests/catch/hipTestMain/config/config_amd_linux
  projects/hip-tests/catch/hipTestMain/config/config_nvidia_linux.json
  projects/hip-tests/catch/hipTestMain/main.cc
  projects/hip-tests/catch/include/cmd_options.hh
  projects/hip-tests/catch/unit/math/binary_common.hh
  projects/hip-tests/catch/unit/math/casting_common.hh
  projects/hip-tests/catch/unit/math/casting_half2_common.hh
  projects/hip-tests/catch/unit/math/casting_half2_funcs.cc
  projects/hip-tests/catch/unit/math/casting_half_float_funcs.cc
  projects/hip-tests/catch/unit/math/casting_int_funcs.cc
  projects/hip-tests/catch/unit/math/double_precision_intrinsics.cc
  projects/hip-tests/catch/unit/math/half_precision_common.hh
  projects/hip-tests/catch/unit/math/half_precision_comparison.cc
  projects/hip-tests/catch/unit/math/log_funcs.cc
  projects/hip-tests/catch/unit/math/math_common.hh
  projects/hip-tests/catch/unit/math/misc_funcs.cc
  projects/hip-tests/catch/unit/math/misc_negative_kernels_rtc.hh
  projects/hip-tests/catch/unit/math/pow_common.hh
  projects/hip-tests/catch/unit/math/pow_funcs.cc
  projects/hip-tests/catch/unit/math/quaternary_common.hh
  projects/hip-tests/catch/unit/math/remainder_and_rounding_funcs.cc
  projects/hip-tests/catch/unit/math/root_funcs.cc
  projects/hip-tests/catch/unit/math/single_precision_intrinsics.cc
  projects/hip-tests/catch/unit/math/special_common.hh
  projects/hip-tests/catch/unit/math/special_funcs.cc
  projects/hip-tests/catch/unit/math/ternary_common.hh
  projects/hip-tests/catch/unit/math/trig_funcs.cc
  projects/hip-tests/catch/unit/math/unary_common.hh
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-558080 - Add recommended granularity (#1176)
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/hipamd/src/hip_vm.cpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/pal/paldevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/platform/vmheap.cpp
  projects/hip-tests/catch/unit/virtualMemoryManagement/hipMemGetAllocationGranularity.cc
Due: .azuredevops/rocm_ci_caller.yml

Implement PTL support (#1957)
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/amdsmi_cli/amdsmi_commands.py
  projects/amdsmi/amdsmi_cli/amdsmi_helpers.py
  projects/amdsmi/amdsmi_cli/amdsmi_parser.py
  projects/amdsmi/docs/how-to/amdsmi-cli-tool.md
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/include/amd_smi/impl/amd_smi_utils.h
  projects/amdsmi/py-interface/__init__.py
  projects/amdsmi/py-interface/amdsmi_interface.py
  projects/amdsmi/py-interface/amdsmi_wrapper.py
  projects/amdsmi/rocm_smi/include/rocm_smi/rocm_smi.h
  projects/amdsmi/rocm_smi/include/rocm_smi/rocm_smi_device.h
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
  projects/amdsmi/rocm_smi/src/rocm_smi_device.cc
  projects/amdsmi/src/amd_smi/amd_smi.cc
  projects/amdsmi/src/amd_smi/amd_smi_utils.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-567514: Remove default stream wait (#1977)
  projects/clr/hipamd/src/hip_mempool_impl.hpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-548892 - Stop using ockl steadyctr function (#1882)
  projects/clr/hipamd/include/hip/amd_detail/amd_device_functions.h
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-systems] Add support for ompt_callback_thread_begin (#1681)
  projects/rocprofiler-systems/source/lib/core/trace_cache/metadata_registry.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fix flaky test Unit_hipStreamAddCallback_StrmSyncTiming (#2022)
  projects/hip-tests/catch/unit/stream/hipStreamACb_StrmSyncTiming.cc
Due: .azuredevops/rocm_ci_caller.yml

Fix and enable VMM tests on cuda (#1855)
  projects/hip-tests/catch/unit/virtualMemoryManagement/CMakeLists.txt
  projects/hip-tests/catch/unit/virtualMemoryManagement/hipMemGetHandleForAddressRange.cc
  projects/hip-tests/catch/unit/virtualMemoryManagement/hipMemImportFromShareableHandle.cc
Due: .azuredevops/rocm_ci_caller.yml

initial commit for explicityl checking whether SPM is supported for a gpu agent
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/spm_service.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

ROCr-runtime: Allow core dumps for gfx115x
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_aql_queue.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

SWDEV-548892 - Stop using ocml log wrappers
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_bf16.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_fp16.h
Due: .azuredevops/rocm_ci_caller.yml

Fix clr function
  projects/clr/hipamd/include/hip/amd_detail/amd_device_functions.h
Due: .azuredevops/rocm_ci_caller.yml

Experiment with replacing ocml call with builtins
  projects/clr/hipamd/include/hip/amd_detail/amd_device_functions.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_bf16.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_fp16.h
  projects/clr/rocclr/device/blitcl.cpp
Due: .azuredevops/rocm_ci_caller.yml

Re-enable sin, cos and exp tests for half precision
  projects/hip-tests/catch/hipTestMain/config/config_amd_linux
Due: .azuredevops/rocm_ci_caller.yml

Made it possible to set ROCM_PATH to alternative root directory of ROCm; also modified setting of USE_AINIC
  projects/rocprofiler-systems/cmake/Modules/FindROCmVersion.cmake
  projects/rocprofiler-systems/source/lib/core/amd_smi.hpp
  projects/rocprofiler-systems/source/lib/core/gpu.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Review comments
  projects/hip-tests/catch/CMakeLists.txt
  projects/hip-tests/catch/cmake/relative_paths.py
  projects/hip-tests/catch/performance/event/CMakeLists.txt
  projects/hip-tests/catch/performance/memset/CMakeLists.txt
  projects/hip-tests/catch/unit/deviceLib/CMakeLists.txt
  projects/hip-tests/catch/unit/gl_interop/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

WriteInterceptor crash workaround in Tensorflow and pytorch
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

co-pilot feedback
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Review Comments Update - Changelog data sync enhanced
  projects/amdsmi/DEBIAN/changelog.in
  projects/amdsmi/cmake_modules/utils.cmake
Due: .azuredevops/rocm_ci_caller.yml

Update UT Fixes/Update Review Comments
  projects/amdsmi/CMakeLists.txt
  projects/amdsmi/DEBIAN/copyright.in
  projects/amdsmi/cmake_modules/utils.cmake
Due: .azuredevops/rocm_ci_caller.yml

Update Review Comment
  projects/amdsmi/cmake_modules/utils.cmake
Due: .azuredevops/rocm_ci_caller.yml

Enable Lintian Support for AMDSMI
  projects/amdsmi/CMakeLists.txt
  projects/amdsmi/DEBIAN/changelog.in
  projects/amdsmi/DEBIAN/overrides.in
  projects/amdsmi/cmake_modules/utils.cmake
Due: .azuredevops/rocm_ci_caller.yml

Update REview Comments
  projects/amdsmi/CMakeLists.txt
  projects/amdsmi/cmake_modules/utils.cmake
Due: .azuredevops/rocm_ci_caller.yml

Revert "Merge branch 'develop' into import/develop/ROCm_amdsmi/pr-152"
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/docs/data/metrics_description.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/0300_memory_chart.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx90a/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx90a/0300_memory_chart.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx90a/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx940/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx940/0300_memory_chart.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx940/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/0300_memory_chart.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/0300_memory_chart.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx950/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx950/0300_memory_chart.yaml
  projects/rocprofiler-compute/src/utils/amdsmi_interface.py
  projects/rocprofiler-compute/tests/test_utils.py
  projects/rocprofiler-compute/tools/config_management/.config_hashes.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Update Review Comments - Changelog data updated
  projects/amdsmi/DEBIAN/changelog.in
Due: .azuredevops/rocm_ci_caller.yml

[ROCR] Convert tabs to spaces
  projects/rocr-runtime/libhsakmt/src/libhsakmt.h
  projects/rocr-runtime/libhsakmt/src/queues.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Fix space on line 46
  projects/rocr-runtime/libhsakmt/src/queues.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Fix spaces on lines 113, 114
  projects/rocr-runtime/libhsakmt/src/queues.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Fix spaces on lines 118-121
  projects/rocr-runtime/libhsakmt/src/queues.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Bug fixes and optimizations
  cuid/lib/cuid.cc
Due: none
