Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Load sdk to allow openmp tests to run/modify systems offload test
  projects/rocprofiler-sdk/tests/openmp-tools/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/tests/pytest/test_openmp.py
  projects/rocprofiler-systems/tests/rocpd-validation-rules/openmp-cg/sdk-metrics-rules.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml

Updated documentation and added test for rocprofv3
  projects/rocprofiler-sdk/source/docs/how-to/using-rocprofv3-with-openmp.rst
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/ompt.h
  projects/rocprofiler-sdk/tests/openmp-init-deadlock/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/ompt-deadlock/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Addressing comments
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/ompt.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.hpp
  projects/rocprofiler-sdk/tests/bin/openmp-init-deadlock/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/openmp-init-deadlock/blas_stub.cpp
  projects/rocprofiler-sdk/tests/bin/openmp-init-deadlock/client.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Refactor tests
  projects/rocprofiler-sdk/tests/bin/openmp/init-deadlock/blas_stub.cpp
  projects/rocprofiler-sdk/tests/rocprofv3/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/ompt-deadlock/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/ompt/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Revert test Cmake file and add early return and warning to avoid deadlock for rocprofv3
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/ompt.cpp
  projects/rocprofiler-sdk/tests/bin/openmp/init-deadlock/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix coexist test and update documentation
  projects/rocprofiler-sdk/CHANGELOG.md
  projects/rocprofiler-sdk/source/docs/how-to/using-rocprofv3-with-openmp.rst
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/ompt.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/ompt.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/ompt/ompt.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/ompt/ompt.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
  projects/rocprofiler-sdk/tests/bin/openmp/openmp-tools-coexist/coexist_ompt_tool.cpp
  projects/rocprofiler-sdk/tests/rocprofv3/ompt-coexist/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/ompt-coexist/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Updated macro check in systems dl.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys-dl/dl.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Record branch base and pull request metadata
  .github/workflows/rocjitsu-benchmarks.yml
  emulation/rocjitsu/website/dashboard/docs/architecture-and-publication.md
  emulation/rocjitsu/website/dashboard/scripts/dashboard-data/prepare-dashboard-data.py
  emulation/rocjitsu/website/dashboard/scripts/dashboard-data/tests/test_prepare_dashboard_data.py
Due: none

test(rccl): drop AllToAll protocol pins RCCL ignores
  projects/rccl/tools/scripts/test_runner/configs/mi350p_pcie_8gpu_func.json
  projects/rccl/tools/scripts/test_runner/tests/test_mi350p_pcie_configs.py
Due: .azuredevops/rocm_ci_caller.yml

test(amdsmi): fix CLI set test assumptions on Navi 48 and MI GPUs (#12799)
  projects/amdsmi/tests/python/cli/base.py
  projects/amdsmi/tests/python/cli/test_set.py
Due: .azuredevops/rocm_ci_caller.yml

amdsmi: add go.mod to scope projects/amdsmi as an independent Go module
  projects/amdsmi/go.mod
Due: .azuredevops/rocm_ci_caller.yml

fix(rocjitsu): global_load_lds_* on CDNA3/CDNA4
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/semantics.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/flat.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/flat_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/flat.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/flat_exec.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/hip_global_load_lds_test.cpp
Due: none

fix ocltst paths. Windows: ocl test libs to bin dir, Linux: ocl test libs to lib dir (#9804)
  projects/clr/opencl/tests/ocltst/CMakeLists.txt
  projects/clr/opencl/tests/ocltst/env/CMakeLists.txt
  projects/clr/opencl/tests/ocltst/module/gl/CMakeLists.txt
  projects/clr/opencl/tests/ocltst/module/perf/CMakeLists.txt
  projects/clr/opencl/tests/ocltst/module/runtime/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

feat(amdsmi): add rust link topology binding and link_type test
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/rust-interface/src/amdsmi.rs
  projects/amdsmi/rust-interface/src/amdsmi_wrapper.rs
  projects/amdsmi/rust-interface/src/utils.rs
  projects/amdsmi/src/amd_smi/amd_smi.cc
  projects/amdsmi/tests/amd_smi_test/functional/system/hw_topology_read_test.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): harden link topology mapping and tighten docs
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/src/amd_smi/amd_smi.cc
  projects/amdsmi/tests/amd_smi_test/functional/system/hw_topology_read_test.cc
  projects/amdsmi/tests/python/unit/system/test_link_topology.py
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): export link status
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/docs/reference/amdsmi-py-api.md
  projects/amdsmi/py-interface/__init__.py
  projects/amdsmi/py-interface/amdsmi_interface.py
  projects/amdsmi/rust-interface/src/lib.rs
  projects/amdsmi/rust-interface/src/utils.rs
  projects/amdsmi/tests/python/functional/system/test_topology.py
  projects/amdsmi/tests/python/unit/system/test_link_topology.py
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): guard link topology for WSL backend
  projects/amdsmi/src/amd_smi/amd_smi.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): apply review fixes
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/docs/reference/amdsmi-py-api.md
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/py-interface/amdsmi_interface.py
  projects/amdsmi/rust-interface/src/amdsmi.rs
  projects/amdsmi/src/amd_smi/amd_smi.cc
  projects/amdsmi/tests/amd_smi_test/functional/system/hw_topology_read_test.cc
  projects/amdsmi/tests/python/unit/system/test_link_topology.py
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): address topology review
  projects/amdsmi/docs/reference/amdsmi-py-api.md
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/py-interface/amdsmi_interface.py
  projects/amdsmi/src/amd_smi/amd_smi.cc
  projects/amdsmi/tests/amd_smi_test/functional/system/hw_topology_read_test.cc
  projects/amdsmi/tests/python/unit/system/test_link_topology.py
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): complete topology review
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/docs/reference/amdsmi-py-api.md
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/py-interface/amdsmi_interface.py
  projects/amdsmi/rust-interface/src/amdsmi.rs
  projects/amdsmi/tests/python/functional/system/test_topology.py
Due: .azuredevops/rocm_ci_caller.yml

test(amdsmi): cover disabled link and capped num_hops mapping
  projects/amdsmi/tests/python/unit/system/test_link_topology.py
Due: .azuredevops/rocm_ci_caller.yml

test(amdsmi): use SPDX license header in link topology test
  projects/amdsmi/tests/python/unit/system/test_link_topology.py
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): address link topology review feedback
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/docs/reference/amdsmi-py-api.md
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/tests/amd_smi_test/functional/system/hw_topology_read_test.cc
  projects/amdsmi/tests/python/unit/system/test_link_topology.py
Due: .azuredevops/rocm_ci_caller.yml

feat(amdsmi): implement unified amdsmi_get_link_topology query
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/docs/reference/amdsmi-py-api.md
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/py-interface/__init__.py
  projects/amdsmi/py-interface/amdsmi_interface.py
  projects/amdsmi/py-interface/amdsmi_wrapper.py
  projects/amdsmi/src/amd_smi/amd_smi.cc
  projects/amdsmi/tests/amd_smi_test/functional/system/hw_topology_read_test.cc
  projects/amdsmi/tests/python/unit/system/test_link_topology.py
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): add single-process memory registration coverage
  projects/rccl/test/AllGatherTests.cpp
  projects/rccl/test/AllReduceTests.cpp
  projects/rccl/test/AllToAllTests.cpp
  projects/rccl/test/BroadcastTests.cpp
  projects/rccl/test/GatherTests.cpp
  projects/rccl/test/ReduceScatterTests.cpp
  projects/rccl/test/ReduceTests.cpp
  projects/rccl/test/ScatterTests.cpp
  projects/rccl/test/common/ScopedEnvVar.hpp
  projects/rccl/test/common/SingleProcMemRegTestUtils.hpp
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): keep pow2 coverage and widen symmetric reg counts
  projects/rccl/test/BroadcastTests.cpp
  projects/rccl/test/GatherTests.cpp
  projects/rccl/test/ReduceTests.cpp
  projects/rccl/test/test_categories.yaml
Due: .azuredevops/rocm_ci_caller.yml

Address comments
  projects/rccl/test/DevRuntimeTestsStubs.cc
  projects/rccl/test/common/SingleProcMemRegTestUtils.hpp
  projects/rccl/test/gin/gin_anvil_plugin_test_stubs.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): address review comments on single-proc mem reg tests
  projects/rccl/test/AllGatherTests.cpp
  projects/rccl/test/AllReduceTests.cpp
  projects/rccl/test/AllToAllTests.cpp
  projects/rccl/test/BroadcastTests.cpp
  projects/rccl/test/GatherTests.cpp
  projects/rccl/test/IbvSymbolsEnvTests.cpp
  projects/rccl/test/ReduceScatterTests.cpp
  projects/rccl/test/ReduceTests.cpp
  projects/rccl/test/ScatterTests.cpp
  projects/rccl/test/common/EnvVars.cpp
  projects/rccl/test/common/EnvVars.hpp
  projects/rccl/test/common/ScopedEnvVar.hpp
  projects/rccl/test/common/SingleProcMemRegTestUtils.hpp
  projects/rccl/test/test_categories.yaml
Due: .azuredevops/rocm_ci_caller.yml

Rebase and address comments
  projects/rccl/test/gin/GinAnvilSdmaFactory_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

shorten the report step; reword the non-overlapped cost phrase
  projects/rocprofiler-sdk/skills/thread-trace/SKILL.md
  projects/rocprofiler-sdk/skills/thread-trace/resources/python-api.md
  projects/rocprofiler-sdk/skills/thread-trace/resources/reading-the-trace.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

test(amdsmi): cover default static NUMA output on guests
  projects/amdsmi/tests/python/unit/gpu/test_cli_static_numa_guest.py
Due: .azuredevops/rocm_ci_caller.yml

Fix dashboard test discovery
  emulation/rocjitsu/website/dashboard/scripts/dashboard-data/tests/test_prepare_dashboard_data.py
  emulation/rocjitsu/website/dashboard/tests/unit/provenance-details.test.js
Due: none

docs(amdsmi): clarify primary partition behavior in partition guide
  projects/amdsmi/docs/conceptual/partition.md
Due: .azuredevops/rocm_ci_caller.yml

perf(rocr): bound stale userptr retirement to the max extent
  projects/rocr-runtime/libhsakmt/src/fmm.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Add SDK version gate, would need to bump SDK version to gate this new change
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

docs(amdsmi): move changelog entries to 10.2.0
  projects/amdsmi/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

ci(amdsmi): explain the example smoke test exit handling
  .github/workflows/amdsmi-build.yml
Due: none

fix(clr): reduce graph launch startup and same-level serialization (#12693)
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/hip-tests/catch/config/configs/unit/graph.yaml
  projects/hip-tests/catch/unit/graph/CMakeLists.txt
  projects/hip-tests/catch/unit/graph/hipGraphSegmentOrdering.cc
Due: .azuredevops/rocm_ci_caller.yml

rocDecode/Windows: make sample NOMINMAX/_CRT defines compiler-agnostic
  projects/rocdecode/samples/rocdecDecode/CMakeLists.txt
  projects/rocdecode/samples/videoDecode/CMakeLists.txt
  projects/rocdecode/samples/videoDecodeBatch/CMakeLists.txt
  projects/rocdecode/samples/videoDecodeCaps/CMakeLists.txt
  projects/rocdecode/samples/videoDecodeMem/CMakeLists.txt
  projects/rocdecode/samples/videoDecodeMultiFiles/CMakeLists.txt
  projects/rocdecode/samples/videoDecodePerf/CMakeLists.txt
  projects/rocdecode/samples/videoDecodePicFiles/CMakeLists.txt
  projects/rocdecode/samples/videoDecodeRGB/CMakeLists.txt
  projects/rocdecode/samples/videoDecodeRaw/CMakeLists.txt
  projects/rocdecode/samples/videoToSequence/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

feat(rocr): Allow loading a code object at a user-provided address
  projects/rocr-runtime/rocrtst/suites/functional/loader_reserved_address.cc
  projects/rocr-runtime/rocrtst/suites/functional/loader_reserved_address.h
  projects/rocr-runtime/rocrtst/suites/test_common/main.cc
  projects/rocr-runtime/rocrtst/suites/test_common/test_categories.yaml
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_hsa_loader.hpp
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_loader_context.hpp
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/hsa_ven_amd_loader_impl.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_loader_context.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ven_amd_loader.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_ven_amd_loader.h
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.cpp
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
