Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Updating RHEL and SLES for ROCProfiler-SDK
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

[rocprofiler-sdk] Fix formatting and lint workflows
  .github/workflows/rocprofiler-sdk-formatting.yml
  .github/workflows/rocprofiler-sdk-python.yml
Due: none

format metrics_test.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/tests/metrics_test.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Updating RHEL and SLES for ROCProfiler-SDK
  projects/rocprofiler-sdk/source/scripts/run-ci.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Improve formatting job robustness
  .github/workflows/rocprofiler-sdk-formatting.yml
Due: none

Source formatting workflow does not use container
  .github/workflows/rocprofiler-sdk-formatting.yml
Due: none

Use PyPi clang-format
  .github/workflows/rocprofiler-sdk-formatting.yml
Due: none

Format rocpd/source/csv.cpp source
  projects/rocprofiler-sdk/source/lib/python/rocpd/source/csv.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

removing non-existent struct members from test
  projects/aqlprofile/src/pm4/tests/trace_config_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

Fix rocprofiler-sdk CI workflow
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Updating RHEL and SLES for ROCProfiler-SDK
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
  projects/aqlprofile/dashboard.cmake
Due: .azuredevops/rocm_ci_caller.yml

Update run-ci.py
  projects/rocprofiler-sdk/source/scripts/run-ci.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Adding logger tests
  projects/aqlprofile/src/core/tests/CMakeLists.txt
  projects/aqlprofile/src/core/tests/logger_tests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Fix shadowed variables
  source/lib/core/sample_cache/cache_storage.hpp
Due: none

Remove benchmark & Fix build issues for rhel
  projects/rocprofiler-systems/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/comm_data.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/kokkosp.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  source/lib/core/sample_cache/cache_storage.cpp
  source/lib/core/sample_cache/rocpd_post_processing.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add missing bracket
  source/lib/core/sample_cache/rocpd_post_processing.cpp
Due: none

Fix shadowing and pedantic
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/amd_smi.cpp
  source/lib/core/sample_cache/rocpd_post_processing.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fix duplicated SDK calls
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fixed designated initializers
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/amd_smi.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

backward compatibility
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/backtrace_metrics.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/sampling.cpp
  source/lib/core/sample_cache/cache_storage_parser.cpp
  source/lib/core/sample_cache/cache_storage_parser.hpp
  source/lib/core/sample_cache/metadata_storage.cpp
  source/lib/core/sample_cache/metadata_storage.hpp
  source/lib/core/sample_cache/rocpd_post_processing.cpp
  source/lib/core/sample_cache/sample_type.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix sampling of flushing thread
  source/lib/core/trace_cache/buffer_storage.cpp
  source/lib/core/trace_cache/buffer_storage.hpp
Due: none

Add cache storage supported types
  source/lib/core/trace_cache/buffer_storage.hpp
Due: none

Rocpd part 2, caching
  projects/rocprofiler-systems/source/lib/core/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/agent_manager.cpp
  projects/rocprofiler-systems/source/lib/core/agent_manager.hpp
  projects/rocprofiler-systems/source/lib/core/benchmark/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/categories.hpp
  projects/rocprofiler-systems/source/lib/core/cpu.cpp
  projects/rocprofiler-systems/source/lib/core/gpu.cpp
  projects/rocprofiler-systems/source/lib/core/rocpd/data_processor.cpp
  projects/rocprofiler-systems/source/lib/core/rocpd/data_processor.hpp
  projects/rocprofiler-systems/source/lib/core/rocpd/data_storage/database.cpp
  projects/rocprofiler-systems/source/lib/core/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys-dl/dl.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys-user/rocprofiler-systems/categories.h
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/amd_smi.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/backtrace_metrics.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/comm_data.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/cpu_freq.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/kokkosp.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/fwd.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/fwd.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/sampling.cpp
  source/lib/core/sample_cache/cache_manager.cpp
  source/lib/core/sample_cache/cache_manager.hpp
  source/lib/core/sample_cache/cache_storage.cpp
  source/lib/core/sample_cache/cache_storage.hpp
  source/lib/core/sample_cache/cache_storage_parser.cpp
  source/lib/core/sample_cache/cache_storage_parser.hpp
  source/lib/core/sample_cache/cache_utility.hpp
  source/lib/core/sample_cache/metadata_storage.cpp
  source/lib/core/sample_cache/metadata_storage.hpp
  source/lib/core/sample_cache/rocpd_post_processing.cpp
  source/lib/core/sample_cache/rocpd_post_processing.hpp
  source/lib/core/sample_cache/sample_type.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add decay in get_size_impl
  source/lib/core/sample_cache/cache_storage.hpp
Due: none

Rename sample cache to trace cache
  projects/rocprofiler-systems/source/lib/core/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/amd_smi.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/comm_data.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/cpu_freq.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/kokkosp.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/sampling.cpp
  source/lib/core/trace_cache/CMakeLists.txt
  source/lib/core/trace_cache/buffer_storage.cpp
  source/lib/core/trace_cache/buffer_storage.hpp
  source/lib/core/trace_cache/cache_manager.cpp
  source/lib/core/trace_cache/cache_manager.hpp
  source/lib/core/trace_cache/cache_utility.hpp
  source/lib/core/trace_cache/metadata_registry.cpp
  source/lib/core/trace_cache/metadata_registry.hpp
  source/lib/core/trace_cache/rocpd_post_processing.cpp
  source/lib/core/trace_cache/rocpd_post_processing.hpp
  source/lib/core/trace_cache/sample_type.hpp
  source/lib/core/trace_cache/storage_parser.cpp
  source/lib/core/trace_cache/storage_parser.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fix timemory include
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/sampling.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Resolving track naming in sampling module
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/sampling.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fix pedantic pt2
  source/lib/core/sample_cache/rocpd_post_processing.cpp
Due: none

Fix rebase issue
  projects/rocprofiler-systems/source/lib/core/benchmark/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/benchmark/benchmark.hpp
  projects/rocprofiler-systems/source/lib/core/benchmark/category.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/trace_cache/buffer_storage.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/buffer_storage.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/cache_manager.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/cache_manager.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/cache_utility.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/metadata_registry.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/metadata_registry.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_post_processing.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_post_processing.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/sample_type.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/storage_parser.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/storage_parser.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Prevent fork crashing
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  source/lib/core/trace_cache/buffer_storage.cpp
  source/lib/core/trace_cache/buffer_storage.hpp
  source/lib/core/trace_cache/cache_manager.hpp
  source/lib/core/trace_cache/rocpd_post_processing.cpp
  source/lib/core/trace_cache/storage_parser.cpp
  source/lib/core/trace_cache/storage_parser.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
