Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Make api_data unused
  projects/clr/hipamd/src/hip_prof_api.h
Due: .azuredevops/rocm_ci_caller.yml

ci: add arravikum to rccl_ci reservation; use rccl_ci + pinned NODELIST
  .github/workflows/rccl_perf_regression.yml
Due: none

Address Copilot review: fork guard, exit-code gating bug, least privilege
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: add workflow_dispatch trigger for manual pipeline testing
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: only BUILD_RCCL=1 when projects/rccl/** actually changed in the PR
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: re-trigger perf gate (runner user fix — rccl_ci now exclusive to CI nodes)
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: remove push trigger (testing complete); skip alltoall_perf (RCCL correctness bug on gfx950)
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: make SLURM reservation optional; pass via env var
  .github/workflows/rccl_perf_regression.yml
Due: none

Point RCCL perf gate at version-controlled scripts in ROCm/cvs
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: pin to rccl_ci nodes via NODELIST; keep rccl_dev reservation for runner access
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: add push trigger on CI branch for end-to-end pipeline testing
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: rename branch to shared/rccl-perf-regression-gate (policy compliance)
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: also trigger perf gate on workflow file changes
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: re-trigger perf gate check (false-negative validation complete)
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: fail gate on detect timeout/polling error instead of reading stale report
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: remove SLURM_RESERVATION — runner user not in reservation
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: restore SLURM_RESERVATION=rccl_dev (arravikum added to reservation)
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: pass GITHUB_TOKEN explicitly to sticky-pr-comment action
  .github/workflows/rccl_perf_regression.yml
Due: none

Address review: point cvs link at landing branch, clean up RUN_CONFIG on build failure
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: add RCCL paired A/B perf-regression gate workflow
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: use ci_detect_prod.json — avoids arravikum-owned reference/candidate lib dirs
  .github/workflows/rccl_perf_regression.yml
Due: none

Split RCCL build step off the pinned 4-node detection allocation
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: switch to rccl_ci reservation (dedicated 4-node gfx950 allocation)
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: remove paths filter from push trigger — any push to branch fires pipeline
  .github/workflows/rccl_perf_regression.yml
Due: none

ci: add explicit permissions block; pin marocchino action to commit SHA (CodeQL)
  .github/workflows/rccl_perf_regression.yml
Due: none

[RCCL] [AICOMRCCL-598] test_runner: route DeviceApi suite to rccl-UnitTestsFixtures
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
Due: .azuredevops/rocm_ci_caller.yml

[RCCL] [AICOMRCCL-598] Add DeviceApi unit tests under rccl-UnitTestsFixtures
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/DeviceApiTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Mark blit hints as unused
  projects/clr/rocclr/device/blit.cpp
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/clr/rocclr/device/rocm/rocmemory.cpp
Due: .azuredevops/rocm_ci_caller.yml

Make rocminfo fail if it reports failure (excluding GPU-less system failure)
  projects/rocprofiler-systems/tests/pytest/conftest.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/gpu.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

moving NVMeoF and NFSoRDMA support to note
  projects/hipfile/docs/install/install.rst
  projects/hipfile/docs/reference/hipFile-environment-variables.rst
  projects/hipfile/docs/reference/hipFile-io-backends.rst
Due: .azuredevops/rocm_ci_caller.yml

Address copilot review comments
  projects/hip-tests/catch/include/hip_test_common.hh
  projects/hip-tests/catch/unit/module/hipManagedKeywordDeferredInit.cc
Due: .azuredevops/rocm_ci_caller.yml

address review comments
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_buffer.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_buffer.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/att_packet_test.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Per-agent shared trace buffers for ATT
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_buffer.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_buffer.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/att_packet_test.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Mark long-tail unused params and drop dead isCALTarget
  projects/clr/hipamd/src/hip_platform.cpp
  projects/clr/rocclr/compiler/lib/utils/options.cpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/elf/elf.cpp
  projects/clr/rocclr/elf/elf.hpp
  projects/clr/rocclr/include/top.hpp
  projects/clr/rocclr/platform/agent.cpp
  projects/clr/rocclr/platform/command.hpp
Due: .azuredevops/rocm_ci_caller.yml

RCCL/IbCast: register proxy as v14 ncclRma_t (RMA_IB_PROXY)
  projects/rccl/src/dev_runtime.cc
  projects/rccl/src/include/gin.h
  projects/rccl/src/include/rma.h
  projects/rccl/src/plugin/gin.cc
  projects/rccl/src/plugin/rma.cc
  projects/rccl/src/rma/rma_proxy.cc
  projects/rccl/src/transport/net_ib_cast/gin.cc
  projects/rccl/tools/scripts/test_runner/configs/net_ib_transport.json
Due: .azuredevops/rocm_ci_caller.yml

Test fix
  projects/rocprofiler-systems/examples/openmp/fortran/detach.f90
  projects/rocprofiler-systems/tests/pytest/test_openmp.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Remove dead DmaBlitManager stubs
  projects/clr/rocclr/device/blit.hpp
  projects/clr/rocclr/device/pal/palblit.hpp
  projects/clr/rocclr/device/rocm/rocblit.hpp
Due: .azuredevops/rocm_ci_caller.yml

ROCM-26531 - Fix capture graph leak on execution-context stream detach (#7773)
  projects/clr/hipamd/src/hip_internal.hpp
  projects/clr/hipamd/src/hip_stream.cpp
Due: .azuredevops/rocm_ci_caller.yml

feat(rocprofiler-sdk): attach ATT support (#6055)
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-attach/code_object_registration.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-attach/code_object_registration.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-attach/table.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-attach/table.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-attach/table.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/code_object/code_object.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/code_object.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/code_object.hpp
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-once-att/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-once-att/conftest.py
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-once-att/pytest.ini
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-once-att/run_attachment_att_test.sh
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-once-att/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Gate optional VirtualDevice command handlers
  projects/clr/rocclr/device/device.cpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/platform/command.hpp
  projects/clr/rocclr/platform/commandqueue.cpp
Due: .azuredevops/rocm_ci_caller.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
