Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

fix build issue 3
  projects/rocprofiler-systems/source/lib/backends/rocprofiler_sdk/tests/mock_sdk.hpp
  projects/rocprofiler-systems/source/lib/backends/rocprofiler_sdk/tests/test_backend.cpp
  projects/rocprofiler-systems/source/lib/backends/rocprofiler_sdk/wrapper.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

updated changelog file
  projects/amdsmi/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

fix(hsa): bound in-flight serialized dispatches to prevent PMC hang
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.hpp
  projects/rocprofiler-sdk/tests/CMakeLists.txt
  projects/rocprofiler-sdk/tests/counter-collection-backpressure/CMakeLists.txt
  projects/rocprofiler-sdk/tests/counter-collection-backpressure/conftest.py
  projects/rocprofiler-sdk/tests/counter-collection-backpressure/pytest.ini
  projects/rocprofiler-sdk/tests/counter-collection-backpressure/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix HRR process archive recovery
  projects/clr/hipamd/src/hrr/hip_capture_writer.cpp
  projects/clr/hipamd/src/hrr/playback/hrr_playback.cpp
  projects/hip-tests/catch/config/configs/unit/hrr.yaml
  projects/hip-tests/catch/unit/hrr/hrr_recovery_test.cc
Due: .azuredevops/rocm_ci_caller.yml

clr: fix ihipGraphDebugDotPrint namespace mismatch
  projects/clr/hipamd/src/hip_graph_internal.cpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-515087 - only rewrite the value of HSA_AMD_AGENT_INFO_CLUSTER_MAX_SIZE if there is actual cluster support. Otherwise devProp.clusterLaunch ends up being 1
  projects/clr/rocclr/device/rocm/rocdevice.cpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-515087 - address Copilot comments
  projects/clr/hipamd/src/hip_platform.cpp
Due: .azuredevops/rocm_ci_caller.yml

ROCM-9084 - bring changes from 'fix cluster occupancy tests compilation and results' (#1001) that fixes hipOccupancyMaxActiveClusters() calculation Test fixes for:
  projects/clr/hipamd/src/hip_module.cpp
  projects/clr/hipamd/src/hip_platform.cpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/hip-tests/catch/unit/occupancy/hipOccupancyMaxActiveClusters.cc
  projects/hip-tests/catch/unit/occupancy/hipOccupancyMaxPotentialClusterSize.cc
Due: .azuredevops/rocm_ci_caller.yml

ROCM-9084 - check for overflow while multiplying clusterDims.x, y and z to calculate the cluster size
  projects/clr/hipamd/src/hip_module.cpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-515087 - remove Catch2 INFO() that was misplaced
  projects/hip-tests/catch/unit/occupancy/hipOccupancyMaxPotentialClusterSize.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-515087 - remove Unit_hipOccupancyMaxPotentialClusterSize_Verify_Launch as it requires distributed shared memory
  projects/hip-tests/catch/hipTestMain/config/config_amd_linux
  projects/hip-tests/catch/unit/occupancy/hipOccupancyMaxPotentialClusterSize.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-515087 - fix merge problem. REQUIRE() testing maximum clusterSize ended up being placed before the actual value was produced with hipOccupancyMaxPotentialClusterSize()
  projects/hip-tests/catch/unit/occupancy/hipOccupancyMaxPotentialClusterSize.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(hsa): treat serializer throttle bound as inclusive cap
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

docs(hsa): clarify throttle_inflight inclusive-cap semantics
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[profiler-hub]: hide bundled sqlite3 symbols (-fvisibility=hidden + --exclude-libs)
  profilers/profiler-hub/CHANGELOG.md
  profilers/profiler-hub/CMakeLists.txt
  profilers/profiler-hub/cmake/sqlite3.cmake
  profilers/profiler-hub/tests/unit/CMakeLists.txt
  profilers/profiler-hub/tests/unit/symbol_seal_test.cpp
Due: none

Adressed review comments
  profilers/profiler-hub/CMakeLists.txt
  profilers/profiler-hub/tests/unit/symbol_seal_test.cpp
Due: none

ROCM-9084 - fix compilation errors when using cl.exe ('__builtin_mul_overflow': identifier not found)
  projects/clr/hipamd/src/hip_module.cpp
Due: .azuredevops/rocm_ci_caller.yml

[CLR] Remove hardcoded /Zi in CMakeLists.txt
  projects/clr/hipamd/CMakeLists.txt
  projects/clr/opencl/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

docs(hrr): correct and expand Known Limitations
  projects/clr/hipamd/src/hrr/DESIGN.md
Due: .azuredevops/rocm_ci_caller.yml

clean up
  projects/rocprofiler-systems/source/lib/backends/rocprofiler_sdk/backend.hpp
  projects/rocprofiler-systems/source/lib/backends/rocprofiler_sdk/tests/mock_sdk.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu_perf_counter/device.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu_perf_counter/gpu_perf_counter_traits.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu_perf_counter/tests/mock_backend.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu_perf_counter/tests/test_device.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/device_providers/rocprofiler_sdk/provider.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

refactor(hsa): gate serializer backpressure on dispatch depth, drop env knob
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/profile_serializer.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/profile_serializer.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.hpp
  projects/rocprofiler-sdk/tests/counter-collection-backpressure/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(hrr): correctness fixes for capture/replay (H1,H3,H4,H5,H6)
  projects/clr/hipamd/src/hrr/DESIGN.md
  projects/clr/hipamd/src/hrr/gen_hrr_api_args.py
  projects/clr/hipamd/src/hrr/hip_capture.cpp
  projects/clr/hipamd/src/hrr/hip_capture_generated.cpp
  projects/clr/hipamd/src/hrr/hip_capture_writer.cpp
  projects/clr/hipamd/src/hrr/hip_capture_writer.h
  projects/clr/hipamd/src/hrr/hrr_api_args.h
  projects/clr/hipamd/src/hrr/playback/hip_playback.cpp
  projects/clr/hipamd/src/hrr/playback/hip_playback_generated.cpp
  projects/clr/hipamd/src/hrr/playback/hrr_playback.cpp
  projects/clr/hipamd/src/hrr/playback/hrr_reader.cpp
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] use gcc and sanitizers
  .github/workflows/rocjitsu-corpus-tests.yml
  emulation/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/kernels/CMakeLists.txt
Due: none

test
  projects/rocr-runtime/rocrtst/suites/functional/virtual_memory.cc
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/kfd/amd_kfd_driver.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[rocprofiler-compute] Trim analyze version-check docstring
  projects/rocprofiler-compute/src/rocprof-compute
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Clarify Python version support per mode
  projects/rocprofiler-compute/docs/how-to/analyze/mode.rst
  projects/rocprofiler-compute/docs/install/quickstart.rst
  projects/rocprofiler-compute/pyproject.toml
  projects/rocprofiler-compute/requirements.txt
  projects/rocprofiler-compute/src/rocprof-compute
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Drop non-advertised rows from version matrix
  projects/rocprofiler-compute/docs/install/quickstart.rst
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Use console_error and skip comments in verify_deps
  projects/rocprofiler-compute/src/rocprof-compute
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Add changelog entry for per-mode Python version split
  projects/rocprofiler-compute/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Note quickstart deps are analyze-only
  projects/rocprofiler-compute/docs/install/quickstart.rst
Due: .azuredevops/rocm_ci_caller.yml

Fix test_mi_gpu_spec mocks to use renamed rdna3.5 series
  projects/rocprofiler-compute/tests/test_mi_gpu_spec.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(gfx115x): add RDNA 3.5 support and fix APU spec display
  projects/rocprofiler-compute/docs/conceptual/rdna/gl0-cache.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/gl1-cache.rst
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx115x/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx1150.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx1151.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx1152.py
  projects/rocprofiler-compute/src/utils/.config_hashes.json
  projects/rocprofiler-compute/src/utils/amdsmi_interface.py
  projects/rocprofiler-compute/src/utils/metrics/evaluation_pipeline.py
  projects/rocprofiler-compute/src/utils/mi_gpu_spec.py
  projects/rocprofiler-compute/src/utils/mi_gpu_spec.yaml
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/src/utils/specs.py
  projects/rocprofiler-compute/src/utils/utils_counter_defs.py
  projects/rocprofiler-compute/tests/test_gfx1151_specs.py
  projects/rocprofiler-compute/tests/workloads/dispatch_0/RDNA35_HALO/sysinfo.csv
  projects/rocprofiler-compute/tests/workloads/ipblocks_CU/RDNA35_HALO/sysinfo.csv
  projects/rocprofiler-compute/tests/workloads/kernel/RDNA35_HALO/sysinfo.csv
  projects/rocprofiler-compute/tests/workloads/no_roof/RDNA35_HALO/sysinfo.csv
  projects/rocprofiler-compute/tests/workloads/path/RDNA35_HALO/sysinfo.csv
  projects/rocprofiler-compute/tests/workloads/vcopy/RDNA35_HALO/sysinfo.csv
  projects/rocprofiler-compute/tools/config_management/README.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix _kw_only decorator to reject positional arguments
  projects/rocprofiler-compute/src/utils/specs.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Document num_memory_channels rename in changelog
  projects/rocprofiler-compute/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

Add gfx125X to nightly multi-arch CI trigger
  .github/workflows/therock-multi-arch-ci-nightly.yml
Due: none

Add support for device-side leak detection
  projects/clr/rocclr/device/device.cpp
  projects/clr/rocclr/device/device.hpp
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Fix overflows
  emulation/rocjitsu/lib/python/amdisa/sema_derive.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_sema_derive.py
Due: none

Run hip tests with amdclang++
  emulation/rocjitsu/cmake/rj_find_amdcxx.cmake
  emulation/rocjitsu/tests/CMakeLists.txt
Due: none

[rocjitsu] regenerate isa
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/gfx1250/vop3_alu.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/gfx1250/vop3_alu_2.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/gfx1250/vop3_ternary.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3/vop3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3_5/vop3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna4/vop3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/execute_shared.h
Due: none
