Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

fix(tests): drop check_target_arch for kernel-less sdma-test
  projects/rocprofiler-systems/tests/pytest/test_sdma.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Update comment for clarity.
  projects/rocprofiler-systems/tests/pytest/rocprofsys/capabilities.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

docs(sdma): add ROCPROFSYS_AMD_SMI_METRICS to README
  projects/rocprofiler-systems/examples/sdma-test/README.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

feat(tests): show AMD-SMI version in config header
  projects/rocprofiler-systems/tests/pytest/conftest.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(tests): correct amd-smi version regex
  projects/rocprofiler-systems/tests/pytest/rocprofsys/capabilities.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

docs(sdma): document version requirements and amdgpu parsing
  projects/rocprofiler-systems/tests/pytest/rocprofsys/capabilities.py
  projects/rocprofiler-systems/tests/pytest/test_sdma.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

test(sdma): restrict SDMA test to instinct GPUs
  projects/rocprofiler-systems/tests/pytest/test_sdma.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

refactor(tests): drop unused capabilities exports from package init
  projects/rocprofiler-systems/tests/pytest/rocprofsys/__init__.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Reference to ROCprofiler-SDK removed
  projects/rocprofiler-systems/docs/how-to/communication-runtime-profiling.rst
Due: .azuredevops/rocm_ci_caller.yml

Apply suggestions from code review
  projects/rocprofiler-systems/docs/how-to/communication-runtime-profiling.rst
Due: .azuredevops/rocm_ci_caller.yml

Custom MPI intro updated
  projects/rocprofiler-systems/docs/how-to/communication-runtime-profiling.rst
Due: .azuredevops/rocm_ci_caller.yml

fixup! Adjusted Dockerfile to verify checksum of rust installer
  projects/amdsmi/rust-interface/Dockerfile
Due: .azuredevops/rocm_ci_caller.yml

[hipFile][examples] Standardize CMake scheme across example dirs
  projects/hipfile/cmake/AISInstall.cmake
  projects/hipfile/examples/README.md
  projects/hipfile/examples/aiscp/CMakeLists.install.cmake
  projects/hipfile/examples/api/CMakeLists.install.cmake
  projects/hipfile/examples/async/CMakeLists.install.cmake
  projects/hipfile/examples/async/CMakeLists.txt
  projects/hipfile/examples/async/roundtrip-async-multi-stream-registered.cpp
  projects/hipfile/examples/async/roundtrip-async-multi-stream.cpp
  projects/hipfile/examples/async/roundtrip-async-nonblocking-stream.cpp
  projects/hipfile/examples/async/roundtrip-async.cpp
  projects/hipfile/examples/basics/CMakeLists.install.cmake
  projects/hipfile/examples/basics/CMakeLists.txt
  projects/hipfile/examples/basics/bufregister-write.cpp
  projects/hipfile/examples/basics/iterative-devmem-offset-read.cpp
  projects/hipfile/examples/basics/iterative-read.cpp
  projects/hipfile/examples/basics/no-bufregister-write.cpp
  projects/hipfile/examples/basics/no-odirect-write.cpp
  projects/hipfile/examples/basics/roundtrip-verify.cpp
  projects/hipfile/examples/basics/subregion-write.cpp
  projects/hipfile/examples/basics/various-mem-rw.cpp
  projects/hipfile/examples/common/CMakeLists.install.cmake
  projects/hipfile/examples/common/CMakeLists.txt
  projects/hipfile/examples/common/examples_common.h
Due: .azuredevops/rocm_ci_caller.yml

pre-commit fixes
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
Due: none

[AMD-SMI] Remove stale Dockerfile
  projects/amdsmi/Dockerfile
Due: .azuredevops/rocm_ci_caller.yml

[AICOMRCCL-1100] [rccl] Fix build and runtime issues in rccl-UnitTestsMicro
  projects/rccl/test/microtest/CMakeLists.txt
  projects/rccl/test/microtest/fakes/p2p_fakes.cc
  projects/rccl/test/microtest/p2p-test.cc
Due: .azuredevops/rocm_ci_caller.yml

[AICOMRCCL-1100] [rccl] Add regression test for p2p+collective user-buffer crash (nccl#1859)
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/microtest/CMakeLists.txt
  projects/rccl/test/microtest/fakes/p2p_fakes.cc
  projects/rccl/test/microtest/fakes/p2p_fakes.h
  projects/rccl/test/microtest/p2p-test.cc
Due: .azuredevops/rocm_ci_caller.yml

Complete the conversion of gda to use the constmem my-pe num-pes
  projects/rocshmem/src/gda/context_gda_device_coll.cpp
Due: .azuredevops/rocm_ci_caller.yml

Convert the ipc backend to use the constmem mype numpes
  projects/rocshmem/src/ipc/context_ipc_device.cpp
  projects/rocshmem/src/ipc/context_ipc_device_coll.cpp
  projects/rocshmem/src/ipc/context_ipc_tmpl_device.hpp
Due: .azuredevops/rocm_ci_caller.yml

Convert ro to use the constmem mype numpes
  projects/rocshmem/src/reverse_offload/context_ro_device.cpp
  projects/rocshmem/src/reverse_offload/context_ro_tmpl_device.hpp
Due: .azuredevops/rocm_ci_caller.yml

Remove reference to old preview releases
  projects/hipfile/INSTALL.md
  projects/hipfile/docs/install/install.rst
Due: .azuredevops/rocm_ci_caller.yml

Silence warning about tinfo since we somethimes don't use it
  projects/rocshmem/src/reverse_offload/context_proxy.hpp
Due: .azuredevops/rocm_ci_caller.yml

pre-commit fixes
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/scalar_operand_resolve.h
Due: none

[RCCL] Fix oneRankReduce dropping tail elements on non-block-multiple counts
  projects/rccl/src/device/onerank.cu
  projects/rccl/test/AllReduceTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

[AICOMRCCL-1100] [rccl] Add coverage.sh for rccl-UnitTestsMicro
  projects/rccl/test/microtest/coverage.sh
Due: .azuredevops/rocm_ci_caller.yml

[AICOMRCCL-1100] [rccl] Complete nccl#1859 fix and rewrite regression test
  projects/rccl/src/transport/p2p.cc
  projects/rccl/test/microtest/p2p-test.cc
Due: .azuredevops/rocm_ci_caller.yml

fix HIP stream lifetime ID reuse
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/stream.cpp
  projects/rocprofiler-sdk/tests/bin/hip-stream-reuse/hip-stream-reuse.cpp
  projects/rocprofiler-sdk/tests/rocprofv3/hip-stream-reuse/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/hip-stream-reuse/conftest.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[ci] Add nightly schedule to multi-arch CI ASAN workflow
  .github/workflows/therock_multi_arch_ci_asan.yml
Due: none

fix race condition in rccl asan build
  projects/rccl/cmake/DeviceLinker.cmake
Due: .azuredevops/rocm_ci_caller.yml

replace regex
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/tests/core.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

format.
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/stream.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Boundary check accesses to the ipc_vec_handles array.
  projects/rocshmem/src/memory/hip_allocator.hpp
Due: .azuredevops/rocm_ci_caller.yml

remove trailing period from bullet points
  projects/hipfile/docs/install/python-bindings.rst
Due: .azuredevops/rocm_ci_caller.yml

[AMD-SMI] Lowercase topology NIC-GPU access table JSON/CSV keys
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/amdsmi_cli/subcommands/topology.py
Due: .azuredevops/rocm_ci_caller.yml

security audit: harden sprintf->snprintf
  projects/rocshmem/src/gda/topology.cpp
Due: .azuredevops/rocm_ci_caller.yml

Revert perfetto_policy.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu/perfetto_policy.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[ci] Bump TheRock ref to pick up external CI config support
  .github/workflows/therock_multi_arch_ci_asan.yml
Due: none

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
