Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

hipFile: Update Python changelog for hipFile 0.4.0 (#9119)
  projects/hipfile/python/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Fix Release build and remaining review hazards
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/indirect_branch_discovery.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/gfx1250_b0_to_a0.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna1/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna1/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna2/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna2/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna3/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna3/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/gfx1250/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna1/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna1/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna2/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna2/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3_5/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3_5/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna4/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna4/encodings.h
  emulation/rocjitsu/tests/analysis/liveness_test.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
Due: none

docs(consan): record bounded gfx950 Tensile corpus
  emulation/rocjitsu/docs/consan/STATUS_CDNA4.md
Due: none

src: change LL128_warpsync to remove all LL128 references and data structures
  projects/rccl/cmake/DeviceLinker.cmake
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/collectives.cc
  projects/rccl/src/dda_all_reduce_fabric_simple_warpsync.cu
  projects/rccl/src/include/algorithms/all_reduce/all_reduce_dda_fabric_simple_warpsync.h
  projects/rccl/src/include/dda_all_reduce.h
Due: .azuredevops/rocm_ci_caller.yml

refactor(amdsmi): replace uses of old compute partition APIs
  projects/amdsmi/.claude/context/CONTEXT.md
  projects/amdsmi/amdsmi_cli/amdsmi_rocm_smi_compat.py
  projects/amdsmi/amdsmi_cli/subcommands/default.py
  projects/amdsmi/amdsmi_cli/subcommands/set_value.py
  projects/amdsmi/amdsmi_cli/subcommands/static.py
  projects/amdsmi/example/amd_smi_drm_example.cc
Due: .azuredevops/rocm_ci_caller.yml

docs(consan): reconcile gfx950 corpus provenance
  emulation/rocjitsu/docs/consan/STATUS_CDNA4.md
Due: none

prime glibc timezone cache in logger init
  projects/rocprofiler-systems/source/lib/logger/logger.hpp
  projects/rocprofiler-systems/source/lib/logger/tests/test_logger.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

feat(hipfile): Gate fastpath-only tests only to systems that support the AIS fastpath (#7419)
  projects/hipfile/CMakeLists.txt
  projects/hipfile/test/CMakeLists.txt
  projects/hipfile/test/common/ais-capability.cpp
  projects/hipfile/test/common/ais-capability.h
  projects/hipfile/test/common/test-options.h
  projects/hipfile/test/system/amd/io.cpp
  projects/hipfile/tools/ais-check/ais-check
Due: .azuredevops/rocm_ci_caller.yml

docs(consan): clarify gfx950 corpus boundaries
  emulation/rocjitsu/docs/consan/STATUS_CDNA4.md
Due: none

feat(rocprofiler-sdk): Add rocpd output support for SPM counters (#6756)
  projects/rocprofiler-sdk/CHANGELOG.md
  projects/rocprofiler-sdk/source/docs/data/rocpd-to-csv-spm.csv
  projects/rocprofiler-sdk/source/docs/how-to/using-spm.rst
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
  projects/rocprofiler-sdk/source/lib/python/rocpd/csv.py
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/versions.yml
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/versions/3.0.2/CMakeLists.txt
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/versions/3.0.2/data_views.sql
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/versions/3.0.2/rocpd_indexes.sql
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/versions/3.0.2/rocpd_metadata.sql
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/versions/3.0.2/rocpd_tables.sql
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/versions/3.0.2/rocpd_views.sql
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/versions/3.0.2/summary_views.sql
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/versions/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/spm/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/spm/rocpd/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/spm/rocpd/conftest.py
  projects/rocprofiler-sdk/tests/rocprofv3/spm/rocpd/pytest.ini
  projects/rocprofiler-sdk/tests/rocprofv3/spm/rocpd/spm_input.json
  projects/rocprofiler-sdk/tests/rocprofv3/spm/rocpd/validate.py
  projects/rocprofiler-sdk/tests/rocprofv3/spm/rocpd/validate_multigpu.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add tuning to address 128MB AR regression in two node.
  projects/rccl/src/graph/tuning.cc
Due: .azuredevops/rocm_ci_caller.yml

docs(consan): tighten gfx950 evidence scope
  emulation/rocjitsu/docs/consan/STATUS_CDNA4.md
Due: none

docs(hipFile): Create new guides for setting up storage targets (#8897)
  projects/hipfile/docs/how-to/setup-local-nvme.rst
  projects/hipfile/docs/how-to/setup-nfsordma.rst
  projects/hipfile/docs/how-to/setup-nvmeof.rst
  projects/hipfile/docs/index.rst
  projects/hipfile/docs/reference/hipFile-io-backends.rst
  projects/hipfile/docs/sphinx/_toc.yml.in
  projects/hipfile/docs/troubleshooting/known-issues.rst
  projects/hipfile/docs/troubleshooting/limitations.rst
  projects/hipfile/docs/troubleshooting/troubleshooting.rst
Due: .azuredevops/rocm_ci_caller.yml

docs(consan): distinguish declared gfx950 checks
  emulation/rocjitsu/docs/consan/STATUS_CDNA4.md
Due: none

addressed copilot comments
  projects/amdsmi/docs/conceptual/partition.md
  projects/amdsmi/docs/reference/amdsmi-py-api.md
  projects/amdsmi/example/amd_smi_drm_example.cc
  projects/amdsmi/tests/amd_smi_test/functional/memorypartition_read_write.cc
Due: .azuredevops/rocm_ci_caller.yml

Add LINKER_LANGUAGE CXX to C-only plugin examples and fix proxytrace include paths
  projects/rccl/plugins/env/example/CMakeLists.txt
  projects/rccl/plugins/net/example/CMakeLists.txt
  projects/rccl/plugins/profiler/proxytrace/CMakeLists.txt
  projects/rccl/plugins/tuner/example/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

docs(consan): qualify gfx950 Tensile profiles
  emulation/rocjitsu/docs/consan/STATUS_CDNA4.md
Due: none

[profiler] Scope gtest -pthread to profiler-hub_unit_tests target
  profilers/profiler-hub/tests/unit/CMakeLists.txt
Due: none

perf(rocjitsu): avoid repeated race trace disassembly (#9153)
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/plugin.h
  emulation/rocjitsu/tests/execution_plugin_test.cpp
Due: none

fix(hip-tests): Fix soft hang in a hip sub-test
  projects/hip-tests/catch/unit/memory/hipFreeMipmappedArray.cc
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Fixes to B0 -> A0 for DSV4 (#9120)
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/control_flow.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/indirect_branch_discovery.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/basic_block.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/basic_block.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/legalization/gfx1250_b0_to_a0.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/gfx1250_b0_to_a0.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_text_layout.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna1/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna1/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna2/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna2/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna3/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna3/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/gfx1250/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/gfx1250/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna1/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna1/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna2/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna2/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3_5/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3_5/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna4/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna4/encodings.h
  emulation/rocjitsu/tests/analysis/liveness_test.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
  emulation/rocjitsu/tools/dbt_translate_main.cpp
Due: none

test(cuid): fold gim tests into unified suite
  projects/cuid/lib/src/cuid_gpu.cc
  projects/cuid/lib/src/cuid_gpu.h
  projects/cuid/tests/main.cc
  projects/cuid/tests/unit/cuid_gpu_test.cc
  projects/cuid/tests/unit/cuid_gpu_test.h
  projects/cuid/tests/unit/gim_util_test.cc
  projects/cuid/tests/unit/gim_util_test.h
Due: .azuredevops/rocm_ci_caller.yml

docs(cuid): trim verbose comments in gim discovery and tests
  projects/cuid/lib/src/cuid_gpu.cc
  projects/cuid/lib/src/gim_util.cc
  projects/cuid/lib/src/gim_util.h
  projects/cuid/tests/unit/cuid_gpu_test.cc
Due: .azuredevops/rocm_ci_caller.yml

test: also break AllToAllv for CI signal validation
  projects/rccl/src/collectives.cc
Due: .azuredevops/rocm_ci_caller.yml

edit the new fastpath checking doc
  projects/hipfile/docs/how-to/checking-system-compatibility.rst
  projects/hipfile/docs/index.rst
  projects/hipfile/docs/install/checking-system-compatibility.rst
  projects/hipfile/docs/sphinx/_toc.yml.in
  projects/hipfile/docs/troubleshooting/troubleshooting.rst
Due: .azuredevops/rocm_ci_caller.yml

fix(clr): Fix HIP graph deadlocks and stale packets on node enable/di… (#9063)
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/hip-tests/catch/config/configs/performance.yaml
  projects/hip-tests/catch/config/configs/unit/graph.yaml
  projects/hip-tests/catch/performance/scenarios/graph/hipGraphCollapseCorrectness.cc
  projects/hip-tests/catch/unit/graph/hipGraphCycle.cc
  projects/hip-tests/catch/unit/graph/hipGraphExecKernelNodeSetParams.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(cuid): skip unsupported cards, wire GIM serial fingerprint, trim cmake churn
  projects/cuid/lib/CMakeLists.txt
  projects/cuid/lib/src/cuid_gpu.cc
  projects/cuid/lib/src/cuid_gpu.h
Due: .azuredevops/rocm_ci_caller.yml

test(rocjitsu): isolate runtime handoff directory
  emulation/rocjitsu/tests/config_test.cpp
Due: none

test(rocjitsu): cover explicit DBT host selection
  emulation/rocjitsu/tests/launch_preload_test.cpp
Due: none

test(rocjitsu): cover visibility selector ordering
  emulation/rocjitsu/tests/launch_preload_test.cpp
Due: none

refactor(rocjitsu): share runtime handoff writer
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/config/dbt_guest_config.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/config/dbt_guest_config.h
  emulation/rocjitsu/tests/config_test.cpp
  emulation/rocjitsu/tools/rocjitsu/main.cpp
Due: none

fix(rocjitsu): place DBT host at device zero
  emulation/rocjitsu/tests/launch_preload_test.cpp
  emulation/rocjitsu/tools/rocjitsu/main.cpp
  emulation/rocjitsu/tools/rocjitsu/rocm_visibility.cpp
  emulation/rocjitsu/tools/rocjitsu/rocm_visibility.h
Due: none

fix(rocjitsu): require automatic DBT handoff ID
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/config/dbt_guest_config.cpp
  emulation/rocjitsu/tests/config_test.cpp
Due: none

rocjitsu: preserve 3D workgroup coordinates in CWSR
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/wavefront.h
Due: none

rocjitsu: add idempotent C++ stylist
  .pre-commit-config.yaml
  emulation/rocjitsu/docs/style.md
  emulation/rocjitsu/scripts/stylist.md
  emulation/rocjitsu/scripts/stylist.py
  emulation/rocjitsu/scripts/stylist_baseline.json
  emulation/rocjitsu/scripts/stylist_rules.py
  emulation/rocjitsu/tests/scripts/test_stylist.py
Due: none

fix(rocjitsu): reject malformed GPU selectors
  emulation/rocjitsu/tests/launch_preload_test.cpp
  emulation/rocjitsu/tools/rocjitsu/rocm_visibility.cpp
Due: none

docs(consan): retain gfx950 qualification provenance
  emulation/rocjitsu/docs/consan/STATUS_CDNA4.md
Due: none

fix(rocjitsu): read complete runtime handoff
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/interposer.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/guest_kfd_test.cpp
Due: none
