Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

[rocjitsu] Fix sanitizer failures in notifier tests
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
Due: none

consan: add profiler-driven kernel allowlist workflow
  emulation/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/docs/consan/USAGE.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/kernel_descriptor_scan.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/kernel_symbol.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/kernel_symbol.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_observation_policy.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_options.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/modes/supercollider/consan_supercollider_common.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_hooks.cpp
  emulation/rocjitsu/scripts/rocjitsu_consan_allowlist.py
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/code/code_object_target_id_test.cpp
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
  emulation/rocjitsu/tests/tools/test_consan_allowlist.py
Due: none

fix(rccl): restore host-test and rccl-tests builds after the 2.31 enqueue split
  projects/rccl/src/include/rocmwrap.h
  projects/rccl/src/misc/cudawrap.cc
  projects/rccl/src/misc/rocmwrap.cc
  projects/rccl/test/host/CMakeLists.txt
  projects/rccl/test/host/enqueue-test.cc
Due: .azuredevops/rocm_ci_caller.yml

feat(rccl): vendor fmt 10.2.1 as a header-only library
  projects/rccl/.clang-format-ignore
  projects/rccl/CHANGELOG.md
  projects/rccl/NOTICES.txt
  projects/rccl/cmake/Dependencies.cmake
  projects/rccl/cmake/DeviceLinker.cmake
  projects/rccl/external/fmt/CMakeLists.txt
  projects/rccl/external/fmt/LICENSE
  projects/rccl/external/fmt/README.md
  projects/rccl/external/fmt/include/fmt/args.h
  projects/rccl/external/fmt/include/fmt/chrono.h
  projects/rccl/external/fmt/include/fmt/color.h
  projects/rccl/external/fmt/include/fmt/compile.h
  projects/rccl/external/fmt/include/fmt/core.h
  projects/rccl/external/fmt/include/fmt/format-inl.h
  projects/rccl/external/fmt/include/fmt/format.h
  projects/rccl/external/fmt/include/fmt/os.h
  projects/rccl/external/fmt/include/fmt/ostream.h
  projects/rccl/external/fmt/include/fmt/printf.h
  projects/rccl/external/fmt/include/fmt/ranges.h
  projects/rccl/external/fmt/include/fmt/std.h
  projects/rccl/external/fmt/include/fmt/xchar.h
  projects/rccl/plugins/profiler/proxytrace/CMakeLists.txt
  projects/rccl/plugins/profiler/proxytrace/Makefile
  projects/rccl/plugins/profiler/proxytrace/README.md
  projects/rccl/src/CMakeLists.txt
  projects/rccl/test/host/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

consan: keep profiler allowlist prefilter linear
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/kernel_descriptor_scan.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/kernel_symbol.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/kernel_symbol.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_hooks.cpp
  emulation/rocjitsu/tests/code/code_object_target_id_test.cpp
Due: none

feat(rocprofiler-sdk): add hip event tracing sample
  projects/rocprofiler-sdk/samples/CMakeLists.txt
  projects/rocprofiler-sdk/samples/hip_event_tracing/CMakeLists.txt
  projects/rocprofiler-sdk/samples/hip_event_tracing/README.md
  projects/rocprofiler-sdk/samples/hip_event_tracing/client.cpp
  projects/rocprofiler-sdk/samples/hip_event_tracing/client.hpp
  projects/rocprofiler-sdk/samples/hip_event_tracing/main.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

automated review 1
  projects/rocprofiler-sdk/samples/hip_event_tracing/README.md
  projects/rocprofiler-sdk/samples/hip_event_tracing/client.cpp
  projects/rocprofiler-sdk/samples/hip_event_tracing/client.hpp
  projects/rocprofiler-sdk/samples/hip_event_tracing/main.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

address review: probe PATH for libav DLLs instead of ffmpeg.exe; fix hint-list emptiness check
  projects/rocdecode/cmake/FindFFmpeg.cmake
Due: .azuredevops/rocm_ci_caller.yml

consan: match templated profiler kernel names
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/kernel_symbol.cpp
  emulation/rocjitsu/tests/code/code_object_target_id_test.cpp
Due: none

feat(rccl): add rccl_ep intranode expert-parallel dispatch and combine
  projects/rccl/src/algorithms/rccl_ep/CMakeLists.txt
  projects/rccl/src/algorithms/rccl_ep/README.md
  projects/rccl/src/algorithms/rccl_ep/device/combine.h
  projects/rccl/src/algorithms/rccl_ep/device/dispatch.h
  projects/rccl/src/algorithms/rccl_ep/device/ep_common.h
  projects/rccl/src/algorithms/rccl_ep/device/expand.h
  projects/rccl/src/algorithms/rccl_ep/device/hip_prims.h
  projects/rccl/src/algorithms/rccl_ep/include/ep_arch.h
  projects/rccl/src/algorithms/rccl_ep/include/ep_layout.h
  projects/rccl/src/algorithms/rccl_ep/python/pyproject.toml
  projects/rccl/src/algorithms/rccl_ep/python/rccl_ep/_C.py
  projects/rccl/src/algorithms/rccl_ep/python/rccl_ep/__init__.py
  projects/rccl/src/algorithms/rccl_ep/python/rccl_ep_capi.hip
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): validate rccl_ep inputs and run on the caller's stream
  projects/rccl/src/algorithms/rccl_ep/device/combine.h
  projects/rccl/src/algorithms/rccl_ep/device/ep_common.h
  projects/rccl/src/algorithms/rccl_ep/device/expand.h
  projects/rccl/src/algorithms/rccl_ep/device/hip_prims.h
  projects/rccl/src/algorithms/rccl_ep/include/ep_arch.h
  projects/rccl/src/algorithms/rccl_ep/include/ep_layout.h
  projects/rccl/src/algorithms/rccl_ep/python/rccl_ep/__init__.py
  projects/rccl/src/algorithms/rccl_ep/python/rccl_ep_capi.hip
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): add rccl_ep unit tests for wave primitives and window layout
  projects/rccl/src/algorithms/rccl_ep/CMakeLists.txt
  projects/rccl/src/algorithms/rccl_ep/README.md
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/device/RcclEpTests.cpp
  projects/rccl/test/test_categories_fixtures.yaml
Due: .azuredevops/rocm_ci_caller.yml

build(rccl): optionally build rccl_ep into librccl.so
  projects/rccl/CMakeLists.txt
  projects/rccl/cmake/DeviceLinker.cmake
  projects/rccl/install.sh
  projects/rccl/src/algorithms/rccl_ep/README.md
  projects/rccl/src/algorithms/rccl_ep/python/pyproject.toml
  projects/rccl/src/algorithms/rccl_ep/python/rccl_ep/__init__.py
  projects/rccl/src/algorithms/rccl_ep/python/rccl_ep_capi.hip
  projects/rccl/test/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): add rccl_ep multi-GPU dispatch and combine MPI test
  projects/rccl/CMakeLists.txt
  projects/rccl/install.sh
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/RcclEpDispatchCombineMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl/ep): address review findings in handle lifetime, error checking, and cached-dispatch replay
  projects/rccl/src/algorithms/rccl_ep/device/dispatch.h
  projects/rccl/src/algorithms/rccl_ep/device/ep_common.h
  projects/rccl/src/algorithms/rccl_ep/include/ep_arch.h
  projects/rccl/src/algorithms/rccl_ep/python/rccl_ep/__init__.py
  projects/rccl/src/algorithms/rccl_ep/python/rccl_ep_capi.hip
  projects/rccl/test/RcclEpDispatchCombineMPITests.cpp
  projects/rccl/test/device/RcclEpTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): yield AlltoAll DDA when registered-window CE would dispatch
  projects/rccl/src/collectives.cc
  projects/rccl/src/include/rccl_common.h
  projects/rccl/test/RcclWrapTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

docs(rocdecode/windows): FFMPEG_ROOT is optional; describe automatic FFmpeg search
  projects/rocdecode/README.md
  projects/rocdecode/docs/conceptual/rocDecode-decoding-pipelines.rst
  projects/rocdecode/docs/install/rocDecode-build-and-install.rst
  projects/rocdecode/docs/reference/rocDecode-demux.rst
  projects/rocdecode/docs/reference/rocDecode-ffmpeg-decoder.rst
Due: .azuredevops/rocm_ci_caller.yml

Potential fix for pull request finding
  projects/rocdecode/cmake/FindFFmpeg.cmake
Due: .azuredevops/rocm_ci_caller.yml

refactor(rccl): always build against the vendored fmt
  projects/rccl/CHANGELOG.md
  projects/rccl/cmake/Dependencies.cmake
  projects/rccl/cmake/DeviceLinker.cmake
  projects/rccl/external/fmt/CMakeLists.txt
  projects/rccl/external/fmt/README.md
  projects/rccl/plugins/profiler/proxytrace/CMakeLists.txt
  projects/rccl/plugins/profiler/proxytrace/README.md
  projects/rccl/test/host/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

test(rocshmem): run host RMA functional tests over the verbs host path
  projects/rocshmem/src/net/lane_map.hpp
  projects/rocshmem/tests/functional_tests/host_rma_tester.cpp
  projects/rocshmem/tests/functional_tests/tester.cpp
Due: .azuredevops/rocm_ci_caller.yml

test(rocshmem/net): standalone verbs loopback reference tests
  projects/rocshmem/net_loopback_tests/README.md
  projects/rocshmem/net_loopback_tests/ibctrl_smoke.cpp
  projects/rocshmem/net_loopback_tests/ibv_smoke.cpp
  projects/rocshmem/net_loopback_tests/net_smoke.cpp
  projects/rocshmem/net_loopback_tests/rdma_loopback.cpp
  projects/rocshmem/net_loopback_tests/wiv_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

build(rocprofiler-sdk): python lint+format update
  .github/workflows/rocprofiler-sdk-formatting.yml
  projects/rocprofiler-sdk/cmake/rocprofiler_formatting.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

feat(simdojo): a bounded run that is resumable
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/event_queue.h
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/simulation.h
  emulation/rocjitsu/lib/simdojo/src/simulation.cpp
  emulation/rocjitsu/tests/simdojo_sim_test.cpp
Due: none

refactor(simdojo): the clock domain owns its own arithmetic
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/risc_v/hart.cpp
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/clock_domain.h
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/clocked.h
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/functional.h
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/sim_types.h
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/topology.h
  emulation/rocjitsu/tests/rvsim_test.cpp
  emulation/rocjitsu/tests/simdojo_sim_test.cpp
Due: none

feat(simdojo): a tag array that answers residency without holding data
  emulation/rocjitsu/docs/simdojo.md
  emulation/rocjitsu/lib/simdojo/include/simdojo/components/tag_array.h
  emulation/rocjitsu/tests/simdojo_sim_test.cpp
Due: none

feat(simdojo): one place decides when a message departs and when it lands
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/component.h
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/message.h
  emulation/rocjitsu/lib/simdojo/src/component.cpp
  emulation/rocjitsu/tests/simdojo_sim_test.cpp
Due: none

feat(simdojo): a clocked component can advance on demand
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/clock_domain.h
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/clocked.h
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/component.h
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/event_queue.h
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/simulation.h
  emulation/rocjitsu/lib/simdojo/src/component.cpp
  emulation/rocjitsu/lib/simdojo/src/simulation.cpp
  emulation/rocjitsu/tests/simdojo_sim_test.cpp
Due: none

feat(rocjitsu): report what the memory system is actually asked for
  emulation/rocjitsu/docs/plugins.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/ds_transpose.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/atomic_op.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/mem_state.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/memory_pipeline.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/execution_plugin.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/execution_plugin_group.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/memory_access_observation.h
  emulation/rocjitsu/tests/execution_plugin_test.cpp
  emulation/rocjitsu/tests/shared_infra_test.cpp
Due: none

feat(rocjitsu): the ingress a timing model is driven through
  emulation/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/timing/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/timing/trace_event.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/timing/trace_plugin.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/timing/trace_plugin.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/timing/trace_source.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/timing/trace_source.h
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/timing/trace_source_test.cpp
  emulation/rocjitsu/tools/CMakeLists.txt
  emulation/rocjitsu/tools/rocjitsu/CMakeLists.txt
Due: none

add make lint target
  .github/workflows/rocprofiler-sdk-python.yml
  projects/rocprofiler-sdk/cmake/rocprofiler_linting.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

update CONTRIBUTING.md
  projects/rocprofiler-sdk/CONTRIBUTING.md
Due: .azuredevops/rocm_ci_caller.yml

build(rccl): track header dependencies in the proxytrace Makefile
  projects/rccl/plugins/profiler/proxytrace/.gitignore
  projects/rccl/plugins/profiler/proxytrace/Makefile
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): use SIMPLE-path buffer sizes for barrier stress tests
  projects/rccl/test/DdaFabricSimpleMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): synchronize DDA fabric scratch publication
  projects/rccl/src/algorithms/dda/all_reduce/all_reduce_dda_fabric.h
  projects/rccl/src/algorithms/dda/all_reduce/dda_all_reduce_fabric.cu
  projects/rccl/src/algorithms/dda/alltoall/alltoall_dda_fabric.h
  projects/rccl/src/algorithms/dda/alltoall/dda_alltoall_fabric.cu
  projects/rccl/src/algorithms/dda/fabric/fabric_gpu_barrier.h
  projects/rccl/src/algorithms/dda/reduce_scatter/dda_reduce_scatter_fabric.cu
  projects/rccl/src/algorithms/dda/reduce_scatter/reduce_scatter_dda_fabric.h
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): avoid int overflow when parsing large RCCL_DDA_FABRIC_MAXBLOCKS
  projects/rccl/src/algorithms/dda/dda_init_detail.h
  projects/rccl/test/DdaFabricEligibilityTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): derive DDA fabric block cap from CUs
  projects/rccl/src/algorithms/dda/dda_init_detail.h
  projects/rccl/src/algorithms/dda/fabric/fabric_init.cu
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): cover DDA fabric SIMPLE collectives
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/DdaFabricEligibilityTests.cpp
  projects/rccl/test/DdaFabricSimpleMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): harden DDA fabric barrier and add stress tests
  projects/rccl/src/algorithms/dda/dda_init_detail.h
  projects/rccl/src/algorithms/dda/fabric/fabric_gpu_barrier.h
  projects/rccl/src/algorithms/dda/fabric/fabric_init.cu
  projects/rccl/test/DdaFabricEligibilityTests.cpp
  projects/rccl/test/DdaFabricSimpleMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): address DDA fabric review findings
  projects/rccl/src/algorithms/dda/all_reduce/all_reduce_dda_fabric.h
  projects/rccl/src/algorithms/dda/all_reduce/dda_all_reduce_fabric.cu
  projects/rccl/src/algorithms/dda/alltoall/alltoall_dda_fabric.h
  projects/rccl/src/algorithms/dda/alltoall/dda_alltoall_fabric.cu
  projects/rccl/src/algorithms/dda/dda_init_detail.h
  projects/rccl/src/algorithms/dda/fabric/fabric_gpu_barrier.cu
  projects/rccl/src/algorithms/dda/fabric/fabric_gpu_barrier.h
  projects/rccl/src/algorithms/dda/fabric/fabric_init.cu
  projects/rccl/src/algorithms/dda/reduce_scatter/dda_reduce_scatter_fabric.cu
  projects/rccl/src/algorithms/dda/reduce_scatter/reduce_scatter_dda_fabric.h
  projects/rccl/test/DdaFabricEligibilityTests.cpp
  projects/rccl/test/DdaFabricSimpleMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml
