Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Adds clang-cl for windows and adds missing dispatch table entries for APIs
  projects/clr/CMakeLists.txt
  projects/clr/hipamd/src/hip_table_interface.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add working directory to steps in rocprofiler-compute-docs.yml
  .github/workflows/rocprofiler-compute-docs.yml
Due: none

Revert back to v4 pages
  .github/workflows/rocprofiler-compute-docs.yml
Due: none

Remove rocprofiler-compute-docs.yml workflow
  .github/workflows/rocprofiler-compute-docs.yml
Due: none

Remove docs workflow badge from rocprofiler-compute in README.md
  README.md
Due: none

reverted to dict peak initialization
  projects/rocprofiler-compute/src/utils/parser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

ruff check format
  projects/rocprofiler-compute/src/utils/parser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

SWDEV-1 - Fix handle/fd type passed from app to align with spec.
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocmemory.cpp
Due: .azuredevops/rocm_ci_caller.yml

updated VALU descriptions
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx90a/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx940/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx950/0400_roofline.yaml
  projects/rocprofiler-compute/utils/autogen_hash.yaml
  projects/rocprofiler-compute/utils/unified_config.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Update CHANGELOG
  projects/rocprofiler-compute/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

Update CHANGELOG.md
  projects/rocprofiler-compute/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

add rocprofiler_agent_fw_info_t to JSON load/save and updated agent.cpp agent_abi test
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/serialization/load.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/serialization/save.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Remove rocprofiler-compute-packaging.yml, update README.md badges
  .github/workflows/rocprofiler-compute-packaging.yml
  README.md
Due: none

Fix for Code Coverage & Sanitizers
  .github/workflows/rocprofiler-sdk-code_coverage.yml
Due: none

Fix for Code Coverage & Sanitizers
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Update run-ci.py
  projects/rocprofiler-sdk/source/scripts/run-ci.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Runners Update
  .github/workflows/aqlprofile-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
  projects/aqlprofile/dashboard.cmake
  projects/rocprofiler-sdk/source/scripts/run-ci.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Adding ROCR Installation
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Upgrade ROCm Release & Fix for RHEL & SLES - ROCProfiler SDK CI
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Update rocprofiler-sdk-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Fix ROCProfiler SDK CI
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Fix for Code Coverage & Sanitizers
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Fix for RHEL & SLES & Sanitizers - ROCProfiler SDK CI
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Fixing ENV for ROCProfiler-SDK
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/aql/packet_construct.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fixing ROCProfiler-SDK CI
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Fix for RHEL & SLES - ROCProfiler SDK CI
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Update Readme.txt
  projects/aqlprofile/Readme.txt
Due: .azuredevops/rocm_ci_caller.yml

General Fixes
  .github/workflows/aqlprofile-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none
