Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

[rocjitsu] Bound simulator mapped memory accesses
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/kfd_process.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/completion_tracker.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/gpu_memory.h
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/gfx1250_sim_test.cpp
Due: none

doc(wfw): fence test complete — two-component bug confirmed
  wfw_bug_report.md
Due: none

Add GitHub icon to ROCR-runtime
  projects/rocr-runtime/runtime/docs/conf.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[rocjitsu] Translate a code object once however often it is loaded
  emulation/rocjitsu/lib/rocjitsu/include/rocjitsu/code/rj_gfx1250_b0_to_a0.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/gfx1250_b0_to_a0_library.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/gfx1250_b0_a0_hotswap.cpp
  emulation/rocjitsu/tests/dbt/hsa_hotswap_rocjitsu_unit_test.cpp
Due: none

Fix tty.py for mem_chart args, ctests now passing on mi300a/gfx1151/gfx1250 (minus known failures)
  projects/rocprofiler-compute/src/utils/tty.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add checks for supported mem chart archs and warning for when no mem chart will be outputted
  projects/rocprofiler-compute/src/rocprof_compute_tui/widgets/charts.py
  projects/rocprofiler-compute/src/utils/tty.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Update the fix
  projects/rocprofiler-systems/examples/rocshmem/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocjitsu][CI] Publish offline translation hashes
  .github/workflows/rocjitsu-corpus-tests.yml
  emulation/rocjitsu/tests/corpus/README.md
  emulation/rocjitsu/tests/corpus/record-gfx1250-dbt-sha-pairs.py
  emulation/rocjitsu/tests/corpus/test-record-gfx1250-dbt-sha-pairs.py
Due: none

fix(rocr): tune SDMA fan-out for large RCCL copy sizes
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_blit_sdma.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_blit_sdma.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Add dynamic work partitioning for CE AR
  projects/rccl/src/ce_coll.cc
  projects/rccl/src/device/ce_reduce.cc
  projects/rccl/src/include/ce_coll.h
Due: .azuredevops/rocm_ci_caller.yml

Correct wording
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/xdna/amd_xdna_driver.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix(rocr/aie): improve memory allocation handling for device heap addresses
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/xdna/amd_xdna_driver.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_xdna_driver.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Robust DEV_HEAP addr detection
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/xdna/amd_xdna_driver.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Remove ownership bool and simplify dev heap memory management
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/xdna/amd_xdna_driver.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_xdna_driver.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/driver.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[rocjitsu] Store only full EXEC states
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/exec_state.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/exec_state.h
Due: none

style(rccl): quieten build-type output
  projects/rccl/tools/scripts/test_runner/lib/test_executor.py
  projects/rccl/tools/scripts/test_runner/lib/test_parser.py
  projects/rccl/tools/scripts/test_runner/test_runner.py
Due: .azuredevops/rocm_ci_caller.yml

chore(rocprofiler-systems): Bump version from 1.8.0 to 1.9.0 (#9658)
  projects/rocprofiler-systems/VERSION
Due: .azuredevops/rocm_ci_caller.yml

style(rccl): cut build-type comments to external constraints only
  projects/rccl/tools/scripts/test_runner/lib/test_config.py
  projects/rccl/tools/scripts/test_runner/lib/test_executor.py
Due: .azuredevops/rocm_ci_caller.yml

Remove the third-party entries from the ignore file
  projects/hipfile/.codespellignore
Due: .azuredevops/rocm_ci_caller.yml

Don't flag spelling errors in `third-party`
  .github/workflows/hipfile-codespell.yml
Due: none

Update therock-multi-arch-ci.yml to point test override to rocprofiler-register
  .github/workflows/therock-multi-arch-ci.yml
Due: none

Clarify zero-byte transfer comment
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Format
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/gfx11_factory.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/gfx11_factory.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rocprofiler-sdk] Enable ATT double buffering for gfx11.5
  projects/rocprofiler-sdk/cmake/Modules/rocprofiler-sdk-utilities.cmake
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/aql_profile.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/gfx115x_factory.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/gfx11_factory.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/gfx11_factory.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/threadtrace.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx11/gfx11_primitives.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/sqtt_builder.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(rocprofiler-sdk): restore gfx11.0 ATT write pointer handling
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/threadtrace.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

refactor(rocprofiler-sdk): unify ATT BUF0 base/size programming
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/sqtt_builder.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(rocprofiler-sdk): stabilize gfx11 ATT double buffering
  projects/rocprofiler-sdk/cmake/Modules/rocprofiler-sdk-utilities.cmake
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/aql_profile.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/gfx115x_factory.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/gfx11_factory.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/gfx11_factory.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/threadtrace.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx11/gfx11_primitives.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/sqtt_builder.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/hsa_util.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/producer_consumer.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(rocprofiler-sdk): correct gfx11 ATT double buffering
  projects/rocprofiler-sdk/source/lib/aqlprofile/aql_profile_v2.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/threadtrace.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx10/gfx10_primitives.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx11/gfx11_primitives.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx12/gfx12_primitives.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx9/gfx9_primitives.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/sqtt_builder.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/hsa_util.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(rocprofiler-sdk): detect a stopped ATT trace from the STATUS BUSY bit
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/threadtrace.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx10/gfx10_primitives.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx11/gfx11_primitives.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx12/gfx12_primitives.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx9/gfx9_primitives.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/sqtt_builder.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Format
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/sqtt_builder.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

o-byte async copy is treated as no-op
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix syntax/regression error
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(rocprofiler-sdk): trim gfx11 ATT tail granule only when unwritten
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/threadtrace.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/sqtt_builder.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Clean comments
  projects/rocprofiler-sdk/source/lib/aqlprofile/aql_profile_v2.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/threadtrace.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx11/gfx11_primitives.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/sqtt_builder.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

refactor(rocprofiler-sdk): simplify ATT trace startup handshake
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(rocprofiler-sdk): harden gfx11 ATT buffer lifecycle
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/gfx11_cmd_builder.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/sqtt_builder.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.hpp
  projects/rocprofiler-sdk/tests/tools/thread-trace-triple-buffer-tool.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Clean comments
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/threadtrace.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx11/gfx11_primitives.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/sqtt_builder.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml
