Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

SWDEV-568100 - Removed unused addKernelNames() function
  projects/clr/rocclr/platform/command.hpp
Due: .azuredevops/rocm_ci_caller.yml

clr: test change
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
Due: .azuredevops/rocm_ci_caller.yml

Quick patch for an addition from a merge that shouldn't be there. Not from my change and isn't in develop, not sure where it came from.
  projects/rocprofiler-compute/docs/how-to/analyze/cli.rst
Due: .azuredevops/rocm_ci_caller.yml

add Saleels fix b3adf9e2ec
  projects/clr/rocclr/device/rocm/rocblit.cpp
Due: .azuredevops/rocm_ci_caller.yml

Update os-release from 9.4 to 9 in rocprofiler-systems-redhat.yml
  .github/workflows/rocprofiler-systems-redhat.yml
Due: none

Add extra logic to handle 9 and 9.6 case
  .github/workflows/rocprofiler-systems-redhat.yml
Due: none

Fix typo in exclude declaration
  .github/workflows/rocprofiler-systems-redhat.yml
Due: none

Exclude RHEL9.6 and ROCm 6.3 from matrix
  .github/workflows/rocprofiler-systems-redhat.yml
Due: none

Rename "USE_HIP" to "USE_ROCM"
  .github/workflows/rocprofiler-systems-redhat.yml
Due: none

SWDEV-559353 - hip: Fix typos, add fallthrough attributes, and improve code style in GL interop
  projects/clr/hipamd/src/hip_gl.cpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-559353 - hip: Improve graphics register flag validation and add CL flag conversion
  projects/clr/hipamd/src/hip_gl.cpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-559353 - hip: Add thread-safe GL context tracking with automatic re-association
  projects/clr/hipamd/src/hip_gl.cpp
Due: .azuredevops/rocm_ci_caller.yml

wsl/librocdxg: fix deb package name and add version macro
  CMakeLists.txt
  README.md
  src/version.cpp
Due: none

QOL + Aesthetic changes - Change copyright notices to short form
  projects/rocprofiler-systems/examples/rccl/CMakeLists.txt
  projects/rocprofiler-systems/requirements.txt
  projects/rocprofiler-systems/tests/CMakeLists.txt
  projects/rocprofiler-systems/tests/pytest/CMakeLists.txt
  projects/rocprofiler-systems/tests/pytest/README.md
  projects/rocprofiler-systems/tests/pytest/build_standalone.sh
  projects/rocprofiler-systems/tests/pytest/conftest.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/__init__.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/config.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/gpu.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/runners.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/validators.py
  projects/rocprofiler-systems/tests/pytest/test_binaries.py
  projects/rocprofiler-systems/tests/pytest/test_config.py
  projects/rocprofiler-systems/tests/pytest/test_gpu_connect.py
  projects/rocprofiler-systems/tests/pytest/test_hip_stream.py
  projects/rocprofiler-systems/tests/pytest/test_jpegdecode.py
  projects/rocprofiler-systems/tests/pytest/test_openmp.py
  projects/rocprofiler-systems/tests/pytest/test_rccl.py
  projects/rocprofiler-systems/tests/pytest/test_roctx.py
  projects/rocprofiler-systems/tests/pytest/test_time_window.py
  projects/rocprofiler-systems/tests/pytest/test_transpose.py
  projects/rocprofiler-systems/tests/pytest/test_videodecode.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Added Ubuntu 24
  .github/workflows/amdsmi-build.yml
Due: none

Modified path parsing
  projects/rocprofiler-compute/src/argparser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Update --output-directory flag in conftest
  projects/rocprofiler-compute/tests/conftest.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Flatten atomic template tests
  projects/hip-tests/catch/unit/atomics/__hip_atomic_compare_exchange_strong.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_exchange.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_add.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_and.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_max.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_min.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_or.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_xor.cc
  projects/hip-tests/catch/unit/atomics/atomicAdd.cc
  projects/hip-tests/catch/unit/atomics/atomicAdd_system.cc
  projects/hip-tests/catch/unit/atomics/atomicAnd.cc
  projects/hip-tests/catch/unit/atomics/atomicAnd_system.cc
  projects/hip-tests/catch/unit/atomics/atomicCAS.cc
  projects/hip-tests/catch/unit/atomics/atomicExch.cc
  projects/hip-tests/catch/unit/atomics/atomicExch_system.cc
  projects/hip-tests/catch/unit/atomics/atomicMax.cc
  projects/hip-tests/catch/unit/atomics/atomicMax_system.cc
  projects/hip-tests/catch/unit/atomics/atomicMin.cc
  projects/hip-tests/catch/unit/atomics/atomicMin_system.cc
  projects/hip-tests/catch/unit/atomics/atomicOr.cc
  projects/hip-tests/catch/unit/atomics/atomicOr_system.cc
  projects/hip-tests/catch/unit/atomics/atomicSub.cc
  projects/hip-tests/catch/unit/atomics/atomicSub_system.cc
  projects/hip-tests/catch/unit/atomics/atomicXor.cc
  projects/hip-tests/catch/unit/atomics/atomicXor_system.cc
  projects/hip-tests/catch/unit/atomics/safeAtomicAdd.cc
  projects/hip-tests/catch/unit/atomics/safeAtomicMax.cc
  projects/hip-tests/catch/unit/atomics/safeAtomicMin.cc
  projects/hip-tests/catch/unit/atomics/unsafeAtomicAdd.cc
  projects/hip-tests/catch/unit/atomics/unsafeAtomicMax.cc
  projects/hip-tests/catch/unit/atomics/unsafeAtomicMin.cc
Due: .azuredevops/rocm_ci_caller.yml

Improve documentation for standalone binary creation
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/README.md
  projects/rocprofiler-compute/docker/Dockerfile.standalone
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Output directory parmeterization
  projects/rocprofiler-compute/src/rocprof_compute_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Analysis database v1.2.0
  projects/rocprofiler-compute/docs/data/analyze/analysis_data_dump_schema.png
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/src/utils/analysis_orm.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add kernel existence check for roofline data to prevent KeyError (#2536)
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Remove openmp-vv-offload from workflows. openmp-target already excludes them
  .github/workflows/rocprofiler-systems-debian.yml
  .github/workflows/rocprofiler-systems-opensuse.yml
  .github/workflows/rocprofiler-systems-redhat.yml
  .github/workflows/rocprofiler-systems-ubuntu-noble.yml
Due: none

Fix the amdgpu version string comparison
  projects/amdsmi/amdsmi_cli/amdsmi_logger.py
Due: .azuredevops/rocm_ci_caller.yml

Optimize analysis performance
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Merge and refactor tests to reduce runtime
  projects/hip-tests/catch/unit/deviceLib/AtomicAdd_Coherent.cc
  projects/hip-tests/catch/unit/deviceLib/AtomicAdd_Coherent_withnoUnsafeflag.cc
  projects/hip-tests/catch/unit/deviceLib/AtomicAdd_Coherent_withoutflag.cc
  projects/hip-tests/catch/unit/deviceLib/AtomicAdd_Coherent_withunsafeflag.cc
  projects/hip-tests/catch/unit/deviceLib/AtomicAdd_NonCoherent.cc
  projects/hip-tests/catch/unit/deviceLib/AtomicAdd_NonCoherent_withnoUnsafeflag.cc
  projects/hip-tests/catch/unit/deviceLib/AtomicAdd_NonCoherent_withoutflag.cc
  projects/hip-tests/catch/unit/deviceLib/AtomicAdd_NonCoherent_withunsafeflag.cc
  projects/hip-tests/catch/unit/deviceLib/AtomicsWithRandomActiveLanesInWavefront.cc
  projects/hip-tests/catch/unit/deviceLib/CMakeLists.txt
  projects/hip-tests/catch/unit/deviceLib/ballot.cc
  projects/hip-tests/catch/unit/deviceLib/bfloat16.cc
  projects/hip-tests/catch/unit/deviceLib/bit_intrinsics.cc
  projects/hip-tests/catch/unit/deviceLib/brev.cc
  projects/hip-tests/catch/unit/deviceLib/clz.cc
  projects/hip-tests/catch/unit/deviceLib/deviceAllocation.cc
  projects/hip-tests/catch/unit/deviceLib/ffs.cc
  projects/hip-tests/catch/unit/deviceLib/fp4_ocp.cc
  projects/hip-tests/catch/unit/deviceLib/fp6_ocp.cc
  projects/hip-tests/catch/unit/deviceLib/fp8_fnuz.cc
  projects/hip-tests/catch/unit/deviceLib/funnelshift.cc
  projects/hip-tests/catch/unit/deviceLib/mbcnt.cc
  projects/hip-tests/catch/unit/deviceLib/popc.cc
  projects/hip-tests/catch/unit/deviceLib/unsafeAtomicAdd_Coherent.cc
  projects/hip-tests/catch/unit/deviceLib/unsafeAtomicAdd_Coherent_withnounsafeflag.cc
  projects/hip-tests/catch/unit/deviceLib/unsafeAtomicAdd_Coherent_withoutflag.cc
  projects/hip-tests/catch/unit/deviceLib/unsafeAtomicAdd_Coherent_withunsafeflag.cc
  projects/hip-tests/catch/unit/deviceLib/unsafeAtomicAdd_NonCoherent.cc
  projects/hip-tests/catch/unit/deviceLib/unsafeAtomicAdd_NonCoherent_withnounsafeflag.cc
  projects/hip-tests/catch/unit/deviceLib/unsafeAtomicAdd_NonCoherent_withoutflag.cc
  projects/hip-tests/catch/unit/deviceLib/unsafeAtomicAdd_NonCoherent_withunsafeflag.cc
  projects/hip-tests/catch/unit/deviceLib/unsafeAtomicAdd_RTC.cc
Due: .azuredevops/rocm_ci_caller.yml

Display the kernel version in amd-smi output
  projects/amdsmi/amdsmi_cli/amdsmi_commands.py
  projects/amdsmi/amdsmi_cli/amdsmi_logger.py
Due: .azuredevops/rocm_ci_caller.yml

Fix test for data imputation for iteration mulitplexing
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

invalid samples are separate
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/pc_sampling.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

invalid sample is represented with the record 0
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/fwd.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/pc_sampling.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

multi calls and flags
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/pc_sampling.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

two approaches for configuration
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/PC_SAMPLING_API_COMPARISON.md
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/PC_SAMPLING_API_DESIGN_ALTERNATIVES.md
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/PC_SAMPLING_API_REDESIGN.md
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/pc_sampling_flags.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/pc_sampling_multiple_conf_calls.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

querying API
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/pc_sampling.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

removed absolute threshold hybrid approach; restored relative threshold + warn
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

edited warning msg, threshold -> 1%
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

libhsakmt/virtio: Add AMDGPU device handle and DRM command support
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmt_virtio.h
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_amdgpu.c
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_device.h
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_proto.h
  projects/rocr-runtime/libhsakmt/src/virtio/libhsakmt_virtio.ver
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt/virtio: Add graphics handle registration and mapping APIs
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmt_virtio.h
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_memory.c
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_proto.h
  projects/rocr-runtime/libhsakmt/src/virtio/libhsakmt_virtio.ver
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt/virtio: Add virtio support for queue APIs
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmt_virtio.h
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_proto.h
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_queues.c
  projects/rocr-runtime/libhsakmt/src/virtio/libhsakmt_virtio.ver
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt/virtio: Rename CLGL BO to AMDGPU BO
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_device.h
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_memory.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
