Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

perf(rocjitsu): optimize L1 and LDS access
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/l1_vector_cache.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/l1_vector_cache.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/lds.h
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/l2_cache_test.cpp
  emulation/rocjitsu/tests/lds_test.cpp
Due: none

fix(hrr): include <set> for co_no_device_code in hip_playback.h
  projects/clr/hipamd/src/hrr/playback/hip_playback.h
Due: .azuredevops/rocm_ci_caller.yml

rename ensure_dir to try_create_directory
  projects/rocprofiler-systems/source/lib/core/config.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix sprintf to snprintf in errprintf
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/fwd.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add multiprocess conjugate-gradient sample
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/sample/conjugate_gradient/README.md
  projects/rocprofiler-compute/sample/conjugate_gradient/cg_args.hpp
  projects/rocprofiler-compute/sample/conjugate_gradient/cg_kernels.hip
  projects/rocprofiler-compute/sample/conjugate_gradient/conjugate_gradient.cpp
  projects/rocprofiler-compute/tests/CMakeLists.txt
  projects/rocprofiler-compute/tests/integration/test_pc_sampling.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

feat(rocshmem): add tile_reduce in IPC backend (#8350)
  projects/rocshmem/include/rocshmem/rocshmem_TILE_impl.hpp
  projects/rocshmem/include/rocshmem/rocshmem_common.hpp
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/src/ipc/context_ipc_device.hpp
  projects/rocshmem/src/ipc/context_ipc_tmpl_device.hpp
  projects/rocshmem/tests/functional_tests/CMakeLists.txt
  projects/rocshmem/tests/functional_tests/CTestFunctionalTests.cmake
  projects/rocshmem/tests/functional_tests/tester.cpp
  projects/rocshmem/tests/functional_tests/tester.hpp
  projects/rocshmem/tests/functional_tests/tester_arguments.cpp
  projects/rocshmem/tests/functional_tests/tester_arguments.hpp
  projects/rocshmem/tests/functional_tests/tile_reduce_tester.cpp
  projects/rocshmem/tests/functional_tests/tile_reduce_tester.hpp
  projects/rocshmem/tests/test_categories.yaml
Due: .azuredevops/rocm_ci_caller.yml

formatting fixes
  projects/rccl/docs/conceptual/collective-operations.rst
  projects/rccl/docs/how-to/rccl-recorder-replayer.rst
  projects/rccl/docs/how-to/running-rccl-tests.rst
  projects/rccl/docs/index.rst
Due: .azuredevops/rocm_ci_caller.yml

fix(ci): pass build_variant to all test_native_packages jobs (#7417)
  .github/workflows/multi_arch_ci_linux.yml
Due: none

feat(amdsmi): add physical accelerator id and tray info via UALoE
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/amdsmi_cli/amdsmi_parser.py
  projects/amdsmi/amdsmi_cli/subcommands/node.py
  projects/amdsmi/amdsmi_cli/subcommands/static.py
  projects/amdsmi/docs/how-to/amdsmi-cli-tool.md
  projects/amdsmi/docs/reference/amdsmi-py-api.md
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/include/amd_smi/impl/amd_smi_ualoe.h
  projects/amdsmi/include/ualoe_lib/cbl_cfg/uapi.h
  projects/amdsmi/include/ualoe_lib/ifoe_mcdi_hostapp.h
  projects/amdsmi/include/ualoe_lib/ifoe_telemetry.h
  projects/amdsmi/include/ualoe_lib/ifoe_telemetry_hostapp.h
  projects/amdsmi/include/ualoe_lib/telemetry_dataset.h
  projects/amdsmi/include/ualoe_lib/ualoe_cdev.h
  projects/amdsmi/include/ualoe_lib/ualoe_lib.h
  projects/amdsmi/include/ualoe_lib/ualoe_mcdi_defs.h
  projects/amdsmi/include/ualoe_lib/ualoe_nl.h
  projects/amdsmi/include/ualoe_lib/ualoe_telem.h
  projects/amdsmi/py-interface/__init__.py
  projects/amdsmi/py-interface/amdsmi_interface.py
  projects/amdsmi/py-interface/amdsmi_wrapper.py
  projects/amdsmi/src/amd_smi/amd_smi.cc
  projects/amdsmi/src/amd_smi/amd_smi_ualoe.cc
  projects/amdsmi/src/ualoe_lib/CMakeLists.txt
  projects/amdsmi/src/ualoe_lib/Makefile
  projects/amdsmi/src/ualoe_lib/check_telemetry_category.sh
  projects/amdsmi/src/ualoe_lib/ualoe_cb.c
  projects/amdsmi/src/ualoe_lib/ualoe_cdev.c
  projects/amdsmi/src/ualoe_lib/ualoe_lib.c
  projects/amdsmi/src/ualoe_lib/ualoe_nl.c
  projects/amdsmi/src/ualoe_lib/ualoe_telem.c
  projects/amdsmi/tests/amd_smi_test/functional/ifoe/identity/ifoe_info_read_test.cc
  projects/amdsmi/tests/amd_smi_test/functional/ifoe/tray/tray_info_read.h
  projects/amdsmi/tests/amd_smi_test/functional/ifoe/tray/tray_info_read_test.cc
  projects/amdsmi/tests/amd_smi_test/main.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(hrr): restore untranslated kernel-arg pass-through on replay
  projects/clr/hipamd/src/hrr/playback/hip_playback.cpp
Due: .azuredevops/rocm_ci_caller.yml

Refactor tests
  projects/hip-tests/catch/unit/memory/hipMemcpyBatchAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyBatchAsync_p2p.cc
  projects/hip-tests/catch/unit/memory/memcpyBatchAsync_common.hh
Due: .azuredevops/rocm_ci_caller.yml

Add indirect copy tests
  projects/hip-tests/catch/config/configs/unit/memory.yaml
  projects/hip-tests/catch/unit/memory/hipMemcpyBatchAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyBatchAsync_p2p.cc
  projects/hip-tests/catch/unit/memory/memcpyBatchAsync_common.hh
Due: .azuredevops/rocm_ci_caller.yml

Remove comment
  projects/hip-tests/catch/unit/memory/memcpyBatchAsync_common.hh
Due: .azuredevops/rocm_ci_caller.yml

Disable mixed sources test on mi450
  projects/hip-tests/catch/config/configs/unit/memory.yaml
Due: .azuredevops/rocm_ci_caller.yml

Address review comments
  projects/hip-tests/catch/unit/memory/hipMemcpyBatchAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyBatchAsync_p2p.cc
Due: .azuredevops/rocm_ci_caller.yml

Add indirect memcpy shader
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/rocclr/device/blitcl.cpp
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/clr/rocclr/device/rocm/rocblit.hpp
  projects/clr/rocclr/device/rocm/rocsettings.cpp
  projects/clr/rocclr/device/rocm/rocsettings.hpp
  projects/clr/rocclr/utils/flags.hpp
Due: .azuredevops/rocm_ci_caller.yml

Fix synchronization in Unit_hipGetProcAddress_MemoryApisPeerToPeer
  projects/hip-tests/catch/unit/memory/hipGetProcAddressMemoryApis.cc
Due: .azuredevops/rocm_ci_caller.yml

Add additional indirect testing
  projects/hip-tests/catch/config/configs/unit/memory.yaml
  projects/hip-tests/catch/unit/memory/hipMemcpyBatchAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute][rocprofiler-systems] Move vendored submodules out of source trees
  .gitmodules
  projects/rocprofiler-compute/README.md
  projects/rocprofiler-compute/docs/design/lld-profiler-hub-native-tool-integration.md
  projects/rocprofiler-compute/external/CMakeLists.txt
  projects/rocprofiler-compute/external/GitSubmodule.cmake
  projects/rocprofiler-compute/src/lib/CMakeLists.txt
  projects/rocprofiler-systems/cmake/Formatting.cmake
  projects/rocprofiler-systems/examples/lulesh/external/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-systems.yml

Add P2P
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/hip-tests/catch/config/configs/unit/memory.yaml
  projects/hip-tests/catch/unit/memory/hipMemcpyBatchAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

add GDA tile reduce operations
  projects/rocshmem/include/rocshmem/rocshmem_TILE_impl.hpp
  projects/rocshmem/include/rocshmem/rocshmem_common.hpp
  projects/rocshmem/src/gda/context_gda_device.hpp
  projects/rocshmem/src/gda/context_gda_tmpl_device.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): address PR review findings on rocdxg_smi.cpp
  projects/amdsmi/docs/how-to/amdsmi-wsl-mode.md
  projects/amdsmi/src/amd_smi/amd_smi.cc
  projects/amdsmi/src/amd_smi/amd_smi_wsl_device.cc
  projects/rocr-runtime/libhsakmt/src/dxg/rocdxg_smi.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix ATT pause-resume with marker tracing
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.hpp
  projects/rocprofiler-sdk/tests/bin/roctx-pause-resume/roctx-pause-resume.cpp
  projects/rocprofiler-sdk/tests/rocprofv3/roctx-pause-resume/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/roctx-pause-resume/att/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/roctx-pause-resume/att/conftest.py
  projects/rocprofiler-sdk/tests/rocprofv3/roctx-pause-resume/att/pytest.ini
  projects/rocprofiler-sdk/tests/rocprofv3/roctx-pause-resume/att/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fixup: format CMake changes per gersemi
  projects/rocprofiler-compute/src/lib/CMakeLists.txt
  projects/rocprofiler-systems/examples/lulesh/external/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-systems.yml

Update TheRock hash to 48ec94d7e3b52731c228f31457087f73b136c9b4
  .github/workflows/therock-build-linux.yml
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-rccl-ci-linux.yml
  .github/workflows/therock-rccl-test-packages-multi-node.yml
  .github/workflows/therock-rccl-test-packages-single-node.yml
  .github/workflows/therock-rccl-test-pytorch-distributed.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

test(rocprofiler-compute): add test-compression to CI test categories
  projects/rocprofiler-compute/tests/test_categories.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Hipruntime detection and skipping the tests
  projects/rccl/src/enqueue.cc
  projects/rccl/test/AllGatherTests.cpp
  projects/rccl/test/AllReduceTests.cpp
  projects/rccl/test/AllToAllTests.cpp
  projects/rccl/test/BroadcastTests.cpp
  projects/rccl/test/GatherTests.cpp
  projects/rccl/test/ReduceScatterTests.cpp
  projects/rccl/test/ScatterTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add regression test for AIRUNTIME-263
  projects/hip-tests/catch/config/configs/unit/deviceLib.yaml
  projects/hip-tests/catch/unit/deviceLib/deviceAllocation.cc
Due: .azuredevops/rocm_ci_caller.yml

chore: rust fmt
  emulation/mirage/build.rs
  emulation/mirage/container/src/lib.rs
  emulation/mirage/core/src/container.rs
  emulation/mirage/core/src/reclaim.rs
  emulation/mirage/core/src/registry.rs
  emulation/mirage/ctl/src/lib.rs
  emulation/mirage/ctl/src/run.rs
  emulation/mirage/rocjitsu_sys/src/daemon.rs
  emulation/mirage/rocjitsu_sys/src/lib.rs
  emulation/mirage/supervisor/src/exec.rs
  emulation/mirage/supervisor/src/process.rs
  emulation/mirage/supervisor/src/rpc.rs
  emulation/mirage/supervisor/src/run.rs
  emulation/mirage/supervisor/src/session.rs
  emulation/mirage/supervisor/src/spec.rs
  emulation/mirage/supervisor/tests/run.rs
  emulation/mirage/tests/container_e2e.rs
  emulation/mirage/tests/e2e.rs
  emulation/mirage/tests/harness/mod.rs
  emulation/mirage/tests/strain.rs
Due: none

Add RHEL variants to rocprofiler-compute-continuous-integration.yml
  .github/workflows/rocprofiler-compute-continuous-integration.yml
  projects/rocprofiler-compute/.github/ci-matrix.yml
Due: .azuredevops/rocm_ci_caller.yml

ci(rccl): restore the production branch filter to [main, develop]
  .github/workflows/rccl_perf_regression.yml
Due: none

Add TA_TA_BUSY
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk/config.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

feat(rocgdb): Add rocgdb-corefile test component with dedicated runner (#6378)
  build_tools/github_actions/fetch_test_configurations.py
Due: none

[rocjitsu] Update gfx1250 simulator capabilities (#9561)
  emulation/rocjitsu/configs/gfx1250.json
  emulation/rocjitsu/tests/gfx1250_sim_test.cpp
Due: none

feat(rocjitsu): Write-after-write for race detection (#7890)
  emulation/rocjitsu/docs/race-detector.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/core/event_registry.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/core/race_detector.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/core/race_detector.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/core/types.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/core/wave_race_state.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/core/wave_race_state.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/plugin.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/plugin.h
  emulation/rocjitsu/tests/execution_plugin_test.cpp
  emulation/rocjitsu/tests/race-detector/CMakeLists.txt
  emulation/rocjitsu/tests/race-detector/hip_race_gfx1151_test.hip
  emulation/rocjitsu/tests/race-detector/hip_race_gfx950_test.hip
  emulation/rocjitsu/tests/race-detector/race_detector_tests.cpp
  emulation/rocjitsu/tests/race-detector/race_test_builder.h
Due: none

[rocjitsu] Cleanup util and make header-only again
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/CMakeLists.txt
  emulation/rocjitsu/lib/util/CMakeLists.txt
  emulation/rocjitsu/lib/util/README.md
  emulation/rocjitsu/lib/util/include/util/simd.h
  emulation/rocjitsu/lib/util/include/util/simd_test_hooks.h
  emulation/rocjitsu/lib/util/src/simd.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/util_force_scalar_probe.cpp
  emulation/rocjitsu/tests/util_simd_test.cpp
Due: none

fix(rocjitsu) simdojo: fix request_exit barrier deadlock (#9441)
  emulation/rocjitsu/cmake/rj_generate_installed_gtest_ctest.cmake
  emulation/rocjitsu/lib/simdojo/src/simulation.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/simdojo_sim_test.cpp
Due: none

[rocjitsu] Fix gfx1250 simulator SDMA packets (#9488)
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/tests/gfx1250_sim_test.cpp
Due: none

feat(rocjitsu): partition execution across XCDs (#8705)
  emulation/mirage/rocjitsu_sys/src/lib.rs
  emulation/rocjitsu/docs/configuration.md
  emulation/rocjitsu/docs/simdojo.md
  emulation/rocjitsu/lib/rocjitsu/include/rocjitsu/base/rj_status.h
  emulation/rocjitsu/lib/rocjitsu/include/rocjitsu/vm/rj_vm.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/config/config_loader.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/partitioning.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/partitioning.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/rj_vm.cpp
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/simulation.h
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/topology.h
  emulation/rocjitsu/lib/simdojo/src/simulation.cpp
  emulation/rocjitsu/lib/simdojo/src/topology.cpp
  emulation/rocjitsu/schemas/simulation_config.fbs
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/matmul_test.cpp
  emulation/rocjitsu/tests/partitioning_test.cpp
  emulation/rocjitsu/tests/scaling_test.cpp
  emulation/rocjitsu/tests/simdojo_sim_test.cpp
  emulation/rocjitsu/tests/vector_add_test.cpp
Due: none

fix(rocjitsu): restore checkpoints through C API (#9370)
  docs/superpowers/specs/2026-08-03-rocjitsu-checkpoint-restore-review-fixes-design.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/config/checkpoint.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/config/config_loader.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/config/config_loader.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/xcd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/rj_vm.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/soc.h
  emulation/rocjitsu/tests/config_test.cpp
Due: none

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
