Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

SWDEV-545947 - Tests for hipSetValidDevices
  catch/unit/device/CMakeLists.txt
  catch/unit/device/hipSetValidDevices.cc
Due: none

SWDEV-546342 - [catch2][dtest] Additional Test cases for hipSetValidDevices
  catch/unit/device/hipSetValidDevices.cc
Due: none

Update aqlprofile-continuous_integration.yml
  .github/workflows/aqlprofile-continuous_integration.yml
Due: none

separate aqlprofile and trace decoder
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

[rocprofiler-compute] ROCm 7.0 RC 4 cherry pick (#123)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/src/utils/rooflines/roofline-rhel8-rocm7
  projects/rocprofiler-compute/src/utils/rooflines/roofline-rhel9-rocm7
  projects/rocprofiler-compute/src/utils/utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Updated ubuntu noble workflow
  .github/workflows/rocprofiler-systems-ubuntu-noble.yml
Due: none

Actually use ROCm when supposed to; Added Python 3.13; Set ompt flag to ON
  .github/workflows/rocprofiler-systems-ubuntu-noble.yml
Due: none

Move compiler version info
  .github/workflows/rocprofiler-systems-ubuntu-noble.yml
Due: none

Print compiler version outside of if logic
  .github/workflows/rocprofiler-systems-ubuntu-noble.yml
Due: none

Add documentation describing ROCPROFSYS_USE_RCCP
  projects/rocprofiler-systems/docs/data/rccl-comm-recv.png
  projects/rocprofiler-systems/docs/how-to/configuring-runtime-options.rst
Due: .azuredevops/rocm_ci_caller.yml

Update wordlist
  projects/rocprofiler-systems/.wordlist.txt
Due: .azuredevops/rocm_ci_caller.yml

Update CHANGELOGS.md
  projects/rocprofiler-systems/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

remove sudo for installing
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

kfd tool + rocpd updates
  projects/rocprofiler-sdk/source/bin/rocprofv3.py
  projects/rocprofiler-sdk/source/lib/output/buffered_output.hpp
  projects/rocprofiler-sdk/source/lib/output/domain_type.cpp
  projects/rocprofiler-sdk/source/lib/output/domain_type.hpp
  projects/rocprofiler-sdk/source/lib/output/generateCSV.cpp
  projects/rocprofiler-sdk/source/lib/output/generateCSV.hpp
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.hpp
  projects/rocprofiler-sdk/source/lib/output/generateStats.cpp
  projects/rocprofiler-sdk/source/lib/output/generateStats.hpp
  projects/rocprofiler-sdk/source/lib/output/stream_info.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/config.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/kfd.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rdc: Profiler - improve metrics path detection
  projects/rdc/rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
Due: .azuredevops/rdc.yml, .azuredevops/rocm_ci_caller.yml

also add to sanitizer jobs
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

misc.
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Testing ROCProfiler-SDK
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Update README.md
  README.md
Due: none

review tweaks
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx90a/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx940/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx950/0400_roofline.yaml
  projects/rocprofiler-compute/src/roofline.py
  projects/rocprofiler-compute/src/utils/roofline_calc.py
  projects/rocprofiler-compute/src/utils/tty.py
  projects/rocprofiler-compute/utils/autogen_hash.yaml
  projects/rocprofiler-compute/utils/unified_config.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Update RC4 version
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/VERSION
Due: .azuredevops/rocm_ci_caller.yml

Update RC4 version (#341)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/VERSION
Due: .azuredevops/rocm_ci_caller.yml

Backport CHANGELOG change from rc4 cherry pick
  projects/rocprofiler-compute/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

Fix some tests
  catch/unit/deviceLib/ext_ocp.cc
Due: none

test aqlprofile with rocm install
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Fix bug.
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Update rocprofiler-sdk-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

remove sudo
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
