Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Add init_tgt defines
  projects/rccl/test/host/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

fix(bf16): use the .y lane in __hip_bfloat162 relational operators
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_bf16.h
Due: .azuredevops/rocm_ci_caller.yml

test(bf16): add two-lane regression tests for bf162 relational ops and __hbneu2
  projects/hip-tests/catch/unit/deviceLib/bfloat16.cc
Due: .azuredevops/rocm_ci_caller.yml

docs(bf16): clarify __hbneu2 unordered comparison
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_bf16.h
Due: .azuredevops/rocm_ci_caller.yml

fix(bf16): __hgt2/__hisnan2 high lane always returned 1.0
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_bf16.h
Due: .azuredevops/rocm_ci_caller.yml

refactor(bf16): use native comparison helpers for bf162 operators
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_bf16.h
Due: .azuredevops/rocm_ci_caller.yml

test(bf16): cover __hgt2/__hisnan2 high-lane mask result
  projects/hip-tests/catch/unit/deviceLib/bfloat16.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(bf16): __hbneu2 should reduce lanes with && not ||
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_bf16.h
Due: .azuredevops/rocm_ci_caller.yml

Update projects/rccl/src/graph/paths.cc
  projects/rccl/src/graph/paths.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): log when MAX_P2P_NCHANNELS overrides MIN_P2P_NCHANNELS
  projects/rccl/src/graph/paths.cc
  projects/rccl/test/SendRecvTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Stabilize simulated doorbell lifecycle (#10195)
  .github/workflows/rocjitsu-corpus-tests.yml
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/guest_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/guest_kfd.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/interposer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/kfd_process.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/linux_kfd.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/simulated_kfd_test.cpp
Due: none

rocjitsu: Point the XCD distribution test at the config that exists
  emulation/rocjitsu/tests/xcd_distribution_test.cpp
Due: none

fix(rccl): LL128 P2P send/recv as a separate kernel variant (#10243)
  projects/rccl/docs/userguide/source/env.rst
  projects/rccl/src/device/common.h
  projects/rccl/src/device/generate.py
  projects/rccl/src/device/sendrecv.h
  projects/rccl/src/device/test_generate_device_table.py
  projects/rccl/src/enqueue.cc
  projects/rccl/src/include/device.h
  projects/rccl/src/transport/net.cc
  projects/rccl/test/SendRecvTests.cpp
  projects/rccl/test/kernel-count/tests/test_kernel_counts.py
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Translate gfx1250 lane-banked and kernarg-supplied indirect calls (#10376)
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/indirect_branch_discovery.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/indirect_branch_discovery.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_text_layout.cpp
  emulation/rocjitsu/tests/analysis/liveness_test.cpp
  emulation/rocjitsu/tests/dbt/support/translate_test_support.cpp
  emulation/rocjitsu/tests/dbt/support/translate_test_support.h
  emulation/rocjitsu/tests/dbt/translate_gfx1250_test.cpp
Due: none

[rocjitsu] Add wave instruction throughput plugin (#10451)
  emulation/rocjitsu/docs/plugins.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/throughput/plugin.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/throughput/plugin.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/throughput/plugin_export.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/execution_plugin_test.cpp
Due: none

[rocjitsu][CI] Exercise simulator corpus under sanitizers (#10205)
  .github/workflows/rocjitsu-corpus-tests.yml
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/kfd_process.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/gpu_memory.h
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/corpus/README.md
  emulation/rocjitsu/tests/corpus/corpus-hip-preload.sh
  emulation/rocjitsu/tests/corpus/corpus-process-supervisor.sh
  emulation/rocjitsu/tests/corpus/gfx1201_skip_tests.json
  emulation/rocjitsu/tests/corpus/run-corpus-tests.sh
Due: none

fix(rocshmem): restore functional tests on gfx1100 (#10090)
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/tests/functional_tests/fence_ordering_tester.cpp
  projects/rocshmem/tests/functional_tests/signaling_operations_tester.cpp
  projects/rocshmem/tests/functional_tests/test_driver.cpp
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Set MI455X simulation revision to B0 (#10448)
  .github/workflows/rocjitsu-corpus-tests.yml
  emulation/rocjitsu/configs/gfx1250_mi455x.json
  emulation/rocjitsu/tests/sysfs_test.cpp
Due: none

fix(rocprofiler-systems): Fix rwlock tracing self-deadlock (#10300)
  projects/rocprofiler-systems/source/lib/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/common/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/common/synchronized.hpp
  projects/rocprofiler-systems/source/lib/common/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/common/tests/test_synchronized.cpp
  projects/rocprofiler-systems/source/lib/core/demangler.hpp
  projects/rocprofiler-systems/source/lib/core/state.hpp
  projects/rocprofiler-systems/source/lib/core/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/trace_cache/buffer_storage.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/metadata_registry.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_buffer_storage.cpp
  projects/rocprofiler-systems/source/lib/policies/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/policies/thread_state_policy.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/fwd.hpp
  projects/rocprofiler-systems/tests/pytest/test_transpose.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(rccl-tests): declare the hipified headers as object dependencies (#10302)
  projects/rccl-tests/src/Makefile
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): compile direct reduce-scatter only for Simple and force Simple on Host (#10132)
  projects/rccl/src/device/reduce_scatter.h
  projects/rccl/src/enqueue.cc
  projects/rccl/test/RcclWrapTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

feat(rccl): Consolidate AllReduce/AllGather impl selection so rcclGetCollImplInfo matches dispatch (#10025)
  projects/rccl-tests/src/all_gather.cu
  projects/rccl-tests/src/all_reduce.cu
  projects/rccl-tests/src/common.cu
  projects/rccl-tests/src/common.h
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/collectives.cc
  projects/rccl/src/dda_all_gather_fabric.cu
  projects/rccl/src/dda_all_gather_fabric_ll.cu
  projects/rccl/src/dda_all_gather_fabric_ll128.cu
  projects/rccl/src/dda_all_gather_ipc.cu
  projects/rccl/src/dda_all_reduce_fabric.cu
  projects/rccl/src/dda_all_reduce_fabric_ll.cu
  projects/rccl/src/dda_all_reduce_fabric_ll128.cu
  projects/rccl/src/dda_all_reduce_ipc.cu
  projects/rccl/src/device/ce_reduce.cc
  projects/rccl/src/device/ce_reduce/ce_reduce_impl.h.in
  projects/rccl/src/device/ce_reduce/ce_reduce_launcher.cpp.in
  projects/rccl/src/device/ce_reduce/generate.py
  projects/rccl/src/enqueue.cc
  projects/rccl/src/include/ce_coll.h
  projects/rccl/src/include/dda_all_gather.h
  projects/rccl/src/include/dda_all_reduce.h
  projects/rccl/src/include/info.h
  projects/rccl/src/include/rccl_common.h
  projects/rccl/src/include/rccl_decision.h
  projects/rccl/src/rccl_wrap.cc
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/CollImplInfoTests.cpp
  projects/rccl/tools/topo_expl/Makefile
Due: .azuredevops/rocm_ci_caller.yml

ci(rocprofiler-compute): Remove unused source tarball workflow (#10259)
  .github/workflows/rocprofiler-compute-tarball.yml
  README.md
  projects/rocprofiler-compute/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(clr): create the cross-device graph stream on first use. (#10257)
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/hip-tests/catch/config/configs/unit/graph.yaml
  projects/hip-tests/catch/unit/graph/CMakeLists.txt
  projects/hip-tests/catch/unit/graph/hipGraphStreamPoolFootprint.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(rocjitsu): Fix gaps with block-scale wmma/mfma (#10347)
  emulation/rocjitsu/fuzz/decode/decode_fuzz_main.cpp
  emulation/rocjitsu/lib/python/amdisa/__init__.py
  emulation/rocjitsu/lib/python/amdisa/__main__.py
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/matrix.py
  emulation/rocjitsu/lib/python/amdisa/encoding_translator_codegen.py
  emulation/rocjitsu/lib/python/amdisa/isa_profile.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_cross_isa_analyzer.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_gen_vector_cmpx.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_instruction_encoding_availability.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_profile_properties.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna1/decoder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna2/decoder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/decoder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/decoder.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/execution_backend.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/execution_backend_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/vop3p.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/vop3p.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/vop3p_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/decoder.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/mma_exec.h
  emulation/rocjitsu/tests/analysis/liveness_test.cpp
  emulation/rocjitsu/tests/cdna5_architecture_test.cpp
  emulation/rocjitsu/tests/dbt/translate_gfx1250_test.cpp
  emulation/rocjitsu/tests/decode_smoke_test.cpp
  emulation/rocjitsu/tests/execution_plugin_test.cpp
  emulation/rocjitsu/tests/fuzz/decode/decode_fuzz_test.cpp
  emulation/rocjitsu/tests/instruction_execution_harness_test.cpp
  emulation/rocjitsu/tests/mfma_simd_benchmark.cpp
  emulation/rocjitsu/tests/mma_test_util.h
  emulation/rocjitsu/tests/shared_infra_test.cpp
  emulation/rocjitsu/tests/simd_correctness/mfma_simd_exact_test.cpp
  emulation/rocjitsu/tests/wmma_simd_benchmark.cpp
Due: none

style(rocSHMEM): expand single-line if/while bodies in IPC host p2p sync ops (#9024)
  projects/rocshmem/src/ipc/context_ipc_tmpl_host.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rocprofiler-sdk): do not propagate host register library path to target in rocattach (#9744)
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/rocattach.cpp
  projects/rocprofiler-sdk/tests/bin/attachment-test/attachment_test.cpp
  projects/rocprofiler-sdk/tests/rocattach/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocattach/main.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

feat(rccl): Extend impl-selection reporting + CollImplInfo tests to ReduceScatter (#10120)
  projects/rccl-tests/src/common.cu
  projects/rccl-tests/src/reduce_scatter.cu
  projects/rccl/src/collectives.cc
  projects/rccl/src/include/rccl_common.h
  projects/rccl/src/rccl_wrap.cc
  projects/rccl/test/CollImplInfoTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

docs(rccl): Update CHANGELOG.md with missing items from 7.14 and updated for 10.0.0 (#10457)
  projects/rccl/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

feat(rocjitsu): Implement swizzle enable semantics (#10428)
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/isa_profile.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna5/addr_calc.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna5/addr_calc.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vbuffer_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/mem_state.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/memory_pipeline.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/plugin.cpp
  emulation/rocjitsu/tests/cdna5_execution_test.cpp
  emulation/rocjitsu/tests/execution_plugin_test.cpp
  emulation/rocjitsu/tests/instruction_execution_harness_test.cpp
  emulation/rocjitsu/tests/shared_infra_test.cpp
Due: none

test(rocDecode): Add /perf-check skill to catch performance regressions (#9796)
  projects/rocdecode/.claude/skills/perf-check/SKILL.md
  projects/rocdecode/CLAUDE.md
  projects/rocdecode/test/README.md
  projects/rocdecode/test/perf_regression.py
Due: .azuredevops/rocm_ci_caller.yml

feat(clr): Add Implementation for hipInitDevice API (#10047)
  projects/clr/CHANGELOG.md
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
  projects/clr/hipamd/include/hip/amd_detail/hip_prof_str.h
  projects/clr/hipamd/src/amdhip.def.in
  projects/clr/hipamd/src/hip_api_trace.cpp
  projects/clr/hipamd/src/hip_device_runtime.cpp
  projects/clr/hipamd/src/hip_hcc.map.in
  projects/clr/hipamd/src/hip_table_interface.cpp
  projects/hip-tests/CONTRACT_COVERAGE.md
  projects/hip-tests/catch/TEST_PLAN.md
  projects/hip-tests/catch/config/configs/contract.yaml
  projects/hip-tests/catch/config/configs/unit/device.yaml
  projects/hip-tests/catch/contract/README.md
  projects/hip-tests/catch/contract/device_lifecycle/test_hip_device_lifecycle_contract.cc
  projects/hip-tests/catch/unit/device/CMakeLists.txt
  projects/hip-tests/catch/unit/device/hipInitDevice.cc
  projects/hip/include/hip/hip_runtime_api.h
  projects/hipother/hipnv/include/hip/nvidia_detail/nvidia_hip_runtime_api.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/api_args.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/runtime_api_id.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/abi.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/hip.def.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

feat(amdsmi): label cache entries with acronym and total size (#8958)
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/amdsmi_cli/subcommands/static.py
  projects/amdsmi/docs/how-to/amdsmi-cli-tool.md
  projects/amdsmi/tests/python/unit/gpu/test_cli_cache_labels.py
Due: .azuredevops/rocm_ci_caller.yml

fix(rocjitsu): narrow VOP3P packed-16 inline float constants (#10334)
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/packed.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_packed_codegen.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/vop3p_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vop3p_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/shared/execute_shared.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/simd_correctness/vop3p_pk_inline_constant_correctness_test.cpp
Due: none

test(hip-tests): add shared-HW-queue any-order overlap stream tests f… (#9969)
  projects/hip-tests/catch/config/configs/performance.yaml
  projects/hip-tests/catch/config/configs/unit/stream.yaml
  projects/hip-tests/catch/performance/scenarios/stream/CMakeLists.txt
  projects/hip-tests/catch/performance/scenarios/stream/hipPerfSharedQueueAnyOrderOverlap.cc
  projects/hip-tests/catch/unit/stream/CMakeLists.txt
  projects/hip-tests/catch/unit/stream/hipSharedQueueAnyOrderOverlap.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(rocprofiler-compute): read git revision from the source directory (#10316)
  projects/rocprofiler-compute/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

test(rccl): fixed signal initial value setup (#10110)
  projects/rccl/src/transport/net_ib_cast/connect.cc
  projects/rccl/test/transport/RmaMPI/RmaMPITestBase.hpp
  projects/rccl/test/transport/RmaMPI/RmaMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

[RCCL] [AICOMRCCL-1107] Allow ncclCommWindowRegister to return NULL window and add UT (#7807)
  projects/rccl/src/dev_runtime.cc
  projects/rccl/test/HostApiMPITests.cpp
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
  projects/rccl/tools/scripts/test_runner/configs/mi355x_thor2_roce.json
Due: .azuredevops/rocm_ci_caller.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
