Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

update roof test cases
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Revert "SWDEV-554608 - Add hipHostRegisterIoMemory for hipHostRegister (#1266)"
  projects/clr/CHANGELOG.md
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocmemory.hpp
  projects/clr/rocclr/platform/memory.hpp
  projects/hip-tests/catch/unit/memory/hipHostRegister.cc
  projects/hip/include/hip/hip_runtime_api.h
Due: .azuredevops/rocm_ci_caller.yml

Adding PSDB trigger for release branch
  .azuredevops/rocm_ci_caller.yml
Due: none

SWDEV-556212 - Update changelog for HIP 7.1
  projects/clr/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

Workflow test
  projects/rocprofiler-systems/docker/Dockerfile.opensuse
  projects/rocprofiler-systems/docker/Dockerfile.opensuse.ci
  projects/rocprofiler-systems/docker/Dockerfile.ubuntu.ci
  projects/rocprofiler-systems/examples/mpi/CMakeLists.txt
  projects/rocprofiler-systems/examples/mpi/intervals_mpi.f90
  projects/rocprofiler-systems/examples/mpi/poisson_mpi.f90
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/mpi_gotcha.cpp
  projects/rocprofiler-systems/tests/rocprof-sys-mpi-tests.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

correcting typo. (#1222)
  projects/rocprofiler-compute/src/utils/mi_gpu_spec.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocprofiler-systems Nightly and CI on Ubuntu Jammy/Noble on MI355 and MI325 (#997)
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

[ROCProfiler-SDK][ROCR] HSA New API changes for HSA_AMD_EXT_API_TABLE_STEP_VERSION 8 (#1182)
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hsa/amd_ext_api_id.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hsa/api_args.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/abi.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/details/fmt.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/hsa.def.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/utils.hpp
  projects/rocprofiler-sdk/tests/rocprofv3/att-consecutive-kernels/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add reference to "rocpd" section to the "Profiling Python" section
  projects/rocprofiler-systems/docs/how-to/profiling-python-scripts.rst
  projects/rocprofiler-systems/docs/how-to/understanding-rocprof-sys-output.rst
Due: .azuredevops/rocm_ci_caller.yml

update labels and test cases
  projects/rocprofiler-compute/src/roofline.py
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

SWDEV-546345-[catch2][dtest]- Tests for new Memory management API's
  projects/hip-tests/catch/unit/memory/CMakeLists.txt
  projects/hip-tests/catch/unit/memory/hipMemcpy3DBatchAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpy3DPeer.cc
  projects/hip-tests/catch/unit/memory/hipMemcpy3DPeerAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyBatchAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D16.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D16Async.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D32.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D32Async.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D8.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D8Async.cc
Due: .azuredevops/rocm_ci_caller.yml

Add documentation for rocpd output
  projects/rocprofiler-systems/docs/how-to/understanding-rocprof-sys-output.rst
Due: .azuredevops/rocm_ci_caller.yml

Update links to reference rocm-systems repo
  projects/rocprofiler-systems/CONTRIBUTING.md
  projects/rocprofiler-systems/docs/conceptual/rocprof-sys-feature-set.rst
  projects/rocprofiler-systems/docs/how-to/configuring-runtime-options.rst
  projects/rocprofiler-systems/docs/how-to/configuring-validating-environment.rst
  projects/rocprofiler-systems/docs/how-to/nic-profiling.rst
  projects/rocprofiler-systems/docs/how-to/performing-causal-profiling.rst
  projects/rocprofiler-systems/docs/how-to/profiling-python-scripts.rst
  projects/rocprofiler-systems/docs/how-to/sampling-call-stack.rst
  projects/rocprofiler-systems/docs/how-to/understanding-rocprof-sys-output.rst
  projects/rocprofiler-systems/docs/how-to/vcn-jpeg-sampling.rst
  projects/rocprofiler-systems/docs/index.rst
  projects/rocprofiler-systems/docs/install/install.rst
  projects/rocprofiler-systems/docs/reference/development-guide.rst
  projects/rocprofiler-systems/docs/sphinx/_toc.yml.in
Due: .azuredevops/rocm_ci_caller.yml

Updating install doc page
  projects/rocprofiler-systems/docs/install/install.rst
Due: .azuredevops/rocm_ci_caller.yml

Removing the Quick Start page
  projects/rocprofiler-systems/docs/index.rst
  projects/rocprofiler-systems/docs/install/quick-start.rst
  projects/rocprofiler-systems/docs/sphinx/_toc.yml.in
Due: .azuredevops/rocm_ci_caller.yml

Updated git clone instructions
  projects/rocprofiler-systems/docs/install/install.rst
Due: .azuredevops/rocm_ci_caller.yml

Update projects/rocprofiler-systems/docs/how-to/understanding-rocprof-sys-output.rst
  projects/rocprofiler-systems/docs/how-to/understanding-rocprof-sys-output.rst
Due: .azuredevops/rocm_ci_caller.yml

Fix formatting
  projects/rocprofiler-systems/docs/install/install.rst
Due: .azuredevops/rocm_ci_caller.yml

Update README.md
  projects/rocprofiler-systems/README.md
Due: .azuredevops/rocm_ci_caller.yml

Update CONTRIBUTING.md
  projects/rocprofiler-systems/CONTRIBUTING.md
Due: .azuredevops/rocm_ci_caller.yml

Revert "SWDEV-554608 - Add hipHostRegisterIoMemory for hipHostRegister (#1266)" (#1296)
  projects/clr/CHANGELOG.md
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocmemory.hpp
  projects/clr/rocclr/platform/memory.hpp
  projects/hip-tests/catch/unit/memory/hipHostRegister.cc
  projects/hip/include/hip/hip_runtime_api.h
Due: .azuredevops/rocm_ci_caller.yml

add block/panel aliasing and the option to filter by alias using option -b
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/utils/utils.py
  projects/rocprofiler-compute/utils/metric_generator/analysis_config_template.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

SWDEV-552620 - Refactor with std::move
  projects/clr/hipamd/src/hip_graph_internal.cpp
Due: .azuredevops/rocm_ci_caller.yml

Adding profiler for TheRock CI
  .github/scripts/therock_matrix.py
Due: none

Add per arch metric definitions
  projects/rocprofiler-compute/utils/metric_generator/config_parser.py
  projects/rocprofiler-compute/utils/metric_generator/metric_definition_splitter.py
  projects/rocprofiler-compute/utils/per_arch_metric_definitions/gfx908_metrics_description.yaml
  projects/rocprofiler-compute/utils/per_arch_metric_definitions/gfx90a_metrics_description.yaml
  projects/rocprofiler-compute/utils/per_arch_metric_definitions/gfx940_metrics_description.yaml
  projects/rocprofiler-compute/utils/per_arch_metric_definitions/gfx941_metrics_description.yaml
  projects/rocprofiler-compute/utils/per_arch_metric_definitions/gfx942_metrics_description.yaml
  projects/rocprofiler-compute/utils/per_arch_metric_definitions/gfx950_metrics_description.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

ruff
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof_compute_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

adding temp test for rocproiler
  .github/scripts/therock_matrix.py
Due: none

Removing subtrees
  .github/scripts/therock_configure_ci.py
  .github/scripts/therock_matrix.py
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
Due: none

add mit license
  projects/rocprofiler-compute/utils/autogen_hash.yaml
  projects/rocprofiler-compute/utils/metric_generator/apply_config_rules.py
  projects/rocprofiler-compute/utils/metric_generator/config_parser.py
  projects/rocprofiler-compute/utils/metric_generator/generate_config_deltas.py
  projects/rocprofiler-compute/utils/metric_generator/metric_definition_splitter.py
  projects/rocprofiler-compute/utils/metric_generator/metric_delta_generator.py
  projects/rocprofiler-compute/utils/metric_generator/metric_registry_generator.py
  projects/rocprofiler-compute/utils/metric_generator/parse_config_template.py
  projects/rocprofiler-compute/utils/split_config.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

use gfx950 as the baseline for config delta
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/config_delta/gfx90a_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx90a/config_delta/gfx940_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx90a/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx940/config_delta/gfx941_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx940/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/config_delta/gfx942_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/utils/metric_generator/generate_config_deltas.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

ruff
  projects/rocprofiler-compute/utils/metric_generator/apply_config_rules.py
  projects/rocprofiler-compute/utils/metric_generator/generate_config_deltas.py
  projects/rocprofiler-compute/utils/metric_generator/metric_definition_splitter.py
  projects/rocprofiler-compute/utils/metric_generator/parse_config_template.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Reverted changes to a workflow file
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

For ROCPD, document minimum version of SDK.
  projects/rocprofiler-systems/docs/how-to/understanding-rocprof-sys-output.rst
Due: .azuredevops/rocm_ci_caller.yml

[SWDEV-558895] Fix rsmi monitor fds (#748)
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
  projects/amdsmi/rocm_smi/src/rocm_smi_io_link.cc
  projects/amdsmi/rocm_smi/src/rocm_smi_monitor.cc
Due: .azuredevops/rocm_ci_caller.yml

[SWDEV-558349] Fix for cper record count mismatch with --file-limit
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/amdsmi_cli/amdsmi_helpers.py
Due: .azuredevops/rocm_ci_caller.yml

Update CHANGELOGS
  projects/rocprofiler-systems/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

Increase timeout for openmp-vv ctests (#1083)
  projects/rocprofiler-systems/tests/rocprof-sys-openmp-tests.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
