Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

replay_continue cb improvement
  projects/rocprofiler-sdk/samples/kernel_replay/basic_client_with_user_data.cpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/experimental/kernel_replay.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/replay_callbacks.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/replay_callbacks.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/replay_phases.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

refactor(consan): retain sampled workgroup gate plans
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_access.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_access_emission.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_access_emission.h
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
  emulation/rocjitsu/tests/patch/consan/moi_sampled_test.cpp
Due: none

docs(consan): record sampled gate convergence
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
Due: none

refactor(consan): narrow runtime gate planning inputs
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_record_planning.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_record_replay.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_runtime_workgroup_gate.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_runtime_workgroup_gate.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_access.inc
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
Due: none

docs(consan): record exact gate planning inputs
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
Due: none

refactor(consan): narrow sampled state helpers
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_internal.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_access_emission.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_access_emission.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_atomic_emission.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_sync.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_support.cpp
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
  emulation/rocjitsu/tests/patch/consan/moi_common_test.cpp
Due: none

fix(amdsmi): derive name-value record layout from the generated struct
  projects/amdsmi/py-interface/amdsmi_interface_utils.py
  projects/amdsmi/tests/python/unit/system/test_name_value_abi.py
Due: .azuredevops/rocm_ci_caller.yml

ci(amdsmi): verify an installed wheel loaded its bundled library
  .github/workflows/amdsmi-build.yml
  .github/workflows/amdsmi-manylinux-build.yml
  projects/amdsmi/tests/verify_bundled_library_loads.py
Due: .azuredevops/rocm_ci_caller.yml

fix(rocprofiler-sdk): KFD dispatch-log signal-less review fixes (F1-F29) (#10772)
  projects/rocprofiler-sdk/source/docs/api-reference/tool_library_environment.rst
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/code_object/code_object.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/hsa.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/internal_threading.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/internal_threading.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/correlation_types.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/dispatch_hub.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/dlog_drain.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/env_parse.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/kfd_profiler.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/kfd_profiler.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/kfd_reader.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/kfd_reader.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/record_pipe.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/signal_less.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/signal_less.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/signal_less_gate.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/tests/data_structures.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/tests/dispatch_hub_cap_test.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/tests/dispatch_hub_test.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd/tests/dlog_drain_test.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

refactor(consan): retain sampled access emission plans
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_native_abi.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_native_abi.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_access.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_access_emission.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_access_emission.h
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
Due: none

docs(consan): record sampled access convergence
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
Due: none

fix(rocjitsu): avoid double rounding BF16 FMA mix
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/packed.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_packed_codegen.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/fp_mode.h
  emulation/rocjitsu/tests/cdna5_execution_test.cpp
Due: none

* rocDecode/Windows: Fix vaTerminate crash and stall during process teardown
  projects/rocdecode/src/rocdecode/vaapi/vaapi_videodecoder.cpp
  projects/rocdecode/src/rocdecode/vaapi/vaapi_videodecoder.h
Due: .azuredevops/rocm_ci_caller.yml

refactor(consan): retain sampled sync emission plans
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_probe_contracts.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_atomic_emission.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_atomic_emission.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_sync.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_shared_lowering.cpp
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
Due: none

docs(consan): record sampled sync convergence
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
Due: none

fix(rocprof-trace-decoder): Improve robustness under data loss (#10980)
  projects/rocprof-trace-decoder/source/stitch/stitch.cpp
  projects/rocprof-trace-decoder/source/stitch/stitch.hpp
Due: .azuredevops/rocm_ci_caller.yml

refactor(consan): separate inline shadow scalar planning
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow_emission.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow_emission.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_prologue.cpp
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
Due: none

fix(amdsmi): resolve container ID for systemd-managed LXC
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/docs/reference/amdsmi-py-api.md
  projects/amdsmi/include/amd_smi/impl/amd_smi_container_id_parser.h
  projects/amdsmi/src/amd_smi/fdinfo.cc
  projects/amdsmi/tests/amd_smi_test/unit/system/container_id_bounds_test.cc
  projects/amdsmi/tests/amd_smi_test/unit/system/container_id_charset_test.cc
  projects/amdsmi/tests/amd_smi_test/unit/system/container_id_parse_test.cc
  projects/amdsmi/tests/amd_smi_test/unit/system/container_id_resolve_test.cc
  projects/amdsmi/tests/amd_smi_test/unit/system/container_id_test_util.h
Due: .azuredevops/rocm_ci_caller.yml

use wrapper function to version the APIs
  projects/clr/CMakeLists.txt
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
  projects/clr/hipamd/include/hip/amd_detail/hip_prof_str.h
  projects/clr/hipamd/src/CMakeLists.txt
  projects/clr/hipamd/src/hip_api_trace.cpp
  projects/clr/hipamd/src/hip_comgr_helper.cpp
  projects/clr/hipamd/src/hip_deprecated_abi.cpp
  projects/clr/hipamd/src/hip_device.cpp
  projects/clr/hipamd/src/hip_device_runtime.cpp
  projects/clr/hipamd/src/hip_platform.cpp
  projects/clr/hipamd/src/hip_prof_gen.py
  projects/clr/hipamd/src/hip_table_interface.cpp
  projects/clr/hipamd/src/hrr/hip_capture_generated.cpp
  projects/clr/hipamd/src/hrr/hip_capture_metadata.cpp
  projects/clr/hipamd/src/hrr/playback/CMakeLists.txt
  projects/clr/hipamd/src/profiler/hip_clr_dispatch_wrappers.cpp
  projects/hip-tests/catch/cmake/hip-tests.cmake
  projects/hip/docs/doxygen/Doxyfile
  projects/hip/include/hip/hip_common.h
  projects/hip/include/hip/hip_runtime_api.h
Due: .azuredevops/rocm_ci_caller.yml

move hipError_t typedef up.
  projects/hip/include/hip/hip_runtime_api.h
Due: .azuredevops/rocm_ci_caller.yml

refactor(consan): retain inline shadow emission plans
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_exact_shadow_emission.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow_emission.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow_emission.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_shared_lowering.cpp
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
Due: none

docs(consan): record inline shadow plan convergence
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
Due: none

refactor(consan): publish inline atomic descriptor demand once
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_atomic.inc
Due: none

fix(amdsmi): add structural bounds validation to CPER parser
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/CMakeLists.txt
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/include/amd_smi/impl/amd_smi_cper.h
  projects/amdsmi/src/CMakeLists.txt
  projects/amdsmi/src/amd_smi/amd_smi.cc
  projects/amdsmi/src/amd_smi/amd_smi_cper.cc
  projects/amdsmi/tests/amd_smi_test/unit/gpu/cper_read_test.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor(consan): retain inline atomic emission plans
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_atomic.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow_emission.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sync_emission.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sync_emission.h
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
Due: none

docs(consan): record inline atomic plan convergence
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
Due: none

refactor(consan): retain inline barrier body plans
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_barrier.inc
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
Due: none

Unified cli entry point - Draft1
  projects/rocprofiler-systems/source/bin/CMakeLists.txt
  projects/rocprofiler-systems/source/bin/common/CMakeLists.txt
  projects/rocprofiler-systems/source/bin/common/cli_dispatcher.cpp
  projects/rocprofiler-systems/source/bin/common/cli_dispatcher.hpp
  projects/rocprofiler-systems/source/bin/common/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/bin/common/tests/test_cli_dispatcher.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-exe/CMakeLists.txt
  projects/rocprofiler-systems/source/bin/rocprof-sys-exe/rocprof-sys.cpp
  projects/rocprofiler-systems/tests/pytest/conftest.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/runners.py
  projects/rocprofiler-systems/tests/pytest/test_rocsys.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

refactor(consan): harvest inline barrier plan replay
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_barrier.inc
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
Due: none

test(consan): tolerate simulator teardown under parallel load
  emulation/rocjitsu/tests/consan/CMakeLists.txt
Due: none

fix(rocjitsu): isolate BF16 FMA from host fenv
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/fp_mode.h
  emulation/rocjitsu/tests/cdna5_execution_test.cpp
Due: none

refactor(consan): collapse inline barrier route state
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_barrier.inc
Due: none

docs(consan): record inline barrier plan convergence
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
Due: none

refactor(consan): make barrier scratch demand mode-owned
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_barrier.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_barrier.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_mode_planning.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_pipeline.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_record_replay.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled.cpp
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
  emulation/rocjitsu/tests/patch/consan/moi_mode_planning_test.cpp
  emulation/rocjitsu/tests/patch/consan/pipeline_test.cpp
Due: none

docs(consan): record mode-owned barrier demand
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
Due: none

feat(kfdtest): Add per-test kernel log capture via --compartmentalize
  projects/rocr-runtime/libhsakmt/tests/kfdtest/README.txt
  projects/rocr-runtime/libhsakmt/tests/kfdtest/scripts/run_kfdtest.sh
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix(rocjitsu): isolate BF16 FMA from MXCSR modes
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/packed.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_packed_codegen.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/fp_mode.h
  emulation/rocjitsu/tests/cdna5_execution_test.cpp
Due: none

refactor(consan): make atomic scratch demand mode-owned
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_capability_contract.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_atomic.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow_emission.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_mode_planning.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_mode_planning.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_pipeline.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_record_replay.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_support.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sync_emission.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sync_emission.h
  emulation/rocjitsu/tests/consan/check_architecture_boundaries.cmake
  emulation/rocjitsu/tests/patch/consan/moi_inline_atomic_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_mode_planning_test.cpp
  emulation/rocjitsu/tests/patch/consan/pipeline_test.cpp
Due: none

docs(consan): record mode-owned atomic demand
  emulation/rocjitsu/docs/consan/FIFTH_REFACTORING.md
Due: none

addition to CI for running lvm support modules
  .github/workflows/hipfile-ci-system.yml
  .github/workflows/hipfile-ci.yml
Due: none
