Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Update getVmmAllocInfo to report device id of exporting agent
  projects/clr/hipamd/src/hip_vm.cpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
Due: .azuredevops/rocm_ci_caller.yml

add fmt formatter for hsa_amd_vmem_handle_info_t
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/utils.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

final copilot review fixes
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/utils.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rocprofiler-sdk fixes based on copilot review
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hsa/api_args.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix rocprofiler-sdk issues
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/abi.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/utils.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

update signature of getVmmAllocInfo
  projects/clr/hipamd/src/hip_vm.cpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
Due: .azuredevops/rocm_ci_caller.yml

add rocprofiler-sdk changes
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hsa/amd_ext_api_id.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/abi.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/hsa.def.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rocr fix
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Add hip test for checking host backed alloc handle import props
  projects/hip-tests/catch/config/configs/unit/virtualMemoryManagement.yaml
  projects/hip-tests/catch/unit/virtualMemoryManagement/hipMemImportFromShareableHandle.cc
Due: .azuredevops/rocm_ci_caller.yml

device type type host should have device id 0
  projects/clr/hipamd/src/hip_vm.cpp
  projects/hip-tests/catch/unit/virtualMemoryManagement/hipMemImportFromShareableHandle.cc
Due: .azuredevops/rocm_ci_caller.yml

update memory handle with import info only when clr calls vmem_info
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

update log usage
  projects/clr/hipamd/src/hip_vm.cpp
Due: .azuredevops/rocm_ci_caller.yml

remove hsa_amd_vmem_get_alloc_prop from rocrctx
  projects/clr/rocclr/device/rocm/rocrctx.cpp
  projects/clr/rocclr/device/rocm/rocrctx.hpp
Due: .azuredevops/rocm_ci_caller.yml

Add header declaration for Ctx type
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmtctx.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Update interface hsa_amd_vmem_get_vmem_info
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
  projects/clr/rocclr/device/rocm/rocrctx.cpp
  projects/clr/rocclr/device/rocm/rocrctx.hpp
  projects/rocr-runtime/rocrtst/suites/functional/virtual_memory.cc
  projects/rocr-runtime/runtime/hsa-runtime/core/common/hsa_table_interface.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/hsa_ext_amd_impl.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_api_trace.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hsacore.dll.def
  projects/rocr-runtime/runtime/hsa-runtime/hsacore.so.def
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_api_trace.h
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_ext_amd.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocDecode/Parser: Record the parser hardening in the changelog, and tidy EbspToRbsp().
  projects/rocdecode/CHANGELOG.md
  projects/rocdecode/src/parser/roc_video_parser.cpp
Due: .azuredevops/rocm_ci_caller.yml

Re-enable Unit_dynamic_loading_device_kernels_from_library
  projects/hip-tests/catch/config/configs/unit/dynamicLoading.yaml
Due: .azuredevops/rocm_ci_caller.yml

Update changelog
  projects/clr/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

Keep manual benchmark results in Run Comparison
  emulation/rocjitsu/website/dashboard/docs/build-and-test.md
  emulation/rocjitsu/website/dashboard/docs/website-data-contract.md
  emulation/rocjitsu/website/dashboard/src/App.jsx
  emulation/rocjitsu/website/dashboard/src/components/compare/RunSelector.jsx
  emulation/rocjitsu/website/dashboard/src/components/layout/FiltersBar.jsx
  emulation/rocjitsu/website/dashboard/src/components/views/CompareRunsView.jsx
  emulation/rocjitsu/website/dashboard/src/data/dashboardValidation.js
  emulation/rocjitsu/website/dashboard/src/data/pluginComparison.js
  emulation/rocjitsu/website/dashboard/src/data/selectors.js
  emulation/rocjitsu/website/dashboard/src/hooks/useDashboardState.js
  emulation/rocjitsu/website/dashboard/tests/e2e/comparisons.e2e.js
  emulation/rocjitsu/website/dashboard/tests/e2e/manual-publication.e2e.js
  emulation/rocjitsu/website/dashboard/tests/e2e/mobile.e2e.js
  emulation/rocjitsu/website/dashboard/tests/e2e/overview.e2e.js
  emulation/rocjitsu/website/dashboard/tests/fixtures/README.md
  emulation/rocjitsu/website/dashboard/tests/unit/manualPublication.test.js
  emulation/rocjitsu/website/dashboard/tests/unit/publishedData.test.js
  emulation/rocjitsu/website/dashboard/tests/unit/selectors.test.js
Due: none

Publish manually dispatched branch benchmarks
  .github/workflows/rocjitsu-benchmarks.yml
Due: none

fix(rccl): guard net_ib_cast port recovery on NICs without UD queue pairs (#12369)
  projects/rccl/src/transport/net_ib_cast/CMakeLists.txt
  projects/rccl/src/transport/net_ib_cast/capability.cc
  projects/rccl/src/transport/net_ib_cast/capability_cast.h
  projects/rccl/src/transport/net_ib_cast/common_cast.h
  projects/rccl/src/transport/net_ib_cast/init.cc
  projects/rccl/src/transport/net_ib_cast/net_ib_cast_inspect.h
  projects/rccl/src/transport/net_ib_cast/p2p.cc
  projects/rccl/src/transport/net_ib_cast/p2p_resiliency.cc
  projects/rccl/src/transport/net_ib_cast/p2p_resiliency_recovery.cc
  projects/rccl/src/transport/net_ib_cast/p2p_resiliency_recovery_cast.h
  projects/rccl/test/transport/NetIbMPI/FaultInjectTests.cpp
  projects/rccl/test/transport/NetIbMPI/NetIbMPITestBase.hpp
Due: .azuredevops/rocm_ci_caller.yml

ci(rccl): run MI350P PCIe plans only when asked
  .github/workflows/rccl-mi350p-pcie-8gpu-runner.yml
Due: none

addressing pr comments
  projects/hipfile/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

test(rocjitsu): reject inaccessible shard output paths
  emulation/rocjitsu/README.md
  emulation/rocjitsu/cmake/rj_run_gtest_shard.cmake
  emulation/rocjitsu/tests/CMakeLists.txt
Due: none

test(rocjitsu): batch FP mode tests to amortize startup
  emulation/rocjitsu/README.md
  emulation/rocjitsu/tests/CMakeLists.txt
Due: none

test(rocjitsu): make FP shard results reliable
  emulation/rocjitsu/README.md
  emulation/rocjitsu/cmake/rj_run_gtest_shard.cmake
  emulation/rocjitsu/tests/CMakeLists.txt
Due: none

update kernel-copy vs. memcpy threshold
  projects/rccl/src/algorithms/dda/reduce_scatter/dda_reduce_scatter_ipc.cu
  projects/rccl/src/algorithms/dda/reduce_scatter/reduce_scatter_dda.h
Due: .azuredevops/rocm_ci_caller.yml

Fix formatting
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/experimental/spm.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/context/context.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/dispatch_handlers.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

test(rccl): address review on isolated runner shard fix
  projects/rccl/test/SymmetricAbortCheckModeMPITests.cpp
  projects/rccl/test/common/ProcessIsolatedTestRunner.cpp
  projects/rccl/test/common/ScopedEnv.hpp
  projects/rccl/test/host/CMakeLists.txt
  projects/rccl/test/host/MICROTEST_README.md
  projects/rccl/test/host/process-isolated-runner-test.cc
Due: .azuredevops/rocm_ci_caller.yml

rocprofv3-doctor: account for running as root
  projects/rocprofiler-sdk/source/docs/how-to/using-rocprofv3-doctor.rst
  projects/rocprofiler-sdk/source/lib/python/rocprofv3/doctor_checks_driver.py
  projects/rocprofiler-sdk/source/lib/python/rocprofv3/doctor_checks_environ.py
  projects/rocprofiler-sdk/tests/rocprofv3-doctor/test_doctor_checks.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Simplify manual benchmark publication condition
  .github/workflows/rocjitsu-benchmarks.yml
  emulation/rocjitsu/website/dashboard/docs/build-and-test.md
Due: none

[rocjitsu] Reuse MMA helpers and retire empty dispatch assignments (#12871)
  emulation/rocjitsu/docs/async-instructions.md
  emulation/rocjitsu/docs/concurrent-dispatch.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/cpu_dispatch_pool.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/matrix_coexecution.h
  emulation/rocjitsu/tests/cpu_dispatch_pool_test.cpp
  emulation/rocjitsu/tests/matrix_coexecution_test.cpp
Due: none

docs(rocDecode): split the vaon12 prerequisite into two sentences
  projects/rocdecode/docs/install/rocDecode-build-and-install.rst
Due: .azuredevops/rocm_ci_caller.yml

docs(rocDecode): tighten the LIBVA_DRIVERS_PATH description
  projects/rocdecode/docs/reference/rocDecode-env-vars.rst
Due: .azuredevops/rocm_ci_caller.yml

fix(rocr): honor HSA_TOOLS_LIB when a v3 tool registers
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

test(rccl): add host microtests for src/ras/diagnostics.cc (#12399)
  projects/rccl/test/host/CMakeLists.txt
  projects/rccl/test/host/MICROTEST_README.md
  projects/rccl/test/host/ras-diagnostics-test.cc
  projects/rccl/test/host/ras-test.cc
  projects/rccl/test/test_categories_micro.yaml
Due: .azuredevops/rocm_ci_caller.yml

ci(runtimes): exercise the standalone build and host tests
  .github/workflows/runtimes-ci.yml
  .github/workflows/runtimes-formatting.yml
  tools/systems_pr_bot/policy_check.py
  tools/systems_pr_bot/test_policy_check_ut.py
Due: none

fix(ci): wait for every applicable formatting check
  .github/workflows/cuid-formatting.yml
  .github/workflows/rocjitsu-formatting.yml
  .github/workflows/rocprofiler-compute-formatting.yml
  .github/workflows/runtimes-formatting.yml
  .github/workflows/systems-pr-bot-tests.yml
  docs/SYSTEMS_PR_BOT_FAQ.md
  tools/systems_pr_bot/policy.yml
  tools/systems_pr_bot/policy_check.py
  tools/systems_pr_bot/test_policy_check_ut.py
Due: none

[rocjitsu][consan] Fix GCC constexpr validation of target profiles.
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_atomic_classifier.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_capability_contract.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/targets/cdna5/consan_gfx1250_target_profile.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/targets/consan_program_analysis_target_ops.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/targets/rdna3/consan_gfx1100_target_profile.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/targets/rdna4/consan_gfx1201_target_profile.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/targets/shared/cdna3_cdna4/consan_cdna3_cdna4_target_profile.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_hooks.cpp
  emulation/rocjitsu/tests/consan/CMakeLists.txt
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
  emulation/rocjitsu/tests/patch/consan/program_inventory_test.cpp
  emulation/rocjitsu/tests/patch/consan/target_profile_registration_test.cpp
  emulation/rocjitsu/tests/patch/consan/tensor_access_test.cpp
Due: none

Revert sample timer changes
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/causal/sampling.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/sampling.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
