Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

libhsakmt/virtio: Add AMDGPU BO VA operation support
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmt_virtio.h
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_amdgpu.c
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_proto.h
  projects/rocr-runtime/libhsakmt/src/virtio/libhsakmt_virtio.ver
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt/virtio: Add AMDGPU device initialization support
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmt_virtio.h
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_amdgpu.c
  projects/rocr-runtime/libhsakmt/src/virtio/libhsakmt_virtio.ver
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt/virtio: Add alloc memory align api
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmt_virtio.h
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_memory.c
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_proto.h
  projects/rocr-runtime/libhsakmt/src/virtio/libhsakmt_virtio.ver
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt/virtio: Add AMDGPU device handle and DRM command support
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmt_virtio.h
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_amdgpu.c
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_device.h
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_proto.h
  projects/rocr-runtime/libhsakmt/src/virtio/libhsakmt_virtio.ver
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt/virtio: Add dma buf export support
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmt_virtio.h
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_memory.c
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_openclose.c
  projects/rocr-runtime/libhsakmt/src/virtio/libhsakmt_virtio.ver
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

SWDEV-570501 - Add glExport for Windows GL Interop
  projects/clr/rocclr/device/rocm/rocglinterop.hpp
  projects/clr/rocclr/device/rocm/rocglinterop_windows.cpp
  projects/clr/rocclr/device/rocm/rocmemory.cpp
Due: .azuredevops/rocm_ci_caller.yml

wsl/librocdxg: vmm api support for rocr on windows
  include/hsakmt/hsakmt.h
  src/librocdxg.ver
  src/memory.cpp
Due: none

Add message
  projects/rocprofiler-systems/examples/openmp/external/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Remove old set limit test, add a multigpu test to a new getset limit test set
  projects/hip-tests/catch/unit/context/hipCtxNotSupported.cc
  projects/hip-tests/catch/unit/device/CMakeLists.txt
  projects/hip-tests/catch/unit/device/hipDeviceGetUuid.cc
  projects/hip-tests/catch/unit/device/hipDeviceSetGetLimit.cc
  projects/hip-tests/catch/unit/device/hipDeviceSetLimit_old.cc
Due: .azuredevops/rocm_ci_caller.yml

Add gfx12 check for HasExpertSchedMode prop
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/rocr-runtime/libhsakmt/src/topology.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Add unit tests for HasExpertSchedMode
  projects/hip-tests/catch/unit/device/hipGetDeviceProperties.cc
  projects/rocr-runtime/libhsakmt/tests/kfdtest/src/KFDTopologyTest.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Update gfx major version check and test for ExpertSchedMode
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/rocr-runtime/libhsakmt/src/topology.c
  projects/rocr-runtime/libhsakmt/tests/kfdtest/src/KFDTopologyTest.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Add HasExpertSchedMode device prop
  projects/clr/hipamd/src/hip_device.cpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/hip/include/hip/hip_runtime_api.h
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmttypes.h
  projects/rocr-runtime/libhsakmt/src/topology.c
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_ext_amd.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Update unit tests
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_cacheable.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

work in progress
  projects/rocprofiler-systems/source/lib/core/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/process_watcher.cpp
  projects/rocprofiler-systems/source/lib/core/process_watcher.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

remove debug print and fix copyright
  projects/rocprofiler-systems/cmake/Modules/FindUCX.cmake
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/ucx_gotcha.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

hsakmt: Use CwsrSize and CtlStackSize if available
  projects/rocr-runtime/libhsakmt/src/queues.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

hsakmt: Add warning when ABI<1.20 on GFX1151
  projects/rocr-runtime/libhsakmt/src/topology.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

hsakmt: Expose CWSR and Control stack sizes
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmttypes.h
  projects/rocr-runtime/libhsakmt/src/topology.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Run Azure
  projects/rocprofiler-systems/examples/openmp/external/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Investigate
  projects/rocprofiler-systems/examples/openmp/external/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Update projects/clr/CONTRIBUTING.md
  projects/clr/CONTRIBUTING.md
Due: .azuredevops/rocm_ci_caller.yml

Update projects/clr/README-doc.md
  projects/clr/README-doc.md
Due: .azuredevops/rocm_ci_caller.yml

rocr: Fix exception on AsyncEventControl init (#1852)
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Update Dockerfile
  projects/amdsmi/Dockerfile
Due: .azuredevops/rocm_ci_caller.yml

Update projects/hip/CONTRIBUTING.md
  projects/hip/CONTRIBUTING.md
Due: .azuredevops/rocm_ci_caller.yml

Update projects/hipother/CONTRIBUTING.md
  projects/hipother/CONTRIBUTING.md
Due: .azuredevops/rocm_ci_caller.yml

Added README.md file
  projects/amdsmi/tests/README.md
Due: .azuredevops/rocm_ci_caller.yml

Adding org var and dynamic selection of targets
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-test-packages.yml
Due: none

SWDEV-564083: [rocprof-compute] roofline: multiple runs table compar...
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[SWDEV-565460] AMD SMI Document Multiple Init Best Practices
  projects/amdsmi/docs/how-to/amdsmi-cpp-lib.md
Due: .azuredevops/rocm_ci_caller.yml

Add sphinxcontrib-mermaid to render diagram in HTML
  projects/amdsmi/docs/conf.py
  projects/amdsmi/docs/sphinx/requirements.in
  projects/amdsmi/docs/sphinx/requirements.txt
Due: .azuredevops/rocm_ci_caller.yml

Update TBB to 2022.3.0
  projects/rocprofiler-systems/cmake/DyninstTBB.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

SWDEV-1 - Remove roc-obj* tools and remove pl package dependency
  projects/clr/CHANGELOG.md
  projects/clr/hipamd/CMakeLists.txt
  projects/clr/hipamd/bin/roc-obj
  projects/clr/hipamd/bin/roc-obj-extract
  projects/clr/hipamd/bin/roc-obj-extract.bat
  projects/clr/hipamd/bin/roc-obj-ls
  projects/clr/hipamd/bin/roc-obj-ls.bat
  projects/clr/hipamd/packaging/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Expose a C++ API for the rocstorage reader
  projects/rocstorage/CMakeLists.txt
  projects/rocstorage/include/enum_definitions.h
  projects/rocstorage/include/reader.hpp
  projects/rocstorage/include/rocprofvis_interface_types.h
  projects/rocstorage/include/storage.hpp
  projects/rocstorage/source/reader.cpp
  projects/rocstorage/source/storage.cpp
  projects/rocstorage/tests/unit/CMakeLists.txt
  projects/rocstorage/tests/unit/reader/c_interface_test.cpp
  projects/rocstorage/tests/unit/reader_test.cpp
  projects/rocstorage/tests/unit/reader_test_adapters.hpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-566268 - clean up stress tests and perf tests
  projects/hip-tests/catch/CMakeLists.txt
  projects/hip-tests/catch/stress/memory/CMakeLists.txt
  projects/hip-tests/catch/stress/printf/printf_common.h
Due: .azuredevops/rocm_ci_caller.yml

clean up STANDALONE_TESTS flag usage
  projects/hip-tests/catch/cmake/hip-tests.cmake
Due: .azuredevops/rocm_ci_caller.yml

Add SSH ControlMaster support and C++ remote database backend
  projects/rocstorage/cmake/nlohmann_json.cmake
  projects/rocstorage/source/reader/CMakeLists.txt
  projects/rocstorage/source/reader/database/rocprofvis_db_remote.cpp
  projects/rocstorage/source/reader/database/rocprofvis_db_remote.h
  projects/rocstorage/tests/unit/CMakeLists.txt
  projects/rocstorage/tests/unit/reader/remote_database_test.cpp
  projects/rocstorage/tools/remote/README.md
  projects/rocstorage/tools/remote/rocstorage-server
  projects/rocstorage/tools/remote/rocstorage-ssh-proxy
  projects/rocstorage/tools/remote/rocstorage-sshfs
  projects/rocstorage/tools/remote/tests/Dockerfile.test
  projects/rocstorage/tools/remote/tests/test_docker.sh
  projects/rocstorage/tools/remote/tests/test_local.sh
Due: .azuredevops/rocm_ci_caller.yml
