Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

alt-rsmi: add ARSMIInitCalledTwiceIsShortCircuited test
  projects/rccl/test/AltRsmiTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rocr): skip deprecated-doorbell GPUs instead of aborting init
  projects/rocr-runtime/rocrtst/suites/functional/doorbell_type_test.cc
  projects/rocr-runtime/rocrtst/suites/functional/gpu_discovery_deprecated.cc
  projects/rocr-runtime/rocrtst/suites/functional/gpu_discovery_deprecated.h
  projects/rocr-runtime/rocrtst/suites/test_common/main.cc
  projects/rocr-runtime/rocrtst/suites/test_common/test_categories.yaml
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_topology.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

docs(rocshmem): updates for ROCm 10 (#10187)
  projects/rocshmem/docs/api/coll.rst
  projects/rocshmem/docs/api/tile.rst
  projects/rocshmem/docs/sphinx/_toc.yml.in
Due: .azuredevops/rocm_ci_caller.yml

fix missing braces
  projects/clr/hipamd/src/hip_code_object.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(clr) - elegently return err when kernels are unsupported
  projects/clr/hipamd/src/hip_code_object.cpp
  projects/clr/hipamd/src/hip_platform.cpp
Due: .azuredevops/rocm_ci_caller.yml

check hipErrorNotSupported specifically
  projects/clr/hipamd/src/hip_platform.cpp
Due: .azuredevops/rocm_ci_caller.yml

formatting errors
  projects/clr/hipamd/src/hip_code_object.cpp
  projects/clr/hipamd/src/hip_platform.cpp
Due: .azuredevops/rocm_ci_caller.yml

P0-6/P1-9/RR-1: make snap() nothrow-to-caller
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/memory_snapshot.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

feat(rocjpeg): add batched async decode API and sample (#10103)
  projects/rocjpeg/CHANGELOG.md
  projects/rocjpeg/CMakeLists.txt
  projects/rocjpeg/api/amd_detail/rocjpeg_api_trace.h
  projects/rocjpeg/api/rocjpeg/rocjpeg.h
  projects/rocjpeg/samples/jpegDecodeAsync/jpegdecodeasync.cpp
  projects/rocjpeg/samples/jpegDecodeBatchedAsync/CMakeLists.txt
  projects/rocjpeg/samples/jpegDecodeBatchedAsync/README.md
  projects/rocjpeg/samples/jpegDecodeBatchedAsync/jpegdecodebatchedasync.cpp
  projects/rocjpeg/src/amd_detail/rocjpeg_api_dispatch_interface.cpp
  projects/rocjpeg/src/amd_detail/rocjpeg_api_trace.cpp
  projects/rocjpeg/src/rocjpeg_api.cpp
  projects/rocjpeg/src/rocjpeg_decoder.cpp
  projects/rocjpeg/src/rocjpeg_decoder.h
  projects/rocjpeg/src/rocjpeg_vaapi_decoder.cpp
  projects/rocjpeg/src/rocjpeg_vaapi_decoder.h
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Preload SDK ROCTX for framework marker traces
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprofiler_sdk.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

test(rccl): validate PutSignal and WaitSignal graph replay
  projects/rccl/test/HostApiMPITests.cpp
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): run host microtests in test_runner + attribute their coverage
  projects/rccl/tools/scripts/test_runner/configs/ci-precheckin.json
  projects/rccl/tools/scripts/test_runner/lib/test_executor.py
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): tighten graph replay validation cleanup
  projects/rccl/test/HostApiMPITests.cpp
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
Due: .azuredevops/rocm_ci_caller.yml

feat(rocjpeg): add rocjpeg_benchmark script and README
  projects/rocjpeg/test/rocjpeg_benchmark/README.md
  projects/rocjpeg/test/rocjpeg_benchmark/rocjpeg_benchmark.py
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): avoid double destroy on rank mismatch
  projects/rccl/test/HostApiMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Support Python 3.13 in analyze mode
  projects/rocprofiler-compute/requirements.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

changed format or reply
  projects/hipfile/tools/ais-check/ais-check
Due: .azuredevops/rocm_ci_caller.yml

feat(asan): Add `build_variant` support to native Linux packaging (#7352)
  .github/workflows/multi_arch_build_native_linux_packages.yml
  .github/workflows/multi_arch_ci_linux.yml
  .github/workflows/multi_arch_release_linux.yml
  .github/workflows/test_native_linux_packages_install.yml
  build_tools/packaging/linux/build_package.py
  build_tools/packaging/linux/native_linux_package_install_test.py
  build_tools/packaging/linux/packaging_utils.py
  build_tools/packaging/linux/tests/build_package_test.py
  build_tools/packaging/linux/tests/native_linux_package_install_ut_test.py
Due: none

[rocprofiler-compute] Probe the C++ standard roctx_recordfn needs
  projects/rocprofiler-compute/src/lib/roctx_recordfn/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Honor environment markers in verify_deps
  projects/rocprofiler-compute/src/rocprof-compute
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Address comment
  projects/rccl/test/CommMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Validate null access
  projects/rccl/test/CommMPITests.cpp
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): use LL128 for latency-bound P2P send/recv incl. internode
  projects/rccl/docs/userguide/source/env.rst
  projects/rccl/src/device/sendrecv.h
  projects/rccl/src/enqueue.cc
  projects/rccl/src/include/device.h
  projects/rccl/src/transport/net.cc
  projects/rccl/test/SendRecvTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Implement gin sdma alltoall in rccl - initial commit
  projects/rccl/cmake/DeviceLinker.cmake
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/collectives.cc
  projects/rccl/src/gin_alltoall_sdma.cu
  projects/rccl/src/include/comm.h
  projects/rccl/src/include/gin_alltoall.h
  projects/rccl/src/init.cc
Due: .azuredevops/rocm_ci_caller.yml

Build updates from PR 9218
  projects/rccl-tests/CMakeLists.txt
  projects/rccl-tests/src/CMakeLists.txt
  projects/rccl/CMakeLists.txt
  projects/rccl/cmake/DeviceLinker.cmake
  projects/rccl/cmake/ROCSHMEM.cmake
  projects/rccl/install.sh
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/gin/README.md
  projects/rccl/src/gin/gin_rocshmem_constmem.hip
  projects/rccl/src/include/nccl_device/gin/anvil_sdma/gin_anvil_sdma.h
  projects/rccl/src/include/nccl_device/gin/gin_device_common.h
  projects/rccl/src/include/nccl_device/gin/rocshmem_gda/gin_rocshmem_gda.h
  projects/rccl/tools/ci/lib/build-rocshmem.sh
  projects/rccl/tools/ci/lib/gin-tests.json
  projects/rccl/tools/ci/lib/gin.sbatch
Due: .azuredevops/rocm_ci_caller.yml

Initial build fixes - SDMA functional
  projects/rccl-tests/CMakeLists.txt
  projects/rccl-tests/src/CMakeLists.txt
  projects/rccl-tests/src/gin_rocshmem_gda_factory_test.cu
  projects/rccl/CMakeLists.txt
  projects/rccl/cmake/DeviceLinker.cmake
  projects/rccl/cmake/ROCSHMEM.cmake
  projects/rccl/install.sh
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/include/nccl_device/gin/anvil_sdma/gin_anvil_sdma.h
  projects/rccl/src/include/nccl_device/gin/gin_device_common.h
  projects/rccl/src/include/nccl_device/gin/rocshmem_gda/gin_rocshmem_gda.h
  projects/rccl/src/include/nccl_device/gin/rocshmem_gda/queue_pair_device.h
  projects/rccl/src/register/register.cc
Due: .azuredevops/rocm_ci_caller.yml

Make librccl self contained for GIN SDMA
  projects/rccl/cmake/DeviceLinker.cmake
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/dev_runtime.cc
  projects/rccl/src/gin/gin_anvil_sdma_oss7_device.cc
  projects/rccl/src/include/nccl_device/gin/anvil_sdma/gin_anvil_sdma.h
Due: .azuredevops/rocm_ci_caller.yml

Fix 2 deadlock inducing contitions for SDMA GIN: signal regions are allocated later in the synced code, signal regions are tracked per ctx not globally.
  projects/rccl/src/dev_runtime.cc
  projects/rccl/src/gin/gin_plugin_anvil_sdma.cc
Due: .azuredevops/rocm_ci_caller.yml

Address Copilot review
  projects/rocjpeg/test/rocjpeg_benchmark/README.md
  projects/rocjpeg/test/rocjpeg_benchmark/rocjpeg_benchmark.py
Due: .azuredevops/rocm_ci_caller.yml

add temporary storage probe
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/experimental/registration.h
  projects/rocprofiler-sdk/source/lib/output/tmp_file_buffer.cpp
  projects/rocprofiler-sdk/source/lib/output/tmp_file_buffer.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/attach.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix gating
  projects/rccl/src/device/tdm/asyncCopy.h
Due: .azuredevops/rocm_ci_caller.yml

fix(rocjitsu): disable zero-count TDM descriptors
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/tensor_dma.h
  emulation/rocjitsu/tests/cdna5_tensor_dma_test.cpp
Due: none

fix(rocjitsu): reject unsupported TDM count encodings
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/tensor_dma.h
  emulation/rocjitsu/tests/cdna5_tensor_dma_test.cpp
Due: none

rocjitsu: terminate undecodable paths during hotswap
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/basic_block.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/basic_block.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/gfx1250_b0_a0_hotswap.cpp
  emulation/rocjitsu/tests/analysis/liveness_test.cpp
  emulation/rocjitsu/tests/dbt/hsa_hotswap_rocjitsu_unit_test.cpp
Due: none

rocjitsu: terminate fallthrough into zero padding
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/basic_block.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/basic_block.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/gfx1250_b0_a0_hotswap.cpp
  emulation/rocjitsu/tests/analysis/liveness_test.cpp
  emulation/rocjitsu/tests/dbt/hsa_hotswap_rocjitsu_unit_test.cpp
  emulation/rocjitsu/tests/dbt/translate_gfx1250_test.cpp
Due: none

[rocjitsu] Bound the inferred padding boundary and report it
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/basic_block.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/scoped_cfg_edges.cpp
  emulation/rocjitsu/tests/analysis/liveness_test.cpp
  emulation/rocjitsu/tests/dbt/translate_gfx1250_test.cpp
Due: none

feat(rccl): async copy and TDM async copy primitives with unit tests (#10009)
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/device/tdm/asyncCopy.h
  projects/rccl/src/device/tdm/cachePolicy.h
  projects/rccl/src/device/tdm/syncPolicy.h
  projects/rccl/src/device/tdm/tdmCopy.h
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/device/TestAsyncCopy.cpp
  projects/rccl/test/device/TestLdsTransfer.cpp
  projects/rccl/test/device/TestTDM.cpp
  projects/rccl/test/device/TestTdmCopy.cpp
Due: .azuredevops/rocm_ci_caller.yml

Pin rocshmem GIN backends off for symmetric gin kernels
  projects/rccl/cmake/DeviceLinker.cmake
Due: .azuredevops/rocm_ci_caller.yml

[doc] Update exec_mode description from 'cycle' to 'clocked' (#10186)
  emulation/rocjitsu/docs/configuration.md
Due: none

[rocjitsu] Retire the decode-gap corpus exclusions
  emulation/rocjitsu/tests/corpus/dbt/gfx1250_b0_a0_expected_failures.json
Due: none
