Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

fix(amdsmi): hold device mutex around UALoE physical-acc-id lookup
  projects/amdsmi/src/amd_smi/amd_smi.cc
  projects/amdsmi/tests/amd_smi_test/functional/ifoe/identity/ifoe_info_read_test.cc
Due: .azuredevops/rocm_ci_caller.yml

Fix formatting
  projects/rocprofiler-systems/tests/pytest/rocprofsys/gpu.py
  projects/rocprofiler-systems/tests/pytest/test_pytest_impl.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

rocjitsu: harden ConSan physical GPU execution
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_atomic.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow_emission.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_prologue.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/spill_manager.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_hook_moi_report.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/tests/cdna5_sdma_test.cpp
  emulation/rocjitsu/tests/consan/CMakeLists.txt
  emulation/rocjitsu/tests/dbi/consan/hip_consan_moi_test.hip
  emulation/rocjitsu/tests/patch/consan/moi_common_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_inline_shadow_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_record_replay_test.cpp
  emulation/rocjitsu/tests/patch/spill_manager_test.cpp
Due: none

rocjitsu: move shared ConSan routing out of InlineShadow
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_common_emission.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow_emission.inc
Due: none

rocjitsu: plan ConSan runtime workgroup gates
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_barrier.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_atomic.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_placement.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_record_replay.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_access.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_sync.inc
Due: none

chore(amdsmi): adopt two-line SPDX header in new UALoE files
  projects/amdsmi/include/amd_smi/impl/amd_smi_ualoe.h
  projects/amdsmi/tests/amd_smi_test/functional/ifoe/tray/tray_info_read.h
  projects/amdsmi/tests/amd_smi_test/functional/ifoe/tray/tray_info_read_test.cc
Due: .azuredevops/rocm_ci_caller.yml

rocjitsu: narrow ConSan RecordReplay event emission
  emulation/rocjitsu/docs/consan/DESIGN.md
  emulation/rocjitsu/docs/consan/PRODUCTION_DESIGN.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_barrier.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_candidates.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_atomic.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_pipeline.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_placement.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_prologue.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_record_atomic.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_record_planning.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_sync.inc
Due: none

Apply suggestion from @pvallem
  projects/rccl/src/include/alloc.h
Due: .azuredevops/rocm_ci_caller.yml

rocjitsu: centralize ConSan dense-route target facts
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_capability_contract.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_barrier.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_atomic.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_sync.inc
  emulation/rocjitsu/tests/patch/consan/capability_contract_test.cpp
Due: none

Address PR review: fix cuMem test guards and stream-sync assertion
  projects/rccl/src/include/rocmwrap.h
  projects/rccl/test/AllocTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

rocjitsu: separate ConSan flavor emission ownership
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_emission.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow_emission.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_record_atomic.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_runtime_workgroup_gate_emission.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_access_emission.inc
Due: none

Documented nccl mappings and reordered src/CMakeLists.txt (build succeeded)
  projects/rccl/src/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

rocjitsu: separate ConSan sync flavor emitters
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_barrier.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_atomic.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_record_event_emission.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_atomic_emission.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_sync.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sync_common.inc
Due: none

ci(github): add rocgdb-corefile to CI test matrix
  .github/scripts/tests/therock_configure_ci_test.py
  .github/scripts/therock_matrix.py
Due: none

Adjusted the hipify and source paths (build seems successful)
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/devcomm/CMakeLists.txt
  projects/rccl/src/transport/net_ib_cast/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Attempted to migrate device linker stuff into device/CMakeLists.txt : part 1 (build succeeded)
  projects/rccl/cmake/DeviceLinker.cmake
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/device/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu][refactor] DBI: Generalized HSA Smoke Tests (#10843)
  .github/workflows/rocjitsu-corpus-tests.yml
  emulation/rocjitsu/docs/dbi-design.md
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/dbi/dbi_test_fixtures.h
  emulation/rocjitsu/tests/dbi/hsa_dbi_nop_asm_test.cpp
  emulation/rocjitsu/tests/dbi/hsa_dbi_nop_probe_test.cpp
  emulation/rocjitsu/tests/dbi/hsa_dispatch_util.h
Due: none

feat(rocjitsu): DBI: Add host-side logging ring buffer for probes (#8163)
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/log_abi.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/log_buffer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/log_buffer.h
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/patch/log_buffer_test.cpp
Due: none

rocjitsu: stabilize sampled TopK device coverage
  emulation/rocjitsu/tests/dbi/consan/device/wave32_topk_prefix_test.hip
Due: none

decoder audit (RDNA4, CDNA4, CDNA3)
  emulation/rocjitsu/audits/decoder-gaps/README.md
  emulation/rocjitsu/audits/decoder-gaps/audit-scope.md
  emulation/rocjitsu/audits/decoder-gaps/cdna1-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/cdna1-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/cdna2-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/cdna2-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/cdna3-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/cdna3-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/cdna4-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/cdna4-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/rdna1-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/rdna1-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/rdna2-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/rdna2-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/rdna3-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/rdna3-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/rdna3_5-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/rdna3_5-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/rdna4-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/rdna4-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/vega-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/vega-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/vega7-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/vega7-rocjitsu-gaps.md
Due: none

Updated rocjitsu gaps
  emulation/rocjitsu/audits/decoder-gaps/cdna3-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/cdna4-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/rdna3-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/rdna4-rocjitsu-gaps.md
Due: none

Add reproducible agent prompt for decoder audit.
  emulation/rocjitsu/audits/agent-goal.md
Due: none

Remove incomplete audits
  emulation/rocjitsu/audits/decoder-gaps/README.md
  emulation/rocjitsu/audits/decoder-gaps/audit-scope.md
  emulation/rocjitsu/audits/decoder-gaps/cdna1-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/cdna1-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/cdna2-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/cdna2-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/cdna3-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/cdna3-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/cdna4-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/cdna4-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/rdna1-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/rdna1-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/rdna2-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/rdna2-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/rdna3-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/rdna3-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/rdna3_5-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/rdna3_5-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/rdna4-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/rdna4-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/vega-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/vega-rocjitsu-gaps.md
  emulation/rocjitsu/audits/decoder-gaps/vega7-manual-vs-xml.md
  emulation/rocjitsu/audits/decoder-gaps/vega7-rocjitsu-gaps.md
Due: none

Update agent-goal.md
  emulation/rocjitsu/audits/agent-goal.md
Due: none

Fix formatting
  projects/rocprofiler-systems/source/lib/core/config.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

rocjitsu: record ConSan Stage 7 flavor exit
  emulation/rocjitsu/docs/consan/IMPLEMENTATION_SIZE_STUDY.md
Due: none

changelog add
  projects/hipfile/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

fix(rocprofiler-compute): Improve metric-aware counter bucket packing
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/utils/utils_counter_defs.py
  projects/rocprofiler-compute/tests/unit/rocprof_compute_soc/test_soc_base.py
  projects/rocprofiler-compute/tests/unit/utils/test_utils_counter_defs.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocjitsu: share ConSan patch range placement
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_placement.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_supercollider_common.inc
Due: none

[amdsmi] fix: return non-zero exit code when clock limit validation fails
  projects/amdsmi/amdsmi_cli/subcommands/set_value.py
Due: .azuredevops/rocm_ci_caller.yml

rocjitsu: give ConSan SuperCollider typed target routes
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_capability_contract.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_composition.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_supercollider_common.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_supercollider_flat.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_supercollider_lds.inc
  emulation/rocjitsu/tests/patch/consan/capability_contract_test.cpp
Due: none

rocjitsu: share ConSan SuperCollider FLAT scratch planning
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_supercollider_flat.inc
Due: none

rocjitsu: share ConSan SuperCollider LDS scratch planning
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_supercollider_lds.inc
Due: none

fix(amdsmi): handle N/A PCIe sentinel in static --bus to prevent crash (ROCM-30096) (#10767)
  projects/amdsmi/amdsmi_cli/subcommands/static.py
  projects/amdsmi/tests/python/unit/gpu/test_cli_static_bus_pcie.py
  projects/amdsmi/tests/python/unit/gpu/test_topology.py
Due: .azuredevops/rocm_ci_caller.yml

rocjitsu: centralize ConSan access owner projection
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_program_inventory.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_supercollider_common.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_supercollider_flat.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_supercollider_lds.inc
Due: none

Selectpreload
  projects/rocprof-trace-decoder/source/gfx10/gfx10token.h
  projects/rocprof-trace-decoder/source/gfx10/rdna_sqtt.cpp
  projects/rocprofiler-sdk/cmake/FindNUMA.cmake
  projects/rocprofiler-sdk/samples/CMakeLists.txt
  projects/rocprofiler-sdk/samples/thread_trace/CMakeLists.txt
  projects/rocprofiler-sdk/samples/thread_trace/agent.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx12/gfx12_primitives.h
  projects/rocprofiler-sdk/tests/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

feat(rocdecode/rocjpeg): isolate librocm_sysdeps_va via dlopen to fix libva symbol collision for all consumers (#10645)
  projects/rocdecode/CHANGELOG.md
  projects/rocdecode/CMakeLists.txt
  projects/rocdecode/src/rocdecode/vaapi/vaapi_loader.cpp
  projects/rocdecode/src/rocdecode/vaapi/vaapi_loader.h
  projects/rocdecode/src/rocdecode/vaapi/vaapi_videodecoder.cpp
  projects/rocdecode/src/rocdecode/vaapi/vaapi_videodecoder.h
  projects/rocjpeg/CHANGELOG.md
  projects/rocjpeg/CMakeLists.txt
  projects/rocjpeg/src/rocjpeg_vaapi_decoder.cpp
  projects/rocjpeg/src/rocjpeg_vaapi_decoder.h
  projects/rocjpeg/src/rocjpeg_vaapi_loader.cpp
  projects/rocjpeg/src/rocjpeg_vaapi_loader.h
Due: .azuredevops/rocm_ci_caller.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
