Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

test(rocgdb): hold the clean scratch scenario to a successful exit
  emulation/rocjitsu/tests/rocgdb/debug_kernel.sh
Due: none

Don't report SYM when symmetric memory is unsupported
  projects/rccl/src/rccl_wrap.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rocgdb): make the smoke test use this tree's mirage and library
  emulation/rocjitsu/tests/CMakeLists.txt
Due: none

[rocprofiler-systems] Fix thread-limit tests and fix silent CTest generation failure (#9044)
  projects/rocprofiler-systems/source/bin/rocprof-sys-avail/avail.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/tests/CMakeLists.txt
  projects/rocprofiler-systems/tests/pytest/conftest.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/capabilities.py
  projects/rocprofiler-systems/tests/pytest/test_thread_limit.py
  projects/rocprofiler-systems/tests/rocprof-sys-pytest.cmake
  projects/rocprofiler-systems/tests/test_categories.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocprofiler-sdk] Fix rocprofv3 adding rocpd to a caller-requested --output-format (#9466)
  projects/rocprofiler-sdk/CHANGELOG.md
  projects/rocprofiler-sdk/source/bin/rocprofv3.py
  projects/rocprofiler-sdk/source/docs/how-to/using-rocprofv3-with-openmp.rst
  projects/rocprofiler-sdk/source/docs/how-to/using-rocprofv3.rst
  projects/rocprofiler-sdk/tests/rocprofv3/ompt/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/ompt/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

test(rocjitsu): cover the transferred mem fd identity gate in daemon mode
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
Due: none

use gfx950 runners for code coverage and continous_integration.
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Remove dead environment variables and dependent tests, address comments, add test
  projects/rocprofiler-sdk/samples/external_correlation_id_request/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/queue_interposition.cpp
  projects/rocprofiler-sdk/tests/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/hip-graph-forkjoin/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/hip-graph-forkjoin/hip-graph-forkjoin.cpp
  projects/rocprofiler-sdk/tests/hip-graph-forkjoin-deadlock/CMakeLists.txt
  projects/rocprofiler-sdk/tests/hip-graph-forkjoin-deadlock/conftest.py
  projects/rocprofiler-sdk/tests/hip-graph-forkjoin-deadlock/pytest.ini
  projects/rocprofiler-sdk/tests/hip-graph-forkjoin-deadlock/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

ci(rocjitsu) Add more gfx1250 semantic tests (#9468)
  emulation/rocjitsu/tests/corpus/README.md
  emulation/rocjitsu/tests/corpus/gfx1250_b0_a0_semantic_rewrites.json
  emulation/rocjitsu/tests/corpus/gfx1250_b0_a0_semantic_tests.json
  emulation/rocjitsu/tests/corpus/test-validate-gfx1250-semantic-translations.py
  emulation/rocjitsu/tests/corpus/validate-gfx1250-semantic-translations.py
Due: none

[rocjitsu] Add AMDGPU decoder fuzzing and clarify ISA terminology
  emulation/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/docs/isa-target-providers.md
  emulation/rocjitsu/fuzz/decode/CMakeLists.txt
  emulation/rocjitsu/fuzz/decode/README.md
  emulation/rocjitsu/fuzz/decode/decode_differential.py
  emulation/rocjitsu/fuzz/decode/decode_fuzz_core.cpp
  emulation/rocjitsu/fuzz/decode/decode_fuzz_core.h
  emulation/rocjitsu/fuzz/decode/decode_fuzz_main.cpp
  emulation/rocjitsu/fuzz/decode/prepare_decode_seeds.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/legalization/gfx1250_b0_to_a0.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/legalization/gfx1250_b0_to_a0.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/CMakeLists.txt
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/dbt/translate_test.cpp
  emulation/rocjitsu/tests/fuzz/decode/decode_fuzz_test.cpp
  emulation/rocjitsu/tests/fuzz/decode/test_decode_cli.py
  emulation/rocjitsu/tests/fuzz/decode/test_decode_differential.py
  emulation/rocjitsu/tests/fuzz/decode/test_prepare_decode_seeds.py
Due: none

Address copilot comments
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Potential fix for pull request finding
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/interrupt_signal.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix(rocjitsu): decline an unmodelled CWSR layout without aborting the debugger
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/wavefront.h
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/config_test.cpp
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
  emulation/rocjitsu/tests/rocgdb/debug_kernel.sh
Due: none

[hip-tests] expand cooperative_groups memcpy_async coverage
  projects/hip-tests/catch/config/configs/unit/deviceLib.yaml
  projects/hip-tests/catch/unit/deviceLib/memcpy_async.cc
Due: .azuredevops/rocm_ci_caller.yml

Drain async LDS copies before the cooperative group barrier
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_cooperative_groups.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_cooperative_groups_memcpy.h
  projects/clr/hipamd/include/hip/amd_detail/hip_cooperative_groups_helper.h
Due: .azuredevops/rocm_ci_caller.yml

Add memcpy_async ordering coverage and skip where the copy is not awaited
  projects/hip-tests/catch/config/configs/unit/deviceLib.yaml
  projects/hip-tests/catch/unit/deviceLib/memcpy_async.cc
Due: .azuredevops/rocm_ci_caller.yml

add metric of "lds latency" into metric table 713
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1250/0700_workgroup_processor_wgp.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/sdk_config.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(clr): Fix a hip-test failure from hipMemSetAccessHostDevice_hostalloc
  projects/clr/hipamd/src/hip_vm.cpp
Due: .azuredevops/rocm_ci_caller.yml

Repair --rocshmem build recipe
  projects/rccl/CMakeLists.txt
  projects/rccl/cmake/DeviceLinker.cmake
  projects/rccl/install.sh
Due: .azuredevops/rocm_ci_caller.yml

Update projects/rccl/test/CeAlltoAllvEligibilityTests.cpp
  projects/rccl/test/CeAlltoAllvEligibilityTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

added rocm theme info to the conf.py files
  projects/hipfile/docs/conf.py
  projects/rocdecode/docs/conf.py
  projects/rocjpeg/docs/conf.py
Due: .azuredevops/rocm_ci_caller.yml

docs: add llms.txt generation
  projects/hipfile/docs/conf.py
  projects/hipfile/docs/sphinx/requirements.in
  projects/hipfile/docs/sphinx/requirements.txt
  projects/rocdecode/docs/conf.py
  projects/rocdecode/docs/sphinx/requirements.in
  projects/rocdecode/docs/sphinx/requirements.txt
  projects/rocjpeg/docs/conf.py
  projects/rocjpeg/docs/sphinx/requirements.in
  projects/rocjpeg/docs/sphinx/requirements.txt
Due: .azuredevops/rocm_ci_caller.yml

Fix shutdown hang possible bug and minor changes
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
  projects/rocprofiler-sdk/tests/hip-graph-forkjoin-deadlock/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Update hip_vm.cpp
  projects/clr/hipamd/src/hip_vm.cpp
Due: .azuredevops/rocm_ci_caller.yml

[RCCL] address PR #9938 review: invert ROCm gate + review fixes
  projects/rccl/cmake/DeviceLinker.cmake
  projects/rccl/install.sh
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/device/common.h
  projects/rccl/src/device/generate.py
  projects/rccl/src/device/test_generate_device_table.py
  projects/rccl/src/enqueue.cc
  projects/rccl/src/graph/tuning.cc
  projects/rccl/src/include/device.h
  projects/rccl/src/include/rccl_nt_sym.h
  projects/rccl/src/rccl_wrap.cc
Due: .azuredevops/rocm_ci_caller.yml

Made monitor a static object instead of allocating with new
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rocclr: fail kernel/blit submission cleanly when graph kernarg allocation fails
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
Due: .azuredevops/rocm_ci_caller.yml

hipGraph: propagate kernarg-capture submit failure out of CaptureAndFormPacket
  projects/clr/hipamd/src/hip_graph_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

The hsakmt workaround not needed anymore
  projects/rccl/tools/ci/lib/build-rocshmem.sh
Due: .azuredevops/rocm_ci_caller.yml

Fix finalization possible hang bug
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

the wrap patch is not needed for rocshmem-gin; core.h link bandaid not needed anymore
  projects/rccl/tools/ci/lib/gin.sbatch
Due: .azuredevops/rocm_ci_caller.yml

docs(rocdecode): rm non-existent page from toc.yml.in to fix build error
  projects/rocdecode/docs/sphinx/_toc.yml.in
Due: .azuredevops/rocm_ci_caller.yml

hip-tests: add hipGraphExecUpdate regression test for kernarg exhaustion
  projects/hip-tests/catch/unit/graph/CMakeLists.txt
  projects/hip-tests/catch/unit/graph/hipGraphExecUpdate_oom_test.cc
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Add AMDGPU decoder fuzzing (#9912)
  emulation/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/docs/isa-target-providers.md
  emulation/rocjitsu/fuzz/decode/CMakeLists.txt
  emulation/rocjitsu/fuzz/decode/README.md
  emulation/rocjitsu/fuzz/decode/decode_differential.py
  emulation/rocjitsu/fuzz/decode/decode_fuzz_core.cpp
  emulation/rocjitsu/fuzz/decode/decode_fuzz_core.h
  emulation/rocjitsu/fuzz/decode/decode_fuzz_main.cpp
  emulation/rocjitsu/fuzz/decode/prepare_decode_seeds.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/legalization/gfx1250_b0_to_a0.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/legalization/gfx1250_b0_to_a0.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/CMakeLists.txt
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/dbt/translate_test.cpp
  emulation/rocjitsu/tests/fuzz/decode/decode_fuzz_test.cpp
  emulation/rocjitsu/tests/fuzz/decode/test_decode_cli.py
  emulation/rocjitsu/tests/fuzz/decode/test_decode_differential.py
  emulation/rocjitsu/tests/fuzz/decode/test_prepare_decode_seeds.py
Due: none

docs(kpack): clarify ROCM_KPACK_PATH override vs ROCM_KPACK_PATH_PREFIX additive behavior
  shared/kpack/docs/kpack-build-integration.md
Due: .azuredevops/rocm_ci_caller.yml

Add -R 2 symmetric coverage to CollImplInfo tests; fix AG symk report + WarpSpeed logging
  projects/rccl/src/enqueue.cc
  projects/rccl/src/rccl_wrap.cc
  projects/rccl/test/CollImplInfoTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(profiler-hub): add NIC as a supported agent type
  profilers/profiler-hub/source/data_storage/schema/rocpd_tables.sql
  profilers/profiler-hub/source/writers/schema_v3/info_registration_writer.hpp
Due: none

docs(rocprof-comp): bump rocm-docs-core to 1.39 and add [llms] extra
  projects/rocprofiler-compute/docs/sphinx/requirements.in
  projects/rocprofiler-compute/docs/sphinx/requirements.txt
Due: .azuredevops/rocm_ci_caller.yml

docs(rocprof-comp/conf): enable generating llms.txt and enable gh icon links
  projects/rocprofiler-compute/docs/conf.py
Due: .azuredevops/rocm_ci_caller.yml

docs(rocprof-comp/conf): enable external_projects_remote_repository
  projects/rocprofiler-compute/docs/conf.py
Due: .azuredevops/rocm_ci_caller.yml
