Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

clr: Optimize metadata prefetch dispatch path (#5783)
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
  projects/clr/rocclr/device/rocm/rockernel.cpp
  projects/clr/rocclr/device/rocm/rockernel.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.hpp
Due: .azuredevops/rocm_ci_caller.yml

[clr] fix the scope of this_cluster (#6020)
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_cooperative_groups.h
Due: .azuredevops/rocm_ci_caller.yml

chore(rocjitsu): remove simgui (#6029)
  emulation/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/README.md
  emulation/rocjitsu/scripts/rocjitsu-docker-build.sh
  emulation/rocjitsu/tools/simgui/CMakeLists.txt
  emulation/rocjitsu/tools/simgui/app.cpp
  emulation/rocjitsu/tools/simgui/app.h
  emulation/rocjitsu/tools/simgui/main.cpp
  emulation/rocjitsu/tools/simgui/simulation_panel.cpp
  emulation/rocjitsu/tools/simgui/simulation_panel.h
  emulation/rocjitsu/tools/simgui/topology_editor.cpp
  emulation/rocjitsu/tools/simgui/topology_editor.h
Due: none

Remove HeapObject Wrapper (#3181)
  projects/clr/rocclr/device/blit.hpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/devkernel.hpp
  projects/clr/rocclr/device/devprogram.hpp
  projects/clr/rocclr/device/devsignal.hpp
  projects/clr/rocclr/device/pal/palconstbuf.hpp
  projects/clr/rocclr/device/pal/paldefs.hpp
  projects/clr/rocclr/device/pal/paldevice.hpp
  projects/clr/rocclr/device/pal/palprintf.hpp
  projects/clr/rocclr/device/pal/palprogram.hpp
  projects/clr/rocclr/device/pal/palresource.hpp
  projects/clr/rocclr/device/pal/paltimestamp.hpp
  projects/clr/rocclr/device/pal/palvirtual.cpp
  projects/clr/rocclr/device/pal/palvirtual.hpp
  projects/clr/rocclr/device/rocm/rocprintf.hpp
  projects/clr/rocclr/include/top.hpp
  projects/clr/rocclr/os/alloc.cpp
  projects/clr/rocclr/platform/command.hpp
  projects/clr/rocclr/platform/kernel.hpp
  projects/clr/rocclr/platform/ndrange.hpp
  projects/clr/rocclr/platform/program.hpp
  projects/clr/rocclr/platform/runtime.hpp
  projects/clr/rocclr/platform/vmheap.hpp
  projects/clr/rocclr/thread/thread.hpp
  projects/clr/rocclr/utils/concurrent.hpp
Due: .azuredevops/rocm_ci_caller.yml

hipfile: Exclude C++20 build from Rocky 8.10 platform.
  .github/workflows/hipfile-ci.yml
Due: none

rocr/clr: Add per-queue VM fault state via hsa_amd_queue_get_info (#4705)
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_aql_queue.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_aql_queue.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_ext_amd.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocr/clr: Add gfx1250 SDMA packet definitions and optimized copy paths
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/agent.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_blit_sdma.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_gpu_agent.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/sdma_registers.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_blit_sdma.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[RCCL] net-ib: per-QP fault injection API, hooks, and tests for IB and CAST paths (#5931)
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/misc/ibvsymbols.cc
  projects/rccl/src/misc/ibvwrap.cc
  projects/rccl/src/transport/net_ib.cc
  projects/rccl/src/transport/net_ib_cast/CMakeLists.txt
  projects/rccl/src/transport/net_ib_cast/common_cast.h
  projects/rccl/src/transport/net_ib_cast/net_ib_cast_inspect.h
  projects/rccl/src/transport/net_ib_cast/net_ib_fault_inject.h
  projects/rccl/src/transport/net_ib_cast/p2p.cc
  projects/rccl/src/transport/net_ib_cast/p2p_cast.h
  projects/rccl/src/transport/net_ib_cast/scheduler.cc
  projects/rccl/src/transport/net_ib_limits.h
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/transport/NetIbMPI/CastTests.cpp
  projects/rccl/test/transport/NetIbMPI/FaultInjectTests.cpp
  projects/rccl/test/transport/NetIbMPI/NetIbFaultInject.hpp
  projects/rccl/test/transport/NetIbMPI/NetIbMPITestBase.hpp
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
  projects/rccl/tools/scripts/test_runner/configs/net_ib_transport.json
Due: .azuredevops/rocm_ci_caller.yml

hipfile: Explicitly add pthread dependency to batch and state test executables.
  projects/hipfile/test/amd_detail/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

fix(rocjitsu): fix signed error in liveness analysis (#6025)
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/liveness.cpp
Due: none

hipfile: Add fallback definition when building hipfile when F_SEAL_FUTURE_WRITE is unavailable.
  projects/hipfile/src/amd_detail/stats.cpp
  projects/hipfile/test/amd_detail/stats.cpp
Due: .azuredevops/rocm_ci_caller.yml

Remove redundant check of hip stream (#3478)
  projects/clr/hipamd/src/hip_module.cpp
  projects/clr/hipamd/src/hip_platform.cpp
Due: .azuredevops/rocm_ci_caller.yml

[hipFile/CI] Add rocky8 as a CI matrix leg.
  .github/workflows/hipfile-ci-toplevel.yml
  .github/workflows/hipfile-image-update.yml
Due: none

hipfile: Add fallback definition when building hipfile when SYS_pidfd_open is unavailable.
  projects/hipfile/src/amd_detail/hipfile-stats.cpp
  projects/hipfile/src/amd_detail/sys.cpp
  projects/hipfile/test/amd_detail/hipfile-stats.cpp
Due: .azuredevops/rocm_ci_caller.yml

updated comments for rocdecdecode sample
  projects/rocdecode/samples/rocdecDecode/rocdecdecode.cpp
Due: .azuredevops/rocm_ci_caller.yml

rocclr: Prioritize local rocr-runtime headers over system paths (#5936)
  projects/clr/rocclr/cmake/ROCclrHSA.cmake
Due: .azuredevops/rocm_ci_caller.yml

Ring doorbell if user completion signal is attached. (#6016)
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
Due: .azuredevops/rocm_ci_caller.yml

Fix bad-magic init hang in bootstrap and async-mode transport accept paths (#6023)
  projects/rccl/src/bootstrap.cc
  projects/rccl/src/include/socket.h
  projects/rccl/src/misc/socket.cc
  projects/rccl/src/proxy.cc
  projects/rccl/src/ras/ras.cc
  projects/rccl/src/ras/ras_internal.h
  projects/rccl/src/ras/rasnet.cc
Due: .azuredevops/rocm_ci_caller.yml

rocr: Fix type-punning and add pinning failure logging in LoadLib
  projects/rocr-runtime/runtime/hsa-runtime/core/util/lnx/os_linux.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/util/os.h
  projects/rocr-runtime/runtime/hsa-runtime/core/util/win/os_win.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[rocjpeg] - Added a logging mechanism for core APIs (#6082)
  projects/rocjpeg/CHANGELOG.md
  projects/rocjpeg/CMakeLists.txt
  projects/rocjpeg/src/rocjpeg_api.cpp
  projects/rocjpeg/src/rocjpeg_commons.h
  projects/rocjpeg/src/rocjpeg_decoder.cpp
  projects/rocjpeg/src/rocjpeg_parser.cpp
  projects/rocjpeg/src/rocjpeg_vaapi_decoder.cpp
Due: .azuredevops/rocm_ci_caller.yml

[rocshmem] non contiguous parent teams with IPC backend (#5960)
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/src/gda/backend_gda.cpp
  projects/rocshmem/src/gda/backend_gda.hpp
  projects/rocshmem/src/ipc/backend_ipc.cpp
  projects/rocshmem/src/ipc/backend_ipc.hpp
  projects/rocshmem/src/reverse_offload/backend_ro.cpp
  projects/rocshmem/src/reverse_offload/backend_ro.hpp
  projects/rocshmem/src/reverse_offload/mpi_transport.cpp
  projects/rocshmem/src/reverse_offload/mpi_transport.hpp
  projects/rocshmem/src/reverse_offload/transport.hpp
  projects/rocshmem/tests/functional_tests/team_ctx_infra_tester.cpp
  projects/rocshmem/tests/functional_tests/team_ctx_infra_tester.hpp
  projects/rocshmem/tests/functional_tests/tester.cpp
  projects/rocshmem/tests/functional_tests/tester.hpp
  projects/rocshmem/tests/functional_tests/tester_arguments.cpp
  projects/rocshmem/tests/functional_tests/tester_arguments.hpp
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-systems] Remove get_is_continuous_integration (#4456)
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/core/config.hpp
  projects/rocprofiler-systems/source/lib/core/perfetto.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto.hpp
  projects/rocprofiler-systems/source/lib/core/state.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/metadata_registry.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_processor.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/causal/data.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/backtrace_metrics.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/mpi_gotcha.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/pthread_mutex_gotcha.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/coverage.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/process_sampler.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/sampling.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/thread_info.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/tracing.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

rocjitsu: Implement s_getreg_b32 and s_setreg_b32 (#5776)
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/semantics.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna1/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna1/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna1/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna2/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna2/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna2/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna3/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna3/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna3/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna1/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna1/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna1/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna2/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna2/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna2/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3_5/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3_5/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3_5/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna4/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna4/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna4/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/execute_shared.h
  emulation/rocjitsu/lib/util/include/util/log.h
  emulation/rocjitsu/tests/instruction_execution_harness_test.cpp
Due: none

added comment for rocdecdec sample
  projects/rocdecode/samples/rocdecDecode/rocdecdecode.cpp
Due: .azuredevops/rocm_ci_caller.yml

rocr: Remove duplicate size alignment calculation (#6075)
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

clr: move stream assignment from graph launch to instantiate (#4778)
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

Potential fix for pull request finding
  projects/rocdecode/samples/rocdecDecode/rocdecdecode.cpp
Due: .azuredevops/rocm_ci_caller.yml

CLR: add in debug info when illegal mem access happens (#5568)
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.hpp
Due: .azuredevops/rocm_ci_caller.yml

cl: Fix profiler function look-up (#5919)
  projects/clr/hipamd/src/amdhip.def.in
  projects/clr/hipamd/src/hip_hcc.map.in
  projects/clr/hipamd/src/hip_module.cpp
  projects/clr/hipamd/src/profiler/hip_clr_dispatch_wrappers.cpp
  projects/clr/hipamd/src/profiler/hip_clr_profiler.cpp
  projects/clr/hipamd/src/profiler/hip_clr_profiler.hpp
Due: .azuredevops/rocm_ci_caller.yml

rocr: Use RTLD_NODELETE in LoadLib to prevent dlclose crash
  projects/rocr-runtime/runtime/hsa-runtime/core/util/lnx/os_linux.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/util/os.h
  projects/rocr-runtime/runtime/hsa-runtime/core/util/win/os_win.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[rocprofiler-sdk] Add query agent support in aqlprofile (#5890)
  projects/rocprofiler-sdk/source/lib/aqlprofile/aql_profile_v2.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/spm_v2.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/aql_profile_v2_c_test.c
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/aql_profile_v2_tests.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rocr: Address review feedback for LoadLib RTLD_NODELETE patch
  projects/rocr-runtime/runtime/hsa-runtime/core/util/lnx/os_linux.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/util/os.h
  projects/rocr-runtime/runtime/hsa-runtime/core/util/win/os_win.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocprofiler-sdk: partial revert of d6598ff (#6079)
  projects/rocprofiler-sdk/tests/common/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[RCCL][PLAN] Reset stale P2P connectors in reclaimPlannerState() (#4649)
  projects/rccl/src/group.cc
Due: .azuredevops/rocm_ci_caller.yml

updated comment
  projects/rocdecode/samples/rocdecDecode/rocdecdecode.cpp
Due: .azuredevops/rocm_ci_caller.yml

kmd_version and new pr_rocr_info macro for printing debug logs in release (#6048)
  projects/rocr-runtime/libhsakmt/src/dxg/librocdxg.h
  projects/rocr-runtime/libhsakmt/src/dxg/wddm/device.cpp
  projects/rocr-runtime/libhsakmt/src/dxg/wddm/queue.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[RCCL]: add CTS cache overflow reproducer test (CtsDepthStress) (#5959)
  projects/rccl/test/transport/NetIbMPI/GeneralTests.cpp
  projects/rccl/test/transport/NetIbMPI/NetIbMPITestBase.hpp
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
  projects/rccl/tools/scripts/test_runner/configs/net_ib_transport.json
Due: .azuredevops/rocm_ci_caller.yml
