Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

rocjitsu: expose wave placement identities across shader arrays and XCCs
  emulation/rocjitsu/docs/configuration.md
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/sop1_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/shared/execute_shared.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/hwreg.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/instruction_compute_unit_view.h
  emulation/rocjitsu/tests/instruction_execution_harness_test.cpp
Due: none

Match AQL metadata consumption to CLR publication and validate ring layout
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/kfd_process.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/aql/aql_metadata.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/aql/aql_packet_processor.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
Due: none

Fix scratch capacity ownership and architecture identity semantics
  emulation/rocjitsu/docs/configuration.md
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/sop1_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/shared/execute_shared.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/dispatch_entry.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/hwreg.cpp
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/instruction_execution_harness_test.cpp
Due: none

rocjitsu: grow logical scratch backing and honor async reclaim
  emulation/rocjitsu/docs/configuration.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/hwreg.cpp
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
Due: none

Align queue budgets with driver defaults and share runtime CTS runner
  .github/workflows/rocjitsu-corpus-tests.yml
  emulation/rocjitsu/configs/gfx1250_mi455x.json
  emulation/rocjitsu/configs/gfx1250_mi455x_kmd_4gpu.json
  emulation/rocjitsu/docs/configuration.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/config/kfd_device_config.h
  emulation/rocjitsu/schemas/simulation_config.fbs
  emulation/rocjitsu/tests/config_test.cpp
  emulation/rocjitsu/tests/corpus/README.md
  emulation/rocjitsu/tests/corpus/run-runtime-cts.sh
  emulation/rocjitsu/tests/sysfs_test.cpp
Due: none

rocjitsu: align CP queue capacity across sibling GPU presets
  emulation/rocjitsu/configs/gfx1250_mi455x_kmd_4gpu.json
  emulation/rocjitsu/configs/gfx942_cdna3.json
  emulation/rocjitsu/tests/config_test.cpp
  emulation/rocjitsu/tests/sysfs_test.cpp
Due: none

rocjitsu: add runtime CTS AQL coverage to corpus CI
  .github/workflows/rocjitsu-corpus-tests.yml
  emulation/rocjitsu/tests/corpus/README.md
Due: none

rocjitsu: correct KFD queue counts for gfx942 and gfx1250
  emulation/rocjitsu/configs/gfx1250_mi455x.json
  emulation/rocjitsu/configs/gfx942_cdna3_kmd.json
Due: none

rocjitsu: deliver PM4 release interrupts without idle broadcasts
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/pm4/pm4_packet_processor.cpp
  emulation/rocjitsu/tests/pm4_packet_processor_test.cpp
Due: none

rocjitsu: support 64-bit PM4 memory waits
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/pm4/pm4.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/pm4/pm4_packet_processor.cpp
  emulation/rocjitsu/tests/pm4_packet_processor_test.cpp
Due: none

rocjitsu: consume native PM4 doorbells as ring offsets
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
Due: none

rocjitsu: load wide PM4 wait operands atomically
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/pm4/pm4_packet_processor.cpp
  emulation/rocjitsu/tests/pm4_packet_processor_test.cpp
Due: none

rocjitsu: add PM4 runtime CTS coverage to corpus CI
  .github/workflows/rocjitsu-corpus-tests.yml
  emulation/rocjitsu/tests/corpus/README.md
  emulation/rocjitsu/tests/corpus/run-runtime-cts.sh
Due: none

Synchronize PM4 waits and release payloads and consume published event slots
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/events.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/events.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/gpu_vm.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/gpu_vm.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/memory_pipeline.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/pm4/pm4_packet_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/sdma_packet_processor.cpp
  emulation/rocjitsu/tests/kfd_events_test.cpp
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
  emulation/rocjitsu/tests/pm4_packet_processor_test.cpp
  emulation/rocjitsu/tests/simulated_kfd_test.cpp
Due: none

fix(rccl): keep the slash out of the maxtext model name, bump MAD to #280
  projects/rccl/ci/scripts/test_madengine.py
Due: .azuredevops/rocm_ci_caller.yml

feat(profiler-hub): report the depth of each event in ph_event_t
  profilers/profiler-hub/examples/clients/ph-c-client/main.c
  profilers/profiler-hub/include/c/profiler_hub.h
  profilers/profiler-hub/include/c/profiler_hub_types.h
  profilers/profiler-hub/source/CMakeLists.txt
  profilers/profiler-hub/source/cached_track_reader.cpp
  profilers/profiler-hub/source/cached_track_reader.hpp
  profilers/profiler-hub/source/depth_tracker.hpp
  profilers/profiler-hub/tests/unit/CMakeLists.txt
  profilers/profiler-hub/tests/unit/cached_track_reader_test.cpp
  profilers/profiler-hub/tests/unit/depth_tracker_test.cpp
Due: none

update version
  profilers/profiler-hub/CHANGELOG.md
  profilers/profiler-hub/VERSION
Due: none

[hip-tests] add test filter standardization
  projects/hip-tests/catch/README.md
  projects/hip-tests/catch/config/CMakeLists.txt
  projects/hip-tests/catch/config/configs/test_categories.yaml
  projects/hip-tests/catch/config/parse_config.py
  projects/hip-tests/catch/hipTestMain/hip_test_level.cc
  projects/hip-tests/catch/hipTestMain/tests/CMakeLists.txt
  projects/hip-tests/catch/hipTestMain/tests/hip_test_level_test.cc
  projects/hip-tests/catch/include/hip_test_level.hh
Due: .azuredevops/rocm_ci_caller.yml

fix(rocprofiler-systems): Apply PR review findings and suggestions
  projects/rocprofiler-systems/source/lib/core/output/output_summary.cpp
  projects/rocprofiler-systems/source/lib/core/output/output_summary.hpp
  projects/rocprofiler-systems/source/lib/core/output/tests/output_summary_tests.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(output-summary): Address PR review and apply suggestions
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/core/output/output_summary.cpp
  projects/rocprofiler-systems/source/lib/core/output/output_summary.hpp
  projects/rocprofiler-systems/source/lib/core/output/tests/output_summary_tests.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/sinks/file_output.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/sinks/single_file_sink.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/tests/test_perfetto_sinks.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_unified_memory_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/unified_memory_processor.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

refactor(output-summary): simplify module per review feedback
  projects/rocprofiler-systems/source/lib/core/output/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/output/artifact.hpp
  projects/rocprofiler-systems/source/lib/core/output/output_summary.hpp
  projects/rocprofiler-systems/source/lib/core/output/process_metadata.hpp
  projects/rocprofiler-systems/source/lib/core/output/process_tree.cpp
  projects/rocprofiler-systems/source/lib/core/output/process_tree.hpp
  projects/rocprofiler-systems/source/lib/core/output/registry.cpp
  projects/rocprofiler-systems/source/lib/core/output/registry.hpp
  projects/rocprofiler-systems/source/lib/core/output/summary_writer.cpp
  projects/rocprofiler-systems/source/lib/core/output/summary_writer.hpp
  projects/rocprofiler-systems/source/lib/core/output/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/output/tests/output_summary_tests.cpp
  projects/rocprofiler-systems/source/lib/core/output/tests/process_tree_tests.cpp
  projects/rocprofiler-systems/source/lib/core/output/tests/registry_tests.cpp
  projects/rocprofiler-systems/source/lib/core/output/tests/summary_writer_tests.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/perfetto/engine.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/log_filter.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/log_filter.hpp
  projects/rocprofiler-systems/source/lib/core/perfetto/sinks/file_output.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/sinks/single_file_sink.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/tests/test_perfetto_sinks.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/post_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_unified_memory_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/unified_memory_processor.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

refactor(output-summary): address review feedback pt2
  projects/rocprofiler-systems/source/lib/core/output/output_summary.hpp
  projects/rocprofiler-systems/source/lib/core/output/process_tree.cpp
  projects/rocprofiler-systems/source/lib/core/output/registry.cpp
  projects/rocprofiler-systems/source/lib/core/output/summary_writer.cpp
  projects/rocprofiler-systems/source/lib/core/output/tests/output_summary_tests.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(trace-cache): drop stale output_file_registry arg in rocpd test
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_rocpd_processor.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

refactor(output-summary): merge the three .cpp files into one
  projects/rocprofiler-systems/source/lib/core/output/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/output/output_summary.cpp
  projects/rocprofiler-systems/source/lib/core/output/process_tree.cpp
  projects/rocprofiler-systems/source/lib/core/output/registry.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(clr): report GPU faults at sync on the Windows PAL backend
  projects/clr/rocclr/device/pal/palvirtual.cpp
  projects/clr/rocclr/device/pal/palvirtual.hpp
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): check links around topo node removal
  projects/rccl/test/graph/TopoTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): address adam360x review feedback on NPM balancing mode
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/docs/reference/amdsmi-py-api.md
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
  projects/amdsmi/tests/amd_smi_test/unit/gpu/amdsmi_npm_balancing_mode_test.cc
  projects/amdsmi/tests/python/unit/gpu/test_npm_balancing_mode.py
Due: .azuredevops/rocm_ci_caller.yml

feat(profiler-hub): add ph_get_track_nesting_depth
  profilers/profiler-hub/CHANGELOG.md
  profilers/profiler-hub/examples/clients/ph-c-client/main.c
  profilers/profiler-hub/include/c/profiler_hub.h
  profilers/profiler-hub/source/cached_track_reader.cpp
  profilers/profiler-hub/source/cached_track_reader.hpp
  profilers/profiler-hub/source/ph_ctx.cpp
  profilers/profiler-hub/source/ph_ctx.hpp
  profilers/profiler-hub/source/profiler_hub_c_api.cpp
  profilers/profiler-hub/tests/unit/c_api_track_test.cpp
  profilers/profiler-hub/tests/unit/cached_track_reader_test.cpp
Due: none

feat(profiler-hub): print the nesting depth of every track in ph-c-client
  profilers/profiler-hub/examples/clients/ph-c-client/main.c
Due: none

perf(rccl): let direct P2P use the full channel pool
  projects/rccl/CHANGELOG.md
  projects/rccl/docs/api-reference/env-variables.rst
  projects/rccl/src/device/sendrecv.h
  projects/rccl/src/enqueue/enqueue.cc
  projects/rccl/src/enqueue/task_prep/task_posttuning.cc
  projects/rccl/src/include/enqueue.h
  projects/rccl/test/P2pMaxNchannelsTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

rccl(ainic): register the threaded fault-injection and recovery suites
  projects/rccl/tools/scripts/test_runner/configs/mi300_mellanox_ib_func.json
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
  projects/rccl/tools/scripts/test_runner/configs/mi355x_ainic_tw_roce.json
  projects/rccl/tools/scripts/test_runner/configs/mi355x_thor2_roce.json
  projects/rccl/tools/scripts/test_runner/configs/mi355x_thor2_roce_func.json
  projects/rccl/tools/scripts/test_runner/configs/mi455_ainic_roce.json
  projects/rccl/tools/scripts/test_runner/configs/mi455_ainic_roce_func.json
  projects/rccl/tools/scripts/test_runner/configs/net_ib_transport.json
Due: .azuredevops/rocm_ci_caller.yml

net-ib: cut the threaded fault tests' comments down to what a reader needs
  projects/rccl/test/transport/NetIbMPI/FaultInjectTests.cpp
  projects/rccl/test/transport/NetIbMPI/NetIbMPITestBase.hpp
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: drop dead defensive check after SetupCastConnection stays fatal
  projects/rccl/test/transport/NetIbMPI/FaultInjectTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: retain faulted buffers and MRs until isolated test exit
  projects/rccl/test/transport/NetIbMPI/FaultInjectTests.cpp
  projects/rccl/test/transport/NetIbMPI/NetIbMPITestBase.hpp
  projects/rccl/tools/scripts/test_runner/configs/mi355x_ainic_tw_roce.json
  projects/rccl/tools/scripts/test_runner/configs/net_ib_transport.json
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add the worker-safe fault-injection and failover helpers
  projects/rccl/test/transport/NetIbMPI/NetIbMPITestBase.hpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: report the progress-scaling verdict from the rank whose output is read
  projects/rccl/test/transport/NetIbMPI/StressTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: keep phase-two traffic separate from retained fault requests
  projects/rccl/test/transport/NetIbMPI/FaultInjectTests.cpp
  projects/rccl/test/transport/NetIbMPI/NetIbMPITestBase.hpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: never free a fault test's buffer unless its request was seen to complete
  projects/rccl/test/transport/NetIbMPI/FaultInjectTests.cpp
  projects/rccl/test/transport/NetIbMPI/NetIbMPITestBase.hpp
Due: .azuredevops/rocm_ci_caller.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
