Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Format and review comment
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/hsa_util.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rocprofiler-sdk] Remove user_events discussion from CPC Tracing design docs
  projects/rocprofiler-sdk/ai/HIGH_LEVEL_DESIGN_SUMMARY.md
  projects/rocprofiler-sdk/ai/KNOWN_ISSUES.md
  projects/rocprofiler-sdk/ai/TRACING_DELIVERY_RESEARCH.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix SDK C compatibility test after AQLProfile sync
  projects/aqlprofile/src/core/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/aql_profile_v2_c_test.c
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/aql_profile_v2_tests.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

perfxpert: tighten docs link checks
  experimental/python/perfxpert/docs/README.md
  experimental/python/perfxpert/docs/guides/README.md
  experimental/python/perfxpert/docs/guides/getting-started.md
  experimental/python/perfxpert/docs/known-issues.md
  experimental/python/perfxpert/scripts/link-checker.py
  experimental/python/perfxpert/scripts/lint.sh
  experimental/python/perfxpert/tests/test_docs_tooling/test_link_checker.py
  experimental/python/perfxpert/tests/test_docs_tooling/test_ship_readiness.py
Due: none

perfxpert: archive obsolete payload known issue
  experimental/python/perfxpert/docs/archive/migration-to-agentic.md
  experimental/python/perfxpert/docs/known-issues.md
  experimental/python/perfxpert/tests/test_analysis/test_payload_contract.py
  experimental/python/perfxpert/tests/test_docs_tooling/test_known_issues.py
Due: none

[clr] add fp16 header in OCP header
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_ocp_fp.hpp
Due: .azuredevops/rocm_ci_caller.yml

Add runtime GPU spec discovery
  experimental/python/perfxpert/docs/guides/getting-started.md
  experimental/python/perfxpert/perfxpert/_bundled/opencode_config/AGENTS.md
  experimental/python/perfxpert/perfxpert/cli/init_cmd.py
  experimental/python/perfxpert/perfxpert/tools/arch.py
  experimental/python/perfxpert/perfxpert/tools/gpu_discovery.py
  experimental/python/perfxpert/perfxpert/tools/gpu_runtime_monitor.py
  experimental/python/perfxpert/tests/test_cli/test_backend/test_remote_gpu_prompt.py
  experimental/python/perfxpert/tests/test_tools/test_arch.py
  experimental/python/perfxpert/tests/test_tools/test_gpu_discovery.py
Due: none

docs: replace ASCII decision guide with Mermaid flowchart in TESTING.md
  projects/rccl/TESTING.md
Due: .azuredevops/rocm_ci_caller.yml

perfxpert: avoid brittle RCCL metric assertions
  experimental/python/perfxpert/tests/test_cli/test_analyze_args.py
  experimental/python/perfxpert/tests/test_formatters/test_communication_section.py
  experimental/python/perfxpert/tests/test_tools/test_rccl_analysis.py
Due: none

build(rocjitsu): downgrade cmake_minimum_required(VERSION 3.27)
  experimental/rocjitsu/CMakeLists.txt
Due: none

ci: enable Windows hip-tests ROCR opt-in
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

Update TheRock ref to 4f0fe3e
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-rccl-ci-linux.yml
  .github/workflows/therock-rccl-test-packages-multi-node.yml
  .github/workflows/therock-rccl-test-packages-single-node.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

commit message
  experimental/python/perfxpert/scripts/build-patched-opencode.sh
Due: none

Potential fix for pull request finding
  projects/rccl/src/graph/rome_models.cc
Due: .azuredevops/rocm_ci_caller.yml

Potential fix for pull request finding
  projects/rccl/src/init.cc
Due: .azuredevops/rocm_ci_caller.yml

build(rocjitsu): downgrade cmake_minimum_required(VERSION 3.22)
  experimental/rocjitsu/CMakeLists.txt
Due: none

perfxpert: derive RCCL formatter test metrics
  experimental/python/perfxpert/tests/test_formatters/test_communication_section.py
Due: none

[rocprofiler-compute] Share HW counter regex; ruff-clean inspector tooling
  projects/rocprofiler-compute/src/utils/utils_counter_defs.py
  projects/rocprofiler-compute/tools/counter_grouping_inspector.py
  projects/rocprofiler-compute/tools/test_counter_grouping_inspector_manual.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Drain all queues for any HipProfilerDisableExt call
  projects/clr/hipamd/src/profiler/hip_clr_profiler.cpp
Due: .azuredevops/rocm_ci_caller.yml

commit message
  experimental/python/perfxpert/perfxpert/_bundled/opencode_LICENSE
Due: none

Address runtime GPU spec review findings
  experimental/python/perfxpert/docs/guides/getting-started.md
  experimental/python/perfxpert/perfxpert/analysis/pmc.py
  experimental/python/perfxpert/perfxpert/cli/init_cmd.py
  experimental/python/perfxpert/perfxpert/knowledge/_schemas/pmc_limits.schema.json
  experimental/python/perfxpert/perfxpert/knowledge/pmc_limits.yaml
  experimental/python/perfxpert/perfxpert/tools/_pmc_limits.py
  experimental/python/perfxpert/perfxpert/tools/arch.py
  experimental/python/perfxpert/perfxpert/tools/counters.py
  experimental/python/perfxpert/perfxpert/tools/gpu_discovery.py
  experimental/python/perfxpert/tests/test_cli/test_init_cmd.py
  experimental/python/perfxpert/tests/test_knowledge/test_pmc_limits.py
  experimental/python/perfxpert/tests/test_tools/test_arch.py
  experimental/python/perfxpert/tests/test_tools/test_counters.py
  experimental/python/perfxpert/tests/test_tools/test_gpu_discovery.py
Due: none

perfxpert: remove bundled opencode binary path
  experimental/python/perfxpert/CHANGELOG.md
  experimental/python/perfxpert/README.md
  experimental/python/perfxpert/docs/architecture.md
  experimental/python/perfxpert/docs/archive/migration-to-agentic.md
  experimental/python/perfxpert/docs/contributing/external-tools.md
  experimental/python/perfxpert/docs/guides/README.md
  experimental/python/perfxpert/docs/guides/agentic-mode.md
  experimental/python/perfxpert/docs/guides/backends.md
  experimental/python/perfxpert/docs/guides/getting-started.md
  experimental/python/perfxpert/docs/integration/mcp-server.md
  experimental/python/perfxpert/docs/known-issues.md
  experimental/python/perfxpert/perfxpert/__main__.py
  experimental/python/perfxpert/perfxpert/agents/runtime.py
  experimental/python/perfxpert/perfxpert/analyze.py
  experimental/python/perfxpert/perfxpert/cli/_backend/claude.py
  experimental/python/perfxpert/perfxpert/cli/_gate_hooks/opencode.py
  experimental/python/perfxpert/perfxpert/cli/branding.py
  experimental/python/perfxpert/perfxpert/cli/opencode_launcher.py
  experimental/python/perfxpert/perfxpert/providers/__init__.py
  experimental/python/perfxpert/perfxpert/providers/opencode_provider.py
  experimental/python/perfxpert/pyproject.toml
  experimental/python/perfxpert/scripts/build-patched-opencode.sh
  experimental/python/perfxpert/scripts/pip-install-from-git.sh
  experimental/python/perfxpert/setup.py
  experimental/python/perfxpert/tests/e2e/test_doctor.py
  experimental/python/perfxpert/tests/e2e/test_opencode_session.py
  experimental/python/perfxpert/tests/e2e/test_perfxpert_code_live_mcp.py
  experimental/python/perfxpert/tests/fixtures/doctor/expected_clean_output.txt
  experimental/python/perfxpert/tests/test_cli/test_branding.py
  experimental/python/perfxpert/tests/test_cli/test_doctor_providers.py
  experimental/python/perfxpert/tests/test_cli/test_launcher_subcommands.py
  experimental/python/perfxpert/tests/test_integration/test_install_docs.py
  experimental/python/perfxpert/tests/test_integration/test_opencode_schema_conformance.py
  experimental/python/perfxpert/tests/test_packaging/test_bundled_licenses.py
  experimental/python/perfxpert/tests/test_patches/test_apply.py
  experimental/python/perfxpert/tests/test_providers/test_opencode_provider.py
  experimental/python/perfxpert/tests/test_setup/test_setup_build.py
  experimental/python/perfxpert/tests/test_tools/test_opencode_launcher.py
Due: none

Make PMC default limits conservative
  experimental/python/perfxpert/perfxpert/knowledge/pmc_limits.yaml
  experimental/python/perfxpert/tests/test_knowledge/test_pmc_limits.py
Due: none

[rocprofiler-compute] DRY SVG bucket tables; hoist manual test import
  projects/rocprofiler-compute/tools/counter_grouping_inspector.py
  projects/rocprofiler-compute/tools/test_counter_grouping_inspector_manual.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Avoid architecture-specific runtime spec tests
  experimental/python/perfxpert/tests/test_tools/test_arch.py
  experimental/python/perfxpert/tests/test_tools/test_gpu_discovery.py
Due: none

Fix Windows path at exit.
  projects/clr/hipamd/src/profiler/hip_clr_profiler.cpp
Due: .azuredevops/rocm_ci_caller.yml

Fixing merge issues in develop.
  projects/clr/hipamd/src/hip_module.cpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocsettings.cpp
  projects/hip-tests/catch/include/hip_test_common.hh
Due: .azuredevops/rocm_ci_caller.yml

Add test_categories.yaml for hip-tests
  projects/hip-tests/catch/test_categories.yaml
Due: .azuredevops/rocm_ci_caller.yml

chore: isa 2025-09-05
  shared/machine-readable-isa/VERSION
  shared/machine-readable-isa/isa/amdgpu_isa_cdna1.xml
  shared/machine-readable-isa/isa/amdgpu_isa_cdna2.xml
  shared/machine-readable-isa/isa/amdgpu_isa_cdna3.xml
  shared/machine-readable-isa/isa/amdgpu_isa_cdna4.xml
  shared/machine-readable-isa/isa/amdgpu_isa_rdna1.xml
  shared/machine-readable-isa/isa/amdgpu_isa_rdna2.xml
  shared/machine-readable-isa/isa/amdgpu_isa_rdna3.xml
  shared/machine-readable-isa/isa/amdgpu_isa_rdna3_5.xml
  shared/machine-readable-isa/isa/amdgpu_isa_rdna4.xml
Due: .azuredevops/rocm_ci_caller.yml

machine-readable-isa: rework download script
  shared/machine-readable-isa/SOURCE
  shared/machine-readable-isa/VERSION
  shared/machine-readable-isa/download.py
Due: .azuredevops/rocm_ci_caller.yml

build: create script that downloads machine readable isa
  shared/machine-readable-isa/download.py
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: harden test runner path handling
  projects/aqlprofile/test/run_aqlprofile.py
Due: .azuredevops/rocm_ci_caller.yml

rocdecode: harden test runner path handling
  projects/rocdecode/test/run_rocdecode.py
Due: .azuredevops/rocm_ci_caller.yml

rocjpeg: harden test runner path handling
  projects/rocjpeg/test/run_rocjpeg.py
Due: .azuredevops/rocm_ci_caller.yml

hip-tests: harden test runner path handling
  projects/hip-tests/catch/packaging/run_hiptests.py
Due: .azuredevops/rocm_ci_caller.yml

amdsmi: harden test runner path handling
  projects/amdsmi/tests/amd_smi_test/run_amdsmi.py
Due: .azuredevops/rocm_ci_caller.yml

rocprofiler-sdk: harden test runner path handling
  projects/rocprofiler-sdk/tests/run_rocprofiler_sdk.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rocprofiler-compute: harden test runner path handling
  projects/rocprofiler-compute/tests/run_rocprofiler_compute.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rccl: harden test runner path handling
  projects/rccl/test/run_rccl.py
Due: .azuredevops/rocm_ci_caller.yml

rccl-tests: harden test runner path handling
  projects/rccl-tests/test/run_rccl_tests.py
Due: .azuredevops/rocm_ci_caller.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
