Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Exclude rocprofiler-compute from .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Potential fix for pull request finding
  projects/rocprofiler-compute/src/utils/tty.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

turn off auto detection
  projects/rccl/src/misc/rocmwrap.cc
Due: .azuredevops/rocm_ci_caller.yml

Set i18n.logOutputEncoding at script start for format-patch
  .github/scripts/pr_merge_sync_patches.py
Due: none

Schema changes for compute (source_app and rocpd_roofline_data) and sys (NIC type).
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/rocpd_tables.sql
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Remove unused variables and function
  projects/hip-tests/catch/TypeQualifiers/hipManagedKeyword.cc
  projects/hip-tests/catch/unit/device/hipGetDeviceAttribute.cc
  projects/hip-tests/catch/unit/deviceLib/hipTestHalfConstexpr.cc
  projects/hip-tests/catch/unit/graph/hipGraphAddDependencies.cc
  projects/hip-tests/catch/unit/graph/hipGraphUpload.cc
  projects/hip-tests/catch/unit/graph/hipStreamGetCaptureInfo_old.cc
  projects/hip-tests/catch/unit/memory/hipHostMalloc.cc
  projects/hip-tests/catch/unit/memory/hipMemAdvise_old.cc
  projects/hip-tests/catch/unit/stream/hipStreamCreateWithPriority.cc
Due: .azuredevops/rocm_ci_caller.yml

Adds needs: parameter to format-rocprofiler-compute
  .github/workflows/pre-commit-formatting.yml
Due: none

4nic test mi325
  .github/workflows/therock-rccl-ci-linux.yml
Due: none

ROCM-2357 handle net ib request failures (#3711)
  projects/rccl/ext-src/rocm_netib.patch
  projects/rccl/src/transport/net_ib.cc
Due: .azuredevops/rocm_ci_caller.yml

fix scalar issue
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx950/3000_mem_bw.yaml
  projects/rocprofiler-compute/src/utils/parser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

feat: Add hipModuleGetLoadingMode test cases
  projects/hip-tests/catch/config/configs/unit/module.yaml
Due: .azuredevops/rocm_ci_caller.yml

Fix LD_PRELOAD overwrite bug in rocprofiler-sdk profiler
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprofiler_sdk.py
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

find HIP_COMMON_DIR, AMD_COMPUTE_WIN relative to clr
  projects/clr/CMakeLists.txt
  projects/clr/hipamd/src/hip_stream.cpp
  projects/clr/rocclr/cmake/FindAMD_PAL_LIB.cmake
Due: .azuredevops/rocm_ci_caller.yml

Address PR review comments
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprofiler_sdk.py
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

clr: Fix no discard warning
  projects/clr/hipamd/src/hip_stream.cpp
Due: .azuredevops/rocm_ci_caller.yml

check for HIP_COMMON_DIR exists
  projects/clr/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Workflow test - REVERT
  .github/workflows/rocprofiler-systems-debian.yml
  .github/workflows/rocprofiler-systems-opensuse.yml
  .github/workflows/rocprofiler-systems-redhat.yml
  .github/workflows/rocprofiler-systems-ubuntu-jammy.yml
  .github/workflows/rocprofiler-systems-ubuntu-noble.yml
  .github/workflows/rocprofiler-systems-workflow-test.yml
Due: none

Potential fix for pull request finding
  projects/clr/hipamd/src/hip_stream.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add AUTOLOAD diagnostics: IMU state, GFXHUB, ID_STATUS, GCVM faults
  projects/rocr-runtime/libhsakmt/src/wddm_lite/gpu_init.cpp
  projects/rocr-runtime/libhsakmt/src/wddm_lite/gpu_init.h
  projects/rocr-runtime/libhsakmt/src/wddm_lite/openclose.cpp
  projects/rocr-runtime/libhsakmt/src/wddm_lite/queues.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Add tests for the output summary
  projects/rocprofiler-systems/tests/rocprof-sys-preset-tests.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Updated `rocprof-sys-run` presets to use `update_env`
  projects/rocprofiler-systems/source/bin/rocprof-sys-run/impl.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

DO NOT MERGE fix psdb build in clr temporarily
  projects/clr/hipamd/src/hip_stream.cpp
Due: .azuredevops/rocm_ci_caller.yml

Formatting and added test for signal handling
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_runner.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_session.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_session.hpp
  projects/rocprofiler-sdk/tests/bin/attachment-test/attachment_test.cpp
  projects/rocprofiler-sdk/tests/rocattach/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocattach/main.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Change signal and added back original test
  projects/rocprofiler-sdk/tests/rocattach/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocattach/main.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

attach: update tests
  projects/rocprofiler-sdk/tests/bin/attachment-test/attachment_test.cpp
  projects/rocprofiler-sdk/tests/pytest-packages/pytest_utils/perfetto_reader.py
  projects/rocprofiler-sdk/tests/rocattach/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocattach/main.cpp
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-once/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-once/run_attachment_test_unified.sh
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-once/validate.py
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-twice/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-twice/conftest.py
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-twice/pytest.ini
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/conftest.py
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/pytest.ini
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/run_attachment_test_unified.sh
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Address review comments and fix overall typing of ptrace operations
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/common/ptrace.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/common/ptrace.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/common/wait_for_atomic.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_runner.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_runner.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_session.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_session.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

update test multithreading
  projects/rocprofiler-sdk/tests/bin/attachment-test/attachment_test.cpp
  projects/rocprofiler-sdk/tests/rocattach/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

attach: fix ptrace signal crash
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_runner.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_runner.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_session.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_session.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

attach: update signal handler to correct typing
  projects/rocprofiler-sdk/tests/bin/attachment-test/attachment_test.cpp
  projects/rocprofiler-sdk/tests/rocattach/main.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

address review comments
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/common/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/common/wait_for_atomic.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_runner.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_runner.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_session.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_session.hpp
  projects/rocprofiler-sdk/tests/bin/attachment-test/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/attachment-test/attachment_test.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

add log message for signal send
  projects/rocprofiler-sdk/tests/rocattach/main.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Added attachment_test change, changed CMakeLists.txt file to be signal agnostic for signal test
  projects/rocprofiler-sdk/tests/bin/attachment-test/attachment_test.cpp
  projects/rocprofiler-sdk/tests/rocattach/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Apply suggestions from code review
  projects/rocprofiler-sdk/tests/bin/attachment-test/attachment_test.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

revise to use synchronized objects
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_runner.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Update wait_for_atomic.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/common/wait_for_atomic.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix `update_env` handling of `REPLACE` mode
  projects/rocprofiler-systems/source/lib/common/environment.hpp
  projects/rocprofiler-systems/source/lib/common/tests/test_update_env.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Addressed Copilot comments
  projects/cuid/CMakeLists.txt
  projects/cuid/daemon/CMakeLists.txt
  projects/cuid/daemon/amdcuid_daemon.cc
  projects/cuid/daemon/postinst.in
  projects/cuid/lib/CMakeLists.txt
  projects/cuid/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

4nic test mi325
  .github/workflows/therock-4nic-heatmap-tests.yml
Due: none

Working for standalone benchmarking and rocprof profile mode run.
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/pyproject.toml
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/roofline/benchmark/benchmark_base.py
  projects/rocprofiler-compute/src/roofline/roofline_main.py
  projects/rocprofiler-compute/src/roofline/run_benchmark.py
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Skip TTMP computation intermediates (s0, s1, s3) + signed branch offsets
  projects/rocr-runtime/runtime/hsa-runtime/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/tests/__pycache__/test_transpiler_e2e.cpython-312.pyc
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler.cpp
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml
