Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

aiter_corpus_runner: replace warmup pass with orphan-lock reaper
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/aiter_corpus_runner/README.md
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/aiter_corpus_runner/runner.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix: Add reverse YAML-to-source check and remove 357 stale YAML entries
  projects/hip-tests/catch/config/check_sources.py
  projects/hip-tests/catch/config/configs/unit/atomics.yaml
  projects/hip-tests/catch/config/configs/unit/deviceLib.yaml
  projects/hip-tests/catch/config/configs/unit/event.yaml
  projects/hip-tests/catch/config/configs/unit/graph.yaml
  projects/hip-tests/catch/config/configs/unit/kernel.yaml
  projects/hip-tests/catch/config/configs/unit/math.yaml
  projects/hip-tests/catch/config/configs/unit/memory.yaml
  projects/hip-tests/catch/config/configs/unit/rtc.yaml
Due: .azuredevops/rocm_ci_caller.yml

Fix inline queue intercept: k-factor for kernel tracing, store/cas stride scaling
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

cleanup of FindLibDwarf and FindLibElf
  projects/rocprofiler-systems/cmake/Modules/FindLibDwarf.cmake
  projects/rocprofiler-systems/cmake/Modules/FindLibElf.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add random operator kernel coverage test for inject_roctx.py
  projects/rocprofiler-compute/src/utils/inject_roctx.py
  projects/rocprofiler-compute/tests/test_torch_trace_coverage.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add iteration multiplexing to make profiling faster in torch tracing
  projects/rocprofiler-compute/tests/test_profile_general.py
  projects/rocprofiler-compute/tests/test_torch_trace_coverage.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Potential fix for pull request finding
  projects/rocprofiler-compute/tests/test_torch_trace_coverage.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix operator args
  projects/rocprofiler-compute/tests/test_torch_trace_coverage.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Potential fix for pull request finding
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

ruff
  projects/rocprofiler-compute/tests/test_torch_trace_coverage.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

docs: remove pytest invocation block from profile/mode.rst
  projects/rocprofiler-compute/docs/how-to/profile/mode.rst
Due: .azuredevops/rocm_ci_caller.yml

addressing comments
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/docs/how-to/profile/mode.rst
  projects/rocprofiler-compute/tests/conftest.py
  projects/rocprofiler-compute/tests/test_categories.yaml
  projects/rocprofiler-compute/tests/test_torch_trace_coverage.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Ruff
  projects/rocprofiler-compute/tests/test_torch_trace_coverage.py
  projects/rocprofiler-compute/tests/torch_trace_coverage_op_specs.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

gersemi
  projects/rocprofiler-compute/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Tensor shape correction.
  projects/rocprofiler-compute/tests/test_torch_trace_coverage.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

tests: refine torch_trace_coverage wording and helper ordering
  projects/rocprofiler-compute/tests/conftest.py
  projects/rocprofiler-compute/tests/test_torch_trace_coverage.py
  projects/rocprofiler-compute/tests/torch_trace_coverage_op_specs.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

coding style changes : PYTHON_CODING_STYLE.md
  projects/rocprofiler-compute/tests/conftest.py
  projects/rocprofiler-compute/tests/test_torch_trace_coverage.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

tests: drop --suppress-no-test-exit-code from test_torch_trace_coverage
  projects/rocprofiler-compute/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Filter out unvetted ops to avoid crash by accessing illegal mem
  projects/rocprofiler-compute/tests/conftest.py
  projects/rocprofiler-compute/tests/test_torch_trace_coverage.py
  projects/rocprofiler-compute/tests/torch_trace_coverage_op_specs.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

clean exit when torch/gpu is missing
  projects/rocprofiler-compute/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fixed workload errors, op arg spec in different file
  projects/rocprofiler-compute/tests/test_torch_trace_coverage.py
  projects/rocprofiler-compute/tests/torch_trace_coverage_op_specs.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

aiter_corpus_runner: propagate Ctrl-C to child sessions
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/aiter_corpus_runner/README.md
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/aiter_corpus_runner/runner.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Add debug logging for multi-device hip-graph deadlock investigation
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
  projects/rocprofiler-sdk/tests/bin/hip-graph/hip-graph.cpp
  projects/rocprofiler-sdk/tests/tools/json-tool.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

attemtp to fix ubuntu CI
  .github/workflows/rocprofiler-compute-continuous-integration.yml
Due: none

remove stale docs
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/docs/hotswap-design-meeting-notes.md
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/docs/hotswap-design-proposal.md
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/docs/transpiler-challenge-questions.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: infrastructure for cross-widen writelane/readlane rewrite (flag off)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/cross_widen_divergence.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/cross_widen_divergence.hpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/lit.site.cfg.py.in
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/readlane_divergent_rewrite/readlane_divergent_rewrite.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/readlane_divergent_rewrite/readlane_divergent_rewrite.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/writelane_divergent_rewrite/writelane_divergent_rewrite.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/writelane_divergent_rewrite/writelane_divergent_rewrite.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/writelane_uniform_noop/writelane_uniform_noop.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/writelane_uniform_noop/writelane_uniform_noop.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/pipeline.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/pipeline.hpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raise_cli.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raiser.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raiser.hpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/rewrite_cross_lane_divergent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/rewrite_cross_lane_divergent.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Add always-on inline intercept diagnostics for stride and context activity
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

transpiler: re-enable BatchRaise.AiterGfx950 with representative subset + --test-all
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tests/batch_raise_test.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

docs: add async signal monitor design spec
  docs/superpowers/specs/2026-04-21-async-signal-monitor-design.md
Due: none

transpiler: graduate Matmul128x128 via --enable-writelane-rewrite + classifier flip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/docs/wave-size-translation.md
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c1_wave_id_lift_scalarized/c1_wave_id_lift_scalarized.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raise_failure.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raise_failure.hpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raiser.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tests/gfx1250_gpu_test.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tests/integration_test.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tests/xfail.cmake
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wave_size_obstruction.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wave_size_obstruction.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Remove temp debug info
  projects/rccl/src/enqueue.cc
Due: .azuredevops/rocm_ci_caller.yml

compute integration submodules checkout fix
  .github/workflows/rocprofiler-compute-continuous-integration.yml
Due: none

hsa: add signal monitor core interface and condition parsing
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/signal_monitor.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/signal_monitor.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/signal_monitor.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

hsa: harden inline queue intercept ownership and packet flow
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_intercept.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml
