Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Implement feature
  projects/rccl/CMakeLists.txt
  projects/rccl/src/device/op128.h
  projects/rccl/src/device/rccl_ptr.h
Due: .azuredevops/rocm_ci_caller.yml

AI NIC: added timestamp to the NIC data sample
  projects/rocprofiler-systems/source/lib/core/trace_cache/sample_type.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/amd_smi.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Update changelog for ROCm Systems Profiler 7.11.0
  projects/rocprofiler-systems/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

clr: Fix some nullptr checks and prints
  projects/clr/hipamd/src/hip_vm.cpp
  projects/clr/rocclr/device/device.cpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
Due: .azuredevops/rocm_ci_caller.yml

wsl/librocdxg: align up tmpring_size.bit.WAVESIZE
  include/impl/wddm/queue.h
  src/wddm/queue.cpp
Due: none

SWDEV-1 Fix vulkan test build failure in Windows
  projects/hip-tests/catch/unit/vulkan_interop/vulkan_test.hh
Due: .azuredevops/rocm_ci_caller.yml

Fixed remain strings after rebasing
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_processor.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/comm_data.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Remove CHANGELOG
  projects/rocprofiler-systems/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

Update CHANGELOG
  projects/rocprofiler-systems/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

use drain function
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/aql/aql_profile_v2.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/core.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/decode.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/dispatch_handlers.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/dlsym.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/dlsym.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/service.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/tests/core.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Update the spm tests
  projects/rocprofiler-sdk/tests/rocprofv3/spm/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/spm/conftest.py
  projects/rocprofiler-sdk/tests/rocprofv3/spm/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

SWDEV-546303 - implement hipKernelGetAttribute API
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
  projects/clr/hipamd/include/hip/amd_detail/hip_prof_str.h
  projects/clr/hipamd/src/amdhip.def
  projects/clr/hipamd/src/hip_api_trace.cpp
  projects/clr/hipamd/src/hip_global.hpp
  projects/clr/hipamd/src/hip_hcc.map.in
  projects/clr/hipamd/src/hip_library.cpp
  projects/clr/hipamd/src/hip_table_interface.cpp
  projects/hip-tests/catch/unit/library/CMakeLists.txt
  projects/hip-tests/catch/unit/library/hipKernelGetAttribute.cc
  projects/hip-tests/catch/unit/library/reverse_kernel.cc
  projects/hip/include/hip/hip_runtime_api.h
  projects/hipother/hipnv/include/hip/nvidia_detail/nvidia_hip_runtime_api.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/api_args.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/runtime_api_id.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/abi.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/hip.def.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix invalid use of hipEventElapsedTime (#2698)
  projects/hip-tests/catch/unit/device/hipGetProcAddressIpcApis.cc
Due: .azuredevops/rocm_ci_caller.yml

Revert "rocr: SVMPrefetch to a particular numa node (#1063)" (#2792)
  projects/rocr-runtime/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Update CHANGELOG.md (#2813)
  projects/rocprofiler-systems/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

added rocshmem-reviewers on CODEOWNERS file (#2809)
  .github/CODEOWNERS
Due: none

Fix link for global enum and defines (#2802)
  projects/rocr-runtime/runtime/docs/data/env_variables.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[rocprof-sys] Use fmt APIs to construct strings instead of JOIN (#2643)
  projects/rocprofiler-systems/source/lib/binary/analysis.cpp
  projects/rocprofiler-systems/source/lib/binary/symbol.cpp
  projects/rocprofiler-systems/source/lib/core/argparse.cpp
  projects/rocprofiler-systems/source/lib/core/categories.hpp
  projects/rocprofiler-systems/source/lib/core/common.hpp
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/core/constraint.cpp
  projects/rocprofiler-systems/source/lib/core/dynamic_library.cpp
  projects/rocprofiler-systems/source/lib/core/mproc.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto.cpp
  projects/rocprofiler-systems/source/lib/core/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_processor.cpp
  projects/rocprofiler-systems/source/lib/core/utility.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/amd_smi.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/causal/data.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/causal/experiment.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/backtrace_metrics.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/category_region.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/comm_data.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/comm_data.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/exit_gotcha.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/numa_gotcha.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/pthread_create_gotcha.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/coverage.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/cpu_freq.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/kokkosp.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ptl.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/counters.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/fwd.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/rccl.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/runtime.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/sampling.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/tracing.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/tracing.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/tracing/annotation.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocprof-sys] Align rocpd symbols of the same counter types (#2675)
  projects/rocprofiler-systems/CHANGELOG.md
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/amd_smi.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add rccl-reviewers to CODEOWNERS file (#2816)
  .github/CODEOWNERS
Due: none

fix roctx range markers not paired correctly in rocpd output (#2793)
  projects/rocprofiler-systems/CHANGELOG.md
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/tests/rocpd-validation-rules/roctx/amd-smi-rules.json
  projects/rocprofiler-systems/tests/rocpd-validation-rules/roctx/sdk-metrics-rules.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocprof-sys] Fix RCCL comm_data counters in rocpd output (#2607)
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/rccl.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocprofiler-compute] Threshold Based Clamping in Analyze Stage (#2565)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/docs/reference/faq.rst
  projects/rocprofiler-compute/pyproject.toml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/1700_l2_cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx90a/1700_l2_cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx90a/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx940/1700_l2_cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx940/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/1700_l2_cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/1700_l2_cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx950/1700_l2_cache.yaml
  projects/rocprofiler-compute/src/utils/.config_hashes.json
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/tests/test_utils.py
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/abi.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-sdk.yml

Fix launch size
  projects/hip-tests/catch/TypeQualifiers/hipManagedKeyword.cc
Due: .azuredevops/rocm_ci_caller.yml

review comments
  projects/hip-tests/catch/TypeQualifiers/hipManagedKeyword.cc
Due: .azuredevops/rocm_ci_caller.yml

Simplify and remove stride based access of managed varaible test
  projects/hip-tests/catch/TypeQualifiers/hipManagedKeyword.cc
Due: .azuredevops/rocm_ci_caller.yml

readme: update ROCm install steps
  README.md
Due: none

Disable Unit_hipStreamPerThread_MultiThread
  projects/hip-tests/catch/hipTestMain/config/config_amd_linux
  projects/hip-tests/catch/hipTestMain/config/config_amd_windows
  projects/hip-tests/catch/hipTestMain/config/config_amd_wsl.json
  projects/hip-tests/catch/hipTestMain/config/config_nvidia_linux.json
  projects/hip-tests/catch/hipTestMain/config/config_nvidia_windows.json
Due: .azuredevops/rocm_ci_caller.yml

Add further tests
  projects/hip-tests/catch/include/hip_test_common.hh
  projects/hip-tests/catch/include/memcpy3d_tests_common.hh
  projects/hip-tests/catch/unit/memory/hipDeviceGetMemPool.cc
  projects/hip-tests/catch/unit/memory/hipDeviceSetMemPool.cc
  projects/hip-tests/catch/unit/memory/hipDrvMemcpy2DUnaligned.cc
  projects/hip-tests/catch/unit/memory/hipDrvMemcpy3D_old.cc
  projects/hip-tests/catch/unit/memory/memcpy2d_tests_common.hh
  projects/hip-tests/catch/unit/memory/mempool_common.hh
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-547291 - Interop for OpenGL (#2350)
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_gl_interop.h
  projects/clr/hipamd/src/hip_device.cpp
  projects/clr/hipamd/src/hip_gl.cpp
  projects/clr/hipamd/src/hip_internal.hpp
  projects/hip-tests/catch/unit/gl_interop/hipGLGetDevices.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsGLRegisterBuffer.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsGLRegisterImage.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsMapResources.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsResourceGetMappedPointer.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsSubResourceGetMappedArray.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsUnmapResources.cc
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsUnregisterResource.cc
  projects/hip/include/hip/hip_runtime_api.h
Due: .azuredevops/rocm_ci_caller.yml

Improve testing
  projects/rocstorage/source/writer.cpp
  projects/rocstorage/tests/unit/writer_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

hipGraphicsResourceGetMappedPointer: Use hipErrorInvalidResourceHandle for unregistered graphics resource
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsResourceGetMappedPointer.cc
Due: .azuredevops/rocm_ci_caller.yml

Apply review suggestion
  projects/rocprofiler-systems/tests/pytest/rocprofsys/validators.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

graph caching and debugging
  projects/clr/CMakeLists.txt
  projects/clr/hipamd/CMakeLists.txt
  projects/clr/hipamd/packaging/CMakeLists.txt
  projects/clr/hipamd/src/CMakeLists.txt
  projects/clr/hipamd/src/hip_graph.cpp
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/platform/command.cpp
  projects/clr/rocclr/platform/command.hpp
  projects/clr/rocclr/utils/debug.hpp
Due: .azuredevops/rocm_ci_caller.yml

hipGraphicsResourceGetMappedPointer: Add resource validation to hipGraphicsResourceGetMappedPointer
  projects/clr/hipamd/src/hip_gl.cpp
Due: .azuredevops/rocm_ci_caller.yml

[hip] Docs: Updates to some memory management pages
  projects/hip/docs/how-to/hip_runtime_api/memory_management/coherence_control.rst
  projects/hip/docs/how-to/hip_runtime_api/memory_management/unified_memory.rst
  projects/hip/docs/how-to/hip_runtime_api/memory_management/virtual_memory.rst
Due: .azuredevops/rocm_ci_caller.yml

Workflow Tests
  .github/workflows/rocprofiler-systems-continuous-integration.yml
  .github/workflows/rocprofiler-systems-debian.yml
  .github/workflows/rocprofiler-systems-opensuse.yml
  .github/workflows/rocprofiler-systems-redhat.yml
  .github/workflows/rocprofiler-systems-ubuntu-jammy.yml
  .github/workflows/rocprofiler-systems-ubuntu-noble.yml
  projects/rocprofiler-systems/tests/CMakeLists.txt
  projects/rocprofiler-systems/tests/pytest/rocprofsys/validators.py
  projects/rocprofiler-systems/tests/rocprof-sys-pytests-tests.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

hipGraphicsResourceGetMappedPointer: Revert positive (null) parameter test
  projects/hip-tests/catch/unit/gl_interop/hipGraphicsResourceGetMappedPointer.cc
Due: .azuredevops/rocm_ci_caller.yml

Fix the broken sample GitHub link (#1968)
  projects/rocprofiler-sdk/source/docs/api-reference/thread_trace.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Update CHANGELOG.md
  projects/rocprofiler-systems/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
