Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

test(rccl): HostApiCustomGinPluginTest disabled for multinode runs (not applicable)
  projects/rccl/test/HostApiCustomGinPluginMPITests.cpp
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
Due: .azuredevops/rocm_ci_caller.yml

Rewrite containers to be constexpr
  projects/rocprofiler-systems/source/lib/core/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/containers/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/containers/aligned_static_vector.hpp
  projects/rocprofiler-systems/source/lib/core/containers/c_array.hpp
  projects/rocprofiler-systems/source/lib/core/containers/operators.hpp
  projects/rocprofiler-systems/source/lib/core/containers/stable_vector.hpp
  projects/rocprofiler-systems/source/lib/core/containers/static_vector.hpp
  projects/rocprofiler-systems/source/lib/core/containers/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/containers/tests/test_aligned_static_vector.cpp
  projects/rocprofiler-systems/source/lib/core/containers/tests/test_c_array.cpp
  projects/rocprofiler-systems/source/lib/core/containers/tests/test_operators.cpp
  projects/rocprofiler-systems/source/lib/core/containers/tests/test_stable_vector.cpp
  projects/rocprofiler-systems/source/lib/core/containers/tests/test_static_vector.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/thread_data.hpp
  projects/rocprofiler-systems/source/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

feat(rocr): add per-queue error callback to AIE queues (#7905)
  projects/rocr-runtime/rocrtst/suites/aie/CMakeLists.txt
  projects/rocr-runtime/rocrtst/suites/aie/error_callback_test.cc
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_aie_aql_queue.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_aie_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_aie_aql_queue.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

docs(rocprofiler-sdk): Moving rocprofiler-sdk at a glance to what is rocprofiler-sdk (#11626)
  projects/rocprofiler-sdk/source/docs/_toc.yml.in
  projects/rocprofiler-sdk/source/docs/index.rst
  projects/rocprofiler-sdk/source/docs/what-is-rocprofiler-sdk.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix dispatch id filtering
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/tests/unit/utils/test_parser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocjitsu][waitcheck] Add waitcheck target event and wait policies (#11483)
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/analysis/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/analysis/waitcheck/target.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/analysis/waitcheck/target.h
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/analysis/waitcheck_target_test.cpp
Due: none

align with old implementation
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_processor.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/kfd/event_unmap_from_gpu.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/kfd/page_fault.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/kfd/page_migrate.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/kfd/queue.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/mock_domain_service.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

test(aie): move rejected-dispatch tests onto the error-callback contract
  projects/rocr-runtime/rocrtst/suites/aie/CMakeLists.txt
  projects/rocr-runtime/rocrtst/suites/aie/dispatch.cc
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

feat(dbgapi): recognize gfx1250-strict as a distinct debug target
  projects/rocdbgapi/include/amd-dbgapi.h.in
  projects/rocdbgapi/src/architecture.cpp
  projects/rocdbgapi/src/os_driver.h
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Validate '> n' dispatch filter against ids
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/tests/unit/utils/test_parser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(xdna): retire the packets that ran when a batch fails partway
  projects/rocr-runtime/rocrtst/suites/aie/dispatch.cc
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/xdna/amd_xdna_driver.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Apply batched suggestions from code review
  projects/rccl/test/common/TestBed.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rocr): bound num_dep_signals in the batched rect copy
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_ext_amd.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[rocjitsu] Preserve LDS contents on reuse and honor queue CU masks
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/kfd_ioctl_utils.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/linux_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/remote_driver.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/rj_daemon.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/dispatch_entry.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/lds.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/spi.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/rj_vm.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/daemon_api_test.cpp
  emulation/rocjitsu/tests/daemon_test.cpp
  emulation/rocjitsu/tests/hip_memcpy_test.cpp
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
  emulation/rocjitsu/tests/shared_infra_test.cpp
  emulation/rocjitsu/tests/xcd_distribution_test.cpp
Due: none

clr: give a leading uncaptured SDMA memcpy its own barrier
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.hpp
Due: .azuredevops/rocm_ci_caller.yml

perf(hipGraph): cache segment priority at creation time; add tests
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/hip-tests/catch/config/configs/unit/graph.yaml
  projects/hip-tests/catch/unit/graph/CMakeLists.txt
  projects/hip-tests/catch/unit/graph/hipGraphKernelNodePriority.cc
Due: .azuredevops/rocm_ci_caller.yml

[kpack] Do not treat SHT_NOBITS .hip_fatbin as device code
  shared/kpack/python/rocm_kpack/artifact_utils.py
  shared/kpack/tests/elf_test_utils.py
  shared/kpack/tests/test_artifact_utils.py
  shared/kpack/tests/test_binutils.py
Due: .azuredevops/rocm_ci_caller.yml

ci: clone submodules at --depth 1 in the TheRock workflows
  .github/workflows/therock-build-linux.yml
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-rccl-ci-linux.yml
Due: none

fix(rocr): export the batched rect copy from the Windows DLL too
  projects/rocr-runtime/runtime/hsa-runtime/hsacore.dll.def
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

kpack: add regression test for re-driving a split over a not-owned tree
  shared/kpack/tests/test_artifact_splitter_integration.py
Due: .azuredevops/rocm_ci_caller.yml

kpack: unlink existing destination before copy2 in artifact splitter
  shared/kpack/python/rocm_kpack/artifact_splitter.py
Due: .azuredevops/rocm_ci_caller.yml

test(hip-tests): cover capture behaviour that already matches CUDA
  projects/hip-tests/catch/config/configs/unit/graph.yaml
  projects/hip-tests/catch/unit/graph/hipStreamBeginCapture.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(clr): reject hipStreamBeginCapture on an invalidated stream
  projects/clr/hipamd/src/hip_graph.cpp
Due: .azuredevops/rocm_ci_caller.yml

refactor(clr): extract Stream::ResetCaptureState from EndCapture
  projects/clr/hipamd/src/hip_stream.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(clr): return hipErrorStreamCaptureMerge for cross-capture waits
  projects/clr/hipamd/src/hip_internal.hpp
  projects/clr/hipamd/src/hip_stream.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(clr): enroll a stream into a capture only once
  projects/clr/hipamd/src/hip_stream.cpp
Due: .azuredevops/rocm_ci_caller.yml

test(hip-tests): clear the sticky error in the capture-stream self-wait test
  projects/hip-tests/catch/unit/graph/hipStreamBeginCapture.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor(clr): drop the vestigial EndCapture return value
  projects/clr/hipamd/src/hip_graph.cpp
  projects/clr/hipamd/src/hip_internal.hpp
  projects/clr/hipamd/src/hip_stream.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(clr): synchronise the capture's participant set
  projects/clr/hipamd/src/hip_internal.hpp
  projects/clr/hipamd/src/hip_stream.cpp
  projects/hip-tests/catch/config/configs/unit/graph.yaml
  projects/hip-tests/catch/unit/graph/hipStreamBeginCapture.cc
Due: .azuredevops/rocm_ci_caller.yml

test(hip-tests): cover the capture divergences this branch fixes
  projects/hip-tests/catch/config/configs/unit/graph.yaml
  projects/hip-tests/catch/unit/graph/hipStreamBeginCapture.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor(clr): rename capture bookkeeping to reflect flat ownership
  projects/clr/hipamd/src/hip_internal.hpp
  projects/clr/hipamd/src/hip_stream.cpp
  projects/hip-tests/catch/unit/executionContext/hipExecutionCtxStreamDetached.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor(clr): replace the recursive EndCapture walk with a flat pass
  projects/clr/hipamd/src/hip_stream.cpp
Due: .azuredevops/rocm_ci_caller.yml

refactor(clr): make the capture origin its own owner
  projects/clr/hipamd/src/hip_graph.cpp
  projects/clr/hipamd/src/hip_stream.cpp
Due: .azuredevops/rocm_ci_caller.yml

rccl: gate the DDA consensus check to communicators it can actually affect
  projects/rccl/src/algorithms/dda/all_reduce/dda_all_reduce.h
  projects/rccl/src/algorithms/dda/ipc/ipc_init.cu
  projects/rccl/src/init.cc
  projects/rccl/test/host/fakes/nccl_stubs.cc
  projects/rccl/test/host/init-test.cc
Due: .azuredevops/rocm_ci_caller.yml

[waitcheck] Widen unordered loadcnt instead of aborting CFG dataflow
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/analysis/waitcheck.cpp
  emulation/rocjitsu/tests/analysis/waitcheck_test.cpp
Due: none

Address review comments
  projects/rccl/examples/06_device_api/01_allreduce_lsa/c/README.md
  projects/rccl/examples/06_device_api/02_alltoall_gin/c/README.md
  projects/rccl/examples/06_device_api/03_alltoall_hybrid/c/README.md
  projects/rccl/examples/06_device_api/Makefile
  projects/rccl/examples/makefiles/rccl_examples.mk
Due: .azuredevops/rocm_ci_caller.yml

test(hipfile) Ensure CPU caches are cleared by hipFileRead
  projects/hipfile/test/system/amd/io.cpp
Due: .azuredevops/rocm_ci_caller.yml

[RCCL][GRAPH] Support graphStreamOrdering config and add graph capture window MPI tests (#10355)
  projects/rccl/docs/userguide/source/api/types.rst
  projects/rccl/docs/userguide/source/env.rst
  projects/rccl/src/ce_coll.cc
  projects/rccl/src/enqueue.cc
  projects/rccl/src/include/strongstream.h
  projects/rccl/src/misc/strongstream.cc
  projects/rccl/test/CommMPITests.cpp
  projects/rccl/test/RegistrationMPITests.cpp
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
  projects/rccl/tools/scripts/test_runner/configs/mi355x_thor2_roce.json
  projects/rccl/tools/scripts/test_runner/configs/mi455_ainic_roce.json
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Correct division scaling and quotient fixup (#11613)
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/simd_codegen.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/vector_special.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna1/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna2/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3_exec_alu.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/shared/execute_shared.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/alu_exceptions.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/division.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/lib/util/include/util/big_int.h
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/big_int_test.cpp
  emulation/rocjitsu/tests/division_macro_test.cpp
  emulation/rocjitsu/tests/division_test.cpp
  emulation/rocjitsu/tests/simd_correctness/vop3_div_helpers_simd_correctness_test.cpp
Due: none

ci(rocprofiler-sdk): pin the cmake versions in the workflow env
  .github/workflows/rocprof-trace-decoder-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-docs.yml
Due: none

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
