Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

hsakmt: add wallclock to node props during init
  projects/rocr-runtime/libhsakmt/src/dxg/topology.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

restore tests
  projects/rocprofiler-compute/tests/test_analyze_commands.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[AIROCSHMEM-337] Increase default SQ size
  projects/rocshmem/src/envvar.cpp
Due: .azuredevops/rocm_ci_caller.yml

Baisc cahenges to hit latest schema changes
  projects/rocpdsna/CMakeLists.txt
  projects/rocpdsna/include/writer_types.hpp
  projects/rocpdsna/run_test.sh
  projects/rocpdsna/source/data_storage/backends/sqlite_backend.cpp
  projects/rocpdsna/source/data_storage/schema_bkp/data_views.sql
  projects/rocpdsna/source/data_storage/schema_bkp/marker_views.sql
  projects/rocpdsna/source/data_storage/schema_bkp/rocpd_indexes.sql
  projects/rocpdsna/source/data_storage/schema_bkp/rocpd_shema.in
  projects/rocpdsna/source/data_storage/schema_bkp/rocpd_tables.sql
  projects/rocpdsna/source/data_storage/schema_bkp/rocpd_views.sql
  projects/rocpdsna/source/data_storage/schema_bkp/summary_views.sql
  projects/rocpdsna/source/data_storage/schema_definition.hpp
  projects/rocpdsna/source/data_storage/schema_traits_improved.hpp
  projects/rocpdsna/source/data_storage/schema_v3/read_statements.hpp
  projects/rocpdsna/source/data_storage/schema_v4/insert_statements.hpp
  projects/rocpdsna/source/data_storage/schema_v4/read_statements.hpp
  projects/rocpdsna/source/data_storage/schema_version.hpp
  projects/rocpdsna/source/primary_key_providers.hpp
  projects/rocpdsna/source/reader_impl.cpp
  projects/rocpdsna/source/reader_impl.hpp
  projects/rocpdsna/source/writer_impl.hpp
  projects/rocpdsna/source/writers/interfaces/info_registration_writer_interface.hpp
  projects/rocpdsna/source/writers/schema_v4/common_insert_operations.hpp
  projects/rocpdsna/source/writers/schema_v4/info_registration_writer.hpp
  projects/rocpdsna/source/writers/schema_v4/kernel_dispatch_writer.hpp
  projects/rocpdsna/source/writers/schema_v4/memory_alloc_writer.hpp
  projects/rocpdsna/source/writers/schema_v4/memory_copy_writer.hpp
  projects/rocpdsna/source/writers/schema_v4/pmc_event_writer.hpp
  projects/rocpdsna/source/writers/schema_v4/region_writer.hpp
  projects/rocpdsna/source/writers/schema_v4/writer_policy.hpp
  projects/rocpdsna/testing/sample_writer
  projects/rocpdsna/testing/sample_writer.cpp
  projects/rocpdsna/testing/sample_writer.db
  projects/rocpdsna/tests/unit/reader_test.cpp
  projects/rocpdsna/tests/unit/writer_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

rocinsight: fix false truncation trigger on SEARCH/REPLACE fallthrough
  python/rocinsight/rocinsight/ai_analysis/interactive.py
Due: none

rocinsight: replace last-char truncation check with trailing prose stripper
  python/rocinsight/rocinsight/ai_analysis/interactive.py
Due: none

use hsa_amd_pointer_info to determine the mem copy direction.
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/async_copy.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

made usable version of counter def file for strix halo
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/counter_defs.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add SQ Size to docs
  projects/rocshmem/docs/api/env_variables.rst
  projects/rocshmem/src/envvar.cpp
  projects/rocshmem/src/envvar.hpp
  projects/rocshmem/src/gda/backend_gda.cpp
Due: .azuredevops/rocm_ci_caller.yml

Update env_variables.rst
  projects/rocshmem/docs/api/env_variables.rst
Due: .azuredevops/rocm_ci_caller.yml

fix broken link to Global enums and defines
  projects/rocr-runtime/runtime/docs/data/env_variables.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix FindLibDward and FindLibElf version detection
  projects/rocprofiler-systems/cmake/Modules/FindLibDwarf.cmake
  projects/rocprofiler-systems/cmake/Modules/FindLibElf.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

CPU optimizations for fast initialization
  projects/rccl/src/graph/rings.cc
  projects/rccl/src/init.cc
Due: .azuredevops/rocm_ci_caller.yml

fix CI build issues and add error logs.
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/async_copy.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rocprofiler-compute: Memory Chart heading + SoL BW alignment (gfx1151)
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0200_System_Speed_Of_Light.yaml
  projects/rocprofiler-compute/src/utils/mem_chart_gfx11.py
  projects/rocprofiler-compute/src/utils/tty.py
  projects/rocprofiler-compute/tests/test_mem_chart_gfx11.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Revert VRAM-end buffers (PSP can't access), fix bootloader check
  projects/rocr-runtime/libhsakmt/src/wddm_lite/gpu_init.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[rdc] Replace readme link rdc -> rocm-systems/projects/rdc
  projects/rdc/CHANGELOG.md
  projects/rdc/Docker/Dockerfile
  projects/rdc/Docker/README.md
  projects/rdc/README.md
  projects/rdc/docs/index.rst
  projects/rdc/docs/install/handbook.rst
  projects/rdc/docs/install/install.rst
  projects/rdc/docs/tutorial/job_stats_sample.rst
Due: .azuredevops/rdc.yml, .azuredevops/rocm_ci_caller.yml

Fix the broken sample GitHub link
  projects/rocprofiler-sdk/source/docs/api-reference/thread_trace.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Disable WQE slot validation before posting the WQEs
  projects/rocshmem/src/gda/bnxt/queue_pair_bnxt.cpp
  projects/rocshmem/src/gda/ionic/queue_pair_ionic.cpp
  projects/rocshmem/src/gda/mlx5/queue_pair_mlx5.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix broken link to Global enums and defines (#4468)
  projects/rocr-runtime/runtime/docs/data/env_variables.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix broken link to Global enums and defines (#4468) (#4471)
  projects/rocr-runtime/runtime/docs/data/env_variables.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[github/scripts] Convert cmake_options to arrays and add -DTHEROCK_ENABLE_CORE=ON as default
  .github/scripts/therock_configure_ci.py
  .github/scripts/therock_matrix.py
Due: none

fix clang-diagnostic-missing-designated-field-initializers.
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/async_copy.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[github/scripts] Use array join instead of string concatenation for final flags
  .github/scripts/therock_configure_ci.py
Due: none

Fix shmem tests
  projects/rocprofiler-systems/tests/pytest/rocprofsys/capabilities.py
  projects/rocprofiler-systems/tests/pytest/test_shmem.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

adding back core
  .github/scripts/therock_matrix.py
Due: none

Removing dups
  .github/scripts/therock_configure_ci.py
Due: none

fix unused-local-typedefs
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/async_copy.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Update TheRock ref to 3272cd7
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-rccl-ci-linux.yml
  .github/workflows/therock-rccl-test-packages-multi-node.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

correct rccl param
  projects/rccl/src/enqueue.cc
Due: .azuredevops/rocm_ci_caller.yml

Introduce batched optimization in rocpd
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Formatting and added test for signal handling
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_session.cpp
  projects/rocprofiler-sdk/tests/rocattach/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Minor optimizations
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/buffer.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/context/context.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/async_copy.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/memory_allocation.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tracing/tracing.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Address review comments and fix overall typing of ptrace operations
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/ptrace_session.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Buffer clear optimization
  projects/rocprofiler-sdk/source/lib/common/container/record_header_buffer.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Testing pool idea
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/async_copy.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/memory_allocation.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/runtime_initialization.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tracing/fwd.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tracing/tracing_data_pool.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Change unordered_map to small vector, added back tracing_data pooling
  projects/rocprofiler-sdk/source/lib/common/utility.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/symbol_lookup.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/buffer.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/code_object/code_object.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/dispatch_handlers.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/sample_processing.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/async_copy.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/memory_allocation.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_info_session.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_dispatch/tracing.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/pc_sampling/hsa_adapter.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/runtime_initialization.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tracing/fwd.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tracing/tracing.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tracing/tracing_data_pool.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Reverted slower changes, testing just pool
  projects/rocprofiler-sdk/source/lib/common/environment.cpp
  projects/rocprofiler-sdk/source/lib/common/environment.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Disable stream and kernel rename tracing optionally, and increase vector reserve size
  projects/rocprofiler-sdk/source/bin/rocprofv3.py
  projects/rocprofiler-sdk/source/lib/common/environment.cpp
  projects/rocprofiler-sdk/source/lib/common/environment.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/symbol_lookup.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/config.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml
