Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

fix(amdsmi): accept equals lists
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/amdsmi_cli/README.md
  projects/amdsmi/amdsmi_cli/amdsmi_parser.py
  projects/amdsmi/docs/how-to/amdsmi-cli-tool.md
  projects/amdsmi/tests/python/cli/test_equals_lists.py
  projects/amdsmi/tests/python/unit/system/test_cli_equals_lists.py
Due: .azuredevops/rocm_ci_caller.yml

fix(rocjitsu): isolate wave state across plugin replacement
  emulation/rocjitsu/docs/plugins.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/wavefront.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/execution_plugin.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/perfsim/plugin.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/plugin.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/plugin.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/throughput/plugin.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/throughput/plugin.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/wavefront_state.h
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/execution_plugin_test.cpp
  emulation/rocjitsu/tests/perfsim_plugin_test.cpp
Due: none

rocjitsu: preserve deterministic perfsim trace order
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/perfsim/README.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/perfsim/plugin.cpp
  emulation/rocjitsu/tests/perfsim_plugin_test.cpp
Due: none

rocjitsu: identify perfsim dispatches by exact name
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/perfsim/README.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/perfsim/plugin.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/perfsim/plugin_export.cpp
  emulation/rocjitsu/tests/perfsim_plugin_test.cpp
Due: none

docs(perfsim): clarify dispatch selector contract
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/perfsim/plugin.h
  emulation/rocjitsu/tests/perfsim_plugin_test.cpp
Due: none

rocjitsu: batch functional GPU memory access state
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/host_mapping_lock.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/kfd_process.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/legacy_gpu_vm.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/gpu_vm.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/gpu_vm.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/l2_cache.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/legacy_address_space.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/legacy_page_table.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/request_mtype_resolver.h
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/gpu_vm_translation_test.cpp
  emulation/rocjitsu/tests/host_mapping_lock_test.cpp
  emulation/rocjitsu/tests/legacy_gpu_memory_fixture.h
Due: none

rocjitsu: forward transactional perfsim callbacks concurrently
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/perfsim/README.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/perfsim/observer_abi_v13.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/perfsim/plugin.cpp
  emulation/rocjitsu/tests/perfsim_fake_backend.cpp
  emulation/rocjitsu/tests/perfsim_plugin_test.cpp
Due: none

fix(rocprofiler-sdk): guard self-referencing env placeholders and fix %q{}
  projects/rocprofiler-sdk/source/lib/output/format_path.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Remove uploading information
  .github/workflows/rocjitsu-corpus-tests.yml
Due: none

fix(rocprofiler-systems): Add timemory/PAPI annotations into cached Perfetto output
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/sample_type.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_sample_type.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/category_region.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/tests/test_category_region.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/tracing.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/tracing/annotation.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(amdsmi): validate topology counts
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/docs/reference/amdsmi-py-api.md
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/rust-interface/README.md
  projects/amdsmi/src/CMakeLists.txt
  projects/amdsmi/src/amd_smi/amd_smi.cc
  projects/amdsmi/src/amd_smi/topology_nearest.cc
  projects/amdsmi/src/amd_smi/topology_nearest_internal.h
  projects/amdsmi/tests/amd_smi_test/unit/system/topology_nearest_test.cc
Due: .azuredevops/rocm_ci_caller.yml

ci(amdsmi): isolate Go checks
  .github/workflows/amdsmi-build.yml
  .github/workflows/amdsmi-go.yml
  .github/workflows/lstt-formatting.yml
  projects/amdsmi/.claude/rules/project-layout.md
  projects/amdsmi/.github/CONTRIBUTING.md
  projects/amdsmi/.pre-commit-config.yaml
  projects/amdsmi/docs/conceptual/test-design.md
  projects/amdsmi/docs/how-to/amdsmi-go-lib.md
  projects/amdsmi/go/README.md
  projects/amdsmi/tests/README.md
  projects/amdsmi/tests/go/test_api_contract_unit.py
  projects/amdsmi/tests/go/test_ci_workflow.py
  projects/amdsmi/tests/go/test_run_tests.py
Due: .azuredevops/rocm_ci_caller.yml

ci(amdsmi): keep hook config mergeable
  projects/amdsmi/.pre-commit-config.yaml
Due: .azuredevops/rocm_ci_caller.yml

fix(rocr-runtime): Guard against heap reservation failure and system heap reserve ladder for IPC (#11897)
  projects/rocr-runtime/libhsakmt/src/dxg/openclose.cpp
  projects/rocr-runtime/libhsakmt/tests/dxg/CMakeLists.txt
  projects/rocr-runtime/rocrtst/common/common.cc
  projects/rocr-runtime/rocrtst/common/common.h
  projects/rocr-runtime/rocrtst/config/platform_config.yaml
  projects/rocr-runtime/rocrtst/suites/functional/heap_reservation.cc
  projects/rocr-runtime/rocrtst/suites/functional/heap_reservation.h
  projects/rocr-runtime/rocrtst/suites/test_common/main.cc
  projects/rocr-runtime/rocrtst/suites/test_common/test_categories.yaml
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix(clr): drop redundant OCP conjunction from the block16 guards
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_fp4.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_fp6.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_ocp_fp.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix(clr): enable the pk16 scaled converts on gfx1250-strict
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_mx_common.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_ocp_fp.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix(clr): separate the pk8 scale gating from the pk16 gating
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_fp4.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_mx_common.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_ocp_fp.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix(clr): gate the scaled fp8/bf8 unpack converts on block16 too
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_ocp_fp.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix(clr): enable the pk8 scaled converts on gfx1250-strict
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_mx_common.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_ocp_fp.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix(clr): don't take the gfx1250 OCP builtin path on gfx1250-strict
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_mx_common.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_ocp_fp.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix(clr): gate only the block16 converts, not the whole gfx1250 OCP path
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_fp4.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_fp6.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_mx_common.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_ocp_fp.hpp
Due: .azuredevops/rocm_ci_caller.yml

adding docs info on raid
  projects/hipfile/docs/how-to/checking-system-compatibility.rst
  projects/hipfile/docs/troubleshooting/limitations.rst
  projects/hipfile/tools/ais-check/ais-check
  projects/hipfile/tools/ais-check/tests/test_volumes.py
Due: .azuredevops/rocm_ci_caller.yml

doc cleanup
  projects/hipfile/tools/ais-check/ais-check
Due: .azuredevops/rocm_ci_caller.yml

test(hip-tests): cover the OCP scaled-convert gates on gfx1250-strict
  projects/hip-tests/catch/unit/deviceLib/CMakeLists.txt
  projects/hip-tests/catch/unit/deviceLib/ocp_scale_gate.cc
Due: .azuredevops/rocm_ci_caller.yml

add ll128 support for dda RS
  projects/rccl/src/algorithms/dda/reduce_scatter/dda_reduce_scatter_fabric_ll128.cu
  projects/rccl/src/algorithms/dda/reduce_scatter/reduce_scatter_dda_fabric_ll128.h
  projects/rccl/test/DdaFabricEligibilityTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): add host microtests for diagnostics p2p imports (#12737)
  projects/rccl/test/host/diag-p2p-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): stamp each peer's ipcDesc in the diag p2p run scene
  projects/rccl/test/host/diag-p2p-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): add host microtests for diagnostics p2p run
  projects/rccl/test/host/diag-p2p-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): address review feedback on diag p2p run tests
  projects/rccl/test/host/diag-p2p-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): fail one test on untracked diag frees and report host leaks
  projects/rccl/test/host/diag-p2p-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): split diag cudaDev from rank in the p2p run tests
  projects/rccl/test/host/diag-p2p-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): pin null mappings cleanup and tighten diag p2p run scene checks
  projects/rccl/test/host/diag-p2p-test.cc
Due: .azuredevops/rocm_ci_caller.yml

Add hipDeviceGetP2PAtomicCapabilities
  projects/clr/CHANGELOG.md
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
  projects/clr/hipamd/src/amdhip.def.in
  projects/clr/hipamd/src/hip_api_trace.cpp
  projects/clr/hipamd/src/hip_hcc.map.in
  projects/clr/hipamd/src/hip_peer.cpp
  projects/clr/hipamd/src/hip_table_interface.cpp
  projects/clr/hipamd/src/profiler/hip_clr_dispatch_wrappers.cpp
  projects/hip-tests/catch/config/configs/unit/p2p.yaml
  projects/hip-tests/catch/unit/p2p/CMakeLists.txt
  projects/hip-tests/catch/unit/p2p/hipDeviceGetP2PAtomicCapabilities.cc
  projects/hip/include/hip/hip_runtime_api.h
  projects/hipother/hipnv/include/hip/nvidia_detail/nvidia_hip_runtime_api.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/runtime_api_id.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/abi.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/hip.def.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add missing rocprof struct
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/api_args.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Update HRR generator script
  projects/hrr/tools/gen_hrr_api_args.py
Due: .azuredevops/rocm_ci_caller.yml

Make hipDeviceGetP2PAtomicCapabilities hrr noop
  projects/hrr/playback/hip_playback_generated.cpp
  projects/hrr/tools/gen_hrr_api_args.py
Due: .azuredevops/rocm_ci_caller.yml

Update auto generated files
  projects/clr/hipamd/src/hrr/hip_capture_generated.cpp
  projects/hrr/include/hrr/hrr_api_args.h
  projects/hrr/playback/hip_playback_generated.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add contract testing
  projects/hip-tests/catch/config/configs/contract.yaml
  projects/hip-tests/catch/contract/README.md
  projects/hip-tests/catch/contract/peer_query/test_hip_peer_query_contract.cc
Due: .azuredevops/rocm_ci_caller.yml

Update markdown files
  projects/hip-tests/CONTRACT_COVERAGE.md
  projects/hip-tests/catch/TEST_PLAN.md
Due: .azuredevops/rocm_ci_caller.yml

Regenerate HRR and test-plan artifacts after rebase
  projects/clr/hipamd/src/hrr/hip_capture_generated.cpp
  projects/hip-tests/CONTRACT_COVERAGE.md
  projects/hip-tests/catch/TEST_PLAN.md
  projects/hrr/include/hrr/hrr_api_args.h
  projects/hrr/playback/hip_playback_generated.cpp
Due: .azuredevops/rocm_ci_caller.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
