Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

[hip-tests] Enable yaml configurations for disabled tests (#4585)
  projects/hip-tests/catch/CMakeLists.txt
  projects/hip-tests/catch/README.md
  projects/hip-tests/catch/config/CMakeLists.txt
  projects/hip-tests/catch/config/configs/multiproc.yaml
  projects/hip-tests/catch/config/configs/unit/assertion.yaml
  projects/hip-tests/catch/config/configs/unit/cooperativeGrps.yaml
  projects/hip-tests/catch/config/configs/unit/device.yaml
  projects/hip-tests/catch/config/configs/unit/deviceLib.yaml
  projects/hip-tests/catch/config/configs/unit/errorHandling.yaml
  projects/hip-tests/catch/config/configs/unit/event.yaml
  projects/hip-tests/catch/config/configs/unit/gl_interop.yaml
  projects/hip-tests/catch/config/configs/unit/graph.yaml
  projects/hip-tests/catch/config/configs/unit/kernel.yaml
  projects/hip-tests/catch/config/configs/unit/math.yaml
  projects/hip-tests/catch/config/configs/unit/memory.yaml
  projects/hip-tests/catch/config/configs/unit/module.yaml
  projects/hip-tests/catch/config/configs/unit/multiThread.yaml
  projects/hip-tests/catch/config/configs/unit/rtc.yaml
  projects/hip-tests/catch/config/configs/unit/stream.yaml
  projects/hip-tests/catch/config/configs/unit/streamperthread.yaml
  projects/hip-tests/catch/config/configs/unit/texture.yaml
  projects/hip-tests/catch/config/configs/unit/virtualMemoryManagement.yaml
  projects/hip-tests/catch/config/configs/unit/warp.yaml
  projects/hip-tests/catch/hipTestMain/config/config_amd_linux
  projects/hip-tests/catch/hipTestMain/config/config_amd_windows
  projects/hip-tests/catch/hipTestMain/config/config_amd_wsl.json
  projects/hip-tests/catch/hipTestMain/config/config_nvidia_linux.json
  projects/hip-tests/catch/hipTestMain/config/config_nvidia_windows.json
  projects/hip-tests/catch/hipTestMain/hip_test_context.cc
  projects/hip-tests/catch/hipTestMain/main.cc
  projects/hip-tests/catch/include/hip_test_common.hh
  projects/hip-tests/catch/include/hip_test_context.hh
  projects/hip-tests/catch/packaging/CMakeLists.txt
  projects/hip-tests/catch/unit/compiler/CMakeLists.txt
  projects/hip-tests/catch/unit/sanityTests/deviceSideMalloc.cc
  projects/hip-tests/catch/unit/sanityTests/hipHostRegister.cc
Due: .azuredevops/rocm_ci_caller.yml

[AMD-SMI] Add split PR to review agent & update precommit instructions (#4669)
  projects/amdsmi/.claude/agents/amdsmi-review.agent.md
  projects/amdsmi/.pre-commit-config.yaml
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-561339 : Tests for hipGetProcAddress and hipGetProcAddress_spt API's (#1703)
  projects/hip-tests/catch/config/configs/unit/dynamicLoading.yaml
  projects/hip-tests/catch/unit/dynamicLoading/CMakeLists.txt
  projects/hip-tests/catch/unit/dynamicLoading/hipApiDynamicLoad.cc
  projects/hip-tests/catch/unit/dynamicLoading/hipGetProcAddress.cc
  projects/hip-tests/catch/unit/dynamicLoading/hipGetProcAddressCompilerOption.cc
Due: .azuredevops/rocm_ci_caller.yml

fix free(): invalid pointer on process exit (#4660)
  projects/amdsmi/rocm_smi/src/rocm_smi_main.cc
Due: .azuredevops/rocm_ci_caller.yml

Header comment format changes (#4690)
  projects/amdsmi/include/amd_smi/amdsmi.h
Due: .azuredevops/rocm_ci_caller.yml

[AMD-SMI] Update detect_asic_filter.sh to log stderror instead (#4523)
  projects/amdsmi/tests/amd_smi_test/detect_asic_filter.sh
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-sdk] Fix incorrect original signal update in async copy handler (#4637)
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/async_copy.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add atgutier to rocr-runtime codeowners (#4697)
  .github/CODEOWNERS
Due: none

Downgrade no CPUs to warning (#4694)
  projects/rdc/rdc_libs/rdc/src/RdcEmbeddedHandler.cc
Due: .azuredevops/rdc.yml, .azuredevops/rocm_ci_caller.yml

[AMD-SMI] Add group check to version command (#3761)
  projects/amdsmi/amdsmi_cli/amdsmi_commands.py
Due: .azuredevops/rocm_ci_caller.yml

[AMD-SMI][SWDEV-581081] Catch invalid handles (#3785)
  projects/amdsmi/src/amd_smi/amd_smi.cc
Due: .azuredevops/rocm_ci_caller.yml

Add /experimental/rocjitsu to codeowners. (#4704)
  .github/CODEOWNERS
Due: none

[rocprofiler-sdk][rocprofv3][rocpd] Update integration tests for KFD (#3810)
  projects/rocprofiler-sdk/source/lib/python/rocpd/source/sql_generator.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/metrics.hpp
  projects/rocprofiler-sdk/tests/bin/transpose/transpose.cpp
  projects/rocprofiler-sdk/tests/rocprofv3/kfd/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[ROCM-20642] Refactoring unit_id calculation for GPUs (#4512)
  projects/cuid/lib/src/cuid_gpu.cc
  projects/cuid/lib/src/cuid_util.cc
  projects/cuid/lib/src/cuid_util.h
Due: .azuredevops/rocm_ci_caller.yml

[RCCL] disable AMDSMI by default due to concurrency issue in amdsmi_init (#4699)
  projects/rccl/src/misc/amdsmi_wrap.cc
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Roofline benchmark refactoring (#4275)
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/docs/conceptual/pipeline-metrics.rst
  projects/rocprofiler-compute/docs/conf.py
  projects/rocprofiler-compute/docs/data/metrics/gfx90a_metrics.yaml
  projects/rocprofiler-compute/docs/data/metrics/gfx942_metrics.yaml
  projects/rocprofiler-compute/docs/data/metrics/gfx950_metrics.yaml
  projects/rocprofiler-compute/pyproject.toml
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_webui.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/roofline/benchmark/benchmark_base.py
  projects/rocprofiler-compute/src/roofline/benchmark/gfx9/benchmark_gfx90a.py
  projects/rocprofiler-compute/src/roofline/benchmark/gfx9/benchmark_gfx942.py
  projects/rocprofiler-compute/src/roofline/benchmark/gfx9/benchmark_gfx950.py
  projects/rocprofiler-compute/src/roofline/benchmark/gfx9/benchmark_gfx9_base.py
  projects/rocprofiler-compute/src/roofline/roofline_main.py
  projects/rocprofiler-compute/src/roofline/run_benchmark.py
  projects/rocprofiler-compute/src/utils/benchmark.py
  projects/rocprofiler-compute/src/utils/gui_components/memchart.py
  projects/rocprofiler-compute/src/utils/hip_interface.py
  projects/rocprofiler-compute/src/utils/hiprtc_interface.py
  projects/rocprofiler-compute/src/utils/mem_chart.py
  projects/rocprofiler-compute/src/utils/roofline_calc.py
  projects/rocprofiler-compute/tests/test_analyze_commands.py
  projects/rocprofiler-compute/tests/test_profile_general.py
  projects/rocprofiler-compute/tests/test_utils.py
  projects/rocprofiler-compute/tools/config_management/metric_description_manager.py
  projects/rocprofiler-compute/tools/per_arch_metric_definitions/gfx90a_metrics_description.yaml
  projects/rocprofiler-compute/tools/per_arch_metric_definitions/gfx940_metrics_description.yaml
  projects/rocprofiler-compute/tools/per_arch_metric_definitions/gfx941_metrics_description.yaml
  projects/rocprofiler-compute/tools/per_arch_metric_definitions/gfx942_metrics_description.yaml
  projects/rocprofiler-compute/tools/per_arch_metric_definitions/gfx950_metrics_description.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[CUID] Setup Sphinx + Doxygen Documentation (#4689)
  projects/cuid/README.md
  projects/cuid/docs/.gitignore
  projects/cuid/docs/conceptual/cuid_file_format.md
  projects/cuid/docs/conceptual/what_is_cuid.md
  projects/cuid/docs/conf.py
  projects/cuid/docs/doxygen/.gitignore
  projects/cuid/docs/doxygen/Doxyfile.in
  projects/cuid/docs/how-to/cuid-cli-tool.md
  projects/cuid/docs/index.md
  projects/cuid/docs/install/install.md
  projects/cuid/docs/reference/amdcuid-c-api.md
  projects/cuid/docs/sphinx/_toc.yml
  projects/cuid/docs/sphinx/_toc.yml.in
  projects/cuid/docs/sphinx/requirements.in
  projects/cuid/docs/sphinx/requirements.txt
  projects/cuid/lib/include/amd_cuid.h
Due: .azuredevops/rocm_ci_caller.yml

fix --rocm-domains CLI option removed by config_settings guard (#4684)
  projects/rocprofiler-systems/source/bin/rocprof-sys-avail/avail.cpp
  projects/rocprofiler-systems/source/lib/core/config.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Update rocm-docs-core version to 1.32.0 (#4692)
  projects/rdc/docs/sphinx/requirements.in
  projects/rdc/docs/sphinx/requirements.txt
Due: .azuredevops/rocm_ci_caller.yml

[RCCL] Move tuning logs from NCCL_INIT to NCCL_TUNING in enqueue.cc (#4703)
  projects/rccl/src/enqueue.cc
Due: .azuredevops/rocm_ci_caller.yml

rocrtst: Remove call to hsa_amd_memory_unlock
  projects/rocr-runtime/rocrtst/suites/functional/memory_atomics.cc
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[rocprofiler-sdk][CI] Add formatting for `config.yaml` file (#3219)
  .github/workflows/rocprofiler-sdk-formatting.yml
  projects/rocprofiler-sdk/requirements.txt
  projects/rocprofiler-sdk/source/scripts/format-deps.py
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk/config.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rocprofiler-compute] memory bandwidth bottleneck detection metrics - EA (#4237)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/sample/membw_analysis_test_suite/ea/Makefile
  projects/rocprofiler-compute/sample/membw_analysis_test_suite/ea/README.md
  projects/rocprofiler-compute/sample/membw_analysis_test_suite/ea/ea_atomic_pressure.hip
  projects/rocprofiler-compute/sample/membw_analysis_test_suite/ea/ea_fabric_bw.hip
  projects/rocprofiler-compute/sample/membw_analysis_test_suite/ea/ea_hbm_read_bw.hip
  projects/rocprofiler-compute/sample/membw_analysis_test_suite/ea/ea_hbm_write_bw.hip
  projects/rocprofiler-compute/sample/membw_analysis_test_suite/ea/ea_io_bw.hip
  projects/rocprofiler-compute/sample/membw_analysis_test_suite/ea/ea_rw_balance.hip
  projects/rocprofiler-compute/sample/membw_analysis_test_suite/ea/ea_write_backpressure.hip
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx950/3000_mem_bw.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx9_config_template.yaml
  projects/rocprofiler-compute/src/utils/.config_hashes.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocshmem] gda/mlx5: initialize all variables in mlx5_poll_cq_until() (#4698)
  projects/rocshmem/src/gda/mlx5/queue_pair_mlx5.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add new envvars to documentation, copy documentation strings to the rocshmem-info output
  projects/rocshmem/docs/api/env_variables.rst
  projects/rocshmem/src/envvar.cpp
Due: .azuredevops/rocm_ci_caller.yml

rocjitsu: Add design plan for DBT/DBI
  experimental/rocjitsu/docs/dbt_dbi_plan.md
Due: none

Correct GPU discovery method
  projects/cuid/lib/src/cuid_gpu.cc
  projects/cuid/lib/src/cuid_gpu.h
  projects/cuid/lib/src/cuid_util.cc
Due: .azuredevops/rocm_ci_caller.yml

Remove global documentation ownership from CODEOWNERS
  .github/CODEOWNERS
Due: none

Fix typo in rocprofiler-compute-ghcr.yml
  .github/workflows/rocprofiler-compute-ghcr.yml
Due: none

enable rccl-tests device API support build
  projects/rccl-tests/src/Makefile
  projects/rccl-tests/src/all_reduce.cu
  projects/rccl-tests/src/alltoall.cu
  projects/rccl-tests/src/rccl_vector_types.h
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/device/op128.h
  projects/rccl/src/device/prims_ll.h
  projects/rccl/src/include/device.h
  projects/rccl/src/include/nccl_device/coop.h
  projects/rccl/src/include/nccl_device/impl/ll_a2a__funcs.h
  projects/rccl/src/include/nccl_device/ptr.h
  projects/rccl/src/include/nccl_device/rccl_ptr.h
Due: .azuredevops/rocm_ci_caller.yml

remove the min/max undef for hip-tests
  projects/hip-tests/catch/include/hip_test_common.hh
  projects/hip-tests/catch/unit/math/validators.hh
Due: .azuredevops/rocm_ci_caller.yml

remove change in devprogram.cpp‎
  projects/clr/rocclr/device/devprogram.cpp
Due: .azuredevops/rocm_ci_caller.yml

Fix for SDK crash in KFD in version before 1.2.2
  projects/rocprofiler-systems/source/lib/core/rocprofiler-sdk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Port --arch and --dry-run CLI features with dependencies
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/utils/specs.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[aqlprofile] Fix ASAN build error by deferring GTest discovery to test runtime
  projects/aqlprofile/src/core/tests/CMakeLists.txt
  projects/aqlprofile/src/pm4/tests/CMakeLists.txt
  projects/aqlprofile/src/util/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Add some missing envvars
  projects/rocshmem/docs/api/env_variables.rst
Due: .azuredevops/rocm_ci_caller.yml

Remove duplicate entry for SQ_SIZE introduced as a merge error earlier in this branch
  projects/rocshmem/src/envvar.cpp
Due: .azuredevops/rocm_ci_caller.yml

Fix error handling and atomic usage
  projects/hip-tests/catch/include/hip_test_process.hh
  projects/hip-tests/catch/unit/device/hipDeviceSetGetLimit.cc
  projects/hip-tests/catch/unit/memory/hipMemPoolExportToShareableHandle.cc
  projects/hip-tests/catch/unit/memory/hipMemPoolImportPointer.cc
  projects/hip-tests/catch/unit/memory/mempool_common.hh
Due: .azuredevops/rocm_ci_caller.yml
