Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Ensure proper error message when trying to run iteration multiplexing with attach/detach
  projects/rocprofiler-compute/docs/how-to/live_attach_detach.rst
  projects/rocprofiler-compute/docs/how-to/profile/mode.rst
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add changelog entry for PR #2172 (thread limit improvements)
  projects/rocprofiler-systems/CHANGELOG.md
  projects/rocprofiler-systems/CMakeLists.txt
  projects/rocprofiler-systems/CMakePresets.json
  projects/rocprofiler-systems/docs/reference/development-guide.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Added README files
  ROCM-SYSTEMS_FIND_PACKAGE_GUIDE.md
  examples/findROCMSystems_test/README.md
  examples/test-application/README.md
Due: none

Add Support for findrocm Test
  shared/FINDROCm/CMAKE_Config_gen_FINDROCm.sh
  shared/FINDROCm/CMakeLists.txt
  shared/FINDROCm/cmake/FINDROCmConfig.cmake.in
  shared/FINDROCm/examples/findROCM_test/CMakeLists.txt
  shared/FINDROCm/examples/test-application/CMakeLists.txt
  shared/FINDROCm/examples/test-application/hsa_runtime_test.cpp
  shared/FINDROCm/examples/test-application/rocm_info_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

Move Files to Shared folder
  shared/find-rocm-systems/CMAKE_Config_gen_rocm-systems.sh
  shared/find-rocm-systems/CMakeLists.txt
  shared/find-rocm-systems/ROCM-SYSTEMS_FIND_PACKAGE_GUIDE.md
  shared/find-rocm-systems/cmake/README.md
  shared/find-rocm-systems/cmake/rocm-systems-config.cmake.in
  shared/find-rocm-systems/examples/README.md
  shared/find-rocm-systems/examples/findROCMSystems_test/CMakeLists.txt
  shared/find-rocm-systems/examples/findROCMSystems_test/README.md
  shared/find-rocm-systems/examples/test-application/CMakeLists.txt
  shared/find-rocm-systems/examples/test-application/README.md
  shared/find-rocm-systems/examples/test-application/hsa_runtime_test.cpp
  shared/find-rocm-systems/examples/test-application/rocm_info_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

findrocm POC intial version
  CMAKE_Config_gen_rocm-systems.sh
  CMakeLists.txt
  cmake/rocm-systems-config.cmake.in
  examples/test-application/CMakeLists.txt
  examples/test-application/hsa_runtime_test.cpp
  examples/test-application/rocm_info_test.cpp
  examples/test-application/tracer_test.cpp
Due: none

Update Review Comments - Avoid hard coded rocm path config
  shared/FINDROCm/CMAKE_Config_gen_FINDROCm.sh
  shared/FINDROCm/cmake/FINDROCmConfig.cmake.in
Due: .azuredevops/rocm_ci_caller.yml

Add Review Comments removing hardcode path
  shared/FINDROCm/CMAKE_Config_gen_FINDROCm.sh
  shared/FINDROCm/CMakeLists.txt
  shared/FINDROCm/FINDROCM_FIND_PACKAGE_GUIDE.md
  shared/FINDROCm/cmake/FINDROCmConfig.cmake.in
  shared/FINDROCm/examples/findROCM_test/CMakeLists.txt
  shared/FINDROCm/examples/findROCM_test/README.md
  shared/FINDROCm/examples/test-application/CMakeLists.txt
  shared/FINDROCm/examples/test-application/README.md
Due: .azuredevops/rocm_ci_caller.yml

Update UT Fix/Clean up
  CMakeLists.txt
  cmake/README.md
  examples/README.md
  examples/findROCMSystems_test/CMakeLists.txt
  examples/test-application/CMakeLists.txt
  examples/test-application/hsa_runtime_test.cpp
  examples/test-application/rocm_info_test.cpp
  examples/test-application/tracer_test.cpp
Due: none

[SWDEV-567284] AMDSMI conceptual documentation for setting perf determinism
  projects/amdsmi/docs/conceptual/perf-determinism.md
  projects/amdsmi/docs/index.md
  projects/amdsmi/docs/sphinx/_toc.yml.in
Due: .azuredevops/rocm_ci_caller.yml

Causes rocprofiler workflows to not trigger on docs-only changes.
  .github/workflows/azure-ci-dispatcher.yml
  .github/workflows/rocprofiler-compute-continuous-integration.yml
  .github/workflows/rocprofiler-compute-formatting.yml
  .github/workflows/rocprofiler-compute-rhel-8.yml
  .github/workflows/rocprofiler-compute-tarball.yml
  .github/workflows/rocprofiler-compute-ubuntu-jammy.yml
  .github/workflows/rocprofiler-register-continuous-integration.yml
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  .github/workflows/rocprofiler-sdk-codeql.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-formatting.yml
  .github/workflows/rocprofiler-sdk-python.yml
  .github/workflows/rocprofiler-sdk-restrictions.yml
  .github/workflows/rocprofiler-sdk-rocm_release_compatibility.yml
  .github/workflows/rocprofiler-systems-containers.yml
  .github/workflows/rocprofiler-systems-continuous-integration.yml
  .github/workflows/rocprofiler-systems-cpack.yml
  .github/workflows/rocprofiler-systems-debian.yml
  .github/workflows/rocprofiler-systems-formatting.yml
  .github/workflows/rocprofiler-systems-ghcr.yml
  .github/workflows/rocprofiler-systems-opensuse.yml
  .github/workflows/rocprofiler-systems-python.yml
  .github/workflows/rocprofiler-systems-redhat.yml
  .github/workflows/rocprofiler-systems-release.yml
  .github/workflows/rocprofiler-systems-ubuntu-jammy.yml
  .github/workflows/rocprofiler-systems-ubuntu-noble.yml
Due: none

Test commit; do not merge to develop.
  projects/rocprofiler-compute/src/test_file.h
  test_file.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Test commit; do not merge to develop.
  projects/rocprofiler-compute/src/test_file.txt
  test_file.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Edits most rocprofiler workflows to exclude docs-only changes.
  .github/workflows/rocprofiler-compute-continuous-integration.yml
  .github/workflows/rocprofiler-compute-formatting.yml
  .github/workflows/rocprofiler-compute-rhel-8.yml
  .github/workflows/rocprofiler-compute-tarball.yml
  .github/workflows/rocprofiler-compute-ubuntu-jammy.yml
  .github/workflows/rocprofiler-register-continuous-integration.yml
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  .github/workflows/rocprofiler-sdk-codeql.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-formatting.yml
  .github/workflows/rocprofiler-sdk-python.yml
  .github/workflows/rocprofiler-sdk-restrictions.yml
  .github/workflows/rocprofiler-sdk-rocm_release_compatibility.yml
  .github/workflows/rocprofiler-systems-containers.yml
  .github/workflows/rocprofiler-systems-continuous-integration.yml
  .github/workflows/rocprofiler-systems-cpack.yml
  .github/workflows/rocprofiler-systems-debian.yml
  .github/workflows/rocprofiler-systems-formatting.yml
  .github/workflows/rocprofiler-systems-ghcr.yml
  .github/workflows/rocprofiler-systems-opensuse.yml
  .github/workflows/rocprofiler-systems-python.yml
  .github/workflows/rocprofiler-systems-redhat.yml
  .github/workflows/rocprofiler-systems-release.yml
  .github/workflows/rocprofiler-systems-ubuntu-jammy.yml
  .github/workflows/rocprofiler-systems-ubuntu-noble.yml
Due: none

Fixes some accidental changes in rocprofiler CI workflows.
  .github/workflows/rocprofiler-register-continuous-integration.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

update matrix transpose workload.
  projects/rocprofiler-compute/sample/matrix_transpose.cpp
  projects/rocprofiler-compute/src/rocprof_compute_tui/widgets/center_panel/mem_bw_tree/mem_bw_tree_panel.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/widgets/center_panel/mem_bw_tree/rules.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

SWDEV-570501 - Remove hsa_handle_type_t
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Cleanup Stream::Destroy()
  projects/clr/hipamd/src/hip_stream.cpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-570501 - Refactor Memory::interopMapBuffer()
  projects/clr/rocclr/device/rocm/rocmemory.cpp
  projects/clr/rocclr/device/rocm/rocmemory.hpp
Due: .azuredevops/rocm_ci_caller.yml

show algo/proto/nchannels with -M also for alltoall test
  src/alltoall.cu
Due: none

Update using-rocprofv3-with-openmp.rst (#2473)
  projects/rocprofiler-sdk/source/docs/how-to/using-rocprofv3-with-openmp.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rocrtst: Add test cases for interrupt disabled mode
  projects/rocr-runtime/rocrtst/suites/test_common/main.cc
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Update rdc.h
  projects/rdc/include/rdc/rdc.h
Due: .azuredevops/rdc.yml, .azuredevops/rocm_ci_caller.yml

comment update for wrong units associted with RDC_FI_GPU_MEMORY_CUR_BANDWIDTH
  projects/rdc/include/rdc/rdc.h
Due: .azuredevops/rdc.yml, .azuredevops/rocm_ci_caller.yml

Cleanup cmake
  projects/rocprofiler-systems/cmake/Packages.cmake
  projects/rocprofiler-systems/source/lib/core/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/defines.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Updating licensing header
  projects/rocprofiler-systems/cmake/Packages.cmake
  projects/rocprofiler-systems/source/lib/core/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/defines.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

updated 'amdsmi list --cpu all' command, which returns NA
  projects/amdsmi/amdsmi_cli/amdsmi_commands.py
Due: .azuredevops/rocm_ci_caller.yml

rocr: Fix asyncHandler segfault (#2261) (#2506)
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

SWDEV-558081 - Fix memory leak in hip_fatbin.cpp UncompressAndPopulateCodeObject (#1692) (#2002)
  projects/clr/hipamd/src/hip_fatbin.cpp
Due: .azuredevops/rocm_ci_caller.yml

[RDC] Optimize RDC counter sampling with greedy packing algorithm (#1… (#2349)
  projects/rdc/include/rdc_modules/rdc_rocp/RdcRocpBase.h
  projects/rdc/include/rdc_modules/rdc_rocp/RdcRocpCounterSampler.h
  projects/rdc/rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  projects/rdc/rdc_libs/rdc_modules/rdc_rocp/RdcRocpCounterSampler.cc
  projects/rdc/rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
Due: .azuredevops/rdc.yml, .azuredevops/rocm_ci_caller.yml

rocr/aie: Use util/os to get system memory
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/xdna/amd_xdna_driver.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_xdna_driver.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_aie_agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Update CODEOWNERS for ROCR-Runtime
  .github/CODEOWNERS
Due: none

Add xdist support
  projects/rocprofiler-systems/tests/pytest/conftest.py
  projects/rocprofiler-systems/tests/pytest/requirements.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

rsmi tests failing on Frequency/Power/GpuMetrics ReadOnly Fix
  projects/rocm-smi-lib/tests/rocm_smi_test/functional/frequencies_read.cc
  projects/rocm-smi-lib/tests/rocm_smi_test/functional/gpu_metrics_read.cc
  projects/rocm-smi-lib/tests/rocm_smi_test/functional/power_read.cc
Due: .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml

Adding support for SPM device mode
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/experimental/spm.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/context/context.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/context/context.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/agent_cache.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/device_counting.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/device_counting.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/spm_core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/spm_core.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/spm_decode.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/spm_service.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Revamp how output is displayed
  projects/rocprofiler-systems/tests/pytest/conftest.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Analysis database v1.2.0
  projects/rocprofiler-compute/docs/data/analyze/analysis_data_dump_schema.png
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/src/utils/analysis_orm.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

SWDEV-573589 - Fixed performance regression due to the increase of the signal pool (#2471)
  projects/clr/rocclr/device/rocm/rocdefs.hpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.hpp
Due: .azuredevops/rocm_ci_caller.yml
