Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

refactor(argparse): privatise parser_t; add parsed_values adapter
  projects/rocprofiler-systems/source/lib/core/argparse.cpp
  projects/rocprofiler-systems/source/lib/core/argparse.hpp
  projects/rocprofiler-systems/source/lib/core/argparse/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/argparse/core_flags.cpp
  projects/rocprofiler-systems/source/lib/core/argparse/detail/parser_engine.hpp
  projects/rocprofiler-systems/source/lib/core/argparse/interpreter.cpp
  projects/rocprofiler-systems/source/lib/core/argparse/parsed_values.cpp
  projects/rocprofiler-systems/source/lib/core/argparse/parsed_values.hpp
  projects/rocprofiler-systems/source/lib/core/argparse/tests/test_register_group.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

refactor(argparse): rewrite custom actions against parsed_values
  projects/rocprofiler-systems/source/lib/core/argparse/core_flags.cpp
  projects/rocprofiler-systems/source/lib/core/argparse/flag_descriptor.hpp
  projects/rocprofiler-systems/source/lib/core/argparse/interpreter.cpp
  projects/rocprofiler-systems/source/lib/core/argparse/tests/test_register_group.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add engine drain contract and packet framing tests
  projects/rocprofiler-systems/source/lib/core/perfetto/packet_framing.hpp
  projects/rocprofiler-systems/source/lib/core/perfetto/sinks.cpp
  projects/rocprofiler-systems/source/lib/core/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/tests/test_packet_framing.cpp
  projects/rocprofiler-systems/source/lib/core/tests/test_perfetto_engine.cpp
  projects/rocprofiler-systems/source/tests/CMakeLists.txt
  projects/rocprofiler-systems/tests/pytest/test_cached_perfetto_multipid.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

refactor(argparse): migrate --launcher; validate descriptors; mark leaks
  projects/rocprofiler-systems/source/lib/core/argparse.cpp
  projects/rocprofiler-systems/source/lib/core/argparse/core_flags.cpp
  projects/rocprofiler-systems/source/lib/core/argparse/core_flags.hpp
  projects/rocprofiler-systems/source/lib/core/argparse/interpreter.cpp
  projects/rocprofiler-systems/source/lib/core/argparse/tests/test_register_group.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Apply review suggestions
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/category_region.hpp
  projects/rocprofiler-systems/tests/pytest/test_minimal.py
  projects/rocprofiler-systems/tests/rocpd-validation-rules/minimal/recursion-rules.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Replace trace_sink virtual interface with std::variant dispatch
  projects/rocprofiler-systems/source/lib/core/perfetto/engine.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/engine.hpp
  projects/rocprofiler-systems/source/lib/core/perfetto/sinks.hpp
  projects/rocprofiler-systems/source/lib/core/tests/test_perfetto_engine.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/cache_manager.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

test(argparse): cover parsed_values + descriptor-table invariants
  projects/rocprofiler-systems/source/lib/core/argparse/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/argparse/tests/test_core_flags_table.cpp
  projects/rocprofiler-systems/source/lib/core/argparse/tests/test_parsed_values.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocprofiler-compute] Silence divide-by-zero warnings in metric eval (#6180)
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/src/utils/metrics/metric_evaluator.py
  projects/rocprofiler-compute/tests/test_analysis_db.py
  projects/rocprofiler-compute/tests/test_metric_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

clr: fix hipHostGetDevicePointer The playback must use the new allocated memory
  projects/clr/hipamd/src/hrr/gen_hrr_api_args.py
  projects/clr/hipamd/src/hrr/hip_capture.cpp
  projects/clr/hipamd/src/hrr/hip_capture_generated.cpp
  projects/clr/hipamd/src/hrr/playback/hip_playback.cpp
  projects/clr/hipamd/src/hrr/playback/hip_playback_generated.cpp
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: fix SPM producer/consumer thread shutdown
  projects/aqlprofile/src/core/gfx908_factory.cpp
  projects/aqlprofile/src/core/gfx940_factory.cpp
  projects/aqlprofile/src/core/spm_data.cpp
Due: .azuredevops/rocm_ci_caller.yml

Hoist MPI gather and post-process orchestration out of perfetto sinks
  projects/rocprofiler-systems/source/lib/core/perfetto/counter_track.hpp
  projects/rocprofiler-systems/source/lib/core/perfetto/driver.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/driver.hpp
  projects/rocprofiler-systems/source/lib/core/perfetto/engine.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/sinks.cpp
  projects/rocprofiler-systems/source/lib/core/tests/test_perfetto_engine.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/cache_manager.cpp
  projects/rocprofiler-systems/tests/pytest/test_cached_perfetto_layout.py
  projects/rocprofiler-systems/tests/pytest/test_julia.py
  projects/rocprofiler-systems/tests/pytest/test_live_perfetto_canary.py
  projects/rocprofiler-systems/tests/pytest/test_unified_memory.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

aqlprofile: fix SPM v2 producer/consumer shutdown handshake
  projects/aqlprofile/src/core/spm_v2.cpp
Due: .azuredevops/rocm_ci_caller.yml

clr/rocr: Route batch copies through shader blits/optimize SDMA linearB2B for batch copies
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/clr/rocclr/device/rocm/rocblit.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/platform/command.hpp
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_blit_sdma.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_blit_sdma.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_ext_amd.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Default RCCL_SYM_MODEL to 0 and only log when user sets invalid value
  projects/rccl/src/sym_kernels.cc
Due: .azuredevops/rocm_ci_caller.yml

hip-test: Add HRR tests
  projects/hip-tests/catch/config/configs/unit/hrr.yaml
  projects/hip-tests/catch/unit/CMakeLists.txt
  projects/hip-tests/catch/unit/hrr/CMakeLists.txt
  projects/hip-tests/catch/unit/hrr/hrr_format.cc
  projects/hip-tests/catch/unit/hrr/hrr_roundtrip.cc
  projects/hip-tests/catch/unit/hrr/hrr_workload.cc
Due: .azuredevops/rocm_ci_caller.yml

Add fast linear path
  projects/clr/rocclr/device/rocm/rocblit.cpp
Due: .azuredevops/rocm_ci_caller.yml

Apply SPM teardown fixes to the rocprofiler-sdk vendored aqlprofile tree instead of projects/aqlprofile.
  projects/aqlprofile/src/core/gfx908_factory.cpp
  projects/aqlprofile/src/core/gfx940_factory.cpp
  projects/aqlprofile/src/core/spm_data.cpp
  projects/aqlprofile/src/core/spm_v2.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/gfx908_factory.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/gfx940_factory.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/spm_data.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/spm_v2.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rccl] fix p2p channel invariant: ensure p2pnChannels >= p2pnChannelsPerPeer
  projects/rccl/src/graph/paths.cc
Due: .azuredevops/rocm_ci_caller.yml

Fix bad python validation
  projects/rocprofiler-systems/tests/pytest/test_python.py
  projects/rocprofiler-systems/tests/rocpd-validation-rules/python/python-builtin-rules.json
  projects/rocprofiler-systems/tests/rocpd-validation-rules/python/python-source-rules.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Updated Copyright year to 2026
  projects/cuid/docs/conf.py
Due: .azuredevops/rocm_ci_caller.yml

Unify HIP/CUDA barrier device code with hip_compat.h
  projects/rccl-tests/src/all_reduce.cu
  projects/rccl-tests/src/alltoall.cu
  projects/rccl/src/include/nccl_device/barrier.h
  projects/rccl/src/include/nccl_device/impl/barrier__funcs.h
  projects/rccl/src/include/nccl_device/impl/lsa_barrier__funcs.h
  projects/rccl/src/include/nccl_device/lsa_barrier.h
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] clean up gfx1151 yaml and update docs (#6272)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/docs/conceptual/rdna/system-speed-of-light.rst
  projects/rocprofiler-compute/docs/data/metrics/gfx1151_metrics.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/utils/.config_hashes.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocshmem][gda] Address fence(int pe) review comments
  projects/rocshmem/src/gda/context_gda_device.cpp
Due: .azuredevops/rocm_ci_caller.yml

Added quick level version.
  projects/hip-tests/catch/unit/graph/hipGraphAddNodeConcurrent.cc
Due: .azuredevops/rocm_ci_caller.yml

ROCM-24799 - [clr] Make GraphNode::nextID and Graph::nextID atomic
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

Address copilot review comments.
  projects/hip-tests/catch/unit/graph/hipGraphAddNodeConcurrent.cc
Due: .azuredevops/rocm_ci_caller.yml

Add supporting tests.
  projects/hip-tests/catch/config/configs/unit/graph.yaml
  projects/hip-tests/catch/unit/graph/CMakeLists.txt
  projects/hip-tests/catch/unit/graph/hipGraphAddNodeConcurrent.cc
Due: .azuredevops/rocm_ci_caller.yml

ROCM-24764 - guard Thread::Release() against null virtualDevice_
  projects/clr/rocclr/platform/commandqueue.hpp
Due: .azuredevops/rocm_ci_caller.yml

[hip-tests] expand cooperative_groups split-barrier and memcpy_async coverage
  projects/hip-tests/catch/config/configs/unit/cooperativeGrps.yaml
  projects/hip-tests/catch/config/configs/unit/deviceLib.yaml
  projects/hip-tests/catch/unit/cooperativeGrps/split_barrier.cc
  projects/hip-tests/catch/unit/deviceLib/memcpy_async.cc
Due: .azuredevops/rocm_ci_caller.yml

Revert timeout-minutes.
  .github/workflows/therock-ci-windows.yml
Due: none

remove redundant tests
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Disabling old patch back system
  .github/repos-config.json
Due: none

Apply clang-format (v11).
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/api_args.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/details/format.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Update from review comments
  projects/rocshmem/scripts/functional_tests/perf_compare.py
  projects/rocshmem/scripts/functional_tests/run_perf_compare.sh
Due: .azuredevops/rocm_ci_caller.yml

fix undefined symbols symbols in gdaki
  projects/rccl/src/include/net.h
  projects/rccl/src/plugin/net.cc
  projects/rccl/src/transport/net_ib.cc
Due: .azuredevops/rocm_ci_caller.yml

Addressed clang format failure Removed product reference
  projects/rocprofiler-sdk/source/lib/aqlprofile/aql_profile_v2.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/pmc_builder.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Bump HIP_RUNTIME_API_TABLE_STEP_VERSION to 29.
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
Due: .azuredevops/rocm_ci_caller.yml

Add static keyword to satisfy clang linter
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/controller.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Revision 1
  projects/rocprofiler-systems/source/lib/core/trace_cache/profiled_event_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/sample_type.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_sample_type.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/category_region.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/pthread_create_gotcha.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/pthread_create_gotcha.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/wall_clock_event_trace.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/wall_clock_event_trace.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[llx_latency_bench] rename tool from llx_latency_test
  projects/rccl/tools/llx_latency_bench/Makefile
  projects/rccl/tools/llx_latency_bench/README.md
  projects/rccl/tools/llx_latency_bench/llx_latency_bench.c
Due: .azuredevops/rocm_ci_caller.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
