Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

rocjitsu: adapt analyses to fallible decoder API
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/basic_block.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_analysis.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_candidates.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_sync_analysis.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_validation.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/rj_code.cpp
  emulation/rocjitsu/tests/analysis/waitcheck_test.cpp
  emulation/rocjitsu/tests/decode_smoke_test.cpp
  emulation/rocjitsu/tests/instruction_execution_harness_test.cpp
  emulation/rocjitsu/tests/patch/cdna3_instrumentation_builder_test.cpp
  emulation/rocjitsu/tests/patch/cdna4_instrumentation_builder_test.cpp
  emulation/rocjitsu/tests/patch/consan/branch_only_relay_router_test.cpp
  emulation/rocjitsu/tests/patch/gfx1250_instrumentation_builder_test.cpp
  emulation/rocjitsu/tests/patch/rdna3_instrumentation_builder_test.cpp
  emulation/rocjitsu/tests/patch/rdna4_instrumentation_builder_test.cpp
  emulation/rocjitsu/tests/simd_correctness/vop3_carry_simd_correctness_test.cpp
Due: none

rocjitsu: recover gfx1250 spilled indirect targets
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/indirect_branch_discovery.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/tests/analysis/liveness_test.cpp
  emulation/rocjitsu/tests/dbt/translate_gfx1250_test.cpp
Due: none

rocjitsu: preserve code object patcher section identity
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/amdgpu_code_object.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/tests/code/amdgpu_code_object_test.cpp
Due: none

rocjitsu: align simulator tests with current targets
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.h
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
Due: none

rocjitsu: expose ROCm libraries to simulated ConSan tests
  emulation/rocjitsu/tests/consan/CMakeLists.txt
Due: none

rocjitsu: ready validation for TheRock workspaces
  emulation/rocjitsu/docs/consan/VALIDATION.md
  emulation/rocjitsu/tests/dbi/consan/consan_cdna_hip_moi_registry.py
  emulation/rocjitsu/tests/dbi/consan/consan_tensile_support.py
  emulation/rocjitsu/tests/dbi/consan/consan_validation.py
  emulation/rocjitsu/tests/dbi/consan/test_consan_cdna_hip_moi_sim.py
  emulation/rocjitsu/tests/dbi/consan/test_consan_tensile_validation.py
  emulation/rocjitsu/tests/dbi/consan/test_consan_validation.py
Due: none

rocjitsu: order gfx1250 cluster device fixtures
  emulation/rocjitsu/tests/dbi/consan/device/gfx1250_cluster_device_kernels.hip
Due: none

test that other ROCPROFILER_* are still forwarded to target
  projects/rocprofiler-sdk/tests/rocattach/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocattach/main.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

use string_view comparison
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/rocattach.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

use auto for string
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/rocattach.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

skip forwarding ROCPROFILER_REGISTER_LIBRARY across attach host/target boundary and add test
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/rocattach.cpp
  projects/rocprofiler-sdk/tests/rocattach/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocattach/main.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[test] add print to avoid relying on INFO log
  projects/rocprofiler-sdk/tests/bin/attachment-test/attachment_test.cpp
  projects/rocprofiler-sdk/tests/rocattach/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix sizeof() usage
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/rocattach.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rocjitsu: Point the XCD distribution test at the config that exists
  emulation/rocjitsu/tests/xcd_distribution_test.cpp
Due: none

rocjitsu: stabilize gfx1250 ConSan relays across translation
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_barrier.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_shadow_emission.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_pipeline.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_placement.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_prologue.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_record_replay.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_access.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_sync.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_supercollider_common.inc
  emulation/rocjitsu/tests/patch/consan/moi_record_replay_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_sampled_test.cpp
Due: none

fix(ci): hip-tests exclude Unit_hipVoteSync_All on gfx125X-dcgpu (#7501)
  build_tools/github_actions/test_executable_scripts/test_hiptests.py
Due: none

rocjitsu: size gfx1250 Jakub validation deadline
  emulation/rocjitsu/tests/dbi/consan/consan_validation.py
  emulation/rocjitsu/tests/dbi/consan/test_consan_validation.py
Due: none

Update therock workflows to commit 35ed46c
  .github/workflows/therock-build-linux.yml
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-rccl-ci-linux.yml
  .github/workflows/therock-rccl-test-packages-multi-node.yml
  .github/workflows/therock-rccl-test-packages-single-node.yml
  .github/workflows/therock-rccl-test-pytorch-distributed.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

fix(rccl): LL128 P2P send/recv as a separate kernel variant (#10243)
  projects/rccl/docs/userguide/source/env.rst
  projects/rccl/src/device/common.h
  projects/rccl/src/device/generate.py
  projects/rccl/src/device/sendrecv.h
  projects/rccl/src/device/test_generate_device_table.py
  projects/rccl/src/enqueue.cc
  projects/rccl/src/include/device.h
  projects/rccl/src/transport/net.cc
  projects/rccl/test/SendRecvTests.cpp
  projects/rccl/test/kernel-count/tests/test_kernel_counts.py
Due: .azuredevops/rocm_ci_caller.yml

rocjitsu: apply target-specific validation timeouts
  emulation/rocjitsu/tests/dbi/consan/consan_validation.py
  emulation/rocjitsu/tests/dbi/consan/test_consan_validation.py
Due: none

fix(rocshmem): restore functional tests on gfx1100 (#10090)
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/tests/functional_tests/fence_ordering_tester.cpp
  projects/rocshmem/tests/functional_tests/signaling_operations_tester.cpp
  projects/rocshmem/tests/functional_tests/test_driver.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(mirage): re-check the borrower sweep against the borrowers there are now
  emulation/mirage/supervisor/src/session.rs
Due: none

fix(mirage): record every lease, and do not believe a pid of zero
  emulation/mirage/supervisor/src/rpc.rs
  emulation/mirage/supervisor/src/session.rs
Due: none

fix(mirage): keep the probed library mapped rather than unloading it
  emulation/mirage/rocjitsu_sys/src/daemon.rs
Due: none

fix(mirage): tell a library that will not load apart from one that is old
  emulation/mirage/rocjitsu/src/lib.rs
Due: none

perf(mirage): keep the daemon probe off the run path
  emulation/mirage/ctl/src/lib.rs
  emulation/mirage/rocjitsu/src/lib.rs
Due: none

fix(mirage): guard a subcommand declared trailing at the command level too
  emulation/mirage/src/main.rs
Due: none

test(mirage): wait for the traps, not for a line printed before them
  emulation/mirage/tests/e2e.rs
Due: none

test(mirage): cover the daemon pre-flight, and prove it runs first
  emulation/mirage/supervisor/tests/run.rs
Due: none

rocjitsu: intercept descriptor-created Waitcheck queues
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_waitcheck_hooks.cpp
  emulation/rocjitsu/tests/tools/waitcheck_hooks_unit_test.cpp
Due: none

Revert "feat(rccl): log channel-default decisions at init"
  projects/rccl/src/graph/connect.cc
  projects/rccl/src/graph/paths.cc
  projects/rccl/test/ChannelDefaultsTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

ci(pytorch): Skip windows python 3.14 + pytorch nightly test (#7428)
  .github/workflows/multi_arch_release_linux_pytorch_wheels.yml
  .github/workflows/multi_arch_release_windows_pytorch_wheels.yml
  build_tools/github_actions/configure_pytorch_release_matrix.py
  build_tools/github_actions/tests/configure_multi_arch_ci_test.py
  build_tools/github_actions/tests/configure_pytorch_release_matrix_test.py
Due: none

updated claude.md for rocdecode project
  projects/rocdecode/CLAUDE.md
Due: .azuredevops/rocm_ci_caller.yml

move list-avail output handling to rocprofv3-avail
  projects/rocprofiler-sdk/source/bin/rocprofv3-avail.py
  projects/rocprofiler-sdk/source/bin/rocprofv3.py
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/rocprofiler-avail/rocprofv3_avail.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/rocprofiler-avail/rocprofv3_avail.hpp
  projects/rocprofiler-sdk/tests/rocprofv3-avail/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3-avail/validate_cli.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

revert the list_metrics regex
  projects/rocprofiler-sdk/tests/rocprofv3/counter-collection/list_metrics/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

refactor(amdsmi): rename IGPUBackend methods to snake_case
  projects/amdsmi/include/amd_smi/impl/amd_smi_gpu_backend.h
  projects/amdsmi/include/amd_smi/impl/amd_smi_wsl_device.h
  projects/amdsmi/src/amd_smi/amd_smi.cc
  projects/amdsmi/src/amd_smi/amd_smi_system.cc
  projects/amdsmi/src/amd_smi/amd_smi_ualoe.cc
  projects/amdsmi/src/amd_smi/amd_smi_wsl_device.cc
  projects/amdsmi/tests/amd_smi_test/functional/gpu/thermal/fan_read_test.cc
  projects/amdsmi/tests/amd_smi_test/functional/wsl/smi/wsl_smi_read_test.cc
  projects/amdsmi/tests/amd_smi_test/unit/gpu/wsl_backend_test.cc
Due: .azuredevops/rocm_ci_caller.yml

[AICOMRCCL-ZZZZ] [rccl] Add whitespace-fix commit to blame ignore list
  projects/rccl/.git-blame-ignore-revs
Due: .azuredevops/rocm_ci_caller.yml

[AICOMRCCL-ZZZZ] [rccl] Add pre-commit config with filename-naming hooks
  .pre-commit-config.yaml
  projects/rccl/.pre-commit-config.yaml
  projects/rccl/maint/check_filename_style.py
Due: .azuredevops/rocm_ci_caller.yml
