Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

fix(hrr): never throw for the digest key, and build without sys/random.h
  projects/clr/hipamd/src/hrr/hip_capture_writer.cpp
  projects/hrr/DESIGN.md
  projects/hrr/tests/integration/CMakeLists.txt
  projects/hrr/tests/integration/hrr_capture_capabilities_test.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(hipfile): fall back to POSIX I/O when the KFD lacks the AIS ioctl
  projects/hipfile/CHANGELOG.md
  projects/hipfile/docs/reference/hipFile-io-backends.rst
  projects/hipfile/src/amd_detail/backend/fastpath.cpp
  projects/hipfile/src/amd_detail/hip.cpp
  projects/hipfile/src/amd_detail/hip.h
  projects/hipfile/test/amd_detail/fastpath.cpp
  projects/hipfile/test/amd_detail/hip.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(hipfile): return -hipFileHipDriverError from read/write on HIP errors
  projects/hipfile/CHANGELOG.md
  projects/hipfile/src/amd_detail/hipfile.cpp
  projects/hipfile/test/amd_detail/hipfile-api.cpp
Due: .azuredevops/rocm_ci_caller.yml

feat(hipfile): stop trying the fastpath once the KFD reports no AIS ioctl
  projects/hipfile/CHANGELOG.md
  projects/hipfile/docs/reference/hipFile-io-backends.rst
  projects/hipfile/src/amd_detail/backend/fastpath.cpp
  projects/hipfile/src/amd_detail/configuration.cpp
  projects/hipfile/src/amd_detail/configuration.h
  projects/hipfile/test/amd_detail/async.cpp
  projects/hipfile/test/amd_detail/configuration.cpp
  projects/hipfile/test/amd_detail/fastpath.cpp
  projects/hipfile/test/amd_detail/mconfiguration.h
Due: .azuredevops/rocm_ci_caller.yml

Implement hfma2_sat with clamp and __h*2
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_fp16.h
Due: .azuredevops/rocm_ci_caller.yml

Update projects/rccl/docker/README.md
  projects/rccl/docker/README.md
Due: .azuredevops/rocm_ci_caller.yml

workaround
  projects/rccl/src/rccl_arch_thresholds.cc
  projects/rccl/src/sym_kernels.cc
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Keep the BO state under a dma-buf fd that outlives its KFD allocation
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/interposer.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/interposer_dup_test.cpp
Due: none

repair incompatible csv unzipping interface
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1201/0700_workgroup_processor.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/sdk_config.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx1201.py
  projects/rocprofiler-compute/src/utils/mi_gpu_spec.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocjitsu] Share the SDMA rect layout table and trace each dialect
  emulation/rocjitsu/tests/sdma_packet_processor_test.cpp
Due: none

[rocjitsu] Order the SDMA rect test origins X, Y, Z
  emulation/rocjitsu/tests/sdma_packet_processor_test.cpp
Due: none

[rocjitsu] Address min/max policy and modifier coverage feedback
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/vop3_modifiers.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/output_modifier.h
  emulation/rocjitsu/tests/comparison_test.cpp
  emulation/rocjitsu/tests/source_modifier_test.cpp
  emulation/rocjitsu/tests/valu_fp_mode_test.cpp
Due: none

[rocjitsu] Move the denormal primitive and output-policy tests next to their headers
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/denormal_test.cpp
  emulation/rocjitsu/tests/input_denormal_test.cpp
  emulation/rocjitsu/tests/output_denormal_test.cpp
Due: none

[rocjitsu] Derive the per-lane TRANS list and the SIMD source flush from floating_policy.py, and test the table
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/floating_policy.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/simd_codegen.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/vector_alu.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_floating_policy.py
Due: none

[rocjitsu] Flush F16 helper sources at the register read, before widening
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/sema_lower.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/simd_codegen.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/vector_alu.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_sema_derive.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_sema_lower.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna1/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna2/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop1_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop2_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3_exec_alu.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3_exec_cvt.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/vop1_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/vop2_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/vop1_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/vop2_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vop1_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vop2_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/shared/execute_shared.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/fp_mode.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/pseudo_scalar.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/transcendental.h
  emulation/rocjitsu/tests/pseudo_scalar_exec_test.cpp
  emulation/rocjitsu/tests/transcendental_test.cpp
Due: none

[rocjitsu] Route raw-bit and SIMD F32 denormal flushes through the shared primitive
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/fp_mode.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/lib/util/include/util/simd.h
  emulation/rocjitsu/tests/input_denormal_test.cpp
  emulation/rocjitsu/tests/util_simd_test.cpp
Due: none

[rocjitsu] Keep the F16 source-flush and TRANS-rounding classifications in floating_policy.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/floating_policy.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/sema_lower.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/simd_codegen.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/vector_alu.py
Due: none

[rocjitsu] Test gfx1100 and gfx1030 OMOD order on captured F16 ADD and MUL lanes
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/output_modifier.h
  emulation/rocjitsu/tests/valu_fp_mode_test.cpp
Due: none

[rocjitsu] Use the shared F16 classification and input policy in the remaining generators
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/floating_policy.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/sema_lower.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/simd_codegen.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/vector_alu.py
Due: none

[rocjitsu] Flush CEIL and FLOOR inputs under MODE denormal control
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/sema_lower.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/simd_codegen.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_sema_lower.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna1/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna2/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop1_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3_exec_alu.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/vop1_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/vop1_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vop1_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/shared/execute_shared.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/tests/valu_fp_mode_test.cpp
Due: none

[rocjitsu] Drop the unused MODE argument from the F16 arithmetic, LDEXP and CVT_F32_F16 helpers
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/sema_lower.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/vector_alu.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna1/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna2/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop1_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop2_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3_exec_alu.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3_exec_cvt.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/vop2_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/vop2_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vop1_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vop2_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/shared/execute_shared.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/fp_mode.h
Due: none

[rocjitsu] Describe the F16 unary input policy and the TRANS OMOD discrepancy in their API docs
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/simd_codegen.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
Due: none

[rocjitsu] State the per-target hardware evidence for output modifiers after rounding
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/sema_lower.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/output_modifier.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/tests/valu_fp_mode_test.cpp
Due: none

[rocjitsu] Apply shared output modifiers after rounding F16, F64, conversion and division results
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/sema_lower.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/simd_codegen.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/vector_special.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/vop3_modifiers.py
  emulation/rocjitsu/lib/python/amdisa/sema_derive.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_sema_lower.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna1/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna2/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3_exec_alu.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3_exec_cvt.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/shared/execute_shared.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/transcendental.h
  emulation/rocjitsu/tests/instruction_execution_harness_test.cpp
  emulation/rocjitsu/tests/pseudo_scalar_exec_test.cpp
  emulation/rocjitsu/tests/valu_fp_mode_test.cpp
Due: none

[rocjitsu] Keep F64 FMA, ADD and MUL helpers inside the guest rounding environment
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/fp_mode.h
Due: none

[rocjitsu] Add a shared subnormal flush primitive and output-denormal policy
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/denormal.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/input_denormal.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/output_denormal.h
  emulation/rocjitsu/tests/input_denormal_test.cpp
Due: none

[rocjitsu] Name the F16 unary SIMD flag after the TRANS output policy it selects
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/simd_codegen.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
Due: none

[rocjitsu] Update documentation to clarify F16 policy ownership and derive TRANS tests for simplicity
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/floating_policy.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/input_policy.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/sema_lower.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/simd_codegen.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_floating_policy.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/floating_operation.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/fp_mode.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/output_denormal.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/pseudo_scalar.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/transcendental.h
  emulation/rocjitsu/tests/transcendental_test.cpp
  emulation/rocjitsu/tests/valu_fp_mode_test.cpp
Due: none

[rocjitsu] Remove the unused legacy vector ALU emitters and F16 expression-level OMOD/CLAMP
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/sema_lower.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/simd_codegen.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/vector_alu.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/vector_special.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/vop3_modifiers.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_floating_policy.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_sema_lower.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_sema_validation.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_vector_special_codegen.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_vop3_modifiers.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/output_modifier.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
Due: none

[rocjitsu] Match F16 ternary SIMD with scalar execution for MAD and older min/max
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/simd_codegen.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_vector_special_codegen.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna1/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna2/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3_exec_alu.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vop3_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/shared/execute_shared.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/output_modifier.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/tests/simd_correctness/vop3_ternary_fp_simd_correctness_test.cpp
  emulation/rocjitsu/tests/valu_fp_mode_test.cpp
Due: none

[rocjitsu] Expand MODE-aware F16 SIMD coverage
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/fp_mode.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/tests/valu_fp_mode_test.cpp
Due: none

[rocjitsu] Document the final SIMD and output-mod pipeline coherently
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/simd_codegen.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_floating_policy.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/output_modifier.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/tests/simd_correctness/vop3_fp16_transcendental_simd_correctness_test.cpp
  emulation/rocjitsu/tests/simd_correctness/vop3_fp16_unary_simd_correctness_test.cpp
Due: none

[rocjitsu] Edit the test name to reflect untested SIMD behaviour
  emulation/rocjitsu/tests/valu_fp_mode_test.cpp
Due: none

[rocjitsu] Mark the unused vector ALU emitters as legacy and document OMOD outside the shared stage
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/sema_lower.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/vector_alu.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/vop3_modifiers.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_floating_policy.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_sema_validation.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_vector_special_codegen.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_vop3_modifiers.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/fp_mode.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/output_modifier.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
Due: none

[rocjitsu] Harden FP policy and ternary edge tests
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/floating_policy.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/sema_lower.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_floating_policy.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_sema_lower.py
  emulation/rocjitsu/tests/simd_correctness/vop3_ternary_fp_simd_correctness_test.cpp
Due: none

[rocjitsu] Upgrade F16 arithmetic and TRANS outputs to pass through output_denormal
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/fp_mode.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/transcendental.h
Due: none

[rocjitsu] Update the documentation to clear the migration progress for OMOD
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/output_modifier.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
Due: none

[rocjitsu] Track SIMD fast-path execution in F16 tests
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_coverage.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_path_test_hooks.h
  emulation/rocjitsu/tests/instruction_execution_harness_test.cpp
  emulation/rocjitsu/tests/simd_correctness/vop3_fp16_transcendental_simd_correctness_test.cpp
  emulation/rocjitsu/tests/simd_correctness/vop3_fp16_unary_simd_correctness_test.cpp
  emulation/rocjitsu/tests/simd_correctness/vop3_ternary_fp_simd_correctness_test.cpp
  emulation/rocjitsu/tests/valu_fp_mode_test.cpp
Due: none

[rocjitsu] Preserve F16 SIMD host state and tighten policy coverage
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/sema_lower.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_floating_policy.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_path_test_hooks.h
  emulation/rocjitsu/tests/denormal_test.cpp
  emulation/rocjitsu/tests/output_denormal_test.cpp
  emulation/rocjitsu/tests/simd_correctness/vop3_fp16_transcendental_simd_correctness_test.cpp
  emulation/rocjitsu/tests/simd_correctness/vop3_fp16_unary_simd_correctness_test.cpp
  emulation/rocjitsu/tests/simd_correctness/vop3_ternary_fp_simd_correctness_test.cpp
  emulation/rocjitsu/tests/valu_fp_mode_test.cpp
Due: none

[rocjitsu] Include atomic directly in SIMD test hooks
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_path_test_hooks.h
Due: none
