Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

fix(amdsmi): address PR review comments on set_clk_freq
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
Due: .azuredevops/rocm_ci_caller.yml

test(amdsmi): re-enable TestFrequenciesReadWrite on Aldebaran
  projects/amdsmi/tests/amd_smi_test/amdsmitst.exclude
Due: .azuredevops/rocm_ci_caller.yml

docs(amdsmi): add changelog entry for set_clk_freq INVAL fix
  projects/amdsmi/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

build(ci): bump TheRock hash to cdc7cfea960aaf2035613eb99a7baa246d3419cf
  .github/workflows/therock-build-linux.yml
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-multi-arch-ci-asan-nightly.yml
  .github/workflows/therock-multi-arch-ci-asan.yml
  .github/workflows/therock-multi-arch-ci-nightly.yml
  .github/workflows/therock-multi-arch-ci.yml
  .github/workflows/therock-rccl-ci-linux.yml
  .github/workflows/therock-rccl-test-jax-collective.yml
  .github/workflows/therock-rccl-test-madengine.yml
  .github/workflows/therock-rccl-test-packages-multi-node.yml
  .github/workflows/therock-rccl-test-packages-single-node.yml
  .github/workflows/therock-rccl-test-pytorch-distributed.yml
  .github/workflows/therock-rccl-test-rocprof.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

Add null signal for backwards compatibility for rocr-runtime OOB error
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(kpack): split Windows MIOpen system DBs by architecture
  shared/kpack/python/rocm_kpack/database_handlers.py
  shared/kpack/tests/test_database_handlers.py
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Reuse VM snapshot across dispatch execution
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/dispatch_entry.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/gpu_vm.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/wavefront.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/wavefront.h
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/gpu_vm_pipeline_test.cpp
Due: none

[rocjitsu] Stress dispatch snapshots during VM root replacement
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
Due: none

fix(rccl): restore device code coverage on develop (#12695)
  projects/rccl/cmake/DeviceCoverage.cmake
  projects/rccl/cmake/DeviceLinker.cmake
  projects/rccl/src/CMakeLists.txt
  projects/rccl/tools/scripts/test_runner/tests/test_device_coverage_cmake.py
Due: .azuredevops/rocm_ci_caller.yml

fix(rocjitsu): notify runtime of terminal dispatch revocation
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/aql/aql_packet_types.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
Due: none

[rocjitsu] Retry revoked wave setup before execution
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
Due: none

[rocjitsu] Handle revoked VM snapshots explicitly
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/aql/aql_packet_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/gpu_vm.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/gpu_vm.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/hbm_controller.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/instruction_cache.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/memory_side_cache.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/sdma_packet_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/sdma_ring_consumer.cpp
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/aql_packet_processor_test.cpp
  emulation/rocjitsu/tests/completion_tracker_test.cpp
  emulation/rocjitsu/tests/gpu_vm_pipeline_test.cpp
  emulation/rocjitsu/tests/gpu_vm_service_test.cpp
  emulation/rocjitsu/tests/gpu_vm_translation_test.cpp
  emulation/rocjitsu/tests/instruction_cache_test.cpp
  emulation/rocjitsu/tests/pm4_packet_processor_test.cpp
  emulation/rocjitsu/tests/sdma_ring_consumer_test.cpp
Due: none

chore(rocshmem): [sdma] remove unused hip_scoped namespace (#12500)
  projects/rocshmem/src/gda/context_gda_tmpl_device.hpp
  projects/rocshmem/src/sdma/anvil_device.hpp
  projects/rocshmem/tests/functional_tests/flood_amo_tester.cpp
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Select FLAT wait counters from resolved memory domains (#12561)
  emulation/rocjitsu/docs/memory-wait-counter-coverage.md
  emulation/rocjitsu/docs/race-detector.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/memory_issue.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/mem_state.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/memory_pipeline.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/memory_wait_scoreboard.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/core/wave_race_state.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/core/wave_race_state.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/plugin.cpp
  emulation/rocjitsu/tests/execution_plugin_test.cpp
  emulation/rocjitsu/tests/memory_wait_scoreboard_test.cpp
  emulation/rocjitsu/tests/race-detector/CMakeLists.txt
  emulation/rocjitsu/tests/race-detector/hip_race_gfx950_test.hip
Due: none

Publish rocjitsu handbook 52bcef281513031e3c7026f7c998af697b9300ee
  rocjitsu/.source-revision
  rocjitsu/memory-wait-counter-coverage/index.html
  rocjitsu/race-detector/index.html
  rocjitsu/search/search_index.json
Due: none

[rocjitsu] Apply OP_SEL to the packed sources of integer DOT4 and DOT8
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/__init__.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/packed.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_packed_codegen.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vop3p_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/shared/execute_shared.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/tests/valu_fp_mode_test.cpp
Due: none

test
  .github/workflows/docker_image_debug.yml
Due: none

rccl: run configure-time helper commands with sh instead of bash
  projects/rccl/CMakeLists.txt
  projects/rccl/cmake/scripts/git_version.cmake
  projects/rccl/src/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Remove a few bashims
  projects/rccl/cmake/scripts/add_faults.sh
  projects/rccl/cmake/scripts/add_unroll.sh
  projects/rccl/src/CMakeLists.txt
  projects/rocprofiler-sdk/source/scripts/deduce-sanitizer-lib.sh
  projects/rocr-runtime/runtime/hsa-runtime/image/blit_src/create_hsaco_ascii_file.sh
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocr-runtime.yml

fix(rccl/tools): defer replayer frees past ncclGroupEnd and fix hostname parsing
  projects/rccl/src/include/recorder.h
  projects/rccl/tools/RcclReplayer/Makefile
  projects/rccl/tools/RcclReplayer/rcclReplayer.cpp
  projects/rccl/tools/RcclReplayer/rcclReplayer.hpp
  projects/rccl/tools/RcclReplayer/replay_log_name.hpp
  projects/rccl/tools/RcclReplayer/test_replay_log_name.cpp
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): cover the CollImplInfo channel cap
  projects/rccl/src/enqueue.cc
  projects/rccl/test/host/enqueue-test.cc
Due: .azuredevops/rocm_ci_caller.yml

revert(hip): revert hipSetKernelAttributeDevice API (#12954)
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
  projects/clr/hipamd/include/hip/amd_detail/hip_prof_str.h
  projects/clr/hipamd/src/amdhip.def.in
  projects/clr/hipamd/src/hip_api_trace.cpp
  projects/clr/hipamd/src/hip_code_object.cpp
  projects/clr/hipamd/src/hip_code_object.hpp
  projects/clr/hipamd/src/hip_fatbin.cpp
  projects/clr/hipamd/src/hip_fatbin.hpp
  projects/clr/hipamd/src/hip_global.cpp
  projects/clr/hipamd/src/hip_global.hpp
  projects/clr/hipamd/src/hip_graph.cpp
  projects/clr/hipamd/src/hip_graph_helper.hpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/hipamd/src/hip_hcc.map.in
  projects/clr/hipamd/src/hip_library.cpp
  projects/clr/hipamd/src/hip_library.hpp
  projects/clr/hipamd/src/hip_module.cpp
  projects/clr/hipamd/src/hip_platform.cpp
  projects/clr/hipamd/src/hip_table_interface.cpp
  projects/clr/rocclr/device/devkernel.cpp
  projects/clr/rocclr/device/devkernel.hpp
  projects/clr/rocclr/device/pal/palkernel.cpp
  projects/clr/rocclr/device/rocm/rockernel.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/platform/ndrange.hpp
  projects/hip-tests/CONTRACT_COVERAGE.md
  projects/hip-tests/catch/TEST_PLAN.md
  projects/hip-tests/catch/config/configs/contract.yaml
  projects/hip-tests/catch/config/configs/unit/library.yaml
  projects/hip-tests/catch/contract/kernel_object_attributes/test_hip_kernel_object_attributes_contract.cc
  projects/hip-tests/catch/unit/library/CMakeLists.txt
  projects/hip-tests/catch/unit/library/hipKernelSetAttributeForDevice.cc
  projects/hip-tests/catch/unit/library/lib_attribute.cc
  projects/hip/include/hip/hip_runtime_api.h
  projects/hipother/hipnv/include/hip/nvidia_detail/nvidia_hip_runtime_api.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/api_args.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/runtime_api_id.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/abi.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/hip.def.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Update conf.py to include HTML theme options
  projects/rocminfo/docs/conf.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml

fix(rocprofiler-sdk): avoid EINVAL from a zero-size ring buffer on gfx1151
  projects/rocprofiler-sdk/source/lib/common/container/ring_buffer.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

test(amdsmi): accept NOT_SUPPORTED when the CLI set test restores fans
  projects/amdsmi/tests/python/cli/test_set.py
Due: .azuredevops/rocm_ci_caller.yml

test(amdsmi): read current_id when the CLI set test restores policies
  projects/amdsmi/tests/python/cli/test_set.py
Due: .azuredevops/rocm_ci_caller.yml

refactor(rccl): source PXN as an integer PXN_DISABLE knob
  projects/rccl/src/include/xtp_wrap.h
  projects/rccl/src/misc/xtp_wrap.cc
  projects/rccl/src/rccl_wrap.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor(rocjitsu): split SIMD backends
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/mma/avx512_smfmac.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/mma/avx512_swmmac_k128.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/mma/common.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/mma/portable.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/mma/select.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/mma_exec.h
  emulation/rocjitsu/lib/util/include/util/data_types.h
  emulation/rocjitsu/lib/util/include/util/detail/convert/portable.h
  emulation/rocjitsu/lib/util/include/util/detail/convert/select.h
  emulation/rocjitsu/lib/util/include/util/detail/convert/x86_avx2.h
  emulation/rocjitsu/lib/util/include/util/detail/convert/x86_avx512.h
  emulation/rocjitsu/lib/util/include/util/detail/convert/x86_f16c.h
  emulation/rocjitsu/lib/util/include/util/detail/simd/common.h
  emulation/rocjitsu/lib/util/include/util/detail/simd/config.h
  emulation/rocjitsu/lib/util/include/util/detail/simd/control.h
  emulation/rocjitsu/lib/util/include/util/detail/simd/no_stdx.h
  emulation/rocjitsu/lib/util/include/util/detail/simd/portable.h
  emulation/rocjitsu/lib/util/include/util/detail/simd/select.h
  emulation/rocjitsu/lib/util/include/util/detail/simd/types.h
  emulation/rocjitsu/lib/util/include/util/detail/simd/x86_avx512.h
  emulation/rocjitsu/lib/util/include/util/detail/target_features.h
  emulation/rocjitsu/lib/util/include/util/simd.h
Due: none

fix(rocprofiler-sdk): support colon-delimited tool library lists on attach
  projects/rocprofiler-sdk/CHANGELOG.md
  projects/rocprofiler-sdk/source/bin/rocprof-attach.py
  projects/rocprofiler-sdk/source/bin/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/bin/tests/test_rocprof_attach.py
  projects/rocprofiler-sdk/source/docs/how-to/using-rocprofv3-process-attachment.rst
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/callback_tracing.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocattach/rocattach.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/tracing_service_kinds.cpp
  projects/rocprofiler-sdk/tests/c-tool/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocattach/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(rocprofiler-sdk): do not abort when a ROCP_TOOL_LIBRARIES library fails to load
  projects/rocprofiler-sdk/CHANGELOG.md
  projects/rocprofiler-sdk/source/docs/how-to/using-rocprofv3-process-attachment.rst
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/attach.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
  projects/rocprofiler-sdk/tests/rocattach/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocattach/attach_without_env.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

test(amdsmi): sweep set --profile against the profiles each GPU lists
  projects/amdsmi/tests/python/cli/base.py
Due: .azuredevops/rocm_ci_caller.yml

test(amdsmi): restore the starting power profile after the CLI set test
  projects/amdsmi/tests/python/cli/test_set.py
Due: .azuredevops/rocm_ci_caller.yml

fix(rocshmem): skip RO proxy fence when no network NBI op is outstanding
  projects/rocshmem/CHANGELOG.md
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/src/reverse_offload/block_handle.hpp
  projects/rocshmem/src/reverse_offload/context_ro_device.cpp
  projects/rocshmem/src/reverse_offload/context_ro_device.hpp
  projects/rocshmem/tests/functional_tests/CTestFunctionalTests.cmake
Due: .azuredevops/rocm_ci_caller.yml

hip-tests: rewrite Catch2 skip reasons with leading AIRUNTIME refs
  projects/hip-tests/catch/config/check_config.py
  projects/hip-tests/catch/config/configs/TypeQualifiers.yaml
  projects/hip-tests/catch/config/configs/multiproc.yaml
  projects/hip-tests/catch/config/configs/performance.yaml
  projects/hip-tests/catch/config/configs/unit/assertion.yaml
  projects/hip-tests/catch/config/configs/unit/atomics.yaml
  projects/hip-tests/catch/config/configs/unit/callback.yaml
  projects/hip-tests/catch/config/configs/unit/channelDescriptor.yaml
  projects/hip-tests/catch/config/configs/unit/cluster.yaml
  projects/hip-tests/catch/config/configs/unit/cooperativeGrps.yaml
  projects/hip-tests/catch/config/configs/unit/device.yaml
  projects/hip-tests/catch/config/configs/unit/deviceLib.yaml
  projects/hip-tests/catch/config/configs/unit/device_memory.yaml
  projects/hip-tests/catch/config/configs/unit/dynamicLoading.yaml
  projects/hip-tests/catch/config/configs/unit/env.yaml
  projects/hip-tests/catch/config/configs/unit/errorHandling.yaml
  projects/hip-tests/catch/config/configs/unit/event.yaml
  projects/hip-tests/catch/config/configs/unit/executionControl.yaml
  projects/hip-tests/catch/config/configs/unit/executionctx.yaml
  projects/hip-tests/catch/config/configs/unit/gl_interop.yaml
  projects/hip-tests/catch/config/configs/unit/graph.yaml
  projects/hip-tests/catch/config/configs/unit/hrr.yaml
  projects/hip-tests/catch/config/configs/unit/kernel.yaml
  projects/hip-tests/catch/config/configs/unit/library.yaml
  projects/hip-tests/catch/config/configs/unit/math.yaml
  projects/hip-tests/catch/config/configs/unit/memory.yaml
  projects/hip-tests/catch/config/configs/unit/module.yaml
  projects/hip-tests/catch/config/configs/unit/multiThread.yaml
  projects/hip-tests/catch/config/configs/unit/occupancy.yaml
  projects/hip-tests/catch/config/configs/unit/oob.yaml
  projects/hip-tests/catch/config/configs/unit/printf.yaml
  projects/hip-tests/catch/config/configs/unit/rtc.yaml
  projects/hip-tests/catch/config/configs/unit/stream.yaml
  projects/hip-tests/catch/config/configs/unit/streamperthread.yaml
  projects/hip-tests/catch/config/configs/unit/syncthreads.yaml
  projects/hip-tests/catch/config/configs/unit/texture.yaml
  projects/hip-tests/catch/config/configs/unit/virtualMemoryManagement.yaml
Due: .azuredevops/rocm_ci_caller.yml

fix(ci): remove unsupported inputs from setup_multi_arch workflow call
  .github/workflows/therock-multi-arch-ci.yml
Due: none

perf(rccl): add finite per-chunk CE ReduceScatter
  projects/rccl/CHANGELOG.md
  projects/rccl/docs/api-reference/env-variables.rst
  projects/rccl/src/ce_coll.cc
  projects/rccl/src/device/ce_reduce.cc
  projects/rccl/src/device/ce_reduce/ce_reduce_impl.h.in
  projects/rccl/src/device/ce_reduce/generate.py
  projects/rccl/src/device/ce_reduce/test_generate_ce_reduce.py
  projects/rccl/src/enqueue/enqueue.cc
  projects/rccl/src/include/ce_coll.h
  projects/rccl/src/rccl_wrap.cc
  projects/rccl/test/CeReduceScatterEligibilityTests.cpp
  projects/rccl/test/ce/CeMPITests.cpp
  projects/rccl/test/ce/CeTestHelpers.hpp
  projects/rccl/test/common/CeReduceScatterTestHelpers.hpp
  projects/rccl/test/host/wrap-test.cc
  projects/rccl/test/test_categories_mpi.yaml
Due: .azuredevops/rocm_ci_caller.yml

feat(rccl): move the LL128 TDM path onto the tensor data mover
  projects/rccl/src/device/prims_ll128.h
  projects/rccl/src/device/tdm/ll128Tdm.h
Due: .azuredevops/rocm_ci_caller.yml

[RCCL] Honor ncclCollConfig_t algSelection on the default enqueue path
  projects/rccl/CHANGELOG.md
  projects/rccl/docs/api-reference/library-specification.rst
  projects/rccl/docs/userguide/source/usage/collectives.rst
  projects/rccl/src/config/collconfig.cc
  projects/rccl/src/enqueue/enqueue.cc
  projects/rccl/src/nccl.h.in
  projects/rccl/src/scheduler/allgatherv_sched.cc
  projects/rccl/test/CollConfigTests.cpp
  projects/rccl/test/host/enqueue-test.cc
  projects/rccl/test/host/fakes/collconfig_fakes.cc
Due: .azuredevops/rocm_ci_caller.yml

feat(rocr): Suballocate system memory (#8708)
  projects/rocr-runtime/rocrtst/common/common.cc
  projects/rocr-runtime/rocrtst/common/common.h
  projects/rocr-runtime/rocrtst/suites/functional/memory_fragment.cc
  projects/rocr-runtime/rocrtst/suites/functional/memory_fragment.h
  projects/rocr-runtime/rocrtst/suites/test_common/main.cc
  projects/rocr-runtime/rocrtst/suites/test_common/test_categories.yaml
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/kfd/amd_kfd_driver.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_memory_region.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[rccl] fp8-bench: auto-discover FP8 builtins from BuiltinsAMDGPU
  projects/rccl/tools/fp8-bench/Makefile
  projects/rccl/tools/fp8-bench/fp8_bench.cpp
  projects/rccl/tools/fp8-bench/fp8_probe.h
  projects/rccl/tools/fp8-bench/gen_auto_probe.py
Due: .azuredevops/rocm_ci_caller.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
