Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

fix(rocjitsu): use semantic null saddr for gfx12 vaddr
  emulation/rocjitsu/tests/decode_smoke_test.cpp
Due: none

fix(waitcheck): recognize uppercase EXEC operands
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/waitcheck.cpp
  emulation/rocjitsu/tests/analysis/waitcheck_test.cpp
Due: none

refactor(rocjitsu): make waitcheck scope explicit
  emulation/rocjitsu/docs/waitcheck/README.md
  emulation/rocjitsu/lib/rocjitsu/include/rocjitsu/analysis/rj_waitcheck.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/rj_waitcheck.cpp
  emulation/rocjitsu/tests/analysis/waitcheck_c_api_test.cpp
  emulation/rocjitsu/tests/analysis/waitcheck_c_header_test.c
Due: none

fix(rocjitsu): harden waitcheck C ABI
  emulation/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/docs/waitcheck-llvm-parity.md
  emulation/rocjitsu/docs/waitcheck/README.md
  emulation/rocjitsu/lib/rocjitsu/include/rocjitsu/analysis/rj_waitcheck.h
  emulation/rocjitsu/lib/rocjitsu/include/rocjitsu/code/rj_code.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/rj_waitcheck.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/rocjitsu_waitcheck.map
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/waitcheck.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/waitcheck.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/amdgpu_code_object.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/amdgpu_elf.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/rj_code.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_waitcheck_hooks.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/instruction.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/waitcheck_decoder.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/analysis/waitcheck_c_api_test.cpp
  emulation/rocjitsu/tests/analysis/waitcheck_c_header_test.c
  emulation/rocjitsu/tests/analysis/waitcheck_dlopen_test.cpp
  emulation/rocjitsu/tests/analysis/waitcheck_test.cpp
  emulation/rocjitsu/tests/code/code_object_target_id_test.cpp
  emulation/rocjitsu/tests/tools/waitcheck_fixture.h
  emulation/rocjitsu/tools/code_object_tool_main.cpp
  emulation/rocjitsu/tools/waitcheck_main.cpp
Due: none

test(rocjitsu): cover unreachable waitcheck blocks
  emulation/rocjitsu/tests/analysis/waitcheck_test.cpp
Due: none

feat(rocjitsu): add in-memory waitcheck C API
  emulation/rocjitsu/docs/waitcheck/README.md
  emulation/rocjitsu/lib/rocjitsu/include/rocjitsu/analysis/rj_waitcheck.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/rj_waitcheck.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/analysis/waitcheck_c_api_test.cpp
  emulation/rocjitsu/tests/analysis/waitcheck_c_header_test.c
Due: none

fix(rocjitsu): recover wave32 waitcheck helper calls
  emulation/rocjitsu/docs/waitcheck/gfx1250-pytorch-xcnt-llvm-repros.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/indirect_branch_discovery.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/indirect_branch_discovery.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/waitcheck.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/basic_block.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/basic_block.h
  emulation/rocjitsu/tests/analysis/waitcheck_test.cpp
Due: none

feat(rocjitsu): audit gfx950 emitted wait counters
  emulation/rocjitsu/lib/rocjitsu/include/rocjitsu/analysis/rj_waitcheck.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/rj_waitcheck.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/waitcheck.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/waitcheck.h
  emulation/rocjitsu/tests/analysis/waitcheck_c_api_test.cpp
  emulation/rocjitsu/tests/analysis/waitcheck_test.cpp
  emulation/rocjitsu/tests/tools/rj_waitcheck_smoke_test.cpp
  emulation/rocjitsu/tools/waitcheck_main.cpp
Due: none

fix(rocjitsu): model gfx11 D16 wait dependencies
  emulation/rocjitsu/docs/waitcheck/README.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/waitcheck.cpp
  emulation/rocjitsu/tests/analysis/waitcheck_test.cpp
Due: none

fix(rocjitsu): model wave32 carry masks correctly
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/waitcheck.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/tests/analysis/waitcheck_test.cpp
  emulation/rocjitsu/tests/simd_correctness/vop3_carry_simd_correctness_test.cpp
Due: none

fix(rocjitsu): match gfx950 compiler wait dependencies
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/waitcheck.cpp
  emulation/rocjitsu/tests/analysis/waitcheck_test.cpp
Due: none

feat(rocjitsu): validate emitted wait counter parity
  emulation/rocjitsu/docs/waitcheck-llvm-parity.md
  emulation/rocjitsu/docs/waitcheck/README.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/waitcheck.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/waitcheck.h
  emulation/rocjitsu/scripts/inventory_waitcheck_corpus.py
  emulation/rocjitsu/tests/analysis/waitcheck_test.cpp
  emulation/rocjitsu/tests/tools/rj_waitcheck_smoke_test.cpp
  emulation/rocjitsu/tools/waitcheck_main.cpp
Due: none

misc.
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(amdsmi): address PTL fix review feedback
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/rocm_smi/src/rocm_smi_device.cc
  projects/amdsmi/tests/python/functional/gpu/test_ptl.py
Due: .azuredevops/rocm_ci_caller.yml

docs(amdsmi): correct rsmi_set_gpu_ptl_state doxygen
  projects/amdsmi/rocm_smi/include/rocm_smi/rocm_smi.h
Due: .azuredevops/rocm_ci_caller.yml

fix(rocjitsu): preserve waitcheck dispatch hook chaining
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_waitcheck_hooks.cpp
  emulation/rocjitsu/tests/tools/waitcheck_hooks_unit_test.cpp
Due: none

fix(rocprofiler-compute): reject string metric arithmetic
  projects/rocprofiler-compute/src/utils/metrics/safe_expression.py
  projects/rocprofiler-compute/tests/test_metric_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(rccl-tests): correct NCCL_CTA_POLICY_ZERO version guard to 2.28.0
  projects/rccl-tests/src/common.cu
Due: .azuredevops/rocm_ci_caller.yml

fix(clr): restore per-stream queue_id in graph profiling (7c23d18 regression)
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/platform/activity.cpp
  projects/clr/rocclr/platform/command.hpp
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Generate architecture traits from ISA profiles (NFC) (#8858)
  emulation/rocjitsu/lib/python/amdisa/isa_profile.py
  emulation/rocjitsu/lib/python/amdisa/isa_properties_codegen.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_profile_properties.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/isa_properties.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
Due: none

rocjitsu: use chained waitcheck dispatch interception
  emulation/rocjitsu/docs/waitcheck/README.md
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tools/rocjitsu/main.cpp
Due: none

fix(hip-tests): remove pre-embed elf
  projects/hip-tests/catch/unit/oob/CMakeLists.txt
  projects/hip-tests/catch/unit/oob/gen_evil_elfs.py
  projects/hip-tests/catch/unit/oob/oob_module.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): align prims_simple.h fence field name after develop merge
  projects/rccl/src/device/prims_simple.h
Due: .azuredevops/rocm_ci_caller.yml

fix(rocr): Fix exported hsakmt NUMA dependency (#8559)
  projects/rocr-runtime/libhsakmt/CMakeLists.txt
  projects/rocr-runtime/libhsakmt/hsakmt-config.cmake.in
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix(rocprofiler-compute): validate conditional test scalars
  projects/rocprofiler-compute/src/utils/metrics/safe_expression.py
  projects/rocprofiler-compute/tests/test_metric_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rename co
  projects/hip-tests/catch/unit/oob/CMakeLists.txt
  projects/hip-tests/catch/unit/oob/oob_module.cc
Due: .azuredevops/rocm_ci_caller.yml

Address review comments (2)
  projects/rocprofiler-systems/tests/pytest/conftest.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/cache.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/config.py
  projects/rocprofiler-systems/tests/pytest/test_pytest_impl.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

resolve pytest binaries from build tree, not PATH
  projects/rocprofiler-systems/tests/pytest/rocprofsys/config.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

reuse RJ_API_EXPORT for ROCJITSU_PLUGIN_EXPORT
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/plugin_abi.h
Due: none

doc: plugin toolchain contract not an abi
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/plugin_abi.h
Due: none

fix(amdsmi): keep esmi hash pinning offline-safe
  projects/amdsmi/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): re-fetch esmi when pinned commit hash changes
  projects/amdsmi/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

fix(security): changed mutable git tag to immutable commit hash
  projects/amdsmi/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

feat(rocr): Use global_prefetch_b8 for gfx125x entry-trampoline unclaused-VMEM workaround
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.cpp
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

defer device thread trace start until after HSA queue init
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(rocprofiler-systems): resolve pytest binaries from build tree, not PATH
  projects/rocprofiler-systems/tests/pytest/rocprofsys/config.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Improve kernel name reporting
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/kernel_symbol.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/kernel_symbol.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/gpu_memory.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/kernel_dispatch_info.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/plugin.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/plugin.h
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/code/code_object_target_id_test.cpp
  emulation/rocjitsu/tests/execution_plugin_test.cpp
  emulation/rocjitsu/tests/race-detector/hip_race_gfx950_test.hip
Due: none

fix(rocjitsu): address kernel name review comments
  emulation/rocjitsu/docs/race-detector.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/kernel_symbol.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/code/code_object_target_id_test.cpp
Due: none

Tighten kernel symbol reporting tests
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/kernel_symbol.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/plugin.h
  emulation/rocjitsu/tests/code/code_object_target_id_test.cpp
Due: none
