Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Revert "rocr: Fix ISA breakage from previous commit"
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/isa.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

ci(amdsmi): test 3.6.8 and all major releases via pyenv fallback
  projects/amdsmi/tests/amdsmi_build/run_amdsmi_build.py
  projects/amdsmi/tests/amdsmi_build/test_run_amdsmi_build.py
Due: .azuredevops/rocm_ci_caller.yml

ci(amdsmi): split Python compatibility sweep into its own check
  .github/workflows/amdsmi-build.yml
  .github/workflows/amdsmi-python-compat.yml
Due: none

ci(amdsmi): add multi-Python sanity sweep to GPU CI
  .github/workflows/amdsmi-build.yml
  projects/amdsmi/tests/amdsmi_build/README.md
  projects/amdsmi/tests/amdsmi_build/run_amdsmi_build.py
  projects/amdsmi/tests/amdsmi_build/test_run_amdsmi_build.py
Due: .azuredevops/rocm_ci_caller.yml

Revert "Support gfx12-5 generic code objects in ROCR (#7300)"
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/isa.cpp
  projects/rocr-runtime/runtime/hsa-runtime/inc/amd_hsa_elf.h
  projects/rocr-runtime/runtime/hsa-runtime/libamdhsacode/amd_hsa_code.cpp
  python/rocm-bootstrap/python/rocm_bootstrap/targets.py
  python/rocm-bootstrap/python/rocm_bootstrap/tests/test_targets.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[hipfile] Add CodeQL C/C++ analysis to CI
  .github/workflows/hipfile-ci-toplevel.yml
  .github/workflows/hipfile-codeql.yml
Due: none

[hipfile] Pass shared_ptr by const ref in Backend::score
  projects/hipfile/src/amd_detail/backend.h
  projects/hipfile/src/amd_detail/backend/fallback.cpp
  projects/hipfile/src/amd_detail/backend/fallback.h
  projects/hipfile/src/amd_detail/backend/fastpath.cpp
  projects/hipfile/src/amd_detail/backend/fastpath.h
  projects/hipfile/test/amd_detail/mbackend.h
Due: .azuredevops/rocm_ci_caller.yml

[hipfile] Move shared_ptrs into final backend->io call
  projects/hipfile/src/amd_detail/hipfile.cpp
Due: .azuredevops/rocm_ci_caller.yml

[hipfile] Move shared_ptr sink params in BatchOperation ctor
  projects/hipfile/src/amd_detail/batch/batch.cpp
Due: .azuredevops/rocm_ci_caller.yml

Revert "Adapt code for gfx125x"
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.cpp
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Revert "gfx1250: use a single kernel-entry trampoline per kernel"
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Revert "rocr: Add v_nop instruction on gfx125x blit kernels"
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/blit_shaders/blit_copyAligned.s
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/blit_shaders/blit_copyMisaligned.s
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/blit_shaders/blit_fill.s
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Revert "[rocr] Install kernel trampolines (#7342)"
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.cpp
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Revert "Revert "Support gfx12-5 generic code objects in ROCR (#7300)""
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/isa.cpp
  projects/rocr-runtime/runtime/hsa-runtime/inc/amd_hsa_elf.h
  projects/rocr-runtime/runtime/hsa-runtime/libamdhsacode/amd_hsa_code.cpp
  python/rocm-bootstrap/python/rocm_bootstrap/targets.py
  python/rocm-bootstrap/python/rocm_bootstrap/tests/test_targets.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Revert "Revert "rocr: Fix ISA breakage from previous commit""
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/isa.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocjitsu: refresh RDNA4 DBT legalization
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/generated/legalization_cdna1_to_rdna4.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/generated/legalization_cdna2_to_rdna4.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/generated/legalization_cdna3_to_rdna4.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/generated/legalization_cdna4_to_rdna4.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/generated/legalization_rdna1_to_rdna4.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/generated/legalization_rdna2_to_rdna4.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/generated/legalization_rdna3_5_to_rdna4.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/generated/legalization_rdna3_to_rdna4.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/generated/legalization_rdna4_to_cdna4.h
Due: none

rocjitsu: fix RDNA runtime execution gaps
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/config/checkpoint.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/config/config_loader.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/tensor_dma.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/kfd_process.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_driver.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/dispatch_entry.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/gpu_memory.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/hbm_controller.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/l2_cache.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/spi.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/wavefront.h
  emulation/rocjitsu/lib/util/include/util/data_types.h
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/aql_queue.h
  emulation/rocjitsu/tests/data_types_test.cpp
  emulation/rocjitsu/tests/gfx1250_sim_test.cpp
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
  emulation/rocjitsu/tests/shared_infra_test.cpp
Due: none

[hipfile] Fix enum-load UB when validating caller-supplied enum values
  projects/hipfile/src/amd_detail/batch/batch.cpp
  projects/hipfile/src/amd_detail/hipfile.cpp
  projects/hipfile/test/amd_detail/handle.cpp
Due: .azuredevops/rocm_ci_caller.yml

[hipfile] Make all UBSan checks fail-fast under sanitizer builds
  projects/hipfile/cmake/AISSanitizers.cmake
Due: .azuredevops/rocm_ci_caller.yml

[hipfile] Update the style guide
  projects/hipfile/STYLEGUIDE.md
Due: .azuredevops/rocm_ci_caller.yml

[hipfile] IWYU fixes for the examples
  projects/hipfile/examples/api/get-version.cpp
  projects/hipfile/examples/async/roundtrip-async-multi-stream-registered.cpp
  projects/hipfile/examples/async/roundtrip-async-multi-stream.cpp
  projects/hipfile/examples/async/roundtrip-async-nonblocking-stream.cpp
  projects/hipfile/examples/async/roundtrip-async.cpp
  projects/hipfile/examples/basics/bufregister-write.cpp
  projects/hipfile/examples/basics/iterative-devmem-offset-read.cpp
  projects/hipfile/examples/basics/iterative-read.cpp
  projects/hipfile/examples/basics/no-bufregister-write.cpp
  projects/hipfile/examples/basics/no-odirect-write.cpp
  projects/hipfile/examples/basics/roundtrip-verify.cpp
  projects/hipfile/examples/basics/subregion-write.cpp
  projects/hipfile/examples/basics/various-mem-rw.cpp
  projects/hipfile/examples/common/examples_common.h
Due: .azuredevops/rocm_ci_caller.yml

[hipfile] IWYU fixes for ais-stats
  projects/hipfile/tools/ais-stats/ais-stats.cpp
Due: .azuredevops/rocm_ci_caller.yml

[hipfile] IWYU fixes for the tests
  projects/hipfile/test/amd_detail/api_trace.cpp
  projects/hipfile/test/amd_detail/backend.cpp
  projects/hipfile/test/amd_detail/batch/batch.cpp
  projects/hipfile/test/amd_detail/buffer.cpp
  projects/hipfile/test/amd_detail/configuration.cpp
  projects/hipfile/test/amd_detail/fallback.cpp
  projects/hipfile/test/amd_detail/handle.cpp
  projects/hipfile/test/amd_detail/hipfile-stats.cpp
  projects/hipfile/test/amd_detail/stats.cpp
  projects/hipfile/test/system/amd/io.cpp
Due: .azuredevops/rocm_ci_caller.yml

[hipfile] IWYU fixes for src
  projects/hipfile/src/amd_detail/api_trace/api-dispatch-interface.cpp
  projects/hipfile/src/amd_detail/api_trace/api-trace.cpp
  projects/hipfile/src/amd_detail/backend.cpp
  projects/hipfile/src/amd_detail/backend/asyncop-fallback.cpp
  projects/hipfile/src/amd_detail/backend/fastpath.cpp
  projects/hipfile/src/amd_detail/context.cpp
  projects/hipfile/src/amd_detail/context.h
  projects/hipfile/src/amd_detail/file.cpp
  projects/hipfile/src/amd_detail/file.h
  projects/hipfile/src/amd_detail/hipfile-stats.cpp
  projects/hipfile/src/amd_detail/hipfile.cpp
  projects/hipfile/src/amd_detail/state.cpp
  projects/hipfile/src/amd_detail/stats.cpp
  projects/hipfile/src/amd_detail/stats.h
Due: .azuredevops/rocm_ci_caller.yml

[hipfile] Add advisory IWYU action
  .github/workflows/hipfile-ci-toplevel.yml
  .github/workflows/hipfile-iwyu.yml
  projects/hipfile/cmake/AISIWYU.cmake
  projects/hipfile/cmake/iwyu-gtest.imp
  projects/hipfile/cmake/iwyu-libc.imp
  projects/hipfile/util/docker/DOCKERFILE.ais_ci_ubuntu
Due: .azuredevops/rocm_ci_caller.yml

[hipfile] Add cstddef.h to examples header
  projects/hipfile/examples/common/examples_common.h
Due: .azuredevops/rocm_ci_caller.yml

[hipfile] Fix UB in abs() on HIP file I/O status codes
  projects/hipfile/src/amd_detail/hip.cpp
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Revert "Disable gfx1151 dual-issue VALU counter collection (#6176)" (#7351)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/docs/conceptual/rdna/system-speed-of-light.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/wgp.rst
  projects/rocprofiler-compute/docs/data/metrics/gfx115x_metrics.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx115x/0700_workgroup_processor.yaml
  projects/rocprofiler-compute/src/utils/.config_hashes.json
  projects/rocprofiler-compute/tools/per_arch_metric_definitions/gfx115x_metrics_description.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[hipfile] Add ASAN and TSAN unit-test CI
  .github/workflows/hipfile-ci-toplevel.yml
  .github/workflows/hipfile-sanitizers.yml
Due: none

[hipfile] Move C++23 from build matrix to single smoke test
  .github/workflows/hipfile-ci-toplevel.yml
Due: none

[hipfile] Add Release build to CI
  .github/workflows/hipfile-build.yml
Due: none
