Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

PidHasKfdOpen strengthening changes
  projects/amdsmi/rocm_smi/src/rocm_smi_kfd.cc
Due: .azuredevops/rocm_ci_caller.yml

Update rocm_smi_kfd.cc
  projects/amdsmi/rocm_smi/src/rocm_smi_kfd.cc
Due: .azuredevops/rocm_ci_caller.yml

resolving gpu workload and race condition
  projects/amdsmi/rocm_smi/src/rocm_smi_kfd.cc
Due: .azuredevops/rocm_ci_caller.yml

Review changes
  projects/amdsmi/rocm_smi/src/rocm_smi_kfd.cc
Due: .azuredevops/rocm_ci_caller.yml

Fixing formatting issues
  projects/amdsmi/rocm_smi/src/rocm_smi_kfd.cc
Due: .azuredevops/rocm_ci_caller.yml

Fix race condition and other issue
  projects/amdsmi/rocm_smi/src/rocm_smi_kfd.cc
Due: .azuredevops/rocm_ci_caller.yml

[ROCM-10662] fix: replace std::stoull with strtoull to avoid exception
  projects/amdsmi/rocm_smi/src/rocm_smi_kfd.cc
Due: .azuredevops/rocm_ci_caller.yml

[ROCM-10662] fix: use UINT_MAX values for unavailable process stats
  projects/amdsmi/rocm_smi/src/rocm_smi_kfd.cc
Due: .azuredevops/rocm_ci_caller.yml

Update aqlprofile
  projects/rocprofiler-sdk/cmake/rocprofiler_config_interfaces.cmake
  projects/rocprofiler-sdk/cmake/rocprofiler_interfaces.cmake
  projects/rocprofiler-sdk/cmake/rocprofiler_options.cmake
  projects/rocprofiler-sdk/external/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/aqlprofile/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/aqlprofile/aql_profile_v2.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/aql_profile.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/aql_profile.hpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/counters.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/memorymanager.hpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/pm4_factory.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/spm_common.hpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/spm_decode.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/spm_v2.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/aql_profile_tests.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/aql_profile_v2_tests.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/counter_tests.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/threadtrace.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx9/gfx9_primitives.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/spm_builder.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/aqlprofile/util/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/aqlprofile/version.h.in
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

docs(rocprofiler-compute): CDNA/rdna performance model reorg and gfx1151 metrics
  projects/rocprofiler-compute/docs/conceptual/cdna/cdna-performance-model.rst
  projects/rocprofiler-compute/docs/conceptual/cdna/command-processor.rst
  projects/rocprofiler-compute/docs/conceptual/cdna/compute-unit.rst
  projects/rocprofiler-compute/docs/conceptual/cdna/l2-cache.rst
  projects/rocprofiler-compute/docs/conceptual/cdna/local-data-share.rst
  projects/rocprofiler-compute/docs/conceptual/cdna/pipeline-descriptions.rst
  projects/rocprofiler-compute/docs/conceptual/cdna/pipeline-metrics.rst
  projects/rocprofiler-compute/docs/conceptual/cdna/references.rst
  projects/rocprofiler-compute/docs/conceptual/cdna/shader-engine.rst
  projects/rocprofiler-compute/docs/conceptual/cdna/system-speed-of-light.rst
  projects/rocprofiler-compute/docs/conceptual/cdna/vector-l1-cache.rst
  projects/rocprofiler-compute/docs/conceptual/definitions.rst
  projects/rocprofiler-compute/docs/conceptual/performance-model.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/command-processor.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/gl1-cache.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/gl2-cache.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/rdna-performance-model.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/references.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/shader-engine.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/system-speed-of-light.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/tcp-cache.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/wgp.rst
  projects/rocprofiler-compute/docs/conf.py
  projects/rocprofiler-compute/docs/data/conceptual/RDNA3_Block_Diagram.png
  projects/rocprofiler-compute/docs/data/conceptual/RDNA_List.png
  projects/rocprofiler-compute/docs/how-to/analyze/cli.rst
  projects/rocprofiler-compute/docs/how-to/profile/mode.rst
  projects/rocprofiler-compute/docs/index.rst
  projects/rocprofiler-compute/docs/sphinx/_toc.yml.in
  projects/rocprofiler-compute/docs/sphinx/gfx1151_jinja_metrics.py
  projects/rocprofiler-compute/docs/tutorial/includes/infinity-fabric-transactions.rst
  projects/rocprofiler-compute/docs/tutorial/includes/instructions-per-cycle-and-utilizations.rst
  projects/rocprofiler-compute/docs/tutorial/includes/lds-examples.rst
  projects/rocprofiler-compute/docs/tutorial/includes/occupancy-limiters-example.rst
  projects/rocprofiler-compute/docs/tutorial/includes/vector-memory-operation-counting.rst
Due: .azuredevops/rocm_ci_caller.yml

rocprofiler-compute: fix docs Sphinx warnings and gfx1151 TCP metric RST
  projects/rocprofiler-compute/docs/conceptual/includes/normalization-units.rst
  projects/rocprofiler-compute/docs/conceptual/includes/terms.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/rdna-performance-model.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/tcp-cache.rst
  projects/rocprofiler-compute/docs/sphinx/_toc.yml.in
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0800_TCP_Cache.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocprofiler-compute: fix gfx1151 WMMA docs and Strix Makefile help
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0200_System_Speed_Of_Light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx1151.py
  projects/rocprofiler-compute/src/utils/benchmark.py
  projects/rocprofiler-compute/src/utils/roofline_calc.py
  projects/rocprofiler-compute/tests/mega_kernel/Makefile
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Remove multi-GPU designation for rocpd and pc-sampling help tests
  projects/rocprofiler-sdk/tests/rocpd/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3-avail/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add multi-GPU label for advanced thread trace tests
  projects/rocprofiler-sdk/tests/rocprofv3/advanced-thread-trace/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

apply formatting
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk/config.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rocprofiler-sdk][CI] format config.yaml
  .github/workflows/rocprofiler-sdk-formatting.yml
  projects/rocprofiler-sdk/requirements.txt
  projects/rocprofiler-sdk/source/scripts/format-deps.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Apply 100-column width (similar to clang-format)
  projects/rocprofiler-sdk/source/scripts/format-deps.py
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk/config.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rocprofiler-compute: drop duplicate debug eval helpers from parser
  projects/rocprofiler-compute/src/utils/parser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocprofiler-compute: fix CounterFile stem and file_name_txt for dry-run
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocprofiler-compute: gate metric-aware/CP-SAT perfmon to gfx1151 only
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Add git commit and PR workflow instructions for AI agents
  projects/rocprofiler-compute/.ai/rules/commit-workflow.md
  projects/rocprofiler-compute/.ai/rules/pr-workflow.md
  projects/rocprofiler-compute/AGENTS.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Update workflow docs to remove agent terminology
  projects/rocprofiler-compute/.ai/rules/commit-workflow.md
  projects/rocprofiler-compute/.ai/rules/pr-workflow.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Avoid early return and enable opt-out
  projects/rccl/src/graph/rome_models.cc
Due: .azuredevops/rocm_ci_caller.yml

Update projects/rccl/src/graph/rome_models.cc
  projects/rccl/src/graph/rome_models.cc
Due: .azuredevops/rocm_ci_caller.yml

[RCCL] Inspector: fix empty logs, teardown issues
  projects/rccl/ext-profiler/inspector/inspector.cc
  projects/rccl/ext-profiler/inspector/inspector.h
  projects/rccl/ext-profiler/inspector/inspector_plugin.cc
Due: .azuredevops/rocm_ci_caller.yml

[RCCL] Fix enqueue, profiler for RCCL Inspector
  projects/rccl/src/enqueue.cc
  projects/rccl/src/transport/profiler.cc
Due: .azuredevops/rocm_ci_caller.yml

[ROCM-10662] refactor: extract CollectGpuIdsFromKfdVram helper
  projects/amdsmi/rocm_smi/src/rocm_smi_kfd.cc
Due: .azuredevops/rocm_ci_caller.yml

MI300x test failure fix
  projects/rocprofiler-systems/examples/shmem/CMakeLists.txt
  projects/rocprofiler-systems/examples/unified-memory/unified-memory.cpp
  projects/rocprofiler-systems/tests/rocprof-sys-kfd-tests.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Update .gitignore
  projects/rccl/.gitignore
Due: .azuredevops/rocm_ci_caller.yml

[RCCL] Address Copilot warnings v1
  projects/rccl/ext-profiler/inspector/inspector.cc
  projects/rccl/src/enqueue.cc
Due: .azuredevops/rocm_ci_caller.yml

Replace runtime libhsa-runtime64.so dependency with dlsym/dlopen
  projects/rocprofiler-sdk/source/lib/aqlprofile/aqlprofile.hpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/pm4_factory.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/spm_data.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/spm_v2.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/util/hsa_rsrc_factory.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/util/hsa_rsrc_factory.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/hsa.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/hsa.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix static init fiasco in (aqlprofile) EventDimension::init()
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/aql_profile.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/counter_dimensions.hpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/counters.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix static destruction issue in memory manager
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/memorymanager.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/memorymanager.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Temporarily disable formatting and linting checks for migrated aqlprofile
  .github/workflows/rocprofiler-sdk-formatting.yml
  projects/rocprofiler-sdk/cmake/rocprofiler_linting.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix aqlprofile memorymanager static finalization fiasco
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/memorymanager.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/memorymanager.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

apply formattiing
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/id_decode.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml
