Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

test(rccl): reuse child processes across configs via a warmed comm pool
  projects/rccl/test/common/TestBed.cpp
  projects/rccl/test/common/TestBed.hpp
  projects/rccl/test/common/TestBedChild.cpp
  projects/rccl/test/common/TestBedChild.hpp
Due: .azuredevops/rocm_ci_caller.yml

Make the cluster split barrier gap work meaningful
  projects/hip-tests/catch/unit/cluster/cluster_split_barrier.cc
Due: .azuredevops/rocm_ci_caller.yml

[testing] Automate skipping CI for test/filter only changes (#7338)
  build_tools/github_actions/configure_ci_path_filters.py
  build_tools/github_actions/tests/configure_ci_path_filters_test.py
Due: none

[testing] Optimize build_tools/tests/artifact_descriptor_overlap_test.py (#7336)
  build_tools/tests/artifact_descriptor_overlap_test.py
Due: none

[testing] Fix/skip unit tests that were failing locally on Windows (#7335)
  build_tools/github_actions/tests/stage_reuse_decision_test.py
  build_tools/tests/build_prod_wheels_version_test.py
  build_tools/tests/configure_stage_test.py
  build_tools/tests/os_util_test.py
Due: none

fix(ci): add timeouts to checkout steps across PyTorch and JAX workflows (#7302)
  .github/workflows/multi_arch_build_linux_jax_wheels.yml
  .github/workflows/multi_arch_build_linux_jax_wheels_ci.yml
  .github/workflows/multi_arch_build_portable_linux_pytorch_wheels.yml
  .github/workflows/multi_arch_build_portable_linux_pytorch_wheels_ci.yml
  .github/workflows/multi_arch_build_windows_pytorch_wheels.yml
  .github/workflows/multi_arch_build_windows_pytorch_wheels_ci.yml
  .github/workflows/multi_arch_release_linux_jax_wheels.yml
  .github/workflows/multi_arch_release_linux_pytorch_wheels.yml
  .github/workflows/test_pytorch_wheels.yml
  .github/workflows/test_pytorch_wheels_full.yml
Due: none

Update TheRock ref to 6ed44df
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-rccl-ci-linux.yml
  .github/workflows/therock-rccl-test-packages-multi-node.yml
  .github/workflows/therock-rccl-test-packages-single-node.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

[amdsmi] Exclude SR-IOV-failing tests on gfx94X
  projects/amdsmi/tests/amd_smi_test/test_categories.yaml
Due: .azuredevops/rocm_ci_caller.yml

Give the second split barrier of each phase real gap work
  projects/hip-tests/catch/unit/cooperativeGrps/split_barrier.cc
Due: .azuredevops/rocm_ci_caller.yml

[testing] Add --durations= to unit_test.yml (#7337)
  .github/workflows/unit_tests.yml
Due: none

fix(clr): use tracker-owned signal for queue idle (#8113) (#10005)
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.hpp
Due: .azuredevops/rocm_ci_caller.yml

Benchmark the split barrier against a fairly scheduled sync() baseline
  projects/hip-tests/catch/performance/api/splitBarrier/splitBarrier.cc
Due: .azuredevops/rocm_ci_caller.yml

remove test debugging
  projects/rocr-runtime/rocrtst/suites/functional/virtual_memory.cc
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

feat(rocjitsu): hipStreamCreate analysis; kfd_signal_event_interrupt injection
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/vfio_device_host.cpp
  emulation/rocjitsu/patches/amdgpu-livepatches/README.md
  emulation/rocjitsu/patches/amdgpu-livepatches/amdgpu_vfu_livepatch.c
  overnight-2.md
Due: none

AIRUNTIME-2311 - support hip-vulkan image interop (#8516)
  projects/clr/rocclr/device/pal/palresource.cpp
  projects/clr/rocclr/device/pal/palresource.hpp
  projects/clr/rocclr/device/rocm/rocmemory.cpp
  projects/clr/rocclr/device/rocm/rocmemory.hpp
  projects/clr/rocclr/platform/external_memory.hpp
  projects/clr/rocclr/platform/interop_gl.cpp
  projects/hip-tests/catch/config/configs/unit/vulkan_interop.yaml
  projects/hip-tests/catch/unit/gl_interop/gl_interop_common.hh
  projects/hip-tests/catch/unit/gl_interop/hipGLContextSwitch.cc
  projects/hip-tests/catch/unit/vulkan_interop/CMakeLists.txt
  projects/hip-tests/catch/unit/vulkan_interop/hipVulkanImageDataVerification.cc
  projects/hip-tests/catch/unit/vulkan_interop/vulkan_test.cc
  projects/hip-tests/catch/unit/vulkan_interop/vulkan_test.hh
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmttypes.h
  projects/rocr-runtime/libhsakmt/include/impl/wddm/gpu_memory.h
  projects/rocr-runtime/libhsakmt/src/dxg/memory.cpp
  projects/rocr-runtime/libhsakmt/src/dxg/wddm/gpu_memory.cpp
  projects/rocr-runtime/runtime/hsa-runtime/image/image_manager.h
  projects/rocr-runtime/runtime/hsa-runtime/image/image_manager_gfx11.cpp
  projects/rocr-runtime/runtime/hsa-runtime/image/image_manager_gfx11.h
  projects/rocr-runtime/runtime/hsa-runtime/image/image_manager_gfx12.cpp
  projects/rocr-runtime/runtime/hsa-runtime/image/image_manager_gfx12.h
  projects/rocr-runtime/runtime/hsa-runtime/image/image_manager_nv.cpp
  projects/rocr-runtime/runtime/hsa-runtime/image/image_manager_nv.h
  projects/rocr-runtime/runtime/hsa-runtime/image/image_runtime.cpp
  projects/rocr-runtime/runtime/hsa-runtime/image/resource.h
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_ext_amd.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix(ci): shard rocfft tests and enable windows testing (#7246)
  build_tools/github_actions/fetch_test_configurations.py
Due: none

sriov checks for AIS CHECK
  projects/hipfile/docs/how-to/checking-system-compatibility.rst
  projects/hipfile/docs/troubleshooting/known-issues.rst
  projects/hipfile/tools/ais-check/ais-check
  projects/hipfile/tools/ais-check/tests/test_sriov.py
Due: .azuredevops/rocm_ci_caller.yml

Added docs of how-to and env-variables; modified the test file
  projects/rccl/docs/api-reference/env-variables.rst
  projects/rccl/docs/how-to/using-rccl-inspector-plugin.rst
  projects/rccl/test/InspectorPromP2pMPITests.cpp
  projects/rccl/test/common/MPIEnvironment.cpp
Due: .azuredevops/rocm_ci_caller.yml

build fix
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/snap_kernels.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/snap_kernels.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/snap_restore.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

`RESOURCE_LOCK` for CI stability
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/kernel-replay/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rename --kernel-replay to --kernel-replay-beta-enabled and document
  projects/rocprofiler-sdk/source/bin/rocprofv3.py
  projects/rocprofiler-sdk/source/docs/how-to/using-rocprofv3.rst
  projects/rocprofiler-sdk/tests/bin/kernel-replay/kernel_replay.cpp
  projects/rocprofiler-sdk/tests/rocprofv3/kernel-replay/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/kernel-replay/conftest.py
  projects/rocprofiler-sdk/tests/rocprofv3/kernel-replay/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

misc code refactor
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/memory_tracker.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/snap_restore.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/utils.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/utils.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

local context: att support
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

tests + output config
  projects/rocprofiler-sdk/source/lib/output/counter_info.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/snap_restore.cpp
  projects/rocprofiler-sdk/tests/bin/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/kernel-replay/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/kernel-replay/kernel_replay.cpp
  projects/rocprofiler-sdk/tests/rocprofv3/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/kernel-replay/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/kernel-replay/conftest.py
  projects/rocprofiler-sdk/tests/rocprofv3/kernel-replay/pytest.ini
  projects/rocprofiler-sdk/tests/rocprofv3/kernel-replay/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

P0-4: `HSA_SYMBOL_KIND_VARIABLE` restore + tests
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/snap_kernels.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/snap_kernels.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/snap_restore.cpp
  projects/rocprofiler-sdk/tests/bin/kernel-replay/kernel_replay.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

P0-1. Hold the exclusion window against every dispatch on the agent, not only replayed ones
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

P0-1: add testcase
  projects/rocprofiler-sdk/tests/CMakeLists.txt
  projects/rocprofiler-sdk/tests/kernel-replay-concurrency/CMakeLists.txt
  projects/rocprofiler-sdk/tests/kernel-replay-concurrency/client.cpp
  projects/rocprofiler-sdk/tests/kernel-replay-concurrency/main.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

P0-2: Warn/Fail on unsupported graph replay
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

local context: counter collection
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/dispatch_handlers.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

tweak CI behavior
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/snap_restore.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

format code (rebase)
  projects/rocprofiler-sdk/tests/rocprofv3/kernel-replay/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

update tool pass handling
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

initial callback api
  projects/rocprofiler-sdk/source/docs/conceptual/kernel_replay/kernel_replay_callback_api_design.md
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/callback_tracing.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/fwd.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/callback_tracing.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/kernel_replay.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/kernel_replay.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Update kernel_replay_callback_api_design.md
  projects/rocprofiler-sdk/source/docs/conceptual/kernel_replay/kernel_replay_callback_api_design.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

cleanup headers
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/experimental/kernel_replay.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Support old `HSA_AMD_MEMORY_POOL_EXECUTABLE_FLAG`
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/memory_tracker.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

P0-3: wait for async signal handler completion before next pass
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

use rocprofiler_agent_id_t for per-agent replay lock
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

update copyright years
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/kernel_replay.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/kernel_replay.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/memory_snapshot.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/memory_snapshot.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/memory_tracker.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/memory_tracker.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/replay_callbacks.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/replay_callbacks.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/utils.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/utils.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

P0-4: `HSA_SYMBOL_KIND_VARIABLE` restore
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/memory_snapshot.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/memory_snapshot.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
