Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

128 sdma threshold makes a smooth curve for w1z1, lets start here as an optimization point
  projects/rocshmem/src/envvar.cpp
Due: .azuredevops/rocm_ci_caller.yml

[rocshmem] SDMA: replace CMake USE_SDMA_OSS7 with source-level arch detection
  projects/rocshmem/CMakeLists.txt
  projects/rocshmem/src/sdma/anvil.cpp
  projects/rocshmem/src/sdma/anvil_device.hpp
  projects/rocshmem/src/sdma/sdma_opcodes.h
  projects/rocshmem/src/sdma/sdma_pkt_struct_mi4.h
Due: .azuredevops/rocm_ci_caller.yml

[rocshmem] SDMA: sync anvil_device with rocm-xio sdma-ep fixes
  projects/rocshmem/src/envvar.cpp
  projects/rocshmem/src/sdma/anvil_device.hpp
  projects/rocshmem/src/sdma_policy.hpp
Due: .azuredevops/rocm_ci_caller.yml

Call to the sdmaIpmImpl as needed
  projects/rocshmem/src/ipc/context_ipc_device.cpp
  projects/rocshmem/src/sdma/anvil.cpp
  projects/rocshmem/src/sdma_policy.cpp
  projects/rocshmem/src/sdma_policy.hpp
Due: .azuredevops/rocm_ci_caller.yml

[rocshmem] SDMA: three-way IPC policy (IpcSdmaImpl / IpcOnImpl / IpcOffImpl)
  projects/rocshmem/src/ipc/context_ipc_device.cpp
  projects/rocshmem/src/ipc_policy.cpp
  projects/rocshmem/src/ipc_policy.hpp
  projects/rocshmem/src/sdma_policy.cpp
  projects/rocshmem/src/sdma_policy.hpp
Due: .azuredevops/rocm_ci_caller.yml

Fix some warnings and cleanup
  projects/rocshmem/src/sdma/anvil.cpp
  projects/rocshmem/src/sdma/anvil.hpp
  projects/rocshmem/src/sdma/anvil_device.hpp
  projects/rocshmem/src/sdma/sdma_opcodes.h
  projects/rocshmem/src/sdma/sdma_pkt_struct.h
  projects/rocshmem/src/sdma_policy.cpp
  projects/rocshmem/src/sdma_policy.hpp
Due: .azuredevops/rocm_ci_caller.yml

Updated per latest IONIC driver flag definitions.
  projects/rccl/ext-src/rocm_netib.patch
  projects/rccl/src/include/ionic/ionicdvcore.h
  projects/rccl/src/misc/ionicdvsymbols.cc
Due: .azuredevops/rocm_ci_caller.yml

* rocDecode/Logger: Fixed build errors in some sample apps.
  projects/rocdecode/samples/videoDecodeBatch/videodecodebatch.cpp
  projects/rocdecode/samples/videoDecodePerf/videodecodeperf.cpp
  projects/rocdecode/samples/videoToSequence/videotosequence.cpp
Due: .azuredevops/rocm_ci_caller.yml

Do not recompute incorreclty local_pe in sdma cpy
  projects/rocshmem/src/gda/context_gda_device.cpp
  projects/rocshmem/src/gda/context_gda_tmpl_device.hpp
  projects/rocshmem/src/ipc/context_ipc_device.cpp
  projects/rocshmem/src/ipc_policy.cpp
  projects/rocshmem/src/ipc_policy.hpp
  projects/rocshmem/src/reverse_offload/context_ro_device.cpp
  projects/rocshmem/src/reverse_offload/context_ro_tmpl_device.hpp
  projects/rocshmem/src/sdma/anvil.cpp
  projects/rocshmem/src/sdma_policy.hpp
  projects/rocshmem/tests/unit_tests/ipc_impl_simple_coarse_gtest.hpp
  projects/rocshmem/tests/unit_tests/ipc_impl_simple_fine_gtest.hpp
  projects/rocshmem/tests/unit_tests/ipc_impl_tiled_fine_gtest.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix wrong sets and add pre-commit check
  projects/rocprofiler-compute/.pre-commit-config.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/sets/gfx1151_sets.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/sets/gfx950_sets.yaml
  projects/rocprofiler-compute/tools/validate_sets_metric_ids.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

update sets and remove na test cases
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/sets/gfx1151_sets.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/sets/gfx950_sets.yaml
  projects/rocprofiler-compute/tests/test_profile_general.py
  projects/rocprofiler-compute/tools/validate_sets_metric_ids.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Unit test inherit the correct MPI compilation mode from rocshmem_config.hpp and rocshmem_mpi.hpp
  projects/rocshmem/tests/unit_tests/ipc_impl_simple_coarse_gtest.hpp
  projects/rocshmem/tests/unit_tests/ipc_impl_simple_fine_gtest.hpp
  projects/rocshmem/tests/unit_tests/ipc_impl_tiled_fine_gtest.hpp
Due: .azuredevops/rocm_ci_caller.yml

transpiler: harden cross-wave wave32→wave64 lowerings + mark modulo-replication
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/decoded_inst.hpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_ds.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_flat.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_valu.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/ds_bpermute_b32/ds_bpermute_b32.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/ds_bpermute_b32/ds_bpermute_b32.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/global_load_ushort_saddr/global_load_ushort_saddr.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/global_load_ushort_saddr/global_load_ushort_saddr.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/lit.site.cfg.py.in
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/v_cmpx_ballot/v_cmpx_ballot.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/v_cmpx_ballot/v_cmpx_ballot.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raiser.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/reg_file.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: add wave-size-obstruction classifier (Phase 1.4.5) and refuse-loud gate
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_ds.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c1_lane_id_leak/c1_lane_id_leak.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c1_lane_id_leak/c1_lane_id_leak.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_dpp_quad_perm/c2_dpp_quad_perm.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_dpp_quad_perm/c2_dpp_quad_perm.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_ds_swizzle/c2_ds_swizzle.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_ds_swizzle/c2_ds_swizzle.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_permlane_swap/c2_permlane_swap.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_permlane_swap/c2_permlane_swap.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c3_atomic_cas/c3_atomic_cas.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c3_atomic_cas/c3_atomic_cas.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c4_lane_dep_cmpx/c4_lane_dep_cmpx.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c4_lane_dep_cmpx/c4_lane_dep_cmpx.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/cross_wave_warn/cross_wave_warn.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/lit.site.cfg.py.in
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/opcode_map.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raise_failure.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raise_failure.hpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raiser.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/semop.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/semop.hpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tests/xfail.cmake
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/Makefile
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/compare_correctness.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/c4_lane_dep_cmpx.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wave_projection.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wave_projection.hpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wave_size_obstruction.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wave_size_obstruction.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[RCCL] Add device unit tests for op128.h BytePack operations
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/device/DeviceTestBase.hpp
  projects/rccl/test/device/TestOp128.cpp
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
Due: .azuredevops/rocm_ci_caller.yml

[RCCL] Expand op128.h unit test coverage for HIP-specific primitives
  projects/rccl/test/device/TestOp128.cpp
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
Due: .azuredevops/rocm_ci_caller.yml

[RCCL] Fix out-of-bounds read in loadPack funnel-shift path
  projects/rccl/src/device/op128.h
  projects/rccl/test/device/TestOp128.cpp
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
Due: .azuredevops/rocm_ci_caller.yml

[rccl] Add misaligned loadPack test and centralize HIP check macros
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/common/TestChecks.hpp
  projects/rccl/test/device/DeviceTestBase.hpp
  projects/rccl/test/device/TestOp128.cpp
Due: .azuredevops/rocm_ci_caller.yml

add back image support check in two multigpu tests that still need it
  projects/hip-tests/catch/unit/memory/hipDrvMemcpy3DAsync_old.cc
  projects/hip-tests/catch/unit/memory/hipDrvMemcpy3D_old.cc
Due: .azuredevops/rocm_ci_caller.yml

transpiler: lift DPP modifiers via llvm.amdgcn.update.dpp (CROSS_LANE_SURVEY P5)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/decode.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/decoded_inst.hpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_dpp_quad_perm/c2_dpp_quad_perm.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raise_context.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raise_context.hpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tests/xfail.cmake
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wave_size_obstruction.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: harden P5 DPP lift — DPP8 graceful refusal, i64 width, naming
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/decode.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raise_context.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raise_context.hpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wave_size_obstruction.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: emulate permlane16/permlanex16 via ds_bpermute (CROSS_LANE_SURVEY P2)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_valu_cross_lane.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_permlane16/c2_permlane16.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_permlane16/c2_permlane16.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/lit.site.cfg.py.in
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tests/xfail.cmake
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wave_size_obstruction.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: harden P2 permlane16 emulation — refuse fi=0/bc=1, strengthen lit
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_valu_cross_lane.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_permlane16/c2_permlane16.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_permlane16/c2_permlane16.ll
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: tighten permlane*_swap refusal + cache lane id per BB
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_valu_cross_lane.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raise_context.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raise_context.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: lift ds_swizzle_b32 via llvm.amdgcn.ds.swizzle (CROSS_LANE_SURVEY P6)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_ds.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_ds_swizzle/c2_ds_swizzle.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_ds_swizzle_unsafe/c2_ds_swizzle_unsafe.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_ds_swizzle_unsafe/c2_ds_swizzle_unsafe.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/lit.site.cfg.py.in
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wave_size_obstruction.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: harden P6 ds_swizzle lift — empirical MODREP citation, imm bounds, comment fixes
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_ds.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wave_size_obstruction.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: centralize ds_swizzle imm extraction in decode.cpp (P6 audit S5)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/decode.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/decoded_inst.hpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_ds.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wave_size_obstruction.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: read ds_swizzle data via OpName::addr named lookup (P6 audit S3)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_ds.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: widen P6 safe set to FFT_MODE/ROTATE_MODE envelopes (P6 audit S8)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_ds.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_ds_swizzle_unsafe/c2_ds_swizzle_unsafe.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_ds_swizzle_unsafe/c2_ds_swizzle_unsafe.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wave_size_obstruction.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

compare_correctness: add Triton kernel support with native-as-gold comparator
  .gitignore
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/Makefile
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/README.md
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/compare_correctness.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/README.md
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/aot_compile.py
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tools/compare_correctness/kernels/triton/vecadd_f16.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: tighten P6 FFT/ROTATE encoding validation; cite wave64 family-wide hardware contract (P6 audit S10 + S11)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_ds.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_ds_swizzle_fft_reserved/c2_ds_swizzle_fft_reserved.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_ds_swizzle_fft_reserved/c2_ds_swizzle_fft_reserved.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_ds_swizzle_unsafe/c2_ds_swizzle_unsafe.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/lit.site.cfg.py.in
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wave_size_obstruction.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: relax driftCheckSrcN for VOP2 MADMK form (v_fmamk_f32 decoder fix)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/decode.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: emulate v_permlane16_swap_b32 via paired ds_bpermute (CROSS_LANE_SURVEY P4)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_valu_cross_lane.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/c2_permlane_swap/c2_permlane_swap.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/wave_size_obstruction.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: harden P4 + decoder fix — empirical emulation probe, defensive snapshots, lit pin (P4 audit S15-S19)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/decode.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_valu_cross_lane.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/decoder_madmk_v_fmamk_f32/decoder_madmk_v_fmamk_f32.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/decoder_madmk_v_fmamk_f32/decoder_madmk_v_fmamk_f32.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/lit.site.cfg.py.in
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: add Gfx1250Gpu.Permlane16Swap end-to-end regression test (P4 audit S15 follow-up)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/test_data/gfx1250/README.md
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/test_data/gfx1250/permlane16_swap_gfx1250.hsaco
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/test_data/gfx1250/permlane16_swap_kernel.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_valu_cross_lane.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tests/gfx1250_gpu_test.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

transpiler: review-pass alignment — P5/P6 hardware tests, robust MADMK lit, defensive asserts (T1-T6)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/test_data/gfx1250/README.md
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/test_data/gfx1250/dpp_quad_perm_gfx1250.hsaco
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/test_data/gfx1250/dpp_quad_perm_kernel.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/test_data/gfx1250/ds_swizzle_gfx1250.hsaco
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/test_data/gfx1250/ds_swizzle_kernel.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_ds.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/decoder_madmk_v_fmamk_f32/decoder_madmk_v_fmamk_f32.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/raise_context.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/tests/gfx1250_gpu_test.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

.gitignore: ignore RAISING_CHALLENGES_REVIEW.md + transpiler .agent-prompts/
  .gitignore
Due: none

clr: raise DEBUG_CLR_BATCH_CPU_SYNC_SIZE default from 8 to 16
  projects/clr/rocclr/utils/flags.hpp
Due: .azuredevops/rocm_ci_caller.yml

transpiler: lift v_rcp_f64 (VOP1 TRANS-class FP64 reciprocal)
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/handle_valu.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/lit.site.cfg.py.in
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/v_rcp_f64/v_rcp_f64.hip
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/lit_tests/v_rcp_f64/v_rcp_f64.ll
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/opcode_map.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/semop.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hotswap/transpiler/semop.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml
