Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

RCCL/Test: parameterize host API tests by window flags
  projects/rccl/test/HostApiMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

RCCL: Enqueue RMA CE init on the first window register
  projects/rccl/src/dev_runtime.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(rocprof-sys): polish SMP beta validation
  projects/rocprofiler-systems/source/bin/common/json_config.cpp
  projects/rocprofiler-systems/source/bin/common/tests/test_json_config.cpp
  projects/rocprofiler-systems/source/bin/common/tool_runner.cpp
  projects/rocprofiler-systems/source/lib/common/env_vars.hpp
  projects/rocprofiler-systems/source/lib/common/rocm_spm.hpp
  projects/rocprofiler-systems/source/lib/core/argparse.cpp
  projects/rocprofiler-systems/source/lib/core/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/spm.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/spm.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/test_spm.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

RCCL/IbCast: fall back to peermem GDR when DMA-BUF is unavailable
  projects/rccl/src/transport/net_ib_cast/gin.cc
Due: .azuredevops/rocm_ci_caller.yml

RCCL: RMA: add hipIpc fallback for Host API on default windows
  projects/rccl/src/dev_runtime.cc
  projects/rccl/src/enqueue.cc
  projects/rccl/src/include/dev_runtime.h
  projects/rccl/src/rma/rma.cc
  projects/rccl/src/rma/rma_ce.cc
Due: .azuredevops/rocm_ci_caller.yml

Link to the open ticket for disabled tests
  projects/hip-tests/catch/config/configs/unit/memory.yaml
Due: .azuredevops/rocm_ci_caller.yml

AIRUNTIME-2291 - add known flaky tests to the disablement list
  projects/hip-tests/catch/config/configs/unit/memory.yaml
  projects/hip-tests/catch/config/configs/unit/multiThread.yaml
Due: .azuredevops/rocm_ci_caller.yml

Potential fix for pull request finding
  projects/hip-tests/catch/config/configs/unit/multiThread.yaml
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-sdk][docs] Document environment variables for custom tools
  projects/rocprofiler-sdk/source/docs/_toc.yml.in
  projects/rocprofiler-sdk/source/docs/api-reference/tool_library.rst
  projects/rocprofiler-sdk/source/docs/api-reference/tool_library_environment.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rocprofiler-sdk][docs] Remove internal env vars from custom-tool doc
  projects/rocprofiler-sdk/source/docs/api-reference/tool_library_environment.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Return perfetto_counter_track::at by value to keep handle inside lock
  projects/rocprofiler-systems/source/lib/core/perfetto/counter_track.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

AIRUNTIME-2229: revert round-robin algorithm for stream assignment
  projects/clr/hipamd/src/hip_graph_internal.cpp
Due: .azuredevops/rocm_ci_caller.yml

Fix the graph execution path construction
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

Fix memcpy barrier in graphs
  projects/clr/hipamd/src/hip_graph_internal.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add getOrCreateHostcalls for Rocdevice
  projects/clr/hipamd/src/hip_device.cpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/pal/paldevice.cpp
  projects/clr/rocclr/device/pal/paldevice.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
Due: .azuredevops/rocm_ci_caller.yml

Fix transfer queue release order
  projects/clr/rocclr/device/pal/paldevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add hip device reset tests
  projects/hip-tests/catch/config/configs/unit/device.yaml
  projects/hip-tests/catch/unit/device/hipDeviceReset.cc
Due: .azuredevops/rocm_ci_caller.yml

Get the target names from rocminfo instead of kfd when model is enabled (#720)
  projects/rocminfo/rocm_agent_enumerator
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml

Use generic tensor load/store intrinsic.
  projects/hip-tests/catch/unit/TDM/tdm_basic_load_store.cc
Due: .azuredevops/rocm_ci_caller.yml

possible fix for gpu counters
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/sampler.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Applied suggestions from code review
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/sampler.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

refactor
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/sampler.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

address review issues
  projects/rocprofiler-systems/source/lib/core/config.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix review issue
  projects/rocprofiler-systems/source/lib/core/config.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

test(ras): drive RasJson test via rcclras and trim upstream comments
  projects/rccl/src/ras/client_support.cc
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/RasJsonTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Revert "[clr][graph] Reduce the no. of barrier packets during the graph dispatch"
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/hip-tests/catch/config/configs/unit/graph.yaml
  projects/hip-tests/catch/unit/graph/hipLaunchHostFuncWithGraph.cc
Due: .azuredevops/rocm_ci_caller.yml

Improve output format handling in cli arguments
  projects/rocprofiler-systems/CHANGELOG.md
  projects/rocprofiler-systems/docs/conceptual/data-collection-modes.rst
  projects/rocprofiler-systems/source/bin/common/common_utils.cpp
  projects/rocprofiler-systems/source/bin/common/tests/test_help_system.cpp
  projects/rocprofiler-systems/source/lib/core/argparse.cpp
  projects/rocprofiler-systems/source/lib/core/argparse.hpp
  projects/rocprofiler-systems/source/lib/core/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/tests/test_output_format.cpp
  projects/rocprofiler-systems/source/tests/CMakeLists.txt
  projects/rocprofiler-systems/tests/pytest/test_tool_runner.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Update URLs for RCCL and NCCL plugin examples
  projects/rccl/docs/sphinx/_toc.yml.in
Due: .azuredevops/rocm_ci_caller.yml

Fix links in RCCL tuner plugin API documentation
  projects/rccl/docs/how-to/using-rccl-tuner-plugin-api.rst
Due: .azuredevops/rocm_ci_caller.yml

Route Debian CI trace_processor through pre-downloaded binary
  .github/workflows/rocprofiler-systems-debian.yml
  projects/rocprofiler-systems/tests/pytest/rocprofsys/__init__.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/validators.py
  projects/rocprofiler-systems/tests/pytest/test_cached_perfetto_isolation.py
  projects/rocprofiler-systems/tests/pytest/test_cached_perfetto_layout.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[NFC] Fix stale hyperlinks in rocm-systems
  projects/aqlprofile/CMakeLists.txt
  projects/clr/hipamd/packaging/convert_md_to_html.sh
  projects/hip-tests/.jenkins/jenkinsfile
  projects/hip/.jenkins/Jenkinsfile
  projects/hip/docs/tools/example_codes/external_interop.hip
  projects/rdc/.github/workflows/main.yml
  projects/rdc/CMakeLists.txt
  projects/rocm-smi-lib/CMakeLists.txt
  projects/rocm-smi-lib/DEBIAN/control
  projects/rocm-smi-lib/cmake_modules/help_package.cmake
  projects/rocm-smi-lib/docs/install/install.rst
  projects/rocm-smi-lib/python_smi_tools/README.md
  projects/rocm-smi-lib/python_smi_tools/rsmiBindings.py.in
  projects/rocm-smi-lib/python_smi_tools/rsmiBindingsInit.py.in
  projects/rocprofiler-compute/docs/tutorial/includes/instructions-per-cycle-and-utilizations.rst
  projects/rocprofiler-compute/tools/per_arch_metric_definitions/gfx90a_metrics_description.yaml
  projects/rocprofiler-compute/tools/per_arch_metric_definitions/gfx940_metrics_description.yaml
  projects/rocprofiler-compute/tools/per_arch_metric_definitions/gfx941_metrics_description.yaml
  projects/rocprofiler-compute/tools/per_arch_metric_definitions/gfx942_metrics_description.yaml
  projects/rocprofiler-compute/tools/per_arch_metric_definitions/gfx950_metrics_description.yaml
  projects/rocprofiler/doc/rocprof_tool.md
  projects/rocr-runtime/CMakeLists.txt
  projects/rocr-runtime/rocrtst/suites/test_common/CMakeLists.txt
  projects/rocr-runtime/runtime/packages/hsa-ext-rocr-dev/CMakeLists.txt
  projects/rocr-runtime/runtime/packages/hsa-ext-rocr-dev/Old CMakeLists.txt
  projects/rocr-runtime/runtime/packages/rocr_tools_legacy/CMakeLists.txt
Due: .azuredevops/rdc.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocr-runtime.yml

Potential fix for pull request finding
  projects/hip-tests/catch/unit/TDM/tdm_basic_load_store.cc
Due: .azuredevops/rocm_ci_caller.yml

Applied suggestions from code review
  projects/rocprofiler-systems/CHANGELOG.md
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/category_region.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Guard aqlprofile_spm_delete_packets when SpmStateMap is already destroyed
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/spm_v2.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Remove unneeded includes
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/ucx_gotcha.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocprofiler-compute] Gate PC sampling behind --pc-sampling --experimental (#6049)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/docs/how-to/pc_sampling.rst
  projects/rocprofiler-compute/docs/how-to/profile/mode.rst
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/tests/test_pc_sampling.py
  projects/rocprofiler-compute/tests/test_profile_general.py
  projects/rocprofiler-compute/tests/test_profiler_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Formatting
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/ucx_gotcha.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add unit tests
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/CMakeLists.txt
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/arg_serializer.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/rocprof-sys-instrument.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/tests/test_arg_serializer.cpp
  projects/rocprofiler-systems/source/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fix sanitizer failure
  projects/rocprofiler-systems/source/lib/core/trace_cache/buffer_storage.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add rocprofsys_push_trace_with_args
  projects/rocprofiler-systems/cmake/MacroUtilities.cmake
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/module_function.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/module_function.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/rocprof-sys-instrument.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/rocprof-sys-instrument.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys-dl/dl.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys-dl/dl/dl.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys-dl/main.c
  projects/rocprofiler-systems/source/lib/rocprof-sys/api.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/api.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/category_region.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/regions.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml
