Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Improve roofline for gfx950 MFMA FP16
  projects/rocprofiler-compute/src/utils/benchmark.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

clr: Add async logging support
  projects/clr/rocclr/platform/runtime.cpp
  projects/clr/rocclr/utils/debug.cpp
  projects/clr/rocclr/utils/debug.hpp
  projects/clr/rocclr/utils/flags.cpp
Due: .azuredevops/rocm_ci_caller.yml

AI NIC: ainics -> ai-nics
  projects/rocprofiler-systems/source/bin/rocprof-sys-sample/impl.cpp
  projects/rocprofiler-systems/source/lib/core/argparse.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Test commit to trigger CI/CD workflows.
  projects/amdsmi/test_file.h
Due: .azuredevops/rocm_ci_caller.yml

Test commit to test modified CI/CD workflows.
  projects/amdsmi/test_file.rst
Due: .azuredevops/rocm_ci_caller.yml

Fixed formatting
  projects/rocprofiler-systems/source/bin/rocprof-sys-sample/impl.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocDecode][Samples] - Fix rocdecDecode sample filesystem issue on SLES
  projects/rocdecode/samples/rocdecDecode/CMakeLists.txt
  projects/rocdecode/samples/rocdecDecode/rocdecdecode.cpp
Due: .azuredevops/rocm_ci_caller.yml

Only create the specialization we use, and use numericlimits for boundary checks.
  projects/rocshmem/src/envvar.hpp
Due: .azuredevops/rocm_ci_caller.yml

AI NIC: renamed classes to conform to the team convention
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ainic_stats.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ainic_stats.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/amd_smi_ainic.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/amd_smi_ainic.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add unit tests to the uint8 envar parser
  projects/rocshmem/tests/unit_tests/envvar_gtest.cpp
Due: .azuredevops/rocm_ci_caller.yml

Fixed formatting
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ainic_stats.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/amd_smi_ainic.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fixed formatting
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ainic_stats.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Update -q, -v, -vv provided + add amdsmi_smart_init() + Fix libdrm not supporting amdsmi_get_gpu_virtualization_mode()
  projects/amdsmi/tests/python_unittest/common.py
  projects/amdsmi/tests/python_unittest/integration_test.py
  projects/amdsmi/tests/python_unittest/unit_tests.py
Due: .azuredevops/rocm_ci_caller.yml

AI NIC: using C-based API instead of C++ internal implementation
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ainic_stats.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ainic_stats.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

AI NIC: corrected include
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ainic_stats.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add a missing file.
  projects/clr/rocclr/utils/flags.hpp
Due: .azuredevops/rocm_ci_caller.yml

Accept hexadecimal traffic classes
  projects/rocshmem/src/envvar.hpp
Due: .azuredevops/rocm_ci_caller.yml

AI NIC: removed unneeded global object
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ainic_stats.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ainic_stats.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

rocr: disable rocprofiler register in wsl
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_topology.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/util/flag.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Remove the lock
  projects/clr/rocclr/utils/debug.cpp
Due: .azuredevops/rocm_ci_caller.yml

AI NIC: Fixed implementation
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ainic_stats.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

AI NIC: Fixed implementation
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ainic_stats.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add rocshmem_hipmodule_init API for CUDA graph compatibility
  projects/rocshmem/include/rocshmem/rocshmem.hpp
  projects/rocshmem/src/rocshmem_gpu.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add functional test for rocshmem_hipmodule_init API
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/tests/functional_tests/CMakeLists.txt
  projects/rocshmem/tests/functional_tests/hipmodule_init_tester.cpp
  projects/rocshmem/tests/functional_tests/hipmodule_init_tester.hpp
  projects/rocshmem/tests/functional_tests/tester.cpp
  projects/rocshmem/tests/functional_tests/tester.hpp
Due: .azuredevops/rocm_ci_caller.yml

Fixed formatting
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ainic_stats.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ainic_stats.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Update minimum CMake version to 3.21.0
  projects/roctracer/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/roctracer.yml

Add initial version with lazy loading
  projects/rccl/CMakeLists.txt
  projects/rccl/src/include/amdsmi_wrap.h
  projects/rccl/src/misc/amdsmi_wrap.cc
  projects/rccl/src/misc/rocm_smi_wrap.cc
  projects/rccl/src/rccl_wrap.cc
Due: .azuredevops/rocm_ci_caller.yml

Add minor fixes and compiler definitions
  projects/rccl/CMakeLists.txt
  projects/rccl/src/misc/amdsmi_wrap.cc
Due: .azuredevops/rocm_ci_caller.yml

Use static libhandle
  projects/rccl/src/misc/amdsmi_wrap.cc
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-sdk] Set stop packet signal to callback_data.completion
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/device_counting.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix corner cases in amdsmi path
  projects/rccl/src/misc/amdsmi_wrap.cc
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-sdk] Set stop packet signal to callback_data.completion (#3167)
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/device_counting.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Remove the need for the -fgpu-rdc flag.
  projects/rccl/CMakeLists.txt
  projects/rccl/src/device/all_gather.h
  projects/rccl/src/device/all_reduce.h
  projects/rccl/src/device/alltoall_gda.h
  projects/rccl/src/device/alltoall_pivot.h
  projects/rccl/src/device/broadcast.h
  projects/rccl/src/device/generate.py
  projects/rccl/src/device/reduce.h
  projects/rccl/src/device/reduce_scatter.h
  projects/rccl/src/device/sendrecv.h
Due: .azuredevops/rocm_ci_caller.yml

Use shared memory as argument
  projects/rccl/cmake/scripts/add_faults.sh
  projects/rccl/src/device/all_gather.h
  projects/rccl/src/device/all_reduce.h
  projects/rccl/src/device/alltoall_pivot.h
  projects/rccl/src/device/broadcast.h
  projects/rccl/src/device/common.cu
  projects/rccl/src/device/common.h
  projects/rccl/src/device/generate.py
  projects/rccl/src/device/msccl_kernel_impl.h
  projects/rccl/src/device/network/unpack/unpack.h
  projects/rccl/src/device/primitives.h
  projects/rccl/src/device/prims_ll.h
  projects/rccl/src/device/prims_ll128.h
  projects/rccl/src/device/prims_simple.h
  projects/rccl/src/device/reduce.h
  projects/rccl/src/device/reduce_scatter.h
  projects/rccl/src/device/sendrecv.h
Due: .azuredevops/rocm_ci_caller.yml

Enhance hipmodule_init test for CUDA graph capture validation
  projects/rocshmem/include/rocshmem/rocshmem.hpp
  projects/rocshmem/src/rocshmem_gpu.cpp
  projects/rocshmem/tests/functional_tests/hipmodule_init_tester.cpp
  projects/rocshmem/tests/functional_tests/tester.cpp
Due: .azuredevops/rocm_ci_caller.yml

Fixed pytest
  projects/rocprofiler-compute/src/utils/utils.py
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

switch some members to optional
  projects/rocstorage/include/reader_types.hpp
  projects/rocstorage/source/reader_impl.cpp
Due: .azuredevops/rocm_ci_caller.yml
