Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

feat(rocprofiler-compute): Rename PC sampling CSV column headers (#11366)
  projects/rocprofiler-compute/src/utils/analysis_orm.py
  projects/rocprofiler-compute/tests/integration/test_pc_sampling_analyze_cli.py
  projects/rocprofiler-compute/tests/unit/utils/test_analysis_orm.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(rocprofiler-compute): Validate "> n" filter against Dispatch_ID values, not the number of rows (#11625)
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/tests/unit/utils/test_parser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

test(rocprofiler-compute): Cover memory-level roofline filtering (#11917)
  projects/rocprofiler-compute/tests/unit/roofline/test_roofline_main.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

docs(rocprofiler-compute): HLD for analysis config YAML redesign (#8502)
  projects/rocprofiler-compute/docs/design/analysis-config-redesign/hld-analysis-config-redesign.md
  projects/rocprofiler-compute/docs/design/analysis-config-redesign/hld-metric-analysis-2026-07-13.md
  projects/rocprofiler-compute/docs/design/analysis-config-redesign/lld-index.md
  projects/rocprofiler-compute/docs/design/analysis-config-redesign/lld-phase1-metric-library.md
  projects/rocprofiler-compute/docs/design/analysis-config-redesign/lld-phase2-display-view.md
Due: .azuredevops/rocm_ci_caller.yml

test(rocprofiler-compute): Drop the SoC gate from the multi-rank tests (#12030)
  projects/rocprofiler-compute/tests/integration/test_profile_multi_rank.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Note the analyze-only install path in the changelog
  projects/rocprofiler-compute/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

chore(rocprofiler-compute): Allow uv to parse pyproject.toml (#11918)
  projects/rocprofiler-compute/pyproject.toml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

docs(rocprofiler-compute): install analyze dependencies with the compute-analyze extra (#11928)
  projects/rocprofiler-compute/docs/install/core-install.rst
  projects/rocprofiler-compute/docs/install/quickstart.rst
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof-compute
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/tests/unit/test_argparser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

refactor(rocprofiler-compute): improve analyze mode for experimental features (#11564)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/sample/membw_analysis_test_suite/README.md
  projects/rocprofiler-compute/sample/membw_analysis_test_suite/ea/README.md
  projects/rocprofiler-compute/sample/membw_analysis_test_suite/l2/README.md
  projects/rocprofiler-compute/sample/membw_analysis_test_suite/l2/VERIFICATION_REPORT.md
  projects/rocprofiler-compute/sample/membw_analysis_test_suite/l2/l2_multigpu_fabric.hip
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/tests/unit/rocprof_compute_analyze/test_analysis_base.py
  projects/rocprofiler-compute/tests/unit/rocprof_compute_analyze/test_analysis_cli.py
  projects/rocprofiler-compute/tests/unit/rocprof_compute_profile/test_profiler_base.py
  projects/rocprofiler-compute/tests/unit/utils/test_parser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(rocprofiler-compute): Fix gfx1250 SoL WMMA peak equations (#12122)
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1250/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/tools/config_management/.config_hashes.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Point the compute-analyze extra at the current index
  projects/rocprofiler-compute/docs/install/core-install.rst
  projects/rocprofiler-compute/docs/install/quickstart.rst
Due: .azuredevops/rocm_ci_caller.yml

docs(rocprofiler-compute): membw-analysis documentation update (#11388)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/docs/design/hld-membw-guided-analysis-in-memchart.md
  projects/rocprofiler-compute/docs/how-to/membw_analysis.rst
  projects/rocprofiler-compute/docs/index.rst
  projects/rocprofiler-compute/docs/sphinx/_toc.yml.in
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/tests/integration/test_profile_membw.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(rocprofiler-compute): move block 30 panel id out of parser (#12136)
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/src/utils/utils_common.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

refactor(rocprofiler-compute): build Torch collector without PyTorch (#12192)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/docs/design/hld-torch-trace-collector.md
  projects/rocprofiler-compute/docs/design/lld-torch-trace-collector.md
  projects/rocprofiler-compute/docs/how-to/profile/mode.rst
  projects/rocprofiler-compute/src/lib/torch_trace_collector/CMakeLists.txt
  projects/rocprofiler-compute/src/lib/torch_trace_collector/exports.map
  projects/rocprofiler-compute/src/lib/torch_trace_collector/tests/CMakeLists.txt
  projects/rocprofiler-compute/src/lib/torch_trace_collector/tests/test_torch_trace_collector.cpp
  projects/rocprofiler-compute/src/lib/torch_trace_collector/torch_abi/ATen/record_function.h
  projects/rocprofiler-compute/src/lib/torch_trace_collector/torch_abi/c10/util/ThreadLocalDebugInfo.h
  projects/rocprofiler-compute/src/lib/torch_trace_collector/torch_abi/torch_abi.h
  projects/rocprofiler-compute/src/lib/torch_trace_collector/torch_trace_collector.cpp
  projects/rocprofiler-compute/src/lib/torch_trace_collector/torch_trace_collector.h
  projects/rocprofiler-compute/src/lib/torch_trace_collector/torch_trace_collector_module.cpp
  projects/rocprofiler-compute/src/lib/torch_trace_collector/user_scope.h
  projects/rocprofiler-compute/src/utils/inject_roctx/_backends/torch.py
  projects/rocprofiler-compute/src/utils/inject_roctx/_backends/torch_cpp_loader.py
  projects/rocprofiler-compute/tests/unit/utils/inject_roctx/_backends/test_torch_cpp_loader.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(rocprofiler-compute): Preserve TheRock ASAN test settings (#11993)
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/cmake/sanitizers.cmake
  projects/rocprofiler-compute/tests/unit/utils/inject_roctx/test_inject_roctx_package.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

refactor(rocprofiler-compute): Align mi450 analysis config with previous arch's (#11498)
  projects/rocprofiler-compute/docs/data/metrics/gfx1250_metrics.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1250/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1250/0300_memory_chart.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1250/0600_workgroup_manager_spi.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1250/0700_workgroup_processor_wgp.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1250/0900_gl0_cache_and_lds.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1250/1100_gl1_cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1250/1200_graphics_level_arbiter_glarb.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1250/1300_gl2_cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1250/1400_efficiency_arbiter_ea.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1250/1500_central_hub_ch.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1250/1600_translation_cache_l1_utcl1.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx12_config_template.yaml
  projects/rocprofiler-compute/src/utils/metrics/evaluation_pipeline.py
  projects/rocprofiler-compute/src/utils/utils_counter_defs.py
  projects/rocprofiler-compute/tests/unit/rocprof_compute_analyze/test_analysis_db.py
  projects/rocprofiler-compute/tests/unit/utils/metrics/test_evaluation_pipeline.py
  projects/rocprofiler-compute/tests/unit/utils/test_utils_counter_defs.py
  projects/rocprofiler-compute/tools/config_management/.config_hashes.json
  projects/rocprofiler-compute/tools/config_management/metric_description_manager.py
  projects/rocprofiler-compute/tools/per_arch_metric_definitions/gfx1250_metrics_description.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(rocprofiler-compute): use gfx1250 shader engine count (#11675)
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1250/0600_workgroup_manager_spi.yaml
  projects/rocprofiler-compute/tools/config_management/.config_hashes.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(rocprofiler-compute): Rename gfx1250 metric labels for clarity (#12133)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/docs/data/metrics/gfx1250_metrics.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1250/0700_workgroup_processor_wgp.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1250/0900_gl0_cache_and_lds.yaml
  projects/rocprofiler-compute/tools/config_management/.config_hashes.json
  projects/rocprofiler-compute/tools/per_arch_metric_definitions/gfx1250_metrics_description.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

feat(rocprofiler-compute): Add profiling agent skills
  projects/rocprofiler-compute/AGENTS.md
  projects/rocprofiler-compute/README.md
  projects/rocprofiler-compute/skills/README.md
  projects/rocprofiler-compute/skills/kernel-bottleneck/SKILL.md
  projects/rocprofiler-compute/skills/kernel-bottleneck/evals/evals.json
  projects/rocprofiler-compute/skills/kernel-bottleneck/skill-card.md
  projects/rocprofiler-compute/skills/memory/SKILL.md
  projects/rocprofiler-compute/skills/memory/evals/evals.json
  projects/rocprofiler-compute/skills/memory/skill-card.md
  projects/rocprofiler-compute/skills/pc-sampling/SKILL.md
  projects/rocprofiler-compute/skills/pc-sampling/evals/evals.json
  projects/rocprofiler-compute/skills/pc-sampling/skill-card.md
  projects/rocprofiler-compute/skills/roofline/SKILL.md
  projects/rocprofiler-compute/skills/roofline/evals/evals.json
  projects/rocprofiler-compute/skills/roofline/skill-card.md
  projects/rocprofiler-compute/skills/run_evals.py
  projects/rocprofiler-compute/skills/speed-of-light/SKILL.md
  projects/rocprofiler-compute/skills/speed-of-light/evals/evals.json
  projects/rocprofiler-compute/skills/speed-of-light/skill-card.md
  projects/rocprofiler-compute/skills/torch-trace/SKILL.md
  projects/rocprofiler-compute/skills/torch-trace/evals/evals.json
  projects/rocprofiler-compute/skills/torch-trace/skill-card.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

feat(rocprofiler-compute): Add profiling agent skills (#11981)
  projects/rocprofiler-compute/AGENTS.md
  projects/rocprofiler-compute/README.md
  projects/rocprofiler-compute/skills/README.md
  projects/rocprofiler-compute/skills/kernel-bottleneck/SKILL.md
  projects/rocprofiler-compute/skills/kernel-bottleneck/evals/evals.json
  projects/rocprofiler-compute/skills/kernel-bottleneck/skill-card.md
  projects/rocprofiler-compute/skills/memory/SKILL.md
  projects/rocprofiler-compute/skills/memory/evals/evals.json
  projects/rocprofiler-compute/skills/memory/skill-card.md
  projects/rocprofiler-compute/skills/pc-sampling/SKILL.md
  projects/rocprofiler-compute/skills/pc-sampling/evals/evals.json
  projects/rocprofiler-compute/skills/pc-sampling/skill-card.md
  projects/rocprofiler-compute/skills/roofline/SKILL.md
  projects/rocprofiler-compute/skills/roofline/evals/evals.json
  projects/rocprofiler-compute/skills/roofline/skill-card.md
  projects/rocprofiler-compute/skills/run_evals.py
  projects/rocprofiler-compute/skills/speed-of-light/SKILL.md
  projects/rocprofiler-compute/skills/speed-of-light/evals/evals.json
  projects/rocprofiler-compute/skills/speed-of-light/skill-card.md
  projects/rocprofiler-compute/skills/torch-trace/SKILL.md
  projects/rocprofiler-compute/skills/torch-trace/evals/evals.json
  projects/rocprofiler-compute/skills/torch-trace/skill-card.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add a CPU-side hint for kernel duration and ALU versus memory bound.
  experimental/kernel-sched-hint/.clang-format
  experimental/kernel-sched-hint/README.md
  experimental/kernel-sched-hint/cxx/kernel_sched_hint.hpp
  experimental/kernel-sched-hint/cxx/test_hint.cpp
  experimental/kernel-sched-hint/kernel_sched_hint/__init__.py
  experimental/kernel-sched-hint/kernel_sched_hint/__main__.py
  experimental/kernel-sched-hint/kernel_sched_hint/devices.py
  experimental/kernel-sched-hint/kernel_sched_hint/fit.py
  experimental/kernel-sched-hint/kernel_sched_hint/hint.py
  experimental/kernel-sched-hint/kernel_sched_hint/isa.py
  experimental/kernel-sched-hint/kernel_sched_hint/metadata.py
  experimental/kernel-sched-hint/kernel_sched_hint/model.py
  experimental/kernel-sched-hint/pyproject.toml
  experimental/kernel-sched-hint/tests/fixtures/fma_chain.s
  experimental/kernel-sched-hint/tests/fixtures/latency.s
  experimental/kernel-sched-hint/tests/fixtures/mfma.s
  experimental/kernel-sched-hint/tests/fixtures/saxpy.ll
  experimental/kernel-sched-hint/tests/fixtures/saxpy.s
  experimental/kernel-sched-hint/tests/test_hint.py
Due: none

test(rccl): scaffold rma proxy launch host tests
  projects/rccl/test/host/CMakeLists.txt
  projects/rccl/test/host/fakes/gdr_fakes.cc
  projects/rccl/test/host/fakes/hip_fakes.cc
  projects/rccl/test/host/fakes/hip_fakes.h
  projects/rccl/test/host/rma-proxy-launch-test.cc
  projects/rccl/test/test_categories_micro.yaml
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): cover RMA proxy launch backpressure and failures
  projects/rccl/test/host/rma-proxy-launch-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): cover RMA proxy allocation failure cleanup
  projects/rccl/test/host/rma-proxy-launch-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): cover persistent RMA proxy launches
  projects/rccl/test/host/rma-proxy-launch-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): cover RMA proxy helpers and non-persistent launches
  projects/rccl/test/host/rma-proxy-launch-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): cover RMA proxy persistent descriptor reclaim
  projects/rccl/test/host/rma-proxy-launch-test.cc
  projects/rccl/test/test_categories_micro.yaml
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): cover persistent RMA proxy descriptor lifecycle
  projects/rccl/test/host/rma-proxy-launch-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): address RMA proxy launch review feedback
  projects/rccl/test/host/CMakeLists.txt
  projects/rccl/test/host/fakes/gdr_fakes.cc
  projects/rccl/test/host/fakes/hip_fakes.cc
  projects/rccl/test/host/fakes/hip_fakes.h
  projects/rccl/test/host/rma-proxy-launch-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): tidy RMA proxy HIP test seams
  projects/rccl/test/host/fakes/hip_fakes.cc
  projects/rccl/test/host/fakes/hip_fakes.h
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): address final RMA proxy review feedback
  projects/rccl/test/host/fakes/hip_fakes.h
  projects/rccl/test/host/rma-proxy-launch-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): close RMA proxy launch coverage gaps
  projects/rccl/test/host/rma-proxy-launch-test.cc
Due: .azuredevops/rocm_ci_caller.yml

feat(rccl): TDM async-to-LDS path for LL128 user buffers on gfx1250
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/device/prims_ll128.h
  projects/rccl/src/device/tdm/ll128Tdm.h
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): close remaining RMA proxy review gaps
  projects/rccl/test/host/fakes/hip_fakes.h
  projects/rccl/test/host/rma-proxy-launch-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): label host microtest groups by source file
  projects/rccl/test/test_categories_micro.yaml
Due: .azuredevops/rocm_ci_caller.yml

rocr: exit the trap handler when the sampling buffer base is null
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/trap_handler/trap_handler_gfx12.s
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

test(rccl): extract the shared task_prep scene into TaskPrepScene.h (#12003)
  projects/rccl/test/host/CMakeLists.txt
  projects/rccl/test/host/MICROTEST_README.md
  projects/rccl/test/host/TaskPrepScene.h
  projects/rccl/test/host/fakes/allocator_fakes.cc
  projects/rccl/test/host/fakes/allocator_fakes.h
  projects/rccl/test/host/fakes/dev_runtime_fakes.cc
  projects/rccl/test/host/fakes/dev_runtime_fakes.h
  projects/rccl/test/host/fakes/nccl_stubs.cc
  projects/rccl/test/host/fakes/sched_stubs.cc
  projects/rccl/test/host/fakes/sched_stubs.h
  projects/rccl/test/host/task-classify-test.cc
  projects/rccl/test/host/task-posttuning-test.cc
  projects/rccl/test/host/task-prep-test.cc
  projects/rccl/test/host/task-pretuning-test.cc
  projects/rccl/test/test_categories_micro_taskprep.yaml
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): build rccl-HostUnitTests in-tree and add a "host" ctest label
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/host/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml
