Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Ensure memory is freed in attemptToQueueCleanupOnStreamSubmissionFailure.
  projects/hipfile/test/amd_detail/async.cpp
Due: .azuredevops/rocm_ci_caller.yml

Use static_ptr_cast in async tests to handle void allocations.
  projects/hipfile/test/amd_detail/async.cpp
Due: .azuredevops/rocm_ci_caller.yml

Use maxEnum instead of any negative values in NVIDIA unit tests.
  projects/hipfile/test/nvidia_detail/cufile-api-compat.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix the test name and macro to it builds fine
  projects/hip-tests/catch/unit/module/hipModuleGetLoadingMode.cc
Due: .azuredevops/rocm_ci_caller.yml

Update as per code review
  projects/amdsmi/tests/python_unittest/cli_unit_test.py
Due: .azuredevops/rocm_ci_caller.yml

Add OPT-125M inference fixture and run script for smoke testing on emulated MI350X
  emulation/mirage/tests/fixtures/ml/opt125_onetoken.py
  emulation/mirage/tests/run_opt125_onetoken.sh
Due: none

better docker build
  emulation/Dockerfile
  emulation/mirage/scripts/mirage-docker-build.sh
  emulation/mirage/scripts/mirage.sh
  emulation/mirage/tests/run_opt125_onetoken.sh
  emulation/mirage/tests/run_vllm_opt125m.sh
Due: none

Add rhel-compiler-check job to test GCC toolset 13/14/15 builds
  .github/workflows/rocprofiler-systems-redhat.yml
Due: none

Apply suggestions from code review
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
Due: .azuredevops/rocm_ci_caller.yml

Potential fix for pull request finding
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
Due: .azuredevops/rocm_ci_caller.yml

clr: check GPU prof signal size before using it
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
Due: .azuredevops/rocm_ci_caller.yml

change print to log signals size instead of handle.
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
Due: .azuredevops/rocm_ci_caller.yml

Address comments
  emulation/rocjitsu/lib/rocjitsu/include/rocjitsu/vm/rj_vm.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/interposer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/remote_driver.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/remote_driver.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/rpc.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/rj_vm.cpp
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
  emulation/rocjitsu/tools/rocjitsu/main.cpp
Due: none

Address comments
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/tensor_dma.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/lds_barrier_cell.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/memory_pipeline.cpp
  emulation/rocjitsu/tests/gfx1250_sim_test.cpp
Due: none

Address comments
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/simd_codegen.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/vector_cmp.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna1/vop3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna2/vop3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna3/vop3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/vop3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/gfx1250/vop3_cmp.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna1/vop3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna2/vop3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3/vop3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3_5/vop3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna4/vop3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/execute_shared.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/mma_exec.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/lib/util/include/util/simd.h
  emulation/rocjitsu/tests/instruction_execution_harness_test.cpp
  emulation/rocjitsu/tests/simd_correctness/vop3_modifier_simd_test.cpp
Due: none

better logging
  emulation/mirage/scripts/mirage-docker-build.sh
  emulation/mirage/tests/run_opt125_onetoken.sh
  emulation/mirage/tests/run_vllm_opt125m.sh
Due: none

Fix async event loop busy-spin from position-keyed event age
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocrtst: Free pool allocations via hsa_amd_memory_pool_free
  projects/rocr-runtime/rocrtst/suites/functional/memory_basic.cc
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

code review
  projects/rccl/src/include/api_trace.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rccl/details/rccl.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rccl: add rocprofiler coverage for ncclCommGrow and ncclCommGetUniqueId
  projects/rccl/src/include/api_trace.h
  projects/rccl/src/init.cc
  projects/rccl/src/misc/api_trace.cc
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rccl/api_args.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rccl/api_id.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rccl/details/api_trace.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rccl/details/rccl.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/rccl/abi.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/rccl/rccl.def.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rocr: SDMA Broadcast: Add BlitKernel broadcast/swap/indirect copy shader support
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_blit_kernel.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_blit_shaders.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_gpu_agent.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/blit.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_blit_kernel.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/blit_shaders/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/blit_shaders/blit_broadcastCopy.s
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/blit_shaders/blit_indirectCopy.s
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/blit_shaders/blit_swapCopy.s
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocr: SDMA Broadcast: Fix code review issues
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_blit_kernel.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_blit_shaders.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_gpu_agent.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_blit_kernel.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/blit_shaders/blit_broadcastCopy.s
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/blit_shaders/blit_indirectCopy.s
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/blit_shaders/blit_swapCopy.s
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/util/flag.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocr: SDMA Broadcast: Fix swap copy issues
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/blit.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/blit_shaders/blit_indirectCopy.s
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/blit_shaders/blit_swapCopy.s
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[RCCL] Add NCCL_PXN_C2C default unit test and document the variable
  projects/rccl/CHANGELOG.md
  projects/rccl/docs/api-reference/env-variables.rst
  projects/rccl/test/ParamTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Register missing unit tests in CTest
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/src/lib/pc_sampling_collector/tests/CMakeLists.txt
  projects/rocprofiler-compute/tests/test_categories.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-sdk] Support descriptor queue creation
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_interposition.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/amd_queue_create.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/queue_interposition.cpp
  projects/rocprofiler-sdk/tests/bin/hsa-queue-dependency/CMakeLists.txt
  projects/rocprofiler-sdk/tests/bin/hsa-queue-dependency/multiqueue_app.cpp
  projects/rocprofiler-sdk/tests/bin/hsa-queue-dependency/multiqueue_app.h
  projects/rocprofiler-sdk/tests/rocprofv3/hsa-queue-dependency/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/hsa-queue-dependency/conftest.py
  projects/rocprofiler-sdk/tests/rocprofv3/hsa-queue-dependency/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

address comments
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx115x/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/1100_compute_units_compute_pipeline.yaml
  projects/rocprofiler-compute/src/utils/.config_hashes.json
  projects/rocprofiler-compute/src/utils/gui.py
  projects/rocprofiler-compute/src/utils/tty.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocr: Fix UB in lazy_ptr move assignment operator
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_blit_kernel.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/blit_shaders/blit_broadcastCopy.s
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/blit_shaders/blit_indirectCopy.s
  projects/rocr-runtime/runtime/hsa-runtime/core/util/lazy_ptr.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

exp: ctest --parallel 1 for rocprofiler-sdk tests (isolate intra-shard GPU contention)
  test/therock/test_rocprofiler_sdk.py
Due: none

rocpd: Add stack_depth + running_total_bytes (Asks 2 & 3)
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
  projects/rocprofiler-sdk/source/lib/output/metadata.cpp
  projects/rocprofiler-sdk/source/lib/output/metadata.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/marker/range_marker.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/marker/range_marker.hpp
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk-rocpd/rocpd_tables.sql
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

add column guard for baseline comparison
  projects/rocprofiler-compute/src/utils/tty.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[hipFile] Install relocatable unit-test assets for packaged CI
  projects/hipfile/CMakeLists.txt
  projects/hipfile/cmake/AISGenerateInstallCTest.cmake
  projects/hipfile/cmake/AISInstallTests.cmake
  projects/hipfile/cmake/AISUseGTest.cmake
Due: .azuredevops/rocm_ci_caller.yml

Removed NCCL documentation blocks and finding ultimate code placement (build and test succeeded)
  projects/rccl/CMakeLists.txt
  projects/rccl/src/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Changing inject_roctx into namespace package: moving torch-only wrapper helpers into the torch backend, extracting the backend registry into registry.py
  projects/rocprofiler-compute/src/lib/roctx_recordfn/CMakeLists.txt
  projects/rocprofiler-compute/src/utils/inject_roctx/__init__.py
  projects/rocprofiler-compute/src/utils/inject_roctx/__main__.py
  projects/rocprofiler-compute/src/utils/inject_roctx/_backends/torch.py
  projects/rocprofiler-compute/src/utils/inject_roctx/_backends/torch_cpp_loader.py
  projects/rocprofiler-compute/src/utils/inject_roctx/_backends/triton.py
  projects/rocprofiler-compute/src/utils/inject_roctx/core.py
  projects/rocprofiler-compute/src/utils/inject_roctx/registry.py
  projects/rocprofiler-compute/src/utils/utils_profile.py
  projects/rocprofiler-compute/tests/test_inject_roctx_package.py
  projects/rocprofiler-compute/tests/test_torch_cpp_loader.py
  projects/rocprofiler-compute/tests/test_torch_trace_coverage.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Wip
  projects/rocprofiler-systems/source/lib/backends/amd_smi/backend.hpp
  projects/rocprofiler-systems/source/lib/backends/concepts/backend_factory.hpp
  projects/rocprofiler-systems/source/lib/backends/procfs/backend.hpp
  projects/rocprofiler-systems/source/lib/backends/rocprofiler_sdk/backend.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/cpu/tests/mock_backend.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu_perf_counter/tests/mock_backend.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/device_providers/amd_smi/provider.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/device_providers/procfs/provider.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/device_providers/rocprofiler_sdk/provider.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/sampler.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

setting default True for ROCPROFCOMPUTE_ROCTX_DEEP_TENSOR_WRAPS
  projects/rocprofiler-compute/docs/how-to/profile/mode.rst
  projects/rocprofiler-compute/src/utils/inject_roctx/_backends/torch.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rccl] Fix ncclCommGrow channel-count divergence + grow/LSA timeout tests
  projects/rccl/src/graph/connect.cc
  projects/rccl/src/graph/paths.cc
  projects/rccl/src/include/graph.h
  projects/rccl/test/GinNcclTimeoutMPITests.cpp
  projects/rccl/test/GrowMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml
