Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

replace #include <drm/drm.h> with #include <libdrm/drm.h>
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/xdna/amd_xdna_driver.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

chore(rocjitsu): remove simgui
  emulation/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/README.md
  emulation/rocjitsu/scripts/rocjitsu-docker-build.sh
  emulation/rocjitsu/tools/simgui/CMakeLists.txt
  emulation/rocjitsu/tools/simgui/app.cpp
  emulation/rocjitsu/tools/simgui/app.h
  emulation/rocjitsu/tools/simgui/main.cpp
  emulation/rocjitsu/tools/simgui/simulation_panel.cpp
  emulation/rocjitsu/tools/simgui/simulation_panel.h
  emulation/rocjitsu/tools/simgui/topology_editor.cpp
  emulation/rocjitsu/tools/simgui/topology_editor.h
Due: none

fix sign warning
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/analysis/liveness.cpp
Due: none

Prototype hostcall listener fix
  projects/clr/rocclr/device/devhostcall.cpp
  projects/clr/rocclr/os/os_posix.cpp
  projects/clr/rocclr/thread/thread.cpp
Due: .azuredevops/rocm_ci_caller.yml

install libdrm-devel for rhel and sles
  projects/rocprofiler-sdk/docker/Dockerfile.ci
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

docs(rocdecode): combine build, "clone project" and "prerequisites" pages
  projects/rocdecode/docs/install/rocDecode-build-and-install.rst
  projects/rocdecode/docs/install/rocDecode-clone-project.rst
  projects/rocdecode/docs/install/rocDecode-prerequisites.rst
  projects/rocdecode/docs/sphinx/_toc.yml.in
Due: .azuredevops/rocm_ci_caller.yml

docs(rocdecode): update install for 7.13
  projects/rocdecode/docs/index.rst
  projects/rocdecode/docs/install/rocDecode-build-and-install.rst
  projects/rocdecode/docs/install/rocDecode-install.rst
  projects/rocdecode/docs/sphinx/_toc.yml.in
Due: .azuredevops/rocm_ci_caller.yml

rename test files for better organization and update CMake
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/tests/test_categories.yaml
  projects/rocprofiler-compute/tests/test_data_imputation.py
  projects/rocprofiler-compute/tests/test_metric_utils.py
  projects/rocprofiler-compute/tests/test_rocprof_compute_analyze_analysis_db.py
  projects/rocprofiler-compute/tests/test_rocprof_compute_analyze_pc_sampling.py
  projects/rocprofiler-compute/tests/test_rocprof_compute_analyze_torch_trace.py
  projects/rocprofiler-compute/tests/test_rocprof_compute_profile_profiler_base.py
  projects/rocprofiler-compute/tests/test_rocprof_compute_soc_soc_base.py
  projects/rocprofiler-compute/tests/test_rocprof_compute_tui_components.py
  projects/rocprofiler-compute/tests/test_utils.py
  projects/rocprofiler-compute/tests/test_utils_mem_chart_gfx11.py
  projects/rocprofiler-compute/tests/test_utils_mem_chart_gfx9.py
  projects/rocprofiler-compute/tests/test_utils_metrics_aggregation.py
  projects/rocprofiler-compute/tests/test_utils_metrics_evaluation_pipeline.py
  projects/rocprofiler-compute/tests/test_utils_metrics_expression.py
  projects/rocprofiler-compute/tests/test_utils_metrics_metric_evaluator.py
  projects/rocprofiler-compute/tests/test_utils_native_tool_finder.py
  projects/rocprofiler-compute/tests/test_utils_roofline_calc.py
  projects/rocprofiler-compute/tests/test_utils_tty.py
  projects/rocprofiler-compute/tests/test_utils_utils_analysis.py
  projects/rocprofiler-compute/tests/test_utils_utils_common.py
  projects/rocprofiler-compute/tests/test_utils_utils_profile.py
  projects/rocprofiler-compute/tests/test_utils_utils_profile_csv.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

update python coding style with test organization
  projects/rocprofiler-compute/PYTHON_CODING_STYLE.md
Due: .azuredevops/rocm_ci_caller.yml

fix import
  projects/rocprofiler-compute/tests/test_torch_trace_coverage.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

format
  projects/rocprofiler-compute/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

aqlprofile: Add architecture abstraction layer for improved extensibility
  projects/aqlprofile/CMakeLists.txt
  projects/aqlprofile/docs/IMPLEMENTATION_COMPLETE.md
  projects/aqlprofile/docs/NEW_ARCHITECTURE.md
  projects/aqlprofile/docs/REFACTORING_SUMMARY.md
  projects/aqlprofile/examples/pmc_counter_example.cpp
  projects/aqlprofile/src/CMakeLists.txt
  projects/aqlprofile/src/core/architecture_init.cpp
  projects/aqlprofile/src/core/architecture_init.hpp
  projects/aqlprofile/src/core/architecture_registry.cpp
  projects/aqlprofile/src/core/architecture_registry.hpp
  projects/aqlprofile/src/core/architectures/gfx10_architecture.cpp
  projects/aqlprofile/src/core/architectures/gfx10_architecture.hpp
  projects/aqlprofile/src/core/architectures/gfx11_architecture.cpp
  projects/aqlprofile/src/core/architectures/gfx11_architecture.hpp
  projects/aqlprofile/src/core/architectures/gfx12_architecture.cpp
  projects/aqlprofile/src/core/architectures/gfx12_architecture.hpp
  projects/aqlprofile/src/core/architectures/gfx9_architecture.cpp
  projects/aqlprofile/src/core/architectures/gfx9_architecture.hpp
  projects/aqlprofile/src/core/architectures/mi100_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi100_architecture.hpp
  projects/aqlprofile/src/core/architectures/mi200_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi200_architecture.hpp
  projects/aqlprofile/src/core/architectures/mi300_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi300_architecture.hpp
  projects/aqlprofile/src/core/architectures/mi350_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi350_architecture.hpp
  projects/aqlprofile/src/core/architectures/mi450_architecture.cpp
  projects/aqlprofile/src/core/hardware_architecture.cpp
  projects/aqlprofile/src/core/hardware_architecture.hpp
  projects/aqlprofile/src/core/hardware_config.hpp
  projects/aqlprofile/src/core/pm4_factory_adapter.cpp
  projects/aqlprofile/src/core/pm4_factory_adapter.hpp
  projects/aqlprofile/src/core/register_schema.hpp
  projects/aqlprofile/src/core/tests/CMakeLists.txt
  projects/aqlprofile/src/core/tests/architecture_registry_tests.cpp
  projects/aqlprofile/src/core/tests/hardware_architecture_tests.cpp
  projects/aqlprofile/src/core/tests/hardware_config_tests.cpp
  projects/aqlprofile/src/core/tests/register_schema_tests.cpp
  projects/aqlprofile/src/pm4/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: Consolidate Register& forwarders into CmdBuilder base class
  projects/aqlprofile/src/CMakeLists.txt
  projects/aqlprofile/src/pm4/cmd_builder.h
  projects/aqlprofile/src/pm4/gfx10_cmd_builder.cpp
  projects/aqlprofile/src/pm4/gfx10_cmd_builder.h
  projects/aqlprofile/src/pm4/gfx11_cmd_builder.cpp
  projects/aqlprofile/src/pm4/gfx11_cmd_builder.h
  projects/aqlprofile/src/pm4/gfx12_cmd_builder.cpp
  projects/aqlprofile/src/pm4/gfx12_cmd_builder.h
  projects/aqlprofile/src/pm4/gfx9_cmd_builder.cpp
  projects/aqlprofile/src/pm4/gfx9_cmd_builder.h
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: Wire MI series, GFX12/gfx1250, and factory integration into architecture layer
  projects/aqlprofile/docs/IMPLEMENTATION_COMPLETE.md
  projects/aqlprofile/docs/NEW_ARCHITECTURE.md
  projects/aqlprofile/docs/REFACTORING_SUMMARY.md
  projects/aqlprofile/gfxip/gfx12/gfx12_block_info.h
  projects/aqlprofile/gfxip/gfx12/gfx12_primitives.h
  projects/aqlprofile/src/CMakeLists.txt
  projects/aqlprofile/src/core/architectures/gfx10_architecture.cpp
  projects/aqlprofile/src/core/architectures/gfx10_architecture.hpp
  projects/aqlprofile/src/core/architectures/gfx11_architecture.cpp
  projects/aqlprofile/src/core/architectures/gfx11_architecture.hpp
  projects/aqlprofile/src/core/architectures/gfx9_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi100_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi300_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi350_architecture.hpp
  projects/aqlprofile/src/core/factory_block_tables.h
  projects/aqlprofile/src/core/gfx10_factory.cpp
  projects/aqlprofile/src/core/gfx11_factory.cpp
  projects/aqlprofile/src/core/gfx11_factory.h
  projects/aqlprofile/src/core/gfx9_factory.cpp
  projects/aqlprofile/src/core/gfx9_factory.h
  projects/aqlprofile/src/core/pm4_factory.cpp
  projects/aqlprofile/src/core/pm4_factory.h
  projects/aqlprofile/src/core/pm4_factory_adapter.cpp
  projects/aqlprofile/src/core/pm4_factory_adapter.hpp
  projects/aqlprofile/src/pm4/gfx10_builders.cpp
  projects/aqlprofile/src/pm4/gfx10_builders.hpp
  projects/aqlprofile/src/pm4/gfx11_builders.cpp
  projects/aqlprofile/src/pm4/gfx11_builders.hpp
  projects/aqlprofile/src/pm4/gfx12_builders.cpp
  projects/aqlprofile/src/pm4/gfx12_builders.hpp
  projects/aqlprofile/src/pm4/gfx9_builders.cpp
  projects/aqlprofile/src/pm4/gfx9_builders.hpp
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: Replace xcc_number_ > 4 magic check with aid_count_ > 2
  projects/aqlprofile/src/pm4/pmc_builder.cpp
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: Add missing capability accessors and replace topology checks (Phases 2-3)
  projects/aqlprofile/src/core/architectures/gfx9_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi300_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi350_architecture.cpp
  projects/aqlprofile/src/core/hardware_architecture.hpp
  projects/aqlprofile/src/core/hardware_config.hpp
  projects/aqlprofile/src/core/pm4_factory.h
  projects/aqlprofile/src/core/pm4_factory_adapter.hpp
  projects/aqlprofile/src/core/threadtrace.cpp
  projects/aqlprofile/src/pm4/pmc_builder.cpp
  projects/aqlprofile/src/pm4/pmc_builder.h
  projects/aqlprofile/src/pm4/sqtt_builder.cpp
  projects/aqlprofile/src/pm4/sqtt_builder.h
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: Move PM4 builder implementations out of headers
  projects/aqlprofile/src/CMakeLists.txt
  projects/aqlprofile/src/pm4/pmc_builder.cpp
  projects/aqlprofile/src/pm4/pmc_builder.h
  projects/aqlprofile/src/pm4/spm_builder.cpp
  projects/aqlprofile/src/pm4/spm_builder.h
  projects/aqlprofile/src/pm4/sqtt_builder.cpp
  projects/aqlprofile/src/pm4/sqtt_builder.h
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: Eliminate legacy GfxN/MiN factory subclasses
  projects/aqlprofile/src/CMakeLists.txt
  projects/aqlprofile/src/core/aql_profile.cpp
  projects/aqlprofile/src/core/architecture_init.cpp
  projects/aqlprofile/src/core/architectures/gfx10_architecture.cpp
  projects/aqlprofile/src/core/architectures/gfx115x_architecture.cpp
  projects/aqlprofile/src/core/architectures/gfx11_architecture.cpp
  projects/aqlprofile/src/core/architectures/gfx11_architecture.hpp
  projects/aqlprofile/src/core/architectures/gfx9_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi100_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi200_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi300_architecture.cpp
  projects/aqlprofile/src/core/counters.cpp
  projects/aqlprofile/src/core/factory_block_tables.h
  projects/aqlprofile/src/core/gfx10_factory.cpp
  projects/aqlprofile/src/core/gfx115x_factory.cpp
  projects/aqlprofile/src/core/gfx11_factory.cpp
  projects/aqlprofile/src/core/gfx11_factory.h
  projects/aqlprofile/src/core/gfx1250_factory.cpp
  projects/aqlprofile/src/core/gfx12_factory.cpp
  projects/aqlprofile/src/core/gfx908_factory.cpp
  projects/aqlprofile/src/core/gfx90a_factory.cpp
  projects/aqlprofile/src/core/gfx940_factory.cpp
  projects/aqlprofile/src/core/gfx9_factory.cpp
  projects/aqlprofile/src/core/gfx9_factory.h
  projects/aqlprofile/src/core/navi_reg_init.cpp
  projects/aqlprofile/src/core/pm4_factory.cpp
  projects/aqlprofile/src/core/pm4_factory.h
  projects/aqlprofile/src/core/pm4_factory_adapter.cpp
  projects/aqlprofile/src/core/pm4_factory_adapter.hpp
  projects/aqlprofile/src/core/spm_v2.cpp
  projects/aqlprofile/src/core/tests/CMakeLists.txt
  projects/aqlprofile/src/core/tests/aql_profile_tests.cpp
  projects/aqlprofile/src/core/tests/aql_profile_v2_tests.cpp
  projects/aqlprofile/src/core/tests/pm4_factory_tests.cpp
  projects/aqlprofile/src/core/vega20_reg_init.cpp
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: Fix integration test agent counter selection
  projects/aqlprofile/test/integration/agent.cpp
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: Remove duplicate #include directives
  projects/aqlprofile/gfxip/gfx12/gfx12_primitives.h
  projects/aqlprofile/src/core/spm_decode.cpp
  projects/aqlprofile/src/util/hsa_rsrc_factory.cpp
  projects/aqlprofile/test/integration/main.cpp
  projects/aqlprofile/test/integration/workload.cpp
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: Add aqlprofile_get_agent_info() public API
  projects/aqlprofile/src/core/counters.cpp
  projects/aqlprofile/src/core/include/aqlprofile-sdk/aql_profile_v2.h
  projects/aqlprofile/src/core/tests/aql_profile_v2_tests.cpp
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: Move GFX cmd_builder implementations out of headers
  projects/aqlprofile/src/CMakeLists.txt
  projects/aqlprofile/src/core/gfx11_factory.cpp
  projects/aqlprofile/src/core/gfx11_factory.h
  projects/aqlprofile/src/core/gfx1250_factory.cpp
  projects/aqlprofile/src/core/gfx12_factory.cpp
  projects/aqlprofile/src/core/gfx9_factory.cpp
  projects/aqlprofile/src/core/gfx9_factory.h
  projects/aqlprofile/src/core/pm4_factory.cpp
  projects/aqlprofile/src/core/pm4_factory.h
  projects/aqlprofile/src/core/spm_data.cpp
  projects/aqlprofile/src/core/spm_v2.cpp
  projects/aqlprofile/src/core/tests/CMakeLists.txt
  projects/aqlprofile/src/core/tests/aql_profile_tests.cpp
  projects/aqlprofile/src/pm4/gfx10_cmd_builder.cpp
  projects/aqlprofile/src/pm4/gfx10_cmd_builder.h
  projects/aqlprofile/src/pm4/gfx11_cmd_builder.cpp
  projects/aqlprofile/src/pm4/gfx11_cmd_builder.h
  projects/aqlprofile/src/pm4/gfx12_cmd_builder.cpp
  projects/aqlprofile/src/pm4/gfx12_cmd_builder.h
  projects/aqlprofile/src/pm4/gfx9_cmd_builder.cpp
  projects/aqlprofile/src/pm4/gfx9_cmd_builder.h
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: Delete dead gfx*_builders files
  projects/aqlprofile/src/pm4/gfx10_builders.cpp
  projects/aqlprofile/src/pm4/gfx10_builders.hpp
  projects/aqlprofile/src/pm4/gfx11_builders.cpp
  projects/aqlprofile/src/pm4/gfx11_builders.hpp
  projects/aqlprofile/src/pm4/gfx12_builders.cpp
  projects/aqlprofile/src/pm4/gfx12_builders.hpp
  projects/aqlprofile/src/pm4/gfx9_builders.cpp
  projects/aqlprofile/src/pm4/gfx9_builders.hpp
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: Replace GetGpuId() comparisons with named capability flags (Phase 1)
  projects/aqlprofile/src/core/aql_profile.cpp
  projects/aqlprofile/src/core/architectures/gfx10_architecture.cpp
  projects/aqlprofile/src/core/architectures/gfx11_architecture.cpp
  projects/aqlprofile/src/core/architectures/gfx12_architecture.cpp
  projects/aqlprofile/src/core/architectures/gfx9_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi200_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi300_architecture.cpp
  projects/aqlprofile/src/core/hardware_config.hpp
  projects/aqlprofile/src/core/pm4_factory.h
  projects/aqlprofile/src/core/pm4_factory_adapter.hpp
  projects/aqlprofile/src/core/spm_v2.cpp
  projects/aqlprofile/src/core/threadtrace.cpp
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: Replace AgentInfo* with HardwareConfig in PM4 builders
  projects/aqlprofile/src/core/architectures/mi300_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi450_architecture.cpp
  projects/aqlprofile/src/core/gfx10_factory.cpp
  projects/aqlprofile/src/core/gfx11_factory.cpp
  projects/aqlprofile/src/core/gfx1250_factory.cpp
  projects/aqlprofile/src/core/gfx12_factory.cpp
  projects/aqlprofile/src/core/gfx9_factory.cpp
  projects/aqlprofile/src/core/hardware_config.hpp
  projects/aqlprofile/src/core/pm4_factory_adapter.cpp
  projects/aqlprofile/src/pm4/pmc_builder.cpp
  projects/aqlprofile/src/pm4/pmc_builder.h
  projects/aqlprofile/src/pm4/spm_builder.h
  projects/aqlprofile/src/pm4/sqtt_builder.h
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: Replace gfxip string checks with HardwareConfig capability flags
  projects/aqlprofile/src/core/architectures/mi200_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi300_architecture.cpp
  projects/aqlprofile/src/core/architectures/mi450_architecture.cpp
  projects/aqlprofile/src/core/hardware_config.hpp
  projects/aqlprofile/src/core/pm4_factory.h
  projects/aqlprofile/src/core/spm_v2.cpp
  projects/aqlprofile/src/pm4/pmc_builder.cpp
  projects/aqlprofile/src/pm4/pmc_builder.h
Due: .azuredevops/rocm_ci_caller.yml

aqlprofile: Fix test build errors and skip GPU-dependent tests
  projects/aqlprofile/src/core/tests/CMakeLists.txt
  projects/aqlprofile/src/core/tests/hardware_architecture_tests.cpp
  projects/aqlprofile/src/util/tests/util_tests.cpp
  projects/aqlprofile/test/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

rocclr: Prioritize local rocr-runtime headers over system paths
  projects/clr/rocclr/cmake/ROCclrHSA.cmake
Due: .azuredevops/rocm_ci_caller.yml

fix only the windows AMD_COMPUTE_WIN path
  projects/clr/rocclr/cmake/ROCclrHSA.cmake
Due: .azuredevops/rocm_ci_caller.yml

add missing amdsmi tests from base branch
  projects/rocprofiler-compute/tests/test_utils_utils_common.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add TopoGetNetDevsPolicy in TopoSelectNets
  projects/rccl/src/graph/search.cc
  projects/rccl/src/graph/topo.cc
  projects/rccl/src/include/graph.h
Due: .azuredevops/rocm_ci_caller.yml

build(rocjitsu): Add emulation project mapping and build options in therock_matrix.py
  .github/scripts/therock_matrix.py
Due: none

rocjitsu: Implement s_getreg_b32 and s_setreg_b32
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/semantics.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna1/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna1/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna1/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna2/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna2/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna2/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna3/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna3/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna3/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna1/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna1/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna1/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna2/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna2/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna2/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3_5/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3_5/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna3_5/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna4/encodings.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna4/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna4/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/execute_shared.h
  emulation/rocjitsu/lib/util/include/util/log.h
  emulation/rocjitsu/tests/instruction_execution_harness_test.cpp
Due: none

Define rocSHMEM API headers and CMake configuration
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/CMakeLists.txt
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rocshmem.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rocshmem/CMakeLists.txt
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rocshmem/api_args.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rocshmem/api_id.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rocshmem/details/CMakeLists.txt
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rocshmem/details/api_trace.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rocshmem/table_id.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Proof of concept fix
  projects/rccl/cmake/DeviceLinker.cmake
  projects/rccl/src/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

fix package name format
  projects/rocdecode/docs/install/rocDecode-install.rst
Due: .azuredevops/rocm_ci_caller.yml

Apply format suggestion from @ypapadop-amd
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/xdna/amd_xdna_driver.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Remove rocshmem prefix in names
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rocshmem/api_args.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[AMD-SMI] Added new Claude Skills
  projects/amdsmi/.claude/skills/amdsmi-improvement-evaluation/SKILL.md
  projects/amdsmi/.claude/skills/amdsmi-output-verification/SKILL.md
Due: .azuredevops/rocm_ci_caller.yml
