Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

WIP: anony namespaces, test updates, progress
  projects/rocr-runtime/rocrtst/scripts/test_gpu_core_pipe_handler.sh
  projects/rocr-runtime/rocrtst/suites/functional/gpu_coredump.cc
  projects/rocr-runtime/rocrtst/suites/functional/gpu_coredump.h
  projects/rocr-runtime/rocrtst/suites/functional/test_fault_example.cc
  projects/rocr-runtime/rocrtst/suites/functional/test_fault_example.h
  projects/rocr-runtime/rocrtst/suites/test_common/main.cc
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_aql_queue.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/util/flag.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocr: WIP Support dump of GPU core file
  projects/rocr-runtime/rocrtst/suites/functional/gpu_coredump.cc
  projects/rocr-runtime/rocrtst/suites/functional/gpu_coredump.h
  projects/rocr-runtime/rocrtst/suites/test_common/main.cc
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_aql_queue.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/util/flag.h
  projects/rocr-runtime/runtime/hsa-runtime/libamdhsacode/lnx/amd_core_dump.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

WIP: address code review feedback
  projects/rocr-runtime/runtime/hsa-runtime/core/util/flag.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Update role to therock-ci-external
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
Due: none

Added PCIE Utilities to read Device Serial Number
  cuid/lib/CMakeLists.txt
  cuid/lib/cuid_gpu.cc
  cuid/lib/pci_util.cc
  cuid/lib/pci_util.h
Due: none

report 0 for various kfd event fields
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix rocprof3/rocpd validation tests for kfd data
  projects/rocprofiler-sdk/tests/pytest-packages/tests/rocprofv3.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

SWDEV-505204 - Update libamdocl.so installation path to avoid exposing all ROCm libraries via ldconfig
  projects/clr/opencl/CMakeLists.txt
  projects/clr/opencl/amdocl/CMakeLists.txt
  projects/clr/opencl/packaging/CMakeLists.txt
  projects/clr/opencl/packaging/rocm-ocl-icd.postinst
  projects/clr/opencl/packaging/rocm-ocl-icd.rpm_post
  projects/clr/opencl/packaging/rocm-opencl.postinst
  projects/clr/opencl/packaging/rocm-opencl.rpm_post
Due: .azuredevops/rocm_ci_caller.yml

TEMP: allocate on-device signal with HSA_AMD_SIGNAL_ON_DEVICE
  projects/rocr-runtime/runtime/hsa-runtime/core/common/shared.h
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/kfd/amd_kfd_driver.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/default_signal.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/memory_region.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/signal.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/signal.cpp
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_ext_amd.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

SWDEV-526773 - Modify LaunchDelayKernel to set a hard coded WallClock value when it's not avaliable
  projects/hip-tests/catch/include/utils.hh
Due: .azuredevops/rocm_ci_caller.yml

WIP: Force read-back on signals
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/default_signal.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/signal.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Change hardcode clockrate in unit of KHz.
  projects/hip-tests/catch/include/utils.hh
Due: .azuredevops/rocm_ci_caller.yml

libhsakmt/virtio: use BO handle instead of pointer in memory registration
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_memory.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt/virtio: change shmem size to 80
  projects/rocr-runtime/libhsakmt/src/virtio/virtio_gpu.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt/virtio: Improve memory mapping logic
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_memory.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt/virtio: add no svm mode for libhsakmt virtio
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmt_virtio.h
  projects/rocr-runtime/libhsakmt/src/virtio/CMakeLists.txt
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_interval_tree.c
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_interval_tree.h
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_device.h
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_memory.c
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_openclose.c
  projects/rocr-runtime/libhsakmt/src/virtio/hsakmt_virtio_proto.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt: Add support for batch SVM range registration API
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmt.h
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmttypes.h
  projects/rocr-runtime/libhsakmt/include/hsakmt/linux/kfd_ioctl.h
  projects/rocr-runtime/libhsakmt/src/fmm.c
  projects/rocr-runtime/libhsakmt/src/fmm.h
  projects/rocr-runtime/libhsakmt/src/globals.c
  projects/rocr-runtime/libhsakmt/src/libhsakmt.h
  projects/rocr-runtime/libhsakmt/src/libhsakmt.ver
  projects/rocr-runtime/libhsakmt/src/memory.c
  projects/rocr-runtime/libhsakmt/src/openclose.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocr Enable Virtio thunk and add fallback support for pointer query
  projects/rocr-runtime/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

for debu
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/virtio/amd_kfd_virtio_driver.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Fixed --decode output and help sentence
  amdsmi_cli/amdsmi_commands.py
  amdsmi_cli/amdsmi_helpers.py
  amdsmi_cli/amdsmi_parser.py
  cmake.sh
  py-interface/amdsmi_interface.py
  src/amd_smi/amd_smi.cc
Due: none

libhsakmt: Add support for batch SVM range registration API
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmt.h
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmttypes.h
  projects/rocr-runtime/libhsakmt/include/hsakmt/linux/kfd_ioctl.h
  projects/rocr-runtime/libhsakmt/src/fmm.c
  projects/rocr-runtime/libhsakmt/src/fmm.h
  projects/rocr-runtime/libhsakmt/src/globals.c
  projects/rocr-runtime/libhsakmt/src/hsakmtctx.h
  projects/rocr-runtime/libhsakmt/src/libhsakmt.h
  projects/rocr-runtime/libhsakmt/src/libhsakmt.ver
  projects/rocr-runtime/libhsakmt/src/memory.c
  projects/rocr-runtime/libhsakmt/src/openclose.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[Windows/FindHIP.cmake] Don't use hipcc_cmake_linker_helper on Windows
  projects/hip/cmake/FindHIP.cmake
Due: .azuredevops/rocm_ci_caller.yml

Update projects/hip/cmake/FindHIP.cmake
  projects/hip/cmake/FindHIP.cmake
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-567475 - Fix failures in graph tests due to GraphExec destroy handler accessing hip::device after shutdown
  projects/clr/hipamd/src/hip_graph.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

Added perfetto tracks and traces with cached data
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/core/config.hpp
  projects/rocprofiler-systems/source/lib/core/perfetto.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/trace_cache/cache_manager.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_post_processing.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_post_processing.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/sample_type.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/storage_parser.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/backtrace_metrics.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/comm_data.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/kokkosp.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/counters.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/counters.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Updated CHANGELOG.md
  projects/rocprofiler-systems/CHANGELOG.md
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_post_processing.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_post_processing.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Updated documentation to align with instuctions in `profiling-python-scripts.rst`
  projects/rocprofiler-systems/docs/install/install.rst
Due: .azuredevops/rocm_ci_caller.yml

Add cmd line variable to reset attach duration between runs
  projects/rocprofiler-sdk/source/bin/rocprofv3-attach.py
  projects/rocprofiler-sdk/source/bin/rocprofv3.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Update CHANGELOG.md
  projects/clr/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

Use native tool for counter collection
  .github/workflows/rocprofiler-compute-formatting.yml
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/docker/Dockerfile.standalone
  projects/rocprofiler-compute/docs/archive/docs-1.x/getting_started.md
  projects/rocprofiler-compute/docs/archive/docs-1.x/profiling.md
  projects/rocprofiler-compute/docs/archive/docs-2.x/getting_started.md
  projects/rocprofiler-compute/docs/archive/docs-2.x/profiling.md
  projects/rocprofiler-compute/docs/how-to/profile/mode.rst
  projects/rocprofiler-compute/docs/how-to/use.rst
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/lib/CMakeLists.txt
  projects/rocprofiler-compute/src/lib/rocprofiler_compute_tool.cpp
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprof_v3.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprofiler_sdk.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/utils/rocpd_data.py
  projects/rocprofiler-compute/src/utils/utils.py
  projects/rocprofiler-compute/tests/conftest.py
  projects/rocprofiler-compute/tests/test_profile_general.py
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

improve logging
  projects/rocprofiler-compute/src/lib/rocprofiler_compute_tool.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix native counter collection tool during attach/detach
  projects/rocprofiler-compute/src/lib/rocprofiler_compute_tool.cpp
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprofiler_sdk.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

do not support attach/detach in native tool
  projects/rocprofiler-compute/src/lib/rocprofiler_compute_tool.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix attach detach with native tool
  projects/rocprofiler-compute/src/lib/rocprofiler_compute_tool.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Perfetto build failures
  projects/rocprofiler-sdk/source/lib/python/rocpd/source/perfetto.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Update changelog
  projects/rocprofiler-compute/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

add standalone binary creation functionality in cmake
  projects/rocprofiler-compute/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

address review comments
  projects/rocprofiler-compute/src/lib/CMakeLists.txt
  projects/rocprofiler-compute/src/lib/helper.cpp
  projects/rocprofiler-compute/src/lib/helper.hpp
  projects/rocprofiler-compute/src/lib/rocprofiler_compute_tool.cpp
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/utils/utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
