Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

[rocprofiler-compute] PR review: tighten gfx115x detection, dedupe templates
  projects/rocprofiler-compute/AGENTS.md
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0300_memory_chart.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0500_command_processor_cpc.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0600_workgroup_manager_spi.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0700_workgroup_processor.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0900_l0_cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/1100_l1_cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/1300_l2_cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/1400_graphics_core_efficiency_arbiter.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/1700_graphics_register_bus_manager.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx11_config_template.yaml
  projects/rocprofiler-compute/src/utils/.config_hashes.json
  projects/rocprofiler-compute/src/utils/hash_checker.py
  projects/rocprofiler-compute/tools/config_management/README.md
  projects/rocprofiler-compute/tools/config_management/gfx11_config_template.yaml
  projects/rocprofiler-compute/tools/config_management/gfx9_config_template.yaml
  projects/rocprofiler-compute/tools/config_management/master_config_workflow_script.py
  projects/rocprofiler-compute/tools/config_management/metric_description_manager.py
  projects/rocprofiler-compute/tools/config_management/verify_against_config_template.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Drop mega_kernel sample; tracked in #5121
  projects/rocprofiler-compute/sample/mega_kernel/Makefile
  projects/rocprofiler-compute/sample/mega_kernel/README.md
  projects/rocprofiler-compute/sample/mega_kernel/atomic_global_buffers.h
  projects/rocprofiler-compute/sample/mega_kernel/main.cpp
  projects/rocprofiler-compute/sample/mega_kernel/mega_kernel.hip
  projects/rocprofiler-compute/sample/mega_kernel/mega_kernel_device_arch.h
  projects/rocprofiler-compute/sample/mega_kernel/mega_kernel_host_arch.hpp
  projects/rocprofiler-compute/sample/mega_kernel/mega_kernel_types.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Address docs review feedback
  projects/rocprofiler-compute/docs/conceptual/performance-model.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/command-processor.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/gcea.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/gl0-cache.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/gl1-cache.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/gl2-cache.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/grbm.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/rdna-performance-model.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/shader-engine.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/spi.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/wgp.rst
  projects/rocprofiler-compute/docs/sphinx/_toc.yml.in
Due: .azuredevops/rocm_ci_caller.yml

Avoid HSA memory-pool free calls for null ROCclr pointers.
  projects/clr/rocclr/device/rocm/rocdevice.cpp
Due: .azuredevops/rocm_ci_caller.yml

Move CI test script to project directory and install wrapper
  projects/rocr-debug-agent/.github/scripts/test_rocr-debug-agent.py
  projects/rocr-debug-agent/test/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Remove --test-bin and --test-script command-line options
  projects/rocr-debug-agent/.github/scripts/test_rocr-debug-agent.py
Due: .azuredevops/rocm_ci_caller.yml

Simplify test script path discovery to remove THEROCK_BIN_DIR dependency
  projects/rocr-debug-agent/.github/scripts/test_rocr-debug-agent.py
Due: .azuredevops/rocm_ci_caller.yml

Add --try-rocm-path option for ROCM_PATH support
  projects/rocr-debug-agent/.github/scripts/test_rocr-debug-agent.py
Due: .azuredevops/rocm_ci_caller.yml

Simplify script by removing redundant code
  projects/rocr-debug-agent/.github/scripts/test_rocr-debug-agent.py
Due: .azuredevops/rocm_ci_caller.yml

Remove get_is_continuous_integration
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/core/config.hpp
  projects/rocprofiler-systems/source/lib/core/perfetto.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto.hpp
  projects/rocprofiler-systems/source/lib/core/state.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/metadata_registry.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_processor.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/causal/data.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/backtrace_metrics.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/mpi_gotcha.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/pthread_mutex_gotcha.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/coverage.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/process_sampler.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/sampling.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/thread_info.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/tracing.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

version: bump to 1.2.0
  VERSION
Due: none

build: introduce shared VERSION file as single source of truth
  CMakeLists.txt
  VERSION
  amdsmi/CMakeLists.txt
Due: none

refactor(sampling): migrate callchain off legacy backtrace and delete dead components
  projects/rocprofiler-systems/source/bin/rocprof-sys-avail/info_type.cpp
  projects/rocprofiler-systems/source/lib/core/components/fwd.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/backtrace.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/backtrace.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/backtrace_timestamp.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/backtrace_timestamp.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/callchain.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/ensure_storage.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/sampling/src/sampling_duration_controller.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

readme: update support matrix
  README.md
Due: none

[hip-tests] restore context skipTest method
  projects/hip-tests/catch/include/hip_test_context.hh
Due: .azuredevops/rocm_ci_caller.yml

[hip-tests] remove HIP_SKIP_THIS_TEST
  projects/hip-tests/catch/cmake/hip-tests.cmake
Due: .azuredevops/rocm_ci_caller.yml

[hip-tests] change rest of the HipTest::HIP_SKIP_TEST to HIP_SKIP_TEST part 2
  projects/hip-tests/catch/unit/deviceLib/AtomicAdd_Coherent.cc
  projects/hip-tests/catch/unit/deviceLib/AtomicAdd_NonCoherent.cc
  projects/hip-tests/catch/unit/event/Unit_hipEventElapsedTime.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyDtoDAsync.cc
  projects/hip-tests/catch/unit/stream/hipStreamValue.cc
Due: .azuredevops/rocm_ci_caller.yml

[hip-tests] add HIP_SKIP_TEST to hipMemPrefetchBatchAsync tests
  projects/hip-tests/catch/unit/memory/hipMemPrefetchBatchAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

[hip-tests] improve consistency for skipping tests
  projects/hip-tests/catch/unit/device/hipDeviceGetUuid.cc
  projects/hip-tests/catch/unit/synchronization/cache_coherency_cpu_gpu.cc
  projects/hip-tests/catch/unit/synchronization/cache_coherency_gpu_gpu.cc
Due: .azuredevops/rocm_ci_caller.yml

* rocDecode/CSC: Added a few changes based on review comments.
  projects/rocdecode/samples/videoDecodeRGB/README.md
  projects/rocdecode/samples/videoDecodeRGB/videodecrgb.cpp
  projects/rocdecode/test/testScripts/run_rocDecode_colorConvert.py
Due: .azuredevops/rocm_ci_caller.yml

[RCCL] Add unit tests for memory manager
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/mem_manager/MemManagerTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

remove the misleading comments
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
Due: .azuredevops/rocm_ci_caller.yml

ROCM-23527 - hipMemRetainAllocationHandle should return error for non vmm allocations
  projects/clr/hipamd/src/hip_vm.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add gfx clock and mem clock as pmc metric
  projects/rocprofiler-systems/source/lib/core/amd_smi.cpp
  projects/rocprofiler-systems/source/lib/core/categories.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_processor.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys-user/rocprofiler-systems/categories.h
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/common/settings.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu/cache_policy.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu/device.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu/gpu_driver.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu/perfetto_policy.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu/sample.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu/tests/test_device.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu/types.hpp
  projects/rocprofiler-systems/tests/check_amd_smi_metrics.py
  projects/rocprofiler-systems/tests/pytest/test_gpu_connect.py
  projects/rocprofiler-systems/tests/pytest/test_jpegdecode.py
  projects/rocprofiler-systems/tests/pytest/test_videodecode.py
  projects/rocprofiler-systems/tests/rocpd-validation-rules/jpeg-decode/amd-smi-rules.json
  projects/rocprofiler-systems/tests/rocpd-validation-rules/roctx/amd-smi-rules.json
  projects/rocprofiler-systems/tests/rocpd-validation-rules/transpose/amd-smi-rules.json
  projects/rocprofiler-systems/tests/rocpd-validation-rules/video-decode/amd-smi-rules.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Remove CLAUDE.md
  projects/clr/hipamd/src/hrr/CLAUDE.md
Due: .azuredevops/rocm_ci_caller.yml

[RCCL] Add MemSuspend, MemResume and MemStats to memory manager
  projects/rccl/src/include/alloc.h
  projects/rccl/src/include/mem_manager.h
  projects/rccl/src/mem_manager.cc
  projects/rccl/src/nccl.h.in
Due: .azuredevops/rocm_ci_caller.yml

Fix copilot comments
  projects/clr/hipamd/src/hrr/playback/hip_playback.cpp
  projects/clr/hipamd/src/hrr/playback/hip_playback.h
  projects/clr/rocclr/utils/flags.hpp
Due: .azuredevops/rocm_ci_caller.yml

Add cper API to init
  projects/amdsmi/py-interface/__init__.py
Due: .azuredevops/rocm_ci_caller.yml

net-ib: test FaultInjCastSlowQpRebalances
  projects/rccl/test/transport/NetIbMPI/FaultInjectTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add fault injection test configs to runner
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
  projects/rccl/tools/scripts/test_runner/configs/net_ib_transport.json
Due: .azuredevops/rocm_ci_caller.yml

net-ib: test FaultInjCastQpErrorIsFatal
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/transport/NetIbMPI/FaultInjectTests.cpp
  projects/rccl/test/transport/NetIbMPI/NetIbFaultInject.hpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: test FaultInjCastDelayDataIntegrity
  projects/rccl/test/transport/NetIbMPI/FaultInjectTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: fix fault injection API issues from review
  projects/rccl/src/transport/net_ib_cast.cc
  projects/rccl/test/transport/NetIbMPI/FaultInjectTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: test FaultInjCastSingleQpErrorIsFatal
  projects/rccl/test/transport/NetIbMPI/FaultInjectTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: fault injection API and hooks for CAST send path
  projects/rccl/cmake/rocmIb.cmake
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/include/net_ib_fault_inject.h
  projects/rccl/src/transport/net_ib_cast.cc
  projects/rccl/test/transport/NetIbMPI/NetIbFaultInject.hpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: test FaultInjCastQpErrorClearRecovers
  projects/rccl/test/transport/NetIbMPI/FaultInjectTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add a custom string.Template for dashboard.cmake generation in run-therock-ci.py, enhancing variable substitution and improving readability of the generated script.
  .github/scripts/run-therock-ci.py
Due: none

Remove installation of run-therock-ci.py from CMake configuration and add the script to the tests directory
  projects/rocprofiler-sdk/cmake/rocprofiler_config_install.cmake
  projects/rocprofiler-sdk/tests/scripts/run-therock-ci.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml
