Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Gin proxy tests: add tests for few more APIs
  projects/rccl/test/transport/GinMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Simplify Dockerfile and compile rccl-test for gin-enabled rccl
  Dockerfile-rccl-gin-gda
Due: none

Swith dockerfile to branch for rccl as well, I cherry-picked the gin-host-proxy commits
  Dockerfile-rccl-gin-gda
Due: none

Make rccl-test compile when ENABLE_GIN is set
  projects/rccl-tests/CMakeLists.txt
  projects/rccl-tests/src/CMakeLists.txt
  projects/rccl-tests/src/Makefile
Due: .azuredevops/rocm_ci_caller.yml

docs: clarify extsem same-node requirement
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmt.h
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_ext_amd.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Add a crude gin->rocshmem_putmem mapping
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/gin/CMakeLists.txt
  projects/rccl/src/gin/gin_host.cc
  projects/rccl/src/gin/gin_host_rocshmem.cc
  projects/rccl/src/gin/gin_plugin_rocshmem.cc
  projects/rccl/src/include/gin/gin_host_rocshmem.h
  projects/rccl/src/include/nccl_device/gin/gin_device_api.h
  projects/rccl/src/include/nccl_device/gin/gin_device_common.h
  projects/rccl/src/include/nccl_device/gin/rocshmem/gin_rocshmem.h
  projects/rccl/src/include/nccl_device/gin/rocshmem/gin_rocshmem_device_host_common.h
  projects/rccl/src/include/nccl_device/net_device.h
Due: .azuredevops/rocm_ci_caller.yml

Use rocshmem_p for by_value src
  projects/rccl/src/include/nccl_device/gin/rocshmem/gin_rocshmem.h
Due: .azuredevops/rocm_ci_caller.yml

Split cases for signal and counter and use quiet/fence as appropriate
  projects/rccl/src/include/nccl_device/gin/rocshmem/gin_rocshmem.h
Due: .azuredevops/rocm_ci_caller.yml

Make SDMA/numa dependency compile on rocm 7.13
  projects/rocshmem/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

More hsakmt uglyness with dependencies...
  projects/rocshmem/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Scrub abnormal libc dependency added to hsakmt :/
  projects/rocshmem/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

rccl-test builds on rocm7.13 docker now... Error about cumem is gone, now we have another error about gin being not supported..
  Dockerfile-rccl-gin-gda
Due: none

Link with hsakmt as this is required for sdma
  projects/rccl-tests/src/CMakeLists.txt
  projects/rccl/src/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Update the dockerfile to be able to pull local sources, remove the sed for hsakmt
  Dockerfile-rccl-gin-gda
Due: none

Make the ingestion of local checkout more reliable
  Dockerfile-rccl-gin-gda
Due: none

Add support for rocshmem_buffer_register in the ipc backend with support for regular and vmm memory
  projects/rocshmem/src/backend_bc.cpp
  projects/rocshmem/src/ipc/backend_ipc.cpp
  projects/rocshmem/src/ipc/backend_ipc.hpp
Due: .azuredevops/rocm_ci_caller.yml

Use rocshmem_buffer_register to attach cumem/symmetric buffers to rocshmem
  projects/rccl/src/gin/gin_host_rocshmem.cc
Due: .azuredevops/rocm_ci_caller.yml

Add instructions on how to build and run to the Dockerfile
  Dockerfile-rccl-gin-gda
Due: none

Add the device-part of the vmm/buffer register ipc backend enablement.
  projects/rocshmem/src/ipc/CMakeLists.txt
  projects/rocshmem/src/ipc/backend_ipc.cpp
  projects/rocshmem/src/ipc/backend_ipc.hpp
  projects/rocshmem/src/ipc/context_ipc_device.cpp
Due: .azuredevops/rocm_ci_caller.yml

Update the dockerfile to find libdrm
  Dockerfile-rccl-gin-gda
Due: none

Add an option to build with debug symbols
  Dockerfile-rccl-gin-gda
Due: none

iova=0 doesn't appear to work on bnxt, lets get back to real va atm
  projects/rccl/src/gin/gin_host_rocshmem_gda.cc
  projects/rccl/src/include/nccl_device/gin/rocshmem/gin_rocshmem_device_host_common_gda.h
  projects/rccl/src/include/nccl_device/gin/rocshmem/gin_rocshmem_gda.h
  projects/rocshmem/src/gda/gin_qp_factory.cpp
  projects/rocshmem/src/gda/gin_qp_factory.hpp
  projects/rocshmem/src/gda/ibv_wrapper.cpp
  projects/rocshmem/src/gda/ibv_wrapper.hpp
Due: .azuredevops/rocm_ci_caller.yml

Remove debugs from remote_pe computation
  projects/rocshmem/src/ipc/context_ipc_device.cpp
Due: .azuredevops/rocm_ci_caller.yml

Use the same backend for all buffer types (vmm or not vmm)
  projects/rocshmem/src/ipc/backend_ipc.cpp
  projects/rocshmem/src/ipc/ipc_user_buf.cpp
  projects/rocshmem/src/ipc/ipc_user_buf.hpp
Due: .azuredevops/rocm_ci_caller.yml

Add VMM flat-VA registration method, use the unified ipc-remote-addr method in all ipc operations
  projects/rocshmem/include/rocshmem/rocshmem.hpp
  projects/rocshmem/src/ipc/context_ipc_device.cpp
  projects/rocshmem/src/ipc/ipc_user_buf.cpp
  projects/rocshmem/src/ipc/ipc_user_buf.hpp
Due: .azuredevops/rocm_ci_caller.yml

Update the gin-rocshmem build Dockerfile recipe
  Dockerfile-rccl-gin-gda
Due: none

Update the dockerfile to use this branch.
  dockerfile-gin-fast-path
Due: none

Add dockerfile and docker script for build and test.
  docker_build_test.bash
  dockerfile-gin-fast-path
Due: none

WIP Implement rocshmem_sym_buffer_register There are many issues in this commit...
  projects/rocshmem/include/rocshmem/rocshmem.hpp
  projects/rocshmem/src/backend_bc.cpp
  projects/rocshmem/src/backend_bc.hpp
  projects/rocshmem/src/gda/CMakeLists.txt
  projects/rocshmem/src/gda/backend_gda.cpp
  projects/rocshmem/src/gda/backend_gda.hpp
  projects/rocshmem/src/gda/bnxt/backend_gda_bnxt.cpp
  projects/rocshmem/src/gda/bnxt/queue_pair_bnxt.cpp
  projects/rocshmem/src/gda/context_gda_device.cpp
  projects/rocshmem/src/gda/context_gda_device.hpp
  projects/rocshmem/src/gda/context_gda_tmpl_device.hpp
  projects/rocshmem/src/gda/ionic/backend_gda_ionic.cpp
  projects/rocshmem/src/gda/ionic/queue_pair_ionic.cpp
  projects/rocshmem/src/gda/mlx5/backend_gda_mlx5.cpp
  projects/rocshmem/src/gda/mlx5/queue_pair_mlx5.cpp
  projects/rocshmem/src/gda/queue_pair.cpp
  projects/rocshmem/src/gda/queue_pair.hpp
  projects/rocshmem/src/ipc/backend_ipc.cpp
  projects/rocshmem/src/ipc/backend_ipc.hpp
  projects/rocshmem/src/ipc/ipc_user_buf.cpp
  projects/rocshmem/src/ipc/ipc_user_buf.hpp
  projects/rocshmem/src/rocshmem.cpp
Due: .azuredevops/rocm_ci_caller.yml

Simplify a lot sym-buffer-register
  projects/rocshmem/src/gda/CMakeLists.txt
  projects/rocshmem/src/gda/backend_gda.cpp
  projects/rocshmem/src/gda/backend_gda.hpp
  projects/rocshmem/src/gda/bnxt/queue_pair_bnxt.cpp
  projects/rocshmem/src/gda/context_gda_device.cpp
  projects/rocshmem/src/gda/context_gda_device.hpp
  projects/rocshmem/src/gda/context_gda_tmpl_device.hpp
  projects/rocshmem/src/gda/ionic/queue_pair_ionic.cpp
  projects/rocshmem/src/gda/mlx5/queue_pair_mlx5.cpp
  projects/rocshmem/src/gda/queue_pair.cpp
  projects/rocshmem/src/gda/queue_pair.hpp
Due: .azuredevops/rocm_ci_caller.yml

Use the new symbufferregister to attach buffers for rocshmem_put->gda offload path
  projects/rccl/src/gin/gin_host_rocshmem.cc
Due: .azuredevops/rocm_ci_caller.yml

Pulls in the Anvil template specializations whenever the backend is enabled.
  projects/rccl/src/include/nccl_device/gin/gin_device_api.h
Due: .azuredevops/rocm_ci_caller.yml

Implement device-side Put/Flush.
  projects/rccl/src/include/nccl_device/gin/anvil/gin_anvil.h
Due: .azuredevops/rocm_ci_caller.yml

Implement host-side context setup.
  projects/rccl/src/gin/gin_host_anvil.h
Due: .azuredevops/rocm_ci_caller.yml

Adding =5 gives RCCL a distinct type for plugin selection, device dispatch, and logging. The comment documents scope (intra-node only) and how to select it.
  projects/rccl/src/include/nccl_device/net_device.h
Due: .azuredevops/rocm_ci_caller.yml

Define shared host/device data structures.
  projects/rccl/src/include/nccl_device/gin/anvil/gin_anvil_device_host_common.h
Due: .azuredevops/rocm_ci_caller.yml

Device collectives call generic ncclGinCall<ncclGinApi_Put, …>. Without this wiring, type 5 would hit __builtin_unreachable() at compile or runtime.
  projects/rccl/src/include/nccl_device/gin/gin_device_common.h
Due: .azuredevops/rocm_ci_caller.yml

clr: Fix GPU agent scratch and queue lifetime bugs
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_gpu_agent.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_aql_queue.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Address PR review comments: thread safety and doorbell cleanup
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_gpu_agent.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[rocprofiler-sdk] Add raw block counter support via input file pmc_block
  projects/rocprofiler-sdk/source/bin/rocprofv3.py
  projects/rocprofiler-sdk/source/docs/rocprofv3_input_schema.json
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/config.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/config.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/aql/packet_construct.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/aql/packet_construct.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/raw_counter.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/raw_counter.hpp
  projects/rocprofiler-sdk/tests/rocprofv3/counter-collection/pmc-raw-gfx12/input.all.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml
