Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

rocjitsu: omit constant-true memory-result guards
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna1/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna2/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vds.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vglobal.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vscratch.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna1/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna2/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/flat.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/flat.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vds.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vglobal.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vscratch.cpp
Due: none

test(rocjitsu): cover inactive DS swizzle lanes and aliases
  emulation/rocjitsu/tests/instruction_execution_harness_test.cpp
Due: none

[rocjitsu] Exclude immediates from memory-wait register checks
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/memory_wait_scoreboard.cpp
  emulation/rocjitsu/tests/memory_wait_scoreboard_test.cpp
Due: none

Resolve scalar buffer dependencies across register files
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna1/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna2/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna1/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna2/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/instruction_encoding.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/memory_wait_scoreboard.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/register_access.h
  emulation/rocjitsu/tests/memory_wait_scoreboard_test.cpp
Due: none

Expose scalar memory register offsets to dependency consumers
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/isa_profile.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna1/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna1/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna2/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna2/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/smem.cpp
  emulation/rocjitsu/tests/memory_wait_scoreboard_test.cpp
Due: none

apply suggested changes
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_agent_info_json.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

docs(rocDecode): Windows support stage 6: Documentation updates. (#12208)
  projects/rocdecode/CHANGELOG.md
  projects/rocdecode/CMakeLists.txt
  projects/rocdecode/README.md
  projects/rocdecode/docs/conceptual/rocDecode-decoding-pipelines.rst
  projects/rocdecode/docs/conf.py
  projects/rocdecode/docs/install/rocDecode-build-and-install.rst
  projects/rocdecode/docs/install/rocDecode-install.rst
  projects/rocdecode/docs/reference/rocDecode-demux.rst
  projects/rocdecode/docs/reference/rocDecode-env-vars.rst
  projects/rocdecode/docs/reference/rocDecode-ffmpeg-decoder.rst
  projects/rocdecode/docs/reference/rocDecode-hw-decoder.rst
  projects/rocdecode/docs/tutorials/rocDecode-samples.rst
  projects/rocdecode/samples/rocdecDecode/README.md
  projects/rocdecode/samples/videoDecode/README.md
  projects/rocdecode/samples/videoDecodeBatch/README.md
  projects/rocdecode/samples/videoDecodeCaps/README.md
  projects/rocdecode/samples/videoDecodeMem/README.md
  projects/rocdecode/samples/videoDecodeMultiFiles/README.md
  projects/rocdecode/samples/videoDecodePerf/README.md
  projects/rocdecode/samples/videoDecodePicFiles/README.md
  projects/rocdecode/samples/videoDecodeRGB/README.md
  projects/rocdecode/samples/videoDecodeRaw/README.md
  projects/rocdecode/samples/videoToSequence/README.md
Due: .azuredevops/rocm_ci_caller.yml

Defer DBT SHA-pair collection while quarantine is active.
  .github/workflows/rocjitsu-corpus-tests.yml
Due: none

fix(rccl): filter abort-excluded ranks from the destroy barrier
  projects/rccl/src/include/comm.h
  projects/rccl/src/init.cc
  projects/rccl/test/TeardownStressTests.cpp
  projects/rccl/test/host/init-test.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(rocDecode): Windows: Fix vaTerminate crash and stall during process teardown (#12309)
  projects/rocdecode/src/rocdecode/vaapi/vaapi_videodecoder.cpp
  projects/rocdecode/src/rocdecode/vaapi/vaapi_videodecoder.h
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Complete scalar and wave-mask dependency checks
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/isa_profile.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/relocation_function_table.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna1/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna1/vop3.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna2/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna2/vop3.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/vop3.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/vop3.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna1/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna1/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna1/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna1/vop3.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna2/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna2/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna2/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna2/vop3.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/vop3.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/vop3.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/encodings.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/smem.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vop3.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/instruction_encoding.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/memory_wait_scoreboard.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/register_access.h
  emulation/rocjitsu/tests/code/relocation_function_table_test.cpp
  emulation/rocjitsu/tests/memory_wait_scoreboard_test.cpp
Due: none

fix(rocjitsu): avoid a GCC 15 free-nonheap-object false positive in build_cfg
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/basic_block.cpp
Due: none

[rocjitsu] Execute scalar atomic increment and X2 inc/dec
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/semantics.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna1/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna1/smem_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna2/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna2/smem_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/smem_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/smem_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/memory_pipeline.cpp
  emulation/rocjitsu/tests/scalar_atomic_test.cpp
Due: none

test(rccl): cover wave32 blockIdx to channel mapping
  projects/rccl/src/device/common.h
  projects/rccl/src/include/device.h
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/device/ChannelMaskMapTests.cpp
  projects/rccl/test/test_categories_fixtures.yaml
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): check upper mask bits in wave32 warp-speed channel mapping
  projects/rccl/src/device/common.h
  projects/rccl/test/device/ChannelMaskMapTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Add a high-level design skill
  projects/rocprofiler-compute/.ai/skills/rocprof-compute-hld.md
  projects/rocprofiler-compute/.claude/commands/rocprof-compute-hld.md
  projects/rocprofiler-compute/.cursor/commands/rocprof-compute-hld.md
  projects/rocprofiler-compute/.github/prompts/rocprof-compute-hld.prompt.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(amdsmi): serialize amdsmi_init and amdsmi_shut_down (#12998)
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/src/amd_smi/amd_smi.cc
  projects/amdsmi/src/amd_smi/amd_smi_common.cc
  projects/amdsmi/tests/amd_smi_test/functional/system/init_shutdown_refcount_test.cc
  projects/amdsmi/tests/amd_smi_test/main.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor(clr): split the gfx1250 scaled-convert gate by opcode set
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_fp4.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_fp6.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_mx_common.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_ocp_fp.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rocjitsu): avoid a GCC 15 free-nonheap-object false positive in build_cfg (#13075)
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/basic_block.cpp
Due: none

Address Argus review on the Anvil CPX change
  projects/rocshmem/src/sdma/anvil.cpp
  projects/rocshmem/src/sdma/anvil.hpp
  projects/rocshmem/src/sdma_policy.cpp
Due: .azuredevops/rocm_ci_caller.yml

Publish rocjitsu handbook 938ff8e9a13900a82b0df6e42fabd8bdf15a2af0
  rocjitsu/.source-revision
  rocjitsu/404.html
  rocjitsu/architecture/index.html
  rocjitsu/async-instructions/index.html
  rocjitsu/benchmarking/index.html
  rocjitsu/blog/index.html
  rocjitsu/building/index.html
  rocjitsu/codegen/index.html
  rocjitsu/concurrent-dispatch/index.html
  rocjitsu/configuration/index.html
  rocjitsu/dbi-design/index.html
  rocjitsu/dbi-overview/index.html
  rocjitsu/dbt-design/index.html
  rocjitsu/index.html
  rocjitsu/isa-gap-audit/index.html
  rocjitsu/isa-target-providers/index.html
  rocjitsu/memory-wait-counter-coverage/index.html
  rocjitsu/memory-wait-diagnostics/index.html
  rocjitsu/mma-admission/index.html
  rocjitsu/npi/index.html
  rocjitsu/performance-dashboard/index.html
  rocjitsu/plugins/index.html
  rocjitsu/qemu-vfio/index.html
  rocjitsu/race-detector/index.html
  rocjitsu/rj_dbt_translate/index.html
  rocjitsu/rocgdb-debugging/index.html
  rocjitsu/rocjitsu-cli/index.html
  rocjitsu/rocjitsu_dbt_guest/index.html
  rocjitsu/simdojo/index.html
  rocjitsu/sitemap.xml
  rocjitsu/sitemap.xml.gz
  rocjitsu/style/index.html
  rocjitsu/vm-design/index.html
  rocjitsu/vulkan-compute/index.html
Due: none

Publish rocjitsu handbook 923570cefcb446b0b09119950fdc495312083c29
  rocjitsu/.source-revision
  rocjitsu/configuration/index.html
  rocjitsu/memory-wait-diagnostics/index.html
  rocjitsu/search/search_index.json
Due: none

[rocprofiler-compute] Grill the author before writing an HLD
  projects/rocprofiler-compute/.ai/skills/rocprof-compute-hld.md
  projects/rocprofiler-compute/.claude/commands/rocprof-compute-hld.md
  projects/rocprofiler-compute/.cursor/commands/rocprof-compute-hld.md
  projects/rocprofiler-compute/.github/prompts/rocprof-compute-hld.prompt.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Write the HLD once the grill is finished
  projects/rocprofiler-compute/.ai/skills/rocprof-compute-hld.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

test(rccl): cover client command case and AllReduce count mismatches
  projects/rccl/test/host/client-support-test.cc
Due: .azuredevops/rocm_ci_caller.yml

libhsakmt/dxg: clarify the doorbell page and poll backoff comments
  projects/rocr-runtime/libhsakmt/src/dxg/wddm/queue.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

refactor(rocprofiler-sdk): resolve kernel-replay pass toggles in the dispatch hooks
  projects/rocprofiler-sdk/source/docs/conceptual/kernel_replay/kernel_replay_callback_api_design.md
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/dispatch_handlers.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/dispatch_handlers.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/queue_hooks.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/tests/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/tests/local_context.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/tests/per_agent_scoping_test.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/tests/queue_hooks_test.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/local_context.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/local_context.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kernel_replay/tests/local_context.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/dispatch_handlers.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/dispatch_handlers.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/queue_hooks.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/tests/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/spm/tests/local_context.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/queue_hooks.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/local_context.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/queue_hooks_test.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Share the formatting selector and honor the checked-out scope.
  .github/scripts/rocjitsu_formatting.py
  .github/scripts/test-rocjitsu-formatting.py
  .github/workflows/rocjitsu-formatting.yml
Due: none

refactor(rocprofiler-systems): drop subprocess probe from rocprofiler_systems_find_python
  projects/rocprofiler-systems/source/python/cmake/PyBind11Tools.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(rocprofiler-systems): query sys.prefix from the interpreter for Python root dir
  projects/rocprofiler-systems/source/python/cmake/PyBind11Tools.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

refactor(rocprofiler-systems): modernize pybind11 Python CMake tooling
  projects/rocprofiler-systems/source/python/CMakeLists.txt
  projects/rocprofiler-systems/source/python/cmake/Modules/FindPyBind11Python.cmake
  projects/rocprofiler-systems/source/python/cmake/PyBind11Tools.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

chore(rocprofiler-systems): clean up remaining pybind11 CMake review nits
  projects/rocprofiler-systems/source/python/CMakeLists.txt
  projects/rocprofiler-systems/source/python/cmake/PyBind11Tools.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(rocprofiler-systems): resolve symlinks before deriving Python root dir
  projects/rocprofiler-systems/source/python/cmake/PyBind11Tools.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(rocprofiler-systems): restore build-type-gated stripping for python modules
  projects/rocprofiler-systems/source/python/cmake/PyBind11Tools.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocprofiler-compute] Make the HLD skill able to finish a document
  projects/rocprofiler-compute/.ai/skills/rocprof-compute-hld.md
  projects/rocprofiler-compute/.claude/commands/rocprof-compute-hld.md
  projects/rocprofiler-compute/.cursor/commands/rocprof-compute-hld.md
  projects/rocprofiler-compute/.github/prompts/rocprof-compute-hld.prompt.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocjitsu] Match validation ledger priorities to the manifest.
  emulation/rocjitsu/docs/consan/validation/STATUS_CDNA4.md
  emulation/rocjitsu/docs/consan/validation/STATUS_RDNA3.md
  emulation/rocjitsu/tests/dbi/consan/test_consan_validation.py
  emulation/rocjitsu/tests/dbi/consan/test_consan_validation_target_admission.py
Due: none

test(gin): check Anvil init-context count across closeColl and finalize
  projects/rccl/test/gin/GinAnvilPlugin_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

test(hip-tests): cover the OCP scaled-convert gating
  projects/hip-tests/catch/unit/deviceLib/CMakeLists.txt
  projects/hip-tests/catch/unit/deviceLib/ocp_scale_gate.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): address review on CeMPI_AllReduce CE/SYM expectations
  projects/rccl/test/ce/CeMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml
