Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

[RCCL][test] Fix illegal MPI_Cancel on Ibarrier in MPIEnvironment tea… (#9322)
  projects/rccl/test/common/MPIEnvironment.cpp
Due: .azuredevops/rocm_ci_caller.yml

[Ex 11] Fix Makefile, README.md, and src code for dbt cross architecture
  emulation/rocjitsu/usage-examples/11-dbt-cross-arch/Makefile
  emulation/rocjitsu/usage-examples/11-dbt-cross-arch/README.md
  emulation/rocjitsu/usage-examples/11-dbt-cross-arch/src/dbt_example.cpp
Due: none

test(rccl): compile real paths.cc/search.cc into NullParentTests
  projects/rccl/test/NullParentTests.cpp
  projects/rccl/test/pure/CMakeLists.txt
  projects/rccl/test/pure/NullParentTests_wrapper.cc
  projects/rccl/test/pure/paths_wrapper.cc
  projects/rccl/test/pure/rccl_host_preamble.h
  projects/rccl/test/pure/search_wrapper.cc
  projects/rccl/test/pure/stubs/comm.h
  projects/rccl/test/pure/stubs/cuda.h
  projects/rccl/test/pure/stubs/hip/hip_fp8.h
  projects/rccl/test/pure/stubs/hip/hip_runtime.h
  projects/rccl/test/pure/stubs/hip/hip_version.h
  projects/rccl/test/pure/stubs/hsa/hsa.h
  projects/rccl/test/pure/stubs/nccl.h
  projects/rccl/test/pure/wrapper_link_stubs.cpp
Due: .azuredevops/rocm_ci_caller.yml

Update rocprofiler-sdk-codeql.yml
  .github/workflows/rocprofiler-sdk-codeql.yml
Due: none

fix(test_runner): set NCCL_OOB_NET_IFNAME to valid IB device in Bootstrap_Combined
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
  projects/rccl/tools/scripts/test_runner/configs/mi355x_thor2_roce.json
Due: .azuredevops/rocm_ci_caller.yml

Apply suggestions from code review
  projects/rocprofiler-systems/.github/ci-build-matrix.json
Due: .azuredevops/rocm_ci_caller.yml

fix(rocprofiler-compute): fail fast in vcopy sample instead of flooding logs
  projects/rocprofiler-compute/sample/vcopy.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

docs(rocprofiler-systems): comment CDash filter operator meaning in run-ci.py
  projects/rocprofiler-systems/scripts/run-ci.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

AIRUNTIME-2016: expand split barrier validation tests
  projects/hip-tests/catch/config/configs/performance.yaml
  projects/hip-tests/catch/config/configs/unit/cluster.yaml
  projects/hip-tests/catch/config/configs/unit/cooperativeGrps.yaml
  projects/hip-tests/catch/performance/api/CMakeLists.txt
  projects/hip-tests/catch/performance/api/splitBarrier/CMakeLists.txt
  projects/hip-tests/catch/performance/api/splitBarrier/splitBarrier.cc
  projects/hip-tests/catch/unit/cluster/CMakeLists.txt
  projects/hip-tests/catch/unit/cluster/cluster_split_barrier.cc
  projects/hip-tests/catch/unit/cooperativeGrps/split_barrier.cc
Due: .azuredevops/rocm_ci_caller.yml

consan: centralize physical-site alias canonicalization
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_barrier.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_candidates.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_internal.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_sync.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sync_common.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_physical_site_alias.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_sync_analysis.inc
  emulation/rocjitsu/tests/patch/consan/consan_test_support.h
  emulation/rocjitsu/tests/patch/consan/core_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_common_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_record_replay_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_sampled_test.cpp
Due: none

fix: include ENV subsys for CommMPITests_TrafficClass log assertion
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
  projects/rccl/tools/scripts/test_runner/configs/mi355x_thor2_roce.json
Due: .azuredevops/rocm_ci_caller.yml

Harden PR triage SHA fallback commands (#9075)
  .github/scripts/pr_category_label.py
  .github/scripts/pr_detect_changed_subtrees.py
Due: none

fix(clr): Guard Event::awaitCompletion against dead worker thread (#8479)
  projects/clr/rocclr/platform/command.cpp
  projects/hip-tests/catch/config/configs/unit/stream.yaml
  projects/hip-tests/catch/unit/stream/CMakeLists.txt
  projects/hip-tests/catch/unit/stream/hipStreamKilledWorkerThread.cc
  projects/hip-tests/catch/unit/stream/hipStreamKilledWorkerThread_exe.cc
Due: .azuredevops/rocm_ci_caller.yml

tests(rocprofiler-systems): check AI NIC track presence, not non-zero values
  projects/rocprofiler-systems/tests/pytest/conftest.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/validators.py
  projects/rocprofiler-systems/tests/pytest/test_ainic.py
  projects/rocprofiler-systems/tests/validate-perfetto-proto.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fixed formatting
  projects/rocprofiler-systems/tests/validate-perfetto-proto.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

revert(amdsmi): revert the Python packaging rework (#7913, #7914)
  .github/workflows/amdsmi-build.yml
  projects/amdsmi/.gitignore
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/CMakeLists.txt
  projects/amdsmi/DEBIAN/postinst.in
  projects/amdsmi/DEBIAN/prerm.in
  projects/amdsmi/RPM/post.in
  projects/amdsmi/RPM/postun.in
  projects/amdsmi/RPM/preun.in
  projects/amdsmi/amdsmi_cli/CMakeLists.txt
  projects/amdsmi/amdsmi_cli/amdsmi_cli.py
  projects/amdsmi/amdsmi_cli/amdsmi_init.py
  projects/amdsmi/amdsmi_cli/pin_shebang.cmake
  projects/amdsmi/docs/install/install.md
  projects/amdsmi/py-interface/CMakeLists.txt
  projects/amdsmi/py-interface/README.md
  projects/amdsmi/py-interface/amdsmi_wrapper.py
  projects/amdsmi/py-interface/pyproject.toml.in
  projects/amdsmi/py-interface/setup.py.in
  projects/amdsmi/src/CMakeLists.txt
  projects/amdsmi/tests/amdsmi_build/run_amdsmi_build.py
  projects/amdsmi/tests/python/common/common.py
  projects/amdsmi/tests/python/test_abi_compat.py
  projects/amdsmi/tools/disable_system_fallback.py
  projects/amdsmi/tools/generator.py
Due: .azuredevops/rocm_ci_caller.yml

Remove 'branch name' checks from PR policy bot
  docs/SYSTEMS_PR_BOT_FAQ.md
  tools/systems_pr_bot/policy.yml
  tools/systems_pr_bot/policy_check.py
  tools/systems_pr_bot/test_policy_check_ut.py
Due: none

[RCCL] LL: cache-bypass user buffers, plain/non-temporal comm FIFO
  projects/rccl/src/device/prims_ll.h
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): match the reverted loader SONAME to the 27.0.0 library
  projects/amdsmi/py-interface/amdsmi_wrapper.py
  projects/amdsmi/tools/generator.py
Due: .azuredevops/rocm_ci_caller.yml

Fix coalesced_group memcpy_async test racing across waves
  projects/hip-tests/catch/unit/deviceLib/memcpy_async.cc
Due: .azuredevops/rocm_ci_caller.yml

create directory for perf sample - when results_directory provided
  projects/rocdecode/test/testScripts/run_rocDecodeSamples.py
Due: .azuredevops/rocm_ci_caller.yml

consan: unify incremental physical-site aliases
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_physical_site_alias.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_supercollider_lds.inc
  emulation/rocjitsu/tests/patch/consan/core_test.cpp
Due: none

Fixed formatting
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_helpers.hpp
  projects/rocprofiler-systems/tests/pytest/test_ainic.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(rocr): Resolve NUMA dependency in exported hsakmt config (ROCM-21395)
  projects/rocr-runtime/libhsakmt/hsakmt-config.cmake.in
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

docs(rocprofiler-systems): update rocshmem README to use environment variables
  projects/rocprofiler-systems/examples/rocshmem/README.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

More optimizations
  projects/rccl/src/device/tdm/asyncCopy.h
Due: .azuredevops/rocm_ci_caller.yml

refactor(rccl): switch real-source wrappers from g++/stubs to hipcc
  projects/rccl/test/pure/CMakeLists.txt
  projects/rccl/test/pure/NullParentTests_wrapper.cc
  projects/rccl/test/pure/paths_wrapper.cc
  projects/rccl/test/pure/rccl_host_preamble.h
  projects/rccl/test/pure/search_wrapper.cc
Due: .azuredevops/rocm_ci_caller.yml

test(amdsmi): stop flagging benign debug output as a command-test failure
  projects/amdsmi/tests/amdsmi_build/run_amdsmi_build.py
Due: .azuredevops/rocm_ci_caller.yml

initialize clusterSizeX/Y/Z on windows pal
  projects/clr/rocclr/device/pal/palvirtual.cpp
Due: .azuredevops/rocm_ci_caller.yml

code: return typed text replacement outcomes
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/translation_diagnostic.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_growth_policy.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instrumentor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbt_hooks.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
  emulation/rocjitsu/tests/patch/consan/supercollider_test.cpp
  emulation/rocjitsu/tools/dbt_translate_main.cpp
Due: none

[RCCL] LL128: generate separate registered / non-registered user-buffer kernels
  projects/rccl/cmake/scripts/add_unroll.sh
  projects/rccl/src/device/all_gather.h
  projects/rccl/src/device/all_reduce.h
  projects/rccl/src/device/broadcast.h
  projects/rccl/src/device/common.h
  projects/rccl/src/device/generate.py
  projects/rccl/src/device/primitives.h
  projects/rccl/src/device/prims_ll.h
  projects/rccl/src/device/prims_ll128.h
  projects/rccl/src/device/prims_simple.h
  projects/rccl/src/enqueue.cc
  projects/rccl/src/include/device.h
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/LL128RegVariantKernel_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi): Dockerfile Fix for Wrapper Generation
  projects/amdsmi/py-interface/Dockerfile
  projects/amdsmi/py-interface/amdsmi_wrapper.py
Due: .azuredevops/rocm_ci_caller.yml

Remove 'branch name' checks from PR policy bot (#9337)
  docs/SYSTEMS_PR_BOT_FAQ.md
  tools/systems_pr_bot/policy.yml
  tools/systems_pr_bot/policy_check.py
  tools/systems_pr_bot/test_policy_check_ut.py
Due: none

[rocjitsu] Fix gfx1250 B0-to-A0 E5M3 and WMMA rewrites
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/legalization/gfx1250_b0_to_a0.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/gfx1250_b0_to_a0.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
Due: none

nccl4py: add calc_slots for LLA2ARequirement and RegisteredWindowHandle.get_multimem_device_pointer()
  bindings/nccl4py/nccl/bindings/_internal/nccl.pxd
  bindings/nccl4py/nccl/bindings/_internal/nccl_linux.pyx
  bindings/nccl4py/nccl/bindings/cynccl.pxd
  bindings/nccl4py/nccl/bindings/cynccl.pyx
  bindings/nccl4py/nccl/bindings/nccl.pyx
  bindings/nccl4py/nccl/core/communicator.py
  bindings/nccl4py/nccl/core/resources.py
Due: none

nccl4py: don't access ncclDevComm fields from host
  bindings/nccl4py/nccl/core/resources.py
  bindings/nccl4py/nccl/core/team.py
Due: none

Squash commit for inspector: Add OTLP export support for NCCL Inspector
  plugins/profiler/inspector/Makefile
  plugins/profiler/inspector/README.md
  plugins/profiler/inspector/inspector.cc
  plugins/profiler/inspector/inspector.h
  plugins/profiler/inspector/inspector_otel.cc
  plugins/profiler/inspector/inspector_otel.h
  plugins/profiler/inspector/inspector_prom.cc
Due: none

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
