Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Fix bug.
  projects/rocprofiler-compute/src/utils/specs.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix bugs.
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_webui.py
  projects/rocprofiler-compute/src/utils/file_io.py
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

try this for windows building
  .github/workflows/therock-ci-windows.yml
Due: none

Add math libs
  .github/workflows/therock-ci-windows.yml
Due: none

Refactor.
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_webui.py
  projects/rocprofiler-compute/src/utils/roofline_calc.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

made multiple rewrite to follow code review
  projects/rocprofiler-compute/src/utils/gui_components/memchart.py
  projects/rocprofiler-compute/src/utils/mem_chart.py
  projects/rocprofiler-compute/src/utils/utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

SWDEV-553126 - Improve logging
  projects/clr/hipamd/src/hip_device.cpp
  projects/clr/hipamd/src/hip_event.cpp
  projects/clr/hipamd/src/hip_graph.cpp
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/hipamd/src/hip_stream.cpp
  projects/clr/rocclr/device/blit.cpp
  projects/clr/rocclr/device/devprogram.cpp
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocmemory.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.hpp
  projects/clr/rocclr/platform/command.cpp
  projects/clr/rocclr/platform/commandqueue.cpp
  projects/clr/rocclr/platform/runtime.cpp
  projects/clr/rocclr/utils/debug.hpp
Due: .azuredevops/rocm_ci_caller.yml

updated unit tests and changelog
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

SWDEV-539130 - Log blit copy duration
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_blit_kernel.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_blit_sdma.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/blit.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_blit_kernel.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_blit_sdma.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/util/utils.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Fix a crash when running `amd-smi version --cpu`
  projects/amdsmi/src/amd_smi/amd_smi.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-515530 - Re-enable passing tests on NV
  projects/hip-tests/catch/hipTestMain/config/config_nvidia_linux.json
  projects/hip-tests/catch/unit/texture/hipTexObjectTests.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-515530 - Disable Unit_hipMemMapArrayAsync_Positive_Basic
  projects/hip-tests/catch/hipTestMain/config/config_nvidia_linux.json
  projects/hip-tests/catch/unit/virtualMemoryManagement/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-515530 - Remove mipmap test as mipmaps are not working on linux
  projects/hip-tests/catch/hipTestMain/config/config_nvidia_linux.json
  projects/hip-tests/catch/unit/virtualMemoryManagement/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-515530 - format the code
  projects/hip-tests/catch/unit/texture/hipTexObjectTests.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-523137 - Enable and fix failing tests on NV
  projects/hip-tests/catch/hipTestMain/config/config_amd_windows
  projects/hip-tests/catch/hipTestMain/config/config_nvidia_linux.json
  projects/hip-tests/catch/hipTestMain/config/config_nvidia_windows.json
  projects/hip-tests/catch/unit/device/hipDeviceSetGetLimit.cc
  projects/hip-tests/catch/unit/device/hipDeviceSynchronize.cc
  projects/hip-tests/catch/unit/device/hipGetSetDeviceFlags.cc
  projects/hip-tests/catch/unit/graph/hipGraphAddChildGraphNode.cc
  projects/hip-tests/catch/unit/graph/hipGraphInstantiateWithParams.cc
  projects/hip-tests/catch/unit/graph/hipGraphMemAllocNodeGetParams.cc
  projects/hip-tests/catch/unit/memory/hipFreeMipmappedArray.cc
  projects/hip-tests/catch/unit/memory/hipMallocMipmappedArray.cc
  projects/hip-tests/catch/unit/memory/hipMemPoolSetGetAccess.cc
  projects/hip-tests/catch/unit/module/hipModuleGetTexRef.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-523137 - Fix negative num_levels test
  projects/hip-tests/catch/unit/memory/hipMallocMipmappedArray.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-523137 - hipModuleGetTexRef is deprecated and is using deprecated texture template
  projects/hip-tests/catch/unit/module/hipModuleGetTexRef.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-523137 - Small fixes
  projects/hip-tests/catch/unit/memory/hipMemcpyWithStream.cc
  projects/hip-tests/catch/unit/module/hipModuleGetTexRef.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-523137 - Run clang-format
  projects/hip-tests/catch/unit/graph/hipGraphAddChildGraphNode.cc
  projects/hip-tests/catch/unit/graph/hipGraphInstantiateWithParams.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-523137 - Avoid using guards on faulting behavior
  projects/hip-tests/catch/hipTestMain/config/config_nvidia_linux.json
  projects/hip-tests/catch/unit/graph/hipGraphInstantiateWithParams.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-517867 - Enable Unit_hipStreamCreateWithPriority_MulthreadDefaultflag
  projects/hip-tests/catch/hipTestMain/config/config_amd_linux
  projects/hip-tests/catch/hipTestMain/config/config_amd_windows
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-515530 - Re-enable passing test
  projects/hip-tests/catch/hipTestMain/config/config_amd_linux
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-487395 - Run clang-format
  projects/hip-tests/catch/unit/memory/hipMemcpyAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-487395 - Refactor capture testcases
  projects/hip-tests/catch/unit/memory/hipDrvMemcpy3DAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpy2DAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpy2DFromArrayAsync_old.cc
  projects/hip-tests/catch/unit/memory/hipMemcpy2DToArrayAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpy3DAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyAsync_derivatives.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyAtoHAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyDtoDAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyFromSymbol.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyHtoAAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyParam2DAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyPeerAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyWithStream.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-487395 - Add missing include
  projects/hip-tests/catch/unit/memory/hipMemcpyDtoDAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-487395 - Use created stream instead of nullstream
  projects/hip-tests/catch/unit/memory/hipMemcpyAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyAtoHAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-487395 - Add missing include
  projects/hip-tests/catch/unit/memory/hipMemcpyAsync_derivatives.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-487395 - Add capture testcases to memcpy APIs
  projects/hip-tests/catch/unit/memory/hipDrvMemcpy3DAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpy2DToArrayAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpy3DAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyAtoHAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyParam2DAsync.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyPeerAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-487395 - Fix hipMemcpyWithStream capture test
  projects/hip-tests/catch/unit/memory/hipMemcpyWithStream.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-547453 - Resolve memory leaks in module tests
  projects/hip-tests/catch/unit/module/hipDrvLaunchKernelEx.cc
  projects/hip-tests/catch/unit/module/hipGetProcAddressModuleApis.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-546347-Addressed review comments
  projects/hip-tests/catch/unit/module/CMakeLists.txt
  projects/hip-tests/catch/unit/module/hipModuleGetFunctionCount.cc
  projects/hip-tests/catch/unit/module/hipModuleLoadFatBinary.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-549707 - Fix for mem leak in Unit_hipMemImportFromShareableHandle_Positive_Basic
  projects/hip-tests/catch/unit/virtualMemoryManagement/hipMemImportFromShareableHandle.cc
Due: .azuredevops/rocm_ci_caller.yml

Fix pytest failures due to incorrect init of rocprofiler_agent_fw_info_t
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/agent.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Enable building tests/samples in rocm release compat workflow
  .github/workflows/rocprofiler-sdk-rocm_release_compatibility.yml
Due: none

Adding ROCm libraries for the code-coverage job
  .github/workflows/rocprofiler-sdk-code_coverage.yml
Due: none

Added return value check for error message and updated compatability to enable tests
  .github/workflows/rocprofiler-sdk-rocm_release_compatibility.yml
  projects/rocprofiler-sdk/tests/bin/rocdecode/rocdecode.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Increase rocDecode code coverage and add version check
  projects/rocprofiler-sdk/tests/bin/rocdecode/rocdecode.cpp
  projects/rocprofiler-sdk/tests/rocdecode/validate.py
  projects/rocprofiler-sdk/tests/rocprofv3/rocdecode-trace/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix rocJPEG tests
  projects/rocprofiler-sdk/tests/rocprofv3/rocjpeg-trace/conftest.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

formatting
  projects/rocprofiler-sdk/tests/rocprofv3/rocjpeg-trace/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Readded rocJPEG test skips
  .github/workflows/rocprofiler-sdk-rocm_release_compatibility.yml
  projects/rocprofiler-sdk/tests/rocjpeg/validate.py
  projects/rocprofiler-sdk/tests/rocprofv3/rocjpeg-trace/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml
