Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Exclude modules from ./math/ (libm)
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/module_function.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fix workflow failures
  .github/workflows/rocprofiler-systems-containers.yml
  .github/workflows/rocprofiler-systems-redhat.yml
  projects/rocprofiler-systems/docker/Dockerfile.rhel
  projects/rocprofiler-systems/scripts/build-release.sh
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

TransferBench fixture fix
  projects/rocprofiler-systems/tests/rocprof-sys-gpu-connect-tests.cmake
  projects/rocprofiler-systems/tests/transferbench-validation-check.sh
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Lazy-import get_table_string in MachineSpecs.__repr__
  projects/rocprofiler-compute/src/utils/specs.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[RCCL][RAS] Re-enable RAS_COLL_CONNS
  projects/rccl/src/ras/client_support.cc
  projects/rccl/src/ras/peers.cc
  projects/rccl/src/ras/ras_internal.h
Due: .azuredevops/rocm_ci_caller.yml

Refactor: centralize common utilities and reduce module dependencies
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_webui.py
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/src/utils/roofline_calc.py
  projects/rocprofiler-compute/src/utils/specs.py
  projects/rocprofiler-compute/src/utils/utils_common.py
  projects/rocprofiler-compute/src/utils/utils_profile.py
  projects/rocprofiler-compute/tests/test_analyze_commands.py
  projects/rocprofiler-compute/tests/test_profile_general.py
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Update test_gpu_specs parser to use ASCII table format
  projects/rocprofiler-compute/tests/test_gpu_specs.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Optimize expand_placeholder_ranges to use in-place mutation
  projects/rocprofiler-compute/src/utils/utils_common.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Remove duplicate SUPPORTED_FIELD from schema.py
  projects/rocprofiler-compute/src/utils/schema.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix tests for run_prof and calc_ai_analyze signature changes
  projects/rocprofiler-compute/tests/test_roofline_calc_ai_analyze.py
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

add common output utilities, remove per-binary wrappers, add unit tests and remove table-driven preset/scope configs
  projects/rocprofiler-systems/source/bin/rocprof-sys-causal/impl.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-causal/scope_config.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-run/impl.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-run/preset_config.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-run/rocprof-sys-run.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-sample/impl.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-sample/preset_config.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-sample/rocprof-sys-sample.cpp
  projects/rocprofiler-systems/source/lib/common/output.hpp
  projects/rocprofiler-systems/source/lib/common/span.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fix calc_builtin_var caller to pass dict instead of Series
  projects/rocprofiler-compute/src/utils/parser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix build_comparable_columns to copy SUPPORTED_FIELD
  projects/rocprofiler-compute/src/utils/parser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Apply suggestions from code review
  projects/rocprofiler-systems/source/lib/logger/tests/test_logger.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

review comments incorporated
  projects/rocprofiler-systems/source/lib/common/output.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add test for --selected-regions without --marker-trace
  projects/rocprofiler-sdk/tests/rocprofv3/roctx-pause-resume/nested-pause-resume/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fixing test
  projects/rocprofiler-sdk/tests/rocprofv3/roctx-pause-resume/nested-pause-resume/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix --selected-regions not registering pause/resume callbacks
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Cmake Formatting
  projects/rocprofiler-sdk/tests/rocprofv3/roctx-pause-resume/nested-pause-resume/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Remove unused gitmodules file
  .github/workflows/rocprofiler-systems-continuous-integration.yml
  .github/workflows/rocprofiler-systems-cpack.yml
  .github/workflows/rocprofiler-systems-debian.yml
  .github/workflows/rocprofiler-systems-opensuse.yml
  .github/workflows/rocprofiler-systems-redhat.yml
  .github/workflows/rocprofiler-systems-release.yml
  .github/workflows/rocprofiler-systems-ubuntu-jammy.yml
  .github/workflows/rocprofiler-systems-ubuntu-noble.yml
  projects/rocprofiler-systems/.gitmodules
  projects/rocprofiler-systems/cmake/MacroUtilities.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add AMD SMI metric filtering to rocpd validation tests
  projects/rocprofiler-systems/tests/rocpd-validation-rules/jpeg-decode/amd-smi-rules.json
  projects/rocprofiler-systems/tests/rocpd-validation-rules/roctx/amd-smi-rules.json
  projects/rocprofiler-systems/tests/rocpd-validation-rules/transpose/amd-smi-rules.json
  projects/rocprofiler-systems/tests/rocpd-validation-rules/video-decode/amd-smi-rules.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Update projects/rocprofiler-systems/tests/rocpd-validation-rules/transpose/amd-smi-rules.json
  projects/rocprofiler-systems/scripts/run-ci.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/gpu.py
  projects/rocprofiler-systems/tests/pytest/test_sdma.py
  projects/rocprofiler-systems/tests/rocpd-validation-rules/transpose/amd-smi-rules.json
  projects/rocprofiler-systems/tests/rocprof-sys-rocm-tests.cmake
  projects/rocprofiler-systems/tests/rocprof-sys-testing.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

HardwareAccess=false for memory escape calls (and a few others)
  projects/rocdbgapi/src/os_driver_kmd.cpp
Due: .azuredevops/rocm_ci_caller.yml

Update cmake to 3.25
  projects/rocprofiler-systems/docker/Dockerfile.opensuse
  projects/rocprofiler-systems/docker/Dockerfile.opensuse.ci
  projects/rocprofiler-systems/docker/Dockerfile.rhel
  projects/rocprofiler-systems/docker/Dockerfile.rhel.ci
  projects/rocprofiler-systems/docker/Dockerfile.ubuntu
  projects/rocprofiler-systems/docker/Dockerfile.ubuntu.ci
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Avoid graph stream queue collision: UpdateStreams + getQueueId hints
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/hipamd/src/hip_stream.cpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/pal/palvirtual.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.hpp
  projects/clr/rocclr/platform/commandqueue.hpp
Due: .azuredevops/rocm_ci_caller.yml

Revert "Remove unused gitmodules file"
  projects/rocprofiler-systems/.gitmodules
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Remove unused gitmodules file
  projects/rocprofiler-systems/.gitmodules
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Remove unused PTL Lib
  .gitmodules
  projects/rocprofiler-systems/.gitmodules
  projects/rocprofiler-systems/cmake/Packages.cmake
  projects/rocprofiler-systems/source/lib/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/causal/data.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/causal/sampling.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/backtrace.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/backtrace_metrics.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/callchain.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ptl.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ptl.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Install libquadmath in rhel dockerfiles
  .github/workflows/rocprofiler-systems-redhat.yml
  projects/rocprofiler-systems/docker/Dockerfile.rhel
  projects/rocprofiler-systems/docker/Dockerfile.rhel.ci
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(pmc): initialize track metadata once before device loop
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/base/collector.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Address comments
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu/types.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/nic/device.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocm.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Print full rocminfo
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_processor.cpp
  projects/rocprofiler-systems/tests/rocprof-sys-rocm-tests.cmake
  projects/rocprofiler-systems/tests/rocprof-sys-testing.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Optimize rocpd writes with prepared statements cache
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
  projects/rocprofiler-sdk/source/lib/output/sql/common.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add cleanup guard if a bind or step fails
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Address review comments
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Batch insert implementation for optimal perf
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Avoid error check for each bind to improve perf by 8-10%
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Address review comments
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
  projects/rocprofiler-sdk/source/lib/output/sql/common.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Remove static variables from implementation
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
  projects/rocprofiler-sdk/source/lib/output/sql/common.cpp
  projects/rocprofiler-sdk/source/lib/output/sql/common.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Address comment
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml
