Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Update installation.rst (#1034)
  projects/rocprofiler-sdk/source/docs/install/installation.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rocprofiler-compute] refactor bug fixes (#994)
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/analysis_tui.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/config.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/tui_app.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/utils/kernel_view_config.yaml
  projects/rocprofiler-compute/src/rocprof_compute_tui/views/main_view.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/widgets/menu_bar/menu_bar.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

SWDEV-548770 - Added system scope acquire for all packets in gfx12 (#966)
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
Due: .azuredevops/rocm_ci_caller.yml

build: update CMake file (#1015)
  projects/rocminfo/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml

Remove SLES SP (#891)
  projects/rdc/docs/install/install.rst
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute][webui] bug fix (#1047)
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_webui.py
  projects/rocprofiler-compute/src/utils/file_io.py
  projects/rocprofiler-compute/src/utils/parser.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

SWDEV-552741 - Exclude OCLGetQueueThreadID from ocl tests (#1024)
  projects/clr/opencl/tests/ocltst/module/runtime/oclruntime.exclude
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-551652 - Adding one change in 7.0 changelog (#960)
  projects/clr/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-548417 - Fix Memleaks in Graph (#713)
  projects/clr/hipamd/src/hip_graph.cpp
  projects/clr/hipamd/src/hip_graph_helper.hpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/rocclr/platform/commandqueue.cpp
  projects/hip-tests/catch/unit/graph/hipDrvGraphMemcpyNodeGetParams.cc
  projects/hip-tests/catch/unit/graph/hipGraphAddKernelNode.cc
  projects/hip-tests/catch/unit/graph/hipGraphAddNodeBeginCapture.cc
  projects/hip-tests/catch/unit/graph/hipGraphCloneComplx.cc
  projects/hip-tests/catch/unit/graph/hipGraphExecChildGraphNodeSetParams.cc
  projects/hip-tests/catch/unit/graph/hipGraphExecDestroy.cc
  projects/hip-tests/catch/unit/graph/hipGraphExecMemcpyNodeSetParamsToSymbol_old.cc
  projects/hip-tests/catch/unit/graph/hipGraphNodeGetEnabled.cc
  projects/hip-tests/catch/unit/graph/hipGraphPerf.cc
  projects/hip-tests/catch/unit/graph/hipGraphRetainUserObject.cc
  projects/hip-tests/catch/unit/graph/hipLaunchHostFunc.cc
  projects/hip-tests/catch/unit/graph/hipStreamEndCapture.cc
  projects/hip-tests/catch/unit/graph/hipStreamEndCapture_old.cc
  projects/hip-tests/catch/unit/graph/hipUserObjectCreate.cc
  projects/hip-tests/catch/unit/graph/hipUserObjectRelease.cc
  projects/hip-tests/catch/unit/graph/hipUserObjectRetain.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-555484 - getQueueId uses hsa_queue's id which is not necessary to be bound by GPU_MAX_HW_QUEUES and hence accessing array beyond size cause data curruption. (#1040)
  projects/clr/hipamd/src/hip_graph_internal.cpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-555484 - Invalidate capturing stream only for null/legacy stream. (#1032)
  projects/clr/hipamd/src/hip_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-555798 - Added sync after graphLaunch for Unit_hipGetProcAddress_GraphAPIs tests (#1052)
  projects/hip-tests/catch/unit/graph/hipGetProcAddressGraphApis.cc
Due: .azuredevops/rocm_ci_caller.yml

Replace cmake-format with gersemi in rocprofiler-compute-formatting.yml (#1053)
  .github/workflows/rocprofiler-compute-formatting.yml
  projects/rocprofiler-compute/.cmake-format.yaml
  projects/rocprofiler-compute/.gersemirc
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

SWDEV-547108 - Add dll loader for Windows build (#1004)
  projects/clr/rocclr/cmake/ROCclrHSA.cmake
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/clr/rocclr/device/rocm/roccounters.cpp
  projects/clr/rocclr/device/rocm/roccounters.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
  projects/clr/rocclr/device/rocm/rocglinterop.hpp
  projects/clr/rocclr/device/rocm/rockernel.cpp
  projects/clr/rocclr/device/rocm/rocmemory.cpp
  projects/clr/rocclr/device/rocm/rocprintf.cpp
  projects/clr/rocclr/device/rocm/rocprogram.cpp
  projects/clr/rocclr/device/rocm/rocrctx.cpp
  projects/clr/rocclr/device/rocm/rocrctx.hpp
  projects/clr/rocclr/device/rocm/rocsignal.cpp
  projects/clr/rocclr/device/rocm/rocsignal.hpp
  projects/clr/rocclr/device/rocm/rocurilocator.cpp
  projects/clr/rocclr/device/rocm/rocurilocator.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.hpp
Due: .azuredevops/rocm_ci_caller.yml

update TCC_EA0_RDREQ_sum def (#1039)
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/counter_defs.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add windows build support into ROCr (#912)
  projects/rocr-runtime/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime-tools/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/cmake_modules/FindLibElf.cmake
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/kfd/amd_kfd_driver.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_available_drivers.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_blit_kernel.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_hsa_loader.hpp
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/thunk_loader.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_aql_queue.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_blit_kernel.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_blit_sdma.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_hsa_loader.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_memory_region.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_topology.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/blit_shaders/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/blit_shaders/create_blit_shader_header.py
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ven_amd_loader.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/signal.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/svm_profiler.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/thunk_loader.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/trap_handler/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/trap_handler/create_trap_handler_header.py
  projects/rocr-runtime/runtime/hsa-runtime/core/util/atomic_helpers.h
  projects/rocr-runtime/runtime/hsa-runtime/core/util/lnx/os_linux.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/util/os.h
  projects/rocr-runtime/runtime/hsa-runtime/core/util/simple_heap.h
  projects/rocr-runtime/runtime/hsa-runtime/core/util/utils.h
  projects/rocr-runtime/runtime/hsa-runtime/core/util/win/os_win.cpp
  projects/rocr-runtime/runtime/hsa-runtime/hsa-runtime64-config.cmake.in
  projects/rocr-runtime/runtime/hsa-runtime/hsacore.dll.def
  projects/rocr-runtime/runtime/hsa-runtime/libamdhsacode/amd_core_dump.cpp
  projects/rocr-runtime/runtime/hsa-runtime/libamdhsacode/win32/elf.h
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.cpp
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.hpp
  projects/rocr-runtime/runtime/hsa-runtime/pcs/pcs_runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

SWDEV-548417 - Fix Memleaks in Graph (#973)
  projects/clr/hipamd/src/hip_graph_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-553065 palamida scan fix (#1010)
  projects/rocprofiler/bin/build_kernel.sh
  projects/rocprofiler/bin/rocprofv2
  projects/rocprofiler/plugin/att/att.py
  projects/rocprofiler/plugin/att/att_to_csv.py
  projects/rocprofiler/plugin/att/drawing.py
  projects/rocprofiler/plugin/att/service.py
  projects/rocprofiler/plugin/att/stitch.py
  projects/rocprofiler/plugin/att/trace_view.py
  projects/rocprofiler/samples/common/common.h
  projects/rocprofiler/samples/counters_sampler/pcie_counters_example.cpp
  projects/rocprofiler/samples/counters_sampler/xgmi_counters_sampler_example.cpp
  projects/rocprofiler/samples/profiler/device_profiling_sample.cpp
  projects/rocprofiler/samples/profiler/kernel_profiling_no_replay_sample.cpp
  projects/rocprofiler/samples/run_samples.sh
  projects/rocprofiler/samples/tracer/sample.cpp
  projects/rocprofiler/samples/tracer/sample_async.cpp
  projects/rocprofiler/src/api/rocprofilerv2.cpp
  projects/rocprofiler/src/core/activity.h
  projects/rocprofiler/src/core/context.h
  projects/rocprofiler/src/core/context_pool.h
  projects/rocprofiler/src/core/core_timer.h
  projects/rocprofiler/src/core/profiling_lock.cpp
  projects/rocprofiler/src/core/profiling_lock.h
  projects/rocprofiler/src/core/proxy_queue.cpp
  projects/rocprofiler/src/core/proxy_queue.h
  projects/rocprofiler/src/tools/ctrl.cpp
  projects/rocprofiler/tests-v2/featuretests/gtests_main.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler.yml

rocr: Fix hsa_amd_pointer_info regression (#719)
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_ext_amd.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

SWDEV-541478 - return hipSuccess for hipTexObjectCreate TypePitch2D with zero width or height (#712)
  projects/clr/hipamd/src/hip_texture.cpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-539145 - Return error when ext_fine_grain_pool unavailable (#877)
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/hip-tests/catch/include/hip_test_common.hh
  projects/hip-tests/catch/unit/memory/hipHostAlloc.cc
  projects/hip-tests/catch/unit/memory/hipHostMalloc.cc
  projects/hip-tests/catch/unit/memory/hipHostRegister.cc
  projects/hip/include/hip/hip_runtime_api.h
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-556250 - Added synchronization before validating the result in Unit_hipStreamLegacy* tests (#1062)
  projects/hip-tests/catch/unit/stream/hipStreamLegacy_Ext.cc
  projects/hip-tests/catch/unit/stream/hipStreamLegacy_compiler_options.cc
  projects/hip-tests/catch/unit/stream/hipStreamLegacy_exe.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-555084: Fix the python script (#996)
  projects/clr/hipamd/src/hip_prof_gen.py
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-sdk] ROCpd GOTCHA Fix (#720)
  .gitmodules
  projects/rocprofiler-sdk/source/lib/python/rocpd/__init__.py
  projects/rocprofiler-sdk/source/lib/python/rocpd/source/interop.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rocprofiler-compute] Type annotation patch for analysis_db.py (#981)
  projects/rocprofiler-compute/pyproject.toml
  projects/rocprofiler-compute/src/config.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx908.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx90a.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx940.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx941.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx942.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx950.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/widgets/collapsibles.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/widgets/recent_directories.py
  projects/rocprofiler-compute/src/utils/analysis_orm.py
  projects/rocprofiler-compute/src/utils/file_io.py
  projects/rocprofiler-compute/src/utils/gui_components/memchart.py
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/src/utils/roofline_calc.py
  projects/rocprofiler-compute/src/utils/schema.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

SWDEV-546376 - Fix CTS profiling failure (#976)
  projects/clr/opencl/amdocl/cl_execute.cpp
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler][navi4] Remove navi4x support on rocprofv2. (#307)
  projects/rocprofiler/CHANGELOG.md
  projects/rocprofiler/build.sh
  projects/rocprofiler/src/core/counters/derived/metrics.xml
  projects/rocprofiler/src/core/counters/metrics/basic_counters.xml
  projects/rocprofiler/src/core/counters/metrics/derived_counters.xml
  projects/rocprofiler/src/core/counters/metrics/metrics.h
  projects/rocprofiler/src/core/hardware/hsa_info.cpp
  projects/rocprofiler/src/core/metrics.h
  projects/rocprofiler/test/tool/gfx_metrics.xml
  projects/rocprofiler/test/tool/metrics.xml
  projects/rocprofiler/tests-v2/featuretests/profiler/CMakeLists.txt
  projects/rocprofiler/tests-v2/featuretests/profiler/profiler_gtest.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler.yml

SWDEV-550882 - Add support for hipIpcMemLazyEnablePeerAccess (#817)
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/rocclr/device/device.hpp
Due: .azuredevops/rocm_ci_caller.yml

Disable validation tests when execution test is disabled (#1060)
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-once/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-twice/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rocprofiler-sdk CI workflow improvements (#956)
  .github/workflows/aqlprofile-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-build-ci-docker-images.yml
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
  projects/rocprofiler-sdk/docker/Dockerfile.ci
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

SWDEV-546287 - Implement hipLibrary load/unload (#975)
  projects/clr/CHANGELOG.md
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
  projects/clr/hipamd/include/hip/amd_detail/hip_prof_str.h
  projects/clr/hipamd/src/CMakeLists.txt
  projects/clr/hipamd/src/amdhip.def
  projects/clr/hipamd/src/hip_api_trace.cpp
  projects/clr/hipamd/src/hip_hcc.map.in
  projects/clr/hipamd/src/hip_library.cpp
  projects/clr/hipamd/src/hip_library.hpp
  projects/clr/hipamd/src/hip_platform.cpp
  projects/clr/hipamd/src/hip_platform.hpp
  projects/clr/hipamd/src/hip_table_interface.cpp
  projects/hip-tests/catch/unit/CMakeLists.txt
  projects/hip-tests/catch/unit/library/CMakeLists.txt
  projects/hip-tests/catch/unit/library/library_code_load.cc
  projects/hip-tests/catch/unit/library/library_negative.cc
  projects/hip-tests/catch/unit/library/loadlib_co.cc
  projects/hip-tests/catch/unit/library/loadlib_rtc.cc
  projects/hip/include/hip/hip_runtime_api.h
  projects/hip/include/hip/linker_types.h
  projects/hipother/hipnv/include/hip/nvidia_detail/nvidia_hip_runtime_api.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/api_args.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/runtime_api_id.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/abi.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/hip.def.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rocprofiler-compute][TUI] improve for cross-platform uses (#1007)
  projects/rocprofiler-compute/src/rocprof_compute_tui/analysis_tui.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/tui_app.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/widgets/menu_bar/menu_bar.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix workload path (#1096)
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof_compute_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix test failures (#1059)
  projects/rocprofiler-compute/pyproject.toml
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-sdk][CI] install libva-amdgpu-dev in requirements CodeQL Job (#1038)
  .github/workflows/rocprofiler-sdk-codeql.yml
  .github/workflows/rocprofiler-sdk-rocm_release_compatibility.yml
Due: none

SWDEV-556658 - skip failing tests to have a clean build (#1082)
  projects/hip-tests/catch/hipTestMain/config/config_amd_linux
  projects/hip-tests/catch/hipTestMain/config/config_amd_windows
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-1 Fix a bug of VGPRs (#1000)
  projects/clr/rocclr/device/rocm/rockernel.cpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-555665 - skip failing tests on window (#1045)
  projects/hip-tests/catch/hipTestMain/config/config_amd_windows
  projects/hip-tests/catch/unit/compiler/hipSquareGenericTarget.cc
Due: .azuredevops/rocm_ci_caller.yml

change interval for host_trap in unit test to adapt to single kernel (#1064)
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/sample/mat_mul_max.hip
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
