Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Applied suggestions from code review
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/base/collector.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu_perf_counter/cache_policy.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu_perf_counter/device.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu_perf_counter/gpu_perf_counter_traits.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu_perf_counter/types.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/sampler.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(rocprofiler-compute): remove env-var dump from PC sampling log fixture
  projects/rocprofiler-compute/tests/workloads/vcopy_pc_sampling_only/MI300A_A1/log.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

clr: Fix cmake
  projects/clr/hipamd/src/hrr/playback/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

feat(rocprofiler-compute): add detect-secrets pre-commit hook with baseline
  projects/rocprofiler-compute/.pre-commit-config.yaml
  projects/rocprofiler-compute/.secrets.baseline
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

feat(core): enable parallel cached perfetto
  projects/rocprofiler-systems/source/lib/core/perfetto.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto.hpp
  projects/rocprofiler-systems/source/lib/core/perfetto_engine.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto_engine.hpp
  projects/rocprofiler-systems/source/lib/core/perfetto_sinks.cpp
  projects/rocprofiler-systems/source/lib/core/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/tests/test_perfetto_engine.cpp
  projects/rocprofiler-systems/source/lib/core/tests/test_perfetto_processor_isolation.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/data_types.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_processor.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/post_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_enabled_formats.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/fork_gotcha.cpp
  projects/rocprofiler-systems/source/tests/CMakeLists.txt
  projects/rocprofiler-systems/tests/pytest/test_cached_perfetto_isolation.py
  projects/rocprofiler-systems/tests/validate-perfetto-proto.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

feat(core): single_file sink + synthetic ProcessTrack for cached perfetto
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/core/config.hpp
  projects/rocprofiler-systems/source/lib/core/perfetto/sinks.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/sinks.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/cache_manager.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_processor.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/tracing.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/tracing.hpp
  projects/rocprofiler-systems/tests/pytest/test_cached_perfetto_layout.py
  projects/rocprofiler-systems/tests/validate-perfetto-proto.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

refactor(core): promote perfetto to subdir + live_perfetto_driver
  projects/rocprofiler-systems/source/lib/core/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/driver.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/driver.hpp
  projects/rocprofiler-systems/source/lib/core/perfetto/engine.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/engine.hpp
  projects/rocprofiler-systems/source/lib/core/perfetto/fwd.hpp
  projects/rocprofiler-systems/source/lib/core/perfetto/sinks.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/sinks.hpp
  projects/rocprofiler-systems/source/lib/core/tests/test_perfetto_engine.cpp
  projects/rocprofiler-systems/source/lib/core/tests/test_perfetto_processor_isolation.cpp
  projects/rocprofiler-systems/source/lib/core/tests/test_perfetto_sinks.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/cache_manager.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_processor.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/post_processor.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/backtrace.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/backtrace_metrics.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/callchain.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/comm_data.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/fork_gotcha.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/kokkosp.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/cpu/perfetto_policy.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu/perfetto_policy.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/nic/perfetto_policy.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/counters.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/fwd.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/marker_writer.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/rccl.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/tracing.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/tracing/annotation.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Changelog Edit
  projects/rocprofiler-systems/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

initial implementation in IPC backend
  projects/rocshmem/src/ipc/context_ipc_tmpl_device.hpp
Due: .azuredevops/rocm_ci_caller.yml

add tile granular API functions
  projects/rocshmem/include/rocshmem/rocshmem.hpp
  projects/rocshmem/src/CMakeLists.txt
  projects/rocshmem/src/context.hpp
  projects/rocshmem/src/context_tmpl_device.hpp
  projects/rocshmem/src/gda/context_gda_device.cpp
  projects/rocshmem/src/gda/context_gda_device.hpp
  projects/rocshmem/src/gda/context_gda_tmpl_device.hpp
  projects/rocshmem/src/ipc/context_ipc_device.cpp
  projects/rocshmem/src/ipc/context_ipc_device.hpp
  projects/rocshmem/src/ipc/context_ipc_tmpl_device.hpp
  projects/rocshmem/src/reverse_offload/context_ro_device.cpp
  projects/rocshmem/src/reverse_offload/context_ro_device.hpp
  projects/rocshmem/src/reverse_offload/context_ro_tmpl_device.hpp
  projects/rocshmem/src/rocshmem_tile_gpu.cpp
Due: .azuredevops/rocm_ci_caller.yml

add to bitcode files
  projects/rocshmem/cmake/DeviceBitcode.cmake
Due: .azuredevops/rocm_ci_caller.yml

add another example.
  projects/rocshmem/examples/CMakeLists.txt
  projects/rocshmem/examples/tile_distributed_gemm.cc
  projects/rocshmem/examples/tile_halo_exchange.cc
Due: .azuredevops/rocm_ci_caller.yml

make functional tests pass again
  projects/rocshmem/examples/CMakeLists.txt
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/src/ipc/context_ipc_device.cpp
  projects/rocshmem/tests/functional_tests/tile_rma_tester.cpp
Due: .azuredevops/rocm_ci_caller.yml

checkpoint. Example works now.
  projects/rocshmem/examples/CMakeLists.txt
  projects/rocshmem/examples/tile_distributed_gemm.cc
  projects/rocshmem/include/rocshmem/rocshmem_device.hpp
  projects/rocshmem/src/ipc/context_ipc_tmpl_device.hpp
  projects/rocshmem/src/reverse_offload/context_ro_device.cpp
  projects/rocshmem/src/reverse_offload/context_ro_tmpl_device.hpp
Due: .azuredevops/rocm_ci_caller.yml

add functional tests for the tile API
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/src/context.hpp
  projects/rocshmem/src/context_incl.hpp
  projects/rocshmem/src/context_tmpl_device.hpp
  projects/rocshmem/src/gda/context_gda_tmpl_device.hpp
  projects/rocshmem/src/ipc/context_ipc_device.hpp
  projects/rocshmem/src/ipc/context_ipc_tmpl_device.hpp
  projects/rocshmem/src/reverse_offload/context_ro_tmpl_device.hpp
  projects/rocshmem/src/rocshmem_tile_gpu.cpp
  projects/rocshmem/tests/functional_tests/CMakeLists.txt
  projects/rocshmem/tests/functional_tests/tester.cpp
  projects/rocshmem/tests/functional_tests/tester.hpp
Due: .azuredevops/rocm_ci_caller.yml

checkpoint
  projects/rocshmem/examples/CMakeLists.txt
  projects/rocshmem/examples/tile_distributed_gemm.cc
  projects/rocshmem/include/rocshmem/rocshmem_TILE.hpp
  projects/rocshmem/include/rocshmem/rocshmem_TILE_impl.hpp
  projects/rocshmem/src/ipc/context_ipc_tmpl_device.hpp
  projects/rocshmem/tests/functional_tests/tile_rma_tester.cpp
  projects/rocshmem/tests/functional_tests/tile_rma_tester.hpp
Due: .azuredevops/rocm_ci_caller.yml

add more tests and testcases
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/tests/functional_tests/tile_rma_tester.cpp
Due: .azuredevops/rocm_ci_caller.yml

API cleanup
  projects/rocshmem/examples/tile_halo_exchange.cc
  projects/rocshmem/include/rocshmem/rocshmem_TILE.hpp
  projects/rocshmem/include/rocshmem/rocshmem_TILE_impl.hpp
  projects/rocshmem/src/context.hpp
  projects/rocshmem/src/context_tmpl_device.hpp
  projects/rocshmem/src/gda/context_gda_device.hpp
  projects/rocshmem/src/gda/context_gda_tmpl_device.hpp
  projects/rocshmem/src/ipc/context_ipc_device.hpp
  projects/rocshmem/src/ipc/context_ipc_tmpl_device.hpp
  projects/rocshmem/src/reverse_offload/context_ro_device.hpp
  projects/rocshmem/src/reverse_offload/context_ro_tmpl_device.hpp
  projects/rocshmem/tests/functional_tests/tile_rma_tester.cpp
Due: .azuredevops/rocm_ci_caller.yml

silence warnings
  projects/rocshmem/examples/util.h
  projects/rocshmem/src/gda/context_gda_device.cpp
  projects/rocshmem/src/gda/context_gda_tmpl_device.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix functional tests based on Copilot reviews
  projects/rocshmem/tests/functional_tests/tile_rma_tester.cpp
Due: .azuredevops/rocm_ci_caller.yml

more API fixes pointed out by Copilot
  projects/rocshmem/src/gda/context_gda_device.hpp
  projects/rocshmem/src/gda/context_gda_tmpl_device.hpp
  projects/rocshmem/src/ipc/context_ipc_device.hpp
  projects/rocshmem/src/ipc/context_ipc_tmpl_device.hpp
  projects/rocshmem/src/reverse_offload/context_ro_device.hpp
  projects/rocshmem/src/reverse_offload/context_ro_tmpl_device.hpp
Due: .azuredevops/rocm_ci_caller.yml

revamp of the overall structure
  projects/rocshmem/include/rocshmem/rocshmem_TILE_impl.hpp
  projects/rocshmem/include/rocshmem/rocshmem_device.hpp
  projects/rocshmem/src/context.hpp
  projects/rocshmem/src/context_tmpl_device.hpp
  projects/rocshmem/src/gda/context_gda_device.hpp
  projects/rocshmem/src/gda/context_gda_tmpl_device.hpp
  projects/rocshmem/src/ipc/context_ipc_device.hpp
  projects/rocshmem/src/ipc/context_ipc_tmpl_device.hpp
  projects/rocshmem/src/reverse_offload/context_ro_device.hpp
  projects/rocshmem/src/reverse_offload/context_ro_tmpl_device.hpp
  projects/rocshmem/src/rocshmem_tile_gpu.cpp
Due: .azuredevops/rocm_ci_caller.yml

some cleanup
  projects/rocshmem/src/rocshmem_tile_gpu.cpp
  projects/rocshmem/tests/functional_tests/tile_rma_tester.cpp
  projects/rocshmem/tests/functional_tests/tile_rma_tester.hpp
Due: .azuredevops/rocm_ci_caller.yml

more cleanup effort
  projects/rocshmem/include/rocshmem/rocshmem_TILE.hpp
  projects/rocshmem/include/rocshmem/rocshmem_TILE_impl.hpp
  projects/rocshmem/src/context.hpp
  projects/rocshmem/src/context_tmpl_device.hpp
  projects/rocshmem/src/gda/context_gda_device.hpp
  projects/rocshmem/src/gda/context_gda_tmpl_device.hpp
  projects/rocshmem/src/ipc/context_ipc_device.hpp
  projects/rocshmem/src/ipc/context_ipc_tmpl_device.hpp
  projects/rocshmem/src/reverse_offload/context_ro_device.hpp
  projects/rocshmem/src/reverse_offload/context_ro_tmpl_device.hpp
  projects/rocshmem/src/rocshmem_tile_gpu.cpp
Due: .azuredevops/rocm_ci_caller.yml

silence warnings
  projects/rocshmem/src/ipc/context_ipc_tmpl_device.hpp
Due: .azuredevops/rocm_ci_caller.yml

add logic to detect wavefront size in script
  projects/rocshmem/scripts/functional_tests/driver.sh
Due: .azuredevops/rocm_ci_caller.yml

update final round of reviewer comments
  projects/rocshmem/examples/tile_distributed_gemm.cc
  projects/rocshmem/include/rocshmem/rocshmem_TILE_impl.hpp
  projects/rocshmem/src/context_device.cpp
  projects/rocshmem/tests/functional_tests/device_bitcode_tester.cpp
  projects/rocshmem/tests/functional_tests/device_bitcode_tester.hpp
  projects/rocshmem/tests/functional_tests/tile_rma_tester.cpp
  projects/rocshmem/tests/functional_tests/tile_rma_tester.hpp
Due: .azuredevops/rocm_ci_caller.yml

update bitcode APIs
  projects/rocshmem/include/rocshmem/rocshmem_TILE_impl.hpp
  projects/rocshmem/src/device/rocshmem_wrapper.cc
  projects/rocshmem/src/gda/context_gda_device.cpp
  projects/rocshmem/src/rocshmem_tile_gpu.cpp
  projects/rocshmem/tests/functional_tests/tester.hpp
Due: .azuredevops/rocm_ci_caller.yml

update hash
  projects/rocprofiler-compute/src/utils/.config_hashes.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Switch tests to check for scratch_memory and not OMPT (not present in ROCm 6.3)
  projects/rocprofiler-systems/tests/pytest/test_binaries.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

refactor(core): lift PMC track map + remove cpu_pmc first-arriver statics
  projects/rocprofiler-systems/source/lib/core/perfetto/driver.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/driver.hpp
  projects/rocprofiler-systems/source/lib/core/perfetto/engine.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/sinks.cpp
  projects/rocprofiler-systems/source/lib/core/perfetto/sinks.hpp
  projects/rocprofiler-systems/source/lib/core/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/tests/test_perfetto_engine.cpp
  projects/rocprofiler-systems/source/lib/core/tests/test_perfetto_sinks.cpp
  projects/rocprofiler-systems/source/lib/core/tests/test_track_registry.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/cache_manager.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/perfetto_processor.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/post_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_enabled_formats.cpp
  projects/rocprofiler-systems/source/lib/core/track_registry.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/tracing.hpp
  projects/rocprofiler-systems/tests/pytest/test_cached_perfetto_layout.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

WIP: GIN rocshmem backend - Stage 1 scaffolding
  projects/rccl/projects/rccl/src/CMakeLists.txt
  projects/rccl/projects/rccl/src/gin/CMakeLists.txt
  projects/rccl/projects/rccl/src/gin/gin_host.cc
  projects/rccl/projects/rccl/src/gin/gin_host_rocshmem.cc
  projects/rccl/projects/rccl/src/include/gin/gin_host_rocshmem.h
  projects/rccl/projects/rccl/src/include/nccl_device/gin/gin_device_api.h
  projects/rccl/projects/rccl/src/include/nccl_device/gin/gin_device_common.h
  projects/rccl/projects/rccl/src/include/nccl_device/gin/rocshmem/gin_rocshmem.h
  projects/rccl/projects/rccl/src/include/nccl_device/gin/rocshmem/gin_rocshmem_device_host_common.h
  projects/rccl/projects/rccl/src/include/nccl_device/net_device.h
  projects/rocshmem/src/gda/bnxt/queue_pair_bnxt.cpp
  projects/rocshmem/src/gda/ionic/queue_pair_ionic.cpp
  projects/rocshmem/src/gda/mlx5/queue_pair_mlx5.cpp
  projects/rocshmem/src/gda/queue_pair.cpp
  projects/rocshmem/src/gda/queue_pair.hpp
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Port noise-clamp + dual-issue warnings into db_analysis (#6003)
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/src/utils/metrics/common.py
  projects/rocprofiler-compute/src/utils/metrics/evaluation_pipeline.py
  projects/rocprofiler-compute/tests/test_analysis_db.py
  projects/rocprofiler-compute/tests/test_metric_utils.py
  projects/rocprofiler-compute/tests/test_metrics_common.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Validate --dispatch indices and guard missing native counter CSV (#5830)
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/utils/utils_profile.py
  projects/rocprofiler-compute/tests/test_profile_general.py
  projects/rocprofiler-compute/tests/test_profiler_base.py
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Pushing in install updates
  projects/rocprofiler-sdk/source/docs/install/build.rst
  projects/rocprofiler-sdk/source/docs/install/installation.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix: update .config_hashes.json for gfx1151 panel and metric description changes
  projects/rocprofiler-compute/src/utils/.config_hashes.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[DCGPUSDV-4011] Fix ras --cper --json outputting separate arrays per GPU
  projects/amdsmi/amdsmi_cli/amdsmi_commands.py
Due: .azuredevops/rocm_ci_caller.yml

rocr: Replace repeated 'kAqlProfileLib' probes for each GPU
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Remove redundant function
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_blit_sdma.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

remove gfx950 bw metrics
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/docs/data/metrics/gfx950_metrics.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx90a/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx940/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/config_delta/gfx950_diff.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx950/1700_l2_cache.yaml
  projects/rocprofiler-compute/src/utils/.config_hashes.json
  projects/rocprofiler-compute/tools/per_arch_metric_definitions/gfx950_metrics_description.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml
