Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

update TCC_EA0_RDREQ_sum def (#1039)
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/counter_defs.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

change interval for host_trap in unit test to adapt to single kernel (#1064)
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/sample/mat_mul_max.hip
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix test failures (#1059)
  projects/rocprofiler-compute/pyproject.toml
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] make pmc files deterministic (#1066)
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Refactor roofline binary detection (#933)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/src/utils/rooflines/roofline-azurelinux3-rocm7
  projects/rocprofiler-compute/src/utils/utils.py
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute][TUI] improve for cross-platform uses (#1007)
  projects/rocprofiler-compute/src/rocprof_compute_tui/analysis_tui.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/tui_app.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/widgets/menu_bar/menu_bar.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fixed function argument dir in apply_filters (#1100)
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_webui.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Bugfixes for test failure (#1106)
  projects/rocprofiler-compute/README.md
  projects/rocprofiler-compute/docker/Dockerfile.customrocmtest
  projects/rocprofiler-compute/docker/docker-compose.customrocmtest.yml
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprofiler_sdk.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Update gfx12 counter definitions (#1003)
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/counter_defs.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Type annotation patch for analysis_db.py (#981)
  projects/rocprofiler-compute/pyproject.toml
  projects/rocprofiler-compute/src/config.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx908.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx90a.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx940.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx941.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx942.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx950.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/widgets/collapsibles.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/widgets/recent_directories.py
  projects/rocprofiler-compute/src/utils/analysis_orm.py
  projects/rocprofiler-compute/src/utils/file_io.py
  projects/rocprofiler-compute/src/utils/gui_components/memchart.py
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/src/utils/roofline_calc.py
  projects/rocprofiler-compute/src/utils/schema.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix workload path (#1096)
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof_compute_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix tests (#1213)
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Remove rocprofv1/v2 in favour of rocprofiler-sdk (#673)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprof_v1.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprof_v2.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/gfx908_metrics.xml
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/metrics.xml
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx908.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx90a.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx940.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx941.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx942.py
  projects/rocprofiler-compute/src/utils/utils.py
  projects/rocprofiler-compute/tests/test_profile_general.py
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

attach/detach: change workload of unit test to accommodate SDK's current limitation (#1169)
  projects/rocprofiler-compute/sample/dynamic_shared/dynamic_shared.hip
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix instructions to build standalone binary (#1116)
  projects/rocprofiler-compute/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Use ROCM_PATH for sdk library path (#1097)
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/tests/conftest.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add fix for ubuntu noble to compute Dockerfile.ubuntu.ci
  projects/rocprofiler-compute/docker/Dockerfile.ubuntu.ci
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Update roofline.py function descriptions
  projects/rocprofiler-compute/src/roofline.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Removing the hardcoded path.
  projects/rocprofiler-compute/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

gersemi fix.
  projects/rocprofiler-compute/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Update height calculation
  projects/rocprofiler-compute/src/roofline.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

SWDEV-557828 - fix hip-tests on cuda
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
  projects/clr/hipamd/include/hip/amd_detail/hip_prof_str.h
  projects/clr/hipamd/src/hip_api_trace.cpp
  projects/clr/hipamd/src/hip_library.cpp
  projects/clr/hipamd/src/hip_table_interface.cpp
  projects/hip-tests/catch/include/hip_test_common.hh
  projects/hip-tests/catch/unit/library/CMakeLists.txt
  projects/hip-tests/catch/unit/library/library_negative.cc
  projects/hip-tests/catch/unit/library/loadlib_rtc.cc
  projects/hip-tests/catch/unit/memory/hipHostRegister.cc
  projects/hip/include/hip/hip_runtime_api.h
  projects/hipother/hipnv/include/hip/nvidia_detail/nvidia_hip_runtime_api.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/api_args.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

correcting typo. (#1222)
  projects/rocprofiler-compute/src/utils/mi_gpu_spec.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Part 5: Move #include to cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/metadata_registry.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/metadata_registry.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

SWDEV-554608 - Add hipHostRegisterIoMemory for hipHostRegister
  projects/clr/hipamd/src/hip_memory.cpp
  projects/hip/include/hip/hip_runtime_api.h
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-554608 - Add hipHostRegisterIoMemory for hipHostRegister
  projects/clr/CHANGELOG.md
  projects/hip-tests/catch/unit/memory/hipHostRegister.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-554174 Added hipHostRegisterIoMemory flag in test cases
  projects/hip-tests/catch/unit/memory/hipFree.cc
  projects/hip-tests/catch/unit/memory/hipFreeHost.cc
  projects/hip-tests/catch/unit/memory/hipHostFree.cc
  projects/hip-tests/catch/unit/memory/hipHostRegister.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-554174 : Did formatting corrections
  projects/hip-tests/catch/unit/memory/hipHostFree.cc
  projects/hip-tests/catch/unit/memory/hipHostRegister.cc
Due: .azuredevops/rocm_ci_caller.yml

Fix web GUI displaying same section multiple times
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_webui.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

SWDEV-554608 - set HSA_AMD_MEMORY_POOL_UNCACHED_FLAG if IoMemory is set
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocmemory.hpp
  projects/clr/rocclr/platform/memory.hpp
  projects/hip-tests/catch/unit/memory/hipHostFree.cc
  projects/hip/include/hip/hip_runtime_api.h
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-554608 - set HSA_AMD_MEMORY_POOL_UNCACHED_FLAG if IoMemory is set
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/hip-tests/catch/unit/memory/hipFree.cc
  projects/hip-tests/catch/unit/memory/hipFreeHost.cc
  projects/hip-tests/catch/unit/memory/hipHostFree.cc
  projects/hip-tests/catch/unit/memory/hipHostRegister.cc
Due: .azuredevops/rocm_ci_caller.yml

[dl.cpp] Ignore first finalize call
  projects/rocprofiler-systems/source/lib/rocprof-sys-dl/dl.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

SWDEV-556588 - Handle graph node set params and disabled nodes for AQL packet batching. (#1099)
  projects/clr/hipamd/src/hip_graph.cpp
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/rocclr/device/blit.cpp
Due: .azuredevops/rocm_ci_caller.yml

Update projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Update projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocr: Add support for VMM and RDMA
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocr: Honor uncache flag in memory_lock_to_pool()
  projects/rocr-runtime/libhsakmt/src/fmm.c
  projects/rocr-runtime/libhsakmt/src/fmm.h
  projects/rocr-runtime/libhsakmt/src/memory.c
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_memory_region.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_memory_region.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
