Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

RCCL: add smoke test for CI.
  projects/rccl/test/smoke_test.sh
Due: .azuredevops/rocm_ci_caller.yml

Remove unused entries
  projects/rocprof-trace-decoder/source/gfx10/gfx10wave.cpp
  projects/rocprof-trace-decoder/source/gfx11/gfx11wave.cpp
  projects/rocprof-trace-decoder/source/gfx12/gfx12wave.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add other simd
  projects/rocprof-trace-decoder/include/common.hpp
  projects/rocprof-trace-decoder/source/gfx10/gfx10wave.cpp
  projects/rocprof-trace-decoder/source/gfx10/gfx10wave.h
  projects/rocprof-trace-decoder/source/gfx10/rdna_sqtt.cpp
  projects/rocprof-trace-decoder/source/gfx10/token_types.h
  projects/rocprof-trace-decoder/source/gfx11/gfx11wave.cpp
  projects/rocprof-trace-decoder/source/gfx11/gfx11wave.h
  projects/rocprof-trace-decoder/source/gfx12/gfx12wave.cpp
  projects/rocprof-trace-decoder/source/gfx12/gfx12wave.h
  projects/rocprof-trace-decoder/test/unit/gfx10_test.cpp
  projects/rocprof-trace-decoder/test/unit/gfx11_test.cpp
  projects/rocprof-trace-decoder/test/unit/gfx12_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

Address review requests
  projects/rccl/src/enqueue.cc
  projects/rccl/src/rccl_wrap.cc
Due: .azuredevops/rocm_ci_caller.yml

AIRUNTIME-1893 - Fix __smid for GFX12 (RDNA4) architecture
  projects/clr/hipamd/include/hip/amd_detail/amd_device_functions.h
Due: .azuredevops/rocm_ci_caller.yml

add pip install for cmake 3.24. required by rocprofiler-register.
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

also install cmake 3.24 for sanitizers.
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

bump patch version to 1.
  projects/rocprofiler-sdk/VERSION
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix rare race condition when running ROCP_TOOL_ATTACH=1 with vllm server
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-attach/queue_registration.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

add local path to GITHUB_ENV.
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

[rocr] AILIROCR-10 Secondary CUID query
  projects/rocr-runtime/rocrtst/suites/functional/cuid.cc
  projects/rocr-runtime/rocrtst/suites/functional/cuid.h
  projects/rocr-runtime/rocrtst/suites/test_common/main.cc
  projects/rocr-runtime/runtime/hsa-runtime/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_cuid_interface.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_gpu_agent.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_cuid_interface.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_ext_amd.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

clean up required for host backend
  projects/rocdecode/utils/ffmpegvideodecode/ffmpeg_video_dec.cpp
Due: .azuredevops/rocm_ci_caller.yml

clean up
  projects/rocdecode/utils/rocvideodecode/roc_video_dec.cpp
Due: .azuredevops/rocm_ci_caller.yml

Review comments
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/src/utils/benchmark.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

add ncclCuMemAlloc in ncclCudaMalloc
  projects/rccl/src/include/alloc.h
Due: .azuredevops/rocm_ci_caller.yml

Fix topo_expl build issue due to path of rccl_ptr.h
  projects/rccl/tools/topo_expl/Makefile
Due: .azuredevops/rocm_ci_caller.yml

Removing ready_for_review
  .github/workflows/therock-ci.yml
Due: none

Add warning when fabric is available but amdsmi is off
  projects/rccl/src/misc/amdsmi_wrap.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor: Use HIP_TEST_CASE macro in math tests
  projects/hip-tests/catch/unit/math/binary_common.hh
  projects/hip-tests/catch/unit/math/casting_double_funcs.cc
  projects/hip-tests/catch/unit/math/casting_float_funcs.cc
  projects/hip-tests/catch/unit/math/casting_half2_funcs.cc
  projects/hip-tests/catch/unit/math/casting_half2int_funcs.cc
  projects/hip-tests/catch/unit/math/casting_half_float_funcs.cc
  projects/hip-tests/catch/unit/math/casting_int2half_funcs.cc
  projects/hip-tests/catch/unit/math/casting_int_funcs.cc
  projects/hip-tests/catch/unit/math/double_precision_intrinsics.cc
  projects/hip-tests/catch/unit/math/half_precision_common.hh
  projects/hip-tests/catch/unit/math/half_precision_comparison.cc
  projects/hip-tests/catch/unit/math/integer_intrinsics.cc
  projects/hip-tests/catch/unit/math/log_funcs.cc
  projects/hip-tests/catch/unit/math/misc_funcs.cc
  projects/hip-tests/catch/unit/math/pow_funcs.cc
  projects/hip-tests/catch/unit/math/quaternary_common.hh
  projects/hip-tests/catch/unit/math/remainder_and_rounding_funcs.cc
  projects/hip-tests/catch/unit/math/root_funcs.cc
  projects/hip-tests/catch/unit/math/single_precision_intrinsics.cc
  projects/hip-tests/catch/unit/math/special_funcs.cc
  projects/hip-tests/catch/unit/math/ternary_common.hh
  projects/hip-tests/catch/unit/math/trig_funcs.cc
  projects/hip-tests/catch/unit/math/unary_common.hh
Due: .azuredevops/rocm_ci_caller.yml

fix: Add missing tags argument to HIP_TEST_CASE fallback
  projects/hip-tests/catch/include/hip_test_common.hh
Due: .azuredevops/rocm_ci_caller.yml

feat: Add test labels to texture test target
  projects/hip-tests/catch/unit/texture/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

feat: Add optional labels to discovered tests
  projects/hip-tests/catch/cmake/hip-tests.cmake
Due: .azuredevops/rocm_ci_caller.yml

Add pytest based parsing
  projects/rocprofiler-systems/tests/CMakeLists.txt
  projects/rocprofiler-systems/tests/test_categories.yaml
  shared/ctest/TestCategories.cmake
  shared/ctest/parse_pytest_categories.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

clr: Restructure hsa_amd_memory_async_batch_copy
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/clr/rocclr/platform/command.hpp
  projects/hip/include/hip/driver_types.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/hsa_ext_amd.cpp
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_ext_amd.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

* rocDecode: Added core function entry and exit logs (at Info log level).
  projects/rocdecode/CHANGELOG.md
  projects/rocdecode/docs/reference/rocDecode-logging-control.rst
  projects/rocdecode/src/bit_stream_reader/es_reader.cpp
  projects/rocdecode/src/bit_stream_reader/roc_bs_reader_api.cpp
  projects/rocdecode/src/commons.h
  projects/rocdecode/src/parser/av1_parser.cpp
  projects/rocdecode/src/parser/avc_parser.cpp
  projects/rocdecode/src/parser/hevc_parser.cpp
  projects/rocdecode/src/parser/roc_video_parser.cpp
  projects/rocdecode/src/parser/rocparser_api.cpp
  projects/rocdecode/src/parser/vp9_parser.cpp
  projects/rocdecode/src/rocdecode-host/avcodec/avcodec_videodecoder.cpp
  projects/rocdecode/src/rocdecode-host/roc_decoder_host.cpp
  projects/rocdecode/src/rocdecode-host/rocdecode_host_api.cpp
  projects/rocdecode/src/rocdecode/roc_decoder.cpp
  projects/rocdecode/src/rocdecode/rocdecode_api.cpp
  projects/rocdecode/src/rocdecode/vaapi/vaapi_videodecoder.cpp
Due: .azuredevops/rocm_ci_caller.yml

Update CHANGELOG
  projects/rocprofiler-compute/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

refactor: Use HIP_TEST_CASE macro in vector type tests
  projects/hip-tests/catch/unit/vector_types/dim3.cc
  projects/hip-tests/catch/unit/vector_types/vector_types.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor: Use HIP_TEST_CASE macro in clock tests
  projects/hip-tests/catch/unit/clock/hipClockCheck.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor: Use HIP_TEST_CASE macro in dynamic loading tests
  projects/hip-tests/catch/unit/dynamicLoading/complex_loading_behavior.cc
  projects/hip-tests/catch/unit/dynamicLoading/hipApiDynamicLoad.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor: Use HIP_TEST_CASE macro in error handling tests
  projects/hip-tests/catch/unit/errorHandling/hipDrvGetErrorName.cc
  projects/hip-tests/catch/unit/errorHandling/hipDrvGetErrorString.cc
  projects/hip-tests/catch/unit/errorHandling/hipDynamicLogging.cc
  projects/hip-tests/catch/unit/errorHandling/hipExtGetLastError.cc
  projects/hip-tests/catch/unit/errorHandling/hipGetErrorName.cc
  projects/hip-tests/catch/unit/errorHandling/hipGetErrorString.cc
  projects/hip-tests/catch/unit/errorHandling/hipGetLastError.cc
  projects/hip-tests/catch/unit/errorHandling/hipGetLastErrorOnAbort.cc
  projects/hip-tests/catch/unit/errorHandling/hipPeekAtLastError.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor: Use HIP_TEST_CASE macro in g++ malloc test
  projects/hip-tests/catch/unit/g++/hipMalloc.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor: Use HIP_TEST_CASE macro in compiler tests
  projects/hip-tests/catch/unit/compiler/hipClassKernel.cc
  projects/hip-tests/catch/unit/compiler/hipSpirvTest.cc
  projects/hip-tests/catch/unit/compiler/hipSquare.cc
  projects/hip-tests/catch/unit/compiler/hipSquareGenericTarget.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor: Use HIP_TEST_CASE macro in exec control tests
  projects/hip-tests/catch/unit/executionControl/hipExtLaunchKernel.cc
  projects/hip-tests/catch/unit/executionControl/hipExtLaunchMultiKernelMultiDevice.cc
  projects/hip-tests/catch/unit/executionControl/hipFuncGetAttributesBasic.cc
  projects/hip-tests/catch/unit/executionControl/hipFuncSetAttribute.cc
  projects/hip-tests/catch/unit/executionControl/hipFuncSetCacheConfig.cc
  projects/hip-tests/catch/unit/executionControl/hipFuncSetSharedMemConfig.cc
  projects/hip-tests/catch/unit/executionControl/hipGetProcAddressLaunchCbExecCtrlApis.cc
  projects/hip-tests/catch/unit/executionControl/hipLaunchCooperativeKernel.cc
  projects/hip-tests/catch/unit/executionControl/hipLaunchCooperativeKernelMultiDevice.cc
  projects/hip-tests/catch/unit/executionControl/hipLaunchKernel.cc
  projects/hip-tests/catch/unit/executionControl/launch_api.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor: Use HIP_TEST_CASE macro in context tests
  projects/hip-tests/catch/unit/context/hipCtxActivate.cc
  projects/hip-tests/catch/unit/context/hipCtxNotSupported.cc
  projects/hip-tests/catch/unit/context/hipDrvGetPCIBusId.cc
  projects/hip-tests/catch/unit/context/hipDrvMemcpy.cc
  projects/hip-tests/catch/unit/context/hipMemsetD8.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor: Use HIP_TEST_CASE macro in hip_hc_8pk tests
  projects/hip-tests/catch/unit/hip_specific/hip_hc_8pk.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor: Use HIP_TEST_CASE macro in c_compilation tests
  projects/hip-tests/catch/unit/c_compilation/hipGetDeviceProp.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor: Use HIP_TEST_CASE macro in library tests
  projects/hip-tests/catch/unit/library/hipKernelGetAttribute.cc
  projects/hip-tests/catch/unit/library/lib_attribute.cc
  projects/hip-tests/catch/unit/library/library_negative.cc
  projects/hip-tests/catch/unit/library/loadlib_co.cc
  projects/hip-tests/catch/unit/library/loadlib_rtc.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor: Use HIP_TEST_CASE macro in atomics tests
  projects/hip-tests/catch/unit/atomics/__hip_atomic_compare_exchange_strong.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_exchange.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_add.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_and.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_max.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_min.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_or.cc
  projects/hip-tests/catch/unit/atomics/__hip_atomic_fetch_xor.cc
  projects/hip-tests/catch/unit/atomics/acquire_release.cc
  projects/hip-tests/catch/unit/atomics/atomicAdd.cc
  projects/hip-tests/catch/unit/atomics/atomicAdd_system.cc
  projects/hip-tests/catch/unit/atomics/atomicAnd.cc
  projects/hip-tests/catch/unit/atomics/atomicAnd_system.cc
  projects/hip-tests/catch/unit/atomics/atomicCAS.cc
  projects/hip-tests/catch/unit/atomics/atomicCAS_system.cc
  projects/hip-tests/catch/unit/atomics/atomicDec.cc
  projects/hip-tests/catch/unit/atomics/atomicExch.cc
  projects/hip-tests/catch/unit/atomics/atomicExch_system.cc
  projects/hip-tests/catch/unit/atomics/atomicInc.cc
  projects/hip-tests/catch/unit/atomics/atomicMax.cc
  projects/hip-tests/catch/unit/atomics/atomicMax_system.cc
  projects/hip-tests/catch/unit/atomics/atomicMin.cc
  projects/hip-tests/catch/unit/atomics/atomicMin_system.cc
  projects/hip-tests/catch/unit/atomics/atomicOr.cc
  projects/hip-tests/catch/unit/atomics/atomicOr_system.cc
  projects/hip-tests/catch/unit/atomics/atomicSub.cc
  projects/hip-tests/catch/unit/atomics/atomicSub_system.cc
  projects/hip-tests/catch/unit/atomics/atomicXor.cc
  projects/hip-tests/catch/unit/atomics/atomicXor_system.cc
  projects/hip-tests/catch/unit/atomics/atomic_builtins.cc
  projects/hip-tests/catch/unit/atomics/safeAtomicAdd.cc
  projects/hip-tests/catch/unit/atomics/safeAtomicMax.cc
  projects/hip-tests/catch/unit/atomics/safeAtomicMin.cc
  projects/hip-tests/catch/unit/atomics/sequential_consistency.cc
  projects/hip-tests/catch/unit/atomics/unsafeAtomicAdd.cc
  projects/hip-tests/catch/unit/atomics/unsafeAtomicMax.cc
  projects/hip-tests/catch/unit/atomics/unsafeAtomicMin.cc
Due: .azuredevops/rocm_ci_caller.yml

refactor: Use HIP_TEST_CASE macro in module tests
  projects/hip-tests/catch/unit/module/hipDrvLaunchKernelEx.cc
  projects/hip-tests/catch/unit/module/hipExtLaunchKernelGGL.cc
  projects/hip-tests/catch/unit/module/hipExtLaunchMultiKernelMultiDevFunctional.cc
  projects/hip-tests/catch/unit/module/hipExtModuleLaunchKernel.cc
  projects/hip-tests/catch/unit/module/hipFuncGetAttribute.cc
  projects/hip-tests/catch/unit/module/hipFuncGetAttributes.cc
  projects/hip-tests/catch/unit/module/hipFuncSetAttribute.cc
  projects/hip-tests/catch/unit/module/hipFuncSetSharedMemConfig.cc
  projects/hip-tests/catch/unit/module/hipGetFuncBySymbol.cc
  projects/hip-tests/catch/unit/module/hipGetProcAddressModuleApis.cc
  projects/hip-tests/catch/unit/module/hipHccModuleLaunchKernel.cc
  projects/hip-tests/catch/unit/module/hipKerArgOptimization.cc
  projects/hip-tests/catch/unit/module/hipLinkCreate.cc
  projects/hip-tests/catch/unit/module/hipManagedKeywordBasic.cc
  projects/hip-tests/catch/unit/module/hipModule.cc
  projects/hip-tests/catch/unit/module/hipModuleGetFunction.cc
  projects/hip-tests/catch/unit/module/hipModuleGetFunctionCount.cc
  projects/hip-tests/catch/unit/module/hipModuleGetGlobal.cc
  projects/hip-tests/catch/unit/module/hipModuleGetLoadingMode.cc
  projects/hip-tests/catch/unit/module/hipModuleGetTexRef.cc
  projects/hip-tests/catch/unit/module/hipModuleLaunchCooperativeKernel.cc
  projects/hip-tests/catch/unit/module/hipModuleLaunchCooperativeKernelMultiDevice.cc
  projects/hip-tests/catch/unit/module/hipModuleLaunchKernel.cc
  projects/hip-tests/catch/unit/module/hipModuleLoad.cc
  projects/hip-tests/catch/unit/module/hipModuleLoadData.cc
  projects/hip-tests/catch/unit/module/hipModuleLoadDataEx.cc
  projects/hip-tests/catch/unit/module/hipModuleLoadFatBinary.cc
  projects/hip-tests/catch/unit/module/hipModuleLoadMultProcessOnMultGPU.cc
  projects/hip-tests/catch/unit/module/hipModuleUnload.cc
Due: .azuredevops/rocm_ci_caller.yml
