Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

fix(hrr): read negative manifest counts as damage, and need search permission on the output directory
  projects/hrr/skills/enable-recording/scripts/hrr_capture.sh
  projects/hrr/skills/enable-recording/scripts/inspect_archive.py
  projects/hrr/skills/enable-recording/tests/test_inspect_archive.py
Due: .azuredevops/rocm_ci_caller.yml

ci: expected-case manifests for the #12257 cross-check (do not merge)
  projects/hrr/tests/expected_cases_integration.txt
Due: .azuredevops/rocm_ci_caller.yml

ci: spawn through hrr_test_exe() for the #12257 cross-check (do not merge)
  projects/hrr/tests/integration/hrr_roundtrip_test.cc
Due: .azuredevops/rocm_ci_caller.yml

fail child if stdout dup2 fails
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/rocprof-sys-instrument.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(rccl): restore optional receive completion
  projects/rccl/src/transport/net_ib_cast/p2p.cc
Due: .azuredevops/rocm_ci_caller.yml

Fixed interoperability of Optional-recv-completion with other features
  projects/rccl/src/transport/net_ib_cast/common.cc
  projects/rccl/src/transport/net_ib_cast/common_cast.h
  projects/rccl/src/transport/net_ib_cast/connect.cc
  projects/rccl/src/transport/net_ib_cast/p2p.cc
Due: .azuredevops/rocm_ci_caller.yml

rccl/test: added tests for optional recv completion on net-ib level
  projects/rccl/src/transport/net_ib_cast/common.cc
  projects/rccl/src/transport/net_ib_cast/net_ib_cast_inspect.h
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/transport/NetIbMPI/NetIbMPITestBase.hpp
  projects/rccl/test/transport/NetIbMPI/OptRecvCompletionTests.cpp
  projects/rccl/tools/scripts/test_runner/configs/mi355x_ainic_tw_roce.json
  projects/rccl/tools/scripts/test_runner/configs/net_ib_transport.json
Due: .azuredevops/rocm_ci_caller.yml

code cleanup
  projects/rccl/src/transport/net_ib_cast/common.cc
  projects/rccl/src/transport/net_ib_cast/p2p.cc
  projects/rccl/src/transport/net_ib_cast/scheduler.cc
  projects/rccl/test/transport/NetIbMPI/OptRecvCompletionTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

addressed argus comments
  projects/rccl/src/transport/net_ib_cast/common.cc
  projects/rccl/src/transport/net_ib_cast/connect.cc
  projects/rccl/src/transport/net_ib_cast/connect_cast.h
  projects/rccl/src/transport/net_ib_cast/p2p.cc
  projects/rccl/test/transport/NetIbMPI/NetIbMPITestBase.hpp
  projects/rccl/test/transport/NetIbMPI/OptRecvCompletionTests.cpp
  projects/rccl/tools/scripts/test_runner/configs/mi355x_ainic_tw_roce.json
  projects/rccl/tools/scripts/test_runner/configs/net_ib_transport.json
Due: .azuredevops/rocm_ci_caller.yml

Account for number of SIMD per CU as well
  projects/clr/rocclr/device/pal/paldevice.cpp
Due: .azuredevops/rocm_ci_caller.yml

Rework insert to metadata registry
  projects/rocprofiler-systems/source/lib/core/trace_cache/metadata_registry.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/metadata_registry.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_metadata_registry.cpp
  projects/rocprofiler-systems/source/lib/policies/rocprofiler-sdk/domain_service/externals.hpp
  projects/rocprofiler-systems/source/lib/policies/trace_cache/metadata_registry.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/backtrace_metrics.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/category_region.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/comm_data.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/kokkosp.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/cpu/cache_policy.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu/cache_policy.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu_perf_counter/cache_policy.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/nic/cache_policy.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/kernel_dispatch.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/kfd/event_dropped_events.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/kfd/event_page_fault.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/kfd/event_page_migrate.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/kfd/event_queue.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/kfd/event_unmap_from_gpu.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/kfd/page_fault.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/kfd/page_migrate.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/kfd/queue.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/memory_allocation.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/memory_copy.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/scratch_memory.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/tests/test_kernel_dispatch.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/tests/test_memory_allocation.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/tests/test_memory_copy.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/buffered/tests/test_scratch_memory.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/common_tracing_callbacks.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/tests/test_common_tracing_callbacks.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/counters.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/marker_writer.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/marker_writer.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/rccl.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/mock_domain_service.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/test_roctx_client.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/sampling.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(rocjitsu): share MXFP unpack consumer
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/vector_special.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_sema_derive.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3_exec_cvt.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/tests/mxfp_cvt_simd_test.cpp
Due: none

rocjitsu: Separate PM4 packet processing from CP scheduling
  emulation/rocjitsu/docs/architecture.md
  emulation/rocjitsu/docs/sphinx/conceptual/gpu-vm-design.md
  emulation/rocjitsu/docs/vm-design.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_queue_binding_factory.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/dispatch_entry.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/mes_engine.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/pm4/pm4.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/pm4/pm4_clear_state.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/pm4/pm4_packet_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/pm4/pm4_packet_processor.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/pm4/pm4_packet_types.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/pm4/pm4_queue_binding_factory.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/pm4/pm4_queue_binding_factory.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/pm4/pm4_ring_consumer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/pm4/pm4_ring_consumer.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/wavefront.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/soc.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/check_cp_sdma_boundary.cmake
  emulation/rocjitsu/tests/check_mes_frontend_boundary.cmake
  emulation/rocjitsu/tests/packet_processor_contract_test.cpp
  emulation/rocjitsu/tests/pm4_compute_queue_test.cpp
  emulation/rocjitsu/tests/pm4_packet_processor_test.cpp
  emulation/rocjitsu/tests/pm4_ring_consumer_test.cpp
Due: none

Run the quick hip-tests and rocrtst selections under rocJITsu.
  .github/workflows/hip-rocrtst-rocjitsu-poc.yml
Due: none

rocjitsu: Discourage new exception usage
  emulation/rocjitsu/CONTRIBUTING.md
Due: none

check for EINTR after read(); also fix some comments
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/rocprof-sys-instrument.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add code object to domain service
  projects/rocprofiler-systems/source/lib/backends/rocprofiler_sdk/backend.hpp
  projects/rocprofiler-systems/source/lib/backends/rocprofiler_sdk/tests/mock_sdk.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/code_object.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/callback/tests/test_code_object.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/counters.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/domain_registry.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/domain_service.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/fwd.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/mock_domain_service.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/test_domain_registry.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/tests/test_domain_service.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix(rccl): carry the FP8 avg PreMulSum scalar as float (AICOMRCCL-1945) (#10374)
  projects/rccl-tests/src/all_reduce.cu
  projects/rccl-tests/src/all_reduce_bias.cu
  projects/rccl-tests/src/reduce.cu
  projects/rccl/CHANGELOG.md
  projects/rccl/src/device/onerank.cu
  projects/rccl/src/device/reduce_kernel.h
  projects/rccl/src/enqueue/enqueue.cc
  projects/rccl/src/include/archinfo.h
  projects/rccl/src/include/rccl_float8.h
  projects/rccl/test/AllReduceTests.cpp
  projects/rccl/test/host/enqueue-test.cc
  projects/rccl/tools/scripts/test_runner/configs/ci-precheckin.json
Due: .azuredevops/rocm_ci_caller.yml

Address optional-recv review comments so the skip stays safe across peers.
  projects/rccl/src/transport/net_ib_cast/common.cc
  projects/rccl/src/transport/net_ib_cast/connect.cc
  projects/rccl/src/transport/net_ib_cast/connect_cast.h
  projects/rccl/src/transport/net_ib_cast/net_ib_cast_inspect.h
  projects/rccl/src/transport/net_ib_cast/p2p.cc
  projects/rccl/src/transport/net_ib_cast/scheduler.cc
  projects/rccl/test/transport/NetIbMPI/NetIbMPITestBase.hpp
  projects/rccl/test/transport/NetIbMPI/OptRecvCompletionTests.cpp
  projects/rccl/tools/scripts/test_runner/configs/mi355x_ainic_tw_roce.json
  projects/rccl/tools/scripts/test_runner/configs/net_ib_transport.json
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): fixed udma balancing for p2p comms
  projects/rccl/src/transport/net_ib_cast/connect.cc
  projects/rccl/src/transport/net_ib_cast/connect_cast.h
  projects/rccl/src/transport/net_ib_cast/p2p_resiliency_recovery_ainic.cc
Due: .azuredevops/rocm_ci_caller.yml

test(kpack): find .kpack/ beside a relocated split binary
  shared/kpack/python/rocm_kpack/artifact_splitter.py
  shared/kpack/tests/test_artifact_splitter_integration.py
Due: .azuredevops/rocm_ci_caller.yml

feat(amdsmi): add NPM node power limit setting and node power reading (#11471)
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/amdsmi_cli/amdsmi_helpers.py
  projects/amdsmi/amdsmi_cli/amdsmi_parser.py
  projects/amdsmi/amdsmi_cli/subcommands/node.py
  projects/amdsmi/amdsmi_cli/subcommands/set_value.py
  projects/amdsmi/docs/how-to/amdsmi-cli-tool.md
  projects/amdsmi/docs/reference/amdsmi-py-api.md
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/include/amd_smi/impl/amd_smi_test_internal.h
  projects/amdsmi/py-interface/__init__.py
  projects/amdsmi/py-interface/amdsmi_interface.py
  projects/amdsmi/py-interface/amdsmi_wrapper.py
  projects/amdsmi/pyproject.toml
  projects/amdsmi/rocm_smi/include/rocm_smi/rocm_smi.h
  projects/amdsmi/rocm_smi/include/rocm_smi/rocm_smi_npm.h
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
  projects/amdsmi/rocm_smi/src/rocm_smi_npm.cc
  projects/amdsmi/rust-interface/src/amdsmi_wrapper.rs
  projects/amdsmi/src/CMakeLists.txt
  projects/amdsmi/src/amd_smi/amd_smi.cc
  projects/amdsmi/tests/amd_smi_test/CMakeLists.txt
  projects/amdsmi/tests/amd_smi_test/unit/gpu/amdsmi_npm_limit_test.cc
  projects/amdsmi/tests/amd_smi_test/unit/gpu/rocm_smi_npm_test.cc
  projects/amdsmi/tests/python/unit/gpu/test_cli_current_node_power_management.py
  projects/amdsmi/tests/python/unit/gpu/test_cli_set_node_power_limit.py
  projects/amdsmi/tests/python/unit/gpu/test_npm_info_current_node_power.py
  projects/amdsmi/tests/python/unit/gpu/test_npm_set_limit.py
Due: .azuredevops/rocm_ci_caller.yml

max-p2p-peers: say what the single-node MPI test can and cannot decide
  projects/rccl/test/MaxP2pPeersMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): seam malloc/calloc/free in the libc fakes
  projects/rccl/test/host/fakes/libc_fakes.cc
  projects/rccl/test/host/fakes/libc_fakes.h
  projects/rccl/test/host/fakes/libc_seam.h
  projects/rccl/test/host/fakes/libc_seam_undef.h
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): add host-only microtests for src/graph/rccl_graph_gen.cc
  projects/rccl/test/host/CMakeLists.txt
  projects/rccl/test/host/rccl-graph-gen-test.cc
  projects/rccl/test/test_categories_micro.yaml
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): address second ARGUS review on the rccl_graph_gen.cc tests
  projects/rccl/test/host/MICROTEST_README.md
  projects/rccl/test/host/rccl-graph-gen-test.cc
  projects/rccl/test/test_categories_micro.yaml
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): address third ARGUS review on the rccl_graph_gen.cc tests
  projects/rccl/test/host/rccl-graph-gen-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): exercise the Walecki-to-greedy handoff at an odd node count
  projects/rccl/test/host/rccl-graph-gen-test.cc
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): address ARGUS review on the rccl_graph_gen.cc tests
  projects/rccl/test/host/MICROTEST_README.md
  projects/rccl/test/host/fakes/libc_fakes.cc
  projects/rccl/test/host/fakes/libc_fakes.h
  projects/rccl/test/host/fakes/libc_seam.h
  projects/rccl/test/host/rccl-graph-gen-test.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(libhsakmt): drop the cached /dev/dxg fd when hsaKmtOpenKFD() fails
  projects/rocr-runtime/libhsakmt/src/dxg/openclose.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

chore(amdsmi): ship third-party license notices for the vendored LGPL libraries (#11014)
  projects/amdsmi/.pre-commit-config.yaml
  projects/amdsmi/py-interface/CMakeLists.txt
  projects/amdsmi/py-interface/THIRD_PARTY_LICENSES/LGPL-2.1.txt
  projects/amdsmi/py-interface/THIRD_PARTY_LICENSES/NOTICE.md
  projects/amdsmi/py-interface/pyproject.toml.in
Due: .azuredevops/rocm_ci_caller.yml

docs(amdsmi): describe the bundled-library wheel on its PyPI page
  projects/amdsmi/py-interface/README.md
Due: .azuredevops/rocm_ci_caller.yml

fix(libhsakmt): serialize DXG fork recovery between concurrent first opens
  projects/rocr-runtime/libhsakmt/src/dxg/openclose.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix(libhsakmt): give back fork-inherited DXG references before live ones
  projects/rocr-runtime/libhsakmt/CMakeLists_wsl.txt
  projects/rocr-runtime/libhsakmt/src/dxg/debug.cpp
  projects/rocr-runtime/libhsakmt/src/dxg/librocdxg.h
  projects/rocr-runtime/libhsakmt/src/dxg/openclose.cpp
  projects/rocr-runtime/libhsakmt/src/dxg/topology.cpp
  projects/rocr-runtime/libhsakmt/src/dxg/topology.hpp
  projects/rocr-runtime/libhsakmt/tests/dxg/CMakeLists.txt
  projects/rocr-runtime/libhsakmt/tests/dxg/dxcore_stub.c
  projects/rocr-runtime/libhsakmt/tests/dxg/lifecycle_test.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

refactor(rocr): leave fork ownership of KFD claims to the thunk
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/kfd/amd_kfd_driver.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_kfd_driver.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix(rccl): set the device and order streams around addon-backend launches (#11368)
  projects/rccl/CHANGELOG.md
  projects/rccl/src/algorithms/dda/all_gather/dda_all_gather_fabric.cu
  projects/rccl/src/algorithms/dda/all_gather/dda_all_gather_fabric_ll.cu
  projects/rccl/src/algorithms/dda/all_gather/dda_all_gather_fabric_ll128.cu
  projects/rccl/src/algorithms/dda/all_gather/dda_all_gather_ipc.cu
  projects/rccl/src/algorithms/dda/all_reduce/dda_all_reduce_fabric.cu
  projects/rccl/src/algorithms/dda/all_reduce/dda_all_reduce_fabric_ll.cu
  projects/rccl/src/algorithms/dda/all_reduce/dda_all_reduce_fabric_ll128.cu
  projects/rccl/src/algorithms/dda/all_reduce/dda_all_reduce_ipc.cu
  projects/rccl/src/algorithms/dda/alltoall/dda_alltoall_fabric.cu
  projects/rccl/src/algorithms/dda/alltoall/dda_alltoall_fabric_ll.cu
  projects/rccl/src/algorithms/dda/alltoall/dda_alltoall_fabric_ll128.cu
  projects/rccl/src/algorithms/dda/alltoall/dda_alltoall_ipc.cu
  projects/rccl/src/algorithms/dda/reduce_scatter/dda_reduce_scatter_fabric.cu
  projects/rccl/src/algorithms/dda/reduce_scatter/dda_reduce_scatter_fabric_ll.cu
  projects/rccl/src/algorithms/dda/reduce_scatter/dda_reduce_scatter_fabric_ll128.cu
  projects/rccl/src/algorithms/dda/reduce_scatter/dda_reduce_scatter_ipc.cu
  projects/rccl/src/algorithms/gin/sdma/gin_all_reduce_sdma.cu
  projects/rccl/src/algorithms/gin/sdma/gin_alltoall_sdma.cu
  projects/rccl/src/collectives.cc
  projects/rccl/src/enqueue/enqueue.cc
  projects/rccl/src/include/comm.h
  projects/rccl/src/include/enqueue.h
  projects/rccl/src/init.cc
  projects/rccl/test/DdaAllReduceMPITests.cpp
  projects/rccl/test/host/enqueue-test.cc
  projects/rccl/test/host/fakes/enqueue_test_deps.cc
  projects/rccl/test/host/fakes/enqueue_test_deps.h
  projects/rccl/test/host/fakes/nccl_fakes.cc
  projects/rccl/test/host/fakes/nccl_fakes.h
  projects/rccl/test/host/fakes/strongstream_stubs.cc
  projects/rccl/test/host/fakes/strongstream_stubs.h
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
  projects/rccl/tools/scripts/test_runner/configs/mi355x_thor2_roce.json
Due: .azuredevops/rocm_ci_caller.yml

Add ability to turn off DDA at compile time
  projects/rccl/CMakeLists.txt
  projects/rccl/cmake/DeviceLinker.cmake
  projects/rccl/install.sh
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/init.cc
  projects/rccl/test/host/CMakeLists.txt
  projects/rccl/test/host/fakes/nccl_stubs.cc
  projects/rccl/test/host/fakes/nccl_stubs.h
  projects/rccl/test/host/init-test.cc
  projects/rccl/test/host/run_host_tests.sh
  projects/rccl/test/test_categories_micro_init.yaml
  projects/rccl/tools/scripts/test_runner/configs/ci-precheckin.json
  projects/rccl/tools/scripts/test_runner/lib/test_executor.py
Due: .azuredevops/rocm_ci_caller.yml

readability-magic-numbers
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/hipfile/types.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
