Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

test(rocprofiler-compute): pretty-print PC-sampling fixture json
  projects/rocprofiler-compute/tests/workloads/vcopy_pc_sampling_only/MI300X_A1/1429079_code_obj_info.json
  projects/rocprofiler-compute/tests/workloads/vcopy_pc_sampling_only/MI300X_A1/ps_file_results.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

docs(rocprofiler-compute): note cross-pid load_base limitation
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

feat(rocprofiler-compute): ingest code-object ISA into analysis DB
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/src/pc_sampling/code_object_analysis.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/tests/test_analysis_db.py
  projects/rocprofiler-compute/tests/test_categories.yaml
  projects/rocprofiler-compute/tests/test_code_object_analysis.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(rocprofiler-compute): scope ISA ingestion to surviving ps_file pid
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/tests/test_analysis_db.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

refactor(rocprofiler-compute): inline ISA insertion helpers, clarify naming
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/tests/test_analysis_db.py
  projects/rocprofiler-compute/tests/test_pc_sampling_analysis.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

refactor(rocprofiler-compute): decouple ISA ingestion from PC-sampling
  projects/rocprofiler-compute/src/pc_sampling/code_object_analysis.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/tests/test_analysis_db.py
  projects/rocprofiler-compute/tests/test_code_object_analysis.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

shared: add missing FARPROC typedef for Windows SDK >= 10.0.28000.0
  projects/rocr-runtime/libhsakmt/include/impl/wddm/wddm_types.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix(rocprof-compute): gfx1153 SoC inherits OmniSoC_Base directly
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx1153.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(rocprof-compute): remove codename from gfx1153 comment in mega_kernel
  projects/rocprofiler-compute/sample/mega_kernel/main.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(rocjitsu): dispatch plugin lifecycle hooks
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/interposer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/execution_plugin_group.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/profiled_execution_plugin_group.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/rj_vm.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/rj_vm_impl.h
  emulation/rocjitsu/tests/config_test.cpp
Due: none

fix(rocjitsu): reject malformed plugin schemas
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/plugin_config_resolver.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/plugin_config_resolver.h
  emulation/rocjitsu/tests/plugin_config_resolver_test.cpp
Due: none

Scope the numa pinning for graphs.
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/rocclr/os/os.hpp
  projects/clr/rocclr/utils/flags.hpp
Due: .azuredevops/rocm_ci_caller.yml

clr: optimize graph NUMA pin + add hold mode
  projects/clr/hipamd/src/hip_graph.cpp
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/rocclr/os/os.hpp
  projects/clr/rocclr/os/os_posix.cpp
  projects/clr/rocclr/os/os_win32.cpp
  projects/clr/rocclr/utils/flags.hpp
Due: .azuredevops/rocm_ci_caller.yml

clr: Address copilot review comments.
  projects/clr/rocclr/os/os_posix.cpp
  projects/clr/rocclr/utils/flags.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix(mirage): expose discovered emulator plugins
  emulation/mirage/core/src/registry.rs
  emulation/mirage/daemon/src/api.rs
Due: none

docs(rocjitsu): fix plugin constructor example
  emulation/rocjitsu/docs/plugins.md
Due: none

fix(rocprof-compute): rename gfx1153 codename from krackan2 to krackan2e
  projects/rocprofiler-compute/src/utils/mi_gpu_spec.yaml
  projects/rocprofiler-compute/tests/common.py
  projects/rocprofiler-compute/tests/test_gpu_specs.py
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

docs(rocjitsu): clarify plugin config parsing
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/plugin_config_resolver.h
Due: none

fix(tests): correct pc_sampling_analysis import path in test_pc_sampling.py
  projects/rocprofiler-compute/tests/test_pc_sampling.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(clr): internal linkage for bounded builtin index accessors [SWHIPSDK-47]
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_runtime.h
Due: .azuredevops/rocm_ci_caller.yml

docs(hrr): address README and DESIGN review feedback
  projects/clr/hipamd/src/hrr/DESIGN.md
  projects/clr/hipamd/src/hrr/README.md
Due: .azuredevops/rocm_ci_caller.yml

docs(hrr): remove PR references from triage scripts
  projects/clr/hipamd/src/hrr/skills/decode-and-triage/scripts/check_replay_compat.py
  projects/clr/hipamd/src/hrr/skills/decode-and-triage/scripts/triage_archive.sh
Due: .azuredevops/rocm_ci_caller.yml

fix(clr): fix dev_id_ for H2D/D2H GraphMemcpyNode1D to use actual device owner (#8535)
  projects/clr/hipamd/src/hip_graph_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

Update TheRock ref to 09bd9af
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-rccl-ci-linux.yml
  .github/workflows/therock-rccl-test-packages-multi-node.yml
  .github/workflows/therock-rccl-test-packages-single-node.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

resolved copilot comments
  projects/cuid/lib/include/amd_cuid.h
  projects/cuid/lib/src/cuid.cc
  projects/cuid/lib/src/cuid_device.cc
  projects/cuid/lib/src/cuid_gpu.cc
  projects/cuid/lib/src/cuid_util.cc
  projects/cuid/tests/functional/hmac_test.cc
  projects/cuid/tests/functional/sysfs_cuid_test.cc
Due: .azuredevops/rocm_ci_caller.yml

[RCCL] Device coverage: drop DWARF (-g0) and pin main-module CUID
  projects/rccl/cmake/DeviceLinker.cmake
Due: .azuredevops/rocm_ci_caller.yml

fix(rocr/thunk): Revoke SVM-API GPU access attributes on deregister (#6699)
  projects/rocr-runtime/libhsakmt/src/fmm.c
  projects/rocr-runtime/libhsakmt/tests/kfdtest/src/KFDSVMRangeTest.cpp
  projects/rocr-runtime/libhsakmt/tests/kfdtest/src/KFDSVMRangeTest.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Use correct link type for ring latency constants.
  src/tuning/ring.cc
Due: none

nccl_device/gin: declare ncclGinGet with external C linkage in gin.h
  src/include/nccl_device/gin.h
Due: none

fixed GCC 13 false positive causing build errors
  emulation/rocjitsu/tests/patch/gfx950_test_fixtures.h
Due: none

modify the torch-compiled-triton test to look only for triton kernel launch, not triton backend markers
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

hrr: add decode-and-triage skill, scripts, and cursor agent skill
  .cursor/skills/hrr-triage/SKILL.md
  projects/clr/hipamd/src/hrr/skills/decode-and-triage/scripts/analyze_replay_finding.py
  projects/clr/hipamd/src/hrr/skills/decode-and-triage/scripts/check_replay_compat.py
  projects/clr/hipamd/src/hrr/skills/decode-and-triage/scripts/ensure_playback.ps1
  projects/clr/hipamd/src/hrr/skills/decode-and-triage/scripts/triage_archive.ps1
Due: .azuredevops/rocm_ci_caller.yml

hrr: relocate SKILL.md and fix check_replay_compat docstring
  .cursor/skills/hrr-triage/SKILL.md
  projects/clr/hipamd/src/hrr/skills/decode-and-triage/SKILL.md
  projects/clr/hipamd/src/hrr/skills/decode-and-triage/scripts/check_replay_compat.py
Due: .azuredevops/rocm_ci_caller.yml

fix(amdsmi):Updated profile_config & resource_index values
  projects/amdsmi/src/amd_smi/amd_smi.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(clr/hip_graph): remove dead code from ChildGraphNode
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

test(rocjitsu): cover plugin loader boundaries
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/plugin_loader_fixture.cpp
  emulation/rocjitsu/tests/plugin_loader_test.cpp
Due: none

fix(clr/hip_graph): remove graphCaptureStatus_ dead code from ChildGraphNode
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

hrr: add decode-and-triage skill, scripts, and cursor agent skill
  .cursor/skills/hrr-triage/SKILL.md
  projects/clr/hipamd/src/hrr/skills/decode-and-triage/scripts/ensure_playback.ps1
  projects/clr/hipamd/src/hrr/skills/decode-and-triage/scripts/triage_archive.ps1
Due: .azuredevops/rocm_ci_caller.yml

fix(rocjitsu): migrate plugin fixture callers
  emulation/mirage/tests/run_opt125_onetoken.sh
  emulation/mirage/tests/run_vllm_opt125m.sh
  emulation/rocjitsu/tests/logging/hip_logging_test.hip
  emulation/rocjitsu/tests/race-detector/hip_race_gfx950_test.hip
Due: none
