Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Update projects/rocprofiler-systems/.clang-tidy
  projects/rocprofiler-systems/.clang-tidy
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add DEBUG_HIP_GRAPH_MIN_OVERLAP for hip-tests (#7450)
  build_tools/github_actions/test_executable_scripts/test_hiptests.py
Due: none

Generalize e2e tests
  projects/rocprofiler-systems/tests/pytest/test_transpose.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fix synchronized
  projects/rocprofiler-systems/source/lib/common/synchronized.hpp
  projects/rocprofiler-systems/source/lib/common/tests/test_synchronized.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/buffer_storage.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/metadata_registry.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk/fwd.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

test(rccl): cover finalize after a failed net plugin init (AICOMRCCL-1891)
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/NetPluginReloadTests.cpp
  projects/rccl/test/PluginCompatV10_test.cpp
  projects/rccl/test/plugin/net_reload_plugin.cpp
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
Due: .azuredevops/rocm_ci_caller.yml

test(hip-tests): cover graph exec internal stream pool footprint
  projects/hip-tests/catch/config/configs/unit/graph.yaml
  projects/hip-tests/catch/unit/graph/CMakeLists.txt
  projects/hip-tests/catch/unit/graph/hipGraphStreamPoolFootprint.cc
Due: .azuredevops/rocm_ci_caller.yml

Rename type_traits to policies
  projects/rocprofiler-systems/source/lib/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/common/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/common/synchronized.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/buffer_storage.hpp
  projects/rocprofiler-systems/source/lib/policies/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/policies/thread_state_policy.hpp
  projects/rocprofiler-systems/source/lib/type_traits/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Address review comments.
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix(rocr): Keep build-machine paths out of the hsakmt export (ROCM-29513) (#10188)
  projects/rocr-runtime/libhsakmt/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix align
  projects/rocprofiler-systems/source/lib/core/state.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

ci(rocprofiler-sdk): derive ctest parallelism from nproc
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Fix clang to include only source directory
  projects/rocprofiler-systems/.clang-tidy
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Build conjugate-gradient sample through its own CMake target
  projects/rocprofiler-compute/sample/conjugate_gradient/CMakeLists.txt
  projects/rocprofiler-compute/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

net_ib: guard NCCL_IB_PLANE_MAX_INDEX with static_assert
  projects/rccl/src/transport/net_ib/init.cc
  projects/rccl/src/transport/net_ib_cast/init.cc
Due: .azuredevops/rocm_ci_caller.yml

Enable host-UT coverage measurement and add tests based on it (#10062)
  projects/rccl/.gitignore
  projects/rccl/test/AltRsmiTests.cpp
  projects/rccl/test/IommuPassthrough_test.cpp
  projects/rccl/test/common/LogCapture.hpp
  projects/rccl/test/host/CMakeLists.txt
  projects/rccl/test/host/RomeTopoConsensusLogTests.cpp
  projects/rccl/test/mem_manager/MemManagerTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

[AICOMRCCL-1179] rccl: graceful-skip UBR_MultiSegment on unsupported configs
  projects/rccl/test/RegistrationMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Streamline conjugate-gradient sample documentation
  projects/rocprofiler-compute/sample/conjugate_gradient/README.md
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rccl: add multithread support to NetIbMPI validation suite (#9973)
  projects/rccl/.claude/skills/feature-unit-testing/SKILL.md
  projects/rccl/.claude/skills/feature-unit-testing/multithread-validation.md
  projects/rccl/test/common/MPIEnvironment.hpp
  projects/rccl/test/common/main_mpi.cpp
  projects/rccl/test/transport/NetIbMPI/GeneralTests.cpp
  projects/rccl/test/transport/NetIbMPI/NetIbMPITestBase.hpp
  projects/rccl/tools/scripts/test_runner/configs/net_ib_transport.json
Due: .azuredevops/rocm_ci_caller.yml

Verify multiprocess PC sampling attribution end to end
  projects/rocprofiler-compute/tests/integration/test_pc_sampling.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

ci(rccl): make the Crusoe AINIC runner work on SPUR
  .github/workflows/rccl-ainic-crusoe-gfx950-runner.yml
  projects/rccl/tools/scripts/test_runner/configs/mi355x_ainic_crusoe_roce.json
  projects/rccl/tools/scripts/test_runner/lib/test_executor.py
  projects/rccl/tools/scripts/test_runner/scripts/spur_srun.sh
Due: .azuredevops/rocm_ci_caller.yml

Get hip-tests building with -Werror
  projects/hip-tests/catch/CMakeLists.txt
  projects/hip-tests/catch/README.md
  projects/hip-tests/catch/hipTestMain/hip_test_listener.cc
  projects/hip-tests/catch/multiproc/childMalloc.cc
  projects/hip-tests/catch/unit/cooperativeGrps/thread_block_tile.cc
  projects/hip-tests/catch/unit/deviceLib/CMakeLists.txt
  projects/hip-tests/catch/unit/env/hipSetEnv_helper.cc
  projects/hip-tests/catch/unit/gl_interop/hipGLImageDataVerification.cc
  projects/hip-tests/catch/unit/graph/hipGraphAddMemcpyNode1D_old.cc
  projects/hip-tests/catch/unit/graph/hipGraphExecMemcpyNodeSetParams.cc
  projects/hip-tests/catch/unit/hrr/hrr_workload_test.cc
  projects/hip-tests/catch/unit/memory/hipGetProcAddressMemoryApis.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyAsync_old.cc
  projects/hip-tests/catch/unit/stream/hipStreamValue.cc
  projects/hip-tests/catch/unit/synchronization/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Fix double free
  projects/hip-tests/catch/multiproc/childMalloc.cc
Due: .azuredevops/rocm_ci_caller.yml

Rename CMake flag to HIP_TESTS_ENABLE_WERROR
  projects/hip-tests/catch/CMakeLists.txt
  projects/hip-tests/catch/README.md
Due: .azuredevops/rocm_ci_caller.yml

Default to off
  projects/hip-tests/catch/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Update read me
  projects/hip-tests/catch/README.md
Due: .azuredevops/rocm_ci_caller.yml

Add -Werror passing to hip-tests
  .github/workflows/therock-ci-linux.yml
  projects/hip-tests/catch/hipTestMain/hip_test_listener.cc
Due: .azuredevops/rocm_ci_caller.yml

Remove unused var, add the hip-test -Werror to MI455 build
  .github/workflows/therock-build-linux.yml
  projects/hip-tests/catch/hipTestMain/hip_test_listener.cc
Due: .azuredevops/rocm_ci_caller.yml

ci(rccl): gate Crusoe AINIC PR smoke on the crusoe-test label
  .github/workflows/rccl-ainic-crusoe-gfx950-runner.yml
Due: none

Get hip-tests building with -Werror
  projects/hip-tests/catch/unit/memory/hipMallocFromPoolAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

Enable -Werror on windows, disable redundant C++98 warnings, exclude Catch2 from -Werror
  projects/hip-tests/catch/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Disable unsafe call into libc breaking printf
  projects/hip-tests/catch/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Ignore the unused printDeviceMem function
  projects/hip-tests/catch/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Fix nvidia build
  projects/hip-tests/catch/include/memcpy3d_tests_common.hh
  projects/hip-tests/catch/unit/graph/hipDrvGraphAddMemFreeNode.cc
  projects/hip-tests/catch/unit/graph/hipGraphAddBatchMemOpNode.cc
  projects/hip-tests/catch/unit/graph/hipGraphBatchMemOpNodeCapture.cc
  projects/hip-tests/catch/unit/graph/hipGraphGetNodes.cc
  projects/hip-tests/catch/unit/library/library_invariants.cc
  projects/hip-tests/catch/unit/memory/hipMemGetAddressRange.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D16.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D16Async.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D32.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D32Async.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D8.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D8Async.cc
  projects/hip-tests/catch/unit/memory/hipPointerGetAttribute.cc
  projects/hip-tests/catch/unit/memory/hipPtrGetAttribute.cc
  projects/hip-tests/catch/unit/surface/hipDestroySurfaceObject.cc
  projects/hip-tests/catch/unit/surface/surf1D.cc
  projects/hip-tests/catch/unit/surface/surf1DLayered.cc
  projects/hip-tests/catch/unit/surface/surf2D.cc
  projects/hip-tests/catch/unit/surface/surf2DLayered.cc
  projects/hip-tests/catch/unit/surface/surf3D.cc
  projects/hip-tests/catch/unit/surface/surfCubemap.cc
  projects/hip-tests/catch/unit/surface/surfCubemapLayered.cc
  projects/hip-tests/catch/unit/texture/hipTex1DFetchCheckModes.cc
  projects/hip-tests/catch/unit/texture/hipTexObjectTests.cc
  projects/hip-tests/catch/unit/texture/hipTextureObj1DCheckModes.cc
  projects/hip-tests/catch/unit/texture/hipTextureObj1DCheckSRGBModes.cc
  projects/hip-tests/catch/unit/texture/hipTextureObj1DFetch.cc
  projects/hip-tests/catch/unit/texture/hipTextureObj2D.cc
  projects/hip-tests/catch/unit/texture/hipTextureObj2DCheckModes.cc
  projects/hip-tests/catch/unit/texture/hipTextureObj2DCheckSRGBModes.cc
  projects/hip-tests/catch/unit/texture/hipTextureObj3DCheckModes.cc
  projects/hip-tests/catch/unit/texture/hipTextureObjFetchVector.cc
  projects/hip-tests/catch/unit/texture/hipTextureObjectTests.cc
  projects/hip-tests/catch/unit/texture/utils.hh
  projects/hip-tests/catch/unit/virtualMemoryManagement/hipMemMapArrayAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

ci(rccl): match Crusoe AINIC runs-on to the registered runner label
  .github/workflows/rccl-ainic-crusoe-gfx950-runner.yml
Due: none

clr: Replace use of amdgcn atomic builtins for scalar types
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_atomic.h
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_unsafe_atomics.h
Due: .azuredevops/rocm_ci_caller.yml

Update documentation
  emulation/rocjitsu/docs/codegen.md
Due: none

test(rccl): gin - added multi-context tests
  projects/rccl/test/transport/GinDeviceMPITests.cpp
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
Due: .azuredevops/rocm_ci_caller.yml

fix(hrr): bump archive format to v6 so it does not collide with regions' v5
  projects/clr/hipamd/src/hrr/DESIGN.md
  projects/clr/hipamd/src/hrr/gen_hrr_api_args.py
  projects/clr/hipamd/src/hrr/hrr_api_args.h
Due: .azuredevops/rocm_ci_caller.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
