Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

[rocjitsu] Fix packed F32 operands and CDNA4 matrix layouts for IREE e2e suite (#10589)
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/packed.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_literal_codegen.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_packed_codegen.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vop3p_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/shared/execute_shared.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/ds_transpose.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/mma_exec.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/scalar_operand_resolve.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/scalar_operand_selectors.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/register_access.h
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/instruction_execution_harness_test.cpp
  emulation/rocjitsu/tests/register_access_test.cpp
  emulation/rocjitsu/tests/shared_infra_test.cpp
Due: none

chore(ci): Update TheRock hash to `b014dba` (2026-08-21) (#10537)
  .github/workflows/therock-build-linux.yml
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-rccl-ci-linux.yml
  .github/workflows/therock-rccl-test-packages-multi-node.yml
  .github/workflows/therock-rccl-test-packages-single-node.yml
  .github/workflows/therock-rccl-test-pytorch-distributed.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

fix(clr): create the cross-device graph stream on first use. (#10625)
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/hip-tests/catch/config/configs/unit/graph.yaml
  projects/hip-tests/catch/unit/graph/CMakeLists.txt
  projects/hip-tests/catch/unit/graph/hipGraphStreamPoolFootprint.cc
Due: .azuredevops/rocm_ci_caller.yml

[RCCL] Make NCCL_CHECK_MODE effective and cover symmetric abort (#10055)
  projects/rccl/CHANGELOG.md
  projects/rccl/docs/api-reference/env-variables.rst
  projects/rccl/docs/how-to/fault-tolerance.rst
  projects/rccl/src/init.cc
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/SymmetricAbortCheckModeMPITests.cpp
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
  projects/rccl/tools/scripts/test_runner/configs/mi355x_thor2_roce.json
Due: .azuredevops/rocm_ci_caller.yml

chore(hipfile): update C++ version to 20 in STYLEGUIDE.md (#10643)
  projects/hipfile/STYLEGUIDE.md
Due: .azuredevops/rocm_ci_caller.yml

fix(rccl): disable Rome model matching for gfx1250 (#10161)
  projects/rccl/src/init.cc
  projects/rccl/test/RcclWrapTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

telemetry: RCCL network telemetry foundation (engine + IB-CAST hooks) (#9609)
  projects/rccl/docs/how-to/network-telemetry.md
  projects/rccl/docs/index.rst
  projects/rccl/docs/sphinx/_toc.yml.in
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/include/net_telemetry.h
  projects/rccl/src/plugin/net.cc
  projects/rccl/src/transport/net_ib_cast/common_cast.h
  projects/rccl/src/transport/net_ib_cast/connect.cc
  projects/rccl/src/transport/net_ib_cast/init.cc
  projects/rccl/src/transport/net_ib_cast/p2p.cc
  projects/rccl/src/transport/net_ib_cast/p2p_cast.h
  projects/rccl/src/transport/net_ib_cast/p2p_resiliency_recovery_ainic.cc
  projects/rccl/src/transport/net_telemetry.cc
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/net_telemetry_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

feat(rocjitsu): Drop the L1 coherence rwlock and add a per-CU instruction cache (#10514)
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/sema_derive.py
  emulation/rocjitsu/lib/python/amdisa/semantics.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/shared/execute_shared.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/device_cache_coherence.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/device_cache_coherence.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/gpu_memory.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/instruction_cache.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/instruction_compute_unit_view.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/l1_scalar_cache.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/l1_scalar_cache.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/l1_vector_cache.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/l1_vector_cache.h
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/instruction_cache_test.cpp
  emulation/rocjitsu/tests/instruction_execution_harness_test.cpp
  emulation/rocjitsu/tests/scaling_test.cpp
  emulation/rocjitsu/tests/scaling_thread_counts.h
  emulation/rocjitsu/tests/scaling_thread_counts_test.cpp
Due: none

[rocjtisu] Refactor matrix codegen around ISA profile capabilities (#9839)
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/__init__.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/matrix.py
  emulation/rocjitsu/lib/python/amdisa/isa_profile.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_profile_properties.py
Due: none

[rocjitsu] Materialize CU paths only for tracing (#10598)
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna5/addr_calc.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna1/ds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna2/ds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/ds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/ds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vglobal_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna1/ds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna2/ds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/ds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/ds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vglobal_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/shared/execute_shared.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna4/addr_calc.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/addr_calc_buffer.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/addr_calc_scalar.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/compute_unit.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/mem_state.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/memory_pipeline.cpp
  emulation/rocjitsu/tests/execution_plugin_test.cpp
Due: none

rccl(ainic): move test scope to JSON, single runner invocation, rename runner + config (#10168)
  .github/workflows/ainic_test_runner.yml
  .github/workflows/rccl-ainic-tw-gfx950-runner.yml
  projects/rccl/tools/scripts/test_runner/configs/mi355x_ainic_tw_roce.json
  projects/rccl/tools/scripts/test_runner/lib/schema.json
  projects/rccl/tools/scripts/test_runner/lib/test_config.py
  projects/rccl/tools/scripts/test_runner/lib/test_parser.py
  projects/rccl/tools/scripts/test_runner/test_runner.py
Due: .azuredevops/rocm_ci_caller.yml

docs(amdsmi): Update CPU (HSMP) driver prerequisites in README (#8682)
  projects/amdsmi/README.md
  projects/amdsmi/docs/how-to/amdsmi-cli-tool.md
  projects/amdsmi/docs/how-to/amdsmi-cpp-lib.md
  projects/amdsmi/docs/how-to/amdsmi-go-lib.md
  projects/amdsmi/docs/how-to/amdsmi-py-lib.md
  projects/amdsmi/docs/install/install.md
  projects/amdsmi/docs/reference/amdsmi-py-api.md
  projects/amdsmi/goamdsmi.go
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/src/amd_smi/amd_smi_system.cc
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Align gfx1250 with public CDNA5 ISA (#10431)
  emulation/rocjitsu/configs/gfx1250_mi455x.json
  emulation/rocjitsu/docs/codegen.md
  emulation/rocjitsu/docs/npi.md
  emulation/rocjitsu/lib/python/amdisa/__main__.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_profile_properties.py
  emulation/rocjitsu/scripts/generate-amdisa.sh
  emulation/rocjitsu/tests/cdna5_architecture_test.cpp
  emulation/rocjitsu/tests/sysfs_test.cpp
Due: none

feat(rccl): Share QPs between PAT ReduceScatter and AllGather (#8711)
  projects/rccl/src/device/all_gather.h
  projects/rccl/src/device/prims_simple.h
  projects/rccl/src/include/collectives.h
  projects/rccl/src/include/comm.h
  projects/rccl/src/include/device.h
  projects/rccl/src/init.cc
  projects/rccl/src/proxy.cc
  projects/rccl/src/transport/generic.cc
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/CommMPITests.cpp
  projects/rccl/test/PatAlgorithmTests.cpp
  projects/rccl/test/test_categories_fixtures_debug.yaml
  projects/rccl/test/test_categories_mpi.yaml
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu] Advertise build version through rj and Mirage (#10700)
  emulation/mirage/docs/cli.md
  emulation/mirage/rocjitsu/src/lib.rs
  emulation/mirage/rocjitsu_sys/src/lib.rs
  emulation/mirage/rocjitsu_sys/tests/load.rs
  emulation/mirage/src/main.rs
  emulation/mirage/tests/e2e.rs
  emulation/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/cmake/rj_version.cmake
  emulation/rocjitsu/cmake/version.h.in
  emulation/rocjitsu/docs/rocjitsu-cli.md
  emulation/rocjitsu/lib/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/include/rocjitsu/base/rj_version.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/base/rj_version.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tools/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/tools/rocjitsu/main.cpp
Due: none

fix(rocr/thunk): Retry interrupted open of /dev/kfd (#9369)
  projects/rocr-runtime/libhsakmt/src/hsakmtmodel.c
  projects/rocr-runtime/libhsakmt/src/libhsakmt.c
  projects/rocr-runtime/libhsakmt/src/libhsakmt.h
  projects/rocr-runtime/libhsakmt/src/openclose.c
  projects/rocr-runtime/libhsakmt/src/virtio/virtio_gpu.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix(rocprofiler-systems): fix empty check list and silent timeouts (#10626)
  .github/workflows/rocprofiler-systems-clang-tidy.yml
  projects/rocprofiler-systems/scripts/clang-tidy-check.py
  projects/rocprofiler-systems/scripts/test_clang_tidy_check.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocjitsu] Add four-GPU MI455X daemon config (#10699)
  emulation/rocjitsu/configs/gfx1250_mi455x_kmd_4gpu.json
  emulation/rocjitsu/docs/configuration.md
  emulation/rocjitsu/tests/config_test.cpp
Due: none

fix(rocprofiler-sdk): fix tracing-plus-counter-collection test failure on gfx1250 (#8993)
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk/config.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

ci(amdsmi): add concurrency groups and version-comment the pinned actions (#10545)
  .github/workflows/amdsmi-build.yml
  .github/workflows/amdsmi-manylinux-build.yml
  .github/workflows/amdsmi-python-versions.yml
  .github/workflows/amdsmi-sles-packaging.yml
  .github/workflows/amdsmi-upgrade-downgrade.yml
Due: none

Removing Redundant ROCm checkout, fixing a couple PR comments
  .github/workflows/rccl-coco-nightly.yml
  .github/workflows/rccl-coco-run.yml
Due: none

[rocjitsu] Model gfx1250 DS byte transpose routing (#10707)
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/isa_profile.py
  emulation/rocjitsu/lib/python/amdisa/semantics.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_sema_derive.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/ds_transpose.h
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/shared_infra_test.cpp
Due: none

[rocjitsu] Document benchmarking methodology (#10629)
  emulation/rocjitsu/README.md
  emulation/rocjitsu/docs/benchmarking.md
Due: none

ci(rccl): add nightly coco-based RCCL perf/coverage testing workflow
  .github/actions/checkout-coco-harness/action.yml
  .github/workflows/rccl-coco-nightly.yml
  .github/workflows/rccl-coco-run.yml
Due: none

[rocjitsu] Own the local-VM driver by reference count in the interposer
  emulation/rocjitsu/cmake/rj_generate_installed_gtest_ctest.cmake
  emulation/rocjitsu/docs/rocjitsu-cli.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/events.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/events.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/guest_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/guest_kfd.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/interposer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/kfd_process.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/libc_passthrough.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/libc_passthrough.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/linux_kfd.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/remote_driver.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/sysfs.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/sysfs.h
  emulation/rocjitsu/lib/simdojo/include/simdojo/sim/simulation.h
  emulation/rocjitsu/lib/simdojo/src/simulation.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/guest_kfd_test.cpp
  emulation/rocjitsu/tests/interposer_dup_test.cpp
  emulation/rocjitsu/tests/simdojo_sim_test.cpp
  emulation/rocjitsu/tests/simulated_kfd_test.cpp
Due: none

Test with relative path
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
Due: none

Do not emit shared/execute_shared
  emulation/rocjitsu/lib/python/amdisa/__main__.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
Due: none

rocjitsu: Spread one dispatch across every XCD of the SoC
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/completion_tracker.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/completion_tracker.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/dispatch_entry.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/soc.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/soc.h
  emulation/rocjitsu/tests/aql_queue.h
  emulation/rocjitsu/tests/cdna5_dispatch_memory_test.cpp
  emulation/rocjitsu/tests/config_test.cpp
  emulation/rocjitsu/tests/dbi/dbi_spill_sim_test.cpp
  emulation/rocjitsu/tests/vector_add_test.cpp
  emulation/rocjitsu/tests/xcd_distribution_test.cpp
Due: none

Add test
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
Due: none

handwritten_dir different from generated_dir
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
Due: none

Fix
  emulation/rocjitsu/lib/python/amdisa/__main__.py
Due: none

Docs
  emulation/rocjitsu/docs/codegen.md
Due: none

Fix
  emulation/rocjitsu/lib/python/amdisa/__main__.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
Due: none

fix(rocprofiler-compute): Cap inflated gfx942 Percent metrics after validation
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/0500_command_processor_cpc_cpf.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/0600_workgroup_manager_spi.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/1500_address_processing_unit_and_data_return_path_ta_td.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/1700_l2_cache.yaml
  projects/rocprofiler-compute/src/utils/metrics/aggregation.py
  projects/rocprofiler-compute/src/utils/metrics/expression.py
  projects/rocprofiler-compute/src/utils/metrics/metric_evaluator.py
  projects/rocprofiler-compute/tests/unit/utils/metrics/test_aggregation.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix(rocprofiler-compute): Harden MIN/BOUND_RATIO helpers per review
  projects/rocprofiler-compute/src/utils/metrics/aggregation.py
  projects/rocprofiler-compute/src/utils/mi_gpu_spec.py
  projects/rocprofiler-compute/tests/unit/utils/metrics/test_aggregation.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocjitsu: Fan compute queues out across all XCDs on the KFD path
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/tests/aql_queue.h
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
Due: none

chore(rocprofiler-compute): Refresh gfx942 panel config hashes
  projects/rocprofiler-compute/tools/config_management/.config_hashes.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml
