Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

SWDEV-540629 - Disable multi-graph test (#403)
  catch/hipTestMain/config/config_amd_linux
Due: none

SWDEV-545082 - Add hipEventDestroy call (#485)
  catch/multiproc/hipIpcEventHandle.cc
Due: none

SWDEV-543981 Temporary
  catch/perftests/memory/hipPerfBufferCopySpeed.cc
Due: none

SWDEV-546579 - Change in no params kernel behavior (#501)
  catch/unit/module/hipExtModuleLaunchKernel.cc
Due: none

SWDEV-549309 - Ensure that the kernel is issued to a stream that is ass… (#552)
  catch/unit/atomics/arithmetic_common.hh
  catch/unit/atomics/bitwise_common.hh
  catch/unit/atomics/min_max_common.hh
  catch/unit/graph/hipGetProcAddressGraphApis.cc
  catch/unit/memory/hipMallocAsync.cc
  catch/unit/memory/hipMallocFromPoolAsync.cc
  catch/unit/memory/hipMemAdvise_old.cc
  catch/unit/memory/hipMemcpyPeerAsync.cc
  catch/unit/memory/hipMemcpyWithStreamMultiThread.cc
  catch/unit/memory/hipMemcpyWithStream_old.cc
  catch/unit/memory/hipSVMTestByteGranularity.cpp
  catch/unit/memory/hipSVMTestFineGrainMemoryConsistency.cpp
  catch/unit/memory/hipSVMTestSharedAddressSpaceFineGrain.cpp
  catch/unit/memory/hipStreamAttachMemAsync.cc
  catch/unit/memory/mempool_common.hh
Due: none

SWDEV-511852 - Adding performance test for Virtual Memory Management (#150)
  catch/perftests/vmm/CMakeLists.txt
  catch/perftests/vmm/hipPerfVMMAlloc.cc
Due: none

SWDEV-548807 - skip building hipSpirvTest compiler test (#536)
  catch/unit/compiler/CMakeLists.txt
Due: none

SWDEV-546111 - Fix memory leaks in coopGroup tests (#509)
  catch/unit/cooperativeGrps/coalesced_groups_shfl_down_old.cc
  catch/unit/cooperativeGrps/coalesced_groups_shfl_up_old.cc
  catch/unit/cooperativeGrps/hipCGCoalescedGroups_old.cc
Due: none

SWDEV-527806 - p2p checks for Atomic tests (#502)
  catch/unit/atomics/atomicExch_common.hh
  catch/unit/atomics/min_max_common.hh
Due: none

SWDEV-542947 - Compile hipSquareGenericTargetOnly* with usual commands (#510)
  catch/unit/compiler/CMakeLists.txt
Due: none

SWDEV-532473 - Check for P2P support in atomic mgpu tests (#225)
  catch/include/hip_test_common.hh
  catch/unit/atomics/arithmetic_common.hh
  catch/unit/atomics/atomicExch_common.hh
  catch/unit/atomics/min_max_common.hh
Due: none

SWDEV-528351 - Adds test to compile in SPIRV mode (#274)
  catch/unit/compiler/CMakeLists.txt
  catch/unit/compiler/hipSpirvTest.cc
Due: none

SWDEV-528351 - Adds test cases for hipCtx's negative and not supporte… (#121)
  catch/unit/context/CMakeLists.txt
  catch/unit/context/hipCtxNotSupported.cc
Due: none

fix an error happening when checking if it's mode attach
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/utils/utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[Ex CI] add rocprofiler pipeline ID
  .github/scripts/azure_resolve_subtree_deps.py
Due: none

Update rocprofiler-sdk-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

libhsakmt: Don't use MADV_DONTFORK for paged memory
  projects/rocr-runtime/libhsakmt/src/fmm.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Rename counter_defs.yaml to config.yaml and consolidate configuration files │
  projects/rocprofiler-sdk/source/docs/api-reference/counter_collection_services.rst
  projects/rocprofiler-sdk/source/docs/how-to/using-rocprofv3.rst
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/firmware_restrictions.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/firmware_restrictions.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/metrics.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/tests/firmware_restrictions.cpp
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk/CMakeLists.txt
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk/counter_defs.yaml
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk/firmware_restrictions.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Update rocm_ci_caller.yml - disable the trigger for draft PRs
  .azuredevops/rocm_ci_caller.yml
Due: none

fix error with non-attach/detach mode and their unit tests
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/utils/utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add paginate to import prep jobs
  .github/workflows/import-prep-workflow-disable.yml
  .github/workflows/import-prep-workflow-enable.yml
  README.md
Due: none

Fix stream id ci throw
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Remove force setup of rocprofiler-sdk
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

rocprof-sys-run fix --help command
  projects/rocprofiler-systems/source/bin/rocprof-sys-run/impl.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add schema fetching from rocprofiler-sdk
  projects/rocprofiler-systems/source/lib/core/rocpd/data_storage/database.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Merge multiple databases to 5
  projects/rocprofiler-sdk/source/lib/python/rocpd/__main__.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

docs: fix changelog heading `ROCm 6.5.0` -> `ROCm 7.0.0`
  projects/rocm-smi-lib/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-524348 - Update description for multiProcessorCount
  include/hip/hip_deprecated.h
  include/hip/hip_runtime_api.h
Due: none

Fixed script failure on sparse checkout
  projects/rocprofiler-systems/docker/build-docker.sh
  projects/rocprofiler-systems/scripts/containers.yml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

SWDEV-547589 - add unit testing for hipDeviceMallocUncached in hipMemCreate
  catch/unit/virtualMemoryManagement/hipMemCreate.cc
Due: none

Moved `ontainers.yml` to `docker/` subfolder.
  projects/rocprofiler-systems/docker/build-docker.sh
  projects/rocprofiler-systems/docker/containers.yml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add packaging of grouped databases
  projects/rocprofiler-sdk/source/lib/python/rocpd/__main__.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[SWDEV-548260] Enable Support for Multiple init() and shutdown()
  projects/amdsmi/src/amd_smi/amd_smi.cc
Due: .azuredevops/rocm_ci_caller.yml

ROCProfiler SDK CI Fix
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

added cdash automatic CI upload
  .github/workflows/rocprofiler-compute-cdash.yml
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/coverage/README.md
  projects/rocprofiler-compute/coverage/coverage-latest.xml
  projects/rocprofiler-compute/utils/run-ci.py
  projects/rocprofiler-compute/utils/update-coverage.sh
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

added cdash automatic CI upload
  projects/rocprofiler-compute/utils/run-ci.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

tweaked wording
  projects/rocprofiler-compute/coverage/README.md
  projects/rocprofiler-compute/utils/run-ci.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

changed nightly to continuous
  .github/workflows/rocprofiler-compute-cdash.yml
Due: none

SWDEV-543981 Fix for order of test
  catch/perftests/memory/hipPerfBufferCopySpeed.cc
Due: none
