Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

[AMD-SMI] packaging: install amdsmi.pth in postinst, clean up in prerm
  projects/amdsmi/CMakeLists.txt
  projects/amdsmi/DEBIAN/postinst.in
  projects/amdsmi/DEBIAN/prerm.in
  projects/amdsmi/RPM/post.in
  projects/amdsmi/RPM/preun.in
  projects/amdsmi/cmake_modules/install_amdsmi_python_lib.sh.in
Due: .azuredevops/rocm_ci_caller.yml

solve its issue of running metric files of gfx1151 on platform of gfx1152
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/profiling_counter_grouping_policy.yaml
  projects/rocprofiler-compute/src/utils/specs.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocr-debug-agent: install test runner
  projects/rocr-debug-agent/test/CMakeLists.txt
  projects/rocr-debug-agent/test/run_rocr_debug_agent.py
Due: .azuredevops/rocm_ci_caller.yml

disable metrics using non-public counters on gfx1152
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1152/0200_System_Speed_Of_Light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1152/0300_Memory_Chart.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1152/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1152/0500_CPC.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1152/0600_SPI.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1152/0700_WGP.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1152/0800_TCP_Cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1152/1100_GL1C.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1152/1500_GCEA.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1152/1700_GRBM.yaml
  projects/rocprofiler-compute/src/utils/.config_hashes.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

lttng: drop corr_id/parent_corr_id; use vpid+vtid+timestamp contexts (schema v3)
  projects/clr/hipamd/src/hip_module.cpp
  projects/clr/hipamd/src/hip_table_interface.cpp
  projects/clr/hipamd/src/hip_table_interface_c.cpp
  projects/clr/hipamd/src/lttng/rocm_hip_curated_tp.h
  projects/clr/hipamd/src/lttng/rocm_hip_tp.h
  projects/clr/hipamd/src/lttng/rocm_trace_emit.h
  projects/clr/hipamd/src/lttng/rocm_trace_emit_curated.h
  projects/clr/hipamd/src/lttng/rocm_trace_tid.h
  projects/rocr-runtime/runtime/hsa-runtime/core/common/hsa_table_interface.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_aql_queue.cpp
  projects/rocr-runtime/runtime/hsa-runtime/lttng/rocm_hsa_curated_tp.h
  projects/rocr-runtime/runtime/hsa-runtime/lttng/rocm_hsa_tp.h
  projects/rocr-runtime/runtime/hsa-runtime/lttng/rocm_trace_emit.h
  projects/rocr-runtime/runtime/hsa-runtime/lttng/rocm_trace_emit_curated.h
  projects/rocr-runtime/runtime/hsa-runtime/lttng/rocm_trace_tid.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

lttng,rocp-reg: delete correlation TLS slot infra; revert VERSION 0.7->0.6
  projects/rocprofiler-register/VERSION
  projects/rocprofiler-register/source/include/rocprofiler-register/CMakeLists.txt
  projects/rocprofiler-register/source/include/rocprofiler-register/correlation.h
  projects/rocprofiler-register/source/lib/rocprofiler-register/CMakeLists.txt
  projects/rocprofiler-register/source/lib/rocprofiler-register/correlation.cpp
  projects/rocr-runtime/runtime/hsa-runtime/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocr-runtime.yml

lttng(test): adopt vpid+vtid channel context; drop corr_id assertions
  projects/clr/hipamd/scripts/lttng_coverage_check.py
  projects/clr/hipamd/scripts/lttng_coverage_gate.sh
  projects/clr/hipamd/scripts/lttng_curated_lib.py
  projects/clr/hipamd/scripts/test_lttng_curated_lib.py
  projects/clr/hipamd/test/lttng/test_hip_curated_args_coverage.sh
  projects/clr/hipamd/test/lttng/test_hip_curated_args_payload.sh
  projects/clr/hipamd/test/lttng/test_hip_invariants.sh
  projects/rocr-runtime/runtime/hsa-runtime/test/lttng/test_hsa_curated_args_payload.sh
  projects/rocr-runtime/runtime/hsa-runtime/test/lttng/test_hsa_invariants.sh
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

temp build fixes
  projects/rccl/cmake/rocmIb.cmake
  projects/rccl/ext-src/rocm_netib.patch
  projects/rccl/src/CMakeLists.txt
  projects/rccl/src/include/nccl_device/gin.h
  projects/rccl/src/include/nccl_device/gin/gin_device_host_common.h
  projects/rccl/src/include/nccl_device/gin_barrier.h
  projects/rccl/src/include/nccl_device/utility.h
  projects/rccl/src/init.cc
  projects/rccl/test/common/RcclMockFuncs.hpp
Due: .azuredevops/rocm_ci_caller.yml

rocprofiler-compute: install test runner
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/tests/run_rocprofiler_compute.py
  test/therock/test_rocprofiler_compute.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocprofiler-sdk: install test runner
  projects/rocprofiler-sdk/cmake/rocprofiler_config_install.cmake
  projects/rocprofiler-sdk/tests/run_rocprofiler_sdk.py
  test/therock/test_rocprofiler_sdk.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[AMD-SMI] tests: add pkg-vs-wheel conflict matrix and parity coverage
  projects/amdsmi/tests/python_unittest/test_abi_compat.py
  projects/amdsmi/tests/python_unittest/test_postinst_log_parity.py
  projects/amdsmi/tests/run_amdsmi_build.py
  projects/amdsmi/tests/run_amdsmi_pkg_conflict_test.py
Due: .azuredevops/rocm_ci_caller.yml

[AMD-SMI] py-interface: dual-context .so loader with drift gate
  projects/amdsmi/.pre-commit-config.yaml
  projects/amdsmi/py-interface/amdsmi_wrapper.py
  projects/amdsmi/tools/check_loader_drift.py
  projects/amdsmi/tools/generator.py
Due: .azuredevops/rocm_ci_caller.yml

[AMD-SMI] ci: add manylinux wheel workflow and refresh build matrix
  .github/workflows/amdsmi-build.yml
  .github/workflows/manylinux-build.yml
  projects/amdsmi/.github/workflows/amdsmi-build.yml
Due: .azuredevops/rocm_ci_caller.yml

[AMD-SMI] docs: changelog, README, and install guide for wheels
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/docs/install/install.md
  projects/amdsmi/py-interface/README.md
Due: .azuredevops/rocm_ci_caller.yml

rccl: install test runner
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/run_rccl.py
  test/therock/test_rccl.py
Due: .azuredevops/rocm_ci_caller.yml

rccl-tests: install test runner
  projects/rccl-tests/CMakeLists.txt
  projects/rccl-tests/test/run_rccl_tests.py
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-systems] Backport elfutils GCC 15 register-name fix
  projects/rocprofiler-systems/cmake/DyninstElfUtils.cmake
  projects/rocprofiler-systems/cmake/elfutils-0.188-gcc15-regs.patch
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

lttng(hsa): include curated emit helpers outside LTTng guard
  projects/rocr-runtime/runtime/hsa-runtime/lttng/rocm_trace_emit.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Add common function FindMemObjIter.
  projects/clr/rocclr/device/device.cpp
  projects/clr/rocclr/device/device.hpp
Due: .azuredevops/rocm_ci_caller.yml

Make AQLProfile v2 headers C compatible
  projects/aqlprofile/src/core/include/aqlprofile-sdk/aql_profile_v2.h
  projects/aqlprofile/src/core/tests/CMakeLists.txt
  projects/aqlprofile/src/core/tests/aql_profile_v2_c_test.c
  projects/rocprofiler-sdk/source/lib/aqlprofile/aql_profile_v2.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/aql_profile_v2_c_test.c
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/aql_profile_v2_tests.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rocr: change ROCR-Runtime docs owners (#5538)
  .github/CODEOWNERS
Due: none

[AMD-SMI] Fix power_limit unit in amdsmi.h (#4744)
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/src/amd_smi/amd_smi.cc
Due: .azuredevops/rocm_ci_caller.yml

[ROCM-3771] Fix TestPciReadWrite error (#5305)
  projects/amdsmi/rocm_smi/src/rocm_smi.cc
  projects/amdsmi/rocm_smi/src/rocm_smi_utils.cc
  projects/amdsmi/tests/amd_smi_test/functional/pci_read_write.cc
  projects/rocm-smi-lib/src/rocm_smi.cc
  projects/rocm-smi-lib/src/rocm_smi_utils.cc
Due: .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml

Apply formatter output to AQLProfile SDK tests
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/aql_profile_v2_c_test.c
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/aql_profile_v2_tests.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

misc. fixes.
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

[AMD-SMI] review: address review findings
  projects/amdsmi/CMakeLists.txt
  projects/amdsmi/docs/install/install.md
  projects/amdsmi/py-interface/README.md
  projects/amdsmi/tests/python_unittest/test_abi_compat.py
  projects/amdsmi/tests/run_amdsmi_build.py
  projects/amdsmi/tests/run_amdsmi_pkg_conflict_test.py
  projects/amdsmi/tools/generator.py
Due: .azuredevops/rocm_ci_caller.yml

Fix deviceid list to int in run_benchmark.py
  projects/rocprofiler-compute/src/roofline/run_benchmark.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

try to fix failing tests
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/tests/pytest/rocprofsys/runners.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[hip-tests] Add some prefetch APIs around Managed Memory movement
  projects/hip-tests/catch/unit/memory/hipMemPrefetchAsyncExtTsts.cc
  projects/hip-tests/catch/unit/memory/hipMemPrefetchBatchAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

Align revoke tests: add collective and P2P in-flight recovery cases, remove unrelated tests
  projects/rccl/test/RevokeMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Remove standalone revoke tests duplicated by MPI suite
  projects/rccl/test/StandaloneTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Move in-flight collective test to MPI suite, revoke without draining first
  projects/rccl/test/RevokeMPITests.cpp
  projects/rccl/test/StandaloneTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add error-path revoke tests to MPI suite
  projects/rccl/test/RevokeMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Remove all standalone revoke tests, consolidated into MPI suite
  projects/rccl/test/StandaloneTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

try to fix shmem test
  projects/rocprofiler-systems/tests/pytest/test_shmem.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[amd-smi] add IGPUBackend dispatch interface (foundation)
  projects/amdsmi/include/amd_smi/impl/amd_smi_common.h
  projects/amdsmi/include/amd_smi/impl/amd_smi_gpu_device.h
  projects/amdsmi/include/amd_smi/impl/i_gpu_backend.h
  projects/amdsmi/include/amd_smi/impl/mock_data_yaml.h
  projects/amdsmi/include/amd_smi/impl/mock_gpu_backend.h
  projects/amdsmi/include/amd_smi/impl/not_implemented_gpu_backend.h
  projects/amdsmi/include/amd_smi/impl/production_gpu_backend.h
  projects/amdsmi/src/CMakeLists.txt
  projects/amdsmi/src/amd_smi/amd_smi.cc
  projects/amdsmi/src/amd_smi/amd_smi_gpu_device.cc
  projects/amdsmi/src/amd_smi/mock_data_yaml.cc
  projects/amdsmi/src/amd_smi/mock_gpu_backend.cc
  projects/amdsmi/src/amd_smi/production_gpu_backend.cc
Due: .azuredevops/rocm_ci_caller.yml

mock_pc_samples_writer
  projects/rocprofiler-compute/src/lib/pc_sampling_collector/CMakeLists.txt
  projects/rocprofiler-compute/src/lib/pc_sampling_collector/pc_samples_writer.cpp
  projects/rocprofiler-compute/src/lib/pc_sampling_collector/pc_samples_writer.h
  projects/rocprofiler-compute/src/lib/pc_sampling_collector/tests/mocks.cpp
  projects/rocprofiler-compute/src/lib/pc_sampling_collector/tests/mocks.h
  projects/rocprofiler-compute/src/lib/pc_sampling_collector/tests/test_pc_sampling_collector.cpp
  projects/rocprofiler-compute/src/lib/pc_sampling_collector/tests/test_pc_sampling_collector.h
  projects/rocprofiler-compute/src/lib/rocprofiler_compute_tool/counters_writer.cpp
  projects/rocprofiler-compute/src/lib/rocprofiler_compute_tool/counters_writer.h
  projects/rocprofiler-compute/src/lib/rocprofiler_compute_tool/rocprofiler_compute_tool.cpp
  projects/rocprofiler-compute/src/lib/rocprofiler_compute_tool/tests/mocks.cpp
  projects/rocprofiler-compute/src/lib/rocprofiler_compute_tool/tests/mocks.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

storing test mock
  projects/rocprofiler-compute/src/lib/pc_sampling_collector/tests/test_pc_sampling_collector.cpp
  projects/rocprofiler-compute/src/lib/pc_sampling_collector/tests/test_pc_sampling_collector.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

writer test update
  projects/rocprofiler-compute/src/lib/pc_sampling_collector/pc_sampling_collector.cpp
  projects/rocprofiler-compute/src/lib/pc_sampling_collector/pc_sampling_collector.h
  projects/rocprofiler-compute/src/lib/pc_sampling_collector/tests/test_pc_sampling_collector.cpp
  projects/rocprofiler-compute/src/lib/pc_sampling_collector/tests/test_pc_sampling_collector.h
  projects/rocprofiler-compute/src/lib/rocprofiler_compute_tool/tests/mocks.cpp
  projects/rocprofiler-compute/src/lib/rocprofiler_compute_tool/tests/mocks.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
