Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

fix(hrr): clear sticky error before replayed-H2D drain
  projects/clr/hipamd/src/hrr/playback/hip_playback.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix(hrr): drain replayed H2D restores
  projects/clr/hipamd/src/hrr/playback/hip_playback.cpp
Due: .azuredevops/rocm_ci_caller.yml

test(hrr): quarantine CaptureReplayRoundtrip on gfx1250
  projects/hip-tests/catch/config/configs/unit/hrr.yaml
Due: .azuredevops/rocm_ci_caller.yml

test(hrr): unit-test replayed-H2D drain graph-capture guard
  projects/clr/hipamd/src/hrr/playback/hip_playback.cpp
  projects/clr/hipamd/src/hrr/playback/hip_playback.h
  projects/hip-tests/catch/config/configs/unit/hrr.yaml
  projects/hip-tests/catch/unit/hrr/CMakeLists.txt
  projects/hip-tests/catch/unit/hrr/hrr_playback_test.cc
Due: .azuredevops/rocm_ci_caller.yml

[Ex 7] Fix Makefile, README.md, and src code to actually show occupancy variability
  emulation/rocjitsu/usage-examples/07-occupancy-analysis/Makefile
  emulation/rocjitsu/usage-examples/07-occupancy-analysis/README.md
  emulation/rocjitsu/usage-examples/07-occupancy-analysis/src/occupancy.cpp
Due: none

fix(rocr): Gate HSA_MODEL_LIB trusted-path restriction to AT_SECURE (ROCM-26861)
  projects/rocr-runtime/libhsakmt/CMakeLists.txt
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmtmodel.h
  projects/rocr-runtime/libhsakmt/src/hsakmtmodel.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

added requested spill tests
  emulation/rocjitsu/tests/patch/gfx950_test_fixtures.h
  emulation/rocjitsu/tests/patch/instrumentor_test.cpp
Due: none

fix hanging in gfx1201
  projects/rocshmem/src/ipc/context_ipc_tmpl_device.hpp
  projects/rocshmem/tests/functional_tests/reduce_wave_tester.cpp
Due: .azuredevops/rocm_ci_caller.yml

fixing build issue for Jakub
  emulation/rocjitsu/tests/patch/instrumentor_test.cpp
Due: none

[rocjitsu] Addressed reviewer comments
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/simd_codegen.py
  emulation/rocjitsu/lib/python/amdisa/fieldless_policy.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_fieldless_operands.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/execute_shared.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/instruction.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/operand.h
Due: none

test(hip): add fatbin OOB-read reproducer/regression test (ROCM-26752 / SEC-00548)
  projects/clr/hipamd/tests/security/hip_fatbin_oob_repro.cpp
  projects/clr/hipamd/tests/security/run_repro.sh
Due: .azuredevops/rocm_ci_caller.yml

* rocDecode/CTest: Removed LD_PRELOAD and LIBVA_DRIVERS_PATH env var setup.
  projects/rocdecode/test/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

updated the setup docs
  projects/hipfile/docs/index.rst
  projects/hipfile/docs/install/setup-local-nvme.rst
  projects/hipfile/docs/install/setup-nfsordma.rst
  projects/hipfile/docs/install/setup-nvmeof.rst
  projects/hipfile/docs/sphinx/_toc.yml.in
Due: .azuredevops/rocm_ci_caller.yml

Add multi-segment/Elastic tests to mi300x_mellanox_ib.json test config
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
Due: .azuredevops/rocm_ci_caller.yml

[hipFile/Python] Add missing fake async classes/functions (#8953)
  projects/hipfile/python/tests/conftest.py
Due: .azuredevops/rocm_ci_caller.yml

fix(rocjitsu): classify sparse VMID misses deterministically
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/kfd_process.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/simulated_kfd.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/gpu_memory.h
  emulation/rocjitsu/tests/simulated_kfd_test.cpp
Due: none

ci(rocjitsu): Use absolute corpus artifact paths (#9032)
  emulation/rocjitsu/tests/corpus/run-corpus-tests.sh
Due: none

nccl4py/cute: Add opt_flags support for gin.put, put_value and signal
  bindings/nccl4py/nccl/core/device/cute/_bindings.py
  bindings/nccl4py/nccl/core/device/cute/gin.py
Due: none

Update TheRock SHA to 2e7c190
  .github/workflows/therock-build-linux.yml
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-nightly.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-rccl-ci-linux.yml
  .github/workflows/therock-rccl-test-packages-multi-node.yml
  .github/workflows/therock-rccl-test-packages-single-node.yml
  .github/workflows/therock-rccl-test-pytorch-distributed.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

ci: pin base image to standard (non-ASan) therock tarball
  .github/workflows/rocprofiler-sdk-build-ci-docker-images.yml
Due: none

amdsmi: address review feedback on test_gpu_event
  projects/amdsmi/tests/python/functional/gpu/test_events.py
Due: .azuredevops/rocm_ci_caller.yml

amdsmi: add opt-in GPU reset event coverage to test_events
  projects/amdsmi/tests/python/functional/gpu/test_events.py
Due: .azuredevops/rocm_ci_caller.yml

feat(rocr): Changes to allow FreeBSD compilation
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmttypes.h
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/kfd/amd_kfd_driver.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/xdna/uapi/amdxdna_accel.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_aql_queue.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_blit_kernel.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_topology.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/util/memory.h
  projects/rocr-runtime/runtime/hsa-runtime/libamdhsacode/lnx/amd_core_dump.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

TEMP: ASAN diagnostic probe in tests/bin (do not merge)
  projects/rocprofiler-sdk/tests/bin/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(rocr): Address review - accurate getauxval detection and docs
  projects/rocr-runtime/libhsakmt/CMakeLists.txt
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmtmodel.h
  projects/rocr-runtime/libhsakmt/src/hsakmtmodel.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

amd-smi: clean-up interfaces
  projects/amdsmi/include/amd_smi/impl/amd_smi_wsl_device.h
  projects/amdsmi/include/amd_smi/impl/amd_smi_wsl_syms.h
  projects/amdsmi/src/amd_smi/amd_smi.cc
  projects/amdsmi/src/amd_smi/amd_smi_system.cc
  projects/amdsmi/src/amd_smi/amd_smi_wsl_device.cc
  projects/rocr-runtime/libhsakmt/include/hsakmt/rocdxg_smi.h
  projects/rocr-runtime/libhsakmt/src/dxg/rocdxg_smi.cpp
  shared/amdgpu-windows-interop/wkmi/wkmi.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[Ex 8] Fix Makefile, README.md, and src code for GEMM debugging
  emulation/rocjitsu/usage-examples/08-gemm-debugging/Makefile
  emulation/rocjitsu/usage-examples/08-gemm-debugging/README.md
  emulation/rocjitsu/usage-examples/08-gemm-debugging/src/gemm_test.cpp
Due: none

Testing ASAN rocjpeg/rocdecode fix
  projects/rocprofiler-sdk/tests/common/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocdecode/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocjpeg/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/rocdecode-trace/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/rocjpeg-trace/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Rocshmem build failure commit pin
  .github/workflows/therock-rccl-ci-linux.yml
Due: none

Test commit
  projects/rccl/.github/workflows/therock-ci-linux.yml
Due: .azuredevops/rocm_ci_caller.yml

Disable unit tests
  .github/workflows/therock-ci.yml
Due: none

Add MPI build dep fix test
  .github/workflows/therock-rccl-ci-linux.yml
Due: none

Updated with the merged commit
  .github/workflows/therock-rccl-ci-linux.yml
Due: none

cft: use shorthand for ncclCoopThread{} in cft barrier arrive
  src/include/nccl_device/impl/cft_barrier__funcs.h
Due: none

cft: update flush
  src/include/nccl_device/cft.h
  src/include/nccl_device/impl/cft__funcs.h
  src/include/nccl_device/impl/cft__types.h
Due: none

cft: remove CFT teams from devComm
  src/dev_runtime.cc
  src/include/nccl_device/impl/cft_barrier__funcs.h
  src/include/nccl_device/impl/comm__types.h
  src/include/nccl_device/impl/core__funcs.h
Due: none

cft: make mbarrier 16B aligned to meet pullred requirements
  src/include/nccl_device/impl/cft__types.h
Due: none

cft: add workaround for LLVM bug in CU12.9.0
  src/include/nccl_device/impl/cft_barrier__types.h
Due: none
