Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Extract host_hash from the first CPU
  projects/rccl/tools/topo_expl/src/topo_expl_impl.cpp
Due: .azuredevops/rocm_ci_caller.yml

Tighten PerfXpert gate fallback guidance
  experimental/python/perfxpert/perfxpert/_bundled/opencode_config/AGENTS.md
  experimental/python/perfxpert/perfxpert/cli/_backend/_prompt_adapter.py
  experimental/python/perfxpert/tests/test_cli/test_backend/test_codex_adapter.py
  experimental/python/perfxpert/tests/test_cli/test_backend/test_prompt_adapter.py
Due: none

Fix PerfXpert Codex tool names and runtime version
  experimental/python/perfxpert/docs/architecture/backend-adapter.md
  experimental/python/perfxpert/docs/guides/backends.md
  experimental/python/perfxpert/docs/integration/mcp-server.md
  experimental/python/perfxpert/perfxpert/__init__.py
  experimental/python/perfxpert/perfxpert/cli/_backend/codex.py
  experimental/python/perfxpert/perfxpert/cli/_gate_hooks/codex.py
  experimental/python/perfxpert/tests/test_cli/test_backend/test_codex_adapter.py
  experimental/python/perfxpert/tests/test_cli/test_backend/test_codex_gate_hook.py
  experimental/python/perfxpert/tests/test_cli/test_backend/test_prompt_adapter.py
  experimental/python/perfxpert/tests/test_version_metadata.py
Due: none

Force project-scoped Codex MCP registration
  experimental/python/perfxpert/perfxpert/cli/_backend/codex.py
  experimental/python/perfxpert/tests/test_cli/test_backend/test_codex_adapter.py
Due: none

Report blocked Codex config directory clearly
  experimental/python/perfxpert/perfxpert/cli/_backend/codex.py
  experimental/python/perfxpert/tests/test_cli/test_backend/test_codex_adapter.py
Due: none

Require consent before installing missing validation tools
  experimental/python/perfxpert/perfxpert/_bundled/opencode_config/AGENTS.md
  experimental/python/perfxpert/tests/test_cli/test_backend/test_codex_adapter.py
Due: none

WIP: phase 5 macros + scripts (will amend with migration)
  projects/rocr-runtime/runtime/hsa-runtime/core/common/hsa_table_interface.cpp
  projects/rocr-runtime/runtime/hsa-runtime/scripts/lttng_coverage_gate.sh
  projects/rocr-runtime/runtime/hsa-runtime/scripts/lttng_migrate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

WIP Phase 2 in-progress
  projects/clr/hipamd/scripts/lttng_migrate.py
  projects/clr/hipamd/src/hip_table_interface.cpp
Due: .azuredevops/rocm_ci_caller.yml

feat(hsa,lttng): emit typed enter/exit tracepoints from public HSA APIs
  projects/rocr-runtime/runtime/hsa-runtime/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/core/common/hsa_table_interface.cpp
  projects/rocr-runtime/runtime/hsa-runtime/scripts/lttng_coverage_gate.sh
  projects/rocr-runtime/runtime/hsa-runtime/scripts/lttng_migrate.py
  projects/rocr-runtime/runtime/hsa-runtime/scripts/lttng_migration_inventory.txt
  projects/rocr-runtime/runtime/hsa-runtime/test/lttng/test_hsa_api_tracepoints.sh
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Allow Codex discovery of deferred PerfXpert gate tools
  experimental/python/perfxpert/CHANGELOG.md
  experimental/python/perfxpert/docs/guides/backends.md
  experimental/python/perfxpert/perfxpert/_bundled/opencode_config/AGENTS.md
  experimental/python/perfxpert/perfxpert/cli/_backend/_prompt_adapter.py
  experimental/python/perfxpert/perfxpert/cli/_backend/codex.py
  experimental/python/perfxpert/tests/test_cli/test_backend/test_codex_adapter.py
  experimental/python/perfxpert/tests/test_cli/test_backend/test_prompt_adapter.py
Due: none

feat(hip,lttng): emit typed enter/exit tracepoints from public HIP APIs (Phase 2)
  projects/clr/hipamd/scripts/lttng_coverage_exemptions.txt
  projects/clr/hipamd/scripts/lttng_coverage_gate.sh
  projects/clr/hipamd/scripts/lttng_migrate.py
  projects/clr/hipamd/scripts/lttng_migration_inventory.txt
  projects/clr/hipamd/scripts/lttng_migration_inventory_c.txt
  projects/clr/hipamd/src/CMakeLists.txt
  projects/clr/hipamd/src/hip_table_interface.cpp
  projects/clr/hipamd/src/hip_table_interface_c.cpp
  projects/clr/hipamd/test/lttng/test_hip_api_tracepoints.sh
Due: .azuredevops/rocm_ci_caller.yml

feat(hsa,lttng): emit doorbell-ring and intercept-packet tracepoints
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_aql_queue.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/intercept_queue.cpp
  projects/rocr-runtime/runtime/hsa-runtime/lttng/rocm_trace_emit.h
  projects/rocr-runtime/runtime/hsa-runtime/test/lttng/test_hsa_api_tracepoints.sh
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

feat(hip,lttng): emit hip_kernel_dispatch_enqueue tracepoint (Phase 3)
  projects/clr/hipamd/src/hip_module.cpp
Due: .azuredevops/rocm_ci_caller.yml

make_dummy_process factory replaces all inline DummyProcess DummyStdout classes
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Replace bin symlink with Python launcher (#5368)
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/cmake/rocprof-compute.in
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

hip-tests: Fix GraphsTest2 target cmake
  projects/hip-tests/catch/cmake/hip-tests.cmake
  projects/hip-tests/catch/unit/graph/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Add Windows install support for PerfXpert
  experimental/python/perfxpert/.patches/0071-windows-direct-vite-build.patch
  experimental/python/perfxpert/.patches/0072-ignore-lifecycle-during-native-installs.patch
  experimental/python/perfxpert/.patches/SHA256SUMS
  experimental/python/perfxpert/README.md
  experimental/python/perfxpert/docs/guides/backends.md
  experimental/python/perfxpert/docs/guides/getting-started.md
  experimental/python/perfxpert/perfxpert/__init__.py
  experimental/python/perfxpert/perfxpert/__main__.py
  experimental/python/perfxpert/perfxpert/cli/_backend/claude.py
  experimental/python/perfxpert/perfxpert/cli/_backend/codex.py
  experimental/python/perfxpert/perfxpert/cli/_backend_dispatch.py
  experimental/python/perfxpert/perfxpert/cli/opencode_launcher.py
  experimental/python/perfxpert/pyproject.toml
  experimental/python/perfxpert/scripts/build-bundled-opencode.ps1
  experimental/python/perfxpert/setup.py
  experimental/python/perfxpert/tests/e2e/test_doctor.py
  experimental/python/perfxpert/tests/test_cli/test_backend/test_claude_adapter.py
  experimental/python/perfxpert/tests/test_cli/test_backend/test_claude_verify.py
  experimental/python/perfxpert/tests/test_cli/test_backend/test_codex_adapter.py
  experimental/python/perfxpert/tests/test_cli/test_backend_dispatch.py
  experimental/python/perfxpert/tests/test_cli/test_doctor_providers.py
  experimental/python/perfxpert/tests/test_cli/test_launcher_subcommands.py
  experimental/python/perfxpert/tests/test_setup/test_setup_build.py
  experimental/python/perfxpert/tests/test_tools/test_opencode_launcher.py
Due: none

[ROCM-23477] Ship libamd_smi_python.so with distinct SONAME for Python wrapper
  projects/amdsmi/py-interface/CMakeLists.txt
  projects/amdsmi/py-interface/amdsmi_wrapper.py
  projects/amdsmi/src/CMakeLists.txt
  projects/amdsmi/tools/generator.py
Due: .azuredevops/rocm_ci_caller.yml

rocpdsna: enable WAL + tune PRAGMAs for write throughput
  projects/rocpdsna/source/data_storage/backends/sqlite_backend.cpp
  projects/rocpdsna/tests/benchmarks/CMakeLists.txt
  projects/rocpdsna/tests/benchmarks/bench_write.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix hard to read kernels warning
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocpdsna: switch writer to on_disk mode
  projects/rocpdsna/source/data_storage/backends/sqlite_backend.cpp
  projects/rocpdsna/source/storage_impl.cpp
Due: .azuredevops/rocm_ci_caller.yml

Updates
  projects/rccl/docker/Dockerfile.Multinode.ALinux3
  projects/rccl/docker/README.md
  projects/rccl/docker/entrypoint.sh
  projects/rccl/docker/mnctl/__init__.py
  projects/rccl/docker/mnctl/__main__.py
  projects/rccl/docker/mnctl/config.py
  projects/rccl/docker/mnctl/deps.py
  projects/rccl/docker/mnctl/docker_ops.py
  projects/rccl/docker/mnctl/orchestrate.py
  projects/rccl/docker/mnctl/preflight.py
  projects/rccl/docker/mnctl/runtime.py
  projects/rccl/docker/mnctl/slurm.py
  projects/rccl/docker/mnctl/ssh.py
  projects/rccl/docker/mnctl/utils.py
  projects/rccl/docker/mnctl/validate.py
  projects/rccl/docker/multi-node-docker-readme.md
  projects/rccl/docker/post-setup/README.md
  projects/rccl/docker/post-setup/ainic/env.sh
  projects/rccl/docker/post-setup/ainic/install_driver.sh
  projects/rccl/docker/post-setup/ainic/setup.sh
  projects/rccl/docker/post-setup/mellanox/env.sh
  projects/rccl/docker/post-setup/setup.sh
  projects/rccl/docker/run_mnctl.py
  projects/rccl/docker/setup_multinode.sh
Due: .azuredevops/rocm_ci_caller.yml

mnctl: externalize UCX/OpenMPI versions to versions.env
  projects/rccl/docker/Dockerfile.ubuntu
  projects/rccl/docker/mnctl/deps.py
  projects/rccl/docker/mnctl/versions.py
  projects/rccl/docker/setup_multinode.sh
  projects/rccl/docker/versions.env
Due: .azuredevops/rocm_ci_caller.yml

mnctl: dedup SSH/parallel/image/validation helpers and remove globals
  projects/rccl/docker/mnctl/__main__.py
  projects/rccl/docker/mnctl/checks.py
  projects/rccl/docker/mnctl/config.py
  projects/rccl/docker/mnctl/docker_ops.py
  projects/rccl/docker/mnctl/orchestrate.py
  projects/rccl/docker/mnctl/preflight.py
  projects/rccl/docker/mnctl/runtime.py
  projects/rccl/docker/mnctl/ssh.py
  projects/rccl/docker/mnctl/utils.py
  projects/rccl/docker/mnctl/validate.py
Due: .azuredevops/rocm_ci_caller.yml

mnctl: skip rsync on shared FS, fix SLURM detect, harden entrypoint wait
  projects/rccl/docker/mnctl/__main__.py
  projects/rccl/docker/mnctl/config.py
  projects/rccl/docker/mnctl/docker_ops.py
  projects/rccl/docker/mnctl/orchestrate.py
  projects/rccl/docker/mnctl/slurm.py
Due: .azuredevops/rocm_ci_caller.yml

mnctl: NFS-aware setup-deps via leader/follower coordination
  projects/rccl/docker/mnctl/__main__.py
  projects/rccl/docker/mnctl/config.py
  projects/rccl/docker/mnctl/deps.py
  projects/rccl/docker/mnctl/orchestrate.py
  projects/rccl/docker/mnctl/shared_fs.py
Due: .azuredevops/rocm_ci_caller.yml

mnctl: composable post-setup dirs; NIC-type as built-in resolver
  projects/rccl/docker/Dockerfile.Multinode.ALinux3
  projects/rccl/docker/Dockerfile.Multinode.Ubuntu
  projects/rccl/docker/entrypoint.sh
  projects/rccl/docker/mnctl/__main__.py
  projects/rccl/docker/mnctl/checks.py
  projects/rccl/docker/mnctl/config.py
  projects/rccl/docker/mnctl/docker_ops.py
  projects/rccl/docker/mnctl/orchestrate.py
  projects/rccl/docker/mnctl/preflight.py
  projects/rccl/docker/mnctl/validate.py
  projects/rccl/docker/post-setup/README.md
Due: .azuredevops/rocm_ci_caller.yml

rocpdsna: disable foreign keys for write throughput experiment
  projects/rocpdsna/source/data_storage/backends/sqlite_backend.cpp
Due: .azuredevops/rocm_ci_caller.yml

rocpdsna: shape 3 POC - vtable buffer for kernel_dispatch_writer
  projects/rocpdsna/source/data_storage/CMakeLists.txt
  projects/rocpdsna/source/data_storage/backends/sqlite_backend.cpp
  projects/rocpdsna/source/data_storage/schema_v3/insert_statements.hpp
  projects/rocpdsna/source/data_storage/vtable/kernel_dispatch_buffer_vtab.cpp
  projects/rocpdsna/source/data_storage/vtable/kernel_dispatch_buffer_vtab.hpp
  projects/rocpdsna/source/writers/schema_v3/kernel_dispatch_writer.hpp
Due: .azuredevops/rocm_ci_caller.yml

Fix CI
  .github/workflows/amdsmi-build.yml
  projects/amdsmi/DEBIAN/postinst.in
  projects/amdsmi/RPM/post.in
  projects/amdsmi/py-interface/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

rocpdsna: bypass vtable trampoline with direct buffer access from writer
  projects/rocpdsna/source/data_storage/CMakeLists.txt
  projects/rocpdsna/source/data_storage/vtable/kernel_dispatch_buffer.cpp
  projects/rocpdsna/source/data_storage/vtable/kernel_dispatch_buffer.hpp
  projects/rocpdsna/source/data_storage/vtable/kernel_dispatch_buffer_vtab.cpp
  projects/rocpdsna/source/writers/schema_v3/kernel_dispatch_writer.hpp
Due: .azuredevops/rocm_ci_caller.yml

rocpdsna: reserve buffer capacity to skip vector growth thrashing
  projects/rocpdsna/source/data_storage/vtable/kernel_dispatch_buffer.cpp
  projects/rocpdsna/source/data_storage/vtable/kernel_dispatch_buffer.hpp
  projects/rocpdsna/tests/benchmarks/bench_write.cpp
Due: .azuredevops/rocm_ci_caller.yml

add newlines in between kernels
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

cleanup --bench-only PR
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/docs/how-to/profile/mode.rst
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocpdsna: vtable buffers for memory_copy, memory_alloc, region, pmc_event
  projects/rocpdsna/source/data_storage/CMakeLists.txt
  projects/rocpdsna/source/data_storage/backends/sqlite_backend.cpp
  projects/rocpdsna/source/data_storage/vtable/memory_alloc_buffer.cpp
  projects/rocpdsna/source/data_storage/vtable/memory_alloc_buffer.hpp
  projects/rocpdsna/source/data_storage/vtable/memory_alloc_buffer_vtab.cpp
  projects/rocpdsna/source/data_storage/vtable/memory_alloc_buffer_vtab.hpp
  projects/rocpdsna/source/data_storage/vtable/memory_copy_buffer.cpp
  projects/rocpdsna/source/data_storage/vtable/memory_copy_buffer.hpp
  projects/rocpdsna/source/data_storage/vtable/memory_copy_buffer_vtab.cpp
  projects/rocpdsna/source/data_storage/vtable/memory_copy_buffer_vtab.hpp
  projects/rocpdsna/source/data_storage/vtable/pmc_event_buffer.cpp
  projects/rocpdsna/source/data_storage/vtable/pmc_event_buffer.hpp
  projects/rocpdsna/source/data_storage/vtable/pmc_event_buffer_vtab.cpp
  projects/rocpdsna/source/data_storage/vtable/pmc_event_buffer_vtab.hpp
  projects/rocpdsna/source/data_storage/vtable/region_buffer.cpp
  projects/rocpdsna/source/data_storage/vtable/region_buffer.hpp
  projects/rocpdsna/source/data_storage/vtable/region_buffer_vtab.cpp
  projects/rocpdsna/source/data_storage/vtable/region_buffer_vtab.hpp
  projects/rocpdsna/source/writers/schema_v3/memory_alloc_writer.hpp
  projects/rocpdsna/source/writers/schema_v3/memory_copy_writer.hpp
  projects/rocpdsna/source/writers/schema_v3/pmc_event_writer.hpp
  projects/rocpdsna/source/writers/schema_v3/region_writer.hpp
  projects/rocpdsna/tests/benchmarks/bench_write.cpp
Due: .azuredevops/rocm_ci_caller.yml

mnctl: Wave 1 refactor — helpers, constants, cache, drop trivial wrappers
  .gitignore
  projects/rccl/docker/mnctl/config.py
  projects/rccl/docker/mnctl/deps.py
  projects/rccl/docker/mnctl/docker_ops.py
  projects/rccl/docker/mnctl/orchestrate.py
  projects/rccl/docker/mnctl/slurm.py
  projects/rccl/docker/mnctl/ssh.py
  projects/rccl/docker/mnctl/utils.py
Due: .azuredevops/rocm_ci_caller.yml

address comments
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

mnctl: Wave 2 refactor — env helpers, decouple cfg from runtime
  projects/rccl/docker/mnctl/__main__.py
  projects/rccl/docker/mnctl/config.py
  projects/rccl/docker/mnctl/deps.py
  projects/rccl/docker/mnctl/orchestrate.py
  projects/rccl/docker/mnctl/preflight.py
Due: .azuredevops/rocm_ci_caller.yml

rocpdsna: drain vtable buffers in sqlite_backend::flush() and reorder region_writer ops
  projects/rocpdsna/source/data_storage/backends/sqlite_backend.cpp
  projects/rocpdsna/source/writers/schema_v3/region_writer.hpp
Due: .azuredevops/rocm_ci_caller.yml

ROCM-23425 - Delay release/free so that hsa/kfd does not use same VA during svmFree device loop.
  projects/clr/rocclr/device/device.cpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/platform/context.cpp
Due: .azuredevops/rocm_ci_caller.yml
