Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

address review comments
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_buffer.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_buffer.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/att_packet_test.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

guard shared per-agent ATT with a trace lease
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_buffer.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_buffer.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_lease.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_lease.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

use static object
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_queue.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

address review comments
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_queue.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.hpp
  projects/rocprofiler-sdk/tests/bin/thread-trace/main.cpp
  projects/rocprofiler-sdk/tests/thread-trace/CMakeLists.txt
  projects/rocprofiler-sdk/tests/tools/CMakeLists.txt
  projects/rocprofiler-sdk/tests/tools/thread-trace-many-contexts-tool.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

refactor(rocprofiler-sdk): unify per-agent ATT resources
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/aql/packet_construct.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/aql/packet_construct.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/aql_packet.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/hsa_util.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/hsa_util.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_buffer.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_buffer.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_lease.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_lease.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_queue.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_resources.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/shared_trace_resources.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/att_packet_test.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/producer_consumer.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

make simd selection device-agnostic
  projects/rocprofiler-sdk/tests/tools/thread-trace-many-contexts-tool.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix comments
  projects/rocprofiler-sdk/tests/thread-trace/CMakeLists.txt
  projects/rocprofiler-sdk/tests/tools/thread-trace-many-contexts-tool.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(consan): scale record replay capture by dispatch
  emulation/rocjitsu/docs/consan/DESIGN.md
  emulation/rocjitsu/docs/consan/FUTURE_WORK.md
  emulation/rocjitsu/docs/consan/USAGE.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_abi.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_candidates.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_common_emission.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_model.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_placement.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_record_replay.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_report_helpers.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_report_layout.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_report_plan.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_options.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_hook_moi_report.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_hooks.cpp
  emulation/rocjitsu/tests/consan/CMakeLists.txt
  emulation/rocjitsu/tests/dbi/consan/hip_consan_moi_test.hip
  emulation/rocjitsu/tests/patch/consan/consan_test_support.h
  emulation/rocjitsu/tests/patch/consan/moi_inline_shadow_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_record_replay_model_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_record_replay_test.cpp
  emulation/rocjitsu/tests/patch/consan_moi_report_plan_test.cpp
Due: none

feat(rocprofiler-sdk): gate PyTorch traces to record_function regions
  projects/rocprofiler-sdk/source/bin/rocprofv3.py
  projects/rocprofiler-sdk/source/docs/how-to/using-rocprofv3.rst
  projects/rocprofiler-sdk/source/docs/quick-reference/rocprofv3-cli-options.rst
  projects/rocprofiler-sdk/source/docs/rocprofv3_input_schema.json
  projects/rocprofiler-sdk/tests/bin/roctx-pause-resume/roctx-pause-resume.cpp
  projects/rocprofiler-sdk/tests/rocprofv3/negate-aggregate-tracing-options/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/negate-aggregate-tracing-options/validate-pytorch-trace-conflict.cmake
  projects/rocprofiler-sdk/tests/rocprofv3/negate-aggregate-tracing-options/validate-pytorch-trace-env.cmake
  projects/rocprofiler-sdk/tests/rocprofv3/roctx-pause-resume/tracing/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/roctx-pause-resume/tracing/validate-pytorch-trace.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

consan: harden large aliased code-object loading
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/amdgpu_code_object.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_analysis.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_composition.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_barrier.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_candidates.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_inline_atomic.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_pipeline.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_placement.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_prologue.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_record_atomic.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_record_replay.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_access.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_sync.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_shadow_models.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sync_common.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_options.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_placement.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_result.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_sync_analysis.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_validation.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_hooks.cpp
  emulation/rocjitsu/tests/dbi/consan/consan_validation.py
  emulation/rocjitsu/tests/dbi/consan/test_consan_validation.py
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
  emulation/rocjitsu/tests/patch/consan/consan_test_support.h
  emulation/rocjitsu/tests/patch/consan/core_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_record_replay_test.cpp
Due: none

new features
  projects/rccl-tests/tools/analyze.py
  projects/rccl-tests/tools/roctx_analyze.py
Due: .azuredevops/rocm_ci_caller.yml

consan: complete aliased large-object planning
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_barrier.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_placement.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_sampled_sync.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_resource.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_resource.h
  emulation/rocjitsu/tests/patch/consan/moi_record_replay_test.cpp
  emulation/rocjitsu/tests/patch/consan/resource_test.cpp
Due: none

consan: preserve exact replay conflict provenance
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_model.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/consan/consan_moi_report_layout.h.inc
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_hook_moi_report.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/consan/rj_hsa_dbi_replay_provenance.h
  emulation/rocjitsu/tests/dbt/hsa_hooks_unit_test.cpp
  emulation/rocjitsu/tests/patch/consan/moi_record_replay_model_test.cpp
Due: none

ci(amdsmi): [ROCM-3941] Python packaging rework (#7914)
  .github/workflows/amdsmi-build.yml
  projects/amdsmi/.gitignore
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/CMakeLists.txt
  projects/amdsmi/DEBIAN/postinst.in
  projects/amdsmi/DEBIAN/prerm.in
  projects/amdsmi/RPM/post.in
  projects/amdsmi/RPM/postun.in
  projects/amdsmi/RPM/preun.in
  projects/amdsmi/amdsmi_cli/CMakeLists.txt
  projects/amdsmi/amdsmi_cli/amdsmi_cli.py
  projects/amdsmi/amdsmi_cli/amdsmi_init.py
  projects/amdsmi/amdsmi_cli/pin_shebang.cmake
  projects/amdsmi/docs/install/install.md
  projects/amdsmi/py-interface/CMakeLists.txt
  projects/amdsmi/py-interface/README.md
  projects/amdsmi/py-interface/amdsmi_wrapper.py
  projects/amdsmi/py-interface/pyproject.toml.in
  projects/amdsmi/py-interface/setup.py.in
  projects/amdsmi/src/CMakeLists.txt
  projects/amdsmi/tests/amdsmi_build/run_amdsmi_build.py
  projects/amdsmi/tests/python/common/common.py
  projects/amdsmi/tests/python/test_abi_compat.py
  projects/amdsmi/tools/disable_system_fallback.py
  projects/amdsmi/tools/generator.py
Due: .azuredevops/rocm_ci_caller.yml

docs(amdsmi): drop the manylinux CI changelog entry
  projects/amdsmi/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

feat(amdsmi): [ROCM-3941] Add manylinux wheel job to the amdsmi CI matrix (#7913)
  .github/workflows/amdsmi-build.yml
Due: none

[rocjitsu] Add offline translation idempotence verification
  emulation/rocjitsu/docs/rj_dbt_translate.md
  emulation/rocjitsu/tests/tools/rj_dbt_translate_smoke_test.cpp
  emulation/rocjitsu/tools/dbt_translate.cpp
  emulation/rocjitsu/tools/dbt_translate.h
  emulation/rocjitsu/tools/dbt_translate_main.cpp
Due: none

fix(rocr): Gate HSA_MODEL_LIB trusted-path restriction to AT_SECURE (ROCM-26861) (#9053)
  projects/rocr-runtime/libhsakmt/CMakeLists.txt
  projects/rocr-runtime/libhsakmt/include/hsakmt/hsakmtmodel.h
  projects/rocr-runtime/libhsakmt/src/hsakmtmodel.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt: use WDDM segment-group VRAM counters
  projects/rocr-runtime/libhsakmt/include/impl/wddm/device.h
  projects/rocr-runtime/libhsakmt/src/dxg/wddm/device.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt: unify DXG VRAM availability accounting
  projects/rocr-runtime/libhsakmt/include/impl/wddm/device.h
  projects/rocr-runtime/libhsakmt/src/dxg/topology.cpp
  projects/rocr-runtime/libhsakmt/src/dxg/wddm/device.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt: cache WDDM driver version at device enumeration
  projects/rocr-runtime/libhsakmt/src/dxg/librocdxg.h
  projects/rocr-runtime/libhsakmt/src/dxg/wddm/device.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt: centralize DXG VRAM residency queries
  projects/rocr-runtime/libhsakmt/include/impl/wddm/device.h
  projects/rocr-runtime/libhsakmt/src/dxg/wddm/device.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

libhsakmt: use VramTotal in ReserveLocalHeapSpace
  projects/rocr-runtime/libhsakmt/src/dxg/openclose.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix(amdsmi): emit valid JSON for ras --cper --json with no entries (#8819)
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/amdsmi_cli/amdsmi_logger.py
  projects/amdsmi/amdsmi_cli/subcommands/ras.py
  projects/amdsmi/tests/python/unit/gpu/test_cli_ras_cper_json.py
Due: .azuredevops/rocm_ci_caller.yml

test(amdsmi): resolve Python test-suite review findings
  .github/workflows/amdsmi-build.yml
  projects/amdsmi/docs/conceptual/test-design.md
  projects/amdsmi/tests/python/CMakeLists.txt
  projects/amdsmi/tests/python/cli/base.py
  projects/amdsmi/tests/python/cli_unit_test.py
  projects/amdsmi/tests/python/common/common.py
  projects/amdsmi/tests/python/functional/ifoe/__init__.py
  projects/amdsmi/tests/python/functional/ifoe/test_discovery.py
  projects/amdsmi/tests/python/functional/ifoe/test_identity.py
  projects/amdsmi/tests/python/functional/nic/test_identity.py
  projects/amdsmi/tests/python/integration_test.py
  projects/amdsmi/tests/python/unit/gpu/test_apu_metrics.py
  projects/amdsmi/tests/python/unit/system/test_bdf.py
  projects/amdsmi/tests/python/unit/system/test_check_res.py
  projects/amdsmi/tests/python/unit/system/test_infrastructure.py
  projects/amdsmi/tests/python/unit_tests.py
Due: .azuredevops/rocm_ci_caller.yml

test(amdsmi): restore NIC and IFoE functional stub tests
  projects/amdsmi/tests/python/functional/ifoe/__init__.py
  projects/amdsmi/tests/python/functional/ifoe/test_discovery.py
  projects/amdsmi/tests/python/functional/ifoe/test_identity.py
  projects/amdsmi/tests/python/functional/nic/test_identity.py
Due: .azuredevops/rocm_ci_caller.yml

docs(amdsmi): clarify common.py runner and module docstrings
  projects/amdsmi/tests/python/common/common.py
Due: .azuredevops/rocm_ci_caller.yml

test(amdsmi): drop unused __future__ annotations from kfd unit test
  projects/amdsmi/tests/python/unit/gpu/test_kfd_process_gpus.py
Due: .azuredevops/rocm_ci_caller.yml

test(amdsmi): make NIC/IFoE stubs skipped tests and update docs tree
  projects/amdsmi/docs/conceptual/test-design.md
  projects/amdsmi/tests/python/functional/ifoe/test_discovery.py
  projects/amdsmi/tests/python/functional/ifoe/test_identity.py
  projects/amdsmi/tests/python/functional/nic/test_identity.py
Due: .azuredevops/rocm_ci_caller.yml

perf(amdsmi): skip redundant KFD topology discovery in process list
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/src/amd_smi/amd_smi_gpu_device.cc
  projects/amdsmi/src/amd_smi/fdinfo.cc
  projects/amdsmi/tests/amd_smi_test/functional/gpu/metrics/process_list_read_test.cc
  projects/amdsmi/tests/amd_smi_test/functional/gpu/metrics/process_list_read_test.h
  projects/amdsmi/tests/amd_smi_test/main.cc
Due: .azuredevops/rocm_ci_caller.yml

PR fixes
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/include/amd_smi/impl/fdinfo.h
  projects/amdsmi/rocm_smi/src/rocm_smi_kfd.cc
  projects/amdsmi/src/amd_smi/amd_smi_gpu_device.cc
  projects/amdsmi/src/amd_smi/fdinfo.cc
  projects/amdsmi/tests/amd_smi_test/functional/gpu/metrics/process_list_read.cc
  projects/amdsmi/tests/amd_smi_test/functional/gpu/metrics/process_list_read.h
  projects/amdsmi/tests/amd_smi_test/main.cc
Due: .azuredevops/rocm_ci_caller.yml

Update test_roctx.py
  projects/rocprofiler-systems/tests/pytest/test_roctx.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

ci(amdsmi): keep unit-test failures from masking downstream tests
  .github/workflows/amdsmi-build.yml
Due: none

feat(rocrtst): add VectorScalarAdd100 test for repeated AIE dispatches
  projects/rocr-runtime/rocrtst/suites/aie/dispatch.cc
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix(aie): derive ELF size for detection and gate kernel_object on freeze
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.cpp
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

refactor(aie): gate AIE loader to Linux and detect arch by section magic
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_aie_code.hpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_aie_code.cpp
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.cpp
  projects/rocr-runtime/runtime/hsa-runtime/loader/executable.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Update test expectations
  projects/rocr-runtime/rocrtst/suites/aie/memory.cc
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

feat(aie): carry opaque kernel_object handle in dispatch packet
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_ext_amd_aie.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Fix memory handle import/export assertions
  projects/rocr-runtime/rocrtst/suites/aie/memory.cc
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocrtst: add AIE performance benchmark suite
  projects/rocr-runtime/rocrtst/suites/aie-performance/CMakeLists.txt
  projects/rocr-runtime/rocrtst/suites/aie-performance/iron_env_setup.sh
  projects/rocr-runtime/rocrtst/suites/aie-performance/requirements.txt
  projects/rocr-runtime/rocrtst/suites/aie-performance/vector_scalar_add.py
  projects/rocr-runtime/rocrtst/suites/aie-performance/vector_scalar_add_hsa.cpp
  projects/rocr-runtime/rocrtst/suites/aie-performance/vector_scalar_add_xrt.cpp
  projects/rocr-runtime/rocrtst/suites/aie-performance/vector_scalar_add_xrt_elf.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
