Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

rocjitsu: harden HSA DBT hook
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbt_hooks.cpp
Due: none

rocjitsu: Use local code caves instead of local code caves
  emulation/rocjitsu/docs/dbt-design.md
  emulation/rocjitsu/docs/dbt_dbi_plan.md
  emulation/rocjitsu/docs/rj_dbt_translate.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/amdgpu_code_object.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/amdgpu_elf.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/code_object.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/rj_code.cpp
  emulation/rocjitsu/tests/dbt/device_kernels_translate_tests.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
  emulation/rocjitsu/tools/dbt_translate.cpp
  emulation/rocjitsu/tools/dbt_translate_main.cpp
Due: none

rocjitsu: add HIP device interposer
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hip_device_intercept.cpp
Due: none

rocjitsu: support indirect branches and s_call_b64
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna3/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna3/sopk.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/sopk.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/sopk.h
Due: none

[rocjitsu] Added missing file
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/error_report.h
Due: none

rocjitsu: fix descriptor and semantic DBT follow-ups
  emulation/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic/cdna4_to_cdna3.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/tests/dbt/device_kernels_translate_tests.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
Due: none

Copy the constmem in hipmoduleinit otherwise stuff break in bitcode mode
  projects/rocshmem/src/rocshmem_gpu.cpp
Due: .azuredevops/rocm_ci_caller.yml

add resnet repro script
  emulation/rocjitsu/resnet_gfx950_dbt_gfx942.py
Due: none

[rocprofiler-compute] fix l1 cache test - improve metric equation (#6821)
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/1600_vector_l1_data_cache.yaml
  projects/rocprofiler-compute/src/utils/.config_hashes.json
  projects/rocprofiler-compute/tests/test_TCP_counters.py
  projects/rocprofiler-compute/tests/test_categories.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocjitsu] Apply VOP3 modifiers for f16 binary SIMD fast path
  emulation/rocjitsu/lib/python/amdisa/codegen/execute/simd_codegen.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/execute_shared.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/simd_glue.h
  emulation/rocjitsu/tests/simd_correctness/vop3_binary_simd_correctness_test.cpp
Due: none

Temporarily remove other CI runs for testing
  projects/rocprofiler-compute/.github/ci-matrix.yml
Due: .azuredevops/rocm_ci_caller.yml

3 levels down to include header and the lib
  projects/rocr-runtime/libhsakmt/CMakeLists_wsl.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix the wsl wkmi build failure and adjust wkmi.lib path
  projects/rocr-runtime/libhsakmt/CMakeLists.txt
  projects/rocr-runtime/libhsakmt/CMakeLists_wsl.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix the wsl rocr build. get header from wkmi in shared
  projects/rocr-runtime/libhsakmt/CMakeLists_wsl.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Use wkmi from shared/amdgpu-windows-interop/wkmi folder
  projects/rocr-runtime/libhsakmt/CMakeLists.txt
  projects/rocr-runtime/libhsakmt/src/dxg/wkmi/lnx/libwkmi.a
  projects/rocr-runtime/libhsakmt/src/dxg/wkmi/win/dbg/wkmi.lib
  projects/rocr-runtime/libhsakmt/src/dxg/wkmi/win/rel/wkmi.lib
  projects/rocr-runtime/libhsakmt/src/dxg/wkmi/wkmi.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Implement plugin architecture for rocjitsu with dynamic loading and configuration
  emulation/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/interposer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/README.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/logging/README.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/logging/plugin.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/logging/plugin.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/logging/plugin_export.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/plugin_abi.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/plugin_loader.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/plugin_loader.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/README.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/plugin.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/plugin.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/plugins/race_detector/plugin_export.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/logging/logging_test_config.json
  emulation/rocjitsu/tests/race-detector/CMakeLists.txt
  emulation/rocjitsu/tools/rocjitsu/main.cpp
Due: none

Add the shared folder to the sparse checkout
  .github/workflows/rocr-runtime-wsl.yml
Due: none

rocjitsu: Add rocjitsu hooks for HSA_TOOLS_LIB DBT intercept
  emulation/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/external_headers/hsa_headers/hsa/hsa_api_trace_minimal.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbt_hooks.cpp
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/dbt/hsa_hooks_test.cpp
Due: none

address comments
  emulation/rocjitsu/cmake/rj_log.cmake
  emulation/rocjitsu/lib/rocjitsu/external_headers/hsa_headers/hsa/hsa_api_trace_minimal.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/amdgpu_elf.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/hooks/rj_hsa_dbt_hooks.cpp
  emulation/rocjitsu/lib/util/include/util/arena_alloc.h
  emulation/rocjitsu/lib/util/include/util/log.h
  emulation/rocjitsu/tests/dbt/hsa_hooks_test.cpp
Due: none

[rocprofiler-compute] Fix vL1D cache detection on harvested GPUs (#6963)
  projects/rocprofiler-compute/src/utils/specs.py
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

pre-commit
  emulation/rocjitsu/cmake/rj_log.cmake
Due: none

[rocprofiler-systems] Load test_categories.yaml from rocprofsys_tests_dir (PR review)
  projects/rocprofiler-systems/tests/pytest/conftest.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocprofiler-systems] Group tier-label injection above CTest generators (PR review)
  projects/rocprofiler-systems/tests/pytest/conftest.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[RCCL] Support count not multiple of 16 for DDA kernel
  projects/rccl/src/dda_all_reduce_ipc.cu
  projects/rccl/src/include/algorithms/CollCommon.h
  projects/rccl/src/include/algorithms/all_reduce/all_reduce_dda.h
Due: .azuredevops/rocm_ci_caller.yml

rocr: Fix unsigned underflow in P2P SDMA engine count
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[rocprofiler-systems] Emit supplementary tier labels from YAML (PR review)
  projects/rocprofiler-systems/tests/pytest/conftest.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocprofiler-compute]Update RDNA 3.5 to gfx11.5 in documentation (#6682)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/docs/conceptual/cdna/cdna-performance-model.rst
  projects/rocprofiler-compute/docs/conceptual/cdna/system-speed-of-light.rst
  projects/rocprofiler-compute/docs/conceptual/performance-model.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/command-processor.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/gcea.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/gl0-cache.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/gl1-cache.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/gl2-cache.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/grbm.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/rdna-performance-model.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/references.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/shader-engine.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/spi.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/system-speed-of-light.rst
  projects/rocprofiler-compute/docs/conceptual/rdna/wgp.rst
  projects/rocprofiler-compute/docs/conf.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/profiling_counter_grouping_policy.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Use DRM_IOCTL_SYNCOBJ_TIMELINE_WAIT
  projects/rocr-runtime/libhsakmt/include/hsakmt/drm/drm.h
  projects/rocr-runtime/libhsakmt/src/memory.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

removed simm16 argument from build_s_endpgm function
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/tests/dbi/hsa_dbi_smoke_test.cpp
  emulation/rocjitsu/tests/matmul_test.cpp
  emulation/rocjitsu/tests/patch/instruction_builder_test.cpp
Due: none

[rocjitsu] build_s_endpgm Instruction Builder Helper
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/tests/dbi/hsa_dbi_smoke_test.cpp
  emulation/rocjitsu/tests/matmul_test.cpp
  emulation/rocjitsu/tests/patch/instruction_builder_test.cpp
Due: none

addressing Allyson's comments
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/tests/patch/instruction_builder_test.cpp
Due: none

removed param from comment
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
Due: none

fixed clang-format issues
  emulation/rocjitsu/tests/dbi/hsa_dbi_smoke_test.cpp
Due: none

add functional test team split 2d
  projects/rocshmem/include/rocshmem/rocshmem.hpp
  projects/rocshmem/tests/functional_tests/team_split_2d_tester.cpp
  projects/rocshmem/tests/functional_tests/team_split_2d_tester.hpp
  projects/rocshmem/tests/functional_tests/tester.cpp
  projects/rocshmem/tests/functional_tests/tester.hpp
  projects/rocshmem/tests/functional_tests/tester_arguments.cpp
Due: .azuredevops/rocm_ci_caller.yml

[rocshmem] fix issues brought up by copilot
  projects/rocshmem/include/rocshmem/rocshmem.hpp
  projects/rocshmem/src/rocshmem.cpp
  projects/rocshmem/tests/functional_tests/team_split_2d_tester.cpp
Due: .azuredevops/rocm_ci_caller.yml

update Doxygen comment for rocshmem_team_split_2d
  projects/rocshmem/include/rocshmem/rocshmem.hpp
Due: .azuredevops/rocm_ci_caller.yml

[rocshmem] updated based on Copilot review
  projects/rocshmem/tests/functional_tests/team_split_2d_tester.cpp
Due: .azuredevops/rocm_ci_caller.yml

implement rocshmem_team_split_2d
  projects/rocshmem/include/rocshmem/rocshmem.hpp
  projects/rocshmem/src/rocshmem.cpp
Due: .azuredevops/rocm_ci_caller.yml

add functional test to driver
  projects/rocshmem/scripts/functional_tests/driver.sh
Due: .azuredevops/rocm_ci_caller.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
