Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Update CHANGELOG.md
  projects/rocjpeg/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

[ci] Run all builds and tests including RCCL for nightly workflow
  .github/scripts/therock_configure_ci.py
  .github/workflows/therock-ci-nightly.yml
Due: none

Update amd_smi.cc
  projects/amdsmi/src/amd_smi/amd_smi.cc
Due: .azuredevops/rocm_ci_caller.yml

test(AICOMRCCL-96): add MPI tests for destroy/abort with pending collective
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/DestroyPendingCommMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix: use GTest-compatible error macros in DestroyPendingComm tests
  projects/rccl/test/DestroyPendingCommMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix comments in build-docker.sh
  projects/rocprofiler-systems/docker/build-docker.sh
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocprofiler-compute] Use __file__ for native tool path detection
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[ci] Keep RCCL detection step, enable for nightly via Python output
  .github/scripts/therock_configure_ci.py
  .github/workflows/therock-ci-nightly.yml
Due: none

[rocprofiler-compute] Replace bin symlink with Python launcher
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/cmake/rocprof-compute.in
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[ci] Move RCCL detection logic to Python script
  .github/scripts/therock_configure_ci.py
  .github/workflows/therock-ci-nightly.yml
Due: none

projects/RCCL: net_ib: GetPhysProperties fixed to respect rcclParamIbP2pDisableCts
  projects/rccl/ext-src/rocm_netib.patch
  projects/rccl/src/transport/net_ib_cast.cc
Due: .azuredevops/rocm_ci_caller.yml

projects/RCCL: net_ib: report proper maxRecvs value for AINIC
  projects/rccl/ext-src/rocm_netib.patch
  projects/rccl/src/transport/net_ib_cast.cc
Due: .azuredevops/rocm_ci_caller.yml

projects/RCCL: net_ib: simplified ncclIbSendFifoCtsInline handling
  projects/rccl/ext-src/rocm_netib.patch
  projects/rccl/src/transport/net_ib_cast.cc
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-systems] Fix RHEL ROCm install for floating Rocky Linux tags
  projects/rocprofiler-systems/docker/Dockerfile.rhel
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[ci] Restore mutual exclusion between regular CI and RCCL CI
  .github/workflows/therock-ci-nightly.yml
Due: none

integrate symmetric memory PR 3741
  projects/rccl/src/include/nccl_device/barrier.h
  projects/rccl/src/include/nccl_device/coop.h
  projects/rccl/src/include/nccl_device/core.h
  projects/rccl/src/include/nccl_device/gin.h
  projects/rccl/src/include/nccl_device/gin/gin_device_common.h
  projects/rccl/src/include/nccl_device/gin/proxy/gin_proxy.h
  projects/rccl/src/include/nccl_device/gin_barrier.h
  projects/rccl/src/include/nccl_device/impl/barrier__funcs.h
  projects/rccl/src/include/nccl_device/impl/core__funcs.h
  projects/rccl/src/include/nccl_device/impl/gin__funcs.h
  projects/rccl/src/include/nccl_device/impl/gin_barrier__funcs.h
  projects/rccl/src/include/nccl_device/impl/gin_barrier__types.h
  projects/rccl/src/include/nccl_device/impl/ll_a2a__funcs.h
  projects/rccl/src/include/nccl_device/impl/ll_a2a__types.h
  projects/rccl/src/include/nccl_device/impl/ptr__funcs.h
  projects/rccl/src/include/nccl_device/ll_a2a.h
  projects/rccl/src/include/nccl_device/ptr.h
  projects/rccl/src/include/nccl_device/utility.h
Due: .azuredevops/rocm_ci_caller.yml

adding updates
  .github/scripts/therock_configure_ci.py
  .github/workflows/therock-ci.yml
Due: none

Update graph path
  projects/clr/hipamd/include/hip/amd_detail/hip_profiler_ext.h
  projects/clr/hipamd/src/profiler/hip_clr_dispatch_wrappers.cpp
  projects/clr/hipamd/src/profiler/hip_clr_profiler.cpp
  projects/clr/hipamd/src/profiler/hip_clr_profiler.hpp
Due: .azuredevops/rocm_ci_caller.yml

Add guards for gfx1250 to rocflop.cpp sample- gfx1250 does not support mfma builtins. Add rocflop.cpp to exclusion list for copyright header check since it is copied from an AMDer's git account.
  projects/rocprofiler-compute/sample/rocflop.cpp
  projects/rocprofiler-compute/tools/copyright_header_check.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

adding update to run all
  .github/workflows/therock-ci-nightly.yml
  .github/workflows/therock-ci.yml
Due: none

Release old release management information
  projects/rocprofiler-compute/MAINTAINERS.md
Due: .azuredevops/rocm_ci_caller.yml

bootstrap: enable bidir AllGather by default with rank threshold
  projects/rccl/src/bootstrap.cc
Due: .azuredevops/rocm_ci_caller.yml

Apply review comment and add LD_LIBRARY_PATH to base python env
  projects/rocprofiler-systems/README.md
  projects/rocprofiler-systems/tests/pytest/rocprofsys/config.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

remove rhel-10 with rocm7.0
  projects/rocprofiler-systems/docker/containers.yml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Apply suggestions from code review
  projects/rocprofiler-compute/sample/rocflop.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[rocprofiler-compute] Add copyright header to rocflop.cpp sample
  projects/rocprofiler-compute/sample/rocflop.cpp
  projects/rocprofiler-compute/tools/copyright_header_check.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

perfxpert: export diff specialist from agents package
  experimental/python/perfxpert/perfxpert/agents/__init__.py
  experimental/python/perfxpert/tests/test_agents/test_tool_allowlist_guardrail.py
Due: none

perfxpert: align architecture overview with 8-agent hierarchy
  experimental/python/perfxpert/docs/architecture.md
Due: none

perfxpert: align architecture overview with gate runtime
  experimental/python/perfxpert/docs/architecture.md
Due: none

perfxpert: fix stale opencode launcher docstring
  experimental/python/perfxpert/perfxpert/cli/opencode_launcher.py
Due: none

Loosen causal regex
  projects/rocprofiler-systems/tests/pytest/test_causal.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[rocprofiler-systems] Fix and document docker-compose.yml
  projects/rocprofiler-systems/docker/docker-compose.yml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Multi-node docker setup
  projects/rccl/docker/Dockerfile.Multinode.Ubuntu
  projects/rccl/docker/README.md
  projects/rccl/docker/entrypoint.sh
  projects/rccl/docker/multi-node-docker-readme.md
  projects/rccl/docker/setup_multinode.sh
  projects/rccl/docs/index.rst
  projects/rccl/docs/install/docker-install.rst
Due: .azuredevops/rocm_ci_caller.yml

hip-tests: Remove graph profiling timestamp tests
  projects/hip-tests/catch/config/configs/unit/graph.yaml
  projects/hip-tests/catch/unit/graph/CMakeLists.txt
  projects/hip-tests/catch/unit/graph/hipGraphProfilingTimestamps.cc
  projects/hip-tests/catch/unit/graph/hipGraphProfilingTimestamps_standalone.cpp
Due: .azuredevops/rocm_ci_caller.yml

hip: Add memory registering and device setting wrappers.
  projects/hipfile/src/amd_detail/hip.cpp
  projects/hipfile/src/amd_detail/hip.h
  projects/hipfile/test/amd_detail/mhip.h
Due: .azuredevops/rocm_ci_caller.yml

hip: Add class to set HIP device and revert on destruction.
  projects/hipfile/src/amd_detail/hip.cpp
  projects/hipfile/src/amd_detail/hip.h
Due: .azuredevops/rocm_ci_caller.yml

async: Use registered memory for fallback async ops.
  projects/hipfile/src/amd_detail/backend/asyncop-fallback.cpp
  projects/hipfile/src/amd_detail/backend/asyncop-fallback.h
  projects/hipfile/test/amd_detail/async.cpp
  projects/hipfile/test/system/async.cpp
Due: .azuredevops/rocm_ci_caller.yml

hip: Add class to register memory and deregister on destruction.
  projects/hipfile/src/amd_detail/hip.cpp
  projects/hipfile/src/amd_detail/hip.h
Due: .azuredevops/rocm_ci_caller.yml

test: Make test helper functions use async operations on a separate stream.
  projects/hipfile/test/system/async.cpp
Due: .azuredevops/rocm_ci_caller.yml

Update Dockerfile SHA
  .github/workflows/therock-ci-linux.yml
Due: none

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
