Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Update projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

run ruff
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Update grafana deprecation msg with release #
  projects/rocprofiler-compute/src/rocprof_compute_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

address comments
  projects/rocprofiler/CHANGELOG.md
Due: .azuredevops/rocm_ci_caller.yml

Alter alignement requirement
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_vector_types.h
Due: .azuredevops/rocm_ci_caller.yml

Add testing
  projects/hip-tests/catch/unit/deviceLib/CMakeLists.txt
  projects/hip-tests/catch/unit/deviceLib/fp8_e8m0.cc
Due: .azuredevops/rocm_ci_caller.yml

Fix syntax error in azure subtree script
  .github/scripts/azure_resolve_subtree_deps.py
Due: none

rocprof-compute update rocprofv3 avail lib path
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Ensure quote consistency in matrix values for aqlprofile/sdk
  .github/workflows/aqlprofile-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Add ROCM_VERSION env variable for aqlprofile/sdk CI workflows
  .github/workflows/aqlprofile-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

SWDEV-546345-Extendted tests for memCpyBatchAsync Apis(Memory management)
  projects/hip-tests/catch/unit/memory/CMakeLists.txt
  projects/hip-tests/catch/unit/memory/hipMemcpyBatchAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

Fix documentation to match function signature
  projects/rocm-smi-lib/include/rocm_smi/rocm_smi.h
Due: .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml

Refactor to get matrix consistency between aqprofile/sdk, use ROCM_PATH in more places
  .github/workflows/aqlprofile-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Add PYTHON_VENV env variables to aqlprofile/sdk
  .github/workflows/aqlprofile-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

Apply matrix changes and ROCM_VERSION env variable to sdk code cov
  .github/workflows/rocprofiler-sdk-code_coverage.yml
Due: none

Remove gfx110X and gfx120X for now
  .github/workflows/rocprofiler-systems-containers.yml
Due: none

SWDEV-554174 Added hipHostRegisterIoMemory flag in test cases
  projects/hip-tests/catch/unit/memory/hipFree.cc
  projects/hip-tests/catch/unit/memory/hipFreeHost.cc
  projects/hip-tests/catch/unit/memory/hipHostFree.cc
  projects/hip-tests/catch/unit/memory/hipHostRegister.cc
Due: .azuredevops/rocm_ci_caller.yml

bug fixes
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/analysis_tui.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/utils/kernel_view_config.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

SWDEV-554174 : Did formatting corrections
  projects/hip-tests/catch/unit/memory/hipHostFree.cc
  projects/hip-tests/catch/unit/memory/hipHostRegister.cc
Due: .azuredevops/rocm_ci_caller.yml

Initial steps added for rocprofiler-systems-continuous-integration.yml
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

Add new line to end of rocprofiler-systems-continuous-integration.yml
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

ruff
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/config.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/tui_app.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/utils/kernel_view_config.yaml
  projects/rocprofiler-compute/src/rocprof_compute_tui/views/main_view.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/widgets/menu_bar/menu_bar.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix matrix issue in rocprofiler-systems CI workflow
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

Update runner to use mi355
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

Remove sudo from ROCm download step
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

Add Python venv
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

Try to install python venv
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

Add -y to pip venv install commands
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

Add shell: bash to download ROCm step
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

Fix issue in if statement
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

Fix typo in mv command
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

fix arg types
  projects/rocprofiler-compute/src/rocprof_compute_tui/analysis_tui.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/views/main_view.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Fix mv command
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

Update paths
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Due: none

fix profile mode --list options
  projects/rocprofiler-compute/src/rocprof_compute_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

SWDEV-1 Fix a bug of VGPRs
  projects/clr/rocclr/device/rocm/rockernel.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add 30 minute timeout to `Fetch sources`
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
Due: none
