Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Update style & try to trigger comment update
  projects/rocprofiler-systems/scripts/generate-coverage.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Applied suggestions from code review
  .github/workflows/rocprofiler-systems-code-coverage.yml
Due: none

update workflow
  .github/workflows/rocprofiler-systems-code-coverage.yml
Due: none

align workflow
  .github/workflows/rocprofiler-systems-code-coverage.yml
Due: none

apply format
  projects/rocprofiler-systems/scripts/generate-coverage.py
  projects/rocprofiler-systems/tests/validate-rocpd.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

fix ci
  .github/workflows/rocprofiler-systems-code-coverage.yml
Due: none

fix(pytest): correct XNACK capability gating for unified-memory tests
  projects/rocprofiler-systems/tests/pytest/rocprofsys/gpu.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

bump elfutils, incl. min_required, to 0.195
  projects/rocprofiler-systems/cmake/DyninstElfUtils.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[clr] Initialize __managed__ variables during calls to hipMemcpy / hipMemset
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/hipamd/src/hip_module.cpp
  projects/clr/hipamd/src/hip_peer.cpp
  projects/clr/hipamd/src/hip_platform.hpp
  projects/hip-tests/catch/TypeQualifiers/CMakeLists.txt
  projects/hip-tests/catch/TypeQualifiers/hipManagedKeywordDeferredInit.cc
  projects/hip-tests/catch/config/configs/TypeQualifiers.yaml
  projects/hip-tests/catch/config/configs/unit/module.yaml
  projects/hip-tests/catch/include/hip_test_common.hh
  projects/hip-tests/catch/unit/module/CMakeLists.txt
  projects/hip-tests/catch/unit/module/hipManagedKeywordDeferredInit.cc
Due: .azuredevops/rocm_ci_caller.yml

revert to min 0.178
  projects/rocprofiler-systems/cmake/DyninstElfUtils.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fix merge conflicts
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/tests/test_pmc_data_cache.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

improve roctx test
  projects/rocprofiler-systems/examples/roctx/roctx.cpp
  projects/rocprofiler-systems/tests/pytest/test_roctx.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Refactor metric evaluation functions to remove unused config parameter
  projects/rocprofiler-compute/src/utils/metrics/evaluation_pipeline.py
  projects/rocprofiler-compute/src/utils/metrics/expression.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix pre-commit
  projects/rocprofiler-systems/.pre-commit-config.yaml
Due: .azuredevops/rocm_ci_caller.yml

Update docstring in TestPmcDataCache for clarity
  projects/rocprofiler-compute/tests/test_pmc_data_cache.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Merge conflict fix
  projects/rocprofiler-compute/src/utils/metrics/evaluation_pipeline.py
  projects/rocprofiler-compute/src/utils/metrics/expression.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fixed
  projects/rocprofiler-compute/src/utils/metrics/expression.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

try 0.194
  projects/rocprofiler-systems/cmake/DyninstElfUtils.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Refactor tests for PmcDataCache to simplify DataFrame creation
  projects/rocprofiler-compute/tests/test_pmc_data_cache.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

add link to TheRock
  projects/rdc/docs/install/handbook.rst
Due: .azuredevops/rocm_ci_caller.yml

suppress warning
  projects/rocprofiler-systems/cmake/DyninstElfUtils.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

get back to 0.195
  projects/rocprofiler-systems/cmake/DyninstElfUtils.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

[RCCL] net-ib: drop duplicate ibvWcStatusStr/ibvWcOpcodeStr definitions
  projects/rccl/src/transport/net_ib.cc
Due: .azuredevops/rocm_ci_caller.yml

Gin proxy tests: Initial commit
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/device/GinDeviceTests.cpp
  projects/rccl/test/transport/GinMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

fix tests
  projects/rocprofiler-systems/tests/pytest/test_roctx.py
  projects/rocprofiler-systems/tests/rocpd-validation-rules/roctx/sdk-metrics-rules.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

ROCr: Add a runtime interface to configure RAS poison-consumption SIGBUS
  projects/rocr-runtime/libhsakmt/include/hsakmt/drm/amdgpu_drm.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/util/flag.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

add -pthread and format cmake
  projects/rocprofiler-systems/cmake/DyninstElfUtils.cmake
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

formatting
  projects/rocprofiler-systems/tests/pytest/test_roctx.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

test_runner: add CE suite support, gtest-style suite filtering, and docs
  projects/rccl/tools/scripts/test_runner/README.md
  projects/rccl/tools/scripts/test_runner/lib/__init__.py
  projects/rccl/tools/scripts/test_runner/lib/test_executor.py
  projects/rccl/tools/scripts/test_runner/lib/test_parser.py
  projects/rccl/tools/scripts/test_runner/test_runner.py
Due: .azuredevops/rocm_ci_caller.yml

clr: Address review comments for GPU fault error messages
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.hpp
Due: .azuredevops/rocm_ci_caller.yml

Add a simplified perf-comparison framework that can generate a heatmap graphs and individual latency graphs for each test automatically
  projects/rocshmem/scripts/functional_tests/README-perf_compare.md
  projects/rocshmem/scripts/functional_tests/driver.sh
  projects/rocshmem/scripts/functional_tests/perf_compare.py
  projects/rocshmem/scripts/functional_tests/run_perf_compare.sh
Due: .azuredevops/rocm_ci_caller.yml

Add documentation for the docker based perf comparison
  projects/rocshmem/docker/Dockerfile.ubuntu
  projects/rocshmem/scripts/functional_tests/README-perf_compare.md
Due: .azuredevops/rocm_ci_caller.yml

Add workflow to close stale PRs
  .github/workflows/close-stale-prs.yml
Due: none

Install example
  projects/rocprofiler-systems/examples/openmp/fortran/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

hip-test: Update error threshold for fp16 test to fix sporadic failures
  projects/hip-tests/catch/unit/deviceLib/fp16_atomic_test.cc
Due: .azuredevops/rocm_ci_caller.yml

Fix return type for increment/decrement helpers
  projects/clr/hipamd/src/hip_mempool_impl.hpp
Due: .azuredevops/rocm_ci_caller.yml

clr: Optimize memory reuse in Graph for alloc nodes
  projects/clr/hipamd/src/hip_graph.cpp
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/hipamd/src/hip_mempool_impl.cpp
  projects/clr/hipamd/src/hip_mempool_impl.hpp
Due: .azuredevops/rocm_ci_caller.yml

Prevent memory stealing by another concurrent graph by remapping alloc node to different phys mem
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/hip-tests/catch/unit/graph/hipGraphAllocNodeMemReuse.cc
Due: .azuredevops/rocm_ci_caller.yml

Fix copilot comments for properly handling graphExec
  projects/clr/hipamd/src/hip_graph.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
