Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

Check if coop launch is supported (#10764)
  projects/hip-tests/catch/unit/cooperativeGrps/thread_block_tile.cc
Due: .azuredevops/rocm_ci_caller.yml

fix(clr): hipMemcpyPeer should sync with both src and dst devices (#10229)
  projects/clr/hipamd/src/hip_device.cpp
  projects/clr/hipamd/src/hip_internal.hpp
  projects/clr/hipamd/src/hip_peer.cpp
  projects/hip-tests/catch/config/configs/unit/memory.yaml
  projects/hip-tests/catch/unit/memory/hipGetProcAddressMemoryApis.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyPeer.cc
Due: .azuredevops/rocm_ci_caller.yml

feat(rocSHMEM): validate and propagate GPU_TARGETS feature suffixes, #AIROCSHMEM-497 (#10520)
  projects/rocshmem/CMakeLists.txt
  projects/rocshmem/DEBUG.md
  projects/rocshmem/cmake/DeviceBitcode.cmake
  projects/rocshmem/docs/build.rst
  projects/rocshmem/tests/functional_tests/CMakeDeviceBitcodeTester.cmake
Due: .azuredevops/rocm_ci_caller.yml

[rocjitsu][CI] Run GCC sanitizer lane with UBSan only (#10810)
  .github/workflows/rocjitsu-corpus-tests.yml
Due: none

fix(rocprofiler-systems): Reintroduce closeSymtab (#10766)
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/rocprof-sys-instrument.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

feat(ci): pin TheRock workflows to b45a060 (#10748)
  .github/workflows/media-libs-ci.yml
  .github/workflows/rccl-ci.yml
  .github/workflows/rccl-suite.yml
  .github/workflows/therock-build-linux.yml
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-multi-arch-ci-asan-nightly.yml
  .github/workflows/therock-multi-arch-ci-asan.yml
  .github/workflows/therock-multi-arch-ci-nightly.yml
  .github/workflows/therock-multi-arch-ci.yml
  .github/workflows/therock-rccl-ci-linux.yml
  .github/workflows/therock-rccl-test-jax-collective.yml
  .github/workflows/therock-rccl-test-packages-multi-node.yml
  .github/workflows/therock-rccl-test-packages-single-node.yml
  .github/workflows/therock-rccl-test-pytorch-distributed.yml
  .github/workflows/therock-rccl-test-rocprof.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

[rocjitsu] Handle SMEM SGPR-offset (IMM=0) form on GFX9/CDNA (#10250)
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/addr_calc.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna1/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna2/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/smem.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/addr_calc_scalar.h
  emulation/rocjitsu/tests/amdgpu_vm_test.cpp
  emulation/rocjitsu/tests/decode_smoke_test.cpp
  emulation/rocjitsu/tests/kfd_ioctl_test.cpp
  emulation/rocjitsu/tests/shared_infra_test.cpp
  emulation/rocjitsu/tests/wave_debug_test.cpp
Due: none

[rocjitsu] DBI: Run hardware-gated end-to-end tests on simulator (#10784)
  .github/workflows/rocjitsu-corpus-tests.yml
  emulation/rocjitsu/cmake/rj_run_filtered_gtest.cmake
  emulation/rocjitsu/configs/gfx90a_mi210_kmd.json
  emulation/rocjitsu/docs/configuration.md
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/config_test.cpp
Due: none

rocjitsu: suppress GCC false-positive warnings on ppc64le (#10827)
  emulation/rocjitsu/CMakeLists.txt
Due: none

fix(rocprofiler-systems): request OpenMP 5.0 for the Fortran host example (#10597)
  projects/rocprofiler-systems/examples/openmp/fortran/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

test(rccl): cover RMA proxy inflight-request flow control (#10570)
  projects/rccl/.gitignore
  projects/rccl/test/host/CMakeLists.txt
  projects/rccl/test/host/MICROTEST_README.md
  projects/rccl/test/host/ScopedHook.h
  projects/rccl/test/host/fakes/rma_fakes.cc
  projects/rccl/test/host/fakes/rma_fakes.h
  projects/rccl/test/host/p2p-test.cc
  projects/rccl/test/host/rma-proxy-progress-test.cc
  projects/rccl/test/host/run_host_tests.sh
  projects/rccl/test/test_categories_micro.yaml
Due: .azuredevops/rocm_ci_caller.yml

fix(ci): sanity GPU check excluded for CPU runners (#10828)
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

rccl/gin-gda: add rocSHMEM-GDA AllToAll device template unit tests
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/device/GinRocshmemGdaTemplate_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

rccl/gin-sdma: fix SDMA unit-test shadow so Fixtures build compiles
  projects/rccl/test/device/GinAnvilIpcDevice_test.cpp
  projects/rccl/test/device/sdma/anvil_device.hpp
Due: .azuredevops/rocm_ci_caller.yml

rccl/gin-gda: fix GDA device-template test so it builds and runs
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/device/GinRocshmemGdaTemplate_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

Fix GIN fixture tests for current device header API.
  projects/rccl/test/device/GinAnvilIpcDevice_test.cpp
  projects/rccl/test/device/GinAnvilSdmaTemplate_test.cpp
  projects/rccl/test/device/GinRocshmemGdaTemplate_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

Wire GIN Anvil unit tests into gin CI sbatch pipeline.
  projects/rccl/tools/ci/lib/gin-tests.json
  projects/rccl/tools/ci/lib/gin.sbatch
  projects/rccl/tools/ci/lib/parse_gin_config.py
  projects/rccl/tools/ci/run-gin-ci.sh
Due: .azuredevops/rocm_ci_caller.yml

Fix Flush call sites for extended ncclGinApi_Flush signature.
  projects/rccl/test/device/GinAnvilIpcDevice_test.cpp
  projects/rccl/test/device/GinAnvilSdmaTemplate_test.cpp
  projects/rccl/test/device/GinRocshmemGdaTemplate_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

test(rccl): link host rocSHMEM into Fixtures for gin CI load
  projects/rccl/test/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

rccl/gin-sdma: fix IPC fused-signal fixture on MI355 (gfx950)
  projects/rccl/test/device/GinAnvilIpcDevice_test.cpp
Due: .azuredevops/rocm_ci_caller.yml

ci(rccl/gin): build only UnitTestsFixtures in gin.sbatch
  projects/rccl/tools/ci/lib/gin.sbatch
Due: .azuredevops/rocm_ci_caller.yml

fix(rocjitsu): Fix non-returning DS atomic and user-SGPR decoding (#10698)
  emulation/rocjitsu/lib/python/amdisa/codegen/_generator.py
  emulation/rocjitsu/lib/python/amdisa/tests/test_generator_profile_gates.py
  emulation/rocjitsu/lib/rocjitsu/external_headers/hsa_headers/hsa/AMDHSAKernelDescriptor.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/kernel_descriptor_scan.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/kernel_descriptor_scan.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna1/ds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna2/ds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna3/ds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna4/ds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/cdna5/vds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna1/ds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna2/ds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3/ds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna3_5/ds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/generated/rdna4/vds_exec.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.cpp
  emulation/rocjitsu/tests/cdna5_dispatch_memory_test.cpp
  emulation/rocjitsu/tests/cdna5_instruction_test.cpp
  emulation/rocjitsu/tests/cdna5_sim_test_common.h
  emulation/rocjitsu/tests/dbt/translate_gfx1250_test.cpp
Due: none

test(rccl/gin): address pvallem review on CI parser, CMake ABI, and GDA stub
  projects/rccl/CMakeLists.txt
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/device/GinRocshmemGdaTemplate_test.cpp
  projects/rccl/tools/ci/lib/gin-tests.json
  projects/rccl/tools/ci/lib/parse_gin_config.py
  projects/rccl/tools/ci/lib/test_parse_gin_config.py
  projects/rccl/tools/ci/run-gin-ci.sh
Due: .azuredevops/rocm_ci_caller.yml

perf(rocjitsu): snapshot scalar f32 MFMA operands (#10706)
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/mma_exec.h
  emulation/rocjitsu/tests/shared_infra_test.cpp
Due: none

fix(rocprofiler-systems): Fix incorrect capability gates and faulty code (#9814)
  .github/workflows/rocprofiler-systems-code-coverage.yml
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/perf.cpp
  projects/rocprofiler-systems/tests/pytest/conftest.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/capabilities.py
  projects/rocprofiler-systems/tests/rocprof-sys-capchk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

perf(rocjitsu): use native SIMD width for f32 MFMA (#10702)
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/mma_exec.h
  emulation/rocjitsu/tests/execution_plugin_test.cpp
  emulation/rocjitsu/tests/simd_correctness/mfma_simd_exact_test.cpp
Due: none

[rocprofiler-sdk] keep ATT completion callback active after marker pause (#7762)
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/profile_serializer.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/profile_serializer.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.hpp
  projects/rocprofiler-sdk/tests/bin/roctx-pause-resume/roctx-pause-resume.cpp
  projects/rocprofiler-sdk/tests/rocprofv3/roctx-pause-resume/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/roctx-pause-resume/att/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/roctx-pause-resume/att/conftest.py
  projects/rocprofiler-sdk/tests/rocprofv3/roctx-pause-resume/att/pytest.ini
  projects/rocprofiler-sdk/tests/rocprofv3/roctx-pause-resume/att/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

ci(rocprofiler-systems): adjust clang-tidy settings (#10756)
  projects/rocprofiler-systems/.clang-tidy
  projects/rocprofiler-systems/scripts/clang-tidy-check.py
  projects/rocprofiler-systems/scripts/test_clang_tidy_check.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

perf(rocjitsu): use native SIMD width for f32 WMMA (#10710)
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/mma_exec.h
  emulation/rocjitsu/tests/execution_plugin_test.cpp
Due: none

fix(amdsmi): repair the SPDX header check, which fails on develop
  projects/amdsmi/tests/amd_smi_test/unit/system/status_string_test.cc
  projects/amdsmi/tests/check_license_headers.py
  projects/amdsmi/tests/python/unit/gpu/test_cli_vram_type_lpddr5.py
  projects/amdsmi/tests/python/unit/system/test_expect_status.py
Due: .azuredevops/rocm_ci_caller.yml

fix(rocprofiler-sdk): rocpd modules should be backwards compatible (#8635)
  projects/rocprofiler-sdk/cmake/Modules/Findrocprofiler_sdk_pytest.cmake
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/details/mpl.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/perfetto.hpp
  projects/rocprofiler-sdk/source/lib/common/mpl.hpp
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
  projects/rocprofiler-sdk/source/lib/output/sql/common.cpp
  projects/rocprofiler-sdk/source/lib/output/sql/common.hpp
  projects/rocprofiler-sdk/source/lib/python/rocpd/csv.py
  projects/rocprofiler-sdk/source/lib/python/rocpd/features.py
  projects/rocprofiler-sdk/source/lib/python/rocpd/importer.py
  projects/rocprofiler-sdk/source/lib/python/rocpd/libpyrocpd.cpp
  projects/rocprofiler-sdk/source/lib/python/rocpd/otf2.py
  projects/rocprofiler-sdk/source/lib/python/rocpd/source/perfetto.cpp
  projects/rocprofiler-sdk/source/lib/python/rocpd/source/perfetto.hpp
  projects/rocprofiler-sdk/source/lib/python/rocpd/source/serialization/sql.cpp
  projects/rocprofiler-sdk/source/lib/python/rocpd/source/serialization/sql.hpp
  projects/rocprofiler-sdk/source/lib/python/rocpd/source/sql_generator.hpp
  projects/rocprofiler-sdk/source/lib/python/rocpd/source/types.hpp
  projects/rocprofiler-sdk/source/lib/python/utilities.cmake
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocpd/details/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocpd/details/operators.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-rocpd/sql.cpp
  projects/rocprofiler-sdk/tests/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocpd-back-compat/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocpd-back-compat/conftest.py
  projects/rocprofiler-sdk/tests/rocpd-back-compat/make_db.py
  projects/rocprofiler-sdk/tests/rocpd-back-compat/pytest.ini
  projects/rocprofiler-sdk/tests/rocpd-back-compat/validate.py
  projects/rocprofiler-sdk/tests/rocprofv3/kernel-trace-duration/validate.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rocjitsu] Fix DRM header propagation and GCC 15 builds (#10716)
  emulation/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/cmake/rj_add_object_library.cmake
  emulation/rocjitsu/cmake/rj_configure_target.cmake
  emulation/rocjitsu/lib/rocjitsu/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/external_headers/drm_headers/libdrm/amdgpu_drm.h
  emulation/rocjitsu/lib/rocjitsu/external_headers/drm_headers/libdrm/drm.h
  emulation/rocjitsu/lib/rocjitsu/external_headers/drm_headers/libdrm/drm_mode.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/kmd/linux/interposer.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/lds.h
  emulation/rocjitsu/tests/CMakeLists.txt
  emulation/rocjitsu/tests/drm_info_layout_test.cpp
  emulation/rocjitsu/tests/interposer_dup_test.cpp
Due: none

fix(rocr): lock AsyncEventsPool::clear() against concurrent alloc
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[rocjitsu] Make XCD packet replication test deterministic (#10800)
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/command_processor.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/vm/amdgpu/dispatch_entry.h
  emulation/rocjitsu/tests/xcd_distribution_test.cpp
Due: none

[rocprofiler-sdk] Fall back to cloning externals when submodule update is unavailable (#7846)
  projects/rocprofiler-sdk/cmake/rocprofiler_utilities.cmake
  projects/rocprofiler-sdk/external/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(roprofiler-sdk): aqlprofile overloaded-virtual shadow (#10744)
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/gfx10_cmd_builder.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/gfx11_cmd_builder.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/gfx12_cmd_builder.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rocjitsu] Stabilize the public GPU target enum ABI. (#10850)
  emulation/rocjitsu/lib/rocjitsu/include/rocjitsu/code/rj_code.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/target_registry.cpp
  emulation/rocjitsu/tests/isa_target_registry_test.cpp
Due: none

chore(rccl): add rccl-leads as code owner for rccl and rccl-tests (#9883)
  .github/CODEOWNERS
Due: none
