Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

Update with test of regular rccl (host initiated) alltoall.
  docker_build_test.bash
Due: none

Update the docker build to install librccl-gin.so from the correct path.
  Dockerfile-rccl-gin-anvil
  docker_build_test.bash
Due: none

[rocprofiler-systems] Extract rank_passes_filter pure core for unit testing
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/core/config.hpp
  projects/rocprofiler-systems/source/lib/core/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/tests/test_rank_passes_filter.cpp
  projects/rocprofiler-systems/source/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Update build and test script.
  docker_build_test.bash
  projects/rccl/src/dev_runtime.cc
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-systems] Guard rank_passes_filter declaration behind shared MPI macro
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/core/config.hpp
  projects/rocprofiler-systems/source/lib/core/tests/test_rank_passes_filter.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

review comments incorporated
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_unified_memory_processor.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

feat(hipfile/python): add async stream I/O bindings
  projects/hipfile/python/hipfile/__init__.py
  projects/hipfile/python/hipfile/_chipfile.pxd
  projects/hipfile/python/hipfile/_hipfile.pyx
  projects/hipfile/python/hipfile/file.py
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-systems] Add parse_numeric_range test for stride overshooting range end
  projects/rocprofiler-systems/source/lib/core/tests/test_parse_numeric_range.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Simplify the test script for perf eval.
  docker_build_test.bash
Due: none

[hip-tests] Skip discard NegativeTests when HMM unsupported
  projects/hip-tests/catch/unit/memory/hipMemDiscardBatchAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

HRR: zero-init replay allocations + graceful divergence-abort
  projects/clr/hipamd/src/hrr/playback/hip_playback.cpp
  projects/clr/hipamd/src/hrr/playback/hip_playback.h
  projects/clr/hipamd/src/hrr/playback/hrr_playback.cpp
Due: .azuredevops/rocm_ci_caller.yml

rocjitsu: Use local code caves instead of local code caves
  emulation/rocjitsu/docs/dbt-design.md
  emulation/rocjitsu/docs/rj_dbt_translate.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/amdgpu_code_object.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/amdgpu_elf.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/code_object.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/rj_code.cpp
  emulation/rocjitsu/tests/dbt/device_kernels_translate_tests.cpp
  emulation/rocjitsu/tests/dbt/translate_test.cpp
  emulation/rocjitsu/tools/dbt_translate.cpp
  emulation/rocjitsu/tools/dbt_translate_main.cpp
Due: none

amdsmi: replace native CHANGELOG with WSL release notes
  amdsmi/CHANGELOG.md
  amdsmi/DEBIAN/changelog.in
Due: none

amdsmi: package WSL library separately
  amdsmi/CMakeLists.txt
  amdsmi/DEBIAN/postinst.in
  amdsmi/DEBIAN/prerm.in
  amdsmi/DEBIAN/rocdxg-amd-smi-lib-tests/prerm.in
  amdsmi/DEBIAN/x86_64-libamd_smi_lib.conf
  amdsmi/README.md
  amdsmi/cmake/install_wsl_amdsmi_pth.cmake.in
  amdsmi/env.sh.in
  amdsmi/profile.d/rocdxg-amd-smi-lib.sh.in
  amdsmi/py-interface/amdsmi_wrapper.py
  amdsmi/py-interface/pyproject.toml.in
  amdsmi/tests/python_unittest/README.md
  amdsmi/tests/python_unittest/__init__.py
  amdsmi/tests/python_unittest/cli_unit_test.py
  amdsmi/tests/python_unittest/common.py
  amdsmi/tests/python_unittest/integration_test.py
  amdsmi/tests/python_unittest/perf_cputests.py
  amdsmi/tests/python_unittest/perf_tests.py
  amdsmi/tests/python_unittest/unit_tests.py
  amdsmi/zz-wsl-amdsmi.pth.in
Due: none

rocr/thunk: Trim shared boundary pages on SVM-API deregister.
  projects/rocr-runtime/libhsakmt/src/fmm.c
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Address comments
  emulation/rocjitsu/docs/dbt-design.md
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/CMakeLists.txt
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_text_layout.cpp
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_text_layout.h
  emulation/rocjitsu/tools/dbt_translate_main.cpp
Due: none

fix build
  emulation/rocjitsu/lib/rocjitsu/src/rocjitsu/code/amdgpu_code_object.cpp
Due: none

fix(rocprof-sys): handle missing PWD for UMP paths
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_unified_memory_processor.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

add tests
  emulation/rocjitsu/tests/dbt/translate_test.cpp
Due: none

Static co avoid retain
  projects/clr/hipamd/src/hip_global.cpp
  projects/clr/hipamd/src/hip_global.hpp
  projects/clr/hipamd/src/hip_platform.cpp
  projects/clr/rocclr/platform/command.cpp
  projects/clr/rocclr/platform/kernel.cpp
  projects/clr/rocclr/platform/kernel.hpp
Due: .azuredevops/rocm_ci_caller.yml

Cleanup
  projects/clr/hipamd/src/hip_global.hpp
  projects/clr/rocclr/include/top.hpp
  projects/clr/rocclr/platform/command.cpp
  projects/clr/rocclr/platform/kernel.hpp
  projects/clr/rocclr/thread/monitor.hpp
Due: .azuredevops/rocm_ci_caller.yml

Mitigate false sharing
  projects/clr/rocclr/include/top.hpp
  projects/clr/rocclr/platform/command.cpp
  projects/clr/rocclr/thread/monitor.hpp
Due: .azuredevops/rocm_ci_caller.yml

rocr: Fix GPU core dump EPERM on self-debugging queue suspend
  projects/rocr-runtime/libhsakmt/src/debug.c
  projects/rocr-runtime/runtime/hsa-runtime/libamdhsacode/lnx/amd_core_dump.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Add gfx1154 target support
  projects/clr/hipamd/src/amd_hsa_elf.hpp
  projects/clr/hipamd/src/hip_comgr_helper.cpp
  projects/clr/hipamd/src/hip_fatbin.cpp
  projects/clr/rocclr/device/device.cpp
  projects/clr/rocclr/device/pal/paldevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/rocr-runtime/libhsakmt/tests/kfdtest/scripts/kfdtest.exclude
  projects/rocr-runtime/rocrtst/suites/test_common/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/isa.cpp
  projects/rocr-runtime/runtime/hsa-runtime/image/blit_kernel.cpp
  projects/rocr-runtime/runtime/hsa-runtime/image/blit_src/CMakeLists.txt
  projects/rocr-runtime/runtime/hsa-runtime/inc/amd_hsa_elf.h
  projects/rocr-runtime/runtime/hsa-runtime/libamdhsacode/amd_hsa_code.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

[AMD-SMI] Rework agents into a Planning-led orchestration system
  projects/amdsmi/.github/agents/amdsmi-development.agent.md
  projects/amdsmi/.github/agents/amdsmi-planning.agent.md
  projects/amdsmi/.github/agents/amdsmi-review-architecture.agent.md
  projects/amdsmi/.github/agents/amdsmi-review-docs.agent.md
  projects/amdsmi/.github/agents/amdsmi-review-spec.agent.md
  projects/amdsmi/.github/agents/amdsmi-review.agent.md
  projects/amdsmi/.github/copilot-instructions.md
Due: .azuredevops/rocm_ci_caller.yml

[AMD-SMI] Add agent output conventions and guide rules
  projects/amdsmi/.claude/rules/output-conventions.md
  projects/amdsmi/CLAUDE.md
Due: .azuredevops/rocm_ci_caller.yml

[AMD-SMI] Restructure and prefix the agent skill library
  projects/amdsmi/.claude/skills/amdsmi-agent-handoff/SKILL.md
  projects/amdsmi/.claude/skills/amdsmi-changelog-automation/SKILL.md
  projects/amdsmi/.claude/skills/amdsmi-commit-and-pr-conventions/SKILL.md
  projects/amdsmi/.claude/skills/amdsmi-interrogate/SKILL.md
  projects/amdsmi/.claude/skills/amdsmi-restructure-commits/SKILL.md
  projects/amdsmi/.claude/skills/amdsmi-using-git-worktrees/SKILL.md
  projects/amdsmi/.claude/skills/brainstorming/SKILL.md
  projects/amdsmi/.claude/skills/executing-plans/SKILL.md
  projects/amdsmi/.claude/skills/test-driven-development/SKILL.md
  projects/amdsmi/.claude/skills/writing-plans/SKILL.md
Due: .azuredevops/rocm_ci_caller.yml

[AMD-SMI] Add agent context store
  projects/amdsmi/.claude/context/CONTEXT.md
  projects/amdsmi/.claude/context/agent-flow.md
Due: .azuredevops/rocm_ci_caller.yml

[AMD-SMI] Disambiguate overloaded GPU terms in user docs
  projects/amdsmi/docs/how-to/amdsmi-cli-tool.md
  projects/amdsmi/docs/how-to/amdsmi-cpp-lib.md
  projects/amdsmi/docs/reference/amdsmi-py-api.md
Due: .azuredevops/rocm_ci_caller.yml

[AMD-SMI] Add llms.txt docs index via rocm-docs-core
  projects/amdsmi/docs/conf.py
  projects/amdsmi/docs/llms.txt
Due: .azuredevops/rocm_ci_caller.yml

[AMD-SMI] Reference llms docs indexes in docs reviewer
  projects/amdsmi/.github/agents/amdsmi-review-docs.agent.md
Due: .azuredevops/rocm_ci_caller.yml

[AMD-SMI] Add power cap lower-bound test and changelog
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/tests/python_unittest/cli_unit_test.py
Due: .azuredevops/rocm_ci_caller.yml

style: rename has_swap to hasSwap to match camelCase convention
  projects/clr/rocclr/device/rocm/rocblit.cpp
Due: .azuredevops/rocm_ci_caller.yml

Route same-GPU D2D swap copies through the SDMA path
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/clr/rocclr/device/rocm/rocsettings.cpp
  projects/hip-tests/catch/config/configs/unit/memory.yaml
  projects/hip-tests/catch/unit/memory/hipMemcpyBatchAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

fix: add missing HipTest:: namespace qualifier for HIP_SKIP_TEST
  projects/hip-tests/catch/unit/memory/hipMemcpyBatchAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

test: skip swap copy test on devices without SDMA swap support
  projects/hip-tests/catch/include/hip_test_common.hh
  projects/hip-tests/catch/unit/memory/hipMemcpyBatchAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

Revert "fix: add missing HipTest:: namespace qualifier for HIP_SKIP_TEST"
  projects/hip-tests/catch/unit/memory/hipMemcpyBatchAsync.cc
Due: .azuredevops/rocm_ci_caller.yml

Remove duplicate ncclGinIb* extern declarations from net.h (already in gin.h)
  projects/rccl/src/include/net.h
Due: .azuredevops/rocm_ci_caller.yml

ASAN build fix
  projects/rocprofiler-systems/tests/pytest/conftest.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/config.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/environment.py
  projects/rocprofiler-systems/tests/pytest/rocprofsys/runners.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Explain hops and weights
  projects/amdsmi/docs/how-to/amdsmi-cli-tool.md
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/py-interface/amdsmi_interface.py
Due: .azuredevops/rocm_ci_caller.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
