Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

fix bug
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Implement HSA profiler serialization with ready_signal support and improve testing infrastructure
  projects/rocprofiler-sdk/cmake/rocprofiler_options.cmake
  projects/rocprofiler-sdk/samples/counter_collection/device_serialized_main.cpp
  projects/rocprofiler-sdk/samples/openmp_target/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/evaluate_ast.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/hsa_barrier.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/hsa_barrier.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/profile_serializer.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/profile_serializer.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.hpp
  projects/rocprofiler-sdk/tests/bin/hsa-code-object/hsa_code_object_app.cpp
  projects/rocprofiler-sdk/tests/bin/openmp/CMakeLists.txt
  projects/rocprofiler-sdk/tests/common/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add type annotation for src/utils/*.
  projects/rocprofiler-compute/src/utils/file_io.py
  projects/rocprofiler-compute/src/utils/gui.py
  projects/rocprofiler-compute/src/utils/kernel_name_shortener.py
  projects/rocprofiler-compute/src/utils/logger.py
  projects/rocprofiler-compute/src/utils/mem_chart.py
  projects/rocprofiler-compute/src/utils/mi_gpu_spec.py
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/src/utils/rocpd_data.py
  projects/rocprofiler-compute/src/utils/roofline_calc.py
  projects/rocprofiler-compute/src/utils/specs.py
  projects/rocprofiler-compute/src/utils/tty.py
  projects/rocprofiler-compute/src/utils/utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add autodetect for mode (profile or analyze) during roof validate and filter Prevent --kernel from affecting roofline in gui mode- although this may be broken in develop branch anyways
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_webui.py
  projects/rocprofiler-compute/src/roofline.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix ruff format and lint
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix test
  projects/rocprofiler-compute/tests/test_TCP_counters.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix test
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix test
  projects/rocprofiler-compute/tests/test_analyze_commands.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Update pm4_factory.cpp
  projects/aqlprofile/src/core/pm4_factory.cpp
Due: .azuredevops/rocm_ci_caller.yml

Update helpers.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/aql/tests/helpers.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix test
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

fix documentation
  projects/rocprofiler-compute/docs/how-to/analyze/cli.rst
  projects/rocprofiler-compute/docs/how-to/profile/mode.rst
Due: .azuredevops/rocm_ci_caller.yml

Fix shadowing
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_post_processing.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Different approach with xcp activity & applied suggestions from code review
  projects/rocprofiler-systems/source/lib/core/trace_cache/metadata_registry.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_post_processing.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/sample_type.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/amd_smi.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/cpu_freq.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Switch cpu_freq to use caching mechanism
  projects/rocprofiler-systems/source/lib/core/trace_cache/buffer_storage.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_post_processing.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_post_processing.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/sample_type.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/storage_parser.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/cpu_freq.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Applied suggestions from code review
  projects/rocprofiler-systems/source/lib/core/trace_cache/metadata_registry.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_post_processing.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/amd_smi.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/cpu_freq.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Applied suggestions from code review
  projects/rocprofiler-systems/source/lib/core/trace_cache/buffer_storage.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/amd_smi.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add VCN and JPEG activity to rocpd
  projects/rocprofiler-systems/source/lib/core/trace_cache/buffer_storage.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_post_processing.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/storage_parser.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/amd_smi.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Move amd-smi to use caching mechanism
  projects/rocprofiler-systems/source/lib/core/trace_cache/buffer_storage.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_post_processing.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/rocpd_post_processing.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/sample_type.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/storage_parser.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/storage_parser.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/amd_smi.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Fix collecting of stream id's for rocpd
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Rebase and address merge conflicts
  projects/hipother/hipnv/include/hip/nvidia_detail/nvidia_hip_runtime_api.h
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-551218 - Fix hip on nvidia build failures
  projects/hipother/hipnv/include/hip/nvidia_detail/nvidia_hip_runtime_api.h
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-545953 - Add hipStreamGetId API header
  projects/hip/include/hip/hip_runtime_api.h
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-545953 - Add Implementation for hipStreamGetId
  projects/clr/CHANGELOG.md
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
  projects/clr/hipamd/include/hip/amd_detail/hip_prof_str.h
  projects/clr/hipamd/src/amdhip.def
  projects/clr/hipamd/src/hip_api_trace.cpp
  projects/clr/hipamd/src/hip_hcc.map.in
  projects/clr/hipamd/src/hip_internal.hpp
  projects/clr/hipamd/src/hip_stream.cpp
  projects/clr/hipamd/src/hip_table_interface.cpp
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-545953 - Add Nvidia mapping for hipStreamGetId
  projects/hipother/hipnv/include/hip/nvidia_detail/nvidia_hip_runtime_api.h
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-545953 - Tests for hipStreamGetId
  projects/hip-tests/catch/unit/stream/CMakeLists.txt
  projects/hip-tests/catch/unit/stream/hipStreamGetId.cc
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-546347 - Updated CMake file
  projects/hip-tests/catch/unit/module/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

fix static asserts and warnings
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/queue_controller.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/agent.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

add working-directory to ver_check step in rocprofiler-compute-packaging.yml
  .github/workflows/rocprofiler-compute-packaging.yml
Due: none

Remove compute mi-rhel9 workflow badge since workflow is no longer in develop
  README.md
Due: none

Update actions to v5 in rocprofiler-compute-docs
  .github/workflows/rocprofiler-compute-docs.yml
Due: none

fix tests
  projects/rocprofiler-compute/tests/test_profile_general.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Added callback and function prototype for prioritization service
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/context.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

SWDEV-550626 - Make atomics test pass with new compiler (#731)
  projects/hip-tests/catch/unit/atomics/min_max_common.hh
Due: .azuredevops/rocm_ci_caller.yml

SWDEV-549700 - Add missing destroy calls
  projects/hip-tests/catch/unit/deviceLib/AtomicsWithRandomActiveLanesInWavefront.cc
  projects/hip-tests/catch/unit/deviceLib/anyAll.cc
  projects/hip-tests/catch/unit/deviceLib/ballot.cc
  projects/hip-tests/catch/unit/deviceLib/bfloat16.cc
  projects/hip-tests/catch/unit/deviceLib/deviceAllocation.cc
  projects/hip-tests/catch/unit/deviceLib/fp8_ocp.cc
  projects/hip-tests/catch/unit/deviceLib/funnelshift.cc
  projects/hip-tests/catch/unit/deviceLib/hipDeviceMemcpy.cc
  projects/hip-tests/catch/unit/deviceLib/hipTestClock.cc
  projects/hip-tests/catch/unit/deviceLib/hipTestFMA.cc
  projects/hip-tests/catch/unit/deviceLib/hipTestHost.cc
  projects/hip-tests/catch/unit/deviceLib/hipTestNew.cc
Due: .azuredevops/rocm_ci_caller.yml
