Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md

This removes the noinline from the helper functions. This allows the ncclDevFunc routines to be separately compiled and for the device linker to knit them back together.
  projects/rccl/src/device/all_gather.h
  projects/rccl/src/device/all_reduce.h
  projects/rccl/src/device/alltoall_pivot.h
  projects/rccl/src/device/broadcast.h
  projects/rccl/src/device/reduce.h
  projects/rccl/src/device/reduce_scatter.h
  projects/rccl/src/device/sendrecv.h
Due: .azuredevops/rocm_ci_caller.yml

checkpoint
  projects/rccl/CMakeLists.txt
  projects/rccl/src/device/common.cu
  projects/rccl/src/device/common.h
  projects/rccl/src/device/generate_specialized.py
  projects/rccl/src/init.cc
  projects/rccl/tools/device_linker/device_linker.cpp
Due: .azuredevops/rocm_ci_caller.yml

Checkpoint, stray trap
  projects/rccl/CMakeLists.txt
  projects/rccl/src/device/reduce_scatter.h
  projects/rccl/tools/device_linker/device_linker.cpp
Due: .azuredevops/rocm_ci_caller.yml

Device linker fixes, cleanup
  projects/rccl/CMakeLists.txt
  projects/rccl/tools/device_linker/CMakeLists.txt
  projects/rccl/tools/device_linker/DEVICE_LINKER_REDESIGN.md
  projects/rccl/tools/device_linker/build.sh
  projects/rccl/tools/device_linker/device_linker.cpp
  projects/rccl/tools/device_linker/merged_minimal.hip
Due: .azuredevops/rocm_ci_caller.yml

Doc redo and minor debugging changes
  projects/rccl/CMakeLists.txt
  projects/rccl/DEVICE_LINKER.md
  projects/rccl/src/device/common.h
  projects/rccl/tools/device_linker/BUILD_PROCESS.md
  projects/rccl/tools/device_linker/CONTEXT.md
  projects/rccl/tools/device_linker/DEVICE_LINKER_REDESIGN.md
  projects/rccl/tools/device_linker/DWARFLINKER_CONTEXT.md
  projects/rccl/tools/device_linker/DWARFLINKER_CONVERSION_PROGRESS.md
  projects/rccl/tools/device_linker/DWARFLINKER_DEBUG_PLAN.md
  projects/rccl/tools/device_linker/DWARFLINKER_FIX_PLAN.md
  projects/rccl/tools/device_linker/DWARFLINKER_FULL_CONVERSION_PLAN.md
  projects/rccl/tools/device_linker/DWARFLINKER_INVESTIGATION_SUMMARY.md
  projects/rccl/tools/device_linker/DWARFLINKER_PLAN.md
  projects/rccl/tools/device_linker/DWARFLINKER_STATUS.md
  projects/rccl/tools/device_linker/DWARF_FIX_PROGRESS.md
  projects/rccl/tools/device_linker/DWARF_LLVM_REWRITE_PLAN.md
  projects/rccl/tools/device_linker/Device_Linker_Architecture.md
  projects/rccl/tools/device_linker/Device_Linker_HowTo.md
  projects/rccl/tools/device_linker/FLAGS_AND_DEVICE_LINKER_EFFECTS.md
  projects/rccl/tools/device_linker/HIP_LOAD_TROUBLESHOOTING.md
  projects/rccl/tools/device_linker/IFC_VS_DEVICE_LINKER_COMPARISON.md
  projects/rccl/tools/device_linker/IN_MEMORY_ARCHITECTURE.md
  projects/rccl/tools/device_linker/LDS_LAYOUT.md
  projects/rccl/tools/device_linker/MULTI_GPU_DEBUG_NOTES.md
  projects/rccl/tools/device_linker/README_GDB.md
  projects/rccl/tools/device_linker/RESOURCE_AUDIT.md
  projects/rccl/tools/device_linker/WARP_SPEED_AND_GPU_TARGET_FLOW.md
  projects/rccl/tools/device_linker/build.sh
Due: .azuredevops/rocm_ci_caller.yml

Checkpoint. Still broken shit
  projects/rccl/tools/device_linker/CONTEXT.md
  projects/rccl/tools/device_linker/DEVICE_LINKER_REDESIGN.md
Due: .azuredevops/rocm_ci_caller.yml

Checkpoint
  projects/rccl/CMakeLists.txt
  projects/rccl/src/device/common.cu
  projects/rccl/src/device/common.h
  projects/rccl/tools/device_linker/CONTEXT.md
  projects/rccl/tools/device_linker/CustomStreamer.cpp
  projects/rccl/tools/device_linker/DEVICE_LINKER_REDESIGN.md
  projects/rccl/tools/device_linker/DWARF_DEBUG_FINDINGS.md
  projects/rccl/tools/device_linker/Device_Linker_Architecture.md
  projects/rccl/tools/device_linker/build_with_device_linker.sh
  projects/rccl/tools/device_linker/device_linker.cpp
Due: .azuredevops/rocm_ci_caller.yml

Refactor device_linker, remove dead code
  projects/rccl/tools/device_linker/device_linker.cpp
Due: .azuredevops/rocm_ci_caller.yml

Using the develop version of enqueue fixed a lot of things
  projects/rccl/src/enqueue.cc
Due: .azuredevops/rocm_ci_caller.yml

more fixes
  projects/hip-tests/catch/unit/graph/hipGraphAddNodeBeginCapture.cc
  projects/hip-tests/catch/unit/graph/hipGraphUpload.cc
  projects/hip-tests/catch/unit/graph/hipStreamBeginCaptureToGraph.cc
  projects/hip-tests/catch/unit/graph/hipStreamGetCaptureInfo_v2_old.cc
  projects/hip-tests/catch/unit/graph/hipStreamUpdateCaptureDependencies.cc
Due: .azuredevops/rocm_ci_caller.yml

more fixes
  projects/hip-tests/catch/unit/graph/hipGraphUpload.cc
  projects/hip-tests/catch/unit/graph/hipStreamEndCapture_old.cc
  projects/hip-tests/catch/unit/graph/hipStreamGetCaptureInfo_old.cc
  projects/hip-tests/catch/unit/graph/hipStreamIsCapturing_old.cc
  projects/hip-tests/catch/unit/graph/hipStreamUpdateCaptureDependencies.cc
  projects/hip-tests/catch/unit/memory/hipMemcpyDeviceToDeviceNoCU.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D16.cc
  projects/hip-tests/catch/unit/memory/hipMemsetD2D16Async.cc
  projects/hip-tests/catch/unit/stream/hipStreamACb_MultiThread.cc
  projects/hip-tests/catch/unit/stream/hipStreamLegacy.cc
Due: .azuredevops/rocm_ci_caller.yml

Add BUILD_PYTHON_LIB support with wheel automation
  projects/amdsmi/DEBIAN/prerm.in
  projects/amdsmi/RPM/post.in
  projects/amdsmi/amdsmi_cli/amdsmi_init.py
  projects/amdsmi/py-interface/CMakeLists.txt
  projects/amdsmi/py-interface/_find_lib.py.in
  projects/amdsmi/py-interface/amdsmi_wrapper.py
Due: .azuredevops/rocm_ci_caller.yml

Fixed CI
  .github/workflows/amdsmi-build.yml
Due: none

Added _find_lib.py.in config file
  projects/amdsmi/amdsmi_cli/amdsmi_init.py
  projects/amdsmi/py-interface/_find_lib.py.in
Due: .azuredevops/rocm_ci_caller.yml

Fixed Python compatibility issue
  projects/amdsmi/amdsmi_cli/amdsmi_init.py
Due: .azuredevops/rocm_ci_caller.yml

Added Python Wheel
  .github/workflows/amdsmi-build.yml
  projects/amdsmi/py-interface/amdsmi_wrapper.py
  projects/amdsmi/src/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Fixed CI & Wrapper
  .github/workflows/amdsmi-build.yml
  projects/amdsmi/py-interface/amdsmi_wrapper.py
Due: .azuredevops/rocm_ci_caller.yml

Added RPM python logic
  projects/amdsmi/RPM/post.in
Due: .azuredevops/rocm_ci_caller.yml

Fixed Python Issues
  .github/workflows/amdsmi-build.yml
Due: none

Use latest available Python instead of hardcoded 3.11
  .github/workflows/amdsmi-build.yml
Due: none

Remove -DBUILD_PYTHON_LIB=ON from all jobs except python-wheel-build-install
  .github/workflows/amdsmi-build.yml
Due: none

Make latest Python detection conditional on RHEL8/AlmaLinux8/SLES
  .github/workflows/amdsmi-build.yml
Due: none

Create separate Python wheel job for Ubuntu22 and RHEL9
  .github/workflows/amdsmi-build.yml
Due: none

Fix amd_smi_python target: add missing NIC include dirs and library
  projects/amdsmi/src/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Fix NIC issues
  projects/amdsmi/src/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml

Add missing AMDSMI_PROCESSOR_TYPE_AMD_NIC to Python wrapper
  projects/amdsmi/py-interface/amdsmi_wrapper.py
Due: .azuredevops/rocm_ci_caller.yml

Ruff
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Ruff
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprof_v3.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprofiler_sdk.py
  projects/rocprofiler-compute/src/utils/utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Update projects/rocprofiler-compute/src/utils/utils.py
  projects/rocprofiler-compute/src/utils/utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Update projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Type correction
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Update projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

ruff fixes
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/src/utils/tty.py
  projects/rocprofiler-compute/src/utils/utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Update projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprofiler_sdk.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprofiler_sdk.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Resolved copilot comments
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprof_v3.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprofiler_sdk.py
  projects/rocprofiler-compute/src/utils/utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml
