Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

rocr: Add missing doxygen
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/driver.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocr/aie: Zeroing out structs and release hwctx in case of error to avoid resource leaks
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/xdna/amd_xdna_driver.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

fix typo
  projects/rocprofiler-compute/src/utils/mem_chart_gfx9.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Add a sdma_channel_spread envar that lets user choose if ctx should use a per-ctx channle allocation or a spread over all channel policy, the default context always spread on all channels
  projects/rocshmem/src/envvar.cpp
  projects/rocshmem/src/envvar.hpp
  projects/rocshmem/src/ipc_policy.hpp
  projects/rocshmem/src/sdma_policy.hpp
Due: .azuredevops/rocm_ci_caller.yml

fix(sampling): revert aggressive frame filter and fix output filenames
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_timemory_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/timemory_processor.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/sampling/src/sampling_service_impl.hpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add documentation for SDMA variables
  projects/rocshmem/docs/env_variables.rst
Due: .azuredevops/rocm_ci_caller.yml

small fixes
  projects/hipfile/examples/aiscp/buffertofile.cpp
Due: .azuredevops/rocm_ci_caller.yml

Multi-consumer 1
  projects/rocprofiler-sdk/samples/thread_trace/agent.cpp
  projects/rocprofiler-sdk/samples/thread_trace_rare_scan/CMakeLists.txt
  projects/rocprofiler-sdk/samples/thread_trace_rare_scan/agent.cpp
  projects/rocprofiler-sdk/samples/thread_trace_rare_scan/main.cpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/experimental/thread-trace/core.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/aql/packet_construct.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/core.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/hsa_util.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/hsa_util.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/service.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/att_packet_test.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/tests/producer_consumer.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/threading.hpp
  projects/rocprofiler-sdk/tests/tools/thread-trace-callbacks.cpp
  projects/rocprofiler-sdk/tests/tools/thread-trace-callbacks.hpp
  projects/rocprofiler-sdk/tests/tools/thread-trace-triple-buffer-tool.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

skip finalization in signal handler for forked child
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

fix(sampling): prevent TLS clobbering when tracing.cpp re-calls setup (BUG-A)
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/sampling_service_instantiation.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/services_accessor.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/tracing.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

bootstrap: fix PMIx + socket-bidir hang on first post-init AllGather
  projects/rccl/src/bootstrap.cc
Due: .azuredevops/rocm_ci_caller.yml

bootstrap: opt-in recursive-doubling tree AllGather (Phase A MVP)
  projects/rccl/src/bootstrap.cc
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add MultiRecv runner configs to net_ib_transport.json and mi300x_mellanox_ib.json
  projects/rccl/tools/scripts/test_runner/configs/mi300x_mellanox_ib.json
  projects/rccl/tools/scripts/test_runner/configs/net_ib_transport.json
Due: .azuredevops/rocm_ci_caller.yml

net-ib: replace raw byte-fill/check loops in new tests with HostBufferHelpers
  projects/rccl/test/transport/NetIbMPI/GeneralTests.cpp
  projects/rccl/test/transport/NetIbMPI/NicFusionTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add MultiRecvShuffled test to GeneralTests
  projects/rccl/test/transport/NetIbMPI/GeneralTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: consolidate byte pattern into HostBufferHelpers and remove fixture wrappers
  projects/rccl/test/common/HostBufferHelpers.hpp
  projects/rccl/test/transport/NetIbMPI/GeneralTests.cpp
  projects/rccl/test/transport/NetIbMPI/NetIbMPITestBase.hpp
  projects/rccl/test/transport/NetIbMPI/NicFusionTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add MultiRecvGPUShuffled test to NicFusionTests
  projects/rccl/test/transport/NetIbMPI/NicFusionTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

net-ib: add MultiRecv test to GeneralTests
  projects/rccl/test/transport/NetIbMPI/GeneralTests.cpp
Due: .azuredevops/rocm_ci_caller.yml

Adding ASAN build support
  projects/rocshmem/CMakeLists.txt
  projects/rocshmem/DEBUG.md
  projects/rocshmem/scripts/build_configs/all_backends
  projects/rocshmem/scripts/lsan-suppressions.txt
Due: .azuredevops/rocm_ci_caller.yml

Add new SQG performance counters for gfx11 in config.yaml: SQG_WAVES_ENDED and SQG_WAVES_STARTED
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk/config.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add SQG counter support in gfx11
  projects/aqlprofile/gfxip/gfx11/gfx11_block_info.h
  projects/aqlprofile/gfxip/gfx11/gfx11_block_table.h
  projects/aqlprofile/gfxip/gfx11/gfx11_primitives.h
  projects/aqlprofile/src/core/gfx11_factory.cpp
  projects/aqlprofile/src/pm4/pmc_builder.h
Due: .azuredevops/rocm_ci_caller.yml

Add SQG performance counters and related logic for gfx11 in rocprofilersdk
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/gfx11_factory.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx11/gfx11_block_info.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx11/gfx11_block_table.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx11/gfx11_primitives.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/pmc_builder.h
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk/config.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Fix compile warnings
  projects/rocr-runtime/runtime/hsa-runtime/core/driver/xdna/amd_xdna_driver.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_blit_sdma.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_aql_queue.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_blit_sdma.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_topology.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/util/simple_heap.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocprofiler-compute: harden runner payload path handling
  projects/rocprofiler-compute/tests/run_rocprofiler_compute.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocprofiler-systems: avoid shlex.join in runner
  projects/rocprofiler-systems/tests/run_rocprofiler_systems.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

rocprofiler-systems: fix installed runner paths
  projects/rocprofiler-systems/tests/run_rocprofiler_systems.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Format changes
  projects/rocprofiler-sdk/source/lib/aqlprofile/gfxip/gfx11/gfx11_block_table.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rocprofiler-compute] change gfx1151 results folder name to RDNA35_Halo (#5560)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/src/utils/mi_gpu_spec.yaml
  projects/rocprofiler-compute/tests/test_pc_sampling.py
  projects/rocprofiler-compute/tests/test_profile_general.py
  projects/rocprofiler-compute/tests/test_utils.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

Format changes to config.yaml
  projects/rocprofiler-sdk/source/share/rocprofiler-sdk/config.yaml
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rocprofiler-compute] Align gfx1151 configs with gfx9 naming and gfx11 template
  projects/rocprofiler-compute/AGENTS.md
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0000_top_stats.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0100_system_info.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0200_system_speed_of_light.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0300_memory_chart.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0500_command_processor_cpc.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0600_workgroup_manager_spi.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0700_workgroup_processor.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/0900_l1_cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/1100_l1_cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/1300_l2_cache.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/1400_graphics_core_efficiency_arbiter.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx1151/1700_graphics_register_bus_manager.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx11_config_template.yaml
  projects/rocprofiler-compute/src/utils/.config_hashes.json
  projects/rocprofiler-compute/src/utils/hash_checker.py
  projects/rocprofiler-compute/src/utils/mem_chart_gfx11.py
  projects/rocprofiler-compute/tools/config_management/README.md
  projects/rocprofiler-compute/tools/config_management/gfx11_config_template.yaml
  projects/rocprofiler-compute/tools/config_management/master_config_workflow_script.py
  projects/rocprofiler-compute/tools/config_management/metric_description_manager.py
  projects/rocprofiler-compute/tools/config_management/verify_against_config_template.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocjitsu: Fix DirectToLDS missing workgroup LDS base offset
  experimental/rocjitsu/lib/python/amdisa/codegen/_generator.py
  experimental/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna1/mubuf.cpp
  experimental/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna2/mubuf.cpp
  experimental/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna3/mubuf.cpp
  experimental/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/cdna4/mubuf.cpp
  experimental/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna1/mubuf.cpp
  experimental/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/rdna2/mubuf.cpp
Due: none

[rocprofiler-compute] Fix CTest registration of native tool test
  projects/rocprofiler-compute/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

rocprofiler-compute: clarify test runner purpose
  projects/rocprofiler-compute/tests/run_rocprofiler_compute.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-compute.yml

[RCCL] Re-add PR #3001: drop unsafe single-stream fast-path in enqueue (ROCM-21756)
  projects/rccl/src/enqueue.cc
  projects/rccl/src/include/comm.h
Due: .azuredevops/rocm_ci_caller.yml

bootstrap: tree AllGather Phase A.2 — persistent log N socket pairs
  projects/rccl/src/bootstrap.cc
Due: .azuredevops/rocm_ci_caller.yml

AIRUNTIME-1973 - [libhsakmt][wddm] Fix SEGFAULT for SDMA queues in CreateHwQueue
  projects/rocr-runtime/libhsakmt/src/dxg/wddm/device.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

rocrtst: clarify test runner purpose
  projects/rocr-runtime/rocrtst/suites/test_common/run_rocrtst.py
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

aqlprofile: clarify test runner purpose
  projects/aqlprofile/test/run_aqlprofile.py
Due: .azuredevops/rocm_ci_caller.yml

rocdecode: clarify test runner purpose
  projects/rocdecode/test/run_rocdecode.py
Due: .azuredevops/rocm_ci_caller.yml

rocjpeg: clarify test runner purpose
  projects/rocjpeg/test/run_rocjpeg.py
Due: .azuredevops/rocm_ci_caller.yml

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
