Repository ROCm/rocm-systems: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/rdc.yml, .azuredevops/rocm-core.yml, .azuredevops/rocm-smi-lib.yml, .azuredevops/rocm_ci_caller.yml, .azuredevops/rocminfo.yml, .azuredevops/rocprofiler-compute.yml, .azuredevops/rocprofiler-register.yml, .azuredevops/rocprofiler-sdk.yml, .azuredevops/rocprofiler-systems.yml, .azuredevops/rocprofiler.yml, .azuredevops/rocr-runtime.yml, .azuredevops/roctracer.yml

.azuredevops/rdc.yml:
  stages:
  - stage: rdc
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rdc.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rdc
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-core.yml:
  stages:
  - stage: rocm_core
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm-core.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-core
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocm-smi-lib.yml:
  stages:
  - stage: rocm_smi_lib
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocm_smi_lib.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocm-smi-lib
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocm_ci_caller.yml:
  jobs:
  - job: Trigger_Pipeline
    displayName: Trigger Pipeline
    pool: rocm-ci-caller
    steps:
    - checkout: none
    - script: 'rm -rf $(repo_name)
  
        git clone $(gh_repo)
  
        '
      displayName: Checkout Code
  ...

.azuredevops/rocminfo.yml:
  stages:
  - stage: rocminfo
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocminfo.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocminfo
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  - template: templates/report-summary-check-wrapper.yml

.azuredevops/rocprofiler-compute.yml:
  stages:
  - stage: rocprofiler_compute
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-compute.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-compute
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-register.yml:
  stages:
  - stage: rocprofiler_register
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-register.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-register
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-sdk.yml:
  stages:
  - stage: rocprofiler_sdk
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-sdk.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-sdk
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

.azuredevops/rocprofiler-systems.yml:
  stages:
  - stage: rocprofiler_systems
    jobs:
    - template: ${{ variables.CI_COMPONENT_PATH }}/rocprofiler-systems.yml@pipelines_repo
      parameters:
        sparseCheckoutDir: projects/rocprofiler-systems
        triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}
  ...

add CI check
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Due: none

rocr: add linearB2BCopy path for smaller copies
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/amd_blit_sdma.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_blit_sdma.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/util/flag.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

Update text for Leo comments
  projects/hip/docs/install/build.rst
  projects/hip/docs/tutorial/hiptests.rst
Due: .azuredevops/rocm_ci_caller.yml

[hip-tests] Add gfx1250 NPI JSON config generation for develop branch
  projects/hip-tests/catch/CMakeLists.txt
  projects/hip-tests/catch/hipTestMain/config/config_amd_linux_npi_hw
Due: .azuredevops/rocm_ci_caller.yml

remove dll .def
  projects/rocprofiler-sdk/source/lib/aqlprofile/hsa-amd-aqlprofile64.def
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

misc build fixes
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/aql_profile.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/logger_tests.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/threadtrace.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

update logging
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/aql_profile.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/counters.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/last_error.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/last_error.hpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/logger.h
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/logger.hpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/spm_data.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/spm_v2.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/aql_profile_v2_tests.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/tests/logger_tests.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/threadtrace.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/pm4/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

update gfx1250 skipped test into the list
  projects/hip-tests/catch/hipTestMain/config/config_amd_linux
Due: .azuredevops/rocm_ci_caller.yml

apply formatting
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/aql_profile.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/counters.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/threadtrace.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add CMake option
  projects/rocdecode/CMakeLists.txt
  projects/rocdecode/src/rocdecode/pal/pal_videodecoder.cpp
Due: .azuredevops/rocm_ci_caller.yml

Add docs for hipInfo and related build and tests
  projects/hip-tests/README.md
  projects/hip/docs/how-to/hip_runtime_api.rst
  projects/hip/docs/how-to/hip_runtime_api/hipInfo.rst
  projects/hip/docs/index.md
  projects/hip/docs/install/build.rst
  projects/hip/docs/sphinx/_toc.yml.in
  projects/hip/docs/tutorial/hiptests.rst
Due: .azuredevops/rocm_ci_caller.yml

[rocprofiler-compute] Bump TheRock pin to pick up RPATH build fix
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-rccl-ci-linux.yml
  .github/workflows/therock-rccl-test-packages-multi-node.yml
  .github/workflows/therock-rccl-test-packages-single-node.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Due: none

Address PR comments. Improve test coverage
  projects/rocprofiler-systems/source/lib/core/progress/bar.cpp
  projects/rocprofiler-systems/source/lib/core/progress/bar.hpp
  projects/rocprofiler-systems/source/lib/core/progress/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/progress/tests/test_tracker.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/discovery.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_discovery.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_enabled_formats.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Add progress tracing capabilities to output file generation
  projects/rocprofiler-systems/CHANGELOG.md
  projects/rocprofiler-systems/source/lib/core/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/progress/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/progress/bar.cpp
  projects/rocprofiler-systems/source/lib/core/progress/bar.hpp
  projects/rocprofiler-systems/source/lib/core/progress/callback.hpp
  projects/rocprofiler-systems/source/lib/core/progress/tests/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/progress/tests/test_bar_silent.cpp
  projects/rocprofiler-systems/source/lib/core/progress/tests/test_format_bar.cpp
  projects/rocprofiler-systems/source/lib/core/progress/tracker.cpp
  projects/rocprofiler-systems/source/lib/core/progress/tracker.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/trace_cache/cache_manager.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/cache_manager.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/data_types.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/data_types.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/discovery.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/discovery.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/post_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/post_processor.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/storage_parser.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/storage_parser_alias.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/tests/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Revert std::filesystem changes
  projects/rocprofiler-systems/source/lib/core/trace_cache/discovery.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_discovery.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

rccl/tests: realease allocated/registered buffers in TearDown
  projects/rccl/test/transport/GinMPI/GinMPITestBase.hpp
Due: .azuredevops/rocm_ci_caller.yml

rccl/tests: add GIN stress test
  projects/rccl/test/transport/GinMPI/GinMPITestBase.hpp
  projects/rccl/test/transport/GinMPI/GinMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

rccl: add host side GIN unit tests
  projects/rccl/test/CMakeLists.txt
  projects/rccl/test/transport/GinMPI/GinMPITestBase.hpp
  projects/rccl/test/transport/GinMPI/GinMPITests.cpp
Due: .azuredevops/rocm_ci_caller.yml

rccl: add backend selection for GIN tests
  projects/rccl/test/transport/GinMPI/GinMPITestBase.hpp
Due: .azuredevops/rocm_ci_caller.yml

rccl/tests: add allocation err code checkers
  projects/rccl/test/transport/GinMPI/GinMPITestBase.hpp
Due: .azuredevops/rocm_ci_caller.yml

Replace the implicit > 999 checks with >= 1000
  projects/rocprofiler-systems/tests/rocpd-validation-rules/transpose/validation-rules.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Applied suggestions from code review
  projects/rocprofiler-systems/CHANGELOG.md
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/common/settings.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu/gpu_driver.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/pmc/collectors/gpu/tests/test_device.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

Apply suggestions from code review
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/aql_profile.cpp
  projects/rocprofiler-sdk/source/lib/aqlprofile/core/threadtrace.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rocprofiler-sdk] Add sqlite-zstd ROCPD output
  projects/rocprofiler-sdk/.gitignore
  projects/rocprofiler-sdk/.gitmodules
  projects/rocprofiler-sdk/CHANGELOG.md
  projects/rocprofiler-sdk/cmake/rocprofiler_interfaces.cmake
  projects/rocprofiler-sdk/cmake/rocprofiler_options.cmake
  projects/rocprofiler-sdk/docker/Dockerfile.ci
  projects/rocprofiler-sdk/external/CMakeLists.txt
  projects/rocprofiler-sdk/source/docs/how-to/using-rocpd-output-format.rst
  projects/rocprofiler-sdk/source/lib/output/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/details/fmt.hpp
  projects/rocprofiler-sdk/source/scripts/install-apt-deps.sh
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

[rocprofiler-sdk] Pin sqlite-zstd to v0.3.2 and harden compression pass
  projects/rocprofiler-sdk/external/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Update CMake
  projects/rocprofiler-sdk/external/CMakeLists.txt
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

Add rlog support to librocprofiler-sdk-tool.so
  .gitmodules
  projects/rocprofiler-sdk/cmake/rocprofiler_interfaces.cmake
  projects/rocprofiler-sdk/external/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/rlog_tool.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/rlog_tool.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/tool.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

rocprof trace decoder updates
  projects/rocprofiler-sdk/source/docs/api-reference/thread_trace.rst
  projects/rocprofiler-sdk/source/docs/how-to/using-thread-trace.rst
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-sdk.yml

clr: move stream assignment from graph launch to instantiate
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

[hipGraph] Multi-device segment scheduling and stream assignment improvements
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

[hipGraph] Optimize BuildSyncPlan: sparse HW events and needs_completion_signal gating
  projects/clr/hipamd/src/hip_graph_internal.hpp
Due: .azuredevops/rocm_ci_caller.yml

rocjitsu: Implement KernelDescriptorTranslation
  emulation/rocjitsu/rocjitsu/docs/dbt-design.md
  emulation/rocjitsu/rocjitsu/docs/dbt_dbi_plan.md
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/CMakeLists.txt
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.h
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic_translator.cpp
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/semantic_translator.h
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.h
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_descriptor_info.cpp
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/kernel_descriptor_info.h
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/arch/amdgpu/shared/cdna_isa_base.h
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/isa/isa_traits.h
  emulation/rocjitsu/rocjitsu/tests/dbt/hsa_translate_test.cpp
  emulation/rocjitsu/rocjitsu/tests/dbt/translate_test.cpp
Due: none

Address comments
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.h
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/instruction_builder.h
  emulation/rocjitsu/rocjitsu/tests/dbt/translate_test.cpp
Due: none

rocprof-sys: remove libamdhip64.so dlopen workaround
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

rocjitsu: address descriptor patcher review comments
  emulation/rocjitsu/rocjitsu/docs/dbt-design.md
  emulation/rocjitsu/rocjitsu/docs/dbt_dbi_plan.md
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.h
  emulation/rocjitsu/rocjitsu/tests/dbt/translate_test.cpp
Due: none

Fix certain tests
  projects/rocprofiler-systems/tests/pytest/rocprofsys/config.py
  projects/rocprofiler-systems/tests/pytest/test_roctx.py
  projects/rocprofiler-systems/tests/rocpd-validation-rules/roctx/amd-smi-rules.json
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

rocjitsu: reserve VGPR headroom for DBT lowerings
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/rocjitsu/tests/dbt/translate_test.cpp
Due: none

clr+hip+rocr: POC for HIP graph conditional nodes via vendor AQL packets
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
  projects/clr/hipamd/include/hip/amd_detail/hip_prof_str.h
  projects/clr/hipamd/src/hip_api_trace.cpp
  projects/clr/hipamd/src/hip_graph.cpp
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/hipamd/src/hip_hcc.map.in
  projects/clr/hipamd/src/hip_table_interface.cpp
  projects/clr/rocclr/device/blitcl.cpp
  projects/clr/rocclr/device/rocm/rocrctx.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.hpp
  projects/hip/include/hip/hip_runtime_api.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/queue.h
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_ext_amd.h
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocr-runtime.yml

refactor(trace-cache): remove template-heavy unified memory test wiring
  projects/rocprofiler-systems/source/lib/core/output_file_registry.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/core/trace_cache/cache_manager.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/test_unified_memory_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/tests/unified_memory_test_helpers.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/unified_memory_processor.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/unified_memory_processor.hpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/unified_memory_processor.inl
Due: .azuredevops/rocm_ci_caller.yml, .azuredevops/rocprofiler-systems.yml

rocjitsu: place DBT code caves in ELF section
  emulation/rocjitsu/rocjitsu/docs/dbt-design.md
  emulation/rocjitsu/rocjitsu/docs/dbt_dbi_plan.md
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/amdgpu_code_object.cpp
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/code_object.h
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.cpp
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/binary_translator.h
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/dbt/kernel_descriptor_translator.cpp
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/executable.cpp
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.cpp
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/patch/code_object_patcher.h
  emulation/rocjitsu/rocjitsu/lib/rocjitsu/src/rocjitsu/code/rj_code.cpp
  emulation/rocjitsu/rocjitsu/tests/dbt/translate_test.cpp
Due: none

Path conditions:
  .azuredevops/rdc.yml: any of: projects/rdc, but not: projects/rdc/.github, projects/rdc/docs, projects/rdc/.*.y*ml, projects/rdc/*.md, projects/rdc/LICENSE
  .azuredevops/rocm-core.yml: any of: projects/rocm-core, but not: projects/rocm-core/CHANGELOG.md, projects/rocm-core/CODEOWNERS, projects/rocm-core/copyright, projects/rocm-core/README.txt
  .azuredevops/rocm-smi-lib.yml: any of: projects/rocm-smi-lib, but not: projects/rocm-smi-lib/.github, projects/rocm-smi-lib/docs, projects/rocm-smi-lib/.*.y*ml, projects/rocm-smi-lib/*.md, projects/rocm-smi-lib/License.txt
  .azuredevops/rocm_ci_caller.yml: any of: projects, shared
  .azuredevops/rocminfo.yml: any of: projects/rocminfo, but not: projects/rocminfo/.github, projects/rocminfo/License.txt, projects/rocminfo/README.md
  .azuredevops/rocprofiler-compute.yml: any of: projects/rocprofiler-compute, but not: projects/rocprofiler-compute/.github, projects/rocprofiler-compute/docs, projects/rocprofiler-compute/.*.y*ml, projects/rocprofiler-compute/*.md, projects/rocprofiler-compute/AUTHORS, projects/rocprofiler-compute/LICENSE, projects/rocprofiler-compute/VERSION
  .azuredevops/rocprofiler-register.yml: any of: projects/rocprofiler-register, but not: projects/rocprofiler-register/.github, projects/rocprofiler-register/LICENSE, projects/rocprofiler-register/README.md, projects/rocprofiler-register/VERSION
  .azuredevops/rocprofiler-sdk.yml: any of: projects/rocprofiler-sdk, but not: projects/rocprofiler-sdk/.github, projects/rocprofiler-sdk/ISSUE_TEMPLATE, projects/rocprofiler-sdk/*.md, projects/rocprofiler-sdk/CODEOWNERS, projects/rocprofiler-sdk/LICENSE
  .azuredevops/rocprofiler-systems.yml: any of: projects/rocprofiler-systems, but not: projects/rocprofiler-systems/.github, projects/rocprofiler-systems/docs, projects/rocprofiler-systems/.*.y*ml, projects/rocprofiler-systems/*.md, projects/rocprofiler-systems/LICENSE, projects/rocprofiler-systems/VERSION, projects/rocprofiler-systems/.wordlist.txt
  .azuredevops/rocprofiler.yml: any of: projects/rocprofiler, but not: projects/rocprofiler/.github, projects/rocprofiler/doc, projects/rocprofiler/LICENSE, projects/rocprofiler/*.md
  .azuredevops/rocr-runtime.yml: any of: projects/rocr-runtime, but not: projects/rocr-runtime/.github, projects/rocr-runtime/LICENSE.txt, projects/rocr-runtime/*.md
  .azuredevops/roctracer.yml: any of: projects/roctracer, but not: projects/roctracer/.github, projects/roctracer/doc, projects/roctracer/LICENSE, projects/roctracer/README.md
